<%= form_for(@s_func_msg) do |f| %>

<%= f.text_field :func_name %>

    功能名称<%= f.text_field :func_name %><br />
    功能代码<%= f.text_field :func_code %><br />
    链接： <%= f.text_field :func_url %><br />
    排序：<%= f.text_field :queue_index %><br />
    启用标志：<%= f.text_field :valid_flag %><br />
    根节点地址：<%= f.text_field :root_distance %><br />
    <%= f.submit "提交" %>

<% end %>