<%= form_for(@d_abnormal_data_yyyymm) do |f| %>
  <% if @d_abnormal_data_yyyymm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@d_abnormal_data_yyyymm.errors.count, "error") %> prohibited this d_abnormal_data_yyyymm from being saved:</h2>

      <ul>
      <% @d_abnormal_data_yyyymm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :abnormal_id %><br>
    <%= f.text_field :abnormal_id %>
  </div>
  <div class="field">
    <%= f.label :station_id %><br>
    <%= f.number_field :station_id %>
  </div>
  <div class="field">
    <%= f.label :rule_instance %><br>
    <%= f.text_field :rule_instance %>
  </div>
  <div class="field">
    <%= f.label :create_acce %><br>
    <%= f.text_field :create_acce %>
  </div>
  <div class="field">
    <%= f.label :ab_lable %><br>
    <%= f.text_field :ab_lable %>
  </div>
  <div class="field">
    <%= f.label :ab_data_time %><br>
    <%= f.text_field :ab_data_time %>
  </div>
  <div class="field">
    <%= f.label :ab_value %><br>
    <%= f.number_field :ab_value %>
  </div>
  <div class="field">
    <%= f.label :compare_value %><br>
    <%= f.number_field :compare_value %>
  </div>
  <div class="field">
    <%= f.label :compare_value2 %><br>
    <%= f.number_field :compare_value2 %>
  </div>
  <div class="field">
    <%= f.label :compare_value3 %><br>
    <%= f.number_field :compare_value3 %>
  </div>
  <div class="field">
    <%= f.label :ab_desc %><br>
    <%= f.text_field :ab_desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
