<p id="notice"><%= notice %></p>

<h1>Listing D Abnormal Data Yyyymms</h1>

<table>
  <thead>
    <tr>
      <th>Abnormal</th>
      <th>Station</th>
      <th>Rule instance</th>
      <th>Create acce</th>
      <th>Ab lable</th>
      <th>Ab data time</th>
      <th>Ab value</th>
      <th>Compare value</th>
      <th>Compare value2</th>
      <th>Compare value3</th>
      <th>Ab desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @d_abnormal_data_yyyymms.each do |d_abnormal_data_yyyymm| %>
      <tr>
        <td><%= d_abnormal_data_yyyymm.abnormal_id %></td>
        <td><%= d_abnormal_data_yyyymm.station_id %></td>
        <td><%= d_abnormal_data_yyyymm.rule_instance %></td>
        <td><%= d_abnormal_data_yyyymm.create_acce %></td>
        <td><%= d_abnormal_data_yyyymm.ab_lable %></td>
        <td><%= d_abnormal_data_yyyymm.ab_data_time %></td>
        <td><%= d_abnormal_data_yyyymm.ab_value %></td>
        <td><%= d_abnormal_data_yyyymm.compare_value %></td>
        <td><%= d_abnormal_data_yyyymm.compare_value2 %></td>
        <td><%= d_abnormal_data_yyyymm.compare_value3 %></td>
        <td><%= d_abnormal_data_yyyymm.ab_desc %></td>
        <td><%= link_to 'Show', d_abnormal_data_yyyymm %></td>
        <td><%= link_to 'Edit', edit_d_abnormal_data_yyyymm_path(d_abnormal_data_yyyymm) %></td>
        <td><%= link_to 'Destroy', d_abnormal_data_yyyymm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New D abnormal data yyyymm', new_d_abnormal_data_yyyymm_path %>
