<p id="notice"><%= notice %></p>

<p>
  <strong>Abnormal:</strong>
  <%= @d_abnormal_data_yyyymm.abnormal_id %>
</p>

<p>
  <strong>Station:</strong>
  <%= @d_abnormal_data_yyyymm.station_id %>
</p>

<p>
  <strong>Rule instance:</strong>
  <%= @d_abnormal_data_yyyymm.rule_instance %>
</p>

<p>
  <strong>Create acce:</strong>
  <%= @d_abnormal_data_yyyymm.create_acce %>
</p>

<p>
  <strong>Ab lable:</strong>
  <%= @d_abnormal_data_yyyymm.ab_lable %>
</p>

<p>
  <strong>Ab data time:</strong>
  <%= @d_abnormal_data_yyyymm.ab_data_time %>
</p>

<p>
  <strong>Ab value:</strong>
  <%= @d_abnormal_data_yyyymm.ab_value %>
</p>

<p>
  <strong>Compare value:</strong>
  <%= @d_abnormal_data_yyyymm.compare_value %>
</p>

<p>
  <strong>Compare value2:</strong>
  <%= @d_abnormal_data_yyyymm.compare_value2 %>
</p>

<p>
  <strong>Compare value3:</strong>
  <%= @d_abnormal_data_yyyymm.compare_value3 %>
</p>

<p>
  <strong>Ab desc:</strong>
  <%= @d_abnormal_data_yyyymm.ab_desc %>
</p>

<%= link_to 'Edit', edit_d_abnormal_data_yyyymm_path(@d_abnormal_data_yyyymm) %> |
<%= link_to 'Back', d_abnormal_data_yyyymms_path %>
