<script type="text/html" id="contaminant">
	{{each day_data as contaminnant index}}
	    <tr>
	    	<td>{{contaminnant.station}}</td>
	    	<td>{{contaminnant.aqi1}}</td>
	    	<td>{{contaminnant.aqi_days == 0 ? '0.00' :(contaminnant.aqi1 / contaminnant.aqi_days).toFixed(2)}}</td>
	    	<td>{{contaminnant.aqi2}}</td>
	    	<td>{{contaminnant.aqi_days == 0 ? '0.00' :(contaminnant.aqi2 / contaminnant.aqi_days).toFixed(2)}}</td>
	    	<td>{{contaminnant.aqi3}}</td>
	    	<td>{{contaminnant.aqi_days == 0 ? '0.00' :(contaminnant.aqi3 / contaminnant.aqi_days).toFixed(2)}}</td>
	    	<td>{{contaminnant.aqi4}}</td>
	    	<td>{{contaminnant.aqi_days == 0 ? '0.00' :(contaminnant.aqi4 / contaminnant.aqi_days).toFixed(2)}}</td>
	    	<td>{{contaminnant.aqi5}}</td>
	    	<td>{{contaminnant.aqi_days == 0 ? '0.00' :(contaminnant.aqi5 / contaminnant.aqi_days).toFixed(2)}}</td>
	    	<td>{{contaminnant.aqi6}}</td>
	    	<td>{{contaminnant.aqi_days == 0 ? '0.00' :(contaminnant.aqi6 / contaminnant.aqi_days).toFixed(2)}}</td>
	    	<td>{{contaminnant.aqi_days}}</td>
	    </tr>
	{{/each}}
</script>
