<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="contaminant_leves" >
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：污染天气级别分布</span>
	</div>
	<div class="public_search d_alarms">
		<label for="">站点:</label>
		<input type="text" class="control_station"/>
		<input type="text"  class="control_stationID" />
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<b>-</b>
		<input type="text" class="dateTimepicker end_datetime"/>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<button class="btn search">查询</button>
		<a type="button" class="putTable" href='javascript:void(0)' >
                导出表格
        </a>
	</div>
	
	<div class="public_table">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th rowspan="2" class="thOne">站点名称</th>
					<th colspan="2">优</th>
					<th colspan="2">良</th>
					<th colspan="2">轻度污染</th>
					<th colspan="2">中度污染</th>
					<th colspan="2">重度污染</th>
					<th colspan="2">严重污染</th>
					<th rowspan="2" class="thOne">有效总天数</th>
				</tr>
				<tr>
					<th>天数</th>
					<th>比例</th>
					<th>天数</th>
					<th>比例</th>
					<th>天数</th>
					<th>比例</th>
					<th>天数</th>
					<th>比例</th>
					<th>天数</th>
					<th>比例</th>
					<th>天数</th>
					<th>比例</th>
				</tr>
			</thead>
			<tbody class="exception-list">
			</tbody>
		</table>
   </div>
   
</div>
<!--站点-->
<%= render 'test_iframes/public_station' %>
<%= render 'contaminantLevesTable' %>
<!--分页-->
<div>
	<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
	<select id="pagesize" class="right">  
	    <option value="10" selected="selected">每页10条</option>  
	    <option value="20">每页20条</option>
		<option value="30">每页30条</option>  
	    <option value="40">每页40条</option>
	    <option value="50">每页50条</option> 
	</select>  
</div>
<div class="page_total left">
	<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
</div>
<div class="clear"></div>