<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="s_administrative_areas" >
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：单站点多污染物</span>
	</div>
	<div class="public_search d_alarms">
		<label for="">区域级别:</label>
		<select class="place_leval">
			<script id="place_leval" type="text/html">
				<option value="">请选择区域级别</option>
				{{each region_leves as regionLevel index}}
					<option value="{{regionLevel.id}}">{{regionLevel.level_name}}</option>
				{{/each}}
			</script>
		</select>
		<label for="">站点:</label>
		<input type="text" class="control_station"/>
		<input type="text"  class="control_stationID" />
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<b>-</b>
		<input type="text" class="dateTimepicker end_datetime"/>
		<!--<label for="">分析粒度：</label>
		<input type="radio" name="dayOrHour"/>日
		<input type="radio" name="dayOrHour"/>小时-->
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<button class="btn search">查询</button>
	</div>
	<div id="line1" style="width: 100%;height:200px;padding:10px 20px;border-bottom: 2px solid #ccc;"></div>
	<div id="line2" style="width: 100%;height:200px;padding:10px 20px;border-bottom: 2px solid #ccc;"></div>
	<div id="line3" style="width: 100%;height:200px;padding:10px 20px;border-bottom: 2px solid #ccc;"></div>
	<div id="line4" style="width: 100%;height:200px;padding:10px 20px;border-bottom: 2px solid #ccc;"></div>
	<div id="line5" style="width: 100%;height:200px;padding:10px 20px;border-bottom: 2px solid #ccc;"></div>
	<div id="line6" style="width: 100%;height:200px;padding:10px 20px;"></div>
	<!--模态框-->
	<div id="public_box"></div>
	<div class="lookforRules">
		
	</div>
</div>
<!--站点-->
<%= render 'station' %>

<script>
	
	var myChart1 = echarts.init(document.getElementById('line1'));
	var myChart2 = echarts.init(document.getElementById('line2'));
	var myChart3 = echarts.init(document.getElementById('line3'));
	var myChart4 = echarts.init(document.getElementById('line4'));
	var myChart5 = echarts.init(document.getElementById('line5'));
	var myChart6 = echarts.init(document.getElementById('line6'));
	option1 = {
	    title: {
	        text: 'SO2'
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	        data:[]
	    },
	    grid: {
	        left: '3%',
	        right: '4%',
	        bottom: '3%',
	        containLabel: true
	    },
	    toolbox: {
	        feature: {
	            saveAsImage: {}
	        }
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        data: []
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [
	        
	    ]
	};
	option2 = {
	    title: {
	        text: 'NO2'
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	        data:[]
	    },
	    grid: {
	        left: '3%',
	        right: '4%',
	        bottom: '3%',
	        containLabel: true
	    },
	    toolbox: {
	        feature: {
	            saveAsImage: {}
	        }
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        data: []
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [
	       
	    ]
	};
	option3 = {
	    title: {
	        text: 'CO'
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	        data:[]
	    },
	    grid: {
	        left: '3%',
	        right: '4%',
	        bottom: '3%',
	        containLabel: true
	    },
	    toolbox: {
	        feature: {
	            saveAsImage: {}
	        }
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        data: []
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [
	       
	    ]
	};
	
	option4 = {
	    title: {
	        text: 'PM10'
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	        data:[]
	    },
	    grid: {
	        left: '3%',
	        right: '4%',
	        bottom: '3%',
	        containLabel: true
	    },
	    toolbox: {
	        feature: {
	            saveAsImage: {}
	        }
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        data: []
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [
	        
	    ]
	};   
	
	option5 = {
	    title: {
	        text: 'PM2.5'
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	        data:[]
	    },
	    grid: {
	        left: '3%',
	        right: '4%',
	        bottom: '3%',
	        containLabel: true
	    },
	    toolbox: {
	        feature: {
	            saveAsImage: {}
	        }
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        data: []
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [
	        
	    ]
	};  
	
	option6 = {
	    title: {
	        text: 'O3'
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	        data:[]
	    },
	    grid: {
	        left: '3%',
	        right: '4%',
	        bottom: '3%',
	        containLabel: true
	    },
	    toolbox: {
	        feature: {
	            saveAsImage: {}
	        }
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        data: []
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: [
	        
	    ]
	};  
	
	myChart1.setOption(option1);
	myChart2.setOption(option2);
	myChart3.setOption(option3);
	myChart4.setOption(option4);
	myChart5.setOption(option5);
	myChart6.setOption(option6);
</script>