<div id="sessonBody" style="min-width: 1200px;">
    <div id="login_new">
        <div class="login_top">
            <div class="pull-left img_logo">
            <img src="<%= image_path("logo.png")%>" alt="logo">
            </div>
            <div class="pull-right img_down">
            <img src="<%= image_path("app.png")%>" alt="App下载">
            </div>
            <div class="clear"></div>    
        </div>
        <div class="login_middle" >
            <div class="middle_img pull-left">
                <img src="<%= image_path("bg_banner.png")%>" alt="">
            </div>
            <div class="login_box pull-right">
                <h3 class="title">智慧生产平台</h3>
                <%= form_tag( '/sessions', method:'post', class:"form formLogin form-horizontal" ) do %>
                <div class="caution_info" <% if flash[:login_err] %> style="display: block;"<% end %>><img src="<%= image_path("caution.png")%>" alt="use" ><span><%= flash[:login_err] %></span></div>
                    <div class="login_border user">
                        <span class="glyphicon glyphicon-user"></span>
                       
                        <input type="text" name="login_no" style="border-left: 1px solid #eeeeee;width: 215px;">
                    </div>
                    <div class="login_border password">
                        <span class="glyphicon glyphicon-lock"></span> 
                        
                        <input type="password" name="password" style="border-left: 1px solid #eeeeee;width: 215px;">                        
                    </div>
                    <div class="login_submit">
                        <button type="submit" name="commit" class="btn btn-success">登录</button>
                    </div>
                <% end %>
            </div>
            <div class="clear"></div>
        </div>
        <div class="login_bottom">
            <span>务实创新</span>
            <span class="line"></span>
            <span>诚信发展</span>
            <span class="line"></span>            
            <span>和谐共赢</span>
            
        </div>
       
    </div>
</div>
<script>
	$(document).ready(function(){
		$('.login_submit button').click(function(){
				var login_no=$('.user input[name="login_no"]').val();
				var password=$('.password input[name="password"]').val();
				
				if(login_no=='' || password==''){
					$('.caution_info').show().find('span').text('请输入用户或密码');
					return false;
				}
				
			})
			
//			$('.user input[name="login_no"]').focus(function(){
//				$('.caution_info').hide()
//			})
//			$('.password input[name="password"]').focus(function(){
//				$('.caution_info').hide()
//			})
	})
</script>