
<div id="login">
   <div class="loginTop">
   	<div style="float: left;"><img src="<%= image_path("logo.png")%>"></div>
   		<div class="head-right">
			
			<p style="font-weight: 600;"><span class="sele">APP下载:<br><span style="font-size: 12px;font-weight: 500;color: #666666;">(建议使用<br>QQ扫描)</span></span>
				<img id="down-app" src="<%= image_path("app.png")%>" width="70">
			</p>
		</div>
   </div>
	<div id="login_modal" class="login">   
		
        <div class="content content_two">
        	<img src="<%= image_path("bg_banner.png")%>" />
			
	    </div>
        <div class="content content_one">
			<div class="content_middle">
			  <%= form_tag( '/sessions', method:'post', class:"form form-horizontal" ) do %>
				<!--<% if @error_msg.blank? %>
					<h2 class="hide"><%= @error_msg %></h2>
				<% end %>-->
					<h5 class="text-center">智慧生产平台</h5>
				  <div class="login-border login-focus" style="margin-top: 15px;">
					<span class="glyphicon glyphicon-user"></span>	
					<%= text_field_tag :login_no %>
				  </div>
				  <div class="login-border login-focus">
					<span class="glyphicon glyphicon-lock"></span> 
					<input type='password' name='password'/>
				  </div>
				  <div class="login_submit">
					<%= button_tag ' 登 录'%>
				  </div>
				  <div class="check">
					
				  </div>
			  <% end %> 
            </div>
        </div>	
    </div>
    <div class="loginBottom">
    	<div class="purpose">
			<p><span>务实创新</span><span>诚信发展</span><span style="border-color:#fff ;">和谐共赢</span></p>
		</div>
    </div>
</div>

<script>
	
	

</script>
