<div class="modal fade" id="lookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">定制因子明细</h4>
      </div>
      <div class="modal-body">
			 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <!--<button type="button" class="btn btn-primary btn-sure">保存</button>-->
      </div>
    </div>
  </div>
</div>
<script id="notice_rules" type="text/html">		
	<div class="add_factors">
		<div class="add_factor">
		
		<div class="ajustTable">
			<div class="tableScoll tableScolls">
				<table class="table table-bordered table-hover tables tableW">
					<thead style="background: #f0f0f0;">
						<tr>
              <th>站点ID</th>
							<th>站点名称</th>
							<th>统计日期</th>
							<th>因子</th>
              <th>数值</th>
						</tr>
					</thead>
					
				</table>
			</div>
			<div class="abnormal_tables">
				<table class="table table-bordered table-hover">
					<tbody>
					{{each fixeds as alarm_info index}}
					<tr>
            <td>{{alarm_info.station_id}}</td>
						<td>{{alarm_info.station_name}}</td>
						<td>{{alarm_info.data_time}}</td>
						<td>{{alarm_info.item_code}}</td>
            <td>{{alarm_info.data_value}}</td>
					</tr>
					{{/each}}
				</tbody>
				</table>
			</div>
		</div>
		
		
	
		<div class="area_btn close">
			<!--<button class="btn btn-cancel">关闭</button>-->
		</div>
	</div>
	</div>
			
	
	
</script>
