<%  content_for :javascript do
  javascript_include_tag "#{controller_name}"
end
%>
<div id="d_fixed_nums">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">定值因子统计</span>
		</div>
		<div class="navMain public_search">
			<form class="form-inline">
				<div class="form-group">
		        <label for="">站&#x3000;&#x3000;点：</label>
		        <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
		    	<input type="text"  class="control_stationIDs hide" />
		    </div>
		    <div class="form-group">
		    	<label for="">创建时间:</label>
		        <input type="" class="dateTimepickerH start_datetime form-control"/>-
		        <input type="" class="dateTimepickerH end_datetime form-control"/>
		    </div>
		    <div class="form-group">
		    	<label for="">因子:</label>
			    <select id="item_id" class="form-control">
			      <script id="item_list" type="text/html">
			        <option value="">请选择因子</option>
			          {{each item as list i}}
			            <option value="{{list.id}}">{{list.item_name}}</option>
			          {{/each}}
			      </script>
			    </select>
		    </div> 
		    <div class="form-group">
		    	<button class="btn search" type="button">查询</button>
		    </div>
			</form>
		</div>
		 
	


  <div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
  <div id="public_table">
  	<div class="public_table ajustTable" id="indexTable">
	    <div class="tableScoll">
	      <table class="table table-bordered table-hover tables">
	        <thead>
	        <tr>
	          <th>日期</th>
	          <th>站点ID</th>
	          <th>站点</th>
	          <th>因子</th>
	          <th>数值</th>
	          <th>操作</th>
	        </tr>
	        </thead>
	      </table>
	    </div>
	    <div class="abnormal_table">
	      <table class=" table table-bordered table-hover">
	        <tbody class="exception-list">
	        </tbody>
	      </table>
	    </div>
	  </div>
	  <div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
  </div>
  

  <!--模态框-->
  <div id="public_box"></div>
  <div class="lookforRules">

  </div>

	</div>
	<%= render 'lookFor' %>
</div>
<!--站点-->
<%= render :partial => 'test_iframes/sq_publicStation' %>	



<div class="clear"></div>
<script id="tables" type="text/html">
  {{if fixeds.length != 0}}
  {{each fixeds as list index}}
    <tr>
      <td class="hide id">{{list.id}}</td>
      <td>{{list.data_time}}</td>
      <td>{{list.station_id}}</td>
      <td>{{list.station_name}}</td>
      <td>{{list.item_code}}</td>
      <td>{{list.data_value}}</td>
      <td value_id="{{list.id}}"><a class="look" data-toggle="modal" data-target="#lookModal">查看</a>
      </td>
    </tr>
  {{/each}}
  {{else}}
  <tr>
    <td colspan="6">暂无数据</td>
  </tr>
  {{/if}}
</script>