<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="localize">
	<div id="powerCutRecords">
		<div class="navMain public_search">
          <form class="form-inline">
            <div class="form-group">
              <label for="">单位：</label>
              	<select class="unitList form-control">
					<script id="unit_leval" type="text/html">
						<option value="">请选择单位</option>
						{{each data as list index}}
							<option value="{{list.id}}">{{list.unit_name}}</option>
						{{/each}}
					</script>
				</select>
            </div>
            <div class="form-group">
              <label for="">人：</label>
              <input type="text" class="form-control login" value=""/>
              <input type="hidden" class="form-control login_id" value=""/>
            </div>
            <div class="form-group">
              <button class="btn search" type="button">查询</button>
            </div>
          </form>

        </div>
		 <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PxeMqAnIzuRf8UGGuQ9zNlor"></script>
        <div style="width:100%;height:550px;border:#ccc solid 1px;font-size:12px" id="map"></div>
		 <%= render 'unit' %>
	</div>
</div>
<script>
	
	

</script>