<script id="origin" type="text/html">
	{{each station_arr as alarmNotice index}}
		<tr>
			<td>{{alarmNotice.station_name}}</td>
			<td><span class={{alarmNotice.so2_avg > alarmNotice.so2 ? 'colorYellow' : alarmNotice.so2_avg == alarmNotice.so2 ? ' ' :alarmNotice.so2_avg < alarmNotice.so2 ? 'colorRed' : 'colorRed'}}></span>{{alarmNotice.so2 > 100 ? '100' : alarmNotice.so2}}</td>
			<td><span class={{alarmNotice.no2_avg > alarmNotice.no2 ? 'colorYellow' : alarmNotice.no2_avg == alarmNotice.no2 ? ' ' : alarmNotice.no2_avg < alarmNotice.no2 ?'colorRed' : 'colorRed'}}></span>{{alarmNotice.no2 > 100 ? '100' : alarmNotice.no2}}</td>
			<td><span class={{alarmNotice.co_avg > alarmNotice.co ? 'colorYellow' : alarmNotice.co_avg == alarmNotice.co ? ' ' : alarmNotice.co_avg < alarmNotice.co ?'colorRed' : 'colorRed'}}></span>{{alarmNotice.co > 100 ? '100' : alarmNotice.co}}</td>
			<td><span class={{alarmNotice.o3_avg > alarmNotice.o3 ? 'colorYellow' : alarmNotice.o3_avg == alarmNotice.o3 ? ' ' :alarmNotice.o3_avg < alarmNotice.o3 ? 'colorRed' : 'colorRed'}}></span>{{alarmNotice.o3 > 100 ? '100' : alarmNotice.o3}}</td>
			<td><span class={{alarmNotice.pm2_5_avg > alarmNotice.pm2_5 ? 'colorYellow' : alarmNotice.pm2_5_avg == alarmNotice.pm2_5 ? '  ': alarmNotice.pm2_5_avg < alarmNotice.pm2_5?'colorRed':'colorRed'}}></span>{{alarmNotice.pm2_5>100?'100':alarmNotice.pm2_5}}</td>
			<td><span class={{alarmNotice.pm10_avg > alarmNotice.pm10 ? 'colorYellow' : alarmNotice.pm10_avg == alarmNotice.pm10 ? '' :alarmNotice.pm10_avg < alarmNotice.pm10 ? 'colorRed' : 'colorRed'}}></span>{{alarmNotice.pm10 > 100 ? '100' : alarmNotice.pm10}}</td>
		</tr>
	{{/each}}
	<tr>
		<td>平均</td>
		<td>{{all_infos.so2 > 100 ? '100': all_infos.so2}}</td>
		<td>{{all_infos.no2 > 100 ? '100' : all_infos.no2}}</td>
		<td>{{all_infos.co > 100 ? '100' : all_infos.co}}</td>
		<td>{{all_infos.o3 > 100 ? '100' : all_infos.o3}}</td>
		<td>{{all_infos.pm2_5 > 100 ? '100' : all_infos.pm2_5}}</td>
		<td>{{all_infos.pm10 > 100 ? '100' : all_infos.pm10}}</td>
	</tr>
</script>