<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="steam_report">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">蒸汽上报</span>
		</div>
		
		<div id="public_table">
			
			
			<div class="public_table">
				<form class="form-horizontal">
					<div class="excelTable">
						
					</div>
					
				</form>
			</div>
		</div>
		
	</div>
</div>
