<div style="width: 20%;margin: 0 auto"><h4>任务明细</h4></div>
<hr>
<div class="step">
  <div class="stepStatus">
    <ul class="steps" style="margin-left: 0">
      <% %W(已分配 待处理 处理中 完成 结束).each_with_index do |info,i| %>
          <% if @task_deal_infos[i].present? %>
              <li data-step="<%= i %>" class="active">
                <span class="step"><%= @task_deal_infos.reverse[i][:flow_no] %></span>
                <span class="title"><%= info  %></span>
                <span class="title">负责人：<%= @task_deal_infos.reverse[i][:deal_login] %></span>
                <span class="title">时间：<%= @task_deal_infos.reverse[i][:deal_time] %></span>
                </li>
          <% else %>
              <li data-step="<%= i + 1 %>">
                <span class="step"><%= i + 1 %></span>
                <span class="title"><%= info  %></span>
              </li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <hr>
  <div class="stepAudit" style="width: 50%; margin: 0 auto">
    <div class="row">
      <div class="col-xs-4">
        <% @task_deal_infos.each do |info| %>
            <li><%= info[:deal_time] %></li>
        <% end %>
      </div>
      <div class="col-xs-6">
        <ul>
          <% @task_deal_infos.each do |info| %>
              <li><%= info[:note] %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>