<script id="despatchesList" type="text/html">
	{{if despatches.length > 0}}
		{{each despatches as list i}}
		<tr class="list-parent">
			<td class="station-list">
				{{each list.stations as station i}}{{station}}{{/each}}</td>
	        <td class="station-list">{{each list.rule_name as ruleName i}}{{ruleName}}{{/each}}</td>
	        <td class="station-list">{{each list.rule_leves as ruleLeves i}}{{ruleLeves}}{{/each}}</td>
		    <td class="station-list">{{list.despatch_time}}</td>
	        <td class="station-list">{{list.despatch_login}}</td>
	        <td class="station-list">{{list.receive_login}}</td>
	        <td class="station-list xiangyingTime">{{list.receive_time}}</td>
	        <td class="station-list dealTime">{{list.deal_time}}</td>
	        <td class="station-list statusTest">{{list.task_status}}</td>
	        <td class="station-list lookShow">
            <a href="javascript:void(0)" class="lookNews"> 查看 </a>
	        	<span class="id none">{{list.id}}</span>
	        	{{if list.task_status == '待响应'}}
					<a class="xiangying">响应</a>
					<a class="zhuanfa">转发</a>
				{{else if list.task_status == '待处理'}}
					<a class="chuli">处理</a>
				{{else if list.task_status == '处理中'}}
					<a class="wancheng">完成</a>
				{{/if}}
				<a class="xiangying hides">响应</a>
				<a class="zhuanfa hides">转发</a>
				<a class="chuli hides">处理</a>
				<a class="wancheng hides">完成</a>
				<div class="do xiangyings">
					<p>是否响应？</p>
					<button type="button" class="btn-primary btn-sure">确认</button>
					<button type="button" class="btn-primary btn-cancel">取消</button>
			    </div>
			    <div class="do zhuanfas">
					<p>是否转发？</p>
					<button type="button" class="btn-primary btn-sure">确认</button>
					<button type="button" class="btn-primary btn-cancel">取消</button>
			    </div>
			    <div class="do chulis">
					<p>是否处理？</p>
					<button type="button" class="btn-primary btn-sure">确认</button>
					<button type="button" class="btn-primary btn-cancel">取消</button>
			    </div>
			    <div class="do wanchengs">
					<p>是否完成？</p>
					<button type="button" class="btn-primary btn-sure">确认</button>
					<button type="button" class="btn-primary btn-cancel">取消</button>
			    </div>
			</td>
			
	    </tr>
    {{/each}}
    {{else}}
    <tr>
		<td colspan="10">暂无数据</td>
	</tr>
	{{/if}}
</script>
