<div class="row">
<%= render :partial => 'despatch_steps'  %>
</div>
<hr>
<div class="row">
<div style="width: 20%;margin: 0 auto"><h4>任务明细</h4></div>
<div class="taskDetails" style="width: 80%; margin: 0 auto">
  <table class="table table-bordered">
    <thead>
    <tr>
      <td>任务流水</td>
      <td>任务状态</td>
      <td>受理人</td>
      <td>处理类型</td>
      <td>操作时间</td>
      <td>备注</td>
    </tr>
    </thead>
    <tbody class="exception">
    <% if @task_deal_infos.present? %>
        <% @task_deal_infos.each do |info| %>
            <tr class="list-parent">
              <td class="station-list"><%= info[:deal_accept] %></td>
              <td class="station-list"><%= info[:task_status] %></td>
              <td class="station-list"><%= info[:deal_login] %></td>
              <td class="station-list"><%= info[:id] %></td>
              <td class="station-list"><%= info[:deal_time] %></td>
              <td class="station-list"><%= info[:note] %></td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="10">暂无数据</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>

<div style="width: 20%;margin: 0 auto"><button class="btn-default back" onclick="despath_info_hide()">返回</button></div>

