<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="alarmDespatches">
	<div class="public_title">
		<img src="" />
		<span>您的当前位置:报警任务</span>
	</div>
	
	<!--第一页面-->
	<div class="alarmDespatchesIndex">
		<div class="public_search">
			<label for="">日期:</label>
			<input type="text" class="dateTimepicker start_datetime" />
			<label for="">创建人:</label>
			<input type="text" class="create"/>
			<label for="">接收人:</label>
			<input type="text" class="deal"/>
			<label for="">状态:</label>
			<select class="status">
				<script id="alarmStatus" type="text/html">
					<option value="">请选择状态</option>
					{{each alarm_status as alarmStatus index}}
						<option value="{{alarmStatus.status}}">{{alarmStatus.status_name}}</option>
					{{/each}}
				</script>
			</select>
			<button class="btn search">查询</button>
	    </div>
	    <div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	    <div class="public_table">
	    	<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>站点名称</th>
						<th>报警规则</th>
						<th>报警级别</th>
					    <th>任务生成时间</th>
					    <th>创建人</th>
					    <th>接收人</th>
					    <th>响应时间</th>
					    <th>完成时间</th>
					    <th>状态</th>
					    <th>操作</th>
				    </tr>
				</thead>
				<tbody class="exception-list">
				</tbody>
		    </table>
	    </div>
		
	</div>
	
<!--分页-->
<div>
	<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
	<select id="pagesize" class="right">  
	    <option value="10" selected="selected">每页10条</option>  
	    <option value="20">每页20条</option>
		<option value="30">每页30条</option>  
	    <option value="40">每页40条</option>
	    <option value="50">每页50条</option> 
	</select>  
</div>
<div class="page_total left">
	<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
</div>
<div class="clear"></div>
	
<%= render 'despatchesTable' %>
	<!--第二页面-->
	<div class="alarmDespatchesOther" style="width:90%;margin: 0 auto 0 5%">
		
	</div>
	
	
</div>
