<div id="contentDiv" style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;" class="body">
  <div id="qm_con_body">
    <div id="mailContentContainer" class="qmbox qm_con_body_content">
      <div id="contentDiv" style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;" class="body">
        <div id="qm_con_body">
          <div style="" id="mailContentContainer" class="qmbox qm_con_body_content">
            <div style="background-color:#d0d0d0;background-image:url(http://www.xianglema.cn:4000/images/mmsgletter_2_bg.png);text-align:center;padding:40px;">
              <div class="mmsgLetter" style="width:580px;margin:0 auto;padding:10px;color:#333;background-color:#fff;border:0px solid #aaa;border-radius:5px;-webkit-box-shadow:3px 3px 10px #999;-moz-box-shadow:3px 3px 10px #999;box-shadow:3px 3px 10px #999;font-family:Verdana, sans-serif; ">
                <div class="mmsgLetterContent" style="text-align:left;padding:30px;font-size:14px;line-height:1.5;">
                  <div>
                    <p>您好：<%= @user.name %>！</p>

                    <h3><%= @d_notice_info.title %></h3>
                    <p><%=@d_notice_info.content %></p>
                    <p>发送人：<%= @d_notice_info.auther %></p>


                    <!-- <p>
                      这是一封测试邮件，请您忽略。 <br>
                      您的登录账号为：<a target="_blank" href="mailto:">
                    <wbr><%= @user.name %></a>
                        。请点击以下链接激活帐号：
                    </p>
                    <p style="word-wrap:break-word;word-break:break-all;">
                      <a href="<%= @url %>" target="_blank"><%= @url %></a>
                    </p>
                    <p>
                      如果以上链接无法点击，请将上面的地址复制到你的浏览器(如IE)的地址栏进入买卖通平台完成注册。
                    </p> -->

                  </div>




                  <div style="padding:40px 0 0;">
                    <img src="http://www.xianglema.cn:4000/images/ty.png" style="float:left;">

                    <div style="margin:0 0 0 54px;">
                      <p class="mmsgName" style="margin:0 0 10px;">商丘运维管理平台</p>

                      <p class="mmsgInfo" style="font-size:12px;margin:0;line-height:1.2;">
                        管理员<br>
                        <a target="_blank" href="mailto:785113099@qq.com" style="color:#407700;">785113099@qq.com</a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="mmsgLetterFooter" style="margin:16px;text-align:center;font-size:12px;color:#888;text-shadow:1px 0px 0px #eee;clear: both;">
                  shangqiu huanbao ju
                </div>
              </div> </div></div> </div></div> </div></div> </div>