<div id="contentDiv" style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;" class="body">
    <div id="qm_con_body">
      <div id="mailContentContainer" class="qmbox qm_con_body_content">
        <div id="contentDiv" style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;" class="body">
          <div id="qm_con_body">
            <div style="" id="mailContentContainer" class="qmbox qm_con_body_content">
              <div style="background-color:#d0d0d0;background-image:url(http://www.xianglema.cn:4000/images/mmsgletter_2_bg.png);text-align:center;padding:10px;margin:0 auto;">
                <div class="mmsgLetter" style="margin:0 auto;padding:10px;color:#333;background-color:#fff;border:0px solid #aaa;border-radius:5px;-webkit-box-shadow:3px 3px 10px #999;-moz-box-shadow:3px 3px 10px #999;box-shadow:3px 3px 10px #999;font-family:Verdana, sans-serif; ">
                  <div class="mmsgLetterContent" style="text-align:left;padding:30px;font-size:14px;line-height:1.2;">
                   
                    <div>
                      <p>您好：<%= @unit.handle_man %>！</p>
                      <h3 style="padding:0 0 0 10px;">派遣工单提醒</h3>
                      <span style="color:#407700;">站点：</span><span><%= @unit.station_name %></span><br><br>
                      <span style="color:#407700;">工单号：</span><span><%=@unit.job_no %></span><br><br>
                      <span style="color:#407700;">紧急程度：</span><span><%=@unit.urgent_level_str %></span><br><br>
                      <p>发送人：<%= @user.login_name %></p>

                    </div>
  
                    <div style="padding:20px 0 0;">
                      <div style="margin:0 0 0 20px;">
                        <p class="mmsgName" style="margin:0 0 10px;">商丘运维管理平台</p>
                        <p class="mmsgInfo" style="font-size:12px;margin:0;line-height:1.2;">
                          管理员<br>
                          <a target="_blank" href="mailto:785113099@qq.com" style="color:#407700;">785113099@qq.com</a>
                        </p>
                      </div>
                    </div>


                  </div>
  
                  <div class="mmsgLetterFooter" style="margin:16px;text-align:center;font-size:12px;color:#888;text-shadow:1px 0px 0px #eee;clear: both;">
                    shangqiu huanbao ju
                  </div>
                </div> </div></div> </div></div> </div></div> </div>