<!--修改模板-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">项目信息修改</h4>
      </div>
      <div class="modal-body">
       <form class="form-horizontal" id="edit_form">
		<div class="form-group">
			<label class="col-xs-2 control-label">项目编码:</label>
			<div class="col-xs-5">
				<input  class="form-control project_code" name="project_code" required="required" disabled="disabled" autofocus="autofocus"  type="text"  />
			</div>
			<!--<label id="login_no_Tip" class="warn control-default">请输入2至16位的英文或数字</label>-->
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">项目名称:</label>
			<div class="col-xs-5">
				<input  class="form-control project_name" name="project_name"  pattern="^[a-zA-Z0-9]{2,16}$" type="text" name="login_no" />
			</div>
			
		</div>
		
		<div class="form-group">
			<label class="col-xs-2 control-label">项目类型:</label>
			<div class="col-xs-5 project_type">
				<input type="radio" name="typeRadios" value="7"  id="typeRadios1">
				<span>周</span>
				<input type="radio" name="typeRadios"  value="30" id="typeRadios2">
				<span>月</span>
				<input type="radio" name="typeRadios"  value="90" id="typeRadios3">
				<span>季度</span>
				<input type="radio" name="typeRadios"  value="360" id="typeRadios4">
				<span>年</span>
			</div>
			
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">项目标识:</label>
			<div class="col-xs-5 project_iden">
				<input type="radio" name="Radios"  value="Y" id="Radios1">
				<span>启用</span>
				<input type="radio" name="Radios"  value="N" id="Radios2">
				<span>停用</span>
			</div>
			
		</div>
		
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>





