<!--增加模板-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">项目信息增加</h4>
      </div>
      <div class="modal-body">


 <form class="form-horizontal" id="add_form">
		<div class="form-group">
			<label class="col-xs-2 control-label">项目编码:</label>
			<div class="col-xs-5">
				<input  class="form-control project_code" required="required" name="project_code" autofocus="autofocus" placeholder="请输入项目编码" type="text"  />
			</div>
			<!--<label id="login_no_Tip" class="warn control-default">请输入2至16位的英文或数字</label>-->
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">项目名称:</label>
			<div class="col-xs-5">
				<input  class="form-control project_name" name="project_name" required="required" autofocus="autofocus" placeholder="请输入项目名称" pattern="^[a-zA-Z0-9]{2,16}$" type="text" name="login_no" />
			</div>
			
		</div>
		
		<div class="form-group">
			<label class="col-xs-2 control-label">项目类型:</label>
			<div class="col-xs-5 project_type">
				<input type="radio" name="typeRadios"  value="7" checked="checked">
				<span>周</span>
				<input type="radio" name="typeRadios"  value="30">
				<span>月</span>
				<input type="radio" name="typeRadios"  value="90" >
				<span>季度</span>
				<input type="radio" name="typeRadios"  value="360">
				<span>年</span>
			</div>
			
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">项目标识:</label>
			<div class="col-xs-5 project_iden">
				<input type="radio" name="Radios"  value="Y" checked="checked">
				<span>启用</span>
				<input type="radio" name="Radios"  value="N">
				<span>停用</span>
			</div>
			
		</div>
		
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>