<script id="work_table" type="text/html">
	
	{{each works as data index}}
	<tr>
		<td>{{index + 1}}</td>
		<td class="id hide">{{data.id}}</td>
		<td>{{data.work_name}}</td>
		<td>{{data.work_code}}</td>
		<td>{{data.work_type}}</td>
		<td>{{if data.work_flag=='Y'}}启用{{else}}停用{{/if}}</td>
		<td>
				<a class="work_edit" data-toggle="modal" data-target="#editModal">修改</a>
				<a class="work_delete" >删除</a>
				<div class="delete_prop">
					<p>是否删除？</p>
					<button type="button" class="btn btn-primary btn-sure">确认</button>
					<button type="button" class="btn btn-cancel">取消</button>
				</div>
				<a class="work_look" data-toggle="modal" data-target="#showModal">查看详情</a>
		</td>
	</tr>
	{{/each}}
	
</script>
