<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="work_pros">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">任务管理</span>
		</div>
		<div class="navMain public_search">
			<input type="hidden" class="searchType" />
			<input type="hidden" class="searchName" />
			<input type="hidden" class="searchFlag" />
			<form class="form-inline">
				<div class="form-group">
					 <label for="work_name">项目名称:</label>
			        <input type="text" name="work_name" id="work_name" placeholder="请输入项目名称" class="form-control"/>
				</div>
				<div class="form-group">
					<label>项目类型:</label>
					<select id="work_type" class="form-control">
						<option value="">请选择</option>
						<option value="7">周</option>
						<option value="30">月</option>
						<option value="90">季度</option>
						<option value="360">年</option>
					</select>
				</div>
				<div class="form-group">
					<label>项目标识:</label>
					<select id="work_flag" class="form-control">
						<option value="">请选择</option>
						<option value="Y">启用</option>
						<option value="N">停用</option>
					</select>
				</div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
					<button class="btn new_add_btn" id="work_add" data-toggle="modal" data-target="#addModal" type="button">
						增加信息
					</button>
				</div>
			</form>
			
		</div>
		<div id="public_table">
			<div class="public_table">
				<table class="table table-bordered table-hover">
					<thead>
			       	<tr>
			       		<th>序号</th>
			       		<th>工作项目名称</th>
			       		<th>工作项目代码</th>
			       		<th>工作项目类型</th>
			       		<th>标识</th>
			       		<th>操作</th>
			       	</tr>
			       </thead>
			       <tbody class="exception-list">
			       	
			       </tbody>
				</table>
			</div>
			<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		
		
	<div class="clear"></div>
	
	<%= render 'table' %>
	<%= render 'new' %>
	<%= render 'edit' %>
	<%= render 'show' %>
	</div>
</div>