<script id="analyseTab" type="text/html">
	{{if arams.length != 0}}
		{{each arams as alarmNotice index}}
			<tr>
				<td>{{alarmNotice.grading_time}}</td>
				<td>{{alarmNotice.grading_num}}</td>
				<td class='max'>{{ alarmNotice.aram_total == 0 ? '0.00' :(alarmNotice.grading_num / alarmNotice.aram_total).toFixed(2)}}</td>
			</tr>
		{{/each}}
	{{else}}
		<tr>
			<td colspan="3">暂无数据</td>
		</tr>
	{{/if}}
</script>