<%= form_for(@test_iframe) do |f| %>
  <% if @test_iframe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_iframe.errors.count, "error") %> prohibited this test_iframe from being saved:</h2>

      <ul>
      <% @test_iframe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mark %><br>
    <%= f.text_field :mark %>
  </div>
  <div class="field">
    <%= f.label :yangna %><br>
    <%= f.text_field :yangna %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
