<script id="resetPwd" type="text/html">
	<div class="reset_password">
		<h4>修改密码 <span class="pull-right" >X</span></h4>
		<form>
	    <div class="form-group">
	       <label class="col-xs-2 control-label passFontSize" for="passwd">新密码：</label>
	        <div class="col-xs-5">
	        	<input type="password"  required="required" pattern="^[a-zA-Z0-9]{2,16}$" class="form-control dateTimepicker" name="passwd" id="passwd"  value="" placeholder="请输入新密码"/>
	        </div>
	        <label id="passwdTip" class="col-xs-3 control-label colreset">请输入2-16位的数字</label>
	    </div>
	    <div class="clear">	    	</div>
	    <div class="form-group">
	       <label class="col-xs-2 control-label passFontSizes" for="passwd_ag">确认密码：</label>
	        <div class="col-xs-5">
	        	<input type="password"  required="required" pattern="^[a-zA-Z0-9]{2,16}$" class="form-control dateTimepicker" name="passwd_ag" id="passwd_ag"  value="" placeholder="请再次输入新密码"/>
	        </div>
	        <label id="passwd_confirmationTip" class="col-xs-3 control-label colreset">请输入2-16位的数字</label>
	    </div>
	    <div class="clear">	    	</div>
	    <div class="form-group">
	    	<div style="text-align: right; margin-top: 30px; margin-right: 20px;">
	    		<button type="button" class="btn btn-success " id="fix_pd">确认</button>
	            <button type="button" class="btn btn-default " id="fix_qx">取消</button>
	    	</div>
	    </div>
       </form>
    </div>
</script>  
