<!--运维单位-->
	<div id="search-units">
		<div class="choose-sites">
			
		</div>
	</div>
	<script id="editUnits" type="text/html">
		
		<div class="tab-top">
			<ul>
				{{each unit_region as regions index }}
					<li>
						<input type="radio" name="name"  value="{{regions.id}}"/>
						<small class="hide">{{regions.id}}</small>
						<span class="top_region">{{regions.unit_name}}</span>
					</li>
				{{/each}}
			</ul>
			
		</div>
		<div class="station-btn">
			<span class="btn-sure">确定</span>
			<span class="btn-cancel">取消</span>
		</div>
	</script>