<!--站点-->
	<div id="search-station">
		<div class="choose-site">
			
		</div>
	</div>
	<script id="editStations" type="text/html">
		
		<div class="tab-top">
			<span class="station-all">
				<input type="checkbox" />
				全部
			</span>
			{{each area_stations as Station index }}
				{{each Station.chil as station index }}
					<small>{{station.region_chil.id}}</small>
					<span class="top_region">{{station.region_chil.region_name}}</span>
				{{/each}}
			{{/each}}
		</div>
		<div class="station_content">
			{{each area_stations as Station index }}
				{{each Station.chil as station index }}
				<div class="list-station">
					<div class="tab-station">
						<p class="list-city">
							<span>
								<input type="checkbox" value="{{station.region_chil.id}}"/>
								<small>{{station.region_chil.id}}</small>
								<a>{{station.region_chil.region_name}}</a>
							</span>
						</p>
						<i class="search-line"></i>
						<br />
						{{each station.d_stations as dStations index}}
							<p class="list-city-station">
								<span>
									<input type="checkbox" value="{{dStations.id}}"/>
									<small>{{dStations.id}}</small>
									<a>{{dStations.station_name}}</a>
								</span>
							</p>
							<i class="search-line"></i>
						{{/each}}
					</div>
				</div>
				{{/each}}
			{{/each}}
		</div>
		<div class="station-btn">
			<span class="btn-sure">确定</span>
			<span class="btn-cancel">取消</span>
		</div>
	</script>