<!--运维单位-->
	<div id="search-unit">
		<div class="choose-site">
			
		</div>
	</div>
	<script id="editUnit" type="text/html">
		
		<div class="tab-top">
			{{each unit_region as regions index }}
			    <img src='/images/file.png' alt="" />
			    <small class="hide">{{regions.id}}</small>
				<span class="top_region">{{regions.name}}</span>
				
					{{each regions.chil_data as region index }}
					<div class="unit_parent">
						<img src='/images/file.png' alt="" />
						<small class="hide">{{region.id}}</small>
						<span class="top_region">{{region.name}}</span>
						{{if region.units.length > 0}}
						    {{each region.units as units index}}
								<div class="unit_chil">
								    <input type="checkbox" value="{{units.id}}"/>
								    <small class="hide">{{units.id}}</small>
									<span class="top_region">{{units.unit_name}}</span>
								</div>
						    {{/each}}
						{{/if}}
					</div>	
					{{/each}}
			{{/each}}
		</div>
		<div class="station-btn">
			<span class="btn-sure">确定</span>
			<span class="btn-cancel">取消</span>
		</div>
	</script>