
<div class="modal fade sq_station" id="sq_station" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">选择站点</h4>
      </div>
      <div class="modal-body station_contents">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="stations">
	<div class="tab-top">
		<span class="station-all">
			<input type="checkbox" />
			全部
		</span>
		{{each stations as Station index }}
			<span class="top_region">{{Station.name}}</span>
		{{/each}}
	</div>
	<div class="station_content">
		{{each stations as Station index }}
			
			<div class="list-station">
				<div class="tab-station">
					<p class="list-city">
						<label>
							<span>
								<input type="checkbox" value=""/>
								
								<a>{{Station.name}}</a>
							</span>
						</label>
					</p>
					<i class="search-line"></i>
					<br />
					{{each Station.station as dStations index}}
						<p class="list-city-station">
							<label>
								<span>
									<input type="checkbox" value="{{dStations.id}}"/>
									<small class="hide">{{dStations.id}}</small>
									<a>{{dStations.station_name}}</a>
								</span>
							</label>
						</p>
						<i class="search-line"></i>
					{{/each}}
				</div>
			</div>
		
		{{/each}}
	</div>
</script>