
<div class="modal fade ty_workshop" id="ty_workshop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">选择车间</h4>
      </div>
      <div class="modal-body ty_workshopContent">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="unitRegion">
	<div class="tab-top">
		<span class="station-all">
			<input type="checkbox" />
			全部
		</span>
		{{each unit_region as list index }}
			{{each list.chil_data as chilList index}}
				<span class="top_region">{{chilList.name}}</span>
			{{/each}}
		{{/each}}
	</div>
	<div class="station_content">
		{{each unit_region as list index }}
			{{each list.chil_data as chilList index}}
			<div class="list-station">
				<div class="tab-station">
					<p class="list-city">
						<label>
							<span>
								<input type="checkbox" value=""/>
								
								<a>{{chilList.name}}</a>
							</span>
						</label>
					</p>
					<i class="search-line"></i>
					<br />
					{{each chilList.chil_data as threeList index}}
						<p class="list-city-station">
							<label>
								<span>
									<input type="checkbox" value="{{threeList.id}}"/>
									<small class="hide">{{threeList.id}}</small>
									<a>{{threeList.name}}</a>
								</span>
							</label>
						</p>
						<i class="search-line"></i>
					{{/each}}
				</div>
			</div>
			{{/each}}
		{{/each}}
	</div>
</script>