﻿
	
<div id="data_statistics">
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：站点数据获取率统计</span>
	</div>
	<div class="public_search d_alarms">
		<label for="">区域级别:</label>
		<select class="place_leval">
			<script id="place_leval" type="text/html">
				<option value="">请选择区域级别</option>
				{{each region_levels as regionLevel index}}
					<option value="{{regionLevel.id}}">{{regionLevel.level_name}}</option>
				{{/each}}
			</script>
		</select>
		<label for="">站点:</label>
		<input type="text" class="control_station"/>
		<input type="text"  class="control_stationID" />
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<b>-</b>
		<input type="text" class="dateTimepicker end_datetime"/>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<button class="btn search">查询</button>
	</div>
	
	<div class="public_table abnormal_table">
		<div class="table-top">
			<span class="overtop"><a></a>站点数据获取率高于平均值</span>
			<span class="lower"><a></a>站点数据获取率低于平均值</span>
			<span class="com">单位：(百分比)</span>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>站点名称</th>
					<th>SO2</th>
					<th>NO2</th>
					<th>CO</th>
					<th>O3</th>
					<th>PM2.5</th>
					<th>PM10</th>
				</tr>
				
			</thead>
			<tbody class="exception-list">
			</tbody>
		</table>
   </div>
   <!--模态框-->
	<div id="public_box"></div>
	<div class="lookforRules">
		
	</div>
	
</div>
