<p id="notice"><%= notice %></p>

<p>
  <strong>Mark:</strong>
  <%= @test_iframe.mark %>
</p>

<p>
  <strong>Yangna:</strong>
  <%= @test_iframe.yangna %>
</p>

<%= link_to 'Edit', edit_test_iframe_path(@test_iframe) %> |
<%= link_to 'Back', test_iframes_path %>
