<div class="public_table">
	<table class="table table-bordered table-hover">
		<thead>
			<th>实例名称</th>
			<th>监控因子</th>
			<th>规则类型</th>
			<th>状态</th>
			<th>操作</th>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>