<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
	<div id="unsuall">
		<div class="public_title">
			<img src=""/>
			<span>您的当前位置:异常配置</span>				
		</div>
		<div class="public_search">
			<label for="">站点:</label>
			<input type="text" class="control_station"/>
			<input type="text" class="control_stationID"/>
			<label>实例名称:</label>
			<input type="text" class="example_name"/>
			<label for="">规则类型:</label>
			<input type="text" class="rule_code"/>
			<button class="btn search">查询</button>
			<button class="btn btn-success btn_unusual new_add_btn">
				<span class="glyphicon glyphicon-plus"></span>
				创建异常实例
			</button>
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<!--公共站点-->
		<%= render :partial => 'test_iframes/public_station' %>
		<!--表格-->
		<%= render 'table' %>
		
		<div id="public_box"></div>
		
		<!--创建-->
		<div class="add_example add_example1">
			<%= render 'add' %>
		</div>
		<!--编辑-->
		<div class="add_example add_example2">
			<%= render 'edit' %>
		</div>
		
	</div>
	<!--分页-->
	<div>
		<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
		<select id="pagesize" class="right">  
		    <option value="10" selected="selected">每页10条</option>  
		    <option value="20">每页20条</option>
			<option value="30">每页30条</option>  
		    <option value="40">每页40条</option>
		    <option value="50">每页50条</option> 
		</select>  
	</div>
	<div class="page_total left">
		<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
	</div>
	<div class="clear"></div>
	<!--监控因子-->
	<script id="becase" type="text/html">
		<option value="">请选择因子</option>
		{{each abnormal_items as items index}}
			<option value="{{items.id}}">{{items.item_name}}</option>
		{{/each}}
	</script>
	<!--根据因子获取模板-->
	<script id="unusualTemple" type="text/html">
		{{each abnormal_rules as rules index}}
			<option value="{{rules.id}}">{{rules.rule_name}}</option>
		{{/each}}
	</script>
	<!--搜索站点-->
	<script id="bindStations" type="text/html">
		<!--<div class="tab-top">
			<span class="station-all">
				<input type="checkbox" />
				全部
			</span>
			{{each area_stations as Station index }}
				{{each Station.chil as station index }}
					<small>{{station.region_chil.id}}</small>
					<span class="top_region">{{station.region_chil.region_name}}</span>
				{{/each}}
			{{/each}}
		</div>-->
		<div class="station_content">
			{{each area_stations as Station index }}
				{{each Station.chil as station index }}
				<div class="list-station">
					<div class="tab-station">
						<p class="list-city">
							<span>
								<input type="checkbox" value="{{station.region_chil.id}}"/>
								<small>{{station.region_chil.id}}</small>
								<a>{{station.region_chil.region_name}}</a>
							</span>
						</p>
						{{each station.d_stations as dStations index}}
							<p class="list-city-station">
								<span>
									<input type="checkbox" value="{{dStations.id}}"/>
									<small>{{dStations.id}}</small>
									<a>{{dStations.station_name}}</a>
								</span>
							</p>
						{{/each}}
					</div>
				</div>
				{{/each}}
			{{/each}}
		</div>
		<!--<div class="station-btn">
			<span class="btn-sure">确定</span>
			<span class="btn-cancel">取消</span>
		</div>-->
	</script>
	<!--根据模板获取判断条件-->
	<script id="Condition" type="text/html">
		<label for="">&#X3000;判断条件:</label>
		<input type="text" value="{{rule.compare_code}}" disabled="disabled" style="display: none;">
		<span class="condition_number"></span>
		<!--<input type="text" value="{{rule.parameter_num}}"/>-->
	</script>
	<script id="addInfo" type="text/html">
		{{if exception_sets.length > 0}}
			{{each exception_sets as origin index}}
				<tr>
					<td class="instance_name">{{origin.instance_name}}</td>
					<td class="item_name">{{origin.item_name}}</td>
					<td class="rule_name">{{origin.rule_name}}</td>
					<td>{{origin.status}}</td>
					<td>
						<span class="EditId" style="display: none;">{{origin.id}}</span>
						<a class="edit">编辑</a>
					</td>
				</tr>
			{{/each}}
		{{else}}
			<tr style="text-align: center;">暂无数据</tr>
		{{/if}}
	</script>
	