	<div id="citys">
		<div class="choose-city">
			
		</div>
	</div>
<script id="addCity" type="text/html">
	<div>
		<ul class="city_list">
			{{each province as cities i}}
			<li>
				<input type="radio" value="{{cities.id}}" name="city">
				<small class="hide">{{cities.id}}</small>
				<span>{{cities.zone_name}}</span>
			</li>
			{{/each}}
		</ul>
	</div>
	<div class="station-btn">
		<button class="btn-sure btn btn-primary">确定</button>
		<button class="btn-cancel btn">取消</button>
	</div>
</script>