<div id="accsAdd">
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">新增配件</span>
		
	</div>
	<form class="form-horizontal" id="add_form">
		<div class="pull-right">
			<button class="btn btn-primary save" id="addSave" style="height: 32px;">保存</button>
			<button class="btn new_add_btn" href="#" title="返回" id="back">返回</button>
			
		</div>
		
		<div class="panel partial" data-taskid="" data-active="">
			<div class="form-group">
				<label class="col-xs-2 control-label">运维单位:</label>
				<div class="col-xs-5">
					<input type="text" class="unit_yws form-control" name="unit_yws"/>
	          		<input type="hidden" class="unit_ywIDs"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">城市:</label>
				<div class="col-xs-5">
					<input type="text" class="city_name form-control" name="city_name"/>
	          		<input type="hidden" class="cityId"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">配件品牌:</label>
				<div class="col-xs-5">
					<select class="brand form-control">
	                	<script type="text/html" id="brandList">
	                		
	                		{{each brands as brandList index}}
	                			<option value="{{brandList}}">{{brandList}}</option>
	                		{{/each}}
	                	</script>
	                </select>
				</div>
				<p class="text-danger">必须选择配件品牌</p>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">配件编号:</label>
				<div class="col-xs-5">
					<input type="text" class="supply_no form-control" name="supply_no"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">配件名称:</label>
				<div class="col-xs-5">
					<input type="text" class="supply_name form-control" name="supply_name"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">数量:</label>
				<div class="col-xs-5">
					<input type="text" class="supply_num form-control" name="supply_num"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">单位:</label>
				<div class="col-xs-5">
					<input type="text" class="supply_unit form-control" name="supply_unit"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">保质期:</label>
				<div class="col-xs-5">
					<input type="text" class="dateTimepicker validity_date form-control" name="validity_date"/>
					<!--<input type="text" class="validity_date form-control" name="validity_date"/>-->
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">保管人:</label>
				<div class="col-xs-5">
					<input type="text" class="owner form-control" name="owner"/>
					<input type="hidden" class="ownerId" />
				</div>
			</div>
		</div>
	</form>
	<%= render :partial => 'test_iframes/prative_unitYw' %>
	<%= render 'city' %>
	<%= render 'owner' %>
</div>