<div id="owner">
	<div class="choose-owner">
			
	</div>
</div>
<script id="ownerList" type="text/html">
	<ul>
		{{each users as list i}}
			<li><input type="radio" name="users" value="{{list.id}}"><span>{{list.login_name}}</span></li>
		{{/each}}
	</ul>
	<div class="station-btn">
		<button class="btn-sure btn btn-primary">确定</button>
		<button class="btn-cancel btn">取消</button>
	</div>
</script>