<!--增加模板-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">公告信息增加</h4>
      </div>
      <div class="modal-body">


			  <form class="form-horizontal" id="add_form">
					<div class="form-group">
						<label class="col-xs-2 control-label">标题:</label>
						<div class="col-xs-5">
							<input  class="form-control project_title" required="required" name="title" autofocus="autofocus" type="text"  />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">下发方式:</label>
						<div class="col-xs-5 send_type">
							<label class="basicLists"><input type="radio" name="send" value="app" id="sendApp"/>App推送</label>
							<label class="basicLists"><input type="radio" name="send" value="sms" id="sendSms"/>短信</label>
							<label class="basicLists"><input type="radio" name="send" value="email" id="sendEmail"/>邮件</label>
						</div>
						
					</div>
					<div class="form-group template_type" style="display: none;">
						<label class="col-xs-2 control-label">模板内容:</label>
						<div class="col-xs-5 send_content">
							
						</div>
						
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">内容:</label>
						<div class="col-xs-5">
							<p class="text-danger">请自行填充“{}”中的内容</p>
							<textarea name="content" rows="" cols="" class="form-control content"></textarea>
						</div>
					</div>

				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="addSave">保存</button>
      </div>
    </div>
  </div>
</div>
<script id="temCont" type="text/html">
	<div class="appList">
		{{each templete_types.templete_app as conList i}}
			<p><input type="radio" name="conName" value="{{conList.id}}"><span>{{conList.content}}</span></p>
		{{/each}}
	</div>
	<div class="smsList">
		{{each templete_types.templete_sms as conList i}}
			<p><input type="radio" name="conName" value="{{conList.id}}"><span>{{conList.content}}</span></p>
		{{/each}}
	</div>
	<div class="emailList">
		{{each templete_types.templete_email as conList i}}
			<p><input type="radio" name="conName" value="{{conList.id}}"><span>{{conList.content}}</span></p>
		{{/each}}
	</div>
</script>
