<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">运维人员</h4>
      </div>
      <div class="modal-body">
      	<input type="hidden" class="tabTypes" />
       <div id="send_per">
       	
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="paiSave">保存</button>
      </div>
    </div>
  </div>
</div>
<script id="sendPers" type="text/html">
	{{each groups as list index}}
	<div class="unit_send">
		<p class="unit_name">
			<span class="unit_id hide">{{list.id}}</span>
			<span class="">{{list.group_name}}</span>
		</p>
		<div class="unit_user">
			{{each list.group_workers as perlist index}}
			<div>
				<input type="checkbox" name="pers" value="{{perlist.id}}">
				<span class="persName">{{perlist.name}}</span>
			</div>
			
			{{/each}}
		</div>
	</div>
	{{/each}}
</script>
