<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="notice_info">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">公告信息管理</span>
		</div>
		<!--<div class="navMain public_search">
			<form class="form-inline">
				<div class="form-group">
	                <label for=""></label>
	                <input type="text" class="form-control">
	            </div>

			</form>
     	</div>-->
     	
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			<button class="btn new_add_btn" id="info_add" data-toggle="modal" data-target="#addModal" type="button">
				增加信息
			</button>
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>创建人</th>
							<th>标题</th>
							<th>发送时间</th>
							<th>下发方式</th>
							<th>状态</th>
							<th>内容</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
			</div>
			<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<!--<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> -->
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		
		<div class="clear"></div>
		<%= render 'new' %>
		<%= render 'edit' %>
		<%= render 'send' %>
	</div>
</div>
<script id="infoTables" type="text/html">
	{{each notice_infos as list index}}
		<tr>
			<td class="hide id">{{list.id}}</td>
			<td>{{list.auther}}</td>
			<td>{{list.title}}</td>
			<td>{{list.send_time}}</td>
			<td class="sendTypes">{{each list.send_type as sendTypes i}}<span>{{sendTypes}}</span>{{/each}}</td>
			<td class="status">{{list.status}}</td>
			<td>{{list.content}}</td>
			<td>{{list.created_at}}</td>
			<td>
				<a class="work_edit" data-toggle="modal" data-target="#editModal">修改</a>
				<a class="sends" data-toggle="modal" data-target="#sendModal">发送</a>
				<a class="work_delete" >删除</a>
				<div class="delete_prop" style="display: none;">
					<p>是否删除？</p>
					<button type="button" class="btn btn-primary btn-sure">确认</button>
					<button type="button" class="btn btn-cancel">取消</button>
				</div>
			</td>
		</tr>
	{{/each}}
</script>