<div id="orderLook" style="display: none;">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">工单完成详情</span>
			<button class="btn new_add_btn" id="lookBack" onclick="location=location">返回</button>
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			<div class="public_table" id="detailsTable" style="width: 100%;overflow: auto;white-space: nowrap;">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>城市</th>
							<th>站点名</th>
							<th>运维单位</th>
							<th>工单号</th>
							<th>任务周期</th>
							<th>工单类型</th>
							<th>创建人</th>
							<th>创建时间</th>
							<th>计划日期</th>
							<th>紧急程度</th>
							<th>工单状态</th>
							<th>运维人员</th>
							<th>联系方式</th>
						</tr>
					</therd>
					<tbody class="exception-list">
					</tbody>
				</table>
			</div>
			<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page2"></ul>
				<!--<select id="pagesize2" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> -->
				<div class="page_total2 left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		
	</div>
</div>
<script id="lookTable" type="text/html">
	{{each d_task_forms as lookList index}}
		<tr>
			<td>{{index+1}}</td>
			<td>{{lookList.region_code}}</td>
			<td>{{lookList.station_name}}</td>
			<td>{{lookList.unit_name}}</td>
			<td>{{lookList.job_no}}</td>
			<td>{{lookList.polling_ops_type}}</td>
			<td>{{lookList.fault_type}}</td>
			<td>{{lookList.author}}</td>
			<td>{{lookList.created_at}}</td>
			<td>{{lookList.polling_plan_time}}</td>
			<td>{{lookList.urgent_level}}</td>
			<td>{{lookList.job_status}}</td>
			<td>{{lookList.handle_man}}</td>
			<td>{{lookList.telphone}}</td>
		</tr>
	{{/each}}
</script>