<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="order_completion">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">工单完成率</span>
		</div>
		<div class="navMain public_search">
			<input type="hidden" class="searchUnit">
			<input type="hidden" class="searchCity">
			<input type="hidden" class="searchSta"/>
			<input type="hidden" class="startTime1" />
			<input type="hidden" class="endTime1" />
			<form class="form-inline">
				<div class="form-group">
					<label for="" >运维单位：</label>
		            <input type="text" class="unit_yw form-control"/>
		            <input type="hidden"  class="unit_ywID" />
				</div>
				<div class="form-group">
					<label for="">时间:</label>
			       <input type="" class="dateTimepicker create_datetime form-control"/>-
				    <input type="" class="dateTimepicker end_datetime form-control"/>
				</div>
				
				<div class="form-group">
					<label for="" >区域：</label>
			        <input type="text" id="city" class="form-control">
				</div>
				<div class="form-group">
	                <label for="">站&#x3000;&#x3000;点：</label>
	                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
		            <input type="text"  class="control_stationIDs hide" />
	                
	            </div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				</div>
			</form>
			
     	</div>
     	
     	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			<button type="button" class="putTable btn" href='javascript:void(0)' >
	                导出表格
	        </button>
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>区域</th>
							<th>站点名</th>
							<th>运维单位</th>
							<th>总工单数</th>
							<th>巡检单数</th>
							<th>异常检查单</th>
							<th>故障单数</th>
							<th>处理中</th>
							<th>待审核</th>
							<th>已完成</th>
							<th>完成率(%)</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
	     	</div>
	     	<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<!--<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> -->
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
	     	
	    </div>
	   
	<div class="clear"></div>
	<%= render :partial => 'test_iframes/sq_publicStation' %>
	<%= render :partial => 'test_iframes/public_unitYw' %>
	</div>
</div>
<%= render 'look' %>
<script id="placeTable" type="text/html">
	{{each stations as list index}}
		<tr>
			<td class="hide id">{{list.id}}</td>
			<td>{{list.region_code}}</td>
			<td>{{list.station_name}}</td>
			<td>{{list.unit_name}}</td>
			<td>{{list.task_forms_num}}</td>
			<td>{{list.task_forms_p}}</td>
			<td>{{list.task_forms_a}}</td>
			<td>{{list.task_forms_f}}</td>
			<td>{{list.task_forms_o}}</td>
			<td>{{list.task_forms_u}}</td>
			<td>{{list.task_forms_w}}</td>
			<td>{{list.task_forms_num == 0 ? '0.00' :(list.task_forms_w / list.task_forms_num*100).toFixed(2)}}%</td>
			<td>
				<a class="lookFor">详细</a>
			</td>
		</tr>
	{{/each}}
</script>
