<script id="alarmList" type="text/html">
	
		{{each hour_datas as list i}}
		<tr class="list-parent">
			<td class="station-list">{{list.data_time}}
				<span class="hide alarmid">{{list.id}}</span>
			</td>
			<td class="station-list">{{list.station_name}}</td>
			<td class="station-list">{{list.standard_num}}</td>
		    <td class="station-list">{{list.hour_num}}</td>
		    {{if list.status=='OK'}}
		    	<td class="station-list green"></td>
		    {{else}}
		    	<td class="station-list red"></td>
		    {{/if}}
	        <td class="station-list">{{(list.hour_num/list.standard_num*100).toFixed(2)}}%</td>
	        <td class="station-list">
	        	<span class="data_time none">{{list.data_time}}</span>
	        	<span class="id none">{{list.station_id}}</span>
				<a class="lookfor">查看</a>
			</td>
	    </tr>
    {{/each}}
  
</script>
