<div id="air_data_analyze_detail" style="display: none;">
	<div id="powerCutRecords">
			
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">站点5min有效数据详情</span>
			<button class="btn new_add_btn" id="detilBack" >返回</button>
		</div>
		
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			
			<div class="public_table" id="detailsTable" style="width: 100%;overflow-x: auto;">
		    	<table class="table table-bordered table-hover" style="margin-bottom: 100px;">
					<thead>
						<tr>
							<th rowspan="2">站点</th>
							<th colspan="24" class="now_time"></th>
							<th class="th_tip">
								<div class="tip">
									<span class="noData"><a></a>没有数据</span>
									<span class="abnormal"><a></a>异常</span>
									<span class="normal"><a></a>正常</span>	
								</div>
							</th>
						</tr>		
						<tr>				
							<th>0点</th>
							<th>1点</th>
							<th>2点</th>
							<th>3点</th>
							<th>4点</th>
							<th>5点</th>
							<th>6点</th>
							<th>7点</th>
							<th>8点</th>
							<th>9点</th>
							<th>10点</th>
							<th>11点</th>
							<th>12点</th>
							<th>13点</th>
							<th>14点</th>
							<th>15点</th>
							<th>16点</th>
							<th>17点</th>
							<th>18点</th>
							<th>19点</th>
							<th>20点</th>
							<th>21点</th>
							<th>22点</th>
							<th>23点</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
	     	</div>
	     	<!--<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<!--<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>-->
		</div>
		
		
		<script type="text/html" id="detail_Table">	
			{{if hours.length>0}}	
				<tr>			
					<td>{{station_name}}</td>
					{{each hours as hour index}}
						{{if hour.min_datas.length>0}}
							{{each hour.min_datas as min_data index}}
								{{if min_data.status=='OK'}}
									<td class="green look_detail"></td>		
								{{else}}
									<td class="red look_detail">
										<div class="none detail" style="white-space: nowrap;">
											<p>标准个数：{{min_data.standard_num}}</p>
											<p>实际个数：{{min_data.hour_num}}</p>
										</div>
									</td>		
								{{/if}}									
							{{/each}}	
							{{else}}
								<td class="look_detail">
									<div class="none none_detail" style="white-space: nowrap;">
										<p>标准个数：12</p>
										<p>实际个数：0</p>
									</div>
								</td>
							{{/if}}			
					{{/each}}
				</tr>	
				{{else}}
				<tr>
					<td colspan="25">暂无数据</td>
				</tr>
				{{/if}}
			
			
			
			
				
</script>


	</div>
</div>