<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="airDataAnalyze" >

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">监控有效数据统计</span>
	</div>
	<div class="navMain public_search">
		<input type="hidden" class="searchSta" />
		<input type="hidden" class="time" />
		<input type="hidden" class="status" />
		<form class="form-inline">
			<div class="form-group">
                <label for="">站&#x3000;&#x3000;点：</label>
                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            <input type="text"  class="control_stationIDs hide" />
            </div>
            <div class="form-group">
            	<label for="">时间:</label>
				<input type="text" class="dateTimepicker start_datetime form-control"/>
            </div>
            <div class="form-group">
            	<label for="">状态:</label>
				<select class="status form-control">
					<option value="">请选择状态</option>
					<option value="OK">正常</option>
					<option value="NG">异常</option>
				</select>
            </div>
            <!--<div class="form-group">
            	<label for="">报警级别:</label>
				<input type="text" id="check" class="place form-control">
				<input type="text" id="checkId" style="display: none;"/>
				<dl class="placeNews">
				<dt>
					<input type="checkbox" id="checkAll" value=""/>
					<label for="checkAll">全选</label>
				</dt>
				<dd>
				
					<div class="p"><input type="checkbox" id="item1" value="1"/><label for="item1">I级</label></div>
					<div class="p"><input type="checkbox" id="item2" value="2"/><label for="item2">II级</label></div>
					<div class="p"><input type="checkbox" id="item3" value="3"/><label for="item3">III级</label></div>
					<p class="buttons"><label id="btnSure">确定</label><label id="btnQv">取消</label></p>
				</dd>
			</dl>
            </div>-->
            <div class="form-group">
            	<button class="btn search" type="button">查询</button>
				<!--<button class="btn task" type="button">分配任务</button>-->
            </div>
		</form>
	</div>

	
	
	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	<!--站点-->	
	<%= render :partial => 'test_iframes/sq_publicStation' %>
	 <div id="public_table">
	 	<!--<div class="update" style="padding-left:20px ;">
		暂无数据
		</div>-->
		<div class="tip">
			<span class="abnormal"><a></a>异常</span>
			<span class="normal"><a></a>正常</span>	
			<div class="clear"></div>		
		</div>
	 		<div class="public_table">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>日期</th>
							<th>站点名称</th>
							<th>标准有效数据（个/小时）</th>
							<th>实际有效数据（个/小时）</th>
							<th>状态</th>
							<th>有效率（小时）</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
			</div>
			<!--分页-->
			<div>
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select>  
			</div>
			<div class="page_total left">
				<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
			</div>
			<div class="clear"></div>
	 </div>
	<!--首页展示数据-->
	<%= render 'daMoreList' %>
    
	
</div>

<!--查看-->	
	<%= render 'lookNews'%>