<!--生物用电报表-->

<div class="navTop">
	<span class="lines"></span>
	<span class="tableName Work_name"><%= @form_name %></span> | <span class="time"><%= @time %></span>
	
		<button type="button" class="btn btn-success btnNew new_add_btn" id="back" type="button" onclick="location=location">返回</button>
		<button type="button" class="btn green" id="excell" onclick="method5('energy-table','<%= @form_name %><%= @time %>')">导出表格</button>
	
</div>
<div id="public_table" >
<div class="clear"></div>
<div style="width: 50%; margin: 0 auto; ">
<table border="0" cellpadding="0" cellspacing="0" width="437" style="border-collapse:collapse;table-layout:fixed;width:328pt" id="energy-table" class="excel_table"> 
	 <colgroup>
	 	<col width="64" style="width:48pt">
		 <col width="78" style="mso-width-source:userset;mso-width-alt:2722;width:59pt">
		 <col width="64" style="width:48pt">
		 <col width="103" style="mso-width-source:userset;mso-width-alt:3584;width:77pt">
		 <col width="64" span="2" style="width:48pt">
	 </colgroup>
	 <tbody>
	 	<tr height="31" style="height:23.0pt">
		  <td colspan="6" height="31" class="xl175" width="437" style="height:23.0pt;
		  width:328pt"><%= @form_name %></td>
		</tr>
		<tr height="30" style="mso-height-source:userset;height:22.5pt">
		  <td colspan="6" height="30" class="xl176" style="
		  height:22.5pt">日期：<span class="time"><%= @time %></span></td>
		</tr>
		 <tr height="48" style="mso-height-source:userset;height:36.0pt">
			  <td height="48" class="xl80" style="height:36.0pt;">部门<ruby><font class="font6"><rt class="font6"></rt></font></ruby></td>
			  <td class="xl68" style="">项目</td>
			  <td class="xl76" width="64" style="width:48pt">日用电量(度)</td>
			  <td class="xl76" width="103" style="width:77pt">月用电量累计<span style="mso-spacerun:yes">&nbsp; </span>（度）<ruby><font class="font6"><rt class="font6"></rt></font></ruby></td>
			  <td class="xl67" style="">日单耗</td>
			  <td class="xl67" style="">月单耗</td>
		 </tr>
		  
		 <% if @region_datas  %>
			<% if @region_datas.length>0 %>
				<% @region_datas.each_with_index do | item,index | %>
				<tr height="45" style="mso-height-source:userset;height:33.75pt">
					<td height="90" rowspan="2" class="xl72" style="height:67.5pt;"><%= @type_name %><ruby><font class="font6"><rt class="font6"></rt></font></ruby></td>
					<td class="xl67" style=""><%= item[:name] %><ruby><font class="font6"><rt class="font6"></td>
					<td class="xl65" style=""><%= item[:field_value] %></td>
					<td class="xl65" style=""><%= item[:month_value] %></td>
					<td class="xl67" align="right" style=""><%= item[:daily_piece] %></td>
					<td class="xl67" align="center" style=""><%= item[:month_piece] %></td>
				</tr>
				<% end %>
			<% end %>
		<% end %>
		
		 <tr height="45" style="mso-height-source:userset;height:33.75pt">
		 <!--<td height="90" class="xl72" style="border-bottom:.5pt solid black;
		  height:67.5pt;border-top:none"></td>-->
		  <td height="45" class="xl67" style="height:33.75pt;">成品入库量</td>
		  <td class="xl67" align="right" style=""><%= @finished_products1 %></td>
		  <td class="xl67" align="right" style=""><%= @finished_products2 %></td>
		  <td colspan="2" class="xl150" style="">　</td>
		 </tr>
		 <!--[if supportMisalignedColumns]-->
		 <tr height="0" style="display:none">
		  <td width="64" style="width:48pt"></td>
		  <td width="78" style="width:59pt"></td>
		  <td width="64" style="width:48pt"></td>
		  <td width="103" style="width:77pt"></td>
		  <td width="64" style="width:48pt"></td>
		  <td width="64" style="width:48pt"></td>
		 </tr>
	 <!--[endif]-->
	</tbody>
</table>
</div>
</div>

