<!--蒸汽-->
<div class="navTop">
	<span class="lines"></span>
	<span class="tableName Work_name"><%= @form_name %></span> | <span class="time"><%= @time %></span>
	
		<button type="button" class="btn btn-success btnNew new_add_btn" id="back" type="button" onclick="location=location">返回</button>
		<button type="button" class="btn green" id="excell" onclick="method5('energy-table','<%= @form_name %><%= @time %>')">导出表格</button>
	
</div>
<div id="public_table" >

<div class="clear"></div>
<table border="1" cellpadding="0" cellspacing="0" id="energy-table" class="excel_table">
<tbody><tr height="31" style="height:23.0pt">
  <td colspan="2" height="31" class="xl7219455" width="581" style="height:23.0pt;
  width:437pt"><%= @form_name %></td>
 
 </tr>
 <tr height="36" style="mso-height-source:userset;height:27.0pt">
  <td colspan="2" height="36" class="xl7319455" style="height:27.0pt">日期：<span class="time"><%= @time %></span></td>
 </tr>
 <tr >
  <td width="10%" align='center'></td>
  <td width="90%" align='center'>
  	<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%;">
  		<tr>
  			<td width="10%" align='center'>部门</td>
  			<td width="90%" align='center'>
  		
  				<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%;">
  					<tr>
		  				<td width="14%" align='center'>岗位</td>
						  <td width="14%" align='center'>日用量</td>
						  <td width="14%" align='center'>月累积量</td>
						  <td width="14%" align='center'>日单耗</td>
						  <td width="14%" align='center'>月单耗</td>
						  <td width="14%" align='center'>日产量</td>
						  <td width="16%" align='center'>月累积产量</td>
				  </tr>
				  </table>
  			</td>
  		</tr>
  	</table>
  </td>

  
 </tr>
    <% if @region_datas  %>
		<% if @region_datas.length>0 %>
			<% @region_datas.each_with_index do | item,index | %>
				 <tr >
  					<td width="10%" align='center'><%= item[:type_name] %></td>
  					<td width="90%" align='center'>
  						<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%;">
  							<% if item[:data]  %>
								<% if item[:data].length>0 %>
									<% item[:data].each_with_index do | item1,i | %>
									<tr>
										<td width="10%" align='center'><%= item1[:region_name] %></td>
										<td width="90%" align='center'>
											<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%;">
												<% if item1[:data]  %>
													<% if item1[:data].length>0 %>
														<% item1[:data].each_with_index do | item2,i | %>
														<tr>
															<td width="14%" align='center'><%= item2[:name] %></td>
															<td width="14%" align='center'><%= item2[:field_value] %></td>
															<td width="14%" align='center'><%= item2[:month_sum] %></td>
															<% if item2[:field_code] =="steam_1" ||  item2[:field_code] =="steam_2" || item2[:field_code] =="steam_3" || item2[:field_code] =="steam_5" || item2[:field_code] =="steam_6"  || item2[:field_code] =="steam_10" || item2[:field_code] =="steam_11" %>
															<td colspan="4"></td>
															<% elsif item2[:field_code] =="steam_4" || item2[:field_code] =="steam_7" || item2[:field_code] =="steam_9" || item2[:field_code] =="steam_8"  %>
																<td width="14%" align='center'><%= item2[:day_expend] %></td>
																<td width="14%" align='center'><%= item2[:month_expend] %></td>
																<td colspan="2" width="30%"></td>
															<% else %>
																<td width="14%" align='center'><%= item2[:day_expend] %></td>
																<td width="14%" align='center'><%= item2[:month_expend] %></td>
																<td width="14%" align='center'><%= item2[:day_totle] %></td>
																<td width="16%" align='center'><%= item2[:month_totle] %></td>
															<% end %>
															

														</tr>
														<% end %>
													<% end %>
												<% end %>
											</table>
										</td>
									</tr>
									<% end %>
								<% end %>
							<% end %>
  							
  						</table>
  					</td>
  				</tr>
			<% end %>
		<% end %>
	<% end %>

</tbody>
</table>
</div>

