<!--排污-->
<div class="navTop">
	<span class="lines"></span>
	<span class="tableName Work_name"><%= @form_name %></span> | <span class="time"><%= @time %></span>
	
		<button type="button" class="btn btn-success btnNew new_add_btn" id="back" type="button" onclick="location=location">返回</button>
		<button type="button" class="btn green" id="excell" onclick="method5('pollution-table','<%= @form_name %><%= @time %>')">导出表格</button>
	
</div>
<div id="public_table" >


<div class="clear"></div>
 <div style="width: 90%; margin: 0 auto; ">
<table id="pollution-table" border="1" cellpadding="0" cellspacing="0" width="800" class="excel_table">

	<tbody class="exception-list">
		<tr height="31" style="height:23.0pt">
		  <td colspan="2" height="31" class="xl173" width="448" style="height:23.0pt;
		  width:336pt"><%= @form_name %></td>
		 </tr>
		 <tr height="19" style="height:14.0pt">
		  <td colspan="2" class="xl174" style="height: 30px;line-height: 30px;">日期：<span class="time"><%= @time %></span></td>
		 </tr>
		 <tr>
		  <td rowspan="15" height="285"><%= @type_name %></td>
		  <td>
		  	<table class="" frame="void" border="1" cellpadding="0" cellspacing="0">
		  		<td width="75">部门</td>
		  		<td>
		  			<table frame="void" border="1" cellpadding="0" cellspacing="0">
		  				<tr>
		  					<td width="211">项目</td>
						  <td width="110">用量</td>
						  <td width="150">月累积用量</td>
						  <td width="96">日单耗</td>
						  <td width="105">月单耗</td>
		  				</tr>
		  			</table>
		  		</td>
				  
		  	</table>
		  </td>
		  
		 </tr>	
		<tr>
			
			<td>
				<table class="" frame="void" border="1" cellpadding="0" cellspacing="0">
					<% if @region_datas  %>
						<% if @region_datas.length>0 %>
							<% @region_datas.each_with_index do | item,index | %>
							<tr>
								<td width="75"><%= item[:region_name] %></td>
								<td>
									<table class="" frame="void" border="1" cellpadding="0" cellspacing="0">
										<% if item[:data]  %>
											<% if item[:data].length>0 %>
												<% item[:data].each_with_index do | item1,i | %>
													<tr>
														<td width="211"><%= item1[:name] %></td>
														<td width="110"><%= item1[:field_value] %></td>
														<td width="150"><%= item1[:month_value] %></td>
														<td width="96"><%= item1[:daily_piece] %></td>
														<td width="105"><%= item1[:month_piece] %></td>
													</tr>
												<% end %>
											<% end %>
										<% end %>
									</table>	
								</td>
							</tr>
							<% end %>
						<% end %>
					<% end %>
					<tr>
						
						<td rowspan="3">公司汇总</td>
						<td>
							<table frame="void" border="1" cellpadding="0" cellspacing="0">
								<tr>
									
									<td width="210">成品入库量</td>
									<td width="110"><%= @finished_products1 %></td>
									<td width="150"><%= @finished_products2 %></td>
									<td width="96"></td>
									<td width="96"></td>
								</tr>
							</table>
						</td>
						
					</tr>
					<tr>
					
						<td>
							<table frame="void" border="1" cellpadding="0" cellspacing="0">
								<tr>
									
									<td width="210">低浓度水</td>
									<td width="110"><%= @low_water %></td>
									<td width="150"><%= @low_month_sum %></td>
									<td width="96"><%= @low_water_piece %></td>
									<td width="96"><%= @day_low_water_piece %></td>
								</tr>
							</table>
						</td>
						
					</tr>
					<tr>
						
						<td>
							<table frame="void" border="1" cellpadding="0" cellspacing="0">
								<tr>
									
									<td width="210">高浓度水</td>
									<td width="110"><%= @high_water %></td>
									<td width="150"><%= @hig_month_sum %></td>
									<td width="96"><%= @hig_water_piece %></td>
									<td width="96"><%= @month_hig_water_piece %></td>
								</tr>
							</table>
						</td>
						
					</tr>
				</table>
				
			</td>
		</tr>
		
		
		

				
	</tbody>
</table>
</div>
</div>

