<!--循环水-->
<div class="navTop">
	<span class="lines"></span>
	<span class="tableName Work_name"><%= @form_name %></span> | <span class="time"><%= @time %></span>
	
		<button type="button" class="btn btn-success btnNew new_add_btn" id="back" type="button" onclick="location=location">返回</button>
		<button type="button" class="btn green" id="excell" onclick="method5('energy-table','<%= @form_name %><%= @time %>')">导出表格</button>
	
</div>
<div id="public_table" >


<div class="clear"></div>
<div style="width: 50%; margin: 0 auto; ">
<table id="energy-table" border="1" cellpadding="0" cellspacing="0" class="excel_table">

	<tbody >
		<tr>
			<td colspan="2" height="37" class="xl173" width="457" style="height:27.75pt;
  width:344pt"><%= @form_name %></td>
		</tr>
		<tr>
			<td colspan="2" height="38" class="xl174" style="height:28.5pt">日期：<span class="time"><%= @time %></span></td>
		</tr>
		<tr>
			<td width="10%" align='center'>车间</td>
			<td width="90%" align='center'>
				<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%">
					<tr>
						<th width="20%" align='center'>项目</th>
						<th width="20%" align='center'>日水电量（m3）</th>
						<th width="20%" align='center'>月累积用水量（m3）</th>
						<th width="20%" align='center'>日单耗</th>
						<th width="20%" align='center'>月单耗</th>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td width="10%" align='center'><%= @type_name %></td>
			<td width="90%" align='center' style="vertical-align:text-top">
				<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%">
					<% if @region_datas  %>
						<% if @region_datas.length>0 %>
							<% @region_datas.each_with_index do | item,index | %>
							<tr>
								<td width="20%" align='center'><%= item[:name] %></td>
								<td width="20%" align='center'><%= item[:field_value] %></td>
								<td width="20%" align='center'><%= item[:month_value] %></td>
								<td width="20%" align='center'></td>
								<td width="20%" align='center'></td>
							</tr>
							<% end %>
						<% end %>
					<% end %>
					<tr>
						
						<td width="20%" align='center'>合计</td>
						<td width="20%" align='center'><%= @daily_sum%></td>
						<td width="20%" align='center'><%= @month_sum%></td>
						<td width="20%" align='center'><%= @daily_piece%></td>
						<td width="20%" align='center'><%= @month_piece%></td>
					</tr>
					<tr>
						<td width="20%" align='center'>成品入库量</td>
						<td width="20%" align='center'><%= @finished_products1 %></td>
						<td width="20%" align='center'><%= @finished_products2 %></td>
						<td width="20%" align='center'></td>
						<td width="20%" align='center'></td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
