<!--一次水-->
<div class="navTop">
	<span class="lines"></span>
	<span class="tableName Work_name"><%= @form_name %></span> | <span class="time"><%= @time %></span>
	
		<button type="button" class="btn btn-success btnNew new_add_btn" id="back" type="button" onclick="location=location">返回</button>
		<button type="button" class="btn green" id="excell" onclick="method5('energy-table','<%= @form_name %><%= @time %>')">导出表格</button>
	
</div>
<div id="public_table" >
<div class="clear"></div>
 <div style="width: 50%; margin: 0 auto; ">
<table  id="energy-table" border="1" cellpadding="0" cellspacing="0" class="once-water excel_table">
	
	<tbody class="exception-list">
		<tr style="background: #fff;font-size: 18px;">
			<td colspan="2"><%= @form_name %></td>
		</tr>
		<tr style="background: #fff;">
			<td colspan="2" style="text-align:left">日期：<span class="time"><%= @time %></span></td>
		</tr>
		<tr>
			<td width="64">项目</td>
			<td>
				<table frame="void" border="1" cellpadding="0" cellspacing="0">
					<tr>
						<td width="84">分表</td>
						<td width="107">日水电量（m3）</td>
						<td width="130">月累积用水量 （m3）</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td  width="64"><%= @type_name %></td>
			<td>
				<table frame="void" border="1" cellpadding="0" cellspacing="0">
					<% if @region_datas  %>
						<% if @region_datas.length>0 %>
							<% @region_datas.each_with_index do | item,index | %>
							<tr>
								<td width="84"><%= item[:name] %></td>
								<td width="107" class="fieldValue"><%= item[:field_value] %></td>
								<td width="130" class="monthValue"><%= item[:month_value] %></td>
							</tr>
							<% end %>
						<% end %>
					<% end %>
					<tr>
						<td width="84">合计</td>
						<td width="107" class="field-sum"></td>
						<td class="month-sum"></td>
						
					</tr>
					<tr>
						<td width="84">成品入库量</td>
						<td width="107"><%= @finished_products1 %></td>
						<td><%= @finished_products2 %></td>
					</tr>
				</table>
			</td>
		</tr>			
		
	</tbody>
</table>
</div>
</div>
