
<table class="table-bordered table table-hover" id="indexTable">
	<thead>
		<tr>
			<th>车间</th>
			<th>日期</th>
			
			<th>操作</th>
		</tr>
	</thead>
	<tbody class="exception-list">
		<% if @region_datas %>
			<% if @region_datas.length>0 %>
				<% @region_datas.each_with_index do | item,index | %>
					<tr>
						<td class="hide code"><%= item[:code] %></td>
						<td><%= item[:form_name] %></td>
						<td class="date_time"><%= item[:date_time] %></td>
						<td><a class="lookFor">详情</a></td>
					</tr>
				<% end %>
			<% else %>
				<tr><td class="tdName" colspan="3">暂无数据</td></tr>
			<% end %>
		<% else %>
			<tr><td class="tdName" colspan="3">暂无数据</td></tr>
		<% end %>	
	</tbody>
</table>
