<div id="developing" style="width: 100%;height:100%;text-align: center;background: #ffffff;position: relative;">
	<div style="position: absolute;top: 28%;left: 45%;">
		<p><img src="/images/developing.png" width="130" ></p>
		<p style="font-size: 16px;margin-top: -12px;">正在开发中……</p>	
	</div>
</div>