<!--增加模板-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">信息增加</h4>
      </div>
      <div class="modal-body">


			  <form class="form-horizontal" id="add_form">
			  	<div class="form-group">
						<label class="col-xs-2 control-label">模板名称:</label>
						<div class="col-xs-5">
							<input  class="form-control project_name" required="required" name="name" autofocus="autofocus" type="text"  />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">模板类型:</label>
						<div class="col-xs-5" id="templete_type">
							<label><input type="radio" value="短信" name="type">短信</label>
							<label><input type="radio" value="邮件" name="type">邮件</label>
							<label><input type="radio" value="APP" name="type">APP</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">标题:</label>
						<div class="col-xs-5">
							<input  class="form-control project_title" required="required" name="title" autofocus="autofocus" type="text"  />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">内容:</label>
						<div class="col-xs-5">
							<textarea name="content" rows="" cols="" class="form-control content"></textarea>
						</div>
					</div>

				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="addSave">保存</button>
      </div>
    </div>
  </div>
</div>
