<script id="temp_table" type="text/html">
	{{each templetes as list index}}
		<tr>
			<td class="hide id">{{list.id}}</td>
			<td>{{list.create_user}}</td>
			<td>{{list.name}}</td>
			<td>{{list.title}}</td>
			<td>{{list.templete_type}}</td>
			<td>{{list.content}}</td>
			<td>{{list.created_at}}</td>
			<td>
				<a class="edit" data-toggle="modal" data-target="#editModal">修改</a>
				<a class="delete" >删除</a>
				<div class="delete_prop" style="display: none;">
					<p>是否删除？</p>
					<button type="button" class="btn btn-primary btn-sure">确认</button>
					<button type="button" class="btn btn-cancel">取消</button>
				</div>
		</td>
		</tr>
	{{/each}}
</script>
