<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="templete_manages">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">公告模块管理</span>
		</div>

		<div id="public_table">
					<button class="btn new_add_btn" id="work_add" data-toggle="modal" data-target="#addModal" type="button" style="margin-bottom: 5px;float: right;">
						增加信息
					</button>
			<div class="public_table">
				<table class="table table-bordered table-hover">
					<thead>
			       	<tr>
			       		<th>创建人</th>
			       		<th>模板名称</th>
			       		<th>标题</th>
			       		<!--<th>类型</th>-->
			       		<th>模板类型</th>
			       		<th>内容</th>
			       		<th>创建时间</th>
			       		<th>操作</th>
			       	</tr>
			       </thead>
			       <tbody class="exception-list">
			       	
			       </tbody>
				</table>
			</div>
			<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<!--<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> -->
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		
		
	<div class="clear"></div>
<%= render 'table' %>
<%= render 'new' %>
<%= render 'edit' %>
	</div>
</div>