<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">角色权限增加</h4>
      </div>
      <div class="modal-body">
		<div id="manage">
			<div class="content">
				<div class="content-outside">
					
					<div class="content-inside">
						<div class="line-top">
							<p>请选择以下表单</p>
						</div>
						<div class="role_lines">
							<span>角色名称</span>
							<input class="place" id="roleName" placeholder="请输入角色名称" required="required" type="text" name="rol_name" >
							<label for="roleName" id="roleName_Tip">请输入角色名称</label>
						</div>
						<div class="role_lines">
							<span>是否启用</span>
						<!--	<a href="javascript:">-->
								<b class="hide"></b>
								<span class="right-radio">
									<input id="optionsRadios1" type="radio" value="1" checked="checked" name="s_role_msg[valid_flag]">是
									
								</span>
								<span class="right-radio">
									<input id="optionsRadios2" type="radio" value="0" name="s_role_msg[valid_flag]">否
								</span>
								
							<!--</a>-->
						</div>
						<div class="role_lines">
							<div class="line-top">
								<p>权限选项</p>
							</div>
						</div>
						<ul class="left-list list">
						</ul>
						<div>
							<input type="text" name="func_code_true" class="showId hides"/>
							<input type="text"name="func_code_false" class="hideId hide" />
						</div>
					</div>
				</div>
			</div>
		</div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure " id="roleSubmit">保存</button>
      </div>
    </div>
  </div>
</div>

