<!--编辑权限-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">角色权限修改</h4>
      </div>
      <div class="modal-body">
			 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="editSub">保存</button>
      </div>
    </div>
  </div>
</div>
<script id="editTemp" type="text/html">
	<div id="s_role_edit">
		<div class="content">
				<div class="content-outside">
					
					<div class="content-inside">
						<div class="line-top">
							<p>请选择以下表单</p>
						</div>
						<div class="role_lines">
							<span>角色名称</span>
							    <input class="place"  type="text" name="rol_name" id="role_name_edit" value="{{editData.role_name}}" required="required">
							    <label for="role_name" id="roleName_Tip_edit">可修改角色名称</label>
						</div>
						<div class="role_lines">
							<span>是否启用</span>
							<!--<a href="javascript:">-->
								<b class="hide"></b>
								<span class="right-radio">
									<input id="Radios1" class="rad" type="radio" value="{{editData.valid_flag}}"  name="valid_flag">
										<small>是</small>
								</span>
								<span class="right-radio">
									<input id="Radios2" class="rad" type="radio" value="{{editData.valid_flag}}" name="valid_flag">
										<small>否</small>
								</span>
							<!--</a>-->
						</div>
						<div class="role_lines">
							<div class="line-top">
								<p>权限选项</p>
							</div>
						</div>
						<!--无首页-->
						<ul class="list list1" style="display: none;">
							{{each editData.funcs as edit index}}
								<li class="che1 che">
									<p>
										<input type="checkbox" value="{{edit.id}}">
										<span>{{edit.func_name}}</span>
										<i>{{edit.id}}</i>
									</p>
									{{each edit.chil as editChil index}}
									<ul class="text">
										<li>
											<input type="checkbox" value="{{editChil.id}}">
											{{editChil.func_name}}
											<i>{{editChil.id}}</i>
										</li>
									</ul>
									{{/each}}
								</li>
							{{/each}}
							
						</ul>
						<!--有首页-->
						<ul class="list list2">
							
						</ul>
						<div>
							<input type="text" name="func_code_true" class="showId hides"/>
							<input type="text"name="func_code_false" class="hideId hide" />
							<!--<input type="submit" name="commit" value="提交" class="btn btn-primary roleSubmit" id="editSub">-->
						</div>
					</div>
				</div>
			</div>
	</div>
</script>