
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>角色名称</th>
				<th>有效标志</th>
				<th>编辑</th>
			</tr>
		</thead>
		<tbody class="role_msg">	
			
		</tbody>
	</table>   

<script id="self_role" type="text/html">
	{{each s_role_msgs as data index}}
		<tr>
			<td class="hide id">{{data.id}}</td>
			<td class="role_name">
				{{data.role_name}}
			</td>
			
			<td class="biao_use">{{ if data.valid_flag == '1'}}有效{{else}}无效{{/if}}</td>
			
			<td class="role_edit" data-toggle="modal" data-target="#editModal">
				<img src="<%= image_path("edit.png") %>"/>
			</td>
		</tr>
	{{/each}}
	{{each location as locat i}}
		<tr class="new">
			<td>{{location.id}}</td>
			<td>{{location.role_name}}</td>
			<td></td>
		</tr>
	{{/each}}
</script>