<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<!--角色权限-->
<div class="roleBox">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">角色权限</span>
		</div>
		<div id="public_table">
			<div class="roleTop">
				<button class="btn new_add_btn" id="juri" data-toggle="modal" data-target="#addModal">增加权限 </button>
			</div>
			<div class="public_table">
				<%= render 'table'%>
			</div>
			
		</div>
		<div class="page_list">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		
	</div>

	<!-- 遮罩层 -->
	<!--<div class="public_box">
		<div class="public_area">
			
			<div class="area_content">
	
			</div>
			
		</div>
	</div>-->
</div>		   
<!--添加角色-->
<div id="role_edit">
	<div class="role_area">
		<h4>添加角色
		<div class="right close">X</div>
		</h4>

		<div class="edit_content">
		<div class="role">
			<label>角色名称：</label>
			<input type="text" placeholder="请输入角色名称" />
		</div>
			<div class="role">
				<label>角色代码：</label>
				<input type="text" />
			</div>
			<div class="role">
				<label> 有效标志：</label>
				<input type="radio" name="radios" id="Radios1" value="有效" checked>
				<span>有效</span>
				<input type="radio" name="radios" id="Radios2" value="无效">
				<span>无效</span>
			</div>
			<div class="role">
				<label>与根节点距离：</label>
				<input type="text" />
			</div>
			<div class="role">
				<label>序列号吗：</label>
				<input type="text" />
			</div>
		</div>
		<div class="role_btn">
			<button class="btn btn-sure">确定</button>
			<button class="btn btn-cancel">取消</button>
		</div>
	</div>
</div>

<%= render 'add_role'%>
<div class="Edit">
	<%= render 'edit'%>
</div>

<script id="msg" type="text/html">
	{{each funcs as Data index}}
		<li class="che1 che">
			<p>
				<input type="checkbox" value="{{Data.id}}" name="items">
				<span>{{Data.func_name}}</span>
				<i>{{Data.id}}</i>
			</p>
			<ul class="text">
			{{each Data.chil as chilData index}}
			<li>
				<input type="checkbox" value="{{chilData.id}}" name="items">
				{{chilData.func_name}}
				<i>{{chilData.id}}</i>
			</li>
			{{/each}}
			</ul>
		</li>
	{{/each}}
</script>