<script id="dailyTable" type="text/html">
	{{each plants as list index}}
		<tr>
			<td class="id hide">{{list.id}}</td>
			<td class="name">{{list.name}}</td>
			<td>{{list.relation_type}}</td>
			<td><input type="text" class="nums" value="{{list.nums}}" placeholder="请输入数量"></td>
			<td><input type="text" class="yield" value="{{list.daily_yield}}" placeholder="请输入日收率"></td></td>
		</tr>
	{{/each}}
	
</script>