<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="daily_report">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">车间生产上报</span>
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			<p><span class="Work_name"></span><span class="time"></span><span class="state"></span></p>	
			<div class="public_table">
				<table class="table-bordered table table-hover">
					<thead>
						<tr>
							<th>物料名称</th>
							<th>消耗/产出</th>
							<th>数量(T)</th>
							<th>日收率(%)</th>
						</tr>
					</thead>
					<tbody class="exception-list">
						
					</tbody>
				</table>
				<div class="table_button">
					<button type="button" class="btn btn-success btnNew new_add_btn" id="report" type="button" >上报</button>
					<button class="btn" type="button" id="save">暂存</button>
				</div>
			</div>
		</div>
		
	</div>
</div>
<%= render 'table' %>