<script id="facilityTab" type="text/html">
	{{if day_datas.length > 0}}
		{{each day_datas as data index}}
			<tr>
				<td class="thWi">{{index + 1}}</td>
				<td>{{data.day_time}}</td>
				<td>{{data.province}}</td>
				<td>{{data.city}}</td>
				<td>{{data.station_name}}</td>
				<td>{{data.item_name}}</td>
				<td>{{data.item_label}}</td>
				<td>{{data.begin_time}}</td>
				<td>{{data.end_time}}</td>
			</tr>
		{{/each}}
	{{else}}
      <tr>
      	    <td colspan="9">暂无数据</td>
      </tr>
    {{/if}}
</script>