<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div class="fault_day_reports reports">
	
	<div class="public_title">
		<img src=""/>
		<span>您的当前位置:设备运行故障日报</span>
	</div>
	<div class="public_search">
		<label>选择省份:</label>
		<select class="province">
			<script id="province" type="text/html">
				
				<option value="">请选择省份</option>
				{{each proviences as prov index}}
					<option value="{{prov.zone_name}}">{{prov.zone_name}}</option>
				{{/each}}
			</script>
		</select>
		
		<label for="">选择时间:</label>
		<input name="start_date" type="text" class="dateTimepicker start_time" />
		<button class="btn search">查询</button>
		<a type="button" class="putTable" href='javascript:void(0)' >导出表格</a>
	</div>
	<div class="public_table ajustTable">
		<div class="tableScoll">
			<table class="table table-bordered table-hover tables">
				<thead>
		       	<tr>
		       		<th class="thWi">序号</th>
		       		<th>时间</th>
		       		<th>省份</th>
		       		<th>城市</th>
		       		<th>点位名称</th>
		       		<th>质控因子</th>
		       		<th>故障标识</th>
					<th>开始时间</th>
					<th>结束时间</th>
		       		
		       	</tr>
		      
		       </thead>
			</table>
		</div>
		<div class="abnormal_table">
			<table class=" table table-bordered table-hover">
				<tbody class="exception-list">
				</tbody>
		    </table>
		</div>
	</div>
	
	<%= render 'facilityTab' %>
</div>