  <form class="form-horizontal">
    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">菜单代码</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="firstname" name="s_func_msg[func_code]"
               placeholder="请输入名字" value="<%= @func_msg.func_code %>">
      </div>
    </div>
    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">菜单名称</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="firstname"   name="s_func_msg[func_name]"
               placeholder="请输入名字" value="<%= @func_msg.func_name %>">
      </div>
    </div>
    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">父节点ID</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="firstname"  name="s_func_msg[father_func_code]"
               placeholder="父节点ID" value="<%= @func_msg.father_func_id %>">
      </div>
    </div>
    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">菜单链接</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="firstname"  name="s_func_msg[func_url]"
               placeholder="请输入名字" value="<%= @func_msg.func_url %>">
      </div>
    </div>
    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">根排序</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="firstname"  name="s_func_msg[root_distance]"
               placeholder="请输入名字" value="<%= @func_msg.root_distance %>">
      </div>
    </div>
    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">排序</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="firstname"  name="s_func_msg[queue_index]"
               placeholder="请输入名字" value="<%= @func_msg.queue_index %>">
      </div>
    </div>
  </form>
