<table class="table table-hover">
  <caption>菜单栏目管理</caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>菜单代码</th>
    <th>菜单名称</th>
    <th>父节点ID</th>
    <th>连接</th>
    <th>根排序</th>
    <th>排序</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @funcs.each do |func| %>
      <tr>
        <td><%= func.id %></td>
        <td><%= func.func_code %></td>
        <td><%= func.func_name %></td>
        <td><%= func.father_func_id %></td>
        <td><%= func.func_url %></td>
        <td><%= func.root_distance %></td>
        <td><%= func.queue_index %></td>
        <td>
          <button class="btn btn-primary btn-md" data-toggle="modal" onclick="modal_show(<%= func.id %>)">
            编辑
          </button>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>