<div id="excell-table">
	<div class="table_title">
		<p><span class="Work_name"><%= @form_name %></span><!--<span class="time"><%= @data_time %></span><span class="state"></span>--></p>	

		<button type="button" class="btn new_add_btn" id="excell" onclick="method5('company-table','<%= @form_name %><%= @data_time %>')">导出表格</button>
	</div>
	<div class="clear"></div>
<div style=" margin: 0 auto; ">
	    		<table border="1" cellpadding="0" cellspacing="0" id="company-table" class="excel_table" style="width: 100%;">
	    			
					<tbody>
						<tr>
							<td colspan="2" style="height: 27.75pt;width: 344pt;"><%= @form_name %></td>
						</tr>
						<tr>
							<td colspan="2" height="38">日期：<%= @data_time %></td>
						</tr>
						<tr>
							<td width="10%" align='center'>车间</td>
							<td width="90%" align='center'>
								<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
									<tr>
										<td width="10%" align='center'>项目</td>
									    <td width="10%" align='center'>日产量(T)</td>
									    <td width="10%" align='center'>月产量累计  （T）</td>
									    <td width="10%" align='center'>日收率(%)</td>
									    <td width="60%" align='center'>中间体质量数据</td>
									   
									</tr>
								</table>
							</td>
							
					    </tr>
					    <tr>
					    	<td width="10%" align='center'>发酵车间</td>
					    	<td width="90%" align='center' style="vertical-align:text-top">
					    		<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%">
					    			<% if @region_datas  %>
										<% if @region_datas.length>0 %>
											<% @region_datas.each_with_index do | item,index | %>
											<tr>
												<td width="10%" align='center'><%= item[:name] %></td>
												<td width="10%" align='center'><%= item[:nums] %></td>
												<td width="10%" align='center'><%= item[:month_value] %></td>
												<td width="10%" align='center'><%= item[:daily_yield] %></td>
												<td width="60%" align='center'>
													<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
															<% if item[:data][0]  %>
																<% if item[:data][0].length>0 %>
																	
																	<tr>
																		<% if  item[:code] == "TF" %>
																		<td width="35%"><%= item[:data][0][:technic_01] %></td>
																		<td width="13%"><%= item[:data][0][:technic_02] %></td>
																		<td width="13%"><%= item[:data][0][:technic_03] %></td>
																		<td width="13%">---</td>
																		<td width="13%">---</td>
																		<td width="13%">---</td>
																		<% elsif item[:code] == "TY" %>
																		<td width="35%"><%= item[:data][0][:technic_01] %></td>
																		<td width="13%"><%= item[:data][0][:technic_04] %></td>
																		<td width="13%"><%= item[:data][0][:technic_05] %></td>
																		<td width="13%"><%= item[:data][0][:technic_06] %></td>
																		<td width="13%">---</td>
																		<td width="13%">---</td>
																		<% elsif item[:code] == "FJY" %>
																		<td width="35%"><%= item[:data][0][:technic_01] %></td>
																		<td width="13%"><%= item[:data][0][:technic_07] %></td>
																		<td width="13%"><%= item[:data][0][:technic_08] %></td>
																		<td width="13%"><%= item[:data][0][:technic_06] %></td>
																		<td width="13%">---</td>
																		<td width="13%">---</td>
																		<% else %>
																			<td width="35%"><%= item[:data][0][:technic_01] %></td>
																			<td width="13%"><%= item[:data][0][:technic_09] %></td>
																			<td width="13%"><%= item[:data][0][:technic_10] %></td>
																			<td width="13%"><%= item[:data][0][:technic_11] %></td>
																			<td width="13%"><%= item[:data][0][:technic_12] %></td>
																			<td width="13%">---</td>
																		<%end %>
																	</tr>
																	
																<% end %>
															<% end %>
															<% if item[:data][1][:data]  %>
																<% if item[:data][1][:data].length>0 %>
																	<% item[:data][1][:data].each_with_index do | item2,i | %>
																	<tr>
																		
																		<% if  item[:code] == "TF" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																		<td width="13%"><%= item2.technic_02 %></td>
																		<td width="13%"><%= item2.technic_03 %></td>
																		<td width="13%">---</td>
																		<td width="13%">---</td>
																		<td width="13%">---</td>
																		<% elsif item[:code] == "TY" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																		<td width="13%"><%= item2.technic_04 %></td>
																		<td width="13%"><%= item2.technic_05 %></td>
																		<td width="13%"><%= item2.technic_06 %></td>
																		<td width="13%">---</td>
																		<td width="13%">---</td>
																		<% elsif item[:code] == "FJY" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																		<td width="13%"><%= item2.technic_07 %></td>
																		<td width="13%"><%= item2.technic_08 %></td>
																		<td width="13%"><%= item2.technic_06 %></td>
																		<td width="13%">---</td>
																		<td width="13%">---</td>
																		<% else %>
																			<td width="35%"><%= item2.technic_01 %></td>
																			<td width="13%"><%= item2.technic_09 %></td>
																			<td width="13%"><%= item2.technic_10 %></td>
																			<td width="13%"><%= item2.technic_11 %></td>
																			<td width="13%"><%= item2.technic_12 %></td>
																			<td width="13%">---</td>
																		<%end %>
																	</tr>
																	<% end %>
																<% end %>
															<% end %>
														
													</table>
												</td>
											</tr>
											<% end %>
										<% end %>
									<% end %>
									<tr>
										<td width="10%" align='center'>总收率</td>
										<td width="10%" colspan="3"><%= @total_yield_fj %></td>
										<td></td>
									</tr>
									<tr>
							
										<td width="10%" align='center' rowspan="2">蒸汽</td>
										<td width="10%" align='center'>日用量</td>
										<td width="10%" align='center'>累计用量</td>
										<td width="10%" align='center'>日单耗</td>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
												<tr>
													<td width="35%">月单耗</td>
													<td colspan="5"></td>
												</tr>
											</table>
										</td>
										
									</tr>
									<tr>
										
										<td width="10%" align='center'><%= @day_steam_fj %></td>
										<td width="10%" align='center'><%= @steam_month_sum_fj %></td>
										<td width="10%" align='center'><%= @day_expend_fj %></td>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
												<tr>
													<td width="35%"><%= @month_expend_fj %></td>
													<td colspan="5"></td>
												</tr>
											</table>
											
										</td>
									
									</tr>
					    		</table>
					    	</td>
					    </tr>
						<tr>
					    	<td width="10%" align='center'>合成车间</td>
					    	<td width="90%" align='center' style="vertical-align:text-top" >
					    		<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%">
					    			<% if @region_datas2  %>
										<% if @region_datas2.length>0 %>
											<% @region_datas2.each_with_index do | item,index | %>
											<tr>
												<td width="10%" align='center'><%= item[:name] %></td>
												<td width="10%" align='center'><%= item[:nums] %></td>
												<td width="10%" align='center'><%= item[:month_value] %></td>
												<td width="10%" align='center'><%= item[:daily_yield] %></td>
												<td width="60%" align='center'>
													<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%">
															<% if item[:data][0]  %>
																<% if item[:data][0].length>0 %>
																	
																	<tr>
																		<% if  item[:code] == "LJ" %>
																		<td width="35%"><%= item[:data][0][:technic_01] %></td>
																		<td width="13%"><%= item[:data][0][:technic_09] %></td>
																		<td width="13%"><%= item[:data][0][:technic_10] %></td>
																		<td width="13%"><%= item[:data][0][:technic_11] %></td>
																		<td width="13%"><%= item[:data][0][:technic_12] %></td>
																		<td width="13%">---</td>
																		<% elsif item[:code] == "steam_1" %>
																		<td colspan="6"></td>
																		<% elsif item[:code] == "CP" %>
																		<td width="35%"><%= item[:data][0][:technic_01] %></td>
																		<td width="13%"><%= item[:data][0][:technic_13] %></td>
																		<td width="13%"><%= item[:data][0][:technic_12] %></td>
																		<td width="13%"><%= item[:data][0][:technic_14] %></td>
																		<td width="13%"><%= item[:data][0][:technic_15] %></td>
																		<td width="13%"><%= item[:data][0][:technic_16] %></td>
																		<%end %>
																	</tr>
																	
																<% end %>
															<% end %>
															

														 <% if item[:data][1]  %>
																<% if item[:data][1][:data].length>0 %>
																	<% item[:data][1][:data].each_with_index do | item2,i | %>
																	<tr>
																		
																		<% if  item[:code] == "LJ" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																		<td width="13%"><%= item2.technic_09 %></td>
																		<td width="13%"><%= item2.technic_10 %></td>
																		<td width="13%"><%= item2.technic_11 %></td>
																		<td width="13%"><%= item2.technic_12 %></td>
																		<td width="13%">---</td>
																		<% elsif item[:code] == "steam_1" %>
																		<td colspan="6"></td>
																		<% elsif item[:code] == "CP" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																		<td width="13%"><%= item2.technic_13 %></td>
																		<td width="13%"><%= item2.technic_12 %></td>
																		<td width="13%"><%= item2.technic_14 %></td>
																		<td width="13%"><%= item2.technic_15 %></td>
																		<td width="13%"><%= item2.technic_16 %></td>
																		
																		<%end %>
																	</tr>
																	<% end %>
																<% end %>
															<% end %>





													</table>
												</td>
											</tr>
											<% end %>
										<% end %>
									<% end %>
									<tr>
										<td width="10%" align='center'>总收率</td>
										<td width="10%" align='center' colspan="3"><%= @total_yield_hc %></td>
										<td></td>
									</tr>
									<tr>
							
										<td width="10%" align='center'>蒸汽</td>
										<td width="10%" align='center'>日用量</td>
										<td width="10%" align='center'>累计用量</td>
										<td width="10%" align='center'>日单耗</td>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
												<tr>
													<td width="35%">月单耗</td>
													<td colspan="5"></td>
												</tr>
											</table>
										</td>
										
										
									</tr>
									<% if @steam_datas2  %>
										<% if @steam_datas2.length>0 %>
											<% @steam_datas2.each_with_index do | list,index | %>
											<tr>
												<td width="10%" align='center'><%= list[:name] %></td>
												<td width="10%" align='center'><%= list[:steam_values] %></td>
												<td width="10%" align='center'><%= list[:steam_month_sum] %></td>
												<td width="10%" align='center'><%= list[:day_expend] %></td>
												<td>
													<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
														<tr>
															<td width="35%"><%= list[:month_expend] %></td>
															<td colspan="5"></td>
														</tr>
													</table>
													
												</td>
											</tr>
											<% end %>
										<% end %>
									<% end %>
					    		</table>
					    	</td>
					    </tr>
					    <tr>
					    	<td width="10%" align='center'>精制车间</td>
					    	<td width="90%" align='center' style="vertical-align:text-top">
					    		<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%">
					    			<% if @region_datas3  %>
										<% if @region_datas3.length>0 %>
											<% @region_datas3.each_with_index do | item,index | %>
											<tr>
												<td width="10%" align='center'><%= item[:name] %></td>
												<td width="10%" align='center'><%= item[:nums] %></td>
												<td width="10%" align='center'><%= item[:month_value] %></td>
												<td width="10%" align='center'><%= item[:daily_yield] %></td>
												<td width="60%" align='center'>
													<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%">
															<% if item[:data][0]  %>
																<% if item[:data][0].length>0 %>
																	
																	<tr>
																		<% if  item[:code] == "CP" %>
																		<td width="35%"><%= item[:data][0][:technic_01] %></td>
																		<td width="13%"><%= item[:data][0][:technic_13] %></td>
																		<td width="13%"><%= item[:data][0][:technic_12] %></td>
																		<td width="13%"><%= item[:data][0][:technic_14] %></td>
																		<td width="13%"><%= item[:data][0][:technic_15] %></td>
																		<td width="13%"><%= item[:data][0][:technic_16] %></td>
																		<% elsif item[:code] == "YCL" %>
																		<td width="35%"><%= item[:data][0][:technic_01] %></td>
																		<td width="13%"><%= item[:data][0][:technic_17] %></td>
																		<td width="13%"><%= item[:data][0][:technic_18] %></td>
																		<td width="13%"><%= item[:data][0][:technic_19] %></td>
																		<td width="13%"><%= item[:data][0][:technic_20] %></td>
																		<td width="13%"><%= item[:data][0][:technic_21] %></td>
																		<% elsif item[:code] == "ECL" %>
																		<td width="35%"><%= item[:data][0][:technic_01] %></td>
																		<td width="13%"><%= item[:data][0][:technic_21] %></td>
																		<td width="13%"><%= item[:data][0][:technic_12] %></td>
																		<td width="13%"><%= item[:data][0][:technic_22] %></td>
																		<td width="13%"><%= item[:data][0][:technic_23] %></td>
																		<td width="13%">---</td>
																		<% elsif item[:code] == "SCPN" %>
																			<td width="35%"><%= item[:data][0][:technic_01] %></td>
																			<td width="13%"><%= item[:data][0][:technic_24] %></td>
																			<td width="13%"><%= item[:data][0][:technic_25] %></td>
																			<td width="13%"><%= item[:data][0][:technic_14] %></td>
																			<td width="13%">---</td>
																			<td width="13%">---</td>
																		<%end %>
																	</tr>
																	
																<% end %>
															<% end %>
															<% if item[:data][1][:data]  %>
																<% if item[:data][1][:data].length>0 %>
																	<% item[:data][1][:data].each_with_index do | item2,i | %>
																	<tr>
																		
																		<% if  item[:code] == "CP" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																		<td width="13%"><%= item2.technic_13 %></td>
																		<td width="13%"><%= item2.technic_12 %></td>
																		<td width="13%"><%= item2.technic_14 %></td>
																		<td width="13%"><%= item2.technic_15 %></td>
																		<td width="13%"><%= item2.technic_16 %></td>
																		<% elsif item[:code] == "YCL" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																		<td width="13%"><%= item2.technic_17 %></td>
																		<td width="13%"><%= item2.technic_18 %></td>
																		<td width="13%"><%= item2.technic_19 %></td>
																		<td width="13%"><%= item2.technic_20 %></td>
																		<td width="13%"><%= item2.technic_21 %></td>
																		<% elsif item[:code] == "ECL" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																		<td width="13%"><%= item2.technic_21 %></td>
																		<td width="13%"><%= item2.technic_12 %></td>
																		<td width="13%"><%= item2.technic_22 %></td>
																		<td width="13%"><%= item2.technic_23 %></td>
																		<td width="13%">---</td>
																		<% elsif item[:code] == "SCPN" %>
																			<td width="35%"><%= item2.technic_01 %></td>
																			<td width="13%"><%= item2.technic_24 %></td>
																			<td width="13%"><%= item2.technic_25 %></td>
																			<td width="13%"><%= item2.technic_14 %></td>
																			<td width="13%">---</td>
																			<td width="13%">---</td>
																		<%end %>
																	</tr>
																	<% end %>
																<% end %>
															<% end %>
														
													</table>
												</td>
											</tr>
											<% end %>
										<% end %>
									<% end %>
									<tr>
										<td width="10%" align='center'>总收率</td>
										<td  width="10%" align='center' colspan="3"><%= @total_yield_jz %></td>
										<td></td>
									</tr>
									<tr>
							
										<td width="10%" align='center'>蒸汽</td>
										<td width="10%" align='center'>日用量</td>
										<td width="10%" align='center'>累计用量</td>
										<td width="10%" align='center'>日单耗</td>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
												<tr>
													<td width="35%">月单耗</td>
													<td colspan="5"></td>
												</tr>
											</table>
										</td>
										
										
									</tr>
									<% if @steam_datas3  %>
										<% if @steam_datas3.length>0 %>
											<% @steam_datas3.each_with_index do | list,index | %>
											<tr>
												<td width="10%" align='center'><%= list[:name] %></td>
												<td width="10%" align='center'><%= list[:steam_values] %></td>
												<td width="10%" align='center'><%= list[:steam_month_sum] %></td>
												<td width="10%" align='center'><%= list[:day_expend] %></td>
												<td>
													<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
														<tr>
															<td width="35%"><%= list[:month_expend] %></td>
															<td colspan="5"></td>
														</tr>
													</table>
													
												</td>
											</tr>
											<% end %>
										<% end %>
									<% end %>
					    		</table>
					    	</td>
					    </tr>
					    <tr>
					    	<td width="10%" align='center'>烘包车间</td>
					    	<td width="90%" align='center' style="vertical-align:text-top">
					    		<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%;">
					    			<% if @region_datas4  %>
										<% if @region_datas4.length>0 %>
											<% @region_datas4.each_with_index do | item,index | %>
											<tr>
												<td width="10%" align='center'><%= item[:name] %></td>
												<td width="10%" align='center'><%= item[:nums] %></td>
												<td width="10%" align='center'><%= item[:month_value] %></td>
												<td width="10%" align='center'><%= item[:daily_yield] %></td>
												<td width="60%" align='center'>
													<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
															<% if item[:data][0]  %>
																<% if item[:data][0].length>0 %>
																	
																	<tr>
																		<% if  item[:code] == "SPCN" %>
																			<td width="35%"><%= item[:data][0][:technic_01] %></td>
																			<td width="13%"><%= item[:data][0][:technic_24] %></td>
																			<td width="13%"><%= item[:data][0][:technic_25] %></td>
																			<td width="13%"><%= item[:data][0][:technic_14] %></td>
																			<td width="13%">---</td>
																			<td width="13%">---</td>
																			<% elsif item[:code] == "na_nums" %>
																			<td width="35%"><%= item[:data][0][:technic_01] %></td>
																			<td width="13%"><%= item[:data][0][:technic_24] %></td>
																			<td width="13%"><%= item[:data][0][:technic_26] %></td>
																			<td width="13%"><%= item[:data][0][:technic_27] %></td>
																			<td width="13%"><%= item[:data][0][:technic_14] %></td>
																			<td width="13%"><%= item[:data][0][:technic_28] %></td>
																			<% elsif item[:code] == "suan_nums" %>
																			<td width="35%"><%= item[:data][0][:technic_01] %></td>
																			<td width="13%"><%= item[:data][0][:technic_24] %></td>
																			<td width="13%"><%= item[:data][0][:technic_26] %></td>
																			<td width="13%"><%= item[:data][0][:technic_27] %></td>
																			<td width="13%"><%= item[:data][0][:technic_14] %></td>
																			<td width="13%"><%= item[:data][0][:technic_28] %></td>
																			<% elsif item[:code] == "SCPS" %>
																				<td width="35%"><%= item[:data][0][:technic_01] %></td>
																				<td width="13%"><%= item[:data][0][:technic_24] %></td>
																				<td width="13%"><%= item[:data][0][:technic_25] %></td>
																				<td width="13%"><%= item[:data][0][:technic_14] %></td>
																				<td width="13%">---</td>
																				<td width="13%">---</td>
																			<%end %>
																	</tr>
																	
																<% end %>
															<% end %>
															<% if item[:data][1]  %>
																<% if item[:data][1][:data].length>0 %>
																	<% item[:data][1][:data].each_with_index do | item2,i | %>
																	<tr>
																		
																		<% if  item[:code] == "SPCN" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																			<td width="13%"><%= item2.technic_24 %></td>
																			<td width="13%"><%= item2.technic_25 %></td>
																			<td width="13%"><%= item2.technic_14 %></td>
																			<td width="13%">---</td>
																			<td width="13%">---</td>
																		<% elsif item[:code] == "na_nums" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																		<td width="13%"><%= item2.technic_24 %></td>
																		<td width="13%"><%= item2.technic_26 %></td>
																		<td width="13%"><%= item2.technic_27 %></td>
																		<td width="13%"><%= item2.technic_14 %></td>
																		<td width="13%"><%= item2.technic_28 %></td>
																		<% elsif item[:code] == "suan_nums" %>
																		<td width="35%"><%= item2.technic_01 %></td>
																		<td width="13%"><%= item2.technic_24 %></td>
																		<td width="13%"><%= item2.technic_26 %></td>
																		<td width="13%"><%= item2.technic_27 %></td>
																		<td width="13%"><%= item2.technic_14 %></td>
																		<td width="13%"><%= item2.technic_28 %></td>
																		<% elsif item[:code] == "SCPS" %>
																			<td width="35%"><%= item2.technic_01 %></td>
																			<td width="13%"><%= item2.technic_24 %></td>
																			<td width="13%"><%= item2.technic_25 %></td>
																			<td width="13%"><%= item2.technic_14 %></td>
																			<td width="13%">---</td>
																			<td width="13%">---</td>
																		<%end %>
																	</tr>
																	<% end %>
																<% end %>
															<% end %>
														
													</table>
												</td>
											</tr>
											<% end %>
										<% end %>
									<% end %>
								
									
									<tr>
							
										<td width="10%" align='center' rowspan="2">蒸汽</td>
										<td width="10%" align='center'>日用量</td>
										<td width="10%" align='center'>累计用量</td>
										<td width="10%" align='center'>日单耗</td>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
												<tr>
													<td width="35%">月单耗</td>
													<td colspan="5"></td>
												</tr>
											</table>
										</td>
										
									</tr>
									<tr>
										
										<td width="10%" align='center'><%= @day_steam_hb %></td>
										<td width="10%" align='center'><%= @steam_month_sum_hb %></td>
										<td width="10%" align='center'><%= @day_expend_hb %></td>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
												<tr>
													<td width="35%"><%= @month_expend_hb %></td>
													<td colspan="5"></td>
												</tr>
											</table>
											
										</td>

									</tr>
									
					    		</table>
					    	</td>
					    </tr>
					    
					    <tr>
					    	<td width="10%" align='center'>公司</td>
					    	<td width="90%" align='center' style="vertical-align:text-top">
					    		<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%">
									<tr>
										<td width="10%" align='center'>总产量</td>
									    <td width="10%" align='center'><%= @company_day_total %></td>
									    <td colspan="2" style="width: 20.3%;;"><%= @company_month_total %></td>
									    <td></td>
									</tr>
									<tr>
										<td width="10%" align='center'>总收率</td>
									    <td colspan="3"><%= @company_total_yield %></td>
									  
									    <td></td>
									</tr>
								</table>
					    	</td>
					    </tr>
					    <tr>
					    	<td width="10%" align='center'>能源</td>
					    	<td width="90%" align='center' style="vertical-align:text-top">
					    		<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
						    		<tr>
						    			<td width="10%" align='center'>名称</td>
									    <td width="10%" align='center'>日用量</td>
									    <td width="10%" align='center'>月累计</td>
									    <td width="10%" align='center'>日单耗</td>
						    			<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
												<tr>
													<td width="35%">月单耗</td>
													<td colspan="5"></td>
												</tr>
											</table>
										</td>
						    		</tr>
						    		<% if @steam_datas_energys  %>
										<% if @steam_datas_energys.length>0 %>
											<% @steam_datas_energys.each_with_index do | list,index | %>
												<tr>
													<td width="10%" align='center'><%= list[:name] %></td>
													<td width="10%" align='center'><%= list[:steam_values] %></td>
													<td width="10%" align='center'><%= list[:steam_month_sum] %></td>
													<td width="10%" align='center'><%= list[:day_expend] %></td>
													<td>
														<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
															<tr>
																<td width="35%"><%= list[:month_expend] %></td>
																<td colspan="5"></td>
															</tr>
														</table>
													</td>
												</tr>
											<% end %>
										<% end %>
									<% end %>
					    		</table>
					    	</td>
					    </tr>
					    <tr>
					    	<td width="10%" align='center'>废水</td>
					    	<td width="90%" align='center' style="vertical-align:text-top">
					    		<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
						    		
						    		<% if @steam_datas_water  %>
										<% if @steam_datas_water.length>0 %>
											<% @steam_datas_water.each_with_index do | list,index | %>
												<tr>
													<td width="10%" align='center'><%= list[:name] %></td>
													<td width="10%" align='center'><%= list[:steam_values] %></td>
													<td width="10%" align='center'><%= list[:steam_month_sum] %></td>
													<td width="10%" align='center'><%= list[:day_expend] %></td>
													<td>
														<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%;">
															<tr>
																<td width="35%"><%= list[:month_expend] %></td>
																<td colspan="5"></td>
															</tr>
														</table>
													</td>
												</tr>
											<% end %>
										<% end %>
									<% end %>
					    		</table>
					    	</td>
					    </tr>
					</tbody>
	    		</table>
	    		</div>
	    	</div>

