<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="company_statement">
	<div id="powerCutRecords">
		<div class="navTop">
			<p class="lines"></p>
			<span class="tableName">公司日报表</span> 
			
		</div>
		<div class="navMain public_search">
		
			<form class="form-inline">
				<div class="form-group">
					<label for="">时间：</label>
					<input type="text" class="form-control day-start" id="start_date_range" name="start_datetime"/>
				</div>
				
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
					
				</div>
			</form>
		</div>

		<div id="public_table">
			<div class="public_table">
				
			</div>
		</div>
		
	</div>
</div>
