<script id="mapList" type="text/html">
		{{each alarms as list i}}
		<tr class="list-parent">
			<td class="station-list">{{list.station_name}}
				<span class="hide">{{list.station_id}}</span>
			</td>
			<td class="station-list">{{list.id}}</td>
			<td class="station-list">{{list.alarm_rule}}</td>
			<td class="station-list">{{list.alarm_level}}</td>
		    <td class="station-list">{{list.first_alarm_time}}</td>
	        <td class="station-list">{{list.last_alarm_time}}</td>
	        <td class="station-list">{{list.continuous_alarm_times}}</td>
	        <td class="station-list">{{list.status}}</td>
	    </tr>
    {{/each}}
</script>
