<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="alarm-map">
	
	<div class="top">
		<h2>报警区域展示</h2>
		
	</div>
	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	<div class="alarm-map">
		<div id="china_news">
			<div class="number">
				
		    </div>
		    <div id="china-map">
				
		    </div>
		    <div class="click">
			
		    </div>
		    <div class="clear"></div>
		</div>
		<div id="province_news">
			<div class="back">查看中国地图</div>
			<div id="province-map">
				
			</div>
			<div class="numberCity">
				<h4>城市报警详情</h4>
				 <p>暂无</p>
			</div>
		    <div class="clear"></div>
		</div>

	</div>
</div>
<div class="public_table">
	<table class="table table-bordered mapTable table-hover" style="display: none;">
		<thead>
			<tr>
			<th>站点</th>
			<th>报警ID</th>
			<th>报警规则</th>
			<th>报警级别</th>
			<th>首次报警时间</th>
			<th>最新报警时间</th>
			<th>连续报警次数</th>
			<th>报警状态</th>
			</tr>
		<thead>
		<tbody class="exception-list">
		</tbody>
	</table>
</div>	
<%= render 'table' %>
<!--分页-->
<ul class="page right alarm_map_page" maxshowpageitem="5" pagelistcount="5" id="page"></ul>
<div class="page_total alarm_map_page left">
	<span class="totalData">
		共<a href></a>条数据
	</span>
	<span class="totalPage">
		当前显示第<a></a>页
	</span>
</div>
<div class="clear"></div>
<script type="text/html" id="numberModal">
	<div>
	  <p>存在的报警省份  {{all_infos.province_counts}} 个，<span>报警站点个数  {{all_infos.alarm_stations}} 个</span></p>
	  <p class="yellow"><span></span>I级报警省份：{{each alarm_level_infos.first_level_province as third i }}<strong class="reds" style="color: #f04619;font-weight: 400;">{{third}}</strong> {{/each}}</p>
	  <p class="orange"><span></span>II级报警省份：{{each alarm_level_infos.second_level_province as third i }}<strong class="reds" style="color: orange;font-weight: 400;">{{third}}</strong> {{/each}}</p>
	  <p class="red"><span></span>III级报警省份：{{each alarm_level_infos.third_level_province as third i }}<strong class="reds" style="color: red;font-weight: 400;">{{third}}</strong> {{/each}}</p>
	</div>
</script>
<script type="text/html" id="numberModalCity">
	<div>
	  <h4>城市报警详情</h4>
	  <p>{{all_infos.alarm_level}}级报警  {{all_infos.alarm_province}}，<span>报警站点个数  {{all_infos.station_counts}}</span></p>
	  <p class="yellow"><span></span>I级报警地方：{{each alarm_level_infos.first_level_province as third i }}<strong class="reds" style="color: #f04619;font-weight: 400;">{{third}}</strong> {{/each}}</p>
	  <p class="orange"><span></span>II级报警地方：{{each alarm_level_infos.second_level_province as third i }}<strong class="reds" style="color: orange;font-weight: 400;">{{third}}</strong> {{/each}}</p>
	  <p class="red"><span></span>III级报警地方：{{each alarm_level_infos.third_level_province as third i }}<strong class="reds" style="color: red;font-weight: 400;">{{third}}</strong> {{/each}}</p>
	</div>
	
</script>
<script type="text/html" id="click">
	<div>
		<h4>省份报警详情</h4>
	  <p class="yellow"><span>{{all_infos.alarm_level==3 ? 'III': all_infos.alarm_level==2 ? 'II': all_infos.alarm_level==1 ? 'I' : '正常'}}级报警</span>{{all_infos.alarm_province}}</p>
	   <p class="yellow">I级报警(站点数-报警个数)：{{alarm_level_infos.first_level_province.station_count}}-{{alarm_level_infos.first_level_province.alarm_counts}}</p>
	    <p class="yellow">II级报警(站点数-报警个数)：{{alarm_level_infos.second_level_province.station_count}}-{{alarm_level_infos.second_level_province.alarm_counts}}</p>
	     <p class="yellow">III级报警(站点数-报警个数)：{{alarm_level_infos.third_level_province.station_count}}-{{alarm_level_infos.third_level_province.alarm_counts}}</p>
	</div>
	
</script>
<script type="text/javascript">
	$(function(){
		var threeArr,twoArr,oneArr,mapOption,mapOptionP,twoItem,threeItem,oneItem,twoItemP,threeItemP,oneItemP,threeArrP,twoArrP,oneArrP
		var twoArray = []
		var $pna,zeeoArr,zeeoItem,zeeoP,zeeoArrP,zeeoItemp
		var cityInfo
		var news = ''
		var threeArray = []
		var oneArray = []
		var zeeoArray = []
		var zeeoArrayP = []
		var twoArrayP = []
		var threeArrayP = []
		var oneArrayP = []
		var provFirstStation
        var provFirstStations
		var provFirstAlarm
        var provFirstAlarms
		var provSecondStation
        var provSecondStations
		var provSecondAlarm
        var provSecondAlarms
        var provThirdStation
        var provThirdStations
        var provThirdAlarm
        var provThirdAlarms,provv,provinceData
		var myChartPie = echarts.init(document.getElementById('china-map'));
		var myChartPro = echarts.init(document.getElementById('province-map'));	
		$('.loading').show()
		 $.ajax({
			type: "get",
			url: "/alarm_maps/init_index.json",
			async: false,
			dataType: "json",
			success: function(data) {
				$('.loading').hide()
				var htmlStr = template('numberModal',data);
				$('.number').html(htmlStr);
				
				var prov = data.alarm_level_infos
				var zeeo = prov.first_level_province
				$.each(zeeo, function(i,item) {
					zeeoItem = item
				    zeeoArr = {name:zeeoItem,value:0}
				    zeeoArray.push(zeeoArr)
				});
				var one = prov.first_level_province
				$.each(one, function(i,item) {
					oneItem = item
				    oneArr = {name:oneItem,value:1}
				    oneArray.push(oneArr)
				});
				var two = prov.second_level_province
				$.each(two, function(i,item) {
					twoItem = item
				    twoArr = {name:twoItem,value:2}
				    twoArray.push(twoArr)
				});
				var three = prov.third_level_province
				$.each(three, function(i,item) {
					threeItem = item
				    threeArr = {name:threeItem,value:3}
				    threeArray.push(threeArr)
				});
//				显示鼠标经过
                provv = data.map_data
                
                $.each(provv, function(i,item) {
					provinceData = item.province_data
					provFirstStation = provinceData.first_level_province
	                provFirstStations = provFirstStation.station_count
	                provFirstAlarms = provFirstStation.alarm_counts
					provSecondStation = provinceData.second_level_province
	                provSecondStations = provSecondStation.station_count
	                provSecondAlarms =provSecondStation.alarm_counts
	                provThirdStation = provinceData.third_level_province
	                provThirdStations = provThirdStation.station_count
	                provThirdAlarms = provThirdStation.alarm_counts
				});
			},
			error:function(err){
				console.log(err)
			}
	})
	mapOption = {
            tooltip: {
		        trigger: 'item',
				formatter: '{b}<br/>{c}级报警',
		    },
		    visualMap: {
		        min: 0,
		        max: 3,
		        left: 'left',
		        top: 'bottom',
		        text: ['严重','正常'], 
		        color:['red','orange','yellow','green'],          
		        calculable: true
		    },
		    series: [
		    	{
	           	name:'正常报警省份',
	           	type:'map',
	           	mapType: 'china',
	            roam: false,
	            label: {
	                normal: {
	                    show: true
	                },
	                emphasis: {
	                    show: true
	                }
	            },
	           data:zeeoArray
	           },
	            {
	           	name:'I级报警省份',
	           	type:'map',
	           	mapType: 'china',
	            roam: false,
	            label: {
	                normal: {
	                    show: true
	                },
	                emphasis: {
	                    show: true
	                }
	            },
	           data:oneArray
	           },
	           {
	           	name:'II级报警省份',
	           	type:'map',
	           	 mapType: 'china',
	            roam: false,
	            label: {
	                normal: {
	                    show: true
	                },
	                emphasis: {
	                    show: true
	                }
	            },
	            data: twoArray
	           },
	           {
	           	name:'III级报警省份',
	           	type:'map',
	           	mapType: 'china',
	            roam: false,
	            label: {
	                normal: {
	                    show: true
	                },
	                emphasis: {
	                    show: true
	                }
	            },
		        data:threeArray
		    }
		]
	};
	myChartPie.setOption(mapOption); 
	
	
	
//	中国地图点击事件
    
    myChartPie.on('click',function(params){
		var cliCity = params.name;
		$.ajax({
				type:"get",
			   	data:{province:cliCity},
			   	async: false,
			   	url:'/search_map_provinces.json',
				dataType: "json",
				success:function(data){
					var htmlStrs = template('click',data);
					console.log(data)
				    $('.click').html(htmlStrs);
				    $('.click').show()
			
				},
				error:function(err){
					console.log(err)
				}
		})
	})	
			
		
	$('.click').click(function(){
    	$(this).hide()
    })	
	
	
//  中国地图双击事件
    
	myChartPie.on('dblclick', function (params) {  
		$('#china_news').hide()
		
	   	city = params.name;
	   	$.ajax({
	   		type:"get",
	   		data:{province:city},
	   		async: false,
	   		url:'/search_map_cities.json',
	   	    success:function(data){
	   			var htmlStr = template('numberModalCity',data);
				$('.numberCity').html(htmlStr);
	   			var prov = data.alarm_level_infos
	   			var zeeoP = prov.first_level_province
				$.each(zeeoP, function(i,item) {
					zeeoItemP = item
				    zeeoArrP = {name:zeeoItemP,value:0}
				    zeeoArrayP.push(zeeoArrP)
				});
			    var oneP = prov.first_level_province
				$.each(oneP, function(i,item) {
					oneItemP = item
				    oneArrP = {name:oneItemP,value:1}
				    oneArrayP.push(oneArrP)
				});
				var twoP = prov.second_level_province
				$.each(twoP, function(i,item) {
					twoItemP = item
				    twoArrP = {name:twoItemP,value:2}
				    twoArrayP.push(twoArrP)
				});
				var threeP = prov.third_level_province
				threeArrayP = []
				$.each(threeP, function(i,item) {
					threeItemP = item
				    threeArrP = {name:threeItemP,value:3}
				    threeArrayP.push(threeArrP)
				});
				$('.numberCity').show()
		        },
		   		error:function(err){
		   			console.log(err)
		   		}
		    })
		    showProvince(city)
			$('#province_news').show();  
	    })
	    
	    
	    
//	省份地图点击事件
	var cityNam	
	myChartPro.on('click',function(params){
		$('.alarm_map_page').show()
		$('.mapTable').show()
		cityNam = params.name;
		$.ajax({
			type:"get",
		   	data:{province:cityNam},
		   	async: false,
		   	url:'/search_by_province_alarm.json',
			dataType: "json",
			success:function(data){
				$("#page").initPage(data.list_size, 1, origin)
			},
			error:function(err){
				console.log(err)
			}
		})
		
	})
	
	
//	点击click时隐藏
    $('.clickCity').click(function(){
    	$(this).hide()
    	$('.click').show()
		$('.numberCity').show()
    })
	
	$('.numberCity').click(function(){
		$(this).hide()
	})
	
	$('.back').click(function(){
		$('#china_news').show()
		$('#province_news').hide()
		$('table').hide()
		$('.click').hide()
		$('.clickCity').hide()
		$('.numberCity').hide()
		$('.alarm_map_page').hide()
//		location.reload()
	})
	
    function showProvince(cityName){
		mapOptionP = {
			tooltip: {
		        trigger: 'item',
		        formatter: '{b}<br/>{c}级报警'
				},
			visualMap: {
		        min: 0,
		        max: 3,
		        left: 'left',
		        top: 'bottom',
		        text: ['严重','正常'], 
		        color:['red','orange','yellow','green'],          
		        calculable: true
				},
			series: [
			{
	           	name:'正常报警省份',
	           	type:'map',
	           	mapType: cityName,
	            roam: false,
	            label: {
	                normal: {
	                    show: true
	                },
	                emphasis: {
	                    show: true
	                }
	            },
	           data:zeeoArrayP
	           },
	        {
		       	name:'I级报警省份',
		       	type:'map',
		       	mapType: cityName,
		        roam:false,
		        label: {
		                normal: {
		                    show: true
		                },
		                emphasis: {
		                    show: true
		                }
			        },
		        data: oneArrayP
		    },
		    {
		       	name:'II级报警省份',
		       	type:'map',
		       	mapType: cityName,
		       	roam:false,
		        label: {
		                normal: {
		                    show: true
		                },
		                emphasis: {
		                    show: true
		                }
			            },
		        data: twoArrayP
		    },
		    {
		       	name:'III级报警省份',
		       	type:'map',
		       	mapType: cityName,
		        roam:false,
		        label: {
		                normal: {
		                    show: true
		                },
		                emphasis: {
		                    show: true
		                }
			            },
		        data: threeArrayP
		        
		    }
			
		    ]
	    }
	    myChartPro.setOption(mapOptionP);	
	}
    
    
    
    //	分页+初始数据
	function origin(param){
		var pp = $('#page .pageItemActive').html();
		if(param==1){
			$.ajax({
				url: '/search_by_province_alarm.json?page='+1,
		    	type: 'get',
		    	data:{province:cityNam},
		    	success:function(data){
		    		var htmlStr = template('mapList',data);
					$('.exception-list').html(htmlStr);

                    var total = data.list_size;
					$('.page_total .totalData a').text(total);
					$('.page_total .totalPage a').text(pp);
		    	},
		    	error:function(err){
		    		console.log(err)	
		    	}
			})
		}else{
			$.ajax({
				url: '/search_by_province_alarm.json?page=' + pp,
		    	type: 'get',
		    	data:{province:cityNam},
		    	success:function(data){
		    		var htmlStr = template('mapList',data);
					$('.exception-list').html(htmlStr);
					 var total = data.list_size;
					$('.page_total .totalData a').text(total);
					$('.page_total .totalPage a').text(pp);
		    	},
		    	error:function(err){
		    		console.log(err)	
		    	}
			})
		}
	};
    
})



</script>