<!--添加站点-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加车间</h4>
      </div>
      <div class="modal-body">
			 <form id="add_station_form" class="form-horizontal">
			<div class="area_content">
				<div class="filed form-group">
			        <label class="col-sm-2 control-label"><span style="color:red">*</span>车间名称:</label>
			        <div class="col-sm-5 ">
			            <input id="stationName" required="required" class="filed_val station_name form-control" type="text" name="station_name"/>
			        </div>
			        <label for="stationName" id="station_nameTip">请输入车间名称</label>
			    </div>
			    <div class="filed form-group">
			        <label class="col-sm-2 control-label"><span style="color:red">*</span>唯一编号:</label>
			        <div class="col-sm-5 ">
			            <input type="text" id="match" required="required" pattern="^[0-9\.]{1,10}$" placeholder="只能输入数字" class="form-control"/>
			        </div>
			        <label id="match_Tip">请输入匹配字段</label>
			    </div>
			   <div class="filed form-group">
					<label class="col-sm-2 control-label"><span style="color:red">*</span>区域名称:</label>
					<div class="col-sm-5 ">
						<input type="text" disabled="disabled" id="region_attr" class="region_attr filed_val form-control" placeholder="请点击选择勾选区域归属" required="required"/>
						<input type="text" class="regionID hide" required="required"/>
						
					</div>
					<button type="button" class="btn choose region_choose">选择</button>
				</div>
				<div class="filed form-group">
					<label class="col-sm-2 control-label"><span style="color:red">*</span>车间ip:</label>
					<div class="col-sm-5 ">
						<input type="text"  id="" class="stationIp form-control" />
					</div>
					
				</div>
				<div class="filed form-group">
					<label class="col-sm-2 control-label"><span style="color:red">*</span>&#X3000;&#X3000;经度:</label>
					<div class="col-sm-5 ">
						<input type="text" id="longLat" class="longLat filed_val form-control" required="required" placeholder="请点击地图选址" />
					</div>
					
				</div>
				<div class="filed form-group">
					<label class="col-sm-2 control-label"><span style="color:red">*</span>&#X3000;&#X3000;纬度:</label>
					<div class="col-sm-5 ">
						<input type="text" id="longGat" class="longGat filed_val form-control" required="required" placeholder="请点击地图选址" />
					</div>
				</div>
				<div class="filed form-group">
					<label class="col-sm-2 control-label"><span style="color:red">*</span>地理位置:</label>
					<div class="col-sm-5 ">
						<input type="text" id="locat" class="location filed_val form-control" required="required" pattern="^[\u4e00-\u9fa5]{2,18}$" />
						
					</div>
					<button type="button" class="btn choose map_choose">地图选址</button>
				</div>
				<div class="filed form-group">
					<label class="col-sm-2 control-label">站点类型:</label>
					<div class="col-sm-5 ">
						<select class="filed_val station_type form-control" >
							<option value="小型站">小型站</option>
							<option value="微型站">微型站</option>
							<option value="扬尘站">扬尘站</option>
						</select>
					</div>
				</div>
				<div class="filed status form-group">
					<label class="col-sm-2 control-label">车间状态:</label>
					<div class="col-sm-5 ">
						<input type="radio" name="Radios" id="optionsRadios1" value="1" checked>
						<span>启用</span>
						<input type="radio" name="Radios" id="optionsRadios2" value="0">
						<span>停用</span>
					</div>
				</div>
				<div class="filed form-group">
					<label class="col-sm-2 control-label">详细信息:</label>
					<div class="col-sm-5 ">
						<input type="text"  class="form-control infom">
					</div>
				</div>
				<div class="filed form-group">
					<label class="col-sm-2 control-label">建站日期:</label>
					<div class="col-sm-5 ">
						<input type="text" id="datetime" placeholder="请输入建站日期" class="day-start form-control" required="required"/>
					</div>
					<label id="time_nameTip">请选择建站日期</label>
				</div>
				<div class="filed form-group">
					<label class="col-sm-2 control-label">负责人:</label>
					<div class="col-sm-5 ">
						<!--<select class="form-control" >
							<option value=""></option>
						</select>-->
						<input type="text" class="form-control"/>
					</div>
					
				</div>
				<div class="form-group filed">
					<label class="col-sm-2 control-label">距离(公里):</label>
					<div class="col-sm-5 ">
						<input type="text"  class="form-control distance">
					</div>
				</div>
				<div class="form-group filed">
					<label class="col-sm-2 control-label">所需时间:</label>
					<div class="col-sm-5 ">
						<input type="text"  class="form-control arrive_time">
					</div>
				</div>				
				<!--<div class="filed right">
					<label for="">&#X3000;服务号:</label>
					<input type="text" class="server_number"/>
				</div>-->
				
				<!--<div class="filed left">
					<label>区域归属:</label>
					<input type="text" id="region_attr" class="region_attr filed_val" placeholder="请点击选择勾选区域归属" required="required" pattern="^[\u4e00-\u9fa5]{2,10}$" readonly="true"/>
					<input type="text" class="regionID" required="required"/>
					<button type="button" class="btn choose region_choose">选择</button>
					<label id="region_attrTip">请点击选择</label>
				</div>-->
				<!--区域-->
				<div class="regionChoose">
					<p class="pull-right">X</p>
					<div class="clear"></div>
					<div class="Region_content"></div>
					<div class="region_btn">
						<button type="button" class="btn btn-sure">确定</button>
						<button type="button" class="btn btn-cancel">取消</button>
					</div>
				</div>
			</div>
			
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="addBtn">保存</button>
      </div>
    </div>
  </div>
</div>
	<!--获取区域-->
	<script id="regions_Choose" type="text/html">
		{{each areas as area index}}
			<div class="region_top">
				<span class="top_reginID">{{area.id}}</span>
				<!--<span>{{area.name}}</span>-->
				<button class="btn btn-sm">{{area.name}}</button>
			</div>
			<div class="region_content">
				{{if area.chil.length > 0}}	
					{{each area.chil as region i}}
						<div>
							<span class="regionID hide">{{region.id}}</span>					
							<input type="radio" name="region" value="{{region.id}}"/>
							<span class="regionName">{{region.name}}</span>	
						</div>				
					{{/each}}
				{{else}}
					<p>暂无数据</p>
				{{/if}}
			</div>
		{{/each}}
	</script>
