<!--配置-->
<!--
	<script id="d_stations_config" type="text/html">
		<div class="public_config public_area">
			<h4>配置
				<div class="right close">X</div>
			</h4>
			<div class="clear"></div>
			<div class="config_content">
				<p>获取配置数据失败</p>
				
			</div>
			<div class="config_btn">
				<button class="btn btn-sure">确定</button>
				<button class="btn btn-cancel">取消</button>
			</div>
		</div>
    </script>-->
  <div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">配置</h4>
      </div>
      <div class="modal-body public_config">
			<div class="config_content">
				<p>获取配置数据失败</p>
				
			</div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>  

	
<!--人员分配-->
	<script id="configTemp" type="text/html">
		<!--{{if region_code.length>0}}
		{{each region_code as region_code index}}-->
		
		<div class="config_list">
			<div class="left">
				<div class="region_name"><p>{{region_code.region_name}}</p>
					<span class="right">
				
						<input type="checkbox" />全选
					</span>
				</div>				
				 <div class="renyuan">
				 	{{if region_code.chil.length > 0}}
						{{each region_code.chil as chil_config index}}
						<span class="renyuan_span">
							<span class="flag hide">{{chil_config.flag}}</span>
							<input class="check" type="checkbox"/>
							<small class="renid hide">{{chil_config.id}}</small>
							<span>{{chil_config.login_name}}</span>
						</span>							
						{{/each}}
					{{else}}
						<p>暂无人员分配信息</p>
					{{/if}}
				 </div>   					
			</div>
			
			<div class="clear"></div>
		</div>
		<!--{{/each}}
		{{/if}}-->
	</script>
	
	
