<div id="siteDeploy">
    <%= form_for(@d_station) do |f| %>
    <% if @d_station.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@d_station.errors.count, "error") %> prohibited this d_station from being saved:</h2>
        <ul>
            <% @d_station.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
	<%= @d_station.region_code %>
    <div class="field">
        <label>站点名称:</label>
        <%= f.text_field :station_name,required:"true",pattern:"^([\u4e00-\u9fa5]{2,16})$" %>
    </div>
    <div class="field">
        <label>区域归属:</label>
        <%= f.text_field :region_code,class:"chooseBox" %>
		<input class="choice" required="required" />
        <span class="btn btn-primary choose">选择</span>
    </div>
    <div class="field">
        <label>站点类型:</label>
        <%= select_tag "d_station[station_type]", options_from_collection_for_select(@s_station_types, "id", "type_name") %>
   </div>
    <div class="field">
        <label>地理位置:</label>
        <%= f.text_field :station_location,class:"location unable",required:"true" %>
        <span class="btn btn-primary mapView">地图选址</span>
    </div>
    <div class="field">
        <label>经度:</label>
        <%= f.text_field :longitude,class:"longLat unable",required:"true",pattern:"^[-+]?[0-9]*\.?[0-9]+$" %>
    </div>
    <div class="field">
        <label>纬度:</label>
        <%= f.text_field :latitude,class:"longGat unable",required:"true",pattern:"^[-+]?[0-9]*\.?[0-9]+$" %>
    </div>
    <div class="field">
        <label>服务号:</label>
        <%= f.text_field :service_no %>
    </div>
    <div class="field">
        <label>建站日期:</label>
        <%= f.text_field :setup_date,class:"some_class" %>
    </div>
    <div class="field">
        <label>版本号:</label>
		<%= select_tag "d_station[soft_version_no]", options_from_collection_for_select(@s_software_versions, "version_no", "version_no") %>
    </div>
    <div class="remark">
        <label>备注:</label>
        <%= f.text_area :note %>
    </div>
	<%= f.text_field :station_status,{value:'1',class:"hide"} %>
	<%= f.text_field :is_online,{value:'Y',class:"hide"} %>
    <div class="actions">
        <%= f.submit "确 认",class:"acknowledge btn btn-primary" %>
		<%= link_to '返回', d_stations_path,class:"btn btn-primary back"  %>
    </div>
    <% end %>
</div>
<!-- 地图容器 -->
<div id="allmap" style="display:none"></div>
<div class="close"><span class="glyphicon glyphicon-remove"></span></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript">
   
// 百度地图API功能	
    $(function(){
        var map = new BMap.Map("allmap");
        map.centerAndZoom(new BMap.Point(113.630729, 34.73962), 11);
		 var point = new BMap.Point(113.630729,34.73962);
        map.centerAndZoom(point);
        var geoc = new BMap.Geocoder();
        map.enableScrollWheelZoom(true);
		map.enableContinuousZoom(); 
		map.onclick = function(e){
			var pt = e.point;
			geoc.getLocation(pt, function(rs){
                var addComp = rs.addressComponents;
				var place = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street;
                if(confirm("当前选址："+place)){
					map.addEventListener("click");
					$('.location').val(place);
					 $(".longLat").val(e.point.lng);
					$(".longGat").val( e.point.lat);
					$("#allmap").css('display','none');
				}else{
					map.removeEventListener("click");
				};
			});
			console.log($("#newStation").height());
			//$("#aallmap #platform").css("over","auto");
			//$("#allmap #mask").css("height","100%");
		}
		
        /*单击事件*/
        $(".mapView").click(function(){
            $('#allmap').css('display','block');
			$('.close').css('display','block');
        });
		$('.close').click(function(){
			$("#allmap").css('display','none');
			$(this).css('display','none');
		})
		$(".choice").focus(function(){
		  this.blur();
		});
		$(".unable").focus(function(){
		  this.blur();
		});
		
		/*日期*/
		var time = new Date();
		var year = time.getFullYear();
		$('.some_class').datetimepicker({
			format:"Y-m-d",
			minDate:year+'-01-01',
			maxDate: year+'-12-31',
			todayButton:true,
			timepicker:false
		})
		var myMonth = time.getMonth()+1
		var myDate = time.getDate()-1
    });
</script>
<!-- 区域归属选择 -->
<div class="message">
    <div id="search" style="padding-left: 0;">
        <div id="search-station">
			<div class="choose-site">
				<div class="tab-top">
					<span class="station-all">
						<% if @current_user.s_region_code.is_leaf == "1" %>
							<%= @current_user.s_region_code.father_region.region_name %>
						<% else %>
							<%= @current_user.s_region_code.region_name %>
						<% end %>
					</span>
					
				</div>
				<div id="search-station">
					<div class="list-station">
						<% if @current_user.s_region_code.is_leaf == "1" %>
								<div class="tab-station">
									<span class="list-city">
										<span>
		
											<a href="#"><%= @current_user.s_region_code.region_name %></a>	
										</span>
									</span>
									<span class="search-line"></span>
								
									<% @current_user.s_region_code.d_stations.each do | dstation | %>
									<span class="list-city-station">
										<span>
											<input type="radio" class="radios" name="r" />
											<small style="display: none;"><%= dstation.region_code %></small>
											<a><%= dstation.station_name %></a>
										</span>
										<br />
									</span>
									<% end %>
								</div>
						<% else %>
						<% @current_user.s_region_code.son_region.each do | srgnc | %>
							<span class="tab-station " >
								<span class="list-city" >
									<span>
										<input type="radio" class="radios" name="r" />
										<small style="display: none;"><%= srgnc.region_code %></small>
										<a><%= srgnc.region_name %></a>
									</span>
								</span>
								<span class="search-line"></span>
							</span>
						<% end %>	
						<% end %>		
					</div>
					<div class="station-btn">
						<span class="btn-sure">确定</span>
						<span class="btn-cancel">取消</span>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<script>
    $(function(){
//		站点
		$('.choose').click(function(){
			$('#search-station .choose-site').show()
		})
		$('#search-station .tab-top span').click(function(){
			var $index = $(this).index()
			$('#search-station .choose-site .tab-station').eq($index-1).show().siblings().hide()
			$(this).css('background','#fff').siblings().css('background','')
		})
		$('#search-station .tab-top span').eq(0).click(function(){
			$('#search-station .choose-site .tab-station').show()
		})
		
		$('#search-station .station-btn .btn-sure').click(function(){
			$('#search-station .choose-site').hide()
			if($('#search-station .choose-site  .radios:checked')){
				var text=[];
				var textid=[];
				$('#search-station  .radios:checked').siblings('small').each(function(){
					text.push(this.innerHTML)
				})
				$('#search-station  .radios:checked').siblings('a').each(function(){
					textid.push(this.innerHTML)
				})
				var allText = text.join(',')
				var textid=textid.join(',')
				$('.chooseBox').val(allText)
				$('.choice').val(textid)
			}else{
				$('#day-table .search-once .controll-station').val('')
				$('#day-table .search-once .selId').val('')
			}
		})
		$('#search-station .choose-site .tab-station').each(function(i){
			$(this).find('p span').click(function(){
				var check;
				$('#search-station .choose-site .tab-station').eq(i).find('.list-city input').each(function(){
					if($(this).prop('checked')==false){
						check='false';
						return false
					}else{
						check='true'
					}
				})
				if(check=='true'){
					$('#search-station .choose-site .tab-station').eq(i).find('.list-city input').prop('checked',true)
				}else{
					$('#search-station .choose-site .tab-station').eq(i).find('.list-city input').prop('checked',false)
				}
			})
		})	
		$('#search-station .station-btn .btn-cancel').click(function(){
			$('#search-station .choose-site').hide()
		})
	})	
</script>
