<!-- 地图容器 -->
<div id="r-result">请输入:<input type="text" id="suggestId" size="20" value="百度" style="width:150px;" /><!--<button class="btn new_add_btn">返回</button>--></div>
<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
<div id="allmap"></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=n02tw2VUyodL4lG4ejfVNFGEFZivg1vO"></script>