	<!--修改站点-->
	
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改车间</h4>
      </div>
      <div class="modal-body">
			 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="editBtn">保存</button>
      </div>
    </div>
  </div>
</div>
<script id="d_stations_revise" type="text/html">
	<div id="d_station_revise">	
	   <div class="public_revise">
			
		 <form id="edit_station_form" class="form-horizontal">
			<div class="area_content">
				
				<div class="filed form-group">
			        <label class="col-sm-2 control-label">车间名称:</label>
			        <div class="col-sm-5 ">
			        	<input id="stationName" value="{{edit.d_station.station_name}}" required="required" class="filed_val station_name form-control" type="text" name="station_name"/>
			        </div>
			        <label for="stationName" id="station_nameTip">请输入车间名称</label>
			    </div>
			    
			    <div class="filed form-group">
			        <label class="col-sm-2 control-label">唯一编号:</label>
			        <div class="col-sm-5 ">
			        	<input type="text" id="match" value="{{edit.d_station.wc_station_id}}" required="required" pattern="^[0-9\.]{1,10}$" class="form-control"/>
			        </div>
			        <label id="match_Tip">请输入匹配字段</label>
			    </div>
			    <div class="filed form-group">
					<label class="col-sm-2 control-label">区域名称:</label>
					<div class="col-sm-5 ">
						<input type="text"   value="{{edit.d_station.region_code}}" class="region_attr filed_val form-control" placeholder="请点击选择勾选区域归属" required="required"/>
						<input type="text" class="regionID" required="required" value="{{edit.d_station.s_administrative_area_id}}" id="textId"/>
					</div>
					<button type="button" class="btn choose region_choose">选择</button>
				</div>
				<div class="filed form-group">
					<label class="col-sm-2 control-label">车间ip:</label>
					<div class="col-sm-5 ">
						<input type="text"  id="" class="stationIp form-control" value="{{edit.d_station.station_ip}}"/>
					</div>
					
				</div>
			    <div class="filed form-group">
					<label class="col-sm-2 control-label">&#X3000;&#X3000;经度:</label>
					<div class="col-sm-5 ">
						<input type="text" value="{{edit.d_station.latitude}}"  class="longLat filed_val form-control" required="required" placeholder="请点击地图选址"/>
					</div>
					
				</div>
				<div class="filed form-group">
					<label class="col-sm-2 control-label">&#X3000;&#X3000;纬度:</label>
					<div class="col-sm-5 ">
						<input type="text"  value="{{edit.d_station.longitude}}" class="longGat filed_val form-control" required="required" placeholder="请点击地图选址"/>
					</div>
				</div>
			    
			    <div class="filed form-group">
					<label class="col-sm-2 control-label">地理位置:</label>
					<div class="col-sm-5 ">
						<input type="text" class="location filed_val form-control"  value="{{edit.d_station.station_location}}"/>
					</div>
					<button type="button" class="btn choose map_choose">地图选址</button>
				</div>
			    <div class="filed form-group">
					<label class="col-sm-2 control-label">站点类型:</label>
					<div class="col-sm-5 ">
						<select class="filed_val station_type form-control" >
							<option value="小型站">小型站</option>
							<option value="微型站">微型站</option>
							<option value="扬尘站">扬尘站</option>
						</select>
					</div>
				</div>
				
				<div class="filed status form-group">
					<label class="col-sm-2 control-label">车间状态:</label>
					<div class="col-sm-5 ">
						<input type="radio" name="Radios" id="optionsRadios1" value="1" checked="checked">
						<span>启用</span>
						<input type="radio" name="Radios" id="optionsRadios2" value="0">
						<span>停用</span>
					</div>
				</div>
				
				<div class="filed form-group">
					<label class="col-sm-2 control-label">详细信息:</label>
					<div class="col-sm-5 ">
						<input type="text"  class="form-control">
					</div>
				</div>
				
				<div class="filed form-group">
					<label class="col-sm-2 control-label">建站日期:</label>
					<div class="col-sm-5 ">
						<input type="text" value="{{edit.d_station.created_at.substring(0,10)}}" id="start_datetime" name="start_datetime" class="inputTime form-control day-start">
						<!--<input type="text" value="{{edit.d_station.created_at.substring(0,10)}}" placeholder="请输入建站日期" class="day-start form-control" required="required"/>-->
					</div>
					<label id="time_nameTip">请选择建站日期</label>
				</div>
				
				<div class="filed form-group">
					<label class="col-sm-2 control-label">负责人:</label>
					<div class="col-sm-5 ">
						<!--<select class="form-control" >
							<option value=""></option>
						</select>-->
						<input type="text" class="form-control"/>
					</div>
					
				</div>
				<div class="form-group filed">
					<label class="col-sm-2 control-label">距离(公里):</label>
					<div class="col-sm-5 ">
						<input type="text"  class="form-control distance">
					</div>
				</div>
				<div class="form-group filed">
					<label class="col-sm-2 control-label">所需时间:</label>
					<div class="col-sm-5 ">
						<input type="text"  class="form-control arrive_time">
					</div>
				</div>		
				<!--<div class="filed right">-->
					<!--<label for="">&#X3000;版本号:</label>-->
					<!--<select class="version_number">-->
						<!--<option value="">V1.0</option>-->
					<!--</select>-->
				<!--</div>-->
			
				
				<div class="clear"></div>
			
				<!--区域-->
				<div class="regionChoose">
					<p class="pull-right">X</p>
					<div class="clear"></div>
					<div class="Region_content"></div>
					<div class="region_btn">
						<button class="btn btn-sure" type="button">确定</button>
						<button class="btn btn-cancel" type="button">取消</button>
					</div>
				</div>
			</div>
			<!--<div class="area_btn">
				<button class="btn btn-sure" id="editBtn" type="button" >确定</button>
				<button class="btn btn-cancel" type="button">取消</button>
			</div>-->
			  </form>
		</div>
	</div>
</script>


