<div id="stationEdit">
	//跳转页面
	<div class="stationEditTop">
		<span class="glyphicon glyphicon-edit"></span>
		编辑站点信息配置
	</div>
	<div id="siteDeploy">
		<%= form_for(@d_station,method:'put' ) do |f| %>
		  <% if @d_station.errors.any? %>
			<div id="error_explanation">
			  <h2><%= pluralize(@d_station.errors.count, "error") %> prohibited this d_station from being saved:</h2>

			  <ul>
			  <% @d_station.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			  <% end %>
			  </ul>
			</div>
		  <% end %>
		  <div class="field">
			<label>站点名称:</label>
			<%= f.text_field :station_name,required:"true",pattern:"^([\u4e00-\u9fa5]{2,16})$" %>
		  </div>
		  <div class="field">
			<label>区域归属:</label>
			<%= f.text_field :region_code, {value:@d_station.s_region_code.region_name, disabled:"disabled"} %>
		  </div>
		  <div class="field">
			<label>站点类型:</label>
			<%= f.text_field :station_type, {value:@d_station.s_station_type.type_name, disabled:"disabled"} %>
		  </div>
		  <div class="field">
			<label>地理位置:</label>
			<%= f.text_field :station_location,class:"location",required:"true" %>
			<span class="btn btn-primary mapView">地图选址</span>
		  </div>
		  <div class="field">
			<label>经度:</label>
			<%= f.text_field :longitude,class:"longLat unabled",required:"true" %>
		  </div>
		  <div class="field">
			<label>纬度:</label>
			<%= f.text_field :latitude,class:"longGat unabled",required:"true" %>
		  </div>
		  <div class="field">
			<label>服务号:</label>
			<%= f.text_field :service_no %>
		  </div>
		  <div class="field">
			<label>建站日期:</label>
			<%= f.text_field :setup_date,class:"some_class" %>
		  </div>
		  <div class="field">
			<label>版本号:</label>
			<%= f.text_field :soft_version_no,disabled:"disabled" %>
		  </div>
		  <div class="remark">
			<label>备注:</label>
			<%= f.text_area :note %>
		  </div>
		  <div class="actions">
			<%= f.submit "确 认",class:"acknowledge btn btn-primary" %>
			<%= link_to '返回', d_stations_path,class:"btn btn-primary back"  %>
		  </div>
		<% end %>
	</div>
</div>
<!-- 地图容器 -->
<div id="allmap" style="display:none"></div>
<div id="close"><span class="glyphicon glyphicon-remove"></span></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script>

$(function(){
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	map.centerAndZoom(new BMap.Point(113.630729,34.73962), 11);
	var point = new BMap.Point(113.630729,34.73962);
	var geoc = new BMap.Geocoder();   
	map.enableContinuousZoom();   
	map.enableScrollWheelZoom(true);
	function openInfo(e){
		$(".longLat").val(e.point.lng );
		$(".longGat").val( e.point.lat);
		var pt = e.point;
		geoc.getLocation(pt, function(rs){
			var addComp = rs.addressComponents;
			$('.location').val(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street );
		});
	}
	map.onclick = function(){
		if(!$(".longLat").val() == " "){
			if(confirm("您确定要覆盖经度和纬度吗？")){
				map.addEventListener("click", openInfo);
				$("#allmap").css('display','none');
			} else{
				map.removeEventListener("click",openInfo);
			}
		}else{
			$("#allmap").css('display','none');
			map.addEventListener("click",openInfo);
		}
	};
	/*单击事件*/
	$('.unabled').click(function(){
		$(this).blur();
	})
	$(".mapView").click(function(){
		$('#allmap').css('display','block');
		$('#close').css('display','block');
	});
	$('#close').click(function(){
		$("#allmap").css('display','none');
		$(this).css('display','none');
	})
	/*日期*/
	var time = new Date();
	var year = time.getFullYear();
	$('.some_class').datetimepicker({
		format:"Y-m-d",
		minDate:year+'-01-01',
		maxDate: year+'-12-31',
		todayButton:true,
		timepicker:false
	})
	var myMonth = time.getMonth()+1
	var myDate = time.getDate()-1
});
</script>