<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="dStations">
     <div id="powerCutRecords">
     	<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">车间配置</span>
		</div>
		<div class="navMain public_search">
			<form class="form-inline">
				<div class="form-group">
	                <label for="">站&#x3000;&#x3000;点：</label>
	                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            	<input type="text"  class="control_stationIDs hide" />
	            	<input type="hidden" class="ids" />
	            </div>
	            <div class="form-group">
	            	<button class="btn search" type="button">查询</button>
					<button class="btn btn_area new_add_btn" id="add" type="button" data-toggle="modal" data-target="#addModal">
						新增
					</button>
				</div>
           </form>
			
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<!--站点-->
		<%= render :partial => 'test_iframes/sq_publicStation' %>
		<div id="public_table">
			<div class="public_table">
				<table class="table table-bordered table-hover">
		
				</table>
			</div>
			<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		<!--添加区域-->
		<%= render 'add_area' %>
		<!--配置-->
		<%= render 'config' %>
		<!--修改-->
		<%= render 'revise' %>
		<!--模态框-->
		<!--<div id="public_box">
			
		</div>-->
		
		<div class="clear"></div>
     </div>	
</div>
<!-- 地图容器 -->
<%= render 'map' %>
<!--分页-->

<!--增加站点模板-->
<script id="d_stations" type="text/html">
	<thead>
	    <tr>
	      <th>车间ID</th>
	      <th>车间名称</th>
	      <th>车间类型</th>
	      <th>区域归属</th>
	      <th>部署位置</th>
	      <th>经度</th>
	      <th>纬度</th>
	      <th>状态</th>
	      <th>操作</th>
	    </tr>
  </thead>
  <tbody>
	{{if all_stations.length > 0}}	
		{{each all_stations as data index}}
		<tr>
	        <td  class="id dat">{{data.id}}</td>
	        <td class="station_name"> {{data.station_name}}</td>
	        <td> {{data.station_type}}</td>
	        <td class="region_name">{{data.region_code}}</td>
	        <td class="ellipsis">{{data.station_location}}</td>
	        <td>{{data.longitude}}</td>
	        <td>{{data.latitude}}</td>
	        <td class="dStatus">{{if data.station_status=='1'}}启用{{else}}停用{{/if}}</td>
			<td class="handle_width">
				<a class="config" data-toggle="modal" data-target="#configModal">配置</a>
				<a class="revise" data-toggle="modal" data-target="#editModal">修改</a>
				<a class="stop">{{if data.station_status=='1'}}停用{{else}}启用{{/if}}</a>
			</td>
		</tr>
    	{{/each}}
	{{else}}
		<p>暂无数据</p>
	{{/if}}
	</tbody>
</script>

<!--分页-->
<!--<script id="public_page" type="text/html">
  <thead>
    <tr>
      <th>站点ID</th>
      <th>站点名称</th>
      <th>站点类型</th>
      <th>区域归属</th>
      <th>部署位置</th>
      <th>经度</th>
      <th>纬度</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody class="newStations_table">
   {{each log_queries as stat index }}
      {{each stat.d_stations as page index}}
      <tr>
        <td>{{page.id}}</td>       
      </tr>
      {{/each}}
    {{/each}}
  </tbody>
  
</script>-->

