<!--增加模板-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加区域</h4>
      </div>
      <div class="modal-body">


			  <form class="form-horizontal" id="add_station_form">
					<div class="form-group">
						<label class="col-xs-2 control-label">站点名称:</label>
						<div class="col-xs-5">
							<input id="stationName" required="required" class="filed_val station_name form-control" type="text" name="station_name"/>
						</div>
					</div>
					<div class="filed form-group">
				        <label class="col-sm-2 control-label">唯一编号:</label>
				        <div class="col-sm-5 ">
				            <input type="text" id="match" name="match" required="required" pattern="^[0-9\.]{1,10}$" placeholder="只能输入数字" class="form-control"/>
				        </div>
				    </div>
				    <div class="filed form-group">
						<label class="col-sm-2 control-label">区域名称:</label>
						<div class="col-sm-5 ">
							<input type="text" disabled="disabled" id="region_attr" name="region_attr" class="region_attr filed_val form-control" placeholder="请点击选择勾选区域归属" required="required"/>
							<input type="text" class="regionID hide" required="required"/>
							
						</div>
						<button type="button" class="btn choose region_choose">选择</button>
					</div>
					
					<div class="filed form-group">
						<label class="col-sm-2 control-label">&#X3000;&#X3000;经度:</label>
						<div class="col-sm-5 ">
							<input type="text" id="longLat" name="longLat" class="longLat filed_val form-control" required="required" placeholder="请点击地图选址" />
						</div>
						
					</div>
					<div class="filed form-group">
						<label class="col-sm-2 control-label">&#X3000;&#X3000;纬度:</label>
						<div class="col-sm-5 ">
							<input type="text" id="longGat" name="longGat" class="longGat filed_val form-control" required="required" placeholder="请点击地图选址" />
						</div>
					</div>
					<div class="filed form-group">
						<label class="col-sm-2 control-label">地理位置:</label>
						<div class="col-sm-5 ">
							<input type="text" id="locat" name="locat" class="location filed_val form-control" required="required" pattern="^[\u4e00-\u9fa5]{2,18}$" />
							
						</div>
						<button type="button" class="btn choose map_choose">地图选址</button>
					</div>
					
					<div class="filed form-group">
						<label class="col-sm-2 control-label">站点类型:</label>
						<div class="col-sm-5 ">
							<select class="filed_val station_type form-control" >
								<option value="小型站">小型站</option>
							</select>
						</div>
					</div>
					<div class="filed status form-group">
						<label class="col-sm-2 control-label">站点状态:</label>
						<div class="col-sm-5 ">
							<input type="radio" name="Radios" id="optionsRadios1" value="1" checked>
							<span>启用</span>
							<input type="radio" name="Radios" id="optionsRadios2" value="0">
							<span>停用</span>
						</div>
					</div>
					<div class="filed form-group">
						<label class="col-sm-2 control-label">详细信息:</label>
						<div class="col-sm-5 ">
							<input type="text"  class="form-control infom" name="infom">
						</div>
					</div>
					
					<div class="filed form-group">
						<label class="col-sm-2 control-label">建站日期:</label>
						<div class="col-sm-5 ">
							<input type="text" id="datetime" name="datetime" placeholder="请输入建站日期" class="dateTimepicker form-control" required="required"/>
						</div>
					</div>
					<div class="filed form-group">
						<label class="col-sm-2 control-label">负责人:</label>
						<div class="col-sm-5 ">
							<!--<select class="form-control" >
								<option value=""></option>
							</select>-->
							<input type="text" class="form-control"/>
						</div>
						
					</div>
					<div class="form-group filed">
						<label class="col-sm-2 control-label">距离(公里):</label>
						<div class="col-sm-5 ">
							<input type="text"  class="form-control distance">
						</div>
					</div>
					<div class="form-group filed">
						<label class="col-sm-2 control-label">所需时间:</label>
						<div class="col-sm-5 ">
							<input type="text"  class="form-control arrive_time">
						</div>
					</div>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure register" id="addBtn">保存</button>
      </div>
    </div>
  </div>
</div>
