<!--站点信息配置查询-->
<div class="deploy"><span class="glyphicon glyphicon-search"></span> 站点信息配置查询</div>
<div id="showStation">
	
	<div>
	  <strong>站点名称:</strong>
	  <span><%= @d_station.station_name %></span>
	</div>

	<div>
	  <strong>区域归属:</strong>
	  <span><%= @d_station.region_code %></span>
	</div>

	<div>
	  <strong>站点类型:</strong>
	  <span><%= @d_station.station_type %></span>
	</div>
	<div>
	  <strong>地理位置:</strong>
	  <span><%= @d_station.station_location %></span>
	</div>

	<div>
	  <strong>经度:</strong>
	  <span><%= @d_station.longitude %></span>
	</div>
	
	<div>
	  <strong>纬度:</strong>
	  <span><%= @d_station.latitude %></span>
	</div>
	<div>
	  <strong>站点IP:</strong>
	  <span><%= @d_station.station_ip %></span>
	</div>
	<div>
	  <strong>服务号:</strong>
	  <span><%= @d_station.service_no %></span>
	</div>
	<div>
	  <strong>建站日期:</strong>
	  <span><%= @d_station.setup_date.to_s[0..18]  %></span>
	</div>
	<div class="field">
		 <strong>版本号:</strong>
		 <span><%= @d_station.soft_version_no %></span>
	</div>
	<div class="remark">
		<strong>备注:</strong>
		<textarea><%= @d_station.note %></textarea>
	</div>

	<div class="showStationBtn">
		<%= link_to '编辑', edit_d_station_path(@d_station),class:"btn btn-success" %> 
		<%= link_to '返回', d_stations_path,class:"btn btn-success"  %>
	</div>
</div>