<div class="powerMain">
 
  <div class="navTop">
		<span class="lines"></span>
		<span class="tableName"> 现场检查停电管理记录表</span>
		 <button class="btn btn-default saveback" type="button" id="saveBack">返回</button>
		<button class="btn btn-md save" id="powerCreateSub" type="button">保存</button>
	</div>
	<div class="panel partial" data-taskid="" data-active="">
		<%= form_tag('/power_cut_records',:method => :post, :remote => true,:multipart => true,:enctype => 'multipart/form-data', :id => "powerCreate"  ) do %>
	  <div class="tablePower">
	    <table>
	      <tr class="public_search">
	        <td>站点：</td>
	        <td class="otherTd">
		        <input type="text" class="addControl_station form-control" id="addControl_stations" data-toggle="modal" data-target="#sq_radioStation"/>
				<input type="hidden"  class="addControl_stationID form-control" id="addControl_stationIDs"/>
		    </td>
	        <td>运维单位：</td>
	        <td class="otherTd"><input type="text" class="unit_yws"/>
	          <input type="hidden" class="unit_ywIDs"/></td>
	      </tr>
	      <tr>
	        <td>开始时间：</td>
	        <td class="otherTd"><input type="text" class="dateTimepickerH start_datetime" name="d_power_cut_record[begin_time]"/></td>
	        <td>结束时间：</td>
	        <td class="otherTd"><input type="text" class="dateTimepickerH end_datetime" name="d_power_cut_record[end_time]"/></td>
	      </tr>
	      <tr>
	        <td>来源：</td>
	        <td class="otherTd">
	        	<!--<input type="text" class="orange"  name="d_power_cut_record[origin]"/>-->
	        	<select class="orange">
	        		<script type="text/html" id="orangeList">
	        			{{each origins as list index}}
	        			<option value="{{list.text}}">{{list.value}}</option>
	        			{{/each}}
	        		</script>
	        	</select>
	        </td>
	        <td>异常：</td>
	        <td class="otherTd">
	        	<!--<input type="text" class="exception_name" name="d_power_cut_record[exception_name]"/>-->
	        	<select class="exception_name">
	        		<script type="text/html" id="abnormalsList">
	        			{{each abnormals as list index}}
	        			<option value="{{list.text}}">{{list.value}}</option>
	        			{{/each}}
	        		</script>
	        	</select>
	        </td>
	      </tr>
	      <tr>
	        <td>异常的设备类型：</td>
	        <td colspan="3" class="otherTd exception_device_type">
	          <span><input type="checkbox"  name="d_power_cut_record[exception_device_type]"/><label for="">SO2</label></span>
	          <span><input type="checkbox" /><label for="">NO2</label></span>
	          <span><input type="checkbox" /><label for="">O3</label></span>
	          <span><input type="checkbox" /><label for="">PM10</label></span>
	          <span><input type="checkbox" /><label for="">PM2.5</label></span>
	          <span><input type="checkbox"/><label for="">CO</label></span>
	        </td>
	      </tr>
	      <tr>
	        <td>运维人员：</td>
	        <td class="otherTd" id="operation" colspan="3"><input type="text" class="handle_man" name="d_power_cut_record[handle_man]" data-toggle="modal" data-target="#unitModal"/>
	        	<input type="hidden" class="unitId" value=""/>
	        </td>
	        
	      </tr>
	      <tr>
	        <td>备注：</td>
	        <td colspan="3" class="otherTd"><textarea name="" rows="2" cols="40"  name="d_power_cut_record[note]"></textarea>
	        </td>
	      </tr>
	      <tr>
	        <td>上传凭证：</td>
	        <td colspan="3" class="otherTd " rowspan="3" style="padding: 10px">
	          <div class="row">
	            <div class="col-md-6">
	              <!--<input type="file" name="image_file" id="image_file" onchange="imgchack('image_file')"/>-->
	              <input id="files" type="file" onchange="previewImage(this, 'prvid')" multiple="multiple">  
	            </div>
	            <div class="col-md-6">
	              <div id="prvid"></div>
	            </div>
	          </div>
	        </td>
	      </tr>
	    </table>
	   
	  </div>
	<% end %>
	</div>
  <%= render :partial => 'test_iframes/sq_radioStation' %>
<%= render 'unit' %>
</div>
<script>

</script>