<script type="text/html" id="powerAudit">
	<div class="powerMain">
		
		<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"> 现场检查停电管理记录表</span>
		 <button class="btn new_add_btn" id="showBack">返回</button>
		 <button class="btn btn-primary" id="auditSave">保存</button>
	</div>
	<div class="panel partial" data-taskid="" data-active="">
		<div class="tablePower">
			<table>
				<tr class="public_search">
					<td>站点：</td>
					<td class="otherTd"><input type="text" class="control_station" value="{{editData.powerCutRecord.station_name}}"/>
				       <input type="hidden"  class="control_stationID" /></td>
					<td>运维单位：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.unit_yw}}"/></td>
				</tr>
				<tr>
					<td>开始时间：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.begin_time}}"/></td>
					<td>结束时间：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.end_time}"}/></td>
				</tr>
				<tr>
					<td>时间跨度：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.time_range}}"/></td>
					<td>异常：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.exception_name}}"/></td>
				</tr>
				<tr>
					<td>异常的设备类型：</td>
					<td colspan="3" class="otherTd"><span><input type="checkbox" name="product" /><label for="">SO2</label></span>
						<span><input type="checkbox" name="product" /><label for="">NO2</label></span>
						<span><input type="checkbox" name="product" /><label for="">O3</label></span>
						<span><input type="checkbox" name="product" /><label for="">PM10</label></span>
						<span><input type="checkbox" name="product" /><label for="">PM2.5</label></span>
						<span><input type="checkbox" name="product" /><label for="">CO</label></span>
					</td>
					
				</tr>
				<tr>
					<td>运维人员：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.handle_man}}"/></td>
					<td>来源：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.origin}}"/></td>
				</tr>
				<tr>
					<td>备注：</td>
					<td colspan="3" class="otherTd"><textarea name="" rows="2" cols="40">{{editData.powerCutRecord.exception_name}}</textarea>
					</td>
				</tr>
				<tr>
					<td>上传凭证：</td>
					<td colspan="3" class="otherTd" rowspan="3">
						<img src="{{editData.powerCutRecord.img_path}}" alt="" class="picture"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="panel partial" data-taskid="" data-active="">
		<h3 class="check-second-title">审核</h3>
		<div class="check-list-content">
	        <table class="table check-list-table">
	            <tbody>
	            	<tr>
	                    <td align="right" style="width:150px;">审核内容：</td>
	                    <td colspan="1" id="audit_adopt">
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve" id="audit_w"  checked="'true'" value="W">通过
                            </label>
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve" value="N" id="audit_N">不通过
                            </label>
	                    </td>
                        <td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	                <tr style="display: none;" id="audit_text">
	                	<td>审核不通过原因：</td>
	                	<td class="col-sm-5">
	                		<select class="form-control" id="audit_des">
					          	{{each editData.fallbacks as fallList i}}
					          		<option value="{{fallList.value}}">{{fallList.value}}</option>
					          	{{/each}}
			        		</select>
	                	</td>
	                	<td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
	<div class="panel partial" data-taskid="" data-active="">
		<h3 class="check-second-title">审核不通过日志</h3>
		<div class="news">
			<div id="public_table">
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>返回原因</th>
							<th>备注</th>
							<th>返回时间</th>
						</tr>
				    </thead>
						<tbody class="exception">
							{{each editData.power_cut_audit_logs as list index}}
							<tr>
								<td>{{index+1}}</td>
								<td>{{list.audit_cause}}</td>
								<td>{{list.note}}</td>
								<td>{{list.updated_at}}</td>
							</tr>
							{{/each}}
							
						</tbody>
			    </table>
	        </div>
	      </div>
		</div>
	</div>
		
		
	</div>
</script>