<script type="text/html" id="edit_powers">
	<div class="powerMain">
		
		<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"> 现场检查停电管理记录表</span>
		 <button class="btn new_add_btn" id="editBack">返回</button>
		 <!--<button class="btn  btn-success"  id="editDone" style="margin-right: 15px;" value="Y">完成</button>-->
		 <button class="btn btn-md save" id="editSave" type="button" style="margin-right: 15px;" value="C">保存</button>
	</div>
	<div class="panel partial" data-taskid="" data-active="">
		<div class="tablePower">
			<table>
				<tr class="public_search">
					<td>站点：</td>
					<td class="otherTd"><input type="text" class="control_station" value="{{editData.powerCutRecord.station_name}}" />
				       <input type="hidden"  class="control_stationID" value="{{editData.powerCutRecord.d_station_id}}" ></td>
					<td>运维单位：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.unit_yw}}" disabled="disabled" /></td>
				</tr>
				<tr>
					<td>开始时间：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.begin_time}}" disabled="disabled" /></td>
					<td>结束时间：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.end_time}}" disabled="disabled" /></td>
				</tr>
				<tr>
					<td>时间跨度：</td>
					<td class="otherTd"><input type="text" value="{{editData.powerCutRecord.time_range}}" disabled="disabled"></td>
					<td>异常：</td>
					<td class="otherTd">
						<select class="exception_names">
							{{each editData.abnormals as abnormalsList i}}
								<option value="{{abnormalsList.text}}">{{abnormalsList.value}}</option>
							{{/each}}
						</select>
					</td>
				</tr>
				<tr>
					<td>异常的设备类型：</td>
					<td colspan="3" class="otherTd"><span><input type="checkbox" name="product" /><label for="">SO2</label></span>
						<span><input type="checkbox" name="product" /><label for="">NO2</label></span>
						<span><input type="checkbox" name="product" /><label for="">O3</label></span>
						<span><input type="checkbox" name="product" /><label for="">PM10</label></span>
						<span><input type="checkbox" name="product" /><label for="">PM2.5</label></span>
						<span><input type="checkbox" name="product" /><label for="">CO</label></span>
					</td>
					
				</tr>
				<tr>
					<td>运维人员：</td>
					<td class="otherTd" id="operation"><input type="text" value={{editData.powerCutRecord.handle_man}} class="handle_man" disabled="disabled"/>
						
					</td>
					<td>来源：</td>
					<td class="otherTd">
						<select class="origins">
							{{each editData.origins as originsList i}}
								<option value="{{originsList.text}}">{{originsList.value}}</option>
							{{/each}}
						</select>
						
					</td>
				</tr>
				<tr>
					<td>备注：</td>
					<td colspan="3" class="otherTd"><textarea name="" rows="2" cols="40">{{editData.powerCutRecord.exception_name}}</textarea>
					</td>
				</tr>
				<tr>
					<td>上传凭证：</td>
					<td colspan="3" class="otherTd" rowspan="3">
						<div class="row">
	            <div class="col-md-6">
	              <input id="files" type="file" onchange="previewImage(this, 'prvid1')" multiple="multiple">  
	            </div>
	            <div class="col-md-6">
	              <div id="prvid1"></div>
	            </div>
	          </div>
						
					</td>
				</tr>
			</table>
		</div>
		
	</div>
	<div class="panel partial" data-taskid="" data-active="">
		<h3 class="check-second-title">审核不通过日志</h3>
		<div class="news">
			<div id="public_table">
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>返回原因</th>
							<th>备注</th>
							<th>返回时间</th>
						</tr>
				    </thead>
						<tbody class="exception">
							{{each editData.power_cut_audit_logs as list index}}
							<tr>
								<td>{{index+1}}</td>
								<td>{{list.audit_cause}}</td>
								<td>{{list.note}}</td>
								<td>{{list.updated_at}}</td>
							</tr>
							{{/each}}
							
						</tbody>
			    </table>
	        </div>
	      </div>
		</div>
	</div>
		
		
	</div>
</script>