<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="powerCutRecordsOther">
	<div class="powerMain">
		<div class="totalName">
			现场检查停电管理记录表
		</div>
		<div class="tablePower">
			<table>
				<tr class="public_search">
					<td>站点：</td>
					<td class="otherTd"><input type="text" class="control_station"/>
				  <input type="hidden"  class="control_stationID" /></td>
					<td>运维单位：</td>
					<td class="otherTd"><input type="text" /></td>
				</tr>
				<tr>
					<td>开始时间：</td>
					<td class="otherTd"><input type="text" /></td>
					<td>结束时间：</td>
					<td class="otherTd"><input type="text" /></td>
				</tr>
				<tr>
					<td>时间跨度：</td>
					<td class="otherTd"><input type="text" /></td>
					<td>异常：</td>
					<td class="otherTd"><input type="text" /></td>
				</tr>
				<tr>
					<td>异常的设备类型：</td>
					<td colspan="3" class="otherTd"><span><input type="radio" name="product" /><label for="">SO2</label></span>
						<span><input type="radio" name="product" /><label for="">NO2</label></span>
						<span><input type="radio" name="product" /><label for="">O3</label></span>
						<span><input type="radio" name="product" /><label for="">PM10</label></span>
						<span><input type="radio" name="product" /><label for="">PM2.5</label></span>
						<span><input type="radio" name="product" /><label for="">CO</label></span>
					</td>
				</tr>
				<tr>
					<td>运维人员：</td>
					<td class="otherTd"><input type="text" /></td>
					<td>来源：</td>
					<td class="otherTd"><input type="text" /></td>
				</tr>
				<tr>
					<td>备注：</td>
					<td colspan="3" class="otherTd"><textarea name="" rows="2" cols="40"></textarea>
					</td>
				</tr>
				<tr>
					<td>上传凭证：</td>
					<td colspan="3" class="otherTd">
					</td>
				</tr>
			</table>
			<div class="save_back">
				<button class="btn-success">保存</button>
				<button class="btn-default">返回</button>
			</div>
		</div>
		<div class="news">
			<strong class="line_other"></strong>
			<span>审核不通过日志</span>
			<div id="public_table">
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td>序号</td>
								<td>返回原因</td>
								<td>备注</td>
								<td>返回时间</td>
							</tr>
				    </thead>
						<tbody class="exception-list">
						</tbody>
			    </table>
	        </div>
	      </div>
		</div>
	</div>
	<%= render :partial => 'test_iframes/public_station' %>	
</div>


