<script id="powerCutRecord" type="text/html">
	{{if powerCutRecords}}
		{{each powerCutRecords as list i}}
		<tr class="list-parent">
			<td><span class="hide">{{list.id}}</span>{{i + 1}}</td>
			<td>{{list.station_name}}</td>
			<td>{{list.unit_yw}}</td>
			<td>{{list.begin_time}}</td>
			<td>{{list.end_time}}</td>
			<td>{{list.time_range}}</td>
			<td>{{list.created_at}}</td>
			<td>{{list.exception_name}}</td>
			<td>{{list.origin}}</td>
			<td>{{list.handle_man}}</td>
			<td>{{list.audit_des}}</td>
			<td class="job_status">{{list.job_status}}</td>
			<td class="picture_max"><img src="/images/h-img.png" class="checkImg" title="点击查看">
				<div style="display: none;" class="showImg">
					<p class="close">X</p>
					<img src="{{list.img_path}}"/>
				</div>
			</td>
			<td>
				<a class="lookFor">查看</a>
				<a class="editFor">编辑</a>
			
				<a class="auditFor">审核</a>
			</td>
		</tr>	
        {{/each}}
    {{else}}
    <tr>
		<td colspan="14">暂无数据</td>
	</tr>
	{{/if}}
</script>
