<div class="modal fade" id="unitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">运维人员</h4>
      </div>
      <div class="modal-body">
  		<div id="unit_list"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>
<script id="unitList" type="text/html">
	{{each s_region_code_infos as list index}}
	<div class="unit_send">
		<p class="unit_name">
			<span class="unit_id hide">{{list.id}}</span>
			<button class="btn btn-sm">{{list.unit_name}}</button>
		</p>
		<div class="unit_user">
			{{each list.login_msgs as perlist i}}
			<div>
				<input type="radio" name="pers" value="{{perlist.id}}">
				<span class="persName">{{perlist.name}}</span>
			</div>
			
			{{/each}}
		</div>
	</div>
	{{/each}}
</script>