<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="powerCutRecords">
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">停电纪录管理</span>
	</div>
	<div class="navMain public_search">
		<input type="hidden" class="searchUnit" />
		<input type="hidden" class="startTime1" />
		<input type="hidden" class="endTime1" />
		<input type="hidden" class="searchStatus" />
		<input type="hidden" class="searchOrigins" />
		<input type="hidden" class="searchDes" />
		<input type="hidden" class="searchSta"/>
			<form class="form-inline">
				<div class="form-group">
					<label for="">运维单位：</label>
		            <input type="text" class="unit_yw form-control"/>
		            <input type="hidden"  class="unit_ywID" />
				</div>
				<div class="form-group">
					<label for="">时间：</label>
					<input type="" class="dateTimepicker create_datetime form-control"/>-
				    <input type="" class="dateTimepicker end_datetime form-control"/>
				</div>
				<div class="form-group">
					<label for="" class="label_marginLeft">站点：</label>
			        <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            <input type="text"  class="control_stationIDs hide" />
				</div>
				<div class="form-group">
					<label for="">状态:</label>
			        <select class="status form-control">
			          <script id="powerStatus" type="text/html">
			            <option value="">请选择状态</option>
			            {{each status as statu index}}
			              <option value="{{statu.text}}">{{statu.value}}</option>
			            {{/each}}
			          </script>
	        		</select>
				</div>
				<div class="form-group">
					<label for="">来源:</label>
			        <select class="origins form-control">
			          <script id="powerOrigins" type="text/html">
			            <option value="">请选择来源</option>
			            {{each origins as origin index}}
			              <option value="{{origin.value}}">{{origin.value}}</option>
			            {{/each}}
			          </script>
	        		</select>
				</div>
				<div class="form-group">
					<label for="">回退原因:</label>
			        <select class="form-control" id="audit_des">
			          <script id="powerDes" type="text/html">
			            <option value="">请选择</option>
			            {{each fallbacks as list index}}
			              <option value="{{list.value}}">{{list.value}}</option>
			            {{/each}}
			          </script>
	        		</select>
				</div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				    <button type="button" class="btn add_power new_add_btn" id="add" type="button">新增</button>
				</div>
			</form>
			   <!-- <button type="button" class="btn btn-default navbar-btn">查询</button>-->
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	    <div id="public_table">
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>站点</th>
							<th>运维单位</th>
						    <th>开始时间</th>
						    <th>结束时间</th>
						    <th>时间跨度</th>
						    <th>创建时间</th>
						    <th>异常</th>
						    <th>来源</th>
						    <th>运维人员</th>
						    <th>回退原因</th>
						    <th>状态</th>
						    <th>停电凭证</th>
						    <th>操作</th>
					    </tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
			    </table>
	        </div>
	        <div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<!--<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> -->
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
	    </div>
		<%= render 'table' %>
		
	<%= render :partial => 'test_iframes/sq_publicStation' %>
	<%= render :partial => 'test_iframes/public_unitYw' %>
	<div id="public_box"></div>
	
	<div class="clear"></div>
	</div>
	
<div id="powerCutRecordsOther">
  <%= render :partial => 'add_form' %>
  <%= render :partial => 'test_iframes/public_station' %>
	<%= render :partial => 'test_iframes/prative_unitYw' %>	
</div>
<div id="powerCutRecordsOthers">
	<%= render 'lookNews' %>
</div>
<div id="editPowers">
	<%= render 'edit' %>
</div>
<div id="auditPowers">
	<%= render 'audit' %>
</div>
