<script id="powerCutRecords" type="text/html">
	{{if powerCutRecords.length > 0}}
		{{each powerCutRecords as list i}}
		<tr class="list-parent">
			<td>list.id</td>
		</tr>	
    {{/each}}
    {{else}}
    <tr>
		<td colspan="14">暂无数据</td>
	</tr>
	{{/if}}
</script>
