<%  content_for :javascript do
  javascript_include_tag "#{controller_name}"
end
%>
<div id="d_task_forms" >
  <div class="navTop">
    <span class="lines"></span>
    <span class="tableName">设备检修审核</span>
  </div>

  <div id="public_table">
    <div class="public_table">
      <table class="table table-bordered table-hover">

      </table>
    </div>
    
  </div>
  <div class="page_list">
      <ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
      <select id="pagesize" class="right">
        <option value="10" selected="selected">每页10条</option>
        <option value="20">每页20条</option>
        <option value="30">每页30条</option>
        <option value="40">每页40条</option>
        <option value="50">每页50条</option>
      </select>
      <div class="page_total left">
        <span>共<small></small>条数据,当前显示第<a>1</a>页</span>
      </div>
    </div>
  <script id="review_equips" type="text/html">
    <thead>
    <tr>
      <th class="hide">序号</th>
      <th>车间名称</th>
      <th>设备名称</th>
      <th>创建人</th>
      <th>检修人员</th>
      <th>检修开始日期</th>
      <th>检修结束日期</th>
      <th>检修原因</th>
      <th>状态</th>
      <th>描述</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{if review_equips.length > 0}}
    {{each review_equips as data index}}
    <tr>
      <td class="hide id">{{data.id}}</td>
      <td>{{data.region_name}}</td>
      <td>{{data.equip_name}}</td>
      <td>{{data.founder}}</td>
      <td>{{data.handle_name}}</td>
      <td>{{data.handle_start_time}}</td>
      <td>{{data.handle_end_time}}</td>
      <td>{{data.snag_desc}}</td>
      <td>{{data.status}}</td>
      <td>{{data.desc}}</td>
      <td class="handle_width">
        <a class="watched">查看</a>
        <a class="btnPass">通过</a>
        <a class="btnUnpass">不通过</a>
      </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td colspan="13">
        暂无数据
      </td>
    </tr>
    {{/if}}
    </tbody>
  </script>
  <div id="public_box"></div>
  <div class="clear"></div>
</div>
<div id="showRecord"  class="hide">
  <%= render 'handle_equips/details' %>
</div>
  <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">  
    <div id="innerdiv" style="position:absolute;">  
        <img id="bigimg" style="border:5px solid #fff;" src="" />  
    </div>  
</div> 

