<script id="score" type="text/html">
	{{if five_datas.length  > 0 }}
		{{each five_datas as list i}}
			<tr>
				<td class="station-list" style="width: 200px;">{{list.station_name}}
					<span class="hide">{{list.station_id}}</span>
				</td>
				<td>{{list.data_cycle}}</td>
				<td>{{list.data_item}}</td>
				<td>{{list.data_value}}</td>
				<td>{{list.data_label}}</td>
				<td>{{list.data_label_des}}</td>
		        <td>{{list.created_at}}</td>
		        
		    </tr>
	    {{/each}}
    {{else}}
	<tr>
		<td colspan="7">暂无数据</td>
	</tr>
	{{/if}}
</script>