<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="xinshu" >
	<div id="powerCutRecords">
		<div class="navTop">
				<span class="lines"></span>
				<span class="tableName">质控标识查询</span>
			</div>
			<div class="navMain">
				<div class="row public_search public_searchs">
			        <div class="col-sm-4 col-md-3">
				        <label>选择站点:</label>
						<input type="text" class="control_station" />
						<input type="text" class="control_stationID" />
			        </div>
		     		<div class="col-sm-4 col-md-3">
				        <label for="">开始时间:</label>
				        <input name="start_date" type="text" class="dateTimepicker start_time" />
		     		</div>
		     		<div class="col-sm-4 col-md-3">
				        <label for="">结束时间:</label>
				        <input name="end_date" type="text" class="dateTimepicker end_time" />
		     		</div>
		     		<div class="col-sm-4 col-md-3">
		     			<label for="">质控因子:</label>
		                <%= select("item", "id", SAbnormalLtem.all.collect {|p| [ p.item_name, p.id ] }, { include_blank: true }) %>
		     		</div>
			    </div>
				<div class="row public_search public_searchs row_search">
					<div class="col-sm-4 col-md-3">
		     			<label for="">质控标识:</label>
		     			<input type="text" id="check" class="place">
					    <input type="text" id="checkId" style="display: none;"/>
					    <dl class="placeNews">
								<dt>
									<input type="checkbox" id="checkAll" value=""/>
									<label for="checkAll">全选</label>
								</dt>
								<dd>
									<div class="p"><input type="checkbox" id="item1" value="H"/><label for="item1">H</label></div>
									<div class="p"><input type="checkbox" id="item2" value="BB"/><label for="item2">BB</label></div>
									<div class="p"><input type="checkbox" id="item3" value="B"/><label for="item3">B</label></div>
									<div class="p"><input type="checkbox" id="item4" value="W"/><label for="item4">W</label></div>
									<div class="p"><input type="checkbox" id="item5" value="HSp"/><label for="item5">HSp</label></div>
									<div class="p"><input type="checkbox" id="item6" value="LSp"/><label for="item6">LSp</label></div>
									<div class="p"><input type="checkbox" id="item7" value="PS"/><label for="item7">PS</label></div>
									<div class="p"><input type="checkbox" id="item8" value="PZ"/><label for="item8">PZ</label></div>
									<div class="p"><input type="checkbox" id="item9" value="AS"/><label for="item9">AS</label></div>
									<div class="p"><input type="checkbox" id="item10" value="CZ"/><label for="item10">CZ</label></div>
									<div class="p"><input type="checkbox" id="item11" value="CS"/><label for="item11">CS</label></div>
									<div class="p"><input type="checkbox" id="item12" value="RM"/><label for="item12">RM</label></div>
									<p class="buttons"><label id="btnSure">确定</label><label id="btnQv">取消</label></p>
								</dd>
							</dl>
		     		</div>
		     		<div class="col-sm-4 col-md-3">
					    <button class="btn search">查询</button>
				        <a type="button" class="putTable" href='javascript:void(0)' >
				                导出表格
				        </a>
					</div>
				</div>
					
			</div>
			
			
			
			<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
			<div id="public_table">
				<div class="public_table">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th class="sorts" style="vertical-align: middle; text-align: center; width: 100px;" rowspan="3">
									站点名称
								</th>
								<th >
									数据周期
								</th>
								<th >
									质控因子
								</th>
								<th >
									因子数值
								</th>
								<th >
									质控标识
								</th>
								<th >
									标识描述
								</th>
								<th >
									时间
								</th>
							</tr>
					    </thead>
						<tbody class="exception-list">
						</tbody>
					</table>
			    </div>
			</div>
		 <!--分页-->
		<div>
			<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
			<select id="pagesize" class="right">  
			    <option value="10" selected="selected">每页10条</option>  
			    <option value="20">每页20条</option>
				<option value="30">每页30条</option>  
			    <option value="40">每页40条</option>
			    <option value="50">每页50条</option> 
			</select>  
		</div>
		<div class="page_total left">
			<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
		</div>
		<div class="clear"></div>   
	</div>
</div>
<!--站点-->	
<%= render :partial => 'test_iframes/public_station' %>
<%= render 'scoreList' %>
