<div class="public_table">
	<table class="table table-bordered table-hover">
       <thead>
       	<tr>
       		<th>站点名称</th>
       		<th>报警规则</th>
       		<th>报警级别</th>
       		<th>首次报警时间</th>
       		<th>最新报警时间</th>
       		<th>连续报警次数</th>
       		<th>状态</th>
       		<th>操作</th>
       	</tr>
       </thead>
       <tbody>
			<script id="originData" type="text/html">
				{{if alarms.length != 0}}
					{{each alarms as alarmNotice index}}
						<tr>
							<td>{{alarmNotice.station_name}}
							    <span class="hide stationID">{{alarmNotice.station_id}}</span>
							</td>
							<td>{{alarmNotice.alarm_rule}}
							    <span class="hide alarmid">{{alarmNotice.id}}</span></td>
							<td>{{alarmNotice.alarm_level}}</td>
							<td>{{alarmNotice.first_alarm_time}}</td>
							<td>{{alarmNotice.last_alarm_time}}</td>
							<td>{{alarmNotice.continuous_alarm_times}}</td>
							<td>{{alarmNotice.status}}</td>
							<td>
								<span class="id none">{{alarmNotice.id}}</span>
								<a class="lookfor">查看</a>
							</td>
						</tr>
					{{/each}}
				{{else}}
					<tr>
						<td colspan="8">暂无数据</td>
					</tr>
				{{/if}}
			</script>
		</tbody>
	</table>
	
</div>