<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="d_alarms" >
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：报警历史查询</span>
	</div>
	<div class="public_search d_alarms">
		<label for="">站点:</label>
		<input type="text" class="control_station"/>
		<input type="text"  class="control_stationID" />
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<b>-</b>
		<input type="text" class="dateTimepicker end_datetime"/>
		
		<label for="">报警级别:</label>
		<select class="notice_leval">
			<script id="notice_leval" type="text/html">
				<option value="">请选择报警级别</option>
				{{each alarm_levels as alarmLevel index}}
					<option value="{{alarmLevel.alarm_level}}">{{alarmLevel.level_name}}</option>
				{{/each}}
			</script>
		</select>
		<div class="search_bottom">
			<label for="">状态:</label>
			<select class="status">
				<script id="alarmStatus" type="text/html">
					<option value="">请选择状态</option>
					{{each alarm_status as alarmStatus index}}
						<option value="{{alarmStatus.status}}">{{alarmStatus.status_name}}</option>
					{{/each}}
				</script>
			</select>
			<button class="btn search">查询</button>
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	</div>
	<!--站点-->
	<%= render 'test_iframes/public_station' %>
	<!--报警通知表格-->
	<%= render 'table' %>
	<%= render 'lookTable' %>
	<!--模态框-->
	<div id="public_box"></div>
	<div class="lookforRules">
		
	</div>
</div>
<%= render 'lookfor'%>
<!--分页-->
<div>
	<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
	<select id="pagesize" class="right">  
	    <option value="10" selected="selected">每页10条</option>  
	    <option value="20">每页20条</option>
		<option value="30">每页30条</option>  
	    <option value="40">每页40条</option>
	    <option value="50">每页50条</option> 
	</select>  
</div>
<div class="page_total left">
	<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
</div>
<div class="clear"></div>