
<div class="public_box">
		<div class="public_area">
			
			<div class="area_content">
				<div id="unit_list"></div>
			</div>
			<div class="area_btn">
				<button type="button" class="btn btn-sure" id="unitBtn">确定</button>
				<button type="button" class="btn btn-cancel">取消</button>
			</div>
		</div>
	</div>

<script id="unitList" type="text/html">
	<ul>
	{{each data as list i}}
		<li><input type="radio" name="units" value="{{list.id}}"><span>{{list.login_name}}</span></li>
	{{/each}}
	</ul>
</script>