<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="statistic_place">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">到位统计</span>
		</div>
		<div class="navMain public_search">
			<input type="hidden" class="searchUnit">
			<input type="hidden" class="searchRen">
			
			<form class="form-inline">
				<div class="form-group">
					<label for="" >运维单位：</label>
		            <input type="text" class="unit_yw form-control"/>
		            <input type="hidden"  class="unit_ywID" />
				</div>
				<div class="form-group">
					<label for="" >运维人员：</label>
		            <input type="text" class="form-control unit_ry"/>
		            
				</div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				</div>
			</form>
			
     	</div>
     	
     	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			<div class="btn-group" role="group" >
			  <button type="button" class="btn btn-default" id="last_month" value="L">上月</button>
			  <button type="button" class="btn btn-default btn-chack" id="this_month" value="N">本月</button>
			</div>
			<p style="display: initial;" class="monthData">月份：<span></span></p>
			<!--<button class="btn new_add_btn" id="work_add" data-toggle="modal" data-target="#mapModal" type="button">
				地图
			</button>-->
			<!--<button class="btn new_add_btn" type="button" id="last_month" value="L">上月</button>
			<button class="btn new_add_btn" type="button" id="this_month" value="N">本月</button>-->
	    	<input type="hidden" value="" class="flag"/>
	    	<div class="public_table" style="max-height: 450px;overflow-y: scroll;">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<!--<th>城市</th>-->
							<th>运维单位</th>
							<th>运维人员</th>
							<th>联系方式</th>
							<!--<th>周次</th>
							<th>时间</th>-->
							<th>总站点个数</th>
							<th>总工单数</th>
							<th>已完成</th>
							<th>到位率(%)</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
	     	</div>
	     	<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page2"></ul>
				<select id="pagesize2" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total2 left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
	    </div>
	   
	<div class="clear"></div>
	</div>
	<%= render :partial => 'test_iframes/public_unitYw' %>
</div>
<script id="placeTable" type="text/html">
	{{each handle_mans as list index}}
		<tr>
			<td class="hide id">{{list.id}}</td>
			<td>{{list.unit_name}}</td>
			<td>{{list.handle_man}}</td>
			<td>{{list.telphone}}</td>
			
			<td>{{list.hand_station_num }}</td>
			<td>{{list.task_form_num}}</td>
			<td>{{list.task_form_ok}}</td>
			<td>{{list.task_form_num == 0 ? '0.00' :(list.task_form_ok / list.task_form_num).toFixed(2)}}</td>
			<td>
				<a class="lookFor">详细</a>
			</td>
		</tr>
	{{/each}}
</script>
<%= render 'look' %>
<!--<%= render 'map' %>-->