<!--批量新增-->
<div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">批量添加点检管理</h4>
      </div>
      <div class="modal-body">
        <form id="add_batch_form" class="form-horizontal">
        	<!--<div class="filed form-group">
        		<label for="" class="col-sm-3 control-label">车间部门：</label>
              <div class="col-sm-5 ShopName">
                <select name="" id="department" class="form-control">
                 
                </select>
              </div>
        	</div>-->
            <div class="filed form-group">
              <label for="" class="col-sm-3 control-label">车间名称：</label>
              <div class="col-sm-5 ShopName">
                <select name="" id="workshop" class="form-control">
                  <option value="">请选择</option>
                  <% if @region_code.present? %>
                    <% @region_code.each do |r| %>
                      <option value="<%= r.id %>"><%= r.region_name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <label id="workshop1" class="hide match_vlide">请输入车间名称</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">车间区域:</label>
              <div class="col-sm-5">
              	<label><input type="checkbox" class="checkAll">全选</label>
                <div class="regionName">
                  
                  <script type="text/html" id="regionnamebatch">
                    {{if areas}}
                    {{each areas as areas index}}
                    	<div style="display:inline-block;text-algin:left;" class="col-sm-6"><input type="checkbox"  value="{{areas.id}}" value1="{{areas.code}}" class="region">{{areas.name}}</div>
                    {{/each}}
                    {{/if}}
                  </script>
                </div>
              </div>
              
            </div>
            <!--<div class="filed form-group">
              <label class="col-sm-3 control-label">设备名称：</label>
              <div class="col-sm-5">
                <select class="form-control DeviceName">
                  <option>请选择</option>
                  <script type="text/html" id="devicenameadd">
                    {{if equips}}
                    {{each equips as equip index}}
                    <option value="{{equip.id}}" value1="{{equip.equip_code}}">{{equip.equip_name}}</option>
                    {{/each}}
                    {{/if}}
                  </script>
                </select>
              </div>
              <label id="DeviceName" class="hide match_vlide">请输入设备选择</label>
            </div>-->
            <div>
	            <div class="Times" id="time_0">
	            	<br />
	            	<div class="filed form-group">
		              <label class="col-sm-3 control-label">点检计划开始时间：</label>
		              <div class="beginTime col-sm-5 ">
		                <input class="dayStart form-control" />
		              </div>
		              <label id="beginTime" class="hide match_vlide">请输入点检计划开始时间</label>
		            </div>
		            <div class="filed form-group">
		              <label for="" class="col-sm-3 control-label">点检计划结束时间：</label>
		              <div class="endTime col-sm-5 ">
		                <input class="dayEnd form-control" />
		              </div>
		              <label id="endTime" class="hide match_vlide">请输入点检计划结束时间</label>
		            </div>
		            
	            </div>
	            <button type="button" class="btn btn-primary" id="Multipletime">添加时间段</button>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">需要检查的项目：</label>
              <div class="col-sm-5 ItemsChecked2">
               <script type="text/html" id="ItemsChecked2">
                  {{if boots}}
                  {{each boots as boot index}}
                  <div style="display:inline-block;text-algin:left;" class="col-sm-6"><input type="checkbox"  value="{{boot.id}}" class="checkYN2">{{boot.check_project}}</div>
                  {{/each}}
                  {{/if}}
                </script>
              </div>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">点检工单描述：</label>
              <div class="col-sm-5">
                <textarea required="required" placeholder="请输入点检工单描述" class="form-control DescriptionInspector"></textarea>
              </div>
              <label id="DescriptionInspector" class="hide match_vlide">请输入点检工单描述</label>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="addBtn">保存</button>
      </div>
    </div>
  </div>
</div>

