<!--<script type="text/html" id="dTaskFormsNews">-->
<div id="dTask">
  <div  class="dTaskMain">
    <div class="navTop">
      <span class="lines"></span>
      <span class="tableName">点检查看</span>
      <button class="btn btn-default"  id="editBack">返回</button>
    </div>
    <div class="dTaskTop panel">
      <ul>
        <li>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>待下发</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>待处理</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <p>已完成</p>
        </li>
      </ul>
    </div>
    <div class="dTaskMainNews panel">
      <div class="workNews">
        <span>点检信息</span>
      </div>
      <div class="workList MaintenanceIfo">
        <script id="DetailsworkNews" type="text/html">
          <div class="listNews">
            <span>
              <span>点检车间：{{equip_work.region_name}}</span>
              <span>点检区域：{{equip_work.area_name}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>创建人：{{equip_work.founder}}</span>
              <span>检修人员：{{equip_work.work_person}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>点检开始时间：{{equip_work.work_start_time}}</span>
              <span>点检结束时间：{{equip_work.work_end_time}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>点检描述：{{equip_work.work_desc}}</span>
              <span>点检状态：{{equip_work.work_status}}</span>
            </span>
          </div>
        </script>
      </div>
    </div>
    <div class="panel" id="CheckProjectDetail">
      <div class="workNews">
        <span>点检项目</span>
      </div>
      <div class="workList CheckProjectDetail">
        <script id="bootsDetail" type="text/html">
          {{if boots.length > 0}}
          {{each boots as data index}}
            <div class="listNewsDetail" style="margin-left: 3%">
              <span class="projectName" value="{{data.boot_check_id}}" >{{data.check_project}}:</span>
              <div style="display: inline-block;line-height: 30px"><input type="radio" name="result{{index}}" value='Y' disabled class="normal">正常</div>
              <div style="display: inline-block;line-height: 30px"><input type="radio" name="result{{index}}" value='N' disabled class="abnormal">异常</div>
              <div class="hide abnormalReason" style="display: inline-block;line-height: 30px">
                <span style="margin-left: 20px;display: inline-block;line-height: 30px">异常原因：</span>
                <textarea name="" id="abnormalReason" style="width:300px;height:30px;display: inline-block" class="form-control" disabled></textarea>
              </div>
            </div>
            
          {{/each}}
          {{/if}}
          
        </script>
      </div>
      <div class="listNewsDetail" style="margin-left: 3%">
        <span>点检项目附图：</span>
        <span>
            <div id="prvid"><img src="" alt="" class="simg" width="200"></div>
        </span>
         
      </div>
    </div>
    <div class="timeLog panel">
      <div class="workNews">
        <span>处理日志</span>
      </div>
      <div class="workList notes">
        <script id="notes" type="text/html">
          {{if notes.length > 0}}
          {{each notes as data index}}
          <div style="margin-left: 3%;line-height: 30px">
            <span>{{data.note_time}}</span>
            {{if data.status == '创建'}}
            <span>{{data.login_name}}创建了此任务</span>
            {{else if data.status == '下发' }}
            <span>此任务下发给了{{data.login_name}}</span>
            {{else if data.status == '处理' }}
            <span>{{data.login_name}}处理了此任务</span>
            {{else if data.status == '完成' }}
            <span>{{data.login_name}}完成了此任务</span>
            {{/if}}
          </div>
          {{/each}}
          {{/if}}
        </script>
      </div>
    </div>
  </div>
</div>
<!--</script>-->
<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">  
    <div id="innerdiv" style="position:absolute;">  
        <img id="bigimg" style="border:5px solid #fff;" src="" />  
    </div>  
</div>