<!--<script type="text/html" id="dTaskFormsNews">-->
<div id="dTask">
  <div  class="dTaskMain">
    <div class="navTop">
      <span class="lines"></span>
      <span class="tableName">点检编辑</span>
      <button class="btn btn-default"  id="editBack">返回</button>
      <button class="btn  btn-success"  id="editDone" value="wait_review" style="margin-right: 15px;">完成</button>
    </div>
    <div class="dTaskTop panel">
      <ul>
        <li>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>已下发</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>处理中</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <p>已完成</p>
        </li>
      </ul>
    </div>
    <div class="dTaskMainNews panel">
      <div class="workNews">
        <span>点检信息</span>
      </div>
      <div class="workList MaintenanceIfo">
        <script id="workNews" type="text/html">
          <div class="listNews">
            <span>
              <span>点检车间：{{equip_work.region_name}}</span>
              <span>点检区域：{{equip_work.area_name}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>创建人：{{equip_work.founder}}</span>
              <span>检修人员：{{equip_work.work_person}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>点检开始时间：{{equip_work.work_start_time}}</span>
              <span>点检结束时间：{{equip_work.work_end_time}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>点检描述：{{equip_work.work_status}}</span>
              <span>点检状态：{{equip_work.work_desc}}</span>
            </span>
          </div>
        </script>
      </div>
    </div>
    <div class="dTaskMainNews panel" style="height: 100%;">
      <div class="workNews">
        <span>点检项目</span>
      </div>
      <div class="workList CheckProject" style="margin-left: 15px;">
        <script id="boots" type="text/html">
          {{if boots.length > 0}}
          {{each boots as data index}}
          <div class="listNews2">
            <span class="projectName" value="{{data.id}}" value1="{{data.boot_check_id}}" >{{data.check_project}}:</span>
            <div style="display: inline-block;line-height: 30px;margin-left: 10px;margin-right: 10px;"><input type="radio" name="result{{index}}" value='Y' checked class="normal">正常</div>
            <div style="display: inline-block;line-height: 30px;margin-left: 10px;margin-right: 10px;"><input type="radio" name="result{{index}}" value='N' class="abnormal">异常</div>
            <div class="hide abnormalReason" style="display: inline-block;line-height: 30px">
              <span style="margin-left: 20px;display: inline-block;line-height: 30px">异常原因：</span>
              <textarea name="" id="abnormalReason" style="width:300px;height:30px;display: inline-block" class="form-control"></textarea>
            </div>
          </div>
          {{/each}}
          {{/if}}
          <div class="look_insp">
          	<span>上传图片:</span>
		        <input class="files" type="file" onchange="previewImage(this, 'prvid2')" multiple="multiple" style="display: inline-block;">
		        <div id="prvid2"><img src="" alt=""></div>
		      </div>
        </script>
				
      </div>
      <!--<button type="button" class="btn btn-primary editButton">暂存</button>-->
    </div>


  </div>
</div>
<!--</script>-->