<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<style>
  #dTask ul{
    width: 90%;
    background: #FFF;
    overflow: hidden;
    margin: 20px auto;
  }
  #dTask ul li{
    position: relative;
    text-align: center;
    width: 30%;
    float: left;
    height: 60px;
  }
  #dTask .circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #999;
    position: absolute;
    left: 50%;
    margin-left: -20px;
  }
  #dTask .lineLeft{
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #999;
    width: 50%;
    vertical-align: 8px;
    position: absolute;
    left: 0px;
    top: 10px;
  }
  #dTask .lineRight{
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #999;
    width: 50%;
    vertical-align: 8px;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  #dTask ul li p{
    position: absolute;
    top: 30px;
    width: 100%;
    margin-left: -10px;
  }
  #dTask ul li .changeColor{
    background: #00923f;
  }
  #MaintenanceEditor table td{
    margin: 10px 0px;
    display: inline-block;
  }
  #div-1{
  	border-bottom: 1px solid #efefef;
  }
</style>
<div id="d_task_forms" >
  <div class="navTop">
    <span class="lines"></span>
    <span class="tableName">设备点检管理</span>
  </div>
  <div class="navMain public_search">
    <input type="hidden" class="searchSta"/>
    <input type="hidden" class="startTime1" />
    <input type="hidden" class="endTime1" />
    <input type="hidden" class="searchWor"/>
    <input type="hidden" class="searchPerson"/>
    <input type="hidden" class="searchStatus"/>
    <form class="form-inline">
      <div class="form-group">
        <label for="">车间名称：</label>
        <select name="" id="workshop" class="form-control">
          <option value="">请选择</option>
          <% if @region_code.present? %>
          <% @region_code.each do |r| %>
          <option value="<%= r.id %>"><%= r.region_name %></option>
          <% end %>
          <% end %>
        </select>
        <input type="text"  class="control_stationIDs hide" />
      </div>
      <!--<div class="form-group">
        <label for="">设备名称：</label>
        <select name="" id="deviceName1" class="form-control">
          <option value="">请选择</option>
          <script type="text/html" id="devicename">
            {{if equips}}
            {{each equips as equip index}}
            <option value="{{equip.id}}">{{equip.equip_name}}</option>
            {{/each}}
            {{/if}}
          </script>
        </select>
        <input type="text"  class="control_stationIDs hide" />

      </div>-->
      <div class="form-group">
        <label for="">点检时间:</label>
        <input type="" class="createStart create_datetime form-control"/><span style="margin-left: -10px;margin-right: 5px;">-</span><input type="" class="createEnd end_datetime form-control"/>
      </div>
      <div class="form-group">
        <label for="">点检状态：</label>
        <select name="" id="CheckTheState" class="form-control">
          <option value="">请选择</option>
          <option value="wait_issued">待下发</option>
          <option value="wait_carried">处理中</option>
          <option value="carry_out">已完成</option>
        </select>
        <input type="text"  class="control_stationIDs hide" />

      </div>
      <div class="form-group">
        <button class="btn search" type="button">查询</button>
        <button  class="btn btn_area new_add_btn" id="add" type="button" data-toggle="modal" data-target="#addModal">新增</button>
        <button  class="btn btn_area" id="batchAdd" type="button" data-toggle="modal" data-target="#batchModal" style="background: #ff9030;color:#fff;">批量新增</button>
      </div>
    </form>

  </div>
  <div id="public_table">
    <div class="public_table">
    	
      <table class="table table-bordered table-hover">

      </table>
      <p style="color: red;background-color: #f8f8f8;padding: 8px 12px;">注释：红色数据为计划时间超出一半还未执行</p>
      
    </div>
    
  </div>
  <div class="page_list">
      <ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
      <select id="pagesize" class="right">
        <option value="10" selected="selected">每页10条</option>
        <option value="20">每页20条</option>
        <option value="30">每页30条</option>
        <option value="40">每页40条</option>
        <option value="50">每页50条</option>
      </select>
      <div class="page_total left">
        <span>共<small></small>条数据,当前显示第<a>1</a>页</span>
      </div>
    </div>
  <script id="d_equip_works" type="text/html">
    <thead>
    <tr>
      <th class="hide">序号</th>
      <th>车间名称</th>
      <th>车间区域</th>
      <th>创建人</th>
      <th>检修人员</th>
      <th>点检开始日期</th>
      <th>点检结束日期</th>
      <!--<th>点检原因</th>-->
      <th>状态</th>
      <th>描述</th>
      <th>操作</th>
      <th>删除</th>
    </tr>
    </thead>
    <tbody>
    {{if equip_works.length > 0}}
    {{each equip_works as data index}}
    <tr>
    	{{if data.colour == ""}}
      <td class="hide id">{{data.id}}</td>
      <td class="hide region_id">{{data.region_id}}</td>
      <td class="hide area_id">{{data.area_id}}</td>
      <td class="region_name">{{data.region_name}}</td>
      <td>{{data.area_name}}</td>
      <td>{{data.founder}}</td>
      {{if data.work_person == null}}
      <td>任务还未下发</td>
      {{else}}
      <td>{{data.work_person}}</td>
      {{/if}}
      <td>{{data.work_start_time}}</td>
      <td>{{data.work_end_time}}</td>
      <!--<td>{{data.abnor_desc}}</td>-->
      <td>{{data.work_status}}</td>
      <td>{{data.work_desc}}</td>
      {{if data.work_status == "待下发"}}
      <td class="handle_width">
        <a class="watchModal">查看</a>
        <a class="issue" data-toggle="modal" data-target="#issueModal">下发</a>
        
      </td>
      <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
      {{else if data.work_status == "处理中"}}
      <td class="handle_width">
        <a class="watchModal">查看</a>
        <a class="editModal">编辑</a>
        
      </td>
      <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
      {{else if data.work_status == "完成"}}
      <td class="handle_width">
        <a class="watchModal">查看</a>
        
      </td>
      <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
      {{/if}}
       {{else}}
       	<td class="hide id" style="color:{{data.colour}}">{{data.id}}</td>
	      <td class="hide region_id" style="color:{{data.colour}}">{{data.region_id}}</td>
	      <td class="hide area_id" style="color:{{data.colour}}">{{data.area_id}}</td>
	      <td class="region_name" style="color:{{data.colour}}">{{data.region_name}}</td>
	      <td style="color:{{data.colour}}">{{data.area_name}}</td>
	      <td style="color:{{data.colour}}">{{data.founder}}</td>
	      {{if data.work_person == null}}
	      <td style="color:{{data.colour}}">任务还未下发</td>
	      {{else}}
	      <td style="color:{{data.colour}}">{{data.work_person}}</td>
	      {{/if}}
	      <td style="color:{{data.colour}}">{{data.work_start_time}}</td>
	      <td style="color:{{data.colour}}">{{data.work_end_time}}</td>
	      <!--<td>{{data.abnor_desc}}</td>-->
	      <td style="color:{{data.colour}}">{{data.work_status}}</td>
	      <td style="color:{{data.colour}}">{{data.work_desc}}</td>
	      {{if data.work_status == "待下发"}}
	      <td class="handle_width">
	        <a class="watchModal" style="color:{{data.colour}}">查看</a>
	        <a class="issue" data-toggle="modal" data-target="#issueModal" style="color:{{data.colour}}">下发</a>
	        
	      </td>
	      <td class="handle delete" style="color:{{data.colour}}"><img src="<%= image_path("delete.png") %>"/></td>
	      {{else if data.work_status == "处理中"}}
	      <td class="handle_width">
	        <a class="watchModal" style="color:{{data.colour}}">查看</a>
	        <a class="editModal" style="color:{{data.colour}}">编辑</a>
	        
	      </td>
	      <td class="handle delete" style="color:{{data.colour}}"><img src="<%= image_path("delete.png") %>"/></td>
	      {{else if data.work_status == "完成"}}
	      <td class="handle_width">
	        <a class="watchModal" style="color:{{data.colour}}">查看</a>
	        
	      </td>
	      <td class="handle delete" style="color:{{data.colour}}"><img src="<%= image_path("delete.png") %>"/></td>
	      {{/if}}
       {{/if}}
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td colspan="13">
        暂无数据
      </td>
    </tr>
    {{/if}}
    </tbody>
  </script>
  <div id="public_box"></div>
  <div class="clear"></div>
</div>
<!--维修创建-->
<div id="DetailsMaintenance" class="hide">
  <%= render 'details' %>
</div>
<!--维修编辑-->
<div id="MaintenanceEditor" class="hide">
  <%= render 'edit' %>
</div>
<%= render 'new' %>
<%= render 'send' %>
<%= render 'batchNew' %>

