<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="company_month_reports">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">公司生产月报</span>
		</div>
		<div class="navMain public_search">
			<input type="hidden" class="search_beginTime" />
			<input type="hidden" class="search_endTime" />
			<input type="hidden" class="searchUnit" />
			<form class="form-inline">
				<div class="form-group">
					<label for="">月份：</label>
					<input type="text" class="month-start form-control" id="beginMonth" placeholder="" >
					<b>-</b>
					<input type="text" class="month-end form-control" id="endMonth" placeholder="" >
				</div>
			
				<div class="form-group">
					<label for="">车间：</label>
					<input type="text" class="form-control workshopName" data-toggle="modal" data-target="#ty_workshop" />
					<input type="text"  class="workshopID hide" />
				</div>
				
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				</div>
			</form>
		</div>
		<div class="btn-group ty-group" role="group">
		    <button type="button" class="btn btn-default btn-chack" id="listTable">列表</button>
		    <button type="button" class="btn btn-default" id="listChart">趋势图</button>
		</div>
		<div class="chartContent">
			<!--<h4><span class="lines"></span>
				<span class="tableName">生产月趋势图</span>
			</h4>-->
			<div id="lineChart"></div>
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div class="tableContent">
			<div id="public_table" style="margin-top: 0px;">
				<!--<h4><span class="lines"></span>
					<span class="tableName">生产月报表</span>
				</h4>-->
				<div class="public_table" >
					<table class="table-bordered table table-hover">
						<thead>
							<tr>
								<th>月份</th>
								<th>分公司</th>
								<th>车间</th>
								<th>物料</th>
								<th>类型</th>
								<th>月累计</th>
							</tr>
						</thead>
						<tbody class="exception-list">
							
						</tbody>
					</table>
				</div>
				
			</div>
			<div style="height: 160px;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		
	</div>
</div>
<%= render :partial => 'test_iframes/ty_workshop' %>
<!--表格数据获取-->
<script id="reportsTable" type="text/html">
	{{if daily_reports.length != 0}}
		{{each daily_reports as list index}}
			<tr>
				<td class="hide">{{list.id}}</td>
				<td>{{list.month}}</td>
				<td>{{list.region_code_info}}</td>
				<td>{{list.region_code}}</td>
				<td>{{list.name}}</td>
				<td>{{list.relation_type}}</td>
				<td>{{list.sum_nums}}</td>
			</tr>
		{{/each}}
	{{else}}
		<tr>
			<td colspan="6">暂无数据</td>
		</tr>
	{{/if}}
</script>