<!--臭氧（O3）分析仪运行状况检查记录表-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %>（每周）</span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %>（每周）</h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="9">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td style="width: 100px;">
	                                    <p style="width: 120px;" class="list_name"><%=  @titles["instrument_model"]  %></p>
	                                </td>
	                                <td colspan="2"><input id="DEVICEMODEL" name="DEVICEMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["instrument_model"] : '' %>"></td>
	                                <td>
	                                    <p class="list_name"><%=  @titles["check_date"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                    <input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["check_date"] : '' %>">
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name"><%=  @titles["instrument_code"]  %></p>
	                                </td>
	                                <td colspan="2"><input id="DEVICECODE" name="DEVICECODE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["instrument_code"] : '' %>"></td>
	                                <td>
	                                    <p class="list_name"><%=  @titles["Full_range_ppb"]  %></p>
	                                </td>
	                                <td colspan="3"><input id="PPB" name="PPB" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Full_range_ppb"] : '' %>" ></td>
	                            </tr>
	                            <tr>
		                            <td><p class="list_name"><%=  @titles["Delivery_standard_model"]  %></p></td>
		                            <td colspan="2"><input id="CDCODE" name="CDCODE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Delivery_standard_model"] : '' %>"></td>
		                            <td><p class="list_name"><%=  @titles["Delivery_time"]  %></p></td>
		                            <td colspan="3"> <input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["Delivery_time"] : '' %>"></td>
		                        </tr>
		                        <tr>
		                            <td><p class="list_name"><%=  @titles["Delivery_standard_number"]  %></p></td>
		                            <td colspan="2"><input id="CDMODEL" name="CDMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Delivery_standard_number"] : '' %>"></td>
		                            <td><p class="list_name"><%=  @titles["period_validity"]  %></p></td>
		                            <td colspan="3"> <input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["period_validity"] : '' %>"></td>
		                        </tr>
	                            <tr>
	                                <td rowspan="2">
	                                    <p>校准点 </p>
	                                </td>
	                                <td rowspan="2" colspan="1">
	                                    <p align="center">开始时间 </p>
	                                </td>
	                                <td rowspan="2" colspan="1">
	                                    <p align="center">结束时间 </p>
	                                </td>
	                                <td colspan="1" rowspan="2">
	                                    <p align="center">标准浓度 </p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center">显示值 </p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center">标定值 </p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td colspan="2">
	                                    <p align="center">响应浓度 </p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center">响应浓度 </p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name2"><%=  @titles["zero"]  %></p>
	                                </td>
	                                <td colspan="1">
	                                    
	                                    <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["zero_value_01"] : '' %>">
	
	                                </td>
	                                <td colspan="1">
	                                    <input type="text" class="dateTimepickerH end_time" name="" value="<%= @field_values.present? ? @field_values["zero_value_02"] : '' %>">
	
	                                </td>
	                                <td colspan="1"><input class="input-sm ppm" id="LINGDIANPPM" name="LINGDIANPPM" type="text" validator="required" value="<%= @field_values.present? ? @field_values["zero_value_03"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LDSHOWVALUE" name="LDSHOWVALUE" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                                <td colspan="2"><input class="input-sm calibrated_value" id="LDBIAODINGVALUE" name="LDBIAODINGVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["zero_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name2"><%=  @titles["percent_flow_80"]  %></p>
	                                </td>
	                                <td colspan="1">
	                                    <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_01"] : '' %>">
	
	                                </td>
	                                <td colspan="1">
	                                    <input type="text" class="dateTimepickerH end_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_02"] : '' %>">
	
	                                </td>
	                                <td colspan="1"><input class="input-sm ppm" id="MCLPPM" name="MCLPPM" type="text" validator="required" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_03"] : '' %>"></td>
	                                <td colspan="2"><input class="input-sm" id="MCLHOWVALUE" name="MCLHOWVALUE" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                                <td colspan="2"><input class="input-sm calibrated_value"  id="MCLBIAODINGVALUE" name="MCLBIAODINGVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_04"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p><%=  @titles["Zero_drift_ppb"]  %></p>
	                                </td>
	                                <td colspan="8"><input id="LDPYPPB" name="LDPYPPB" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p><%=  @titles["Span_drift"]  %></p>
	                                </td>
	                                <td colspan="8"><input id="KDPY" name="KDPY" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p>检 查 项 目 </p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center">正常范围 </p>
	                                </td>
	                                <td colspan="3">
	                                    <p align="center">检查值 </p>
	                                </td>
	                                <td colspan="4">
	                                    <p>异常时处理记录 </p>
	                                </td>
	                            </tr>
								<tr>
		                            <td>
		                                <p class="list_name3"><%=  @titles["Measure_signal"]  %></p>
		                            </td>
		                            <td colspan="2"><p align="center">2500～4800 mV(API)<br>1.5～4.096 V(聚光)<br>
		                                                500～4800 mV(ESA)<br>45000～150000 HZ(赛默飞)<br>2300～5200 mV(天虹)<br>2000～4900 mV(新先河)
		                                            </p></td>
		                            <td colspan="3" valign="top">
		                                A:<input class="input-sm check_value1" id="GYCHECKVALUE" isauto="True" name="GYCHECKVALUE" style="width:85%;margin-left: 5px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Measure_signal_value_01"] : '' %>" ><br><br>
		                                B:<input class="input-sm check_value2" id="GYBCHECKVALUE" isauto="True" name="GYBCHECKVALUE" style="width:85%;margin-left: 5px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Measure_signal_value_02"] : '' %>"></td>
		                            <td colspan="3" valign="top"><input id="GYCHECKROW" class="check_value3" name="GYCHECKROW" style="width:100%;" type="text" value="<%= @field_values.present? ? @field_values["Measure_signal_value_03"] : '' %>"></td>
		                        </tr>
								<tr>
		                            <td>
		                                <p class="list_name3"><%=  @titles["reference_signal"]  %></p>
		                            </td>
		                            <td colspan="2">
		                                <p align="center">
		                                    2500～4800 mV(API)<br>1.5～4.096 V(聚光)<br>
		                                    500～4800 mV(ESA)<br>45000～150000 HZ(赛默飞)<br>
		                                   2300～5200 mV(天虹)<br>2000～4900 mV(新先河)
		
		                                </p>
		                            </td>
		                            <td colspan="3" valign="top">A:<input class="input-sm check_value1" id="ZWDCHECKVALUE" isauto="True" name="ZWDCHECKVALUE" style="width:85%;margin-left: 5px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["reference_signal_value_01"] : '' %>" ><br><br>
		                                B:<input class="input-sm check_value2" id="ZWDBCHECKVALUE" isauto="True" name="ZWDBCHECKVALUE" style="width:85%;margin-left: 5px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["reference_signal_value_02"] : '' %>">
		                           </td>
		                            <td colspan="3" valign="top"><input id="ZWDCHECKROW" class="check_value3" name="ZWDCHECKROW" style="width:100%;" type="text" value="<%= @field_values.present? ? @field_values["reference_signal_value_03"] : '' %>"></td>
		                        </tr>
								<tr>
		                            <td>
		                                <p class="list_name4"><%=  @titles["pressure"]  %></p>
		                            </td>
		                            <td colspan="2">
		                                <p align="center">
		                                  	  环境压力-2 In-Hg-A(API)<br>400～800 TORR(EC)<br>7～15 psia(聚光)<br>200～1000 mmHg(赛默飞)<br>
		                                    50～110 kPa(天虹)<br>90～106 kPa(大西比)<br>50～102 kPa(新先河)
		
		                                </p>
		                            </td>
		                            <td colspan="3" valign="top"><input class="input-sm check_value1" id="CYYLCHECKVALUE" isauto="True" name="CYYLCHECKVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["pressure_value_01"] : '' %>"></td>
		                            <td colspan="3" valign="top"><input id="CYYLCHECKROW" class="check_value2" name="CYYLCHECKROW" style="width:100%;" type="text" value="<%= @field_values.present? ? @field_values["pressure_value_02"] : '' %>" ></td>
		                        </tr>
		                        <tr>
		                            <td><p class="list_name3"><%=  @titles["Sampling_flow"]  %></p></td>
		                            <td colspan="2"><p align="center">800±10% ml/min(API)<br>0.25～0.55 LPM(EC)<br>720～880 SCCM(聚光)<br>0.400～1.400 L/min(赛默飞A，B路)
		                                                <br>300～1200 ml/min(天虹)<br>1.0～3.0 L/min(大西比)<br>800±80 ml/min(新先河)
		                                            </p></td>
		                            <td colspan="3" valign="top">A:<input class="input-sm check_value1" id="CYLLCHECKVALUE" isauto="True" name="CYLLCHECKVALUE" style="width:85%;margin-left: 5px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Sampling_flow_value_01"] : '' %>" ><br><br>
		                               B:<input class="input-sm check_value2" id="CYLLBCHECKVALUE" isauto="True" name="CYLLBCHECKVALUE" style="width:85%;margin-left: 5px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Sampling_flow_value_02"] : '' %>" ></td>
		                            <td colspan="3" valign="top"><input id="CYLLCHECKROW" class="check_value3" name="CYLLCHECKROW" style="width:100%;" type="text" value="<%= @field_values.present? ? @field_values["Sampling_flow_value_03"] : '' %>"></td>
		                        </tr>
		                        <tr>
		                            <td><p class="list_name4"><%=  @titles["sample_temperature"]  %></p></td>
		                            <td colspan="2">
		                                <p align="center">
		                                    10～50 ℃(API)<br>15～45 ℃(赛默飞)<br>
		                                    30～70 ℃(天虹)<br>25～40 ℃(大西比)<br>0～55 ℃(新先河)
		
		                                </p>
		                            </td>
		                            <td colspan="3" valign="top"><input class="input-sm check_value1" id="FYCHECKVALUE" isauto="True" name="FYCHECKVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["sample_temperature_value_01"] : '' %>"></td>
		                            <td colspan="3" valign="top"><input id="FYCHECKROW" class="check_value2" name="FYCHECKROW" style="width:100%;" type="text" value="<%= @field_values.present? ? @field_values["sample_temperature_value_02"] : '' %>" ></td>
		                        </tr>
		                        <tr>
		                            <td>
		                                <p class="list_name4"><%=  @titles["Slope"]  %></p>
		                                
		                            </td>
		                            <td colspan="2"><p align="center">1.0±1.5(API)<br>0.85～1.15(聚光)<br>
		                                                0.500～2.000(赛默飞)<br>0.5～2(天虹)<br>0.5～1.5(新先河)
		                                            </p></td>
		                            <td colspan="3" valign="top"><input class="input-sm check_value1" id="YLCHECKVALUE" isauto="True" name="YLCHECKVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Slope_value_01"] : '' %>"></td>
		                            <td colspan="3" valign="top"><input id="YLCHECKROW" class="check_value2" name="YLCHECKROW" style="width:100%;" type="text" value="<%= @field_values.present? ? @field_values["Slope_value_02"] : '' %>" ></td>
		                        </tr>
		                        <tr>
		                            <td><p class="list_name4"><%=  @titles["Offset"]  %></p></td>
		                            <td colspan="2">
		                                <p align="center">
		                                    0±5 ppb(API)<br>-20～50 ppb(聚光)<br>
		                                    &gt;-26.5(赛默飞)<br>-50 ～ 50(天虹)<br>-5～5 mv(新先河)
		
		                                </p>
		                            </td>
		                            <td colspan="3" valign="top"><input class="input-sm check_value1" id="JGCHECKVALUE" isauto="True" name="JGCHECKVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Offset_value_01"] : '' %>" ></td>
		                            <td colspan="3" valign="top"><input id="JGCHECKROW" class="check_value2" name="JGCHECKROW" style="width:100%;" type="text" value="<%= @field_values.present? ? @field_values["Offset_value_02"] : '' %>" ></td>
		                        </tr>
	                            <tr>
		                            <td><p class="list_name3"><%=  @titles["gain"]  %></p></td>
		                            <td colspan="2"><input class="input-sm check_value1" id="ZYREGION" name="ZYREGION" type="text" validator="required" value="<%= @field_values.present? ? @field_values["gain_value_01"] : '' %>" ></td>
		                            <td colspan="3" valign="top"><input class="input-sm check_value2" id="ZYCHECKVALUE" isauto="True" name="ZYCHECKVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["gain_value_02"] : '' %>" ></td>
		                            <td colspan="3" valign="top"><input id="ZYCHECKROW" class="check_value3" name="ZYCHECKROW" style="width:100%;" type="text" value="<%= @field_values.present? ? @field_values["gain_value_03"] : '' %>" ></td>
		                        </tr>
	                            <tr>
		                            <td><p class="list_name3"><%=  @titles["background"]  %></p></td>
		                            <td colspan="2"><input class="input-sm check_value1" id="BJREGION" name="BJREGION" type="text" validator="required" value="<%= @field_values.present? ? @field_values["background_value_01"] : '' %>" ></td>
		                            <td colspan="3" valign="top"><input class="input-sm check_value2" id="BJCHECKVALUE" name="BJCHECKVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["background_value_02"] : '' %>" ></td>
		                            <td colspan="3" valign="top"><input id="BJCHECKROW" class="check_value3" name="BJCHECKROW" style="width:100%;" type="text" value="<%= @field_values.present? ? @field_values["background_value_03"] : '' %>" ></td>
		                        </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name"><%=  @titles["note"]  %></p>
	                                </td>
	                                <td colspan="8" style="text-align: left;">
	                                    
	                                    <textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98.6%;"><%= @field_values.present? ? @field_values["note"] : '' %>
										</textarea>
	                                </td>
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>