<!--空气自动监测仪器设备检修记录表-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
    </div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="7">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
                                    <td><p class="list_name"><%=  @titles["Maintenance_analyzer_model/number"]  %></p></td>
                                    <td colspan="4"><input id="DEVICEMODEL" name="DEVICEMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Maintenance_analyzer_model/number"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["The_access time"]  %></p></td>
                                    <td colspan="4"><input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["The_access time"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["The_return_time"]  %></p></td>
                                    <td colspan="4"><input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["The_return_time"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["The_fault_phenomenon"]  %></p></td>
                                    <td colspan="4">
                                        <textarea cols="20" id="REPAIRPHENOMENON" name="REPAIRPHENOMENON" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;"><%= @field_values.present? ? @field_values["The_fault_phenomenon"] : '' %></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["Troubleshooting_maintenance_procedures"]  %></p></td>
                                    <td colspan="4">
                                        <textarea cols="20" id="REPAIRPROCESS" name="REPAIRPROCESS" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;"><%= @field_values.present? ? @field_values["Troubleshooting_maintenance_procedures"] : '' %></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["Name_replacement_part"]  %></p></td>
                                    <td colspan="4"><input class="form-control" id="DEVICENAME" name="DEVICENAME" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Name_replacement_part"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2"><p class="list_name2"><%=  @titles["Multipoint_and_zero/cross_drift"]  %></p></td>
                                    <td><p align="center">斜率b</p></td>
                                    <td colspan="2"><p align="center">截距a</p></td>
                                    <td><p align="center">相关系数r</p></td>
                                </tr>
                                <tr>
                                    <td><input class="input-sm" id="SLOPE" name="SLOPE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Multipoint_and_zero/cross_drift_value_01"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="INTERCEPT" name="INTERCEPT" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Multipoint_and_zero/cross_drift_value_02"] : '' %>" ></td>
                                    <td><input class="input-sm" id="COEFFICIENTR" name="COEFFICIENTR" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Multipoint_and_zero/cross_drift_value_03"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2"><p align="center" class="list_name3"><%=  @titles["Calibration_results"]  %></p></td>
                                    <td colspan="2"><p align="center">24小时零点飘移 </p></td>
                                    <td colspan="2"><p align="center">24小时跨度飘移 </p></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><input class="input-sm" id="ZERODRIFT" name="ZERODRIFT" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Calibration_results_value_01"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="SPANDRIFT" name="SPANDRIFT" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Calibration_results_value_02"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td><p align="center" class="list_name4"><%=  @titles["Meet_requirements"]  %></p></td>
                                    <td colspan="2"><input class="input-sm" id="ZERODRIFTSATISFY" name="ZERODRIFTSATISFY" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Meet_requirements_value_01"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="SPANDRIFTSATISFY" name="SPANDRIFTSATISFY" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Meet_requirements_value_02"] : '' %>"></td>
                                </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
					</div>
									
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>  