<!--颗粒物PM10自动监测分析仪运行状况检查记录（每季度）  颗粒物PM2.5自动监测分析仪运行状况检查记录（每季度）-->  
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
	<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="6">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td style="width:200px;"><p class="list_name"><%=  @titles["instrument_pm"]  %></p></td>
	                                <td><input id="DEIVCEMODEL" name="DEIVCEMODEL" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["instrument_pm"] : '' %>" ></td>
	                                <td><p class="list_name"><%=  @titles["instrument_code"]  %></p></td>
	                                <td><input id="DEIVCECODE" name="DEIVCECODE" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["instrument_code"] : '' %>" ></td>
	                                <td><p class="list_name"><%=  @titles["check_date"]  %></p></td>
	                                <td><input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["check_date"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">检 查 项 目</p></td>
	                                <td><p align="center">正常范围</p></td>
	                                <td><p align="center">原始值</p></td>
	                                <td><p align="center">检查值</p></td>
	                                <td><p align="center">误差(%)</p></td>
	                                <td><p align="center">异常时处理记录</p></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center"><%=  @titles["Standard_film_inspection"]  %></p></td>
	                                <td><p align="center">≤±2%</p></td>
	                                <td><input id="PM25CHECKTEMP1VALUE" issum="true" name="checkvalue1" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Standard_film_inspection_value_01"] : '' %>" ></td>
	                                <td><input id="PM25CHECKTEMP2VALUE" issum="true" name="checkvalue1" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Standard_film_inspection_value_02"] : '' %>" ></td>
	                                <td><input id="PM25CHECKTEMP3VALUE" name="checkvalue1"  style="width:130px" type="text" value="<%= @field_values.present? ? @field_values["Standard_film_inspection_value_03"] : '' %>" ></td>
	                                <td><input id="PM25CHECKTEMP4VALUE" name="checkvalue1" style="width:130px" type="text" value="<%= @field_values.present? ? @field_values["Standard_film_inspection_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center"><%=  @titles["KO_value_check"]  %></p></td>
	                                <td><p align="center">≤±2%</p></td>
	                                <td><input id="PM25CHECKKO1VALUE" issum="true" name="checkvalue2" style="width:130px" type="text" value="<%= @field_values.present? ? @field_values["KO_value_check_value_01"] : '' %>" ></td>
	                                <td><input id="PM25CHECKKO2VALUE" issum="true" name="checkvalue2" style="width:130px" type="text" value="<%= @field_values.present? ? @field_values["KO_value_check_value_02"] : '' %>" ></td>
	                                <td><input id="PM25CHECKKO3VALUE" name="checkvalue2"  style="width:130px" type="text" value="<%= @field_values.present? ? @field_values["KO_value_check_value_03"] : '' %>" ></td>
	                                <td><input id="PM25CHECKKO4VALUE" name="checkvalue2" style="width:130px" type="text" value="<%= @field_values.present? ? @field_values["KO_value_check_value_04"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td><p align="left" class="list_name"><%=  @titles["Abnormal_situation"]  %></p></td>
	                                <td colspan="6" valign="top" class="padtd">
	                                    <textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 50px;min-width: 98%;"><%= @field_values.present? ? @field_values["Abnormal_situation"] : '' %></textarea>
	                                </td>
	                            </tr>
	                            
	        				</tbody>
	        			</table>
	        		</div>
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div> 