<!--气体分析仪流量检查记录表-->
	<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %>（每月）</span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
	<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"> <%=  @form_module.name  %>（每月）</h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="12">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
										                <input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" value="<%= @unit_name %>" title="" readonly="readonly" disabled="disabled" class="form-control">
									                </td>

							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td><p align="left">仪器名称 </p></td>
	                                <td><p align="center">仪器型号 </p></td>
	                                <td><p align="center">流量范围 </p></td>
	                                <td><p align="center">显示值 </p></td>
	                                <td><p align="center">测量值 </p></td>
	                                <td><p align="center">测量误差 </p></td>
	                                <td><p align="center">误差范围 </p></td>
	                                <td colspan="5"><p align="center">处理情况 </p></td>
	                            </tr>
	                            <tr>
	                                <td><p align="left" class="list_name"><%=  @titles["so2"]  %></p></td>
	                                <td><input class="input-sm" id="DEVICEMODELSO2" name="DEVICEMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["so2_value_01"] : '' %>"></td>
	                                <td><input class="input-sm" id="FLOWRANGSO2" name="FLOWRANG" type="text" validator="required" value="<%= @field_values.present? ? @field_values["so2_value_02"] : '' %>" ></td>
	                                <td><input class="input-sm" id="DISPLAYVALUESO2" name="DISPLAYVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["so2_value_03"] : '' %>" ></td>
	                                <td><input class="input-sm" id="MEASUREDVALUESO2" name="MEASUREDVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["so2_value_04"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="MEASUREDERRORSO2" name="MEASUREDERROR" type="text" validator="required" value="<%= @field_values.present? ? @field_values["so2_value_05"] : '' %>" ></td>
	                                <td><p align="center">±10%</p></td>
	                                <td colspan="5"><input class="input-sm" id="SITUATIONSO2" name="SITUATION" type="text" validator="required" value="<%= @field_values.present? ? @field_values["so2_value_06"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><p align="left" class="list_name"><%=  @titles["no2"]  %></p></td>
	                                <td><input class="input-sm" id="DEVICEMODELNO2" name="DEVICEMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["no2_value_01"] : '' %>"></td>
	                                <td><input class="input-sm" id="FLOWRANGNO2" name="FLOWRANG" type="text" validator="required" value="<%= @field_values.present? ? @field_values["no2_value_02"] : '' %>" ></td>
	                                <td><input class="input-sm" id="DISPLAYVALUENO2" name="DISPLAYVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["no2_value_03"] : '' %>" ></td>
	                                <td><input class="input-sm" id="MEASUREDVALUENO2" name="MEASUREDVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["no2_value_04"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="MEASUREDERRORNO2" name="MEASUREDERROR" type="text" validator="required" value="<%= @field_values.present? ? @field_values["no2_value_05"] : '' %>" ></td>
	                                <td><p align="center">±10%</p></td>
	                                <td colspan="5"><input class="input-sm" id="SITUATIONNO2" name="SITUATION" type="text" validator="required" value="<%= @field_values.present? ? @field_values["no2_value_06"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td><p align="left" class="list_name"><%=  @titles["co"]  %></p></td>
	                                <td><input class="input-sm" id="DEVICEMODELCO" name="DEVICEMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["co_value_01"] : '' %>" ></td>
	                                <td><input class="input-sm" id="FLOWRANGCO" name="FLOWRANG" type="text" validator="required" value="<%= @field_values.present? ? @field_values["co_value_02"] : '' %>" ></td>
	                                <td><input class="input-sm" id="DISPLAYVALUECO" name="DISPLAYVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["co_value_03"] : '' %>" ></td>
	                                <td><input class="input-sm" id="MEASUREDVALUECO" name="MEASUREDVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["co_value_04"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="MEASUREDERRORCO" name="MEASUREDERROR" type="text" validator="required" value="<%= @field_values.present? ? @field_values["co_value_05"] : '' %>" ></td>
	                                <td><p align="center">±10%</p></td>
	                                <td colspan="5"><input class="input-sm" id="SITUATIONCO" name="SITUATION" type="text" validator="required" value="<%= @field_values.present? ? @field_values["co_value_06"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><p align="left" class="list_name"><%=  @titles["o3"]  %></p></td>
	                                <td><input class="input-sm" id="DEVICEMODELO3" name="DEVICEMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["o3_value_01"] : '' %>"></td>
	                                <td><input class="input-sm" id="FLOWRANGO3" name="FLOWRANG" type="text" validator="required" value="<%= @field_values.present? ? @field_values["o3_value_02"] : '' %>" ></td>
	                                <td><input class="input-sm" id="DISPLAYVALUEO3" name="DISPLAYVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["o3_value_03"] : '' %>" ></td>
	                                <td><input class="input-sm" id="MEASUREDVALUEO3" name="MEASUREDVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["o3_value_04"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="MEASUREDERRORO3" name="MEASUREDERROR" type="text" validator="required" value="<%= @field_values.present? ? @field_values["o3_value_05"] : '' %>" ></td>
	                                <td><p align="center">±10%</p></td>
	                                <td colspan="5"><input class="input-sm" id="SITUATIONO3" name="SITUATION" type="text" validator="required" value="<%= @field_values.present? ? @field_values["o3_value_06"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><p align="left">备注： </p></td>
	                                <td colspan="11"><p>误差计算公式：（显示值-测量值/测量值） </p> </td>
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
					<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>