<!--颗粒物温度、压力校准记录表-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
	<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="6">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td colspan="2" style="width: 280px;">
	                                    <p><%=  @titles["check_date"]  %></p>
	                                </td>
	                                <td colspan="4">
	                                	<input type="" class="dateTimepicker create_datetime form-control" value="<%= @field_values.present? ? @field_values["check_date"] : '' %>">
	                                </td>
	                            </tr>
	                            <tr>
	                                <td colspan="2">
	                                    <p align="center">校准项目</p>
	                                </td>
	                                <td>
	                                    <p align="center">仪器显示</p>
	                                </td>
	                                <td>
	                                    <p align="center">标准值(实际值)</p>
	                                </td>
	                                <td>
	                                    <p align="center">误差</p>
	                                </td>
	                                <td>
	                                    <p align="center">校准情况</p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td rowspan="2" style="width: 130px;">
	                                    <p align="center" class="list_name"><%=  @titles["PM10_analyzer"]  %></p>
	                                </td>
	                                <td>
	                                    <p align="center">气温</p>
	                                </td>
	                                <td><input id="PM10CHECKTEMP1VALUE" class="check_value1" issum="true" name="PM10CHECKTEMP1VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["PM10_analyzer_temp_value_01"] : '' %>" ></td>
	                                <td><input id="PM10CHECKTEMP2VALUE" class="check_value2" issum="true" name="PM10CHECKTEMP2VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["PM10_analyzer_temp_value_02"] : '' %>" ></td>
	                                <td>
	                                <input id="PM10CHECKTEMP3VALUEShow" class="check_value3" name="PM10CHECKTEMP3VALUEShow" type="text" value="<%= @field_values.present? ? @field_values["PM10_analyzer_temp_value_03"] : '' %>" ></td>
	                                <td><input id="PM10CHECKTEMP4VALUE" class="check_value4" name="PM10CHECKTEMP4VALUE" type="text" value="<%= @field_values.present? ? @field_values["PM10_analyzer_temp_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">气压</p>
	                                </td>
	                                <td><input id="PM10CHECKPRES1VALUE" issum="true" class="check_value1" name="PM10CHECKPRES1VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["PM10_analyzer_presure_value_01"] : '' %>" ></td>
	                                <td><input id="PM10CHECKPRES2VALUE" issum="true" class="check_value2" name="PM10CHECKPRES2VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["PM10_analyzer_presure_value_02"] : '' %>"></td>
	                                <td><input id="PM10CHECKPRES3VALUEShow" class="check_value3" name="PM10CHECKPRES3VALUEShow"  type="text" value="<%= @field_values.present? ? @field_values["PM10_analyzer_presure_value_03"] : '' %>" ></td>
	                                <td><input id="PM10CHECKPRES4VALUE" class="check_value4" name="PM10CHECKPRES4VALUE" type="text" value="<%= @field_values.present? ? @field_values["PM10_analyzer_presure_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td rowspan="2" style="width: 130px;">
	                                    <p align="center" class="list_name"><%=  @titles["PM2.5_analyzer"]  %></p>
	                                </td>
	                                <td>
	                                    <p align="center">气温</p>
	                                </td>
	                                <td><input id="PM25CHECKTEMP1VALUE" class="check_value1" issum="true" name="PM25CHECKTEMP1VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["PM2.5_analyzer_temp_value_01"] : '' %>" ></td>
	                                <td><input id="PM25CHECKTEMP2VALUE" issum="true" class="check_value2" name="PM25CHECKTEMP2VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["PM2.5_analyzer_temp_value_02"] : '' %>"></td>
	                                <td><input id="PM25CHECKTEMP3VALUEShow" class="check_value3" name="PM25CHECKTEMP3VALUEShow" type="text" value="<%= @field_values.present? ? @field_values["PM2.5_analyzer_temp_value_03"] : '' %>" ></td>
	                                <td><input id="PM25CHECKTEMP4VALUE" class="check_value4" name="PM25CHECKTEMP4VALUE" type="text" value="<%= @field_values.present? ? @field_values["PM2.5_analyzer_temp_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">气压</p>
	                                </td>
	                                <td><input id="PM25CHECKPRES1VALUE" class="check_value1" issum="true" name="PM25CHECKPRES1VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["PM2.5_analyzer_presure_value_01"] : '' %>" ></td>
	                                <td><input id="PM25CHECKPRES2VALUE" class="check_value2" issum="true" name="PM25CHECKPRES2VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["PM2.5_analyzer_presure_value_02"] : '' %>" ></td>
	                                <td><input id="PM25CHECKPRES3VALUEShow" class="check_value3" name="PM25CHECKPRES3VALUEShow"  type="text" value="<%= @field_values.present? ? @field_values["PM2.5_analyzer_presure_value_03"] : '' %>" ></td>
	                                <td><input id="PM25CHECKPRES4VALUE" class="check_value4" name="PM25CHECKPRES4VALUE" type="text" value="<%= @field_values.present? ? @field_values["PM2.5_analyzer_presure_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td colspan="6" rowspan="5" valign="top" style="text-align: left;">误差计算:仪器显示-标准值<br>
	                                    	要求：温度误差﹤±2℃；气压误差﹤±1KPa
	                                </td>
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>