<!--每周(次)巡检工作汇总表-->
	<p class="modalID hide"><%= @form_module.id%></p>
	
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
	<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        			        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="4">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
	        					<tr>
	                                <td width="166"><strong>项目 </strong></td>
	                                <td colspan="3"><strong>工作内容 </strong></td>
	                            </tr>
	                            <tr>
	                                <td width="166"><%=  @titles["conventional_inspection"]  %></td>
	                                <td colspan="3">
	                                    
	                                    <textarea cols="20" id="ROUTINEINSPECTION" name="ROUTINEINSPECTION" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 98%;"><%= @field_values.present? ? @field_values["conventional_inspection"] : '' %></textarea>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="166"><%=  @titles["clean_class"]  %></td>
	                                <td colspan="3">
	                                    
	                                    <textarea cols="20" id="CLEANINGMAINTENANCE" name="CLEANINGMAINTENANCE" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 98%;" validator="required" ><%= @field_values.present? ? @field_values["clean_class"] : '' %></textarea>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="166"><%=  @titles["calibration_class"]  %></td>
	                                <td colspan="3">
	                                    
	                                    <textarea cols="20" id="CALIBRATIONCLASS" name="CALIBRATIONCLASS" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 98%;" validator="required"><%= @field_values.present? ? @field_values["calibration_class"] : '' %></textarea>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="166"><%=  @titles["replace_class"]  %></td>
	                                <td colspan="3">
	                                    
	                                    <textarea cols="20" id="REPLACEMENTSPAREPARTS" name="REPLACEMENTSPAREPARTS" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 98%;" validator="required"><%= @field_values.present? ? @field_values["replace_class"] : '' %></textarea>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="166"><%=  @titles["maintenance_class"]  %></td>
	                                <td colspan="3">
	                                    
	                                    <textarea cols="20" id="EQUIPMENTMAINTENANCE" name="EQUIPMENTMAINTENANCE" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 98%;" validator="required"><%= @field_values.present? ? @field_values["maintenance_class"] : '' %></textarea>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="166"><%=  @titles["standby_class"]  %></td>
	                                <td colspan="3">
	                                    
	                                    <textarea cols="20" id="CHANGEMACHINE" name="CHANGEMACHINE" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 98%;" validator="required"><%= @field_values.present? ? @field_values["standby_class"] : '' %></textarea>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="166"><%=  @titles["other_need_record"]  %></td>
	                                <td colspan="3">
	                                    
	                                    <textarea cols="20" id="OTHER" name="OTHER" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 98%;" validator="required"><%= @field_values.present? ? @field_values["other_need_record"] : '' %></textarea>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="166" rowspan="2"><%=  @titles["checking_peoele"]  %></td>
	                                <td width="172" rowspan="2">
	                                <input tvbox="true" class="form-control" id="PATROLMAN_Text" name="save" type="text" validator="required" value="<%= @field_values.present? ? @field_values["checking_peoele"] : '' %>"></td>
	                                <td width="100"><%=  @titles["in_station_time"]  %></td>
	                                <td width="176"><input type="text" class="dateTimepickerH start_datetime" name="save" value="<%= @field_values.present? ? @field_values["in_station_time"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td width="100"><%=  @titles["out_station_time"]  %></td>
	                                <td width="176"><input type="text" class="dateTimepickerH end_datetime" name="save" value="<%= @field_values.present? ? @field_values["out_station_time"] : '' %>"></td>
	                            </tr>
	        				</tbody>
	        			</table>
	        			<p class="beizhu">注：每次巡检结束离开子站前，由巡检人员填写此表。</p>
	        		</div>
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>