<!--仪器精密度审核记录表（每季度）-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="9">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td colspan="3" width="170">
	                                    <p align="center" class="list_name"><%=  @titles["Instrument_name_number"]  %></p>
	                                </td>
	                                <td colspan="2" valign="top">
	                                    <input id="DEVICECODE" name="DEVICECODE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Instrument_name_number"] : '' %>" >
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name"><%=  @titles["audit_date"]  %></p>
	                                </td>
	                                <td colspan="2" valign="top">
	                                	<input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["audit_date"] : '' %>">
	                                </td>
	                            </tr>
	                            <tr>
	                                <td colspan="3">
	                                    <p align="center" class="list_name"><%=  @titles["Gas_source_number"]  %></p>
	                                </td>
	                                <td colspan="2" valign="top">
	                                    <input id="PPMCODE" name="PPMCODE" type="text" value="<%= @field_values.present? ? @field_values["Gas_source_number"] : '' %>" >
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name"><%=  @titles["Standard_gas_concentration (PPM)"]  %></p>
	                                </td>
	                                <td colspan="2" valign="top">
	                                    <input id="PPM" name="PPM" type="text" value="<%= @field_values.present? ? @field_values["Standard_gas_concentration (PPM)"] : '' %>" >
	                                </td>
	                            </tr>
	                            <tr>
	                                <td colspan="3">
	                                    <p align="center" class="list_name"><%=  @titles["Calibration_value(full flow range 20%)"]  %></p>
	                                </td>
	                                <td colspan="6" valign="top">
	                                    <input id="MCLBZ20" name="MCLBZ20" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Calibration_value(full flow range 20%)"] : '' %>" >
	                                </td>
	                            </tr>
	                            <tr>
	                                <td colspan="3">
	                                    <p align="center"><%=  @titles["Instrument_in_value"]  %></p>
	                                </td>
	                                <td valign="top">
	                                    <input class="input-sm yiqisz-input" id="YQSZ1" name="YQSZ1" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Instrument_in_value_value_01"] : '' %>" >
	                                </td>
	                                <td valign="top">
	                                    <input class="input-sm yiqisz-input" id="YQSZ2" name="YQSZ2" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Instrument_in_value_value_02"] : '' %>" >
	                                </td>
	                                <td colspan="top" valign="top">
	                                    <input class="input-sm yiqisz-input" id="YQSZ3" name="YQSZ3" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Instrument_in_value_value_03"] : '' %>" >
	                                </td>
	                                <td colspan="top" valign="top">
	                                    <input class="input-sm yiqisz-input" id="YQSZ4" name="YQSZ4" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Instrument_in_value_value_04"] : '' %>" >
	                                </td>
	                                <td valign="top">
	                                    <input class="input-sm yiqisz-input" id="YQSZ5" name="YQSZ5" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Instrument_in_value_value_05"] : '' %>" >
	                                </td>
	                                <td valign="top">
	                                    <input class="input-sm yiqisz-input" id="YQSZ6" name="YQSZ6" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Instrument_in_value_value_06"] : '' %>" >
	                                </td>
								</tr>
								<tr>
                                <td colspan="3">
                                    <p align="center" class="list_name"><%=  @titles["Relative_standard_deviation"]  %></p>
                                </td>
                                <td colspan="6" valign="top">
                                    <input id="XDBZPC" name="XDBZPC" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Relative_standard_deviation"] : '' %>" >
                                </td>
							</tr>
							<tr>
                                <td colspan="3">
                                    <p align="center"><%=  @titles["audit_result"]  %></p>
                                </td>
                                <td colspan="6">
                                    <span class="select-check-box">
                                        <label class="checkbox-radio">
                                            <input <%=  @field_values.present? && @field_values["audit_result"] == '1' ?  'checked="checked"'.html_safe  :  '' %>  data-val="true" id="SHJG" name="SHJG" type="radio" value="1" > 合格
                                        </label>
                                        <label class="checkbox-radio">
                                            <input <%=  @field_values.present? && @field_values["audit_result"] == '0' ?  'checked="checked"'.html_safe  :  '' %> id="SHJG" name="SHJG" type="radio" value="0" > 不合格
                                        </label>
                                    </span>
                                </td>
							</tr>
							<tr>
                                <td colspan="3">
                                    <p align="center" class="list_name"><%=  @titles["note"]  %></p>
                                </td>
                                <td colspan="6">
                                    <textarea class="form-control" cols="20" id="REMARKS" name="REMARKS" rows="2" ><%= @field_values.present? ? @field_values["note"] : '' %></textarea>
                                </td>
                            </tr>							
	        				</tbody>
	        			</table>
	        		</div>
        			<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>