<!--长光程SO2\NO2分析仪单点校准检查记录表（每季度）-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
	<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="6">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td valign="top"><p align="center" class="list_name"><%=  @titles[" monitoring_instrument_name"]  %></p></td>
	                                <td colspan="2" valign="top"><input id="DEVICENAME" name="DEVICENAME" type="text" validator="required" value="<%= @field_values.present? ? @field_values["monitoring_instrument_name"] : '' %>"></td>
	                                <td valign="top"><p align="center" class="list_name"><%=  @titles["check_date"]  %></p></td>
	                                <td colspan="2" valign="top"><input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["check_date"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center" class="list_name"><%=  @titles["instrument_code"]  %></p></td>
	                                <td colspan="2"><input class="input" id="DEVICECODE" name="DEVICECODE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["instrument_code"] : '' %>" ></td>
	                                <td><p align="center" class="list_name"><%=  @titles["gas_cylinder_num"]  %></p></td>
	                                <td colspan="2" valign="top"><input class="input" id="SCCODE" name="SCCODE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["gas_cylinder_num"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center" class="list_name"><%=  @titles["gas_cylinder_valid"]  %></p></td>
	                                <td colspan="2"><input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["gas_cylinder_valid"] : '' %>"></td>
	                                <td><p align="center" class="list_name"><%=  @titles["Th_ gas_concentration"]  %></p></td>
	                                <td colspan="2" valign="top"><input class="input" id="SCDENSITY" name="SCDENSITY" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Th_ gas_concentration"] : '' %>"></td>
	                            <tr>
	                                <td><p class="list_name"><%=  @titles["Pre-calibration_gas_pressure"]  %></p></td>
	                                <td colspan="2"><input class="input" id="SCBMPA" name="SCBMPA" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Pre-calibration_gas_pressure"] : '' %>" ></td>
	                                <td><p align="center" class="list_name"><%=  @titles["Post-calibration_gas_pressure"]  %></p></td>
	                                <td colspan="2" valign="top"><input class="input" id="SCOMPA" name="SCOMPA" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Post-calibration_gas_pressure"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td valign="bottom"><p align="center" class="list_name"><%=  @titles["Ambient_temperature (C)"]  %></p></td>
	                                <td colspan="2" valign="bottom"><input class="input" id="TAMB" name="TAMB" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Ambient_temperature (C)"] : '' %>" ></td>
	                                <td valign="bottom"><p align="center" class="list_name"><%=  @titles["Environmental_pressure (kPa)"]  %></p></td>
	                                <td colspan="2" valign="bottom"><input class="input" id="PRESSURE" name="PRESSURE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Environmental_pressure (kPa)"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td valign="bottom"><p align="center" class="list_name"><%=  @titles["Calibration_before_Span"]  %></p></td>
	                                <td colspan="2" valign="bottom"><input class="input" id="CALIBRATIONBSPAN" name="CALIBRATIONBSPAN" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Calibration_before_Span"] : '' %>" ></td>
	                                <td valign="bottom"><p align="center" class="list_name"><%=  @titles["Before_calibration_Offset"]  %></p></td>
	                                <td colspan="2" valign="bottom"><input class="input" id="CALIBRATIONBOFFSET" name="CALIBRATIONBOFFSET" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Before_calibration_Offset"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center" class="standard"><%=  @titles["Input_standard_gas_concentration (PPM)"]  %></p></td>
	                                <td><p align="center" class="pool_length"><%=  @titles["Sample_pool_length (mm)"]  %></p></td>
	                                <td><p align="center" class="Optica_path"><%=  @titles["Optica_ path (m)"]  %></p></td>
	                                <td><p align="center" class="concentration"><%=  @titles["Equivalent_concentration (PPB)"]  %></p></td>
	                                <td><p align="center" class="Response"><%=  @titles["Response_value (PPB)"]  %></p></td>
	                                <td><p align="center" class="after_calibration"><%=  @titles["Response_value_after_calibration (PPB)"]  %></p></td>
	                            </tr>
	                            <tr>
	                                <td><input class="input-sm" id="DENSITY1VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Input_standard_gas_concentration (PPM)_value_01"] : '' %>" ></td>
	                                <td><input class="input-sm" id="SIZE1VALUE" name="SIZEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Sample_pool_length (mm)_value_01"] : '' %>" ></td>
	                                <td><input class="input-sm" id="OPTPATH1VALUE" name="OPTPATHVALUE" type="text" value="<%= @field_values.present? ? @field_values["Optica_ path (m)_value_01"] : '' %>" ></td>
	                                <td><input class="input-sm" id="EQDENSITY1VALUE" name="EQDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Equivalent_concentration (PPB)_value_01"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="RESPONSE1VALUE" name="RESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value (PPB)_value_01"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="SCORESPONSE1VALUE" name="SCORESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value_after_calibration (PPB)_value_01"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td><input class="input-sm" id="DENSITY2VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Input_standard_gas_concentration (PPM)_value_02"] : '' %>" ></td>
	                                <td><input class="input-sm" id="SIZE2VALUE" name="SIZEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Sample_pool_length (mm)_value_02"] : '' %>" ></td>
	                                <td><input class="input-sm" id="OPTPATH2VALUE" name="OPTPATHVALUE" type="text" value="<%= @field_values.present? ? @field_values["Optica_ path (m)_value_02"] : '' %>" ></td>
	                                <td><input class="input-sm" id="EQDENSITY2VALUE" name="EQDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Equivalent_concentration (PPB)_value_02"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="RESPONSE2VALUE" name="RESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value (PPB)_value_02"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="SCORESPONSE2VALUE" name="SCORESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value_after_calibration (PPB)_value_02"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><input class="input-sm" id="DENSITY3VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Input_standard_gas_concentration (PPM)_value_03"] : '' %>" ></td>
	                                <td><input class="input-sm" id="SIZE3VALUE" name="SIZEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Sample_pool_length (mm)_value_03"] : '' %>" ></td>
	                                <td><input class="input-sm" id="OPTPATH3VALUE" name="OPTPATHVALUE" type="text" value="<%= @field_values.present? ? @field_values["Optica_ path (m)_value_03"] : '' %>" ></td>
	                                <td><input class="input-sm" id="EQDENSITY3VALUE" name="EQDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Equivalent_concentration (PPB)_value_03"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="RESPONSE3VALUE" name="RESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value (PPB)_value_03"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="SCORESPONSE3VALUE" name="SCORESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value_after_calibration (PPB)_value_03"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><input class="input-sm" id="DENSITY4VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Input_standard_gas_concentration (PPM)_value_04"] : '' %>" ></td>
	                                <td><input class="input-sm" id="SIZE4VALUE" name="SIZEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Sample_pool_length (mm)_value_04"] : '' %>" ></td>
	                                <td><input class="input-sm" id="OPTPATH4VALUE" name="OPTPATHVALUE" type="text" value="<%= @field_values.present? ? @field_values["Optica_ path (m)_value_04"] : '' %>" ></td>
	                                <td><input class="input-sm" id="EQDENSITY4VALUE" name="EQDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Equivalent_concentration (PPB)_value_04"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="RESPONSE4VALUE" name="RESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value (PPB)_value_04"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="SCORESPONSE4VALUE" name="SCORESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value_after_calibration (PPB)_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><input class="input-sm" id="DENSITY5VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Input_standard_gas_concentration (PPM)_value_05"] : '' %>" ></td>
	                                <td><input class="input-sm" id="SIZE5VALUE" name="SIZEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Sample_pool_length (mm)_value_05"] : '' %>" ></td>
	                                <td><input class="input-sm" id="OPTPATH5VALUE" name="OPTPATHVALUE" type="text" value="<%= @field_values.present? ? @field_values["Optica_ path (m)_value_05"] : '' %>" ></td>
	                                <td><input class="input-sm" id="EQDENSITY5VALUE" name="EQDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Equivalent_concentration (PPB)_value_05"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="RESPONSE5VALUE" name="RESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value (PPB)_value_05"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="SCORESPONSE5VALUE" name="SCORESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value_after_calibration (PPB)_value_05"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><input class="input-sm" id="DENSITY6VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Input_standard_gas_concentration (PPM)_value_06"] : '' %>" ></td>
	                                <td><input class="input-sm" id="SIZE6VALUE" name="SIZEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Sample_pool_length (mm)_value_06"] : '' %>" ></td>
	                                <td><input class="input-sm" id="OPTPATH6VALUE" name="OPTPATHVALUE" type="text" value="<%= @field_values.present? ? @field_values["Optica_ path (m)_value_06"] : '' %>" ></td>
	                                <td><input class="input-sm" id="EQDENSITY6VALUE" name="EQDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["Equivalent_concentration (PPB)_value_06"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="RESPONSE6VALUE" name="RESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value (PPB)_value_06"] : '' %>" ></td>
	                                <td valign="top"><input class="input-sm" id="SCORESPONSE6VALUE" name="SCORESPONSEVALUE" type="text" value="<%= @field_values.present? ? @field_values["Response_value_after_calibration (PPB)_value_06"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center" class="list_name"><%=  @titles["After_calibration_Span"]  %></p></td>
	                                <td colspan="2"><input class="input" id="CALIBRATIONOSPAN" name="CALIBRATIONOSPAN" type="text" validator="required" value="<%= @field_values.present? ? @field_values["After_calibration_Span"] : '' %>" ></td>
	                                <td><p align="center" class="list_name"><%=  @titles["After_calibration_Ofset"]  %></p></td>
	                                <td colspan="2"><input class="input" id="CALIBRATIONOOFFSET" name="CALIBRATIONOOFFSET" type="text" validator="required" value="<%= @field_values.present? ? @field_values["After_calibration_Ofset"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><p>检 查 项 目 </p></td>
	                                <td colspan="2"><p align="center">正常范围 </p></td>
	                                <td><p align="center">检查值 </p></td>
	                                <td colspan="2"><p align="center">异常时处理记录 </p></td>
	                            </tr>
	                            <tr>
	                                <td><p class="list_name2"><%=  @titles["External_light_intensity"]  %></p></td>
	                                <td colspan="2"><p align="center">&gt;30000（或说明书中标称的特定百分比） </p></td>
	                                <td valign="top">
	                                    <input class="input-sm check_value1" id="OLICHECK1VALUE" name="OLICHECK1VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["External_light_intensity_value_01"] : '' %>" >
	                                </td>
	                                <td colspan="2"><input class="input check_value2" id="OLICHECK1REMARK" name="OLICHECK1REMARK" type="text" value="<%= @field_values.present? ? @field_values["External_light_intensity_value_02"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td><p class="list_name2"><%=  @titles["Mercury_lamp_channel_deviation"]  %></p></td>
	                                <td colspan="2"><p align="center">±3</p></td>
	                                <td valign="top">
	                                    <input class="input-sm check_value1" id="MICDCHECK2VALUE" name="MICDCHECK2VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Mercury_lamp_channel_deviation_value_01"] : '' %>" >
	                                </td>
	                                <td colspan="2"><input class="input check_value2" id="MICDCHECK2REMARK" name="MICDCHECK2REMARK" type="text" value="<%= @field_values.present? ? @field_values["Mercury_lamp_channel_deviation_value_02"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td colspan="1"><p class="list_name"><%=  @titles["note"]  %></p></td>
	                                <td colspan="5"><textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98.6%;"><%= @field_values.present? ? @field_values["note"] : '' %></textarea></td>
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>