<!--颗粒物手工比对采样记录表（每月）-->
<p class="modalID hide"><%= @form_module.id%></p>

<div class="navTop">
	<span class="lines"></span>
	<span class="tableName"><%= @form_module.name  %></span>
	<button class="btn btn-default" id="Back" type="button">返回</button>
	<!--<button class="btn  btn-primary" id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>-->
</div>
<form id="typeListBox" class="form-horizontal">
	<!--<button class="btn btn-default"  id="Back" type="button">返回</button>
	<button class="btn  btn-primary"  id="Save" type="button" value="" style="margin-right: 15px;">保存</button>-->
	<div class="check-list-box">
		<div class="check-list" style="margin: 0;">
			<div class="check-list-container-border">
				<div class="check-list-container">
					<h1 class="check-list-title"> <%= @form_module.name  %></h1>
					<div class="check-list-content">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td colspan="14">
										<table class="check-list-table">
											<tbody>
												<tr>
												
													<td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
												</tr>
												<tr>
													<td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>

												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										<p align="center">采样日期 <br>(年月日)</p>
									</td>
									<td>
										<p align="center">采样时段 </p>
									</td>
									<td>
										<p align="center">采样项目 </p>
									</td>
									<td>
										<p align="center">
											累计流量 <br> (标况，m3)
										</p>
									</td>
									<td>
										<p align="center">
											滤膜 <br> 编号
										</p>
									</td>
									<td>
										<p align="center">
											采样前 <br> 膜重(mg)
										</p>
									</td>
									<td>
										<p align="center">采样后膜重(mg)</p>
									</td>
									<td valign="top">
										<p align="center">
											滤膜 <br> 增重(mg)
										</p>
									</td>
									<td>
										<p align="center">
											颗粒物 <br> 浓度（μg/m3）
										</p>
									</td>
									<td>
										<p align="center">采样人 </p>
									</td>
									<td>
										<p align="center">称重人 </p>
									</td>
									<td>
										<p align="center">天气状况 </p>
									</td>
									<td>
										<p align="center">操作 </p>
									</td>
								</tr>
                <% @form_hash.each_with_index do |f,index| %>
              <% item = f[:item] %>
								<tr id="tr<%= index %>" data-attr="datatr">
									<td><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= item["CYRQ"] %>"></td>
									<td><input class="input-sm" id="CYSJJG0" name="CYSJJG0" type="text" value="<%= item["CYSJJG"] %>"></td>
									<td><input class="input-sm" id="POLLUTANTTYPE0" name="POLLUTANTTYPE0" type="text" value="<%= item["HPA"] %>"></td>
									<td><input class="input-sm" id="LJLL0" name="LJLL0" type="text" value="<%= item["LJLL"] %>"></td>
									<td><input class="input-sm" id="LMBH0" name="LMBH0" type="text" value="<%= item["LMBH"] %>"></td>
									<td><input class="input-sm" id="CYQMZ0" name="CYQMZ0" type="text" value="<%= item["CYQMZ"] %>"></td>
									<td><input class="input-sm" id="CYHMZ0" name="CYHMZ0" type="text" value="<%= item["CYHMZ"] %>"></td>
									<td><input class="input-sm" id="LMZZ0" name="LMZZ0" type="text" value="<%= item["LMZZ"] %>"></td>
									<td><input class="input-sm" id="KLWND0" name="KLWND0" type="text" value="<%= item["KLWND"] %>"></td>
									<td><input tvbox="true" readonly="readonly" style="width:85px;" class="form-control" id="CYRID0_Text" name="CYRID0_Text" type="text" validator="required" value="<%= item["JLRID_Text"] %>" original-title=""></td>
									<td><input id="CZRID0" name="CZRID0" style="width:65px;" type="text" value="<%= item["CZRID"] %>"></td>
									<td>
										<input class="input-sm" id="TQZK0" name="TQZK0" type="text" value="<%= item["TQZK"] %>">
										<input type="hidden" id="MCDETAILID_0" name="MCDETAILID_0" value="">
									</td>

									<td>
										<a class="btn btn-default btn-sm" href="javascript:void(0);" target="_self">
											<i class="icon-file" sampling_record="sampling_record_<%= index + 1 %>"></i>查看
										</a>
									</td>
								</tr>
                  <% end %>
								<!--<tr id="tr1" data-attr="datatr">-->
									<!--<td><input type="text" class="dateTimepickerH start_datetime" name="" value=""></td>-->
									<!--<td><input class="input-sm" id="CYSJJG1" name="CYSJJG1" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="POLLUTANTTYPE1" name="POLLUTANTTYPE1" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LJLL1" name="LJLL1" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMBH1" name="LMBH1" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYQMZ1" name="CYQMZ1" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYHMZ1" name="CYHMZ1" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMZZ1" name="LMZZ1" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="KLWND1" name="KLWND1" type="text" value=""></td>-->
									<!--<td><input tvbox="true" readonly="readonly" style="width:85px;" class="form-control" id="CYRID1_Text" name="CYRID1_Text" type="text" validator="required" value="" original-title=""></td>-->
									<!--<td><input id="CZRID1" name="CZRID1" style="width:65px;" type="text" value=""></td>-->
									<!--<td>-->
										<!--<input class="input-sm" id="TQZK1" name="TQZK1" type="text" value="">-->
										<!--<input type="hidden" id="MCDETAILID_1" name="MCDETAILID_1" value="">-->
									<!--</td>-->

									<!--<td>-->
										<!--<a class="btn btn-default btn-sm" href="javascript:void(0);" target="_self" >-->
											<!--<i class="icon-file" sampling_record="sampling_record_02"></i>查看-->
										<!--</a>-->
									<!--</td>-->
								<!--</tr>-->
								<!--<tr id="tr2" data-attr="datatr">-->
									<!--<td><input type="text" class="dateTimepickerH start_datetime" name="" value=""></td>-->
									<!--<td><input class="input-sm" id="CYSJJG2" name="CYSJJG2" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="POLLUTANTTYPE2" name="POLLUTANTTYPE2" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LJLL2" name="LJLL2" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMBH2" name="LMBH2" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYQMZ2" name="CYQMZ2" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYHMZ2" name="CYHMZ2" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMZZ2" name="LMZZ2" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="KLWND2" name="KLWND2" type="text" value=""></td>-->
									<!--<td><input tvbox="true" readonly="readonly" style="width:85px;" class="form-control" id="CYRID2_Text" name="CYRID2_Text" type="text" validator="required" value="" original-title=""></td>-->
									<!--<td><input id="CZRID2" name="CZRID2" style="width:65px;" type="text" value=""></td>-->
									<!--<td>-->
										<!--<input class="input-sm" id="TQZK2" name="TQZK2" type="text" value="">-->
										<!--<input type="hidden" id="MCDETAILID_2" name="MCDETAILID_2" value="">-->
									<!--</td>-->

									<!--<td>-->
										<!--<a class="btn btn-default btn-sm" href="javascript:void(0);" target="_self" >-->
											<!--<i class="icon-file" sampling_record="sampling_record_03"></i>查看-->
										<!--</a>-->
									<!--</td>-->
								<!--</tr>-->
								<!--<tr id="tr3" data-attr="datatr">-->
									<!--<td><input type="text" class="dateTimepickerH start_datetime" name="" value=""></td>-->
									<!--<td><input class="input-sm" id="CYSJJG3" name="CYSJJG3" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="POLLUTANTTYPE3" name="POLLUTANTTYPE3" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LJLL3" name="LJLL3" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMBH3" name="LMBH3" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYQMZ3" name="CYQMZ3" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYHMZ3" name="CYHMZ3" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMZZ3" name="LMZZ3" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="KLWND3" name="KLWND3" type="text" value=""></td>-->
									<!--<td><input tvbox="true" readonly="readonly" style="width:85px;" class="form-control" id="CYRID3_Text" name="CYRID3_Text" type="text" validator="required" value="" original-title=""></td>-->
									<!--<td><input id="CZRID3" name="CZRID3" style="width:65px;" type="text" value=""></td>-->
									<!--<td>-->
										<!--<input class="input-sm" id="TQZK3" name="TQZK3" type="text" value="">-->
										<!--<input type="hidden" id="MCDETAILID_3" name="MCDETAILID_3" value="">-->
									<!--</td>-->

									<!--<td>-->
										<!--<a class="btn btn-default btn-sm" href="javascript:void(0);" target="_self" >-->
											<!--<i class="icon-file" sampling_record="sampling_record_04"></i>查看-->
										<!--</a>-->
									<!--</td>-->
								<!--</tr>-->
								<!--<tr id="tr4" data-attr="datatr">-->
									<!--<td><input type="text" class="dateTimepickerH start_datetime" name="" value=""></td>-->
									<!--<td><input class="input-sm" id="CYSJJG4" name="CYSJJG4" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="POLLUTANTTYPE4" name="POLLUTANTTYPE4" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LJLL4" name="LJLL4" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMBH4" name="LMBH4" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYQMZ4" name="CYQMZ4" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYHMZ4" name="CYHMZ4" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMZZ4" name="LMZZ4" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="KLWND4" name="KLWND4" type="text" value=""></td>-->
									<!--<td><input tvbox="true" readonly="readonly" style="width:85px;" class="form-control" id="CYRID4_Text" name="CYRID4_Text" type="text" validator="required" value="" original-title=""></td>-->
									<!--<td><input id="CZRID4" name="CZRID4" style="width:65px;" type="text" value=""></td>-->
									<!--<td>-->
										<!--<input class="input-sm" id="TQZK4" name="TQZK4" type="text" value="">-->
										<!--<input type="hidden" id="MCDETAILID_4" name="MCDETAILID_4" value="">-->
									<!--</td>-->

									<!--<td>-->
										<!--<a class="btn btn-default btn-sm" href="javascript:void(0);" target="_self" >-->
											<!--<i class="icon-file" sampling_record="sampling_record_05"></i>查看-->
										<!--</a>-->
									<!--</td>-->
								<!--</tr>-->
								<!--<tr id="tr5" data-attr="datatr">-->
									<!--<td><input type="text" class="dateTimepickerH start_datetime" name="" value=""></td>-->
									<!--<td><input class="input-sm" id="CYSJJG5" name="CYSJJG5" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="POLLUTANTTYPE5" name="POLLUTANTTYPE5" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LJLL5" name="LJLL5" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMBH5" name="LMBH5" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYQMZ5" name="CYQMZ5" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYHMZ5" name="CYHMZ5" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMZZ5" name="LMZZ5" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="KLWND5" name="KLWND5" type="text" value=""></td>-->
									<!--<td><input tvbox="true" readonly="readonly" style="width:85px;" class="form-control" id="CYRID5_Text" name="CYRID5_Text" type="text" validator="required" value="" original-title=""></td>-->
									<!--<td><input id="CZRID5" name="CZRID5" style="width:65px;" type="text" value=""></td>-->
									<!--<td>-->
										<!--<input class="input-sm" id="TQZK5" name="TQZK5" type="text" value="">-->
										<!--<input type="hidden" id="MCDETAILID_5" name="MCDETAILID_5" value="">-->
									<!--</td>-->

									<!--<td>-->
										<!--<a class="btn btn-default btn-sm" href="javascript:void(0);" target="_self" >-->
											<!--<i class="icon-file" sampling_record="sampling_record_06"></i>查看-->
										<!--</a>-->
									<!--</td>-->
								<!--</tr>-->
								<!--<tr id="tr6" data-attr="datatr">-->
									<!--<td><input type="text" class="dateTimepickerH start_datetime" name="" value=""></td>-->
									<!--<td><input class="input-sm" id="CYSJJG6" name="CYSJJG6" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="POLLUTANTTYPE6" name="POLLUTANTTYPE6" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LJLL6" name="LJLL6" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMBH6" name="LMBH6" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYQMZ6" name="CYQMZ6" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYHMZ6" name="CYHMZ6" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMZZ6" name="LMZZ6" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="KLWND6" name="KLWND6" type="text" value=""></td>-->
									<!--<td><input tvbox="true" readonly="readonly" style="width:85px;" class="form-control" id="CYRID6_Text" name="CYRID6_Text" type="text" validator="required" value="" original-title=""></td>-->
									<!--<td><input id="CZRID6" name="CZRID6" style="width:65px;" type="text" value=""></td>-->
									<!--<td>-->
										<!--<input class="input-sm" id="TQZK6" name="TQZK6" type="text" value="">-->
										<!--<input type="hidden" id="MCDETAILID_6" name="MCDETAILID_6" value="">-->
									<!--</td>-->

									<!--<td>-->
										<!--<a class="btn btn-default btn-sm" href="javascript:void(0);" target="_self" >-->
											<!--<i class="icon-file" sampling_record="sampling_record_07"></i>查看-->
										<!--</a>-->
									<!--</td>-->
								<!--</tr>-->
								<!--<tr id="tr7" data-attr="datatr">-->
									<!--<td><input type="text" class="dateTimepickerH start_datetime" name="" value=""></td>-->
									<!--<td><input class="input-sm" id="CYSJJG7" name="CYSJJG7" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="POLLUTANTTYPE7" name="POLLUTANTTYPE7" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LJLL7" name="LJLL7" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMBH7" name="LMBH7" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYQMZ7" name="CYQMZ7" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYHMZ7" name="CYHMZ7" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMZZ7" name="LMZZ7" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="KLWND7" name="KLWND7" type="text" value=""></td>-->
									<!--<td><input tvbox="true" readonly="readonly" style="width:85px;" class="form-control" id="CYRID7_Text" name="CYRID7_Text" type="text" validator="required" value="" original-title=""></td>-->
									<!--<td><input id="CZRID7" name="CZRID7" style="width:65px;" type="text" value=""></td>-->
									<!--<td>-->
										<!--<input class="input-sm" id="TQZK7" name="TQZK7" type="text" value="">-->
										<!--<input type="hidden" id="MCDETAILID_7" name="MCDETAILID_7" value="">-->
									<!--</td>-->

									<!--<td>-->
										<!--<a class="btn btn-default btn-sm" href="javascript:void(0);" target="_self" >-->
											<!--<i class="icon-file" sampling_record="sampling_record_08"></i>查看-->
										<!--</a>-->
									<!--</td>-->
								<!--</tr>-->
								<!--<tr id="tr8" data-attr="datatr">-->
									<!--<td><input type="text" class="dateTimepickerH start_datetime" name="" value=""></td>-->
									<!--<td><input class="input-sm" id="CYSJJG8" name="CYSJJG8" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="POLLUTANTTYPE8" name="POLLUTANTTYPE8" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LJLL8" name="LJLL8" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMBH8" name="LMBH8" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYQMZ8" name="CYQMZ8" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYHMZ8" name="CYHMZ8" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMZZ8" name="LMZZ8" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="KLWND8" name="KLWND8" type="text" value=""></td>-->
									<!--<td><input tvbox="true" readonly="readonly" style="width:85px;" class="form-control" id="CYRID8_Text" name="CYRID8_Text" type="text" validator="required" value="" original-title=""></td>-->
									<!--<td><input id="CZRID8" name="CZRID8" style="width:65px;" type="text" value=""></td>-->
									<!--<td>-->
										<!--<input class="input-sm" id="TQZK8" name="TQZK8" type="text" value="">-->
										<!--<input type="hidden" id="MCDETAILID_8" name="MCDETAILID_8" value="">-->
									<!--</td>-->

									<!--<td>-->
										<!--<a class="btn btn-default btn-sm" href="javascript:void(0);" target="_self" >-->
											<!--<i class="icon-file" sampling_record="sampling_record_09"></i>查看-->
										<!--</a>-->
									<!--</td>-->
								<!--</tr>-->
								<!--<tr id="tr9" data-attr="datatr">-->
									<!--<td><input type="text" class="dateTimepickerH start_datetime" name="" value=""></td>-->
									<!--<td><input class="input-sm" id="CYSJJG9" name="CYSJJG9" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="POLLUTANTTYPE9" name="POLLUTANTTYPE9" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LJLL9" name="LJLL9" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMBH9" name="LMBH9" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYQMZ9" name="CYQMZ9" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="CYHMZ9" name="CYHMZ9" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="LMZZ9" name="LMZZ9" type="text" value=""></td>-->
									<!--<td><input class="input-sm" id="KLWND9" name="KLWND9" type="text" value=""></td>-->
									<!--<td><input tvbox="true" readonly="readonly" style="width:85px;" class="form-control" id="CYRID9_Text" name="CYRID9_Text" type="text" validator="required" value="" original-title=""></td>-->
									<!--<td><input id="CZRID9" name="CZRID9" style="width:65px;" type="text" value=""></td>-->
									<!--<td>-->
										<!--<input class="input-sm" id="TQZK9" name="TQZK9" type="text" value="">-->
										<!--<input type="hidden" id="MCDETAILID_9" name="MCDETAILID_9" value="">-->
									<!--</td>-->

									<!--<td>-->
										<!--<a class="btn btn-default btn-sm" href="javascript:void(0);" target="_self" >-->
											<!--<i class="icon-file" sampling_record="sampling_record_10"></i>查看-->
										<!--</a>-->
									<!--</td>-->
								<!--</tr>-->
								<tr>
									<td>
										<p align="center">备注 </p>
									</td>
									<td width="842" colspan="13">
										<textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;"></textarea>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
					<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>