	<!--气体分析仪（二氧化硫、臭氧、二氧化氮、一氧化碳）多点校准记录表（每季度）-->
	<p class="modalID hide"><%= @form_module.id%></p>
	
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
	<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="11">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td style="width: 100px;">
	                                    <p style="width: 120px;" class="list_name"><%=  @titles[" monitoring_instrument_name"]  %></p>
	                                </td>
	                                <td colspan="2"><input id="DEVICEMODEL" name="DEVICEMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values[" monitoring_instrument_name"] : '' %>" ></td>
	                                <td colspan="4">
	                                    <p class="list_name"><%=  @titles["check_date"]  %></p>
	                                </td>
	                                <td colspan="4">
	                                   <input type="text" class="dateTimepicker calibration_time" name="" value="<%= @field_values.present? ? @field_values["check_date"] : '' %>">
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name"><%=  @titles["instrument_code"]  %></p>
	                                </td>
	                                <td colspan="2"><input id="DEVICECODE" name="DEVICECODE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["instrument_code"] : '' %>"></td>
	                                <td colspan="4">
	                                    <p class="list_name"><%=  @titles["Use_range (PPB)"]  %></p>
	                                </td>
	                                <td colspan="4"><input id="PPB" name="PPB" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Use_range (PPB)"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name"><%=  @titles["gas_cylinder_num"]  %></p>
	                                </td>
	                                <td colspan="2"><input id="PPMCODE" name="PPMCODE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["gas_cylinder_num"] : '' %>"></td>
	                                <td colspan="4" rowspan="1">
	                                    <p class="list_name"><%=  @titles["gas_cylinder_concentration"]  %></p>
	                                </td>
	                                <td colspan="6" rowspan="1"><input id="PPM" name="PPM" type="text" validator="required" value="<%= @field_values.present? ? @field_values["gas_cylinder_concentration"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name"><%=  @titles["gas_cylinder_valid"]  %></p>
	                                </td>
	                                <td colspan="2"><input type="text" class="dateTimepicker create_datetime " value="<%= @field_values.present? ? @field_values["gas_cylinder_valid"] : '' %>"></td>
	                                <td colspan="4"></td>
	                                <td colspan="6"></td>
	                            </tr>
	                            <tr>
	                                <td rowspan="2">
	                                    <p>校准点(%) </p>
	                                </td>
	                                <td rowspan="2">
	                                    <p align="center">开始时间 </p>
	                                </td>
	                                <td rowspan="2">
	                                    <p align="center">结束时间 </p>
	                                </td>
	                                <td colspan="2" rowspan="2">
	                                    <p align="center">标准值 </p>
	                                </td>
	                                <td colspan="6">
	                                    <p align="center">仪器响应浓度 </p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td colspan="2">
	                                    <p align="center">响应值 </p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center">备用记录1 </p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center">备用记录2 </p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name2"><%=  @titles["zero"]  %></p>
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["zero_value_01"] : '' %>">
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH end_time" name="" value="<%= @field_values.present? ? @field_values["zero_value_02"] : '' %>">
	                                </td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBZ" name="LINGDIANBZ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["zero_value_03"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANXY" name="LINGDIANXY" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY1" name="LINGDIANBY1" type="text" value="<%= @field_values.present? ? @field_values["zero_value_04"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY2" name="LINGDIANBY2" type="text" value="<%= @field_values.present? ? @field_values["zero_value_05"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name2"><%=  @titles["percent_flow_10"]  %></p>
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_10_value_01"] : '' %>">
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH end_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_10_value_02"] : '' %>">
	                                </td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBZ" name="LINGDIANBZ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["percent_flow_10_value_03"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANXY" name="LINGDIANXY" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY1" name="LINGDIANBY1" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_10_value_04"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY2" name="LINGDIANBY2" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_10_value_04"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name2"><%=  @titles["percent_flow_20"]  %></p>
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_20_value_01"] : '' %>">
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH end_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_20_value_02"] : '' %>">
	                                </td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBZ" name="LINGDIANBZ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["percent_flow_20_value_03"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANXY" name="LINGDIANXY" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY1" name="LINGDIANBY1" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_20_value_04"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY2" name="LINGDIANBY2" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_20_value_05"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name2"><%=  @titles["percent_flow_40"]  %></p>
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_40_value_01"] : '' %>">
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH end_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_40_value_02"] : '' %>">
	                                </td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBZ" name="LINGDIANBZ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["percent_flow_40_value_03"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANXY" name="LINGDIANXY" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY1" name="LINGDIANBY1" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_40_value_04"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY2" name="LINGDIANBY2" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_40_value_05"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name2"><%=  @titles["percent_flow_60"]  %></p>
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_60_value_01"] : '' %>">
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH end_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_60_value_02"] : '' %>">
	                                </td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBZ" name="LINGDIANBZ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["percent_flow_60_value_03"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANXY" name="LINGDIANXY" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY1" name="LINGDIANBY1" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_60_value_04"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY2" name="LINGDIANBY2" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_60_value_05"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name2"><%=  @titles["percent_flow_80"]  %></p>
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_01"] : '' %>">
	                                </td>
	                                <td>
	                                   <input type="text" class="dateTimepickerH end_time" name="" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_02"] : '' %>">
	                                </td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBZ" name="LINGDIANBZ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_03"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANXY" name="LINGDIANXY" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY1" name="LINGDIANBY1" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_04"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="LINGDIANBY2" name="LINGDIANBY2" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_05"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p>
	                                        	多点线性校准结果
	                                    </p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center">
	                                      	  <%=  @titles["Slope_b"]  %>： <input class="input-sm" id="XL" name="XL" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled">
	                                    </p>
	
	                                </td>
	                                <td colspan="4">
	                                    <p align="center">
	                                      	  <%=  @titles["Intercept_a"]  %>： <input class="input-sm" id="JU" name="JU" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled">
	                                    </p>
	
	                                </td>
	                                <td colspan="4">
	                                    <p align="center">
	                                        	<%=  @titles["correlation_coefficient"]  %>： <input class="input-sm" id="XGXS" name="XGXS" readonly="True" title="自动计算,不用填写" type="text" value="" disabled="disabled">
	                                    </p>
	
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p><%=  @titles["checked_result"]  %></p>
	                                </td>
	                                <td colspan="10">
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio">
	                                            <input  data-val="true" <%=  @field_values.present? && @field_values["checked_result"] == '1' ?  'checked="checked"'.html_safe  :  '' %> id="XZJG" name="XZJG" type="radio" value="1" > 合格
	                                        </label>
	                                        <label class="checkbox-radio">
	                                            <input id="XZJG" name="XZJG" <%=  @field_values.present? && @field_values["checked_result"] == '0' ?  'checked="checked"'.html_safe  :  '' %> type="radio" value="0" > 不合格
	                                        </label>
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name"><%=  @titles["note"]  %></p>	
	                                </td>
	                                <td colspan="12"><textarea cols="20" id="REMARKS" name="REMARKS" rows="2" style="text-align: left;padding: 5px;min-height: 50px;min-width: 88%;"><%= @field_values.present? ? @field_values["note"] : '' %></textarea></td>
	                            </tr>
	                            <tr>
	                                <td colspan="12">
	                                    <p>
	                                       	 注1：对所获校准曲线的检验指标应符合以下要求：相关系数(r)&gt;0.999；0.95≤斜率(b)≤1.05；截距(a)&lt;±1%×满量程。<br>
	                                       	 注2：若其中任何一项不满足指标要求，则需对监测分析仪器重新进行调整后，再次进行多点校准，直至取得满意的结果。
	
	                                    </p>
	                                </td>
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
        			<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>