<!--多气体动态校准仪校准检查记录表（每半年）-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="12">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td colspan="2">
	                                    <p align="center" class="list_name"><%=  @titles["Instrument_model/number"]  %></p>
	                                </td>
	                                <td colspan="4">
	                                    <input id="DEVICECODE" name="DEVICECODE" type="text" value="<%= @field_values.present? ? @field_values["Instrument_model/number"] : '' %>"></td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name"><%=  @titles["check_time"]  %></p>
	                                </td>
	                                <td colspan="4">
	                                	<input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["check_time"] : '' %>">
                                	</td>
	                            </tr>
	                            <tr>
	                                <td colspan="2">
	                                    <p align="center" class="list_name"><%=  @titles["Air_pressure"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                    <input class="input-sm" id="QY" name="QY" type="text" value="<%= @field_values.present? ? @field_values["Air_pressure"] : '' %>" ></td>
	                                <td>
	                                    <p align="center" class="list_name"><%=  @titles["Temperature"]  %></p>
	                                </td>
	                                <td colspan="2">
	                                    <input class="input-sm" id="WD" name="WD" type="text" value="<%= @field_values.present? ? @field_values["Temperature"] : '' %>" ></td>
	                                <td>
	                                    <p align="center" class="list_name"><%=  @titles["humidity"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                     <input class="input-sm" id="SD" name="SD" type="text" value="<%= @field_values.present? ? @field_values["humidity"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td colspan="2">
	                                    <p align="center" class="list_name"><%=  @titles["Calibration_flowmeter_model"]  %></p>
	                                </td>
	                                <td colspan="4">
	                                 <textarea cols="20" id="JZLLJMODEL" name="JZLLJMODEL" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 95%;"><%= @field_values.present? ? @field_values["Calibration_flowmeter_model"] : '' %></textarea>
	                                    
	                                </td><td colspan="3">
	                                    <p align="center" class="list_name"><%=  @titles["Calibration_flowmeter_number"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                     <textarea cols="20" id="JZLLJCODE" name="JZLLJCODE" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 95%;"><%= @field_values.present? ? @field_values["Calibration_flowmeter_number"] : '' %></textarea>
	                                    
	                            	</td>
	                            </tr>
	                            <tr>
	                                <td colspan="12">
	                                    <p align="center">校准检查结果 </p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td colspan="12">
	                                    <p align="center"  class="l_min"><%=  @titles["0-10l /min_flow_controller"]  %></p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center"><strong>序号 </strong></p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center"><strong>设定值L</strong></p>
	                                </td>
	                                <td colspan="3">
	                                    <p align="center"><strong>仪器读数L/min</strong></p>
	                                </td>
	                                <td>
	                                    <p align="center"><strong>流量计读数L/min</strong></p>
	                                </td>
	                                <td colspan="3">
	                                    <p align="center"><strong>流量计修正读数L/min(质量流量)</strong></p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center"><strong>输入校准器值L/min(质量流量)</strong></p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">1</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["1L/min"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value1" id="YQDSROW1" name="YQDSROW1" type="text" value="<%= @field_values.present? ? @field_values["1L/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                    <input class="input-sm check_value2" id="LLJDSROW1" name="LLJDSROW1" type="text" value="<%= @field_values.present? ? @field_values["1L/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLJXZROW1" name="LLJXZROW1" type="text" value="<%= @field_values.present? ? @field_values["1L/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                    <input class="input-sm check_value4" id="SYJZQROW1" name="SYJZQROW1" type="text" value="<%= @field_values.present? ? @field_values["1L/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">2</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["2L/min"]  %></p>
	                                </td>
	                                 <td colspan="3">
	                                    <input class="input-sm check_value1" id="YQDSROW2" name="YQDSROW2" type="text" value="<%= @field_values.present? ? @field_values["2L/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                    <input class="input-sm check_value2" id="LLJDSROW2" name="LLJDSROW2" type="text" value="<%= @field_values.present? ? @field_values["2L/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLJXZROW2" name="LLJXZROW2" type="text" value="<%= @field_values.present? ? @field_values["2L/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                    <input class="input-sm check_value4" id="SYJZQROW2" name="SYJZQROW2" type="text" value="<%= @field_values.present? ? @field_values["2L/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">3</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["3L/min"]  %></p>
	                                </td>
	                                 <td colspan="3">
	                                    <input class="input-sm check_value1" id="YQDSROW3" name="YQDSROW3" type="text" value="<%= @field_values.present? ? @field_values["3L/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                    <input class="input-sm check_value2" id="LLJDSROW3" name="LLJDSROW3" type="text" value="<%= @field_values.present? ? @field_values["3L/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLJXZROW3" name="LLJXZROW3" type="text" value="<%= @field_values.present? ? @field_values["3L/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                    <input class="input-sm check_value4" id="SYJZQROW3" name="SYJZQROW3" type="text" value="<%= @field_values.present? ? @field_values["3L/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">4</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["4L/min"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value1" id="YQDSROW4" name="YQDSROW4" type="text" value="<%= @field_values.present? ? @field_values["4L/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                    <input class="input-sm check_value2" id="LLJDSROW4" name="LLJDSROW4" type="text" value="<%= @field_values.present? ? @field_values["4L/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLJXZROW4" name="LLJXZROW4" type="text" value="<%= @field_values.present? ? @field_values["4L/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                    <input class="input-sm check_value4" id="SYJZQROW4" name="SYJZQROW4" type="text" value="<%= @field_values.present? ? @field_values["4L/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">5</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["5L/min"]  %></p>
	                                </td>
	                                 <td colspan="3">
	                                    <input class="input-sm check_value1" id="YQDSROW5" name="YQDSROW5" type="text" value="<%= @field_values.present? ? @field_values["5L/min_value_01"] : '' %>" ></td>
	                                <td>
	                                    <input class="input-sm check_value2" id="LLJDSROW5" name="LLJDSROW5" type="text" value="<%= @field_values.present? ? @field_values["5L/min_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLJXZROW5" name="LLJXZROW5" type="text" value="<%= @field_values.present? ? @field_values["5L/min_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                    <input class="input-sm check_value4" id="SYJZQROW5" name="SYJZQROW5" type="text" value="<%= @field_values.present? ? @field_values["5L/min_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">6</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["6L/min"]  %></p>
	                                </td>
	                                 <td colspan="3">
	                                    <input class="input-sm check_value1" id="YQDSROW6" name="YQDSROW6" type="text" value="<%= @field_values.present? ? @field_values["6L/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                    <input class="input-sm check_value2" id="LLJDSROW6" name="LLJDSROW6" type="text" value="<%= @field_values.present? ? @field_values["6L/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLJXZROW6" name="LLJXZROW6" type="text" value="<%= @field_values.present? ? @field_values["6L/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                    <input class="input-sm check_value4" id="SYJZQROW6" name="SYJZQROW6" type="text" value="<%= @field_values.present? ? @field_values["6L/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">7</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["7L/min"]  %></p>
	                                </td>
	                                 <td colspan="3">
	                                    <input class="input-sm check_value1" id="YQDSROW7" name="YQDSROW7" type="text" value="<%= @field_values.present? ? @field_values["7L/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                    <input class="input-sm check_value2" id="LLJDSROW7" name="LLJDSROW7" type="text" value="<%= @field_values.present? ? @field_values["7L/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLJXZROW7" name="LLJXZROW7" type="text" value="<%= @field_values.present? ? @field_values["7L/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                    <input class="input-sm check_value4" id="SYJZQROW7" name="SYJZQROW7" type="text" value="<%= @field_values.present? ? @field_values["7L/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">8</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["8L/min"]  %></p>
	                                </td>
	                                 <td colspan="3">
	                                    <input class="input-sm check_value1" id="YQDSROW8" name="YQDSROW8" type="text" value="<%= @field_values.present? ? @field_values["8L/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                    <input class="input-sm check_value2" id="LLJDSROW8" name="LLJDSROW8" type="text" value="<%= @field_values.present? ? @field_values["8L/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLJXZROW8" name="LLJXZROW8" type="text" value="<%= @field_values.present? ? @field_values["8L/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                    <input class="input-sm check_value4" id="SYJZQROW8" name="SYJZQROW8" type="text" value="<%= @field_values.present? ? @field_values["8L/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">9</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["9L/min"]  %></p>
	                                </td>
	                                 <td colspan="3">
	                                    <input class="input-sm check_value1" id="YQDSROW9" name="YQDSROW9" type="text" value="<%= @field_values.present? ? @field_values["9L/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                    <input class="input-sm check_value2" id="LLJDSROW9" name="LLJDSROW9" type="text" value="<%= @field_values.present? ? @field_values["9L/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLJXZROW9" name="LLJXZROW9" type="text" value="<%= @field_values.present? ? @field_values["9L/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                    <input class="input-sm check_value4" id="SYJZQROW9" name="SYJZQROW9" type="text" value="<%= @field_values.present? ? @field_values["9L/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">10</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["10L/min"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value1" id="YQDSROW10" name="YQDSROW10" type="text" value="<%= @field_values.present? ? @field_values["10L/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                    <input class="input-sm check_value2" id="LLJDSROW10" name="LLJDSROW10" onchange="GetLeastSquar();" type="text" value="<%= @field_values.present? ? @field_values["10L/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLJXZROW10" name="LLJXZROW10" type="text" value="<%= @field_values.present? ? @field_values["10L/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                    <input class="input-sm check_value4" id="SYJZQROW10" name="SYJZQROW10" type="text" value="<%= @field_values.present? ? @field_values["10L/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name2"><%=  @titles["slope_b"]  %></p>
	                                </td>
	                                <td colspan="2">
	                                     <input class="input-sm" id="XLB1" name="XLB1" type="text" value="<%= @field_values.present? ? @field_values["0-10L/min_flow_controller_ slope_b"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <p class="list_name2"><%=  @titles["intercept_a"]  %></p>
	                                </td>
	                                <td>
	                                   <input class="input-sm" id="JUA1" name="JUA1" type="text" value="<%= @field_values.present? ? @field_values["0-10L/min_flow_controller_ intercept_a"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <p class="list_name2"><%=  @titles["Correlation_coefficient_r"]  %></p>
	                                </td>
	                                <td colspan="2">
	                                     <input class="input-sm" id="XGXSR1" name="XGXSR1" type="text" value="<%= @field_values.present? ? @field_values["0-10L/min_flow_controller_ correlation_coefficient_r"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td colspan="12">
	                                    <p align="center"  class="ml_min"><%=  @titles["0-100ml /min_flow_controller"]  %></p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">1</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["10ml/min"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                     <input class="input-sm check_value1" id="LLKZQROW11" name="LLKZQROW11" type="text" value="<%= @field_values.present? ? @field_values["10ml/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                     <input class="input-sm check_value2" id="LLKZQROW12" name="LLKZQROW12" type="text" value="<%= @field_values.present? ? @field_values["10ml/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLKZQROW13" name="LLKZQROW13" type="text" value="<%= @field_values.present? ? @field_values["10ml/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                     <input class="input-sm check_value4" id="LLKZQROW14" name="LLKZQROW14" type="text" value="<%= @field_values.present? ? @field_values["10ml/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">2</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["20ml/min"]  %></p>
	                                </td>
	                               <td colspan="3">
	                                     <input class="input-sm check_value1" id="LLKZQROW21" name="LLKZQROW21" type="text" value="<%= @field_values.present? ? @field_values["20ml/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                     <input class="input-sm check_value2" id="LLKZQROW22" name="LLKZQROW22" type="text" value="<%= @field_values.present? ? @field_values["20ml/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLKZQROW23" name="LLKZQROW23" type="text" value="<%= @field_values.present? ? @field_values["20ml/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                     <input class="input-sm check_value4" id="LLKZQROW24" name="LLKZQROW24" type="text" value="<%= @field_values.present? ? @field_values["20ml/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">3</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["30ml/min"]  %></p>
	                                </td>
	                               <td colspan="3">
	                                     <input class="input-sm check_value1" id="LLKZQROW31" name="LLKZQROW31" type="text" value="<%= @field_values.present? ? @field_values["30ml/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                     <input class="input-sm check_value2" id="LLKZQROW32" name="LLKZQROW32" type="text" value="<%= @field_values.present? ? @field_values["30ml/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLKZQROW33" name="LLKZQROW33" type="text" value="<%= @field_values.present? ? @field_values["30ml/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                     <input class="input-sm check_value4" id="LLKZQROW34" name="LLKZQROW34" type="text" value="<%= @field_values.present? ? @field_values["30ml/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">4</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["40ml/min"]  %></p>
	                                </td>
	                               <td colspan="3">
	                                     <input class="input-sm check_value1" id="LLKZQROW41" name="LLKZQROW41" type="text" value="<%= @field_values.present? ? @field_values["40ml/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                     <input class="input-sm check_value2" id="LLKZQROW42" name="LLKZQROW42" type="text" value="<%= @field_values.present? ? @field_values["40ml/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLKZQROW43" name="LLKZQROW43" type="text" value="<%= @field_values.present? ? @field_values["40ml/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                     <input class="input-sm check_value4" id="LLKZQROW44" name="LLKZQROW44" type="text" value="<%= @field_values.present? ? @field_values["40ml/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">5</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["50ml/min"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                     <input class="input-sm check_value1" id="LLKZQROW51" name="LLKZQROW51" type="text" value="<%= @field_values.present? ? @field_values["50ml/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                     <input class="input-sm check_value2" id="LLKZQROW52" name="LLKZQROW52" type="text" value="<%= @field_values.present? ? @field_values["50ml/min_01_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLKZQROW53" name="LLKZQROW53" type="text" value="<%= @field_values.present? ? @field_values["50ml/min_01_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                     <input class="input-sm check_value4" id="LLKZQROW54" name="LLKZQROW54" type="text" value="<%= @field_values.present? ? @field_values["50ml/min_01_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">6</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["60ml/min"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                     <input class="input-sm check_value1" id="LLKZQROW61" name="LLKZQROW61" type="text" value="<%= @field_values.present? ? @field_values["60ml/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                     <input class="input-sm check_value2" id="LLKZQROW62" name="LLKZQROW62" type="text" value="<%= @field_values.present? ? @field_values["60ml/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLKZQROW63" name="LLKZQROW63" type="text" value="<%= @field_values.present? ? @field_values["60ml/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                     <input class="input-sm check_value4" id="LLKZQROW64" name="LLKZQROW64" type="text" value="<%= @field_values.present? ? @field_values["60ml/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">7</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["70ml/min"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                     <input class="input-sm check_value1" id="LLKZQROW71" name="LLKZQROW71" type="text" value="<%= @field_values.present? ? @field_values["70ml/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                     <input class="input-sm check_value2" id="LLKZQROW72" name="LLKZQROW72" type="text" value="<%= @field_values.present? ? @field_values["70ml/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLKZQROW73" name="LLKZQROW73" type="text" value="<%= @field_values.present? ? @field_values["70ml/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                     <input class="input-sm check_value4" id="LLKZQROW74" name="LLKZQROW74" type="text" value="<%= @field_values.present? ? @field_values["70ml/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">8</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["80ml/min"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                     <input class="input-sm check_value1" id="LLKZQROW81" name="LLKZQROW81" type="text" value="<%= @field_values.present? ? @field_values["80ml/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                     <input class="input-sm check_value2" id="LLKZQROW82" name="LLKZQROW82" type="text" value="<%= @field_values.present? ? @field_values["80ml/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLKZQROW83" name="LLKZQROW83" type="text" value="<%= @field_values.present? ? @field_values["80ml/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                     <input class="input-sm check_value4" id="LLKZQROW84" name="LLKZQROW84" type="text" value="<%= @field_values.present? ? @field_values["80ml/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">9</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["90ml/min"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                     <input class="input-sm check_value1" id="LLKZQROW91" name="LLKZQROW91" type="text" value="<%= @field_values.present? ? @field_values["90ml/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                     <input class="input-sm check_value2" id="LLKZQROW92" name="LLKZQROW92" type="text" value="<%= @field_values.present? ? @field_values["90ml/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLKZQROW93" name="LLKZQROW93" type="text" value="<%= @field_values.present? ? @field_values["90ml/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                     <input class="input-sm check_value4" id="LLKZQROW94" name="LLKZQROW94" type="text" value="<%= @field_values.present? ? @field_values["90ml/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p align="center">10</p>
	                                </td>
	                                <td colspan="2">
	                                    <p align="center" class="list_name4"><%=  @titles["100ml/min"]  %></p>
	                                </td>
	                                <td colspan="3">
	                                     <input class="input-sm check_value1" id="LLKZQROW101" name="LLKZQROW101" type="text" value="<%= @field_values.present? ? @field_values["100ml/min_01_value_01"] : '' %>" ></td>
	                                <td>
	                                     <input class="input-sm check_value2" id="LLKZQROW102" name="LLKZQROW102" onchange="GetLeastSquar2();" type="text" value="<%= @field_values.present? ? @field_values["100ml/min_02_value_02"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <input class="input-sm check_value3" id="LLKZQROW103" name="LLKZQROW103" type="text" value="<%= @field_values.present? ? @field_values["100ml/min_03_value_03"] : '' %>" ></td>
	                                <td colspan="2">
	                                     <input class="input-sm check_value4" id="LLKZQROW104" name="LLKZQROW104" type="text" value="<%= @field_values.present? ? @field_values["100ml/min_04_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td>
	                                    <p class="list_name3"><%=  @titles["slope_b"]  %></p>
	                                </td>
	                                <td colspan="2">
	                                     <input class="input-sm" id="XLB2" name="XLB2" type="text" value="<%= @field_values.present? ? @field_values["0-100mL/min_flow_controller_ slope_b"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <p class="list_name3"><%=  @titles["intercept_a"]  %></p>
	                                </td>
	                                <td>
	                                   <input class="input-sm" id="JUA2" name="JUA2" type="text" value="<%= @field_values.present? ? @field_values["0-100mL/min_flow_controller_ intercept_a"] : '' %>" ></td>
	                                <td colspan="3">
	                                    <p class="list_name3"><%=  @titles["Correlation_coefficient_r"]  %></p>
	                                </td>
	                                <td colspan="2">
	                                     <input class="input-sm" id="XGXSR2" name="XGXSR2" type="text" value="<%= @field_values.present? ? @field_values["0-100mL/min_flow_controller_ correlation_coefficient_r"] : '' %>" ></td>
	                            </tr>
	                            
	                            <tr>
	                                <td colspan="12">
	                                    <p>要求：相关系数(r)&gt;0.999；0.99≤斜率(b)≤1.01；截距(a)&lt;    ±1%×满量程； </p>
	                                </td>
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>