<!--多气体动态校准仪校准检查记录表-->
	<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %>（每月）</span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
	<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"> <%=  @form_module.name  %>（每月）</h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="14">
	        							<table class="check-list-table">
										    <tbody>
										       <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
										                <input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" value="<%= @unit_name %>" title="" readonly="readonly" disabled="disabled" class="form-control">
									                </td>

							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td colspan="3"><p align="center" class="list_name"><%=  @titles["Instrument_model/number"]  %></p></td>
	                                <td colspan="11"><input class="input-sm unline" id="DEVICEMODEL" name="DEVICEMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Instrument_model/number"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td colspan="3"><p align="center" class="list_name"><%=  @titles["Air_pressure"]  %></p></td>
	                                <td colspan="2"><input class="input-sm" id="PRESSURE" name="PRESSURE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Air_pressure"] : '' %>" ></td>
	                                <td colspan="3"><p align="center" class="list_name"><%=  @titles["Temperature"]  %></p></td>
	                                <td colspan="2"><input class="input-sm" id="TEMPERATURE" name="TEMPERATURE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Temperature"] : '' %>" ></td>
	                                <td colspan="3"><p align="center" class="list_name"><%=  @titles["humidity"]  %></p></td>
	                                <td><input class="input-sm" id="HUMIDITY" name="HUMIDITY" type="text" validator="required" value="<%= @field_values.present? ? @field_values["humidity"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td colspan="3"><p align="center" class="list_name"><%=  @titles["Calibration_flowmeter_model"]  %></p></td>
	                                <td colspan="4">
	                                    
	                                     <textarea cols="20" id="CALIFLOWMODEL" name="CALIFLOWMODEL" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 95%;" ><%= @field_values.present? ? @field_values["Calibration_flowmeter_model"] : '' %></textarea>
	                                </td>
	                                <td colspan="5"><p align="center" class="list_name"><%=  @titles["Calibration_flowmeter_number"]  %></p></td>
	                                <td colspan="2">
	                                    
	                                     <textarea cols="20" id="CALIFLOWCODE" name="CALIFLOWCODE" rows="2" style="text-align: left;padding: 5px;min-height: 40px;min-width: 95%;" ><%= @field_values.present? ? @field_values["Calibration_flowmeter_number"] : '' %></textarea>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td colspan="14"><p align="center">校准检查结果 </p></td>
	                            </tr>
	                            <tr>
	                                <td colspan="14"><p align="center">0-10 L/min流量控制器 </p></td>
	                            </tr>
	                            <tr>
	                                <td colspan="2"><p align="center">序号 </p></td>
	                                <td colspan="2"><p align="center">设定值L </p></td>
	                                <td colspan="2"><p align="center">仪器读数L/min </p></td>
	                                <td colspan="3"><p align="center">流量计读数L/min </p></td>
	                                <td colspan="2">
	                                    <p align="center">
						                                        误差 <br>
						                                        （±1%）
	                                    </p>
	                                </td>
	                                <td colspan="3"><p align="center">流量计修正到标况下读数L/min(质量流量) </p></td>
	                            </tr>
	                            <tr>
	                                <td colspan="2"><p align="center">5</p></td>
	                                <td colspan="2"><p align="center" class="list_name2"><%=  @titles["5L/min"]  %></p></td>
	                                <td colspan="2"><input class="input-sm" id="FLOWDEVICEVALUE10L" name="FLOWDEVICEVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["5L/min_value_01"] : '' %>" ></td>
	                                <td colspan="3"><input class="input-sm" id="FLOWMETERVALUE10L" name="FLOWMETERVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["5L/min_value_02"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="FLOWERRORVALUE10L" name="FLOWERRORVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["5L/min_value_03"] : '' %>" ></td>
	                                <td colspan="3"><input class="input-sm" id="FLOWQUALITYVALUE10L" name="FLOWQUALITYVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["5L/min_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td colspan="14"><p align="center">0-100 ml/min流量控制器 </p></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">5</p></td>
	                                <td colspan="3"><p align="center" class="list_name2"><%=  @titles["50ml/min"]  %></p></td>
	                                <td colspan="2"><input class="input-sm" id="FLOWDEVICEVALUE100ML" name="FLOWDEVICEVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["50ml/min_01_value_01"] : '' %>" ></td>
	                                <td colspan="3"><input class="input-sm" id="FLOWMETERVALUE100ML" name="FLOWMETERVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["50ml/min_01_value_02"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm" id="FLOWERRORVALUE100ML" name="FLOWERRORVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["50ml/min_01_value_03"] : '' %>" ></td>
	                                <td colspan="3"><input class="input-sm" id="FLOWQUALITYVALUE100ML" name="FLOWQUALITYVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["50ml/min_01_value_04"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td colspan="14"><p align="left">备注：误差计算公式：（仪器读数-流量计修正读数）/流量计修正读数。 </p></td>
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
					<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>