<!--氮氧化物分析仪钼炉转化率记录表（每半年）-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="6">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
		                            <td><p align="center" class="list_name"><%=  @titles["Equipment_model/number"]  %></p></td>
		                            <td colspan="2"><input id="DEVICECODE" name="DEVICECODE" type="text" value="<%= @field_values.present? ? @field_values["Equipment_model/number"] : '' %>" ></td>
		                            <td><p align="center" class="list_name"><%=  @titles["check_time"]  %></p></td>
		                            <td colspan="2"> <input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["check_time"] : '' %>"></td>
		                        </tr>
		                        <tr>
		                            <td><p align="center">NO设置浓度 </p></td>
		                            <td>
		                                <p align="center">
						                                    校准仪中O3<br>
						                                    开/关
		                                </p>
		                            </td>
		                            <td>
		                                <p align="center">
		                                    	氮氧化物分析仪 <br>
		                                   	 读数（ppb）
		                                </p>
		                            </td>
		                            <td><p align="center">第一次</p></td>
		                            <td><p align="center">第二次 </p></td>
		                            <td><p align="center">第三次 </p></td>
		                        </tr>
		                        <tr>
		                            <td rowspan="5"><p align="center">满量程80%</p></td>
		                            <td rowspan="2"><p align="center">关 </p></td>
		                            <td><p align="center" class="list_name2"><%=  @titles["[NO]orig"]  %></p></td>
		                            <td><input id="ORIGROW11" class="check_value1" name="ORIGROW11" type="text" value="<%= @field_values.present? ? @field_values["[NO]orig_value_01"] : '' %>" ></td>
		                            <td><input id="ORIGROW12" class="check_value2" name="ORIGROW12" type="text" value="<%= @field_values.present? ? @field_values["[NO]orig_value_02"] : '' %>" ></td>
		                            <td><input id="ORIGROW13" class="check_value3" name="ORIGROW13" type="text" value="<%= @field_values.present? ? @field_values["[NO]orig_value_03"] : '' %>" ></td>
		                        </tr>
		                        <tr>
		                            <td><p align="center" class="list_name2"><%=  @titles["[NOx]orig"]  %></p></td>
		                           <td><input id="ORIGROW21" class="check_value1" name="ORIGROW21" type="text" value="<%= @field_values.present? ? @field_values["[NOx]orig_value_01"] : '' %>" ></td>
		                            <td><input id="ORIGROW22" class="check_value2" name="ORIGROW22" type="text" value="<%= @field_values.present? ? @field_values["[NOx]orig_value_02"] : '' %>" ></td>
		                            <td><input id="ORIGROW23" class="check_value3" name="ORIGROW23" type="text" value="<%= @field_values.present? ? @field_values["[NOx]orig_value_03"] : '' %>" ></td>
		                        </tr>
		                        <tr>
		                            <td rowspan="2"><p align="center">开 </p></td>
		                            <td><p align="center" class="list_name2"><%=  @titles["[NO]rem"]  %></p></td>
		                            <td><input id="REMROW11" class="check_value1" name="REMROW11" type="text" value="<%= @field_values.present? ? @field_values["[NO]rem_value_01"] : '' %>" ></td>
		                            <td><input id="REMROW12" class="check_value2" name="REMROW12" type="text" value="<%= @field_values.present? ? @field_values["[NO]rem_value_02"] : '' %>" ></td>
		                            <td><input id="REMROW13" class="check_value3" name="REMROW13" type="text" value="<%= @field_values.present? ? @field_values["[NO]rem_value_03"] : '' %>" ></td>
		                        </tr>
		                        <tr>
		                            <td><p align="center" class="list_name2"><%=  @titles["[NOx]rem"]  %></p></td>
		                             <td><input id="REMROW21" class="check_value1" name="REMROW21" type="text" value="<%= @field_values.present? ? @field_values["[NOx]rem_value_01"] : '' %>" ></td>
		                            <td><input id="REMROW22" class="check_value2" name="REMROW22" type="text" value="<%= @field_values.present? ? @field_values["[NOx]rem_value_02"] : '' %>" ></td>
		                            <td><input id="REMROW23" class="check_value3" name="REMROW23" type="text" value="<%= @field_values.present? ? @field_values["[NOx]rem_value_03"] : '' %>" ></td>
		                        </tr>
		                        <tr>
		                            <td colspan="2"><p align="center" class="list_name2"><%=  @titles["Conversion_rate"]  %></p></td>
		                             <td><input id="ZHXL1" class="check_value1" name="ZHXL1" type="text" value="<%= @field_values.present? ? @field_values["Conversion_rate_value_01"] : '' %>" ></td>
		                            <td><input id="ZHXL2" class="check_value2" name="ZHXL2" type="text" value="<%= @field_values.present? ? @field_values["Conversion_rate_value_02"] : '' %>" ></td>
		                            <td><input id="ZHXL3" class="check_value3" name="ZHXL3" type="text" value="<%= @field_values.present? ? @field_values["Conversion_rate_value_03"] : '' %>" ></td>
		                        </tr>
		                        <tr>
		                            <td colspan="3"><p align="center" class="list_name"><%=  @titles["Average_conversion_efficiency"]  %></p></td>
		                            <td colspan="3"><input id="BJZH" name="BJZH" type="text" value="<%= @field_values.present? ? @field_values["Average_conversion_efficiency"] : '' %>" ></td>
		                        </tr>
		                        <tr>
		                            <td colspan="6"><p align="center">转换效率=    {([NOx]rem - [NO]rem)-( [NOx]orig - [NO]orig)}/([NO]orig - [NO]rem) x 100%</p></td>
		                        </tr>
		                        <tr>
		                            <td colspan="6"><p align="center">平均转换效率 = (    X+Y+Z ) / 3</p></td>
		                        </tr>
		                        <tr>
		                            <td colspan="6"><p align="center">注：1. 如果平均转化效率 &lt; 96 %,分析仪需运回实验室 </p></td>
		                        </tr>
		                        <tr>
		                        	<td><p class="list_name"><%=  @titles["The_results_evaluation"]  %></p></td>
		                            <td colspan="5"><textarea class="form-control" cols="20" id="REMARK" name="REMARK" rows="2" style="width:80%" ><%= @field_values.present? ? @field_values["The_results_evaluation"] : '' %></textarea></td>
		                        </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>