<!-- 氮氧化物监测仪器校准数据报告 -->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table check-list-table">
                            <tbody>
                                
                                <tr>
                                    <td style="width: 100px; text-align: right">
                                        <%=  @titles["Monitor_type"] %>：
                                    </td>
                                    <td style="width:200px;">
                                        
                                        <input class="width-150" id="DeviceModel" name="DeviceModel" type="text" validator="required" value="<%= @field_values.present? ? @field_values["DeviceModel"] : '' %>">
                                    </td>
                                    <td style="width: 75px; text-align: right">
                                       <%=  @titles["Serial_number"] %>：
                                    </td>
                                    <td>
                                        
                                        <input class="width-150" id="DeviceNumber" name="DeviceNumber" type="text" validator="required" value="<%= @field_values.present? ? @field_values["DeviceNumber"] : '' %>">
                                    </td>
                                </tr>
                                                                
                                <tr>
                                    <td style="text-align:right">
                                        <%=  @titles["Type_of_calibration_instrument"] %>：
                                    </td>
                                    <td>
                                        
                                        <input id="CalibrationModel" name="CalibrationModel" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CalibrationModel"] : '' %>" >
                                    </td>
                                    <td style="text-align:right">
                                       <%=  @titles["Serial_number"] %>：
                                    </td>
                                    <td>
                                        
                                        <input id="CalibrationNumber" name="CalibrationNumber" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CalibrationNumber"] : '' %>" >
                                    </td>
                                </tr>
                                    <tr>
                                        <td>
                                           <%=  @titles["NO2/N2_standard_gas_cylinder_number"] %>：
                                        </td>
                                        <td colspan="3">
                                            
                                            <input id="BottleNumber" name="BottleNumber" type="text" validator="required" value="<%= @field_values.present? ? @field_values["BottleNumber"] : '' %>" >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:right">
                                           <%=  @titles["NO2_nominal_concentration"] %>：
                                        </td>
                                        <td>
                                            
                                            <input id="StatusConcentration" name="StatusConcentration" type="text" validator="required" value="<%= @field_values.present? ? @field_values["StatusConcentration"] : '' %>">
                                            （×10<sup>-6</sup> mol/mol）
                                        </td>
                                        <td style="text-align:right">
                                            <%=  @titles["NO2/N2_standard_gas_cylinder_expiration_date"] %>：
                                        </td>
                                        <td>
                                            
                                            <input type="text" name="GasExpiryTime" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["GasExpiryTime"] : '' %>">  
                                        </td>
                                    </tr>


                                <tr>
                                    <td colspan="4">
                                        校准结果合格标准： 斜率在0.99-1.01之间；截距小于满量程浓度值的±1%；相关系数大于0.999；NO<sub>2</sub>→NO转化率大于96%。
                                    </td>
                                </tr>
                            </tbody>
                        </table>
	        		</div>
	        		
	        		<div class="check-list-content">
	        			<h3 class="check-second-title">仪器参数</h3>
	        			<table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td><%=  @titles["NO_BKG"] %></td>
                                    <td>
                                        <input class="width-150" id="NO_BKG" name="NO_BKG" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NO_BKG"] : '' %>"><span>（×10<sup>-9</sup>mol/mol）</span>
                                    </td>
                                    <td><%=  @titles["PMT_SUPPLY"] %></td>
                                    <td>
                                        <input class="width-150" id="PMT_SUPPLY" name="PMT_SUPPLY" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["PMT_SUPPLY"] : '' %>" ><span>V</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["NOx_BKG"] %></td>
                                    <td>
                                        <input class="width-150" id="NOx_BKG" name="NOx_BKG" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOx_BKG"] : '' %>" ><span>×10<sup>-9</sup>mol/mol</span>
                                    </td>
                                    <td><%=  @titles["INTERNAL"] %></td>
                                    <td>
                                        <input class="width-150" id="INTERNAL" name="INTERNAL" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["INTERNAL"] : '' %>"><span>℃</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["NO_COEF"] %>NO COEF</td>
                                    <td>
                                        <input class="width-150" id="NO_COEF" name="NO_COEF" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NO_COEF"] : '' %>"><span></span>
                                    </td>
                                    <td><%=  @titles["CHAMBER"] %>CHAMBER</td>
                                    <td>
                                        <input class="width-150" id="CHAMBER" name="CHAMBER" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["CHAMBER"] : '' %>" ><span>℃</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["NOx_COEF"] %></td>
                                    <td>
                                        <input class="width-150" id="NOx_COEF" name="NOx_COEF" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOx_COEF"] : '' %>" ><span></span>
                                    </td>
                                    <td><%=  @titles["COOLER"] %></td>
                                    <td>
                                        <input class="width-150" id="COOLER" name="COOLER" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["COOLER"] : '' %>"><span>℃</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["NO2 COEF"] %></td>
                                    <td>
                                        <input class="width-150" id="NO2_COEF" name="NO2_COEF" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NO2_COEF"] : '' %>" ><span></span>
                                    </td>
                                    <td><%=  @titles["CONVERTER"] %></td>
                                    <td>
                                        <input class="width-150" id="CONVERTER" name="CONVERTER" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["CONVERTER"] : '' %>" ><span>℃</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["AVG_TIME"] %></td>
                                    <td>
                                        <input class="width-150" id="AVG_TIME" name="AVG_TIME" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["AVG_TIME"] : '' %>" ><span>s</span>
                                    </td>
                                    <td><%=  @titles["F.SAMPLE"] %></td>
                                    <td>
                                        <input class="width-150" id="F_SAMPLE" name="F_SAMPLE" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["F_SAMPLE"] : '' %>" ><span>l/min</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>PRESSURE</td>
                                    <td>
                                        <input class="width-150" id="PRESSURE" name="PRESSURE" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["PRESSURE"] : '' %>" ><span>（×133.32Pa）</span>
                                    </td>
                                    <td><%=  @titles["F.OZONATOR"] %></td>
                                    <td>
                                        <input class="width-150" id="F_OZONATOR" name="F_OZONATOR" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["F_OZONATOR"] : '' %>"><span></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">转换效率审核</h3>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td rowspan="2">审核点配气浓度（×10 <sup>-9</sup>mol/mol）</td>
                                    <td colspan="3">输出浓度（×10<sup>-9</sup>mol/mol）</td>
                                </tr>
                                <tr>
                                    <td>NO</td>
                                    <td>NO<sub>2</sub></td>
                                    <td>NOx</td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["NO_for_375ppb"] %></td>
                                    <td> <input class="width-150" id="NOFirstOutput" name="NOFirstOutput" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOFirstOutput"] : '' %>" ></td>
                                    <td> <input class="width-150" id="NO2FirstOutput" name="NO2FirstOutput" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NO2FirstOutput"] : '' %>" ></td>
                                    <td> <input class="width-150" id="NOxFirstOutput" name="NOxFirstOutput" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOxFirstOutput"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["Add_about_300ppb_O3"] %></td>
                                    <td> <input class="width-150" id="NOSecondOutput" name="NOSecondOutput" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOSecondOutput"] : '' %>"></td>
                                    <td> <input class="width-150" id="NO2SecondOutput" name="NO2SecondOutput" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NO2SecondOutput"] : '' %>" ></td>
                                    <td> <input class="width-150" id="NOxSecondOutput" name="NOxSecondOutput" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOxSecondOutput"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["NO2_NO_conversion_rate"] %></td>
                                    <td> <input class="width-150" id="NOThirdOutput" name="NOThirdOutput" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOThirdOutput"] : '' %>" ></td>
                                    <td> <input class="width-150" id="NO2ThirdOutput" name="NO2ThirdOutput" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NO2ThirdOutput"] : '' %>" ></td>
                                    <td> <input class="width-150" id="NOxThirdOutput" name="NOxThirdOutput" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOxThirdOutput"] : '' %>" ></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">校准记录</h3>
                        <table class="table table-bordered cal-record">
                            <tbody>
                                <tr>
                                    <td rowspan="2"><%=  @titles["Calibration_point"] %></td>
                                    <td rowspan="2">配气浓度（×10<sup>-9</sup> mol/mol）</td>
                                    <td colspan="3">输出浓度（×10<sup>-9</sup> mol/mol）</td>
                                </tr>
                                <tr>
                                    <td>NO</td>
                                    <td>NO2</td>
                                    <td>NOx</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><input class="width-150" id="StatusGasFirst" name="StatusGasFirst" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasFirst"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOFirst" name="OutputNOFirst" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOFirst"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNO2First" name="OutputNO2First" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNO2First"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOxFirst" name="OutputNOxFirst" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOxFirst"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><input class="width-150" id="StatusGasSecond" name="StatusGasSecond" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasSecond"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOSecond" name="OutputNOSecond" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOSecond"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNO2Second" name="OutputNO2Second" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNO2Second"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOxSecond" name="OutputNOxSecond" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOxSecond"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><input class="width-150" id="StatusGasThird" name="StatusGasThird" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasThird"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOThird" name="OutputNOThird" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOThird"] : '' %>"></td>
                                    <td><input class="width-150" id="OutputNO2Third" name="OutputNO2Third" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNO2Third"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOxThird" name="OutputNOxThird" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOxThird"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><input class="width-150" id="StatusGasFourth" name="StatusGasFourth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasFourth"] : '' %>"></td>
                                    <td><input class="width-150" id="OutputNOFourth" name="OutputNOFourth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOFourth"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNO2Fourth" name="OutputNO2Fourth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNO2Fourth"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOxFourth" name="OutputNOxFourth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOxFourth"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><input class="width-150" id="StatusGasFifth" name="StatusGasFifth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasFifth"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOFifth" name="OutputNOFifth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOFifth"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNO2Fifth" name="OutputNO2Fifth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNO2Fifth"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOxFifth" name="OutputNOxFifth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOxFifth"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td><input class="width-150" id="StatusGasSixth" name="StatusGasSixth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasSixth"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOSixth" name="OutputNOSixth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOSixth"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNO2Sixth" name="OutputNO2Sixth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNO2Sixth"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOxSixth" name="OutputNOxSixth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOxSixth"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td><input class="width-150" id="StatusGasSeventh" name="StatusGasSeventh" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasSeventh"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOSeventh" name="OutputNOSeventh" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOSeventh"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNO2Seventh" name="OutputNO2Seventh" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNO2Seventh"] : '' %>" ></td>
                                    <td><input class="width-150" id="OutputNOxSeventh" name="OutputNOxSeventh" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["OutputNOxSeventh"] : '' %>"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">校准结果</h3>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>NO</td>
                                    <td>NOx</td>
                                </tr>
                                <tr>
                                    <td>
                                        <%=  @titles["Slope"] %>：
                                    </td>
                                    <td>
                                        <input class="width-150" id="NOSlopeValue" name="NOSlopeValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOSlopeValue"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="NOxSlopeValue" name="NOxSlopeValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOxSlopeValue"] : '' %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%=  @titles["Intercept"] %>：
                                    </td>
                                    <td>
                                        <input class="width-150" id="NOInterceptValue" name="NOInterceptValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOInterceptValue"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="NOxInterceptValue" name="NOxInterceptValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOxInterceptValue"] : '' %>" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%=  @titles["Correlation_coefficient"] %>：
                                    </td>
                                    <td>
                                        <input class="width-150" id="NOCorrelationCofficientValue" name="NOCorrelationCofficientValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOCorrelationCofficientValue"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="NOxCorrelationCofficientValue" name="NOxCorrelationCofficientValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["NOxCorrelationCofficientValue"] : '' %>" >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["Operation_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" value="<%=@handle_man %>" validator="required" original-title=""></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["Check_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@calibs_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["date"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@calibs_time %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>