<!--臭氧监测仪器校准数据报告 -->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table check-list-table">
                            <tbody>
                                
                                <tr>
                                    <td style="width: 100px; text-align: right">
                                       <%=  @titles["Monitor_type"] %>：
                                    </td>
                                    <td style="width:200px;">
                                        
                                        <input class="width-150" id="DeviceModel" name="DeviceModel" type="text" validator="required" value="<%= @field_values.present? ? @field_values["DeviceModel"] : '' %>">
                                    </td>
                                    <td style="width: 75px; text-align: right">
                                       <%=  @titles["Serial_number"] %>：
                                    </td>
                                    <td>
                                        
                                        <input class="width-150" id="DeviceNumber" name="DeviceNumber" type="text" validator="required" value="<%= @field_values.present? ? @field_values["DeviceNumber"] : '' %>" >
                                    </td>
                                </tr>
                                                                
                                <tr>
                                    <td style="text-align:right">
                                       <%=  @titles["Type_of_calibration_instrument"] %>：
                                    </td>
                                    <td>
                                        
                                        <input id="CalibrationModel" name="CalibrationModel" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CalibrationModel"] : '' %>" >
                                    </td>
                                    <td style="text-align:right">
                                        <%=  @titles["Serial_number"] %>：
                                    </td>
                                    <td>
                                        
                                        <input id="CalibrationNumber" name="CalibrationNumber" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CalibrationNumber"] : '' %>">
                                    </td>
                                </tr>
                                    <tr>
                                        <td style="text-align:right">
                                           <%=  @titles["Calibration_instrument"] %>：
                                        </td>
                                        <td colspan="3">
                                            
                                            <input type="text" name="GasExpiryTime" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["GasExpiryTime"] : '' %>">  
                                        </td>
                                    </tr>


                                <tr>
                                    <td colspan="4">
                                        校准结果合格标准： 斜率在0.99-1.01之间；截距小于满量程浓度值的±1%；相关系数大于0.999。
                                    </td>
                                </tr>
                            </tbody>
                        </table>
	        		</div>
	        		
	        		<div class="check-list-content">
	        			<h3 class="check-second-title">仪器参数</h3>
	        			<table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td>AVG TIME</td>
                                    <td>
                                        <input class="width-150" id="AVG_TIME" name="AVG_TIME" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["AVG_TIME"] : '' %>"><span>s</span>
                                    </td>
                                    <td>PRESSURE</td>
                                    <td>
                                        <input class="width-150" id="PRESSURE" name="PRESSURE" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["PRESSURE"] : '' %>"> <span>(×133.32Pa)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["O3_BKG"] %></td>
                                    <td>
                                        <input class="width-150" id="O3_BKG" name="O3_BKG" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["O3_BKG"] : '' %>"> <span>×10<sup>-9</sup>mol/mol</span>
                                    </td>
                                    <td><%=  @titles["Flow_A"] %></td>
                                    <td>
                                        <input class="width-150" id="FLOW_A" name="FLOW_A" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["FLOW_A"] : '' %>"> <span>l/min</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["O3_COEF"] %></td>
                                    <td>
                                        <input class="width-150" id="O3_COEF" name="O3_COEF" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["O3_COEF"] : '' %>" ><span></span>
                                    </td>
                                    <td><%=  @titles["Flow_B"] %></td>
                                    <td>
                                        <input class="width-150" id="FLOW_B" name="FLOW_B" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["FLOW_B"] : '' %>"><span>l/min</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["BENCH"] %></td>
                                    <td>
                                        <input class="width-150" id="BENCH" name="BENCH" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["BENCH"] : '' %>" ><span>℃</span>
                                    </td>
                                    <td><%=  @titles["INTENSITY(CELL A)"] %></td>
                                    <td>
                                        <input class="width-150" id="INTENSITY_CELL_A" name="INTENSITY_CELL_A" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["INTENSITY_CELL_A"] : '' %>" ><span>kHz</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["LAMP"] %>LAMP</td>
                                    <td>
                                        <input class="width-150" id="LAMP" name="LAMP" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["LAMP"] : '' %>" ><span>℃</span>
                                    </td>
                                    <td><%=  @titles["INTENSITY(CELL B)"] %></td>
                                    <td>
                                        <input class="width-150" id="INTENSITY_CELL_B" name="INTENSITY_CELL_B" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["INTENSITY_CELL_B"] : '' %>"><span>kHz</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title"><%=  @titles["Calibration_records"] %></h3>
                        <table class="table table-bordered cal-record">
                            <tbody>
                                <tr>
                                    <td>序号</td>
                                    <td>配气浓度（×10<sup>-9</sup> mol/mol）</td>
                                    <td>显示浓度（×10<sup>-9</sup> mol/mol）</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <input class="width-150" id="StatusGasFirst" name="StatusGasFirst" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasFirst"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasFirst" name="ShowGasFirst" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasFirst"] : '' %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <input class="width-150" id="StatusGasSecond" name="StatusGasSecond" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasSecond"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasSecond" name="ShowGasSecond" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasSecond"] : '' %>" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <input class="width-150" id="StatusGasThird" name="StatusGasThird" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasThird"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasThird" name="ShowGasThird" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasThird"] : '' %>" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <input class="width-150" id="StatusGasFourth" name="StatusGasFourth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasFourth"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasFourth" name="ShowGasFourth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasFourth"] : '' %>" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <input class="width-150" id="StatusGasFifth" name="StatusGasFifth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasFifth"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasFifth" name="ShowGasFifth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasFifth"] : '' %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        <input class="width-150" id="StatusGasSixth" name="StatusGasSixth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasSixth"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasSixth" name="ShowGasSixth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasSixth"] : '' %>" >
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">校准结果</h3>
                        <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                    <td>
                                        斜率：
                                        <input class="width-150" id="SlopeValue" name="SlopeValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["SlopeValue"] : '' %>" >
                                    </td>
                                    <td>
                                        截距：
                                        <input class="width-150" id="InterceptValue" name="InterceptValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["InterceptValue"] : '' %>" >
                                    </td>
                                    <td>
                                        相关系数：
                                        <input class="width-150" id="CorrelationCofficientValue" name="CorrelationCofficientValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["CorrelationCofficientValue"] : '' %>">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["Operation_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" value="<%=@handle_man %>" validator="required" original-title=""></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["Check_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@calibs_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["date"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@calibs_time %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>