<!-- 臭氧（O3）校准仪（工作标准）量值传递记录表 -->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered" border="1">
	        				<tbody>
	        					<tr>
	        						<td colspan="8">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td>
	                                    <p class="list_name"><%=  @titles["Ozone_calibration_equipment_ model_number"]  %></p>
	                                </td>
	                                <td colspan="3"><input id="DEVICECALIBRATIONMODEL" name="DEVICECALIBRATIONMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Ozone_calibration_equipment_ model_number"] : '' %>"></td>
	                                <td colspan="2"><p align="center" class="list_name"><%=  @titles["Delivery_date"]  %></p></td>
	                                <td colspan="2"><input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["Delivery_date"] : '' %>"></td>
	                            </tr>
	                           <tr>
                                    <td rowspan="2">
                                        <p class="list_name"><%=  @titles["Ozone_transfer_standard_model_number"]  %></p>
                                    </td>
                                    <td colspan="3" rowspan="2"><input id="DEVICEDELIVERMODEL" name="DEVICEDELIVERMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Ozone_transfer_standard_model_number"] : '' %>" ></td>
                                    <td colspan="2"><p align="center" class="list_name"><%=  @titles["Pass_standard_traceability_date"]  %></p></td>
                                    <td colspan="2"><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= @field_values.present? ? @field_values["Pass_standard_traceability_date"] : '' %>"></td>
                                </tr> 
                                <tr>
                                    <td colspan="2"><p align="center" class="list_name"><%=  @titles["Pass_standard_traceability_equation"]  %></p></td>
                                    <td colspan="2"><input id="DELIVERFC" name="DELIVERFC" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Pass_standard_traceability_equation"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["Model_serial_number_ozone_monitoring_instrument"]  %></p></td>
                                    <td colspan="7">
                                        <input id="DEVICEDELIVERTOMODEL" name="DEVICEDELIVERTOMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Model_serial_number_ozone_monitoring_instrument"] : '' %>" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><p>校准点 </p></td>
                                    <td><p align="center">传递标准输出浓度 </p></td>
                                    <td>
                                        <p align="center">
                                            传递用监 <br>
                                            测仪示值
                                        </p>
                                    </td>
                                    <td colspan="2"><p align="center">工作标准输出浓度 </p></td>
                                    <td colspan="2"><p align="center">传递用监测仪示值 </p></td>
                                    <td><p align="center">传递用监测仪示值对应的标准值 </p></td>
                                </tr>
                                <tr>
                                    <td><p class="list_name2"><%=  @titles["zero"]  %></p></td>
                                    <td><input class="input-sm" id="DENSITY1VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["zero_value_01"] : '' %>" ></td>
                                    <td><input class="input-sm" id="DELIVER1VALUE" name="DELIVERVALUE" type="text" value="<%= @field_values.present? ? @field_values["zero_value_02"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="WORKDENSITY1VALUE" name="WORKDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["zero_value_03"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="DELIVERFROM1VALUE" name="DELIVERFROMVALUE" type="text" value="<%= @field_values.present? ? @field_values["zero_value_04"] : '' %>"></td>
                                    <td><input class="input-sm" id="DELIVERTO1VALUE" name="DELIVERTOVALUE" type="text" value="<%= @field_values.present? ? @field_values["zero_value_05"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td><p class="list_name2"><%=  @titles["percent_flow_10"]  %></p></td>
                                    <td><input class="input-sm" id="DENSITY2VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_10_value_01"] : '' %>" ></td>
                                    <td><input class="input-sm" id="DELIVER2VALUE" name="DELIVERVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_10_value_02"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="WORKDENSITY2VALUE" name="WORKDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_10_value_03"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="DELIVERFROM2VALUE" name="DELIVERFROMVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_10_value_04"] : '' %>" ></td>
                                    <td><input class="input-sm" id="DELIVERTO2VALUE" name="DELIVERTOVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_10_value_05"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td><p class="list_name2"><%=  @titles["percent_flow_20"]  %></p></td>
                                    <td><input class="input-sm" id="DENSITY3VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_20_value_01"] : '' %>" ></td>
                                    <td><input class="input-sm" id="DELIVER3VALUE" name="DELIVERVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_20_value_02"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="WORKDENSITY3VALUE" name="WORKDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_20_value_03"] : '' %>"></td>
                                    <td colspan="2"><input class="input-sm" id="DELIVERFROM3VALUE" name="DELIVERFROMVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_20_value_04"] : '' %>" ></td>
                                    <td><input class="input-sm" id="DELIVERTO3VALUE" name="DELIVERTOVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_20_value_05"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td><p class="list_name2"><%=  @titles["percent_flow_40"]  %></p></td>
                                    <td><input class="input-sm" id="DENSITY4VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_40_value_01"] : '' %>"></td>
                                    <td><input class="input-sm" id="DELIVER4VALUE" name="DELIVERVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_40_value_02"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="WORKDENSITY4VALUE" name="WORKDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_40_value_03"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="DELIVERFROM4VALUE" name="DELIVERFROMVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_40_value_04"] : '' %>" ></td>
                                    <td><input class="input-sm" id="DELIVERTO4VALUE" name="DELIVERTOVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_40_value_05"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td valign="top"><p class="list_name2"><%=  @titles["percent_flow_60"]  %></p></td>
                                    <td><input class="input-sm" id="DENSITY5VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_60_value_01"] : '' %>" ></td>
                                    <td><input class="input-sm" id="DELIVER5VALUE" name="DELIVERVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_60_value_02"] : '' %>"></td>
                                    <td colspan="2"><input class="input-sm" id="WORKDENSITY5VALUE" name="WORKDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_60_value_03"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="DELIVERFROM5VALUE" name="DELIVERFROMVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_60_value_04"] : '' %>" ></td>
                                    <td><input class="input-sm" id="DELIVERTO5VALUE" name="DELIVERTOVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_60_value_05"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td valign="top"><p class="list_name2"><%=  @titles["percent_flow_80"]  %></p></td>
                                    <td><input class="input-sm" id="DENSITY6VALUE" name="DENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_01"] : '' %>" ></td>
                                    <td><input class="input-sm" id="DELIVER6VALUE" name="DELIVERVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_02"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="WORKDENSITY6VALUE" name="WORKDENSITYVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_03"] : '' %>" ></td>
                                    <td colspan="2"><input class="input-sm" id="DELIVERFROM6VALUE" name="DELIVERFROMVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_04"] : '' %>" ></td>
                                    <td><input class="input-sm" id="DELIVERTO6VALUE" name="DELIVERTOVALUE" type="text" value="<%= @field_values.present? ? @field_values["percent_flow_80_value_05"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td><p>&nbsp;</p></td>
                                    <td><p>&nbsp;</p></td>
                                    <td><p>&nbsp;</p></td>
                                    <td colspan="2"><p>&nbsp;</p></td>
                                    <td colspan="2"><p>&nbsp;</p></td>
                                    <td><p>&nbsp;</p></td>
                                </tr>
                                <tr>
                                    <td><p class="calibration_curve"><%=  @titles["The_calibration_curve"]  %></p></td>
                                    <td colspan="7"><p align="center">Y =a +bx,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a= <input class="" id="AVALUE" name="AVALUE" type="text" value="<%= @field_values.present? ? @field_values["The_calibration_curve_value_01"] : '' %>" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b=&nbsp;<input class="" id="BVALUE" name="BVALUE" type="text" value="<%= @field_values.present? ? @field_values["The_calibration_curve_value_02"] : '' %>" >&nbsp;&nbsp;&nbsp;&nbsp;    r= <input class="" id="RVALUE" name="RVALUE" type="text" value="<%= @field_values.present? ? @field_values["The_calibration_curve_value_03"] : '' %>">　 </p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="list_name"><%=  @titles["checked_result"]  %></p>
                                    </td>
                                    <td colspan="7"><input id="ISOK" name="ISOK" type="text" validator="required" value="<%= @field_values.present? ? @field_values["checked_result"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td colspan="8"><p align="center">要求：相关系数(r)≧0.999；0.97≤斜率(b)≤1.03；截距(a)&lt; ±1%×满量程； </p></td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["note"]  %></p></td>
                                    <td colspan="7"><textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98.6%;"><%= @field_values.present? ? @field_values["note"] : '' %></textarea></td>
                                </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>