<!--长光程(SO2,NO2,O3)分析仪器运行状况检查记录表-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %>（每周）</span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %>（每周）</h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="6">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
	        					<tr>
	                                <td width="208" colspan="2">
	                                    <p class="list_name"><%=  @titles["instrument_model"]  %></p>
	                                </td>
	                                <td width="170" colspan="2"><input id="DEVICEMODEL" name="DEVICEMODEL" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["instrument_model"] : '' %>"></td>
	                                <td width="114">
	                                    <p align="center" class="list_name"><%=  @titles["check_date"]  %></p>
	                                </td>
	                                <td width="117"><input type="text" class="dateTimepicker create_datetime form-control" value="<%= @field_values.present? ? @field_values["check_date"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td width="208" colspan="2">
	                                    <p class="list_name"><%=  @titles["instrument_code"]  %></p>
	                                </td>
	                                <td width="401" colspan="4">
	                                    <input id="DEVICECODE" name="DEVICECODE" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["instrument_code"] : '' %>">
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="208" colspan="2">
	                                    <p>检 查 项 目 </p>
	                                </td>
	                                <td width="170" colspan="2">
	                                    <p align="center">正常范围 </p>
	                                </td>
	                                <td width="114">
	                                    <p align="center">检查值 </p>
	                                </td>
	                                <td width="117">
	                                    <p>异常时处理记录 </p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="208" colspan="2">
	                                    <p class="list_name2"><%=  @titles["light_intensity"]  %></p>
	                                </td>
	                                <td width="170" colspan="2">
	                                    <p align="center">&gt;30000 </p>
	                                </td>
	                                <td width="114" valign="top"><input id="LIGHTINTENSITYVALUE" class="listValue01" name="LIGHTINTENSITYVALUE" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["light_intensity_value_01"] : '' %>"></td>
	                                <td width="117" valign="top"><input id="LIGHTINTENSITYSITUATION" class="listValue02" name="LIGHTINTENSITYSITUATION" style="width:130px" type="text" value="<%= @field_values.present? ? @field_values["light_intensity_value_02"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td width="208" colspan="2" rowspan="3">
	                                    <p>OPSIS设备系统检查（仪器功能检查）“System Check” </p>
	                                </td>
	                                <td width="170" colspan="2">
	                                    <p align="center">检查内容 </p>
	                                </td>
	                                <td width="114" valign="top">
	                                    <p align="center">
	                                        	是否通过
	                                        <br>
	                                        “OK”
	                                    </p>
	                                </td>
	                                <td width="117" valign="top">
	                                    <p align="center">异常时处理记录 </p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="170" colspan="2">
	                                    <p align="center" class="list_name2"><%=  @titles["sampling"]  %></p>
	                                </td>
	                                <td width="114" valign="top"><input id="SPECTRUMCHECK" class="listValue01" name="SPECTRUMCHECK" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["sampling_value_01"] : '' %>"></td>
	                                <td width="117" valign="top"><input id="SPECTRUMSITUATION" class="listValue02" name="SPECTRUMSITUATION" style="width:130px" type="text" value="<%= @field_values.present? ? @field_values["sampling_value_02"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td width="170" colspan="2">
	                                    <p align="center" class="list_name2"><%=  @titles["accuracy"]  %></p>
	                                </td>
	                                <td width="114" valign="top"><input id="GRATINGCHECK" class="listValue01" name="GRATINGCHECK" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["accuracy_value_01"] : '' %>" ></td>
	                                <td width="117" valign="top"><input id="GRATINGSITUATION" class="listValue02" name="GRATINGSITUATION" style="width:130px" type="text" value="<%= @field_values.present? ? @field_values["accuracy_value_02"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td width="208" colspan="2" rowspan="2">
	                                    <p>&nbsp;</p>
	                                </td>
	                                <td width="94" rowspan="2">
	                                    <p align="center">开始时间 </p>
	                                </td>
	                                <td width="76" rowspan="2">
	                                    <p align="center">结束时间 </p>
	                                </td>
	                                <td width="114">
	                                    <p align="center">显示值 </p>
	                                </td>
	                                <td width="117">
	                                    <p align="center">标定值 </p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="114">
	                                    <p align="center">响应浓度 </p>
	                                </td>
	                                <td width="117">
	                                    <p align="center">响应浓度 </p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="113" rowspan="3">
	                                    <p>蓝盾设备零点校准 </p>
	                                </td>
	                                <td width="94">
	                                    <p align="center" class="list_name3"><%=  @titles["SO2"]  %></p>
	                                </td>
	                                <td><input type="text" class="dateTimepickerH start_time" name="starttimeSO2" value="<%= @field_values.present? ? @field_values["SO2_value_01"] : '' %>"></td>
	                                <td><input type="text" class="dateTimepickerH end_time" name="endtimeSO2" value="<%= @field_values.present? ? @field_values["SO2_value_02"] : '' %>"></td>
	                                <td width="114"><input id="DISPLAYVALUESO2" name="DISPLAYVALUESO2" readonly="True" style="width:130px" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                                <td width="117"><input id="CALIBRATIONVALUESO2" name="calibrated_value" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["SO2_value_03"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td width="94">
	                                    <p align="center" class="list_name3"><%=  @titles["NO2"]  %></p>
	                                </td>
	                                <td><input type="text" class="dateTimepickerH start_time" name="starttimeNO2" value="<%= @field_values.present? ? @field_values["NO2_value_01"] : '' %>"></td>
	                                <td><input type="text" class="dateTimepickerH end_time" name="endtimeNO2" value="<%= @field_values.present? ? @field_values["NO2_value_02"] : '' %>"></td>
	                                <td width="114"><input id="DISPLAYVALUENO2" name="DISPLAYVALUENO2" readonly="True" style="width:130px" title="自动计算,不用填写" type="text" value="" disabled="disabled"></td>
	                                <td width="117"><input id="CALIBRATIONVALUENO2" name="calibrated_value" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["NO2_value_03"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td width="94">
	                                    <p align="center" class="list_name3"><%=  @titles["O3"]  %></p>
	                                </td>
	                                <td><input type="text" class="dateTimepickerH start_time" name="starttimeO3" value="<%= @field_values.present? ? @field_values["O3_value_01"] : '' %>"></td>
	                                <td><input type="text" class="dateTimepickerH end_time" name="endtimeO3" value="<%= @field_values.present? ? @field_values["O3_value_02"] : '' %>"></td>
	                                <td width="114"><input id="DISPLAYVALUEO3" name="DISPLAYVALUEO3" readonly="True" style="width:130px" title="自动计算,不用填写" type="text" value="" disabled=""></td>
	                                <td width="117"><input id="CALIBRATIONVALUEO3" name="calibrated_value" style="width:130px" type="text" validator="required" value="<%= @field_values.present? ? @field_values["O3_value_03"] : '' %>"></td>
	                            </tr>
	                            <tr>
	                                <td width="208" colspan="2">
	                                    <p class="list_name"><%=  @titles["note"]  %></p>
	                                </td>
	                                <td colspan="4">
	                                    <textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;"><%= @field_values.present? ? @field_values["note"] : '' %></textarea>
	                                </td>
	
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>