<!-- PM10检查校准记录表 -->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
    </div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
                        <h3 class="check-second-title">时间</h3>
	        			<table class="table check-list-table">
                            <tbody>
                                <tr>
                                    <td width="50" align="right"><%=  @titles["date"] %></td>
                                    <td width="160">
                                        <input type="text" name="date" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["date"] : '' %>">  
                                    </td>
                                    <td width="50" align="right"><%=  @titles["time"] %></td>
                                    <td width="160">
                                       <input type="text" name="begin_time" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["begin_time"] : '' %>">  
                                    </td>
                                    <td width="50" align="right">至</td>
                                    <td width="160">
                                       <input type="text" name="end_time" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["end_time"] : '' %>">  
                                    </td>

                                </tr>
                            </tbody>
                        </table>
	        		</div>
	        		
	        		<div class="check-list-content">
	        			<h3 class="check-second-title">仪器设备编号</h3>
	        			<table class="table check-list-table">
                            <tbody>
                                <tr>
                                    <td><%=  @titles["Monitor_num"] %></td>
                                    <td>
                                        <input class="width-150" id="DeviceNumber" name="Monitor_num" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Monitor_num"] : '' %>" >
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["Flow_meter_model"] %></td>
                                    <td>
                                        
                                        <input class="width-150" id="FlowMetersModel" name="Flow_meter_model" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Flow_meter_model"] : '' %>" >
                                    </td>
                                    <td><%=  @titles["Flow_meter_num"] %></td>
                                    <td>
                                        <input class="width-150" id="FlowMetersNumber" name="Flow_meter_num" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Flow_meter_num"] : '' %>">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">环境温度传感器检查、校准</h3>
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td><%=  @titles["Instrument_display_temperature"] %></td>
                                    <td><%=  @titles["measured_ambient_temperature"] %></td>
                                    <td><%=  @titles["error"] %></td>
                                    <td><%=  @titles["operation"] %></td>
                                    <td><%=  @titles["conclusion"] %></td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="EquipShowTemp" name="Instrument_display_temperature" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Instrument_display_temperature"] : '' %>" ></td>
                                    <td><input class="width-150" id="EnvTemp" name="measured_ambient_temperature" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["measured_ambient_temperature"] : '' %>"></td>
                                    <td><input class="width-150" id="ErrorTemp" name="error" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["error"] : '' %>"></td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["temperature_sensor_inspection_operation_value"] == '1' ?  'checked="checked"'.html_safe  :  '' %>  id="TempOperateType" name="temperature_sensor_inspection_operation_value" type="radio" value="1"> 调整
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="TempOperateType" <%=  @field_values.present? && @field_values["temperature_sensor_inspection_operation_value"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="temperature_sensor_inspection_operation_value" type="radio" value="0"> 不调整
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["temperature_sensor_inspection_result_value"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 TempConclusion 必须是一个数字。" data-val-required="TempConclusion 字段是必需的。" id="TempConclusion" name="temperature_sensor_inspection_result_value" type="radio" value="1"> 合格
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="TempConclusion" <%=  @field_values.present? && @field_values["temperature_sensor_inspection_result_value"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="temperature_sensor_inspection_result_value" type="radio" value="0"> 不合格
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="beizhu">注：仪器显示的环境温度与标准温度的偏差要小于±2℃</p>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">环境压力传感器检查、校准</h3>
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td><%=  @titles["Instrument_display_pressure"] %></td>
                                    <td><%=  @titles["Measured_environmental_pressure"] %></td>
                                    <td><%=  @titles["error"] %></td>
                                    <td><%=  @titles["operation"] %></td>
                                    <td><%=  @titles["conclusion"] %></td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="EquipShowPress" name="Instrument_display_pressure" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Instrument_display_pressure"] : '' %>" ></td>
                                    <td><input class="width-150" id="EnvPress" name="Measured_environmental_pressure" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Measured_environmental_pressure"] : '' %>" ></td>
                                    <td><input class="width-150" id="ErrorPress" name="error(atm)" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["error(atm)"] : '' %>"></td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["pressure_sensor_inspection_calibration_operation_value"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 PressOperateType 必须是一个数字。" data-val-required="PressOperateType 字段是必需的。" id="PressOperateType" name="pressure_sensor_inspection_calibration_operation_value" type="radio" value="1" > 调整
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="PressOperateType" <%=  @field_values.present? && @field_values["pressure_sensor_inspection_calibration_operation_value"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="pressure_sensor_inspection_calibration_operation_value" type="radio" value="0"> 不调整
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input <%=  @field_values.present? && @field_values["pressure_sensor_inspection_calibration_result_value"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val="true" data-val-number="字段 PressConclusion 必须是一个数字。" data-val-required="PressConclusion 字段是必需的。" id="PressConclusion" name="pressure_sensor_inspection_calibration_result_value" type="radio" value="1"> 合格
                                        </label>
                                        <label class="checkbox-radio">
                                            <input <%=  @field_values.present? && @field_values["pressure_sensor_inspection_calibration_result_value"] == '0' ?  'checked="checked"'.html_safe  :  '' %> id="PressConclusion" name="pressure_sensor_inspection_calibration_result_value" type="radio" value="0" > 不合格
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="beizhu">注：仪器显示的环境压力与标准压力的偏差要小于±1×103Pa(0.01atm)</p>
                    </div>
                     <div class="check-list-content">
                        <h3 class="check-second-title">系统检漏</h3>
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><%=  @titles["main_flow(l/min)"] %></td>
                                    <td><%=  @titles["Flow rate (l/min)"] %></td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["Measured (measurement result)"] %></td>
                                    <td><input class="width-150" id="SysMainFlow" name="main_flow(l/min)" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["main_flow(l/min)"] : '' %>" ></td>
                                    <td><input class="width-150" id="SysSecondaryFlow" name="Flow rate (l/min)" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Flow rate (l/min)"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td>Max allowed（最大差值）</td>
                                    <td>0.15</td>
                                    <td>0.6</td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["Leak_detection_conclusion"] %></td>
                                    <td colspan="2">
                                        <label class="checkbox-radio">
                                            <input <%=  @field_values.present? && @field_values["Leak_detection_conclusion"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val="true" data-val-number="字段 SysConclusion 必须是一个数字。" data-val-required="SysConclusion 字段是必需的。" id="SysConclusion" name="Leak_detection_conclusion" type="radio" value="1"> 合格
                                        </label>
                                        <label class="checkbox-radio">
                                            <input <%=  @field_values.present? && @field_values["Leak_detection_conclusion"] == '0' ?  'checked="checked"'.html_safe  :  '' %>  id="SysConclusion" name="Leak_detection_conclusion" type="radio" value="0" > 不合格
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">流量检查、校准</h3>
                         <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td><%=  @titles["main_flow"] %></td>
                                    <td><input class="width-150" id="CkMainFlow" name="main_flow_value_01" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["main_flow_value_01"] : '' %>">l/min</td>
                                    <td><%=  @titles["operation"] %></td>
                                    <td> <label class="checkbox-radio">
                                            <input <%=  @field_values.present? && @field_values["main_flow_operation_value_01"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val="true" data-val-number="字段 CkMainFlowOperate 必须是一个数字。" data-val-required="CkMainFlowOperate 字段是必需的。" id="CkMainFlowOperate" name="main_flow_operation_value_01" type="radio" value="1"> 校准
                                        </label>
                                        <label class="checkbox-radio">
                                            <input <%=  @field_values.present? && @field_values["main_flow_operation_value_01"] == '0' ?  'checked="checked"'.html_safe  :  '' %>  id="CkMainFlowOperate" name="main_flow_operation_value_01" type="radio" value="0"> 不校准
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["traffic"] %></td>
                                    <td><input class="width-150" id="CkTotalFlow" name="total_folw_value_01" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["total_folw_value_01"] : '' %>">		l/min</td>
                                    <td><%=  @titles["operation"] %></td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["main_flow_operation_value_02"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 CkTotalFlowOperate 必须是一个数字。" data-val-required="CkTotalFlowOperate 字段是必需的。" id="CkTotalFlowOperate" name="main_flow_operation_value_02" type="radio" value="1" > 校准
                                        </label>
                                        <label class="checkbox-radio">
                                            <input  id="CkTotalFlowOperate" <%=  @field_values.present? && @field_values["main_flow_operation_value_02"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="main_flow_operation_value_02" type="radio" value="0" > 不校准
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                         </table>
                        <div style="width:100%;height:10px;"></div>
                       
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td colspan="2"><%=  @titles["main_flow(l/min)"] %></td>
                                    <td colspan="3"><%=  @titles["Flow rate (l/min)"] %></td>
                                </tr>
                                <tr>
                                    <td>标准值</td>
                                    <td>实际测量值</td>
                                    <td>标准值</td>
                                    <td>总流量实际测量值</td>
                                    <td>总流量-主流量</td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="CkMainFlowStandFirst" name="main_flow_Standard_values_01" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["main_flow_Standard_values_01"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkMainFlowMeasureFirst" name="Actual_measured_value_01" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Actual_measured_value_01"] : '' %>"></td>
                                    <td><input class="width-150" id="CkSecondaryFlowStandFirst" name="Flow_rate_standard_value_01" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Flow_rate_standard_value_01"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkSecondaryFlowMeasureFirst" name="Total_flow_measurement_value_01" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Total_flow_measurement_value_01"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkRangeFirst" name="main_flow_value_01" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["main_flow_value_01"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="CkMainFlowStandSecond" name="main_flow_Standard_values_02" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["main_flow_Standard_values_02"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkMainFlowMeasureSecond" name="Actual_measured_value_02" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Actual_measured_value_02"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkSecondaryFlowStandSecond" name="Flow_rate_standard_value_02" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Flow_rate_standard_value_02"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkSecondaryFlowMeasureSecond" name="Total_flow_measurement_value_02" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Total_flow_measurement_value_02"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkRangeSecond" name="main_flow_value_02" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["main_flow_value_02"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="CkMainFlowStandThird" name="main_flow_Standard_values_03" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["main_flow_Standard_values_03"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkMainFlowMeasureThird" name="Actual_measured_value_03" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Actual_measured_value_03"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkSecondaryFlowStandThird" name="Flow_rate_standard_value_03" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Flow_rate_standard_value_03"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkSecondaryFlowMeasureThird" name="Total_flow_measurement_value_03" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Total_flow_measurement_value_03"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkRangeThird" name="main_flow_value_03" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["main_flow_value_03"] : '' %>" ></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="width:100%;height:10px;"></div>
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                <td><%=  @titles["main_flow"] %></td>
                                <td><input class="width-150" id="CkConMainFlow" name="main_flow_value_02" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["main_flow_value_02"] : '' %>" >l/min</td>
                                <td><%=  @titles["traffic"] %></td>
                                <td><input class="width-150" id="CkConTotalFlow" name="total_folw_value_02" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["total_folw_value_02"] : '' %>" >l/min</td>
                                <td><%=  @titles["Flow_calibration_conclusion"] %></td>
                                <td>
                                    <label class="checkbox-radio">
                                        <input <%=  @field_values.present? && @field_values["Flow_calibration_conclusion"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val="true" data-val-number="字段 CkConclusion 必须是一个数字。" data-val-required="CkConclusion 字段是必需的。" id="CkConclusion" name="Flow_calibration_conclusion" type="radio" value="1"> 校准
                                    </label>
                                    <label class="checkbox-radio">
                                        <input <%=  @field_values.present? && @field_values["Flow_calibration_conclusion"] == '0' ?  'checked="checked"'.html_safe  :  '' %> id="CkConclusion" name="Flow_calibration_conclusion" type="radio" value="0" > 不校准
                                    </label>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                         
                       
                        <p class="beizhu">注：主流量与标准流量的偏差要小于0.15l/min，附流量与标准流量的偏差要小于0.6l/min</p>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">弹性常数K0值审核</h3>
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td colspan="2">标准膜</td>
                                    <td colspan="3">参数</td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["Standard_film_quality (g)"] %></td>
                                    <td><%=  @titles["Humidity_indicator_card_color"] %></td>
                                    <td><%=  @titles["KO"] %></td>
                                    <td><%=  @titles["Audit KO"] %></td>
                                    <td><%=  @titles["Percent difference(%)"] %></td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="K0StandHeight" name="Standard_film_quality (g)" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Standard_film_quality (g)"] : '' %>" ></td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["Humidity_indicator_card_color"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 K0Color 必须是一个数字。" data-val-required="K0Color 字段是必需的。" id="K0Color" name="Humidity_indicator_card_color" type="radio" value="1"> 正常
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="K0Color" <%=  @field_values.present? && @field_values["Humidity_indicator_card_color"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="Humidity_indicator_card_color" type="radio" value="0"> 不正常
                                        </label>
                                    </td>
                                    <td><input class="width-150" id="K0Value" name="KO" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["KO"] : '' %>"></td>
                                    <td><input class="width-150" id="AuditKoValue" name="Audit KO" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Audit KO"] : '' %>" ></td>
                                    <td><input class="width-150" id="KOPercentDiff" name="Percent difference(%)" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["Percent difference(%)"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><%=  @titles["Audit conclusion"] %></td>
                                    <td colspan="2">
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["K0Conclusion"] == '1' ?  'checked="checked"'.html_safe  :  '' %>  id="K0Conclusion" name="K0Conclusion" type="radio" value="1"> 合格
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="K0Conclusion" <%=  @field_values.present? && @field_values["K0Conclusion"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="K0Conclusion" type="radio" value="0"> 不合格
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["Operation_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" value="<%=@handle_man %>" validator="required" original-title=""></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["Check_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@calibs_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["date"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@calibs_time %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>