<!--PM2.5检查校准记录表 -->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
    </div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
                        <h3 class="check-second-title">时间</h3>
	        			<table class="table check-list-table">
                            <tbody>
                                <tr>
                                    <td width="50" align="right"><%=  @titles["date"] %></td>
                                    <td width="160">
                                        <input type="text" name="date" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["date"] : '' %>">  
                                    </td>
                                    <td width="50" align="right"><%=  @titles["time"] %></td>
                                    <td width="160">
                                       <input type="text" name="CalibrationStartTime" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["CalibrationStartTime"] : '' %>">  
                                    </td>
                                    <td width="50" align="right">至</td>
                                    <td width="160">
                                       <input type="text" name="CalibrationEndTime" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["CalibrationEndTime"] : '' %>">  
                                    </td>

                                </tr>
                            </tbody>
                        </table>
	        		</div>
	        		
	        		<div class="check-list-content">
	        			<h3 class="check-second-title">仪器设备编号</h3>
	        			<table class="table check-list-table">
                            <tbody>
                                <tr>
                                    <td><%=  @titles["Monitor_num"] %>
                                    </td>
                                    <td>
                                        <input class="width-150" id="DeviceNumber" name="DeviceNumber" type="text" validator="required" value="<%= @field_values.present? ? @field_values["DeviceNumber"] : '' %>" >
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["Flow_meter_model"] %>
                                    </td>
                                    <td>
                                        
                                        <input class="width-150" id="FlowMetersModel" name="FlowMetersModel" type="text" validator="required" value="<%= @field_values.present? ? @field_values["FlowMetersModel"] : '' %>" >
                                    </td>
                                    <td><%=  @titles["Flow_meter_num"] %>
                                        <input class="width-150" id="FlowMetersNumber" name="FlowMetersNumber" type="text" validator="required" value="<%= @field_values.present? ? @field_values["FlowMetersNumber"] : '' %>">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title"><%=  @titles["temperature_sensor_inspection"] %></h3>
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td><%=  @titles["Instrument_display_temperature"] %></td>
                                    <td><%=  @titles["measured_ambient_temperature"] %></td>
                                    <td><%=  @titles["error"] %></td>
                                    <td><%=  @titles["operation"] %></td>
                                    <td><%=  @titles["conclusion"] %></td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="EquipShowTemp" name="EquipShowTemp" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["EquipShowTemp"] : '' %>" ></td>
                                    <td><input class="width-150" id="EnvTemp" name="EnvTemp" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["EnvTemp"] : '' %>"></td>
                                    <td><input class="width-150" id="ErrorTemp" name="ErrorTemp" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["ErrorTemp"] : '' %>"></td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["TempOperateType"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 TempOperateType 必须是一个数字。" data-val-required="TempOperateType 字段是必需的。" id="TempOperateType" name="TempOperateType" type="radio" value="1"> 调整
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="TempOperateType" <%=  @field_values.present? && @field_values["TempOperateType"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="TempOperateType" type="radio" value="0"> 不调整
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["TempConclusion"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 TempConclusion 必须是一个数字。" data-val-required="TempConclusion 字段是必需的。" id="TempConclusion" name="TempConclusion" type="radio" value="1"> 合格
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="TempConclusion" <%=  @field_values.present? && @field_values["TempConclusion"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="TempConclusion" type="radio" value="0"> 不合格
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="beizhu">注：仪器显示的环境温度与标准温度的偏差要小于±2℃</p>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title"><%=  @titles["pressure_sensor_inspection_calibration"] %></h3>
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td><%=  @titles["Instrument_display_pressure"] %></td>
                                    <td><%=  @titles["measured_ambient_temperature"] %></td>
                                    <td><%=  @titles["error"] %></td>
                                    <td><%=  @titles["operation"] %></td>
                                    <td><%=  @titles["conclusion"] %></td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="EquipShowPress" name="EquipShowPress" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["EquipShowPress"] : '' %>" ></td>
                                    <td><input class="width-150" id="EnvPress" name="EnvPress" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["EnvPress"] : '' %>" ></td>
                                    <td><input class="width-150" id="ErrorPress" name="ErrorPress" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["ErrorPress"] : '' %>"></td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["PressOperateType"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 PressOperateType 必须是一个数字。" data-val-required="PressOperateType 字段是必需的。" id="PressOperateType" name="PressOperateType" type="radio" value="1" > 调整
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="PressOperateType" <%=  @field_values.present? && @field_values["PressOperateType"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="PressOperateType" type="radio" value="0"> 不调整
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["PressConclusion"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 PressConclusion 必须是一个数字。" data-val-required="PressConclusion 字段是必需的。" id="PressConclusion" name="PressConclusion" type="radio" value="1"> 合格
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="PressConclusion" <%=  @field_values.present? && @field_values["PressConclusion"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="PressConclusion" type="radio" value="0" > 不合格
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="beizhu">注：仪器显示的环境压力与标准压力的偏差要小于±1×103Pa(0.01atm)</p>
                    </div>
                     <div class="check-list-content">
                        <h3 class="check-second-title"><%=  @titles["Leak_detection_system"] %></h3>
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td colspan="2">position</td>
                                    <td>base</td>
                                    <td>zero</td>
                                    <td>reference</td>
                                    <td>zero</td>
                                    <td>结论</td>
                                </tr>
                                <tr>
                                    <td rowspan="2"><%=  @titles["PM2.5_folw"] %>
                                    </td>
                                    <td>actual</td>
                                    <td><input class="width-150" id="SysMainBaseFlow" name="SysMainBaseFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["SysMainBaseFlow"] : '' %>"></td>
                                    <td><input class="width-150" id="SysMainZeroFlow" name="SysMainZeroFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["SysMainZeroFlow"] : '' %>" ></td>
                                    <td><input class="width-150" id="SysMainRefFlow" name="SysMainRefFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["SysMainRefFlow"] : '' %>" ></td>
                                    <td><input class="width-150" id="SysMainRefZeroFlow" name="SysMainRefZeroFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["SysMainRefZeroFlow"] : '' %>"></td>
                                    <td rowspan="4">
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["SysConclusion"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 SysConclusion 必须是一个数字。" data-val-required="SysConclusion 字段是必需的。" id="SysConclusion" name="SysConclusion" type="radio" value="1"> 合格
                                        </label>
                                        <label class="checkbox-radio">
                                            <input  id="SysConclusion" <%=  @field_values.present? && @field_values["SysConclusion"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="SysConclusion" type="radio" value="0" > 不合格
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>limit</td>
                                    <td colspan="2">≤0.15</td>
                                    <td colspan="2">≤0.15</td>
                                </tr>
                                <tr>
                                    <td rowspan="2"><%=  @titles["Bypass_folw"] %>
                                    </td>
                                    <td>actual</td>
                                    <td><input class="width-150" id="SysSecondaryBaseFlow" name="SysSecondaryBaseFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["SysSecondaryBaseFlow"] : '' %>" ></td>
                                    <td><input class="width-150" id="SysSecondaryZeroFlow" name="SysSecondaryZeroFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["SysSecondaryZeroFlow"] : '' %>" ></td>
                                    <td><input class="width-150" id="SysSecondaryRefFlow" name="SysSecondaryRefFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["SysSecondaryRefFlow"] : '' %>" ></td>
                                    <td><input class="width-150" id="SysSecondaryRefZeroFlow" name="SysSecondaryRefZeroFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["SysSecondaryRefZeroFlow"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td>limit</td>
                                    <td colspan="2">≤0.60</td>
                                    <td colspan="2">≤0.60</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title"><%=  @titles["Flow_inspection_calibration"] %></h3>
                        <%=  @titles["main_flow"] %>：<input class="width-150" id="CkMainFlow" name="CkMainFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["date"] : '' %>">l/min 操作:<label class="checkbox-radio">
                            <input data-val="true" <%=  @field_values.present? && @field_values["CkMainFlowOperate"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 CkMainFlowOperate 必须是一个数字。" data-val-required="CkMainFlowOperate 字段是必需的。" id="CkMainFlowOperate" name="CkMainFlowOperate" type="radio" value="1"> 校准
                        </label>
                        <label class="checkbox-radio">
                            <input  id="CkMainFlowOperate" <%=  @field_values.present? && @field_values["CkMainFlowOperate"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="CkMainFlowOperate" type="radio" value="0"> 不校准
                        </label>
                       <%=  @titles["traffic"] %>：<input class="width-150"  id="CkTotalFlow" name="CkTotalFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkTotalFlow"] : '' %>">		l/min<%=  @titles["operation"] %>:<label class="checkbox-radio">
                            <input data-val="true" data-val-number="字段 CkTotalFlowOperate 必须是一个数字。" <%=  @field_values.present? && @field_values["CkTotalFlowOperate"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-required="CkTotalFlowOperate 字段是必需的。" id="CkTotalFlowOperate" name="CkTotalFlowOperate" type="radio" value="1" > 校准
                        </label>
                        <label class="checkbox-radio">
                            <input  id="CkTotalFlowOperate" <%=  @field_values.present? && @field_values["CkTotalFlowOperate"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="CkTotalFlowOperate" type="radio" value="0" > 不校准
                        </label>
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td colspan="2"><%=  @titles["main_flow(l/min)"] %></td>
                                    <td colspan="3"><%=  @titles["Flow rate (l/min)"] %></td>
                                </tr>
                                <tr>
                                    <td>标准值</td>
                                    <td>实际测量值</td>
                                    <td>标准值</td>
                                    <td>总流量实际测量值</td>
                                    <td>总流量-主流量</td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="CkMainFlowStandFirst" name="CkMainFlowStandFirst" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkMainFlowStandFirst"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkMainFlowMeasureFirst" name="CkMainFlowMeasureFirst" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkMainFlowMeasureFirst"] : '' %>"></td>
                                    <td><input class="width-150" id="CkSecondaryFlowStandFirst" name="CkSecondaryFlowStandFirst" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkSecondaryFlowStandFirst"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkSecondaryFlowMeasureFirst" name="CkSecondaryFlowMeasureFirst" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkSecondaryFlowMeasureFirst"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkRangeFirst" name="CkRangeFirst" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkRangeFirst"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="CkMainFlowStandSecond" name="CkMainFlowStandSecond" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkMainFlowStandSecond"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkMainFlowMeasureSecond" name="CkMainFlowMeasureSecond" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkMainFlowMeasureSecond"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkSecondaryFlowStandSecond" name="CkSecondaryFlowStandSecond" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkSecondaryFlowStandSecond"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkSecondaryFlowMeasureSecond" name="CkSecondaryFlowMeasureSecond" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkSecondaryFlowMeasureSecond"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkRangeSecond" name="CkRangeSecond" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkRangeSecond"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="CkMainFlowStandThird" name="CkMainFlowStandThird" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkMainFlowStandThird"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkMainFlowMeasureThird" name="CkMainFlowMeasureThird" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkMainFlowMeasureThird"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkSecondaryFlowStandThird" name="CkSecondaryFlowStandThird" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkSecondaryFlowStandThird"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkSecondaryFlowMeasureThird" name="CkSecondaryFlowMeasureThird" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkSecondaryFlowMeasureThird"] : '' %>" ></td>
                                    <td><input class="width-150" id="CkRangeThird" name="CkRangeThird" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkRangeThird"] : '' %>" ></td>
                                </tr>
                            </tbody>
                        </table>
                         <%=  @titles["main_flow"] %><input class="width-150" id="CkConMainFlow" name="CkConMainFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkConMainFlow"] : '' %>" >l/min
                        <%=  @titles["traffic"] %><input class="width-150" id="CkConTotalFlow" name="CkConTotalFlow" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["CkConTotalFlow"] : '' %>" >l/min  <%=  @titles["Flow_calibration_conclusion"] %>:<label class="checkbox-radio">
                            <input data-val="true" <%=  @field_values.present? && @field_values["CkConclusion"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 CkConclusion 必须是一个数字。" data-val-required="CkConclusion 字段是必需的。" id="CkConclusion" name="CkConclusion" type="radio" value="1"> 校准
                        </label>
                        <label class="checkbox-radio">
                            <input id="CkConclusion" <%=  @field_values.present? && @field_values["CkConclusion"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="CkConclusion" type="radio" value="0" > 不校准
                        </label>
                        <p class="beizhu">注：主流量与标准流量的偏差要小于0.15l/min，附流量与标准流量的偏差要小于0.6l/min</p>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">弹性常数K0值审核</h3>
                        <table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td colspan="2">标准膜</td>
                                    <td colspan="3">参数</td>
                                </tr>
                                <tr>
                                    <td>标准膜质量(g)</td>
                                    <td>湿度指示卡颜色</td>
                                    <td>K0</td>
                                    <td>Audit K0</td>
                                    <td>Percent difference (%)</td>
                                </tr>
                                <tr>
                                    <td><input class="width-150" id="K0StandHeight" name="K0StandHeight" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["K0StandHeight"] : '' %>" ></td>
                                    <td>
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["K0Color"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 K0Color 必须是一个数字。" data-val-required="K0Color 字段是必需的。" id="K0Color" name="K0Color" type="radio" value="1"> 正常
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="K0Color" <%=  @field_values.present? && @field_values["K0Color"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="K0Color" type="radio" value="0"> 不正常
                                        </label>
                                    </td>
                                    <td><input class="width-150" id="K0Value" name="K0Value" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["K0Value"] : '' %>"></td>
                                    <td><input class="width-150" id="AuditKoValue" name="AuditKoValue" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["AuditKoValue"] : '' %>" ></td>
                                    <td><input class="width-150" id="KOPercentDiff" name="KOPercentDiff" type="text" validator="required, double" value="<%= @field_values.present? ? @field_values["KOPercentDiff"] : '' %>" ></td>
                                </tr>
                                <tr>
                                    <td colspan="3">审核结论（常数误差Percent difference≤2%）</td>
                                    <td colspan="2">
                                        <label class="checkbox-radio">
                                            <input data-val="true" <%=  @field_values.present? && @field_values["K0Conclusion"] == '1' ?  'checked="checked"'.html_safe  :  '' %> data-val-number="字段 K0Conclusion 必须是一个数字。" data-val-required="K0Conclusion 字段是必需的。" id="K0Conclusion" name="K0Conclusion" type="radio" value="1"> 合格
                                        </label>
                                        <label class="checkbox-radio">
                                            <input id="K0Conclusion" <%=  @field_values.present? && @field_values["K0Conclusion"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="K0Conclusion" type="radio" value="0"> 不合格
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["Operation_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" value="<%=@handle_man %>" validator="required" original-title=""></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["Check_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@calibs_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["date"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@calibs_time %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>