<!--备机更换记录表-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
    </div>
 <div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="7">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
                                    <td><p class="list_name"><%=  @titles["project"]  %></p></td>
                                    <td width="539" colspan="3">
                                        <textarea cols="20" id="PROJECT" name="PROJECT" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;" ><%= @field_values.present? ? @field_values["project"] : '' %></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="list_name"><%=  @titles["Original_equipment_manufacturer_model"]  %></p>
                                    </td>
                                    <td>
                                        <input id="DEVICEMODEL1" name="DEVICEMODEL1" style="width:130px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Original_equipment_manufacturer_model"] : '' %>" >
                                    </td>
                                    <td>
                                        <p class="list_name"><%=  @titles["Equipment_installation_time"]  %></p>
                                    </td>
                                    <td>
                                       <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["Equipment_installation_time"] : '' %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["The_cause_of_problem"]  %></p></td>
                                    <td colspan="6">
                                        <textarea cols="20" id="FAILURECAUSE" name="FAILURECAUSE" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;"><%= @field_values.present? ? @field_values["The_cause_of_problem"] : '' %></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["Maintenance_situation"]  %></p></td>
                                    <td colspan="6">
                                        <textarea cols="20" id="CONDITION" name="CONDITION" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;"><%= @field_values.present? ? @field_values["Maintenance_situation"] : '' %></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="list_name"><%=  @titles["The_equipment_expected_time"]  %></p>
                                    </td>
                                    <td>
                                         <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["The_equipment_expected_time"] : '' %>">
                                    </td>
                                    <td><p class="list_name"><%=  @titles["note"]  %></p></td>
                                    <td>
                                        <textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;"><%= @field_values.present? ? @field_values["note"] : '' %></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p align="left" class="list_name"><%=  @titles["Equipment_manufacturer_and_model"]  %></p>
                                    </td>
                                    <td>
                                        <input id="DEVICEMODEL2" name="DEVICEMODEL2" style="width:130px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Equipment_manufacturer_and_model"] : '' %>" >
                                    </td>
                                    <td>
                                        <p class="list_name"><%=  @titles["Replacement_time_standby_machine"]  %></p>
                                    </td>
                                    <td>
                                       <input type="text" class="dateTimepickerH start_time" name="" value="<%= @field_values.present? ? @field_values["Replacement_time_standby_machine"] : '' %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["Zero_check"]  %></p></td>
                                    <td><input id="ZEROCHECK" name="ZEROCHECK" style="width:130px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Zero_check"] : '' %>"></td>
                                    <td><p class="list_name"><%=  @titles["Check_the_ span"]  %></p></td>
                                    <td><input id="SPANCHECK" name="SPANCHECK" style="width:130px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Check_the_ span"] : '' %>"></td>
                                </tr>
                                <tr>
                                    <td><p class="list_name"><%=  @titles["Flow_check"]  %></p></td>
                                    <td><input id="FLOWCHECK" name="FLOWCHECK" style="width:130px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Flow_check"] : '' %>" ></td>
                                    <td><p class="list_name"><%=  @titles["Calibration_particulate_matter_standards"]  %></p></td>
                                    <td><input id="CALIBRATION" name="CALIBRATION" style="width:130px;" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Calibration_particulate_matter_standards"] : '' %>"></td>
                                </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>   