<!--其他仪器、设备运行状况检查记录-->
	<p class="modalID hide"><%= @form_module.id%></p>
<p class="hide jobStatus"></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %>（每周）</span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
	<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"> <%=  @form_module.name  %>（每周）</h1>
	        			        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="3">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" readonly="readonly" value="<%= @region_code %>" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
														<input tvbox="true" readonly="readonly" value="<%= @station_name %>" disabled="disabled" class="form-control" id="StationID_Text" type="text" validator="required" >
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" value="<%= @unit_name %>" readonly="readonly" disabled="disabled" class="form-control">
									                </td>
									                <td width="100" align="right" class="check_timeName"><%=  @titles["check_time"]  %>：</td>
									                <td>
									                   <input type="text" class="dateTimepickerH start_datetime" name="check_time" value="<%= @field_values.present? ? @field_values["check_time"] : '' %>">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
	        					<tr>
	                                <td><p align="center"><%=  @titles["instrument_name"]  %> </p></td>
	                                <td><p align="center"><%=  @titles["instrument_model"]  %> </p></td>
	                                <td><p align="center"><%=  @titles["status"]  %></p></td>
	                            </tr>
	                            <tr>
	                                <td class="instrument_name"><p align="center"><%=  @titles["parameter"]  %></p></td>
	                                <td><input id="WEATHERDEVICEMODEL" name="WEATHERDEVICEMODEL" type="text" value="<%= @field_values.present? ? @field_values["parameter_value_01"] : '' %>" class="instrument_code"></td>
	                                <td>
	                                    <input id="WEATHERSITUATION" name="WEATHERSITUATION" type="text" value="<%= @field_values.present? ? @field_values["parameter_value_02"] : '' %>" class="instrument_status">
	                                </td>
	                            </tr>
	                            <tr>
	                                <td class="instrument_name"><p align="center"><%=  @titles["visibility_meter"]  %></p></td>
	                                <td><input id="VISIBILITYDEVICEMODEL" name="VISIBILITYDEVICEMODEL" type="text" value="<%= @field_values.present? ? @field_values["visibility_meter_value_01"] : '' %>" class="instrument_code"></td>
	                                <td valign="top">
	                                    <input id="VISIBILITYSITUATION" name="VISIBILITYSITUATION" type="text" value="<%= @field_values.present? ? @field_values["visibility_meter_value_02"] : '' %>" class="instrument_status">
	                                </td>
	                            </tr>
	                            <tr>
	                                <td class="instrument_name"><p align="center"><%=  @titles["city_camera_system"]  %></p></td>
	                                <td><input id="CITYCAMERADEVICEMODEL" name="CITYCAMERADEVICEMODEL" type="text"  value="<%= @field_values.present? ? @field_values["city_camera_system_value_01"] : '' %>" class="instrument_code"></td>
	                                <td valign="top">
	                                    <input id="CITYCAMERASITUATION" name="CITYCAMERASITUATION" type="text" value="<%= @field_values.present? ? @field_values["city_camera_system_value_02"] : '' %>" class="instrument_status">
	                                </td>
	                            </tr>
	                            <tr>
	                                <td class="instrument_name"><p align="center"><%=  @titles["data_mining_system"]  %></p></td>
	                                <td><input id="DATAACQUISITIONDEVICEMODEL" name="DATAACQUISITIONDEVICEMODEL" type="text" value="<%= @field_values.present? ? @field_values["data_mining_system_value_01"] : '' %>" class="instrument_code"></td>
	                                <td valign="top">
	                                    <input id="DATAACQUISITIONSITUATION" name="DATAACQUISITIONSITUATION" type="text" value="<%= @field_values.present? ? @field_values["data_mining_system_value_02"] : '' %>" class="instrument_status">
	                                </td>
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>