<!--采样记录表-->
<p class="modalID hide"><%= @form_module.id%></p>

<div class="navTop">
	<span class="lines"></span>
	<span class="tableName"><%= @form_module.name  %></span>
	<button class="btn btn-default" id="Back" type="button">返回</button>
	<button class="btn  btn-primary" id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
</div>

	<div class="check-list-box">
		<div class="check-list">
			<div class="check-list-container-border">
				<div class="check-list-container">
					<h1 class="check-list-title">采样记录表</h1>
					<input name="fujian" type="button" value="附件表">
					<input type="hidden" class="fujianID">
					<div class="check-list-content">
						<table class="table table-bordered">

							<tbody>
								<tr>
									<td colspan="2">
										<p align="center">采样项目</p>
									</td>
									<td colspan="4">
										<span class="select-check-box" style="margin:0;margin-left: 10px;">
                                        <label class="checkbox-radio"><input type="radio" <%=  @field_values.present? && @field_values["HPA"] == 'PM10' ?  'checked="checked"'.html_safe  :  '' %> name="HPA" value="PM10" >PM10</label> &nbsp;&nbsp;
                                        <label class="checkbox-radio"><input type="radio" <%=  @field_values.present? && @field_values["HPA"] == 'PM2.5' ?  'checked="checked"'.html_safe  :  '' %> name="HPA" value="PM2.5" >PM2.5</label>
                                        
                                        
                                    </span>
									</td>
									<td colspan="2">
										<p align="center">采样日期(年月日)</p>
									</td>
									<td colspan="4"><input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["CYRQ"] : '' %>" id="CYRQ" name="CYRQ"></td>
								</tr>
								<tr>
									<td colspan="2">
										<p align="center">采样地点</p>
									</td>
									<td colspan="4"><input tvbox="true"  class="form-control" id="STATIONID_Text" name="STATIONID_Text"  type="text" validator="required" value="<%= @field_values.present? ? @field_values["STATIONID_Text"] : '' %>" original-title=""></td>
									<td colspan="2">
										<p align="center">相对湿度(%RH)</p>
									</td>
									<td colspan="4"><input class="input" id="XDSD" name="XDSD" type="text" validator="required" value="<%= @field_values.present? ? @field_values["XDSD"] : '' %>" ></td>
								</tr>
								<tr>
									<td colspan="2">
										<p align="center">天气情况</p>
									</td>
									<td colspan="4"><input class="input" id="TQZK" name="TQZK" type="text" validator="required" value="<%= @field_values.present? ? @field_values["TQZK"] : '' %>" ></td>
									<td colspan="2">
										<p align="center">采样器型号</p>
									</td>
									<td colspan="4"><input class="input" id="CYQXH" name="CYQXH" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CYQXH"] : '' %>"></td>
								</tr>
								<tr>
									<td colspan="2">
										<p align="center">出厂编号</p>
									</td>
									<td colspan="4"><input class="input" id="CCBH" name="CCBH" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CCBH"] : '' %>" ></td>
									<td colspan="2">
										<p align="center">滤膜编号</p>
									</td>
									<td colspan="4"><input class="input" id="LMBH" name="LMBH" type="text" validator="required" value="<%= @field_values.present? ? @field_values["LMBH"] : '' %>"></td>
								</tr>
								<tr>
									<td colspan="12"></td>
								</tr>
								<tr>
									<td colspan="2">
										<p align="center">颗粒物浓度(μg/m3)</p>
									</td>
									<td colspan="4"><input class="input" id="KLWND" name="KLWND" type="text" validator="required" value="<%= @field_values.present? ? @field_values["KLWND"] : '' %>" ></td>
									<td colspan="2">
										<p align="center">累计流量(标况，m3)</p>
									</td>
									<td colspan="4"><input class="input" id="LJLL" name="LJLL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["LJLL"] : '' %>"></td>
								</tr>

								<tr>
									<td colspan="2">
										<p align="center">采样前膜重(mg)</p>
									</td>
									<td colspan="4"><input class="input" id="CYQMZ" name="CYQMZ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CYQMZ"] : '' %>"></td>
									<td colspan="2">
										<p align="center">采样后膜重(mg)</p>
									</td>
									<td colspan="4"><input class="input" id="CYHMZ" name="CYHMZ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CYHMZ"] : '' %>" ></td>
								</tr>
								<tr>
									<td colspan="2">
										<p align="center">滤膜增重(mg)</p>
									</td>
									<td colspan="4"><input class="input" id="LMZZ" name="LMZZ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["LMZZ"] : '' %>"></td>
									<td colspan="2">
										<p align="center">称重人</p>
									</td>

									<td colspan="4"><input class="input" id="CZRID" name="CZRID" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CZRID"] : '' %>"></td>

								</tr>
								<tr>
									<td colspan="12">
										<p align="center">环境温度检查</p>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<p align="center">采样器环境温度(℃)</p>
									</td>
									<td colspan="4"><input class="input" id="CYQHJWD" name="CYQHJWD" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CYQHJWD"] : '' %>" ></td>
									<td colspan="2">
										<p align="center">实际环境温度(℃)</p>
									</td>
									<td colspan="4"><input class="input" id="SJHJWD" name="SJHJWD" type="text" validator="required" value="<%= @field_values.present? ? @field_values["SJHJWD"] : '' %>" ></td>
								</tr>
								<tr>
									<td colspan="12">
										<p align="center">环境大气压检查</p>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<p align="center">采样器环境大气压(kPa)</p>
									</td>
									<td colspan="4"><input class="input" id="CYQHJDQY" name="CYQHJDQY" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CYQHJDQY"] : '' %>" ></td>
									<td colspan="2">
										<p align="center">实际环境大气压(kPa)</p>
									</td>
									<td colspan="4"><input class="input" id="SJHJDQY" name="SJHJDQY" type="text" validator="required" value="<%= @field_values.present? ? @field_values["SJHJDQY"] : '' %>" ></td>
								</tr>
								<tr>
									<td colspan="12">
										<p align="center">流量检查</p>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<p align="center">采样流量(L/min)</p>
									</td>
									<td colspan="4"><input class="input" id="CYLL" name="CYLL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CYLL"] : '' %>" ></td>
									<td colspan="2">
										<p align="center">实际流量(L/min)</p>
									</td>
									<td colspan="4"><input class="input" id="SJLL" name="SJLL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["SJLL"] : '' %>" ></td>
								</tr>

								<tr>
									<td colspan="2">
										<p align="center">采样开始时间</p>
									</td>
									<td colspan="4">

										<input datebox="true" class="dateTimepickerH start_datetime" id="CYKSSJ" name="CYKSSJ"  type="text" style="width:133px;" value="<%= @field_values.present? ? @field_values["CYKSSJ"] : '' %>" >
									</td>

									<td colspan="2">
										<p align="center">采样结束时间</p>
									</td>
									<td colspan="4">

										<input datebox="true" class="dateTimepickerH end_datetime" id="CYJSSJ" name="CYJSSJ"  type="text" style="width:133px;" value="<%= @field_values.present? ? @field_values["CYJSSJ"] : '' %>" validator="required">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<p align="center">采样时间</p>
									</td>
									<td colspan="2"><input class="input" id="CYSJJG" name="CYSJJG"  type="text" validator="required" value="<%= @field_values.present? ? @field_values["CYSJJG"] : '' %>" ></td>
									<td colspan="2">
										<p align="center">累计工况体积</p>
									</td>
									<td colspan="2"><input class="input" id="LJGKTJ" name="LJGKTJ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["LJGKTJ"] : '' %>" ></td>
									<td colspan="2">
										<p align="center">累计标况体积</p>
									</td>
									<td colspan="2"><input class="input" id="LJBKTJ" name="LJBKTJ" type="text" validator="required" value="<%= @field_values.present? ? @field_values["LJBKTJ"] : '' %>" ></td>
								</tr>
								<tr>
									<td colspan="2">
										<p>异常情况说明及处置：</p>
									</td>
									<td colspan="10">
										<textarea cols="20" id="YJQKCL" name="YJQKCL" rows="2" style="text-align: left;margin-top: 5px;padding:15px 5px;min-height: 100px;min-width: 98%;" ><%= @field_values.present? ? @field_values["YJQKCL"] : '' %></textarea>
										<p style="padding: 6px 6px 0 5px;text-align: right;">
											记录人
											<input tvbox="true"  class="form-control" id="JLRID_Text" name="JLRID_Text"  type="text" validator="required" value="<%= @field_values.present? ? @field_values["JLRID_Text"] : '' %>" original-title="" >
										</p>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<p>备注：</p>
									</td>
									<td colspan="10">
										<textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;margin:5px 0;padding:15px 5px;min-height: 100px;min-width: 98%;"><%= @field_values.present? ? @field_values["REMARK"] : '' %></textarea>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
