<!--站点设备维护记录-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %>（每月）</span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
		<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %>（每月）</h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	                                <td><p align="center">序号 </p></td>
	                                <td><p align="center">巡查内容 </p></td>
	                                <td><p align="center">维护时间 </p></td>
	                                <td>
	                                    <p align="center">
	                                        	巡检人 <br>
	                                        (签字)
	                                    </p>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">1</p></td>
	                                <td><p align="center" class="list_name"><%=  @titles["month_work_pro_01"]  %></p></td>
	                                <td><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= @field_values.present? ? @field_values["month_work_pro_01_value_01"] : '' %>"></td>
	                                <td><input tvbox="true"  class="form-control" id="CHACK1USERID_Text" name="CHACK1USERID_Text"  type="text" validator="required" value="<%= @field_values.present? ? @field_values["month_work_pro_01_value_02"] : '' %>" original-title=""></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">2</p></td>
	                                <td><p align="center" class="list_name"><%=  @titles["month_work_pro_02"]  %></p></td>
	                                <td><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= @field_values.present? ? @field_values["month_work_pro_02_value_01"] : '' %>"></td>
	                                <td><input tvbox="true"  class="form-control" id="CHACK2USERID_Text" name="CHACK2USERID_Text" type="text" validator="required" value="<%= @field_values.present? ? @field_values["month_work_pro_02_value_02"] : '' %>" original-title="" ></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">3</p></td>
	                                <td><p align="center" class="list_name"><%=  @titles["month_work_pro_03"]  %></p></td>
	                                <td><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= @field_values.present? ? @field_values["month_work_pro_03_value_01"] : '' %>"></td>
	                                <td><input tvbox="true"  class="form-control" id="CHACK3USERID_Text" name="CHACK3USERID_Text"  type="text" validator="required" value="<%= @field_values.present? ? @field_values["month_work_pro_03_value_02"] : '' %>" original-title="" ></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">4</p></td>
	                                <td><p align="center" class="list_name"><%=  @titles["month_work_pro_04"]  %></p></td>
	                                <td><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= @field_values.present? ? @field_values["month_work_pro_04_value_01"] : '' %>"></td>
	                                <td><input tvbox="true"  class="form-control" id="CHACK4USERID_Text" name="CHACK4USERID_Text"  type="text" validator="required" value="<%= @field_values.present? ? @field_values["month_work_pro_04_value_02"] : '' %>" original-title="" ></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">5</p></td>
	                                <td><p align="center" class="list_name"><%=  @titles["month_work_pro_05"]  %></p></td>
	                                <td><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= @field_values.present? ? @field_values["month_work_pro_05_value_01"] : '' %>"></td>
	                                <td><input tvbox="true"  class="form-control" id="CHACK5USERID_Text" name="CHACK5USERID_Text"  type="text" validator="required" value="<%= @field_values.present? ? @field_values["month_work_pro_05_value_02"] : '' %>" original-title="" ></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">6</p></td>
	                                <td><p align="center" class="list_name"><%=  @titles["month_work_pro_06"]  %></p></td>
	                                <td><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= @field_values.present? ? @field_values["month_work_pro_06_value_01"] : '' %>"></td>
	                                <td><input tvbox="true"  class="form-control" id="CHACK6USERID_Text" name="CHACK6USERID_Text"  type="text" validator="required" value="<%= @field_values.present? ? @field_values["month_work_pro_06_value_02"] : '' %>" original-title=""></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">7</p></td>
	                                <td><p align="center" class="list_name"><%=  @titles["month_work_pro_07"]  %></p></td>
	                                <td><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= @field_values.present? ? @field_values["month_work_pro_07_value_01"] : '' %>"></td>
	                                <td><input tvbox="true"  class="form-control" id="CHACK7USERID_Text" name="CHACK7USERID_Text"  type="text" value="<%= @field_values.present? ? @field_values["month_work_pro_07_value_02"] : '' %>" original-title="" ></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">8</p></td>
	                                <td><p align="center" class="list_name"><%=  @titles["month_work_pro_08"]  %></p></td>
	                                <td><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= @field_values.present? ? @field_values["month_work_pro_08_value_01"] : '' %>"></td>
	                                <td><input tvbox="true"  class="form-control" id="CHACK8USERID_Text" name="CHACK8USERID_Text"  type="text" value="<%= @field_values.present? ? @field_values["month_work_pro_08_value_02"] : '' %>" original-title=""></td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">9</p></td>
	                                <td><p align="center" class="list_name"><%=  @titles["month_work_pro_09"]  %></p></td>
	                                <td><input type="text" class="dateTimepickerH start_datetime" name="" value="<%= @field_values.present? ? @field_values["month_work_pro_09_value_01"] : '' %>"></td>
	                                <td><input tvbox="true"  class="form-control" id="CHACK9USERID_Text" name="CHACK9USERID_Text"  type="text" value="<%= @field_values.present? ? @field_values["month_work_pro_09_value_02"] : '' %>" original-title=""></td>
	                            </tr>
	                            <tr>
	                                <td colspan="4" rowspan="6" valign="top" style="text-align: left;">
	                                    <p class="pb10"><%=  @titles["Abnormal_situation"]  %></p>
	                                    <textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98.6%;"><%= @field_values.present? ? @field_values["Abnormal_situation"] : '' %></textarea>
	                                </td>
	                            </tr>
	                        </tbody>
	        			</table>
	        		</div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>