<!-- 二氧化硫监测仪器校准数据报告 -->

<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
	</div>
<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table check-list-table">
                            <tbody>
                              
                                <tr>
                                    <td style="width: 100px; text-align: right"><%=  @titles["Monitor_type"] %></td>
                                    <td style="width:200px;">
                                        
                                        <input class="width-150" id="DeviceModel" name="DeviceModel" type="text" validator="required" value="<%= @field_values.present? ? @field_values["DeviceModel"] : '' %>">
                                    </td>
                                    <td style="width: 75px; text-align: right"><%=  @titles["Serial_number"] %></td>
                                    <td>
                                        
                                        <input class="width-150" id="DeviceNumber" name="DeviceNumber" type="text" validator="required" value="<%= @field_values.present? ? @field_values["DeviceNumber"] : '' %>">
                                    </td>
                                </tr>
                                                                
                                <tr>
                                    <td style="text-align:right"><%=  @titles["Type_of_calibration_instrument"] %></td>
                                    <td>
                                        
                                        <input id="CalibrationModel" name="CalibrationModel" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CalibrationModel"] : '' %>" >
                                    </td>
                                    <td style="text-align:right"><%=  @titles["Serial_number"] %></td>
                                    <td>
                                        
                                        <input id="CalibrationNumber" name="CalibrationNumber" type="text" validator="required" value="<%= @field_values.present? ? @field_values["CalibrationNumber"] : '' %>" >
                                    </td>
                                </tr>
                                    <tr>
                                        <td><%=  @titles["SO2/N2_standard_gas_cylinder_number"] %></td>
                                        <td colspan="3">
                                            
                                            <input id="BottleNumber" name="BottleNumber" type="text" validator="required" value="<%= @field_values.present? ? @field_values["BottleNumber"] : '' %>" >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:right"><%=  @titles["SO2_nominal_concentration"] %></td>
                                        <td>
                                            
                                            <input id="StatusConcentration" name="StatusConcentration" type="text" validator="required" value="<%= @field_values.present? ? @field_values["StatusConcentration"] : '' %>">
                                            （×10<sup>-6</sup> mol/mol）
                                        </td>
                                        <td style="text-align:right"><%=  @titles["SO2/N2 standard_gas_steel_school_deadline"] %></td>
                                        <td>
                                            
                                            <input type="text" name="GasExpiryTime" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["GasExpiryTime"] : '' %>">  
                                        </td>
                                    </tr>


                                <tr>
                                    <td colspan="4">
                                        校准结果合格标准： 斜率在0.99-1.01之间；截距小于满量程浓度值的±1%；相关系数大于0.999。
                                    </td>
                                </tr>
                            </tbody>
                        </table>
	        		</div>
	        		
	        		<div class="check-list-content">
	        			<h3 class="check-second-title">仪器参数</h3>
	        			<table class="table table-bordered table-paras">
                            <tbody>
                                <tr>
                                    <td>AVG TIME</td>
                                    <td>
                                        <input class="width-150" id="AVG_TIME" name="AVG_TIME" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["AVG_TIME"] : '' %>" > <span>s</span>
                                    </td>
                                    <td>INTERNAL</td>
                                    <td>
                                        <input class="width-150" id="INTERNAL" name="INTERNAL" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["INTERNAL"] : '' %>"><span>℃</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["SO2_BKG"] %></td>
                                    <td>
                                        <input class="width-150" id="SO2_BKG" name="SO2_BKG" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["SO2_BKG"] : '' %>"><span>（×10<sup>-9</sup>mol/mol）</span>
                                    </td>
                                    <td>CHAMBER</td>
                                    <td>
                                        <input class="width-150" id="CHAMBER" name="CHAMBER" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["CHAMBER"] : '' %>" ><span>℃</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["SO2_COEF"] %></td>
                                    <td>
                                        <input class="width-150" id="SO2_COEF" name="SO2_COEF" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["SO2_COEF"] : '' %>" ><span></span>
                                    </td>
                                    <td>PRESSURE</td>
                                    <td>
                                        <input class="width-150" id="PRESSURE" name="PRESSURE" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["PRESSURE"] : '' %>"><span>（×133.32Pa）</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>PMT VOIT</td>
                                    <td>
                                        <input class="width-150" id="PMT_VOLT" name="PMT_VOLT" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["PMT_VOLT"] : '' %>" ><span>V</span>
                                    </td>
                                    <td>FLOW</td>
                                    <td>
                                        <input class="width-150" id="FLOW" name="FLOW" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["FLOW"] : '' %>"><span>l/min</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><%=  @titles["LAMP_VOIT"] %></td>
                                    <td>
                                        <input class="width-150" id="LAMP_VOLT" name="LAMP_VOLT" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["LAMP_VOLT"] : '' %>"><span>V</span>
                                    </td>
                                    <td><%=  @titles["INTENSITY"] %></td>
                                    <td>
                                        <input class="width-150" id="INTENSITY" name="INTENSITY" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["INTENSITY"] : '' %>"><span>V</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">校准记录</h3>
                        <table class="table table-bordered cal-record">
                            <tbody>
                                <tr>
                                    <td>序号</td>
                                    <td>配气浓度（×10<sup>-9</sup> mol/mol）</td>
                                    <td>显示浓度（×10<sup>-9</sup> mol/mol）</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <input class="width-150" id="StatusGasFirst" name="StatusGasFirst" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasFirst"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasFirst" name="ShowGasFirst" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasFirst"] : '' %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <input class="width-150" id="StatusGasSecond" name="StatusGasSecond" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasSecond"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasSecond" name="ShowGasSecond" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasSecond"] : '' %>" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <input class="width-150" id="StatusGasThird" name="StatusGasThird" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasThird"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasThird" name="ShowGasThird" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasThird"] : '' %>" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <input class="width-150" id="StatusGasFourth" name="StatusGasFourth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasFourth"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasFourth" name="ShowGasFourth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasFourth"] : '' %>" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <input class="width-150" id="StatusGasFifth" name="StatusGasFifth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasFifth"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasFifth" name="ShowGasFifth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasFifth"] : '' %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        <input class="width-150" id="StatusGasSixth" name="StatusGasSixth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasSixth"] : '' %>" >
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasSixth" name="ShowGasSixth" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasSixth"] : '' %>" >
                                    </td>
                                </tr>
                                <tr>
                                <td>7</td>
                                    <td>
                                        <input class="width-150" id="StatusGasSeventh" name="StatusGasSeventh" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["StatusGasSeventh"] : '' %>">
                                    </td>
                                    <td>
                                        <input class="width-150" id="ShowGasSeventh" name="ShowGasSeventh" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["ShowGasSeventh"] : '' %>">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="check-list-content">
                        <h3 class="check-second-title">校准结果</h3>
                        <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                    <td><%=  @titles["slope"]  %></td>
                                    <td>
                                     
                                        <input class="width-150" id="SlopeValue" name="SlopeValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["SlopeValue"] : '' %>" >
                                    </td>
                                    <td><%=  @titles["offset"]  %></td>
                                    <td>
                                       
                                        <input class="width-150" id="InterceptValue" name="InterceptValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["InterceptValue"] : '' %>" >
                                    </td>
                                    <td><%=  @titles["correlation_coefficient"]  %></td>
                                    <td>
                                    
                                        <input class="width-150" id="CorrelationCofficientValue" name="CorrelationCofficientValue" type="text" validator="required,double" value="<%= @field_values.present? ? @field_values["CorrelationCofficientValue"] : '' %>">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["Operation_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" value="<%=@handle_man %>" validator="required" original-title=""></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["Check_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@calibs_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["date"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@calibs_time %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>