<!--站点巡检记录每周-->
<p class="modalID hide"><%= @form_module.id%></p>
<p class="hide jobStatus"></p>

	    	<div class="navTop">
				<span class="lines"></span>
				<span class="tableName"><%=  @form_module.name  %>（每周）</span>
				<button class="btn btn-default"  id="Back" type="button">返回</button>
				<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
			</div>
	<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"> <%=  @form_module.name  %>（每周）</h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="3">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
	        					<tr>
	                                <td><p>序号 </p></td>
	                                <td colspan="2"><p style="text-align: left;">巡查内容 </p>     </td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">　 </p></td>
	                                <td colspan="2"><p style="text-align: left;"><strong>站房外部及周边</strong><strong> </strong></p></td>
	                            </tr>
	                         	<tr>
	                           
	                                <td>1</td>
	                                
	                                <td><p style="text-align: left;"><%= @titles["station_outside_01"] %> </p></td>
	                                <td>
	                                
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="outside1" <%=  @field_values.present? && @field_values["station_outside_01"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_01" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside1" <%=  @field_values.present? && @field_values["station_outside_01"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_01" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside1" <%=  @field_values.present? ? @field_values["station_outside_01"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_outside_01" type="radio" value="-1">无</label>
	                                    </span>
	                                </td>
	                            </tr>
	                           
	                            <tr>
	                                <td>2</td>
	                                <td><p style="text-align: left;"><%= @titles["station_outside_02"] %> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="outside2" <%=  @field_values.present? && @field_values["station_outside_02"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_02" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside2" <%=  @field_values.present? && @field_values["station_outside_02"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_02" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside2" <%=  @field_values.present? ? @field_values["station_outside_02"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_outside_02" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>3</td>
	                                <td><p style="text-align: left;"><%= @titles["station_outside_03"] %> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="outside3" <%=  @field_values.present? && @field_values["station_outside_03"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_03" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside3" <%=  @field_values.present? && @field_values["station_outside_03"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_03" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside3" <%=  @field_values.present? ? @field_values["station_outside_03"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_outside_03" type="radio" value="-1">无</label>
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>4</td>
	                                <td><p style="text-align: left;"><%= @titles["station_outside_04"] %></p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="outside4" <%=  @field_values.present? && @field_values["station_outside_04"] == '0' ?  'checked="checked"'.html_safe  :  '' %>  name="station_outside_04" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside4" <%=  @field_values.present? && @field_values["station_outside_04"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_04" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside4" <%=  @field_values.present? ? @field_values["station_outside_04"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_outside_04" type="radio" value="-1">无</label>
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>5</td>
	                                <td><p style="text-align: left;"><%= @titles["station_outside_05"] %></p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="outside5" <%=  @field_values.present? && @field_values["station_outside_05"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_05" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside5" <%=  @field_values.present? && @field_values["station_outside_05"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_05" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside5" <%=  @field_values.present? ? @field_values["station_outside_05"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_outside_05" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>6</td>
	                                <td><p style="text-align: left;"><%= @titles["station_outside_06"] %></p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="outside6" <%=  @field_values.present? && @field_values["station_outside_06"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_06" type="radio" value="0" >合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside6" <%=  @field_values.present? && @field_values["station_outside_06"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_06" type="radio" value="1" >不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside6" <%=  @field_values.present? ? @field_values["station_outside_06"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_outside_06" type="radio" value="-1" >无</label>
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>7</td>
	                                <td><p style="text-align: left;"><%= @titles["station_outside_07"] %> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="outside7" <%=  @field_values.present? && @field_values["station_outside_07"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_07" type="radio" value="0" >合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside7" <%=  @field_values.present? && @field_values["station_outside_07"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_07" type="radio" value="1" >不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside7" <%=  @field_values.present? ? @field_values["station_outside_07"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_outside_07" type="radio" value="-1" >无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>8</td>
	                                <td><p style="text-align: left;"><%= @titles["station_outside_08"] %> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="outside8" <%=  @field_values.present? && @field_values["station_outside_08"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_08" type="radio" value="0" >合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside8" <%=  @field_values.present? && @field_values["station_outside_08"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_outside_08" type="radio" value="1" >不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="outside8" <%=  @field_values.present? ? @field_values["station_outside_08"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_outside_08" type="radio" value="-1" >无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><p align="center">　 </p></td>
	                                <td colspan="2"><p style="text-align: left;"><strong>站房内部</strong><strong> </strong></p></td>
	                            </tr>
	                            <tr>
	                                <td>1</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_01"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside1" <%=  @field_values.present? && @field_values["station_inside_01"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_01" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside1" <%=  @field_values.present? && @field_values["station_inside_01"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_01" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside1" <%=  @field_values.present? ? @field_values["station_inside_01"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_01" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>2</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_02"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside2" <%=  @field_values.present? && @field_values["station_inside_02"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_02" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside2" <%=  @field_values.present? && @field_values["station_inside_02"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_02" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside2" <%=  @field_values.present? ? @field_values["station_inside_02"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_02" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>3</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_03"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside3" <%=  @field_values.present? && @field_values["station_inside_03"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_03" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside3" <%=  @field_values.present? && @field_values["station_inside_03"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_03" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside3" <%=  @field_values.present? ? @field_values["station_inside_03"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_03" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>4</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_04"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside4" <%=  @field_values.present? && @field_values["station_inside_04"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_04" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside4" <%=  @field_values.present? && @field_values["station_inside_04"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_04" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside4" <%=  @field_values.present? ? @field_values["station_inside_04"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_04" type="radio" value="-1">无</label>
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>5</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_05"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside5" <%=  @field_values.present? && @field_values["station_inside_05"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_05" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside5" <%=  @field_values.present? && @field_values["station_inside_05"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_05" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside5" <%=  @field_values.present? ? @field_values["station_inside_05"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_05" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>6</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_06"]%></p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside6" <%=  @field_values.present? && @field_values["station_inside_06"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_06" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside6" <%=  @field_values.present? && @field_values["station_inside_06"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_06" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside6" <%=  @field_values.present? ? @field_values["station_inside_06"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_06" type="radio" value="-1">无</label>
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>7</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_07"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside7" <%=  @field_values.present? && @field_values["station_inside_07"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_07" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside7" <%=  @field_values.present? && @field_values["station_inside_07"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_07" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside7" <%=  @field_values.present? ? @field_values["station_inside_07"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_07" type="radio" value="-1">无</label>
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>8</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_08"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside8" <%=  @field_values.present? && @field_values["station_inside_08"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_08" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside8" <%=  @field_values.present? && @field_values["station_inside_08"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_08" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside8" <%=  @field_values.present? ? @field_values["station_inside_08"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_08" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>9</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_09"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside9" <%=  @field_values.present? && @field_values["station_inside_09"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_09" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside9" <%=  @field_values.present? && @field_values["station_inside_09"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_09" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside9" <%=  @field_values.present? ? @field_values["station_inside_09"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_09" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>10</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_10"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside10" <%=  @field_values.present? && @field_values["station_inside_10"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_10" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside10" <%=  @field_values.present? && @field_values["station_inside_10"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_10" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside10" <%=  @field_values.present? ? @field_values["station_inside_10"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_10" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>11</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_11"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside11" <%=  @field_values.present? && @field_values["station_inside_11"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_11" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside11" <%=  @field_values.present? && @field_values["station_inside_11"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_11" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside11"  <%=  @field_values.present? ? @field_values["station_inside_11"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_11" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>12</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_12"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside12" <%=  @field_values.present? && @field_values["station_inside_12"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_12" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside12" <%=  @field_values.present? && @field_values["station_inside_12"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_12" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside12" <%=  @field_values.present? ? @field_values["station_inside_12"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_12" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>13</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_13"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside13" <%=  @field_values.present? && @field_values["station_inside_13"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_13" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside13" <%=  @field_values.present? && @field_values["station_inside_13"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_13" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside13" <%=  @field_values.present? ? @field_values["station_inside_13"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_13" type="radio" value="-1">无</label>
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>14</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_14"]%></p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside14" <%=  @field_values.present? && @field_values["station_inside_14"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_14" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside14" <%=  @field_values.present? && @field_values["station_inside_14"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_14" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside14" <%=  @field_values.present? ? @field_values["station_inside_14"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_14" type="radio" value="-1">无</label>
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>15</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_15"]%></p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside15" <%=  @field_values.present? && @field_values["station_inside_15"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_15" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside15" <%=  @field_values.present? && @field_values["station_inside_15"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_15" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside15" <%=  @field_values.present? ? @field_values["station_inside_15"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_15" type="radio" value="-1">无</label>
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td>16</td>
	                                <td><p style="text-align: left;"><%= @titles["station_inside_16"]%> </p></td>
	                                <td>
	                                    <span class="select-check-box">
	                                        <label class="checkbox-radio"><input id="inside16" <%=  @field_values.present? && @field_values["station_inside_16"] == '0' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_16" type="radio" value="0">合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside16" <%=  @field_values.present? && @field_values["station_inside_16"] == '1' ?  'checked="checked"'.html_safe  :  '' %> name="station_inside_16" type="radio" value="1">不合格</label>&nbsp;&nbsp;
	                                        <label class="checkbox-radio"><input id="inside16" <%=  @field_values.present? ? @field_values["station_inside_16"] == '-1' ?  'checked="checked"'.html_safe  :  ''  : 'checked="checked"'.html_safe %> name="station_inside_16" type="radio" value="-1">无</label> 
	                                    </span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td colspan="3" valign="top">
	                                    <p style="text-align: left;margin-bottom: 5px;"><%= @titles["abnormal_handle_instructions"] %> </p>
	                                    <textarea cols="20"  id="remark" name="abnormal_handle_instructions" rows="2" style="text-align: left;padding: 5px;min-height: 50px;min-width: 98%;"><%= @field_values.present? ? @field_values["abnormal_handle_instructions"] : '' %></textarea>
	                                </td>
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
	    </div>
	</div>
