<!--能见度分析仪校准记录表（每半年）-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
    </div>
    <div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %></h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered" border="1">
	        				<tbody>
	        					<tr>
	        						<td colspan="11">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
	                                <td><p align="center" class="list_name"><%=  @titles["instrument_model"]  %></p></td>
	                                <td colspan="3"><input id="DEVICEMODEL" name="DEVICEMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["instrument_model"] : '' %>" ></td>
	                                <td colspan="3"><p class="list_name"><%=  @titles["instrument_code"]  %></p></td>
	                                <td colspan="2"><input id="DEVICECODE" name="DEVICECODE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["instrument_code"] : '' %>" ></td>
	                                <td><p class="list_name"><%=  @titles["check_date"]  %></p></td>
	                                <td><input type="text" class="dateTimepicker create_datetime" value="<%= @field_values.present? ? @field_values["check_date"] : '' %>"></td>
	                            </tr>
	                            
	                            <tr>
	                                <td rowspan="2">
	                                    <p align="center">
	                                        	环境条件
	                                    </p>
	                                </td>
	                                <td colspan="2"><p align="center" class="list_name"><%=  @titles["Temperature"]  %></p></td>
	                                <td colspan="3"><input class="" id="TEMP" name="TEMP" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Temperature"] : '' %>"></td>
	                                <td colspan="2"><p align="center" class="list_name"><%=  @titles["humidity"]  %></p></td>
	                                <td colspan="2"><input class="" id="DAMP" name="DAMP" type="text" validator="required" value="<%= @field_values.present? ? @field_values["humidity"] : '' %>"></td>
	                                <td></td>
	                            </tr>
	                            <tr>
	                                <td colspan="2"><p align="center" class="list_name"><%=  @titles["atmospheric_pressure"]  %></p></td>
	                                <td colspan="3"><input class="" id="ATMO" name="ATMO" type="text" validator="required" value="<%= @field_values.present? ? @field_values["atmospheric_pressure"] : '' %>"></td>
	                                <td colspan="2"><p align="center" class="list_name"><%=  @titles["Current_visibility"]  %></p></td>
	                                <td><input class="" id="NJD" name="NJD" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Current_visibility"] : '' %>"></td>
	                                <td ><p align="center" class="list_name"><%=  @titles["other"]  %></p></td>
	                                <td><input class="" id="OTHERVALUE" name="OTHERVALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["other"] : '' %>"></td>
	                            </tr>
                               
	                           <tr>
                                   <td rowspan="2"><p align="center">校验所用设备 </p></td>
                                   <td colspan="2"><p align="center" class="list_name">校准板型号 </p></td>
                                   <td colspan="3"><input id="DEMODEL" name="DEMODEL" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Calibration_plate_type"] : '' %>" ></td> 
                                   <td colspan="2"><p align="center" class="list_name">消光系数 </p></td>
                                   <td colspan="3"><input id="DEXISHU" name="DEXISHU" type="text" validator="required" value="<%= @field_values.present? ? @field_values["Extinction_coefficient"] : '' %>" ></td>
                                </tr>
                                <tr>
                                	<td colspan="2"><p align="center" class="list_name">不确定度 </p></td>
                                	<td colspan="9"><input id="DEBQDD" class="form-control" name="DEBQDD" type="text" validator="required" value="<%= @field_values.present? ? @field_values["The_uncertainty"] : '' %>" ></td>
                                	
                                </tr>
	                            <tr>
	                                <td rowspan="3">
	                                    <p align="center">
	                                        	标准 <br>
	                                        	校验
	                                    </p>
	                                </td>
	                                <td colspan="2"><p align="center">内容 </p></td>
	                                <td colspan="3"><p align="center">校验结果 </p></td>
	                                <td colspan="2"><p align="center">标准要求 </p></td>
	                                <td colspan="2"><p align="center">误差要求 </p></td>
	                                <td><p align="center">是否合格 </p></td>
	                            </tr>
	                            <tr>
	                                <td colspan="2"><p align="center" class="list_name2"><%=  @titles["zero"]  %></p></td>
	                                <td colspan="3"><input class="input-sm check_value1" id="JIAOYAN1VALUE" name="JIAOYAN1VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["zero_value_01"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm check_value2" id="BIAOZHUN1VALUE" name="BIAOZHUN1VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["zero_value_02"] : '' %>" ></td>
	                                <td colspan="2" rowspan="2"><p align="center">≤±10%</p></td>
	                                <td><input class="input-sm check_value3" id="ISOK1VALUE" name="ISOK1VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["zero_value_03"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td colspan="2"><p align="center" class="list_name2"><%=  @titles["punctuation"]  %></p></td>
	                                <td colspan="3"><input class="input-sm check_value1" id="JIAOYAN2VALUE" name="JIAOYAN2VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["punctuation_value_01"] : '' %>" ></td>
	                                <td colspan="2"><input class="input-sm check_value2" id="BIAOZHUN2VALUE" name="BIAOZHUN2VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["punctuation_value_02"] : '' %>" ></td>
	                                <td><input class="input-sm check_value3" id="ISOK2VALUE" name="ISOK2VALUE" type="text" validator="required" value="<%= @field_values.present? ? @field_values["punctuation_value_03"] : '' %>" ></td>
	                            </tr>
	                            <tr>
	                                <td colspan="2"><p align="center" class="list_name"><%=  @titles["Check_the_conclusion"]  %></p></td>
	                                <td colspan="9"><textarea cols="20" id="JIAOZHUNRESULT" name="JIAOZHUNRESULT" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98.6%;" ><%= @field_values.present? ? @field_values["Check_the_conclusion"] : '' %></textarea></td>
	                            </tr>
	                            <tr>
	                                <td colspan="2"><p align="center" class="list_name"><%=  @titles["note"]  %></p></td>
	                                <td colspan="9"><textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98.6%;"><%= @field_values.present? ? @field_values["note"] : '' %></textarea></td>
	                            </tr>
	                            <tr>
	                                <td colspan="11"><p>注：如当前能见度小于10KM，或恶劣气象条件时，则视为不具备校准条件。 </p></td>
	                            </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		<div class="check-list-content" id="supplyEdit">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                        <td width="10%">操作</td>
			                    </tr>
			                </thead>
			                <tbody>
								
			                </tbody>
			            </table>
			            <table id="supplyDemo" class="table table-bordered">
					        <tbody>
					        	<tr>
						            <td width="25%">
						            	<input type="text" id="ITEMID" name="ITEMID" />
						            </td>
						           <td width="25%">
						                <input class="form-control"  id="supplyCode" name="supplyCode" type="text" value="">
						            </td>
						            <td class="supcon">
						            	<input id="files" type="file" name="supplyPrvid" value="supplyPrvid" onchange="previewImage2(this,this.name)" multiple="multiple">
						            	<div id="supplyPrvid"></div>
						            </td>
						            
						            <td width="10%">
						                <!--<a href="javascript:void(0);" onclick="fuAdd(this)" style="display:none;"><img src=""></a>-->
						                <a href="javascript:void(0);" onclick="fuMin(this)">删除</a>
						            </td>
						        </tr>
								
						        <tr>
						            <td colspan="6">
						                <a class="btn btn-default" onclick="fuAdd(this)" id="addLine" href="javascript:void(0);" target="_self" trbutton="btnDelete">
						                    	添加一行
						                </a>
						            </td>
						        </tr>
					    	</tbody>
					    </table>
	        		</div>
	        		<div class="check-list-content" id="supplyLook">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td width="25%">耗材名称</td>
			                        <td width="25%">数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
								<% @f_module_images.each_with_index do |f,index| %>
								<tr>
									<td><%= f["cons_name"] %></td>
									<td><%= f["num"] %></td>
									<td><img src="<%= f["img_one"] %>"></td>
								</tr>
								 <% end %>
			
			                </tbody>
			            </table>
			        </div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title="" value="<%=@handle_man %>"></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="<%=@review_man %>" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="<%=@audit_man %>" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>