<!--称重记录表-->
<p class="modalID hide"><%= @form_module.id%></p>

<div class="navTop">
	<span class="lines"></span>
	<span class="tableName"><%= @form_module.name  %></span>
	<button class="btn btn-default" id="Back" type="button">返回</button>
	<button class="btn  btn-primary" id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
</div>
	<div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"> 称量记录表</h1>
					<div class="check-list-content">
                        <table class="table table-bordered">
                            
                            <tbody><tr>
                                <td>日期</td>
                                <td><input datebox="true" class="dateTimepicker create_datetime" id="CHECKDATE" name="CHECKDATE"  type="text" style="" value="<%= @field_values.present? ? @field_values["CHECKDATE"] : '' %>"></td>
                                <td valign="bottom">地点</td>
                                <td><input class="input" id="ADDRESS" name="ADDRESS" type="text" value="<%= @field_values.present? ? @field_values["ADDRESS"] : '' %>" ></td>
                            </tr>
                            <tr>
                                <td>天平型号</td>
                                <td><input class="input" id="BALANCEMODEL" name="BALANCEMODEL" type="text" value="<%= @field_values.present? ? @field_values["BALANCEMODEL"] : '' %>" ></td>
                                <td valign="bottom">天平编号</td>
                                <td><input class="input" id="BALANCECODE" name="BALANCECODE" type="text" value="<%= @field_values.present? ? @field_values["BALANCECODE"] : '' %>" ></td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="bottom">
                                    <p>滤膜材质</p>
                                    <p><input class="input" id="MEMBRANEMATERIAL" name="MEMBRANEMATERIAL" type="text" value="<%= @field_values.present? ? @field_values["MEMBRANEMATERIAL"] : '' %>" ></p>
                                </td>
                                <td colspan="1" valign="bottom">
                                    <p>采样滤膜编号</p>
                                    <p><input class="input" id="SAMPLINGMEMBRANECODE" name="SAMPLINGMEMBRANECODE" type="text" value="<%= @field_values.present? ? @field_values["SAMPLINGMEMBRANECODE"] : '' %>" ></p>
                                </td>
                                <td colspan="1" valign="bottom">
                                    <p>空白滤膜编号</p>
                                    <p><input class="input" id="EMPTYMEMBRANECODE" name="EMPTYMEMBRANECODE" type="text" value="<%= @field_values.present? ? @field_values["EMPTYMEMBRANECODE"] : '' %>" ></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" rowspan="3"><p align="center">标准滤膜检查<u> </u></p></td>
                                <td valign="bottom"><p>标准滤膜编号 <input class="input" id="STANDARDMEMBRANECODE" name="STANDARDMEMBRANECODE" type="text" value="<%= @field_values.present? ? @field_values["STANDARDMEMBRANECODE"] : '' %>" ></p></td>
                                <td><p align="center">检查结论 </p></td>
                            </tr>
                            <tr>
                                <td valign="bottom"><p>标准滤膜原始质量 <input class="input" id="MEMBRANEQUALITY1" name="MEMBRANEQUALITY1" type="text" value="<%= @field_values.present? ? @field_values["MEMBRANEQUALITY1"] : '' %>" >mg</p></td>
                                <td rowspan="2" valign="bottom">
                                    <label class="checkbox-radio">
                                        <input <%=  @field_values.present? && @field_values["CKCONCLUSION"] == '1' ?  'checked="checked"'.html_safe  :  '' %>  data-val="true" data-val-number="字段 CKCONCLUSION 必须是一个数字。" data-val-required="CKCONCLUSION 字段是必需的。" id="CKCONCLUSION" name="CKCONCLUSION" type="radio" value="1" > 合格
                                    </label>
                                    <label class="checkbox-radio">
                                        <input <%=  @field_values.present? && @field_values["CKCONCLUSION"] == '0' ?  'checked="checked"'.html_safe  :  '' %> id="CKCONCLUSION" name="CKCONCLUSION" type="radio" value="0" > 不合格
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td valign="bottom"><p>标准滤膜本次称量质量 <input class="input" id="MEMBRANEQUALITY2" name="MEMBRANEQUALITY2" type="text" value="<%= @field_values.present? ? @field_values["MEMBRANEQUALITY2"] : '' %>">mg </p></td>
                            </tr>
                            <tr>
                                <td colspan="2" rowspan="5"><p>采样前滤膜第一次平衡条件 </p></td>
                            </tr>


                            <tr>
                                <td colspan="1" valign="bottom">
                                    <p>温度(单位:℃)</p>
                                </td>
                                <td colspan="2" valign="bottom">
                                    <p><input class="input" id="HFIRSTTEMP" name="HFIRSTTEMP" type="text" value="<%= @field_values.present? ? @field_values["HFIRSTTEMP"] : '' %>" ></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom">
                                    <p>湿度(单位：%RH)</p>
                                </td>
                                <td colspan="2" valign="bottom">
                                    <p><input class="input" id="HFIRSTTHUMIDITY" name="HFIRSTTHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["HFIRSTTHUMIDITY"] : '' %>" ></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom"><p>开始日期时间：</p></td>
                                <td colspan="2" valign="bottom"><input datebox="true" class="dateTimepickerH start_datetime" id="HFIRSTSTARTDATE" name="HFIRSTSTARTDATE"  type="text" style="" value="<%= @field_values.present? ? @field_values["HFIRSTSTARTDATE"] : '' %>"></td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom"><p>结束日期时间： </p></td>
                                <td colspan="2" valign="bottom"><input datebox="true" class="dateTimepickerH end_datetime" id="HFIRSTENDDATE" name="HFIRSTENDDATE" type="text" style="" value="<%= @field_values.present? ? @field_values["HFIRSTENDDATE"] : '' %>"></td>
                            </tr>



                            <tr>
                                <td colspan="2" valign="bottom"><p>采样前滤膜第一次质量 <input class="input" id="HMBFIRSTQUALITY" name="HMBFIRSTQUALITY" type="text" value="<%= @field_values.present? ? @field_values["HMBFIRSTQUALITY"] : '' %>" >mg</p></td>
                                <td colspan="1" valign="bottom"><p>天平室温度 <input class="input" id="HMBBRFIRSTTEMP" name="HMBBRFIRSTTEMP" type="text" value="<%= @field_values.present? ? @field_values["HMBBRFIRSTTEMP"] : '' %>" >℃</p></td>
                                <td colspan="1" valign="bottom"><p>天平室湿度 <input class="input" id="HMBBRFIRSTHUMIDITY" name="HMBBRFIRSTHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["HMBBRFIRSTHUMIDITY"] : '' %>" >%RH</p></td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="bottom"><p>采样前空白滤膜第一次质量 <input class="input" id="HEMFIRSTQUALITY" name="HEMFIRSTQUALITY" type="text" value="<%= @field_values.present? ? @field_values["HEMFIRSTQUALITY"] : '' %>" >mg</p></td>
                                <td colspan="1" valign="bottom"><p>天平室温度 <input class="input" id="HEMBRFIRSTTEMP" name="HEMBRFIRSTTEMP" type="text" value="<%= @field_values.present? ? @field_values["HEMBRFIRSTTEMP"] : '' %>" >℃</p></td>
                                <td colspan="1" valign="bottom"><p>天平室湿度 <input class="input" id="HEMBRFIRSTHUMIDITY" name="HEMBRFIRSTHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["HEMBRFIRSTHUMIDITY"] : '' %>" >%RH</p></td>
                            </tr>
                            <tr>
                                <td colspan="2" rowspan="5"><p>采样前滤膜第二次平衡条件 </p></td>

                            </tr>

                            <tr>
                                <td colspan="1" valign="bottom">
                                    <p>温度(单位:℃)</p>
                                </td>
                                <td colspan="2" valign="bottom">
                                    <p><input class="input" id="HSECONDTEMP" name="HSECONDTEMP" type="text" value="<%= @field_values.present? ? @field_values["HSECONDTEMP"] : '' %>" ></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom">
                                    <p>湿度(单位：%RH)</p>
                                </td>
                                <td colspan="2" valign="bottom">
                                    <p><input class="input" id="HSECONDTHUMIDITY" name="HSECONDTHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["HSECONDTHUMIDITY"] : '' %>" ></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom"><p>开始日期时间：</p></td>
                                <td colspan="2" valign="bottom"><input datebox="true" class="dateTimepickerH" id="HSECONDSTARTDATE" name="HSECONDSTARTDATE"  type="text" style="" value="<%= @field_values.present? ? @field_values["HSECONDSTARTDATE"] : '' %>"></td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom"><p>结束日期时间：</p></td>
                                <td colspan="2" valign="bottom"><input datebox="true" class="dateTimepickerH" id="HSECONDENDDATE" name="HSECONDENDDATE"  type="text" style="" value="<%= @field_values.present? ? @field_values["HSECONDENDDATE"] : '' %>" ></td>
                            </tr>


                            <tr>
                                <td colspan="2" valign="bottom"><p>采样前滤膜第二次质量 <input class="input" id="HMBSECONDQUALITY" name="HMBSECONDQUALITY" type="text" value="<%= @field_values.present? ? @field_values["HMBSECONDQUALITY"] : '' %>">mg</p></td>
                                <td colspan="1" valign="bottom"><p>天平室温度 <input class="input" id="HMBBRSECONDTEMP" name="HMBBRSECONDTEMP" type="text" value="<%= @field_values.present? ? @field_values["HMBBRSECONDTEMP"] : '' %>" >℃</p></td>
                                <td colspan="1" valign="bottom"><p>天平室湿度 <input class="input" id="HMBBRSECONDHUMIDITY" name="HMBBRSECONDHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["HMBBRSECONDHUMIDITY"] : '' %>" >%RH</p></td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="bottom"><p>采样前空白滤膜第二次质量 <input class="input" id="HEMSECONDQUALITY" name="HEMSECONDQUALITY" type="text" value="<%= @field_values.present? ? @field_values["HEMSECONDQUALITY"] : '' %>" >mg</p></td>
                                <td colspan="1" valign="bottom"><p>天平室温度 <input class="input" id="HEMBRSECONDTEMP" name="HEMBRSECONDTEMP" type="text" value="<%= @field_values.present? ? @field_values["HEMBRSECONDTEMP"] : '' %>" >℃</p></td>
                                <td colspan="1" valign="bottom"><p>天平室湿度 <input class="input" id="HEMBRSECONDHUMIDITY" name="HEMBRSECONDHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["HEMBRSECONDHUMIDITY"] : '' %>" >%RH</p></td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="bottom"><p>采样前两次滤膜称量平均值(单位：mg)：</p></td>
                                <td colspan="2" valign="bottom"><p><input class="input" id="HMBAVG" name="HMBAVG" type="text" value="<%= @field_values.present? ? @field_values["HMBAVG"] : '' %>" ></p></td>
                            </tr>

                            <tr>
                                <td colspan="2" valign="bottom"><p>采样前两次空白滤膜称量平均值(单位：mg)：</p></td>
                                <td colspan="2" valign="bottom"><p><input class="input" id="HEMAVG" name="HEMAVG" type="text" value="<%= @field_values.present? ? @field_values["HEMAVG"] : '' %>" ></p></td>
                            </tr>
                            <tr>
                                <td rowspan="5"><p>采样后滤膜第一次平衡条件 </p></td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom">
                                    <p>温度(单位:℃)</p>
                                </td>
                                <td colspan="2" valign="bottom">
                                    <p><input class="input" id="BFIRSTTEMP" name="BFIRSTTEMP" type="text" value="<%= @field_values.present? ? @field_values["BFIRSTTEMP"] : '' %>" ></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom">
                                    <p>湿度(单位：%RH)</p>
                                </td>
                                <td colspan="2" valign="bottom">
                                    <p><input class="input" id="BFIRSTTHUMIDITY" name="BFIRSTTHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["BFIRSTTHUMIDITY"] : '' %>" ></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom"><p>开始日期时间：</p></td>
                                <td colspan="2" valign="bottom"><input datebox="true" class="dateTimepickerH" id="BFIRSTSTARTDATE" name="BFIRSTSTARTDATE" type="text" style="" value="<%= @field_values.present? ? @field_values["BFIRSTSTARTDATE"] : '' %>" ></td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom"><p>结束日期时间： </p></td>
                                <td colspan="2" valign="bottom"><input datebox="true" class="dateTimepickerH" id="BFIRSTENDDATE" name="BFIRSTENDDATE"  type="text" style="" value="<%= @field_values.present? ? @field_values["BFIRSTENDDATE"] : '' %>" ></td>
                            </tr>


                            <tr>
                                <td colspan="1" valign="bottom"><p>采样后滤膜第一次称量 <input class="input" id="BMBFIRSTQUALITY" name="BMBFIRSTQUALITY" type="text" value="<%= @field_values.present? ? @field_values["BMBFIRSTQUALITY"] : '' %>" >mg</p></td>
                                <td colspan="1" valign="bottom"><p>天平室温度 <input class="input" id="BMBBRFIRSTTEMP" name="BMBBRFIRSTTEMP" type="text" value="<%= @field_values.present? ? @field_values["BMBBRFIRSTTEMP"] : '' %>" >℃</p></td>
                                <td colspan="1" valign="bottom"><p>天平室湿度 <input class="input" id="BMBBRFIRSTHUMIDITY" name="BMBBRFIRSTHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["BMBBRFIRSTHUMIDITY"] : '' %>" >%RH</p></td>
                                <td colspan="1" valign="bottom"><p>&nbsp;称量时间 <input datebox="true" class="dateTimepickerH" id="BMBFIRSTTIME" name="BMBFIRSTTIME" type="text" style="" value="<%= @field_values.present? ? @field_values["BMBFIRSTTIME"] : '' %>"></p></td>
                            </tr>


                            <tr>
                                <td colspan="1" valign="bottom"><p>采样后空白滤膜第一次称量 <input class="input" id="BEMFIRSTQUALITY" name="BEMFIRSTQUALITY" type="text" value="<%= @field_values.present? ? @field_values["BEMFIRSTQUALITY"] : '' %>" >mg</p></td>
                                <td colspan="1" valign="bottom"><p>天平室温度 <input class="input" id="BEMBRFIRSTTEMP" name="BEMBRFIRSTTEMP" type="text" value="<%= @field_values.present? ? @field_values["BEMBRFIRSTTEMP"] : '' %>" >℃</p></td>
                                <td colspan="1" valign="bottom"><p>天平室湿度 <input class="input" id="BEMBRFIRSTHUMIDITY" name="BEMBRFIRSTHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["BEMBRFIRSTHUMIDITY"] : '' %>" >%RH</p></td>
                                <td colspan="1" valign="bottom"><p>&nbsp;称量时间 <input datebox="true" class="dateTimepickerH" id="BEMFIRSTTIME" name="BEMFIRSTTIME"  type="text" style="" value="<%= @field_values.present? ? @field_values["BEMFIRSTTIME"] : '' %>"></p></td>
                            </tr>


                            <tr>
                                <td rowspan="5"><p>采样后滤膜第二次平衡条件 </p></td>
                            </tr>

                            <tr>
                                <td colspan="1" valign="bottom">
                                    <p>温度(单位:℃)</p>
                                </td>
                                <td colspan="2" valign="bottom">
                                    <p><input class="input" id="BSECONDTEMP" name="BSECONDTEMP" type="text" value="<%= @field_values.present? ? @field_values["BSECONDTEMP"] : '' %>" ></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom">
                                    <p>湿度(单位：%RH)</p>
                                </td>
                                <td colspan="2" valign="bottom">
                                    <p><input class="input" id="BSECONDTHUMIDITY" name="BSECONDTHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["BSECONDTHUMIDITY"] : '' %>" ></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom"><p>开始日期时间：</p></td>
                                <td colspan="2" valign="bottom"><input datebox="true" class="dateTimepickerH" id="BSECONDSTARTDATE" name="BSECONDSTARTDATE"  type="text" style="" value="<%= @field_values.present? ? @field_values["BSECONDSTARTDATE"] : '' %>" ></td>
                            </tr>
                            <tr>
                                <td colspan="1" valign="bottom"><p>结束日期时间： </p></td>
                                <td colspan="2" valign="bottom"><input datebox="true" class="dateTimepickerH" id="BSECONDENDDATE" name="BSECONDENDDATE" type="text" style="" value="<%= @field_values.present? ? @field_values["BSECONDENDDATE"] : '' %>" ></td>
                            </tr>


                            <tr>
                                <td colspan="1" valign="bottom"><p>采样后滤膜第二次称量 <input class="input" id="BMBSECONDQUALITY" name="BMBSECONDQUALITY" type="text" value="<%= @field_values.present? ? @field_values["BMBSECONDQUALITY"] : '' %>" >mg</p></td>
                                <td colspan="1" valign="bottom"><p>天平室温度 <input class="input" id="BMBBRSECONDTEMP" name="BMBBRSECONDTEMP" type="text" value="<%= @field_values.present? ? @field_values["BMBBRSECONDTEMP"] : '' %>" >℃</p></td>
                                <td colspan="1" valign="bottom"><p>天平室湿度 <input class="input" id="BMBBRSECONDHUMIDITY" name="BMBBRSECONDHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["BMBBRSECONDHUMIDITY"] : '' %>" >%RH</p></td>
                                <td colspan="1" valign="bottom"><p>&nbsp;称量时间 <input datebox="true" class="dateTimepickerH" id="BMBSECONDTIME" name="BMBSECONDTIME"  type="text" style="" value="<%= @field_values.present? ? @field_values["BMBSECONDTIME"] : '' %>" ></p></td>
                            </tr>


                            <tr>
                                <td colspan="1" valign="bottom"><p>采样后空白滤膜第二次称量 <input class="input" id="BEMSECONDQUALITY" name="BEMSECONDQUALITY" type="text" value="<%= @field_values.present? ? @field_values["BEMSECONDQUALITY"] : '' %>" >mg</p></td>
                                <td colspan="1" valign="bottom"><p>天平室温度 <input class="input" id="BEMBRSECONDTEMP" name="BEMBRSECONDTEMP" type="text" value="<%= @field_values.present? ? @field_values["BEMBRSECONDTEMP"] : '' %>" >℃</p></td>
                                <td colspan="1" valign="bottom"><p>天平室湿度 <input class="input" id="BEMBRSECONDHUMIDITY" name="BEMBRSECONDHUMIDITY" type="text" value="<%= @field_values.present? ? @field_values["BEMBRSECONDHUMIDITY"] : '' %>" >%RH</p></td>
                                <td colspan="1" valign="bottom"><p>&nbsp;称量时间 <input datebox="true" class="dateTimepickerH" id="BEMSECONDTIME" name="BEMSECONDTIME"  type="text" style="" value="<%= @field_values.present? ? @field_values["BEMSECONDTIME"] : '' %>" ></p></td>
                            </tr>


                            <tr>
                                <td colspan="2" valign="bottom">采样后两次滤膜称量平均值(单位：mg)</td>
                                <td colspan="2" valign="bottom"><p><input class="input" id="BMBAVG" name="BMBAVG" type="text" value="<%= @field_values.present? ? @field_values["BMBAVG"] : '' %>" ></p></td>
                            </tr>

                            <tr>
                                <td colspan="2" valign="bottom">采样后两次空白滤膜称量平均值(单位：mg)</td>
                                <td colspan="2" valign="bottom"><p><input class="input" id="BEMAVG" name="BEMAVG" type="text" value="<%= @field_values.present? ? @field_values["BEMAVG"] : '' %>" ></p></td>
                            </tr>

                            <tr>
                                <td colspan="2"><p>备注：</p></td>
                                <td colspan="4">
                                    <textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 50px;min-width: 98%;" "><%= @field_values.present? ? @field_values["REMARK"] : '' %></textarea>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
	        	</div>
	        </div>
        </div>
    </div>


