<!--备机更换记录表-->
<p class="modalID hide"><%= @form_module.id%></p>

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName"><%=  @form_module.name  %></span>
		<button class="btn btn-default"  id="Back" type="button">返回</button>
		<button class="btn  btn-primary"  id="Save" type="button" value="deal_with" style="margin-right: 15px;">保存</button>
    </div>
 <div class="check-list-box">
	    <div class="check-list">
	        <div class="check-list-container-border">
	        	<div class="check-list-container">
	        		<h1 class="check-list-title"><%=  @form_module.name  %>（每周）</h1>
	        		<div class="check-list-content">
	        			<table class="table table-bordered">
	        				<tbody>
	        					<tr>
	        						<td colspan="7">
	        							<table class="check-list-table">
										    <tbody>
										        <tr>
										            <td width="100" align="right"><%=  @titles["city"]  %>：</td>
										            <td>
										                <input type="text" name="" value="<%= @region_code %>" title="" readonly="readonly" disabled="disabled" class="form-control">
										            </td>
										            <td width="100" align="right"><%=  @titles["station_name"]  %>：</td>
										            <td>
									                	<input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="StationID_Text" name="" type="text" validator="required" value="<%= @station_name %>" original-title="">
										            </td>
										        </tr>
										        <tr>
										            
									                <td><%=  @titles["yw_unit"]  %>：</td>
									                <td>
									                    <input type="text" name="" readonly="readonly" value="<%= @unit_name %>" title="" disabled="disabled" class="form-control">
									                </td>
							                    </tr>
										    </tbody>
										</table>
	        						</td>
	        					</tr>
								<tr>
                                    <td><p>项目 </p></td>
                                    <td width="539" colspan="3">
                                        <textarea cols="20" id="PROJECT" name="PROJECT" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;" ></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            原设备 <br>
                                            厂家及型号
                                        </p>
                                    </td>
                                    <td>
                                        <input id="DEVICEMODEL1" name="DEVICEMODEL1" style="width:130px;" type="text" validator="required" value="" >
                                    </td>
                                    <td>
                                        <p>
                                            设备 <br>
                                            安装时间
                                        </p>
                                    </td>
                                    <td>
                                       <input type="text" class="dateTimepickerH start_time" name="" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><p>故障原因 </p></td>
                                    <td colspan="6">
                                        <textarea cols="20" id="FAILURECAUSE" name="FAILURECAUSE" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p>维修情况 </p></td>
                                    <td colspan="6">
                                        <textarea cols="20" id="CONDITION" name="CONDITION" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;" disabled="disabled">总站批准更换CO设备</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            设备预计 <br>
                                            修回时间
                                        </p>
                                    </td>
                                    <td>
                                         <input type="text" class="dateTimepickerH start_time" name="" value="">
                                    </td>
                                    <td><p>备注 </p></td>
                                    <td>
                                        <textarea cols="20" id="REMARK" name="REMARK" rows="2" style="text-align: left;padding: 5px;min-height: 100px;min-width: 98%;"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p align="left">
                                            备机 <br>
                                            厂家及型号
                                        </p>
                                    </td>
                                    <td>
                                        <input id="DEVICEMODEL2" name="DEVICEMODEL2" style="width:130px;" type="text" validator="required" value="" >
                                    </td>
                                    <td>
                                        <p>
                                            备机 <br>
                                            更换时间
                                        </p>
                                    </td>
                                    <td>
                                       <input type="text" class="dateTimepickerH start_time" name="" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><p>&nbsp;零点检查 </p></td>
                                    <td><input id="ZEROCHECK" name="ZEROCHECK" style="width:130px;" type="text" validator="required" value=""></td>
                                    <td><p>跨度检查 </p></td>
                                    <td><input id="SPANCHECK" name="SPANCHECK" style="width:130px;" type="text" validator="required" value=""></td>
                                </tr>
                                <tr>
                                    <td><p>流量检查 </p></td>
                                    <td><input id="FLOWCHECK" name="FLOWCHECK" style="width:130px;" type="text" validator="required" value="" ></td>
                                    <td><p>颗粒物标准膜校准 </p></td>
                                    <td><input id="CALIBRATION" name="CALIBRATION" style="width:130px;" type="text" validator="required" value=""></td>
                                </tr>
	        				</tbody>
	        			</table>
	        		</div>
	        		
	        		<div class="check-list-content">
	        			<h3 class="check-second-title">所用耗材</h3>
	        			<table class="table table-bordered">
			                <thead>
			                    <tr>
			                        <td>耗材名称</td>
			                        <td>数量</td>
			                        <td>图片</td>
			                    </tr>
			                </thead>
			                <tbody>
			
			
			                </tbody>
			            </table>
	        		</div>
	        		<div class="check-list-content no-border">
					    <table class="table check-list-table">
					        <tbody>
					            <tr>
					                <td width="80"><%=  @titles["write_man"]  %>：</td>
					                <td><input class="form-control dropdown-select-bg" id="PREPARERUSERID" name="PREPARERUSERID" type="hidden" validator="required" value="8119668e-d9f3-4efb-9c54-091dde4070cd" disabled="disabled"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="PREPARERUSERID_Text" name="PREPARERUSERID_Text" type="text" validator="required" original-title=""></td>
					                <td width="80" class="workingOrder_fh"><%=  @titles["review_man"]  %>：</td>
					                <td class="workingOrder_fh"><input class="form-control dropdown-select-bg" id="REVIEWUSERID" name="REVIEWUSERID" type="hidden" validator="required" value="" disabled="disabled"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="REVIEWUSERID_Text" name="REVIEWUSERID_Text"type="text" validator="required" value="" original-title=""></td>
					                <td class="workingOrder_sh" width="80"><%=  @titles["audit_man"]  %>：</td>
					                <td><input class="form-control dropdown-select-bg" id="AUDITORUSERID" name="AUDITORUSERID" type="hidden" validator="required" value="" disabled="disabled"><input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="AUDITORUSERID_Text" name="AUDITORUSERID_Text" type="text" validator="required" value="" original-title=""></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
	        	</div>
	        </div>
        </div>
    </div>   