<script id="origin" type="text/html">
	{{each day_valids as valids index}}
		<tr>
			<td class="vaild_id hide">{{valids.id}}</td>
			<td rowspan="3">{{valids.day_time.substring(0,10)}}</td>
			<td rowspan="3">{{valids.station_name}}</td>
			<td>样本总数</td>
			<td class="click_count">{{valids.so2_count}}<span class="hide item_name">so2</span></td>
			<td class="click_count">{{valids.no2_count}}<span class="hide item_name">no2</span></td>
			<td class="click_count">{{valids.co_count}}<span class="hide item_name">co</span></td>
			<td class="click_count">{{valids.o3_count}}<span class="hide item_name">o3</span></td>
			<td class="click_count">{{valids.pm2_5_count}}<span class="hide item_name">pm2.5</span></td>
			<td class="click_count">{{valids.pm10_count}}<span class="hide item_name">pm10</span></td>
		</tr>
		<tr>
			<td>有效样本数</td>
			<td>{{valids.so2_valid_count}}</td>
			<td>{{valids.no2_valid_count}}</td>
			<td>{{valids.co_valid_count}}</td>
			<td>{{valids.o3_valid_count}}</td>
			<td>{{valids.pm2_5_valid_count}}</td>
			<td>{{valids.pm10_valid_count}}</td>
		</tr>
		<tr class="vain">
			<td>无效样本数</td>
			<td>{{valids.so2_vain_count}}</td>
			<td>{{valids.no2_vain_count}}</td>
			<td>{{valids.co_vain_count}}</td>
			<td>{{valids.o3_vain_count}}</td>
			<td>{{valids.pm2_5_vain_count}}</td>
			<td>{{valids.pm10_vain_count}}</td>
		</tr>
	{{/each}}
</script>