<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<style>
  #station_validity .tableScoll {
    width: 100%;
     background: white;
  }
</style>
<div id="station_validity" >
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：站点日审核数据统计</span>
	</div>
	<div class="public_search d_alarms">
		
		<label for="">站点:</label>
		<input type="text" class="control_station"/>
		<input type="text"  class="control_stationID" />
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<label for="">无效样本：</label>
		<select class="Invalid">
			<option value=""></option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">>=3</option>
		</select>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<button class="btn search">查询</button>
    <div style="margin-right: 3%"><h5 style="float: right; font-size: small;color: #5e5e5e"><em style="color:red">*</em>&nbsp;点击样本总数即可查看因子的详细信息</h5></div>
	</div>

	<div class="public_table ajustTable">
		<div class="tableScoll">
			<table class="table table-bordered table-hover tables">
				<thead>
					<tr>
						<th>日期</th>
						<th>站点名称</th>
						<th>统计</th>
						<th>SO2</th>
						<th>NO2</th>
						<th>CO</th>
						<th>O3</th>
						<th>PM2.5</th>
						<th>PM10</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="abnormal_table">
			<table class=" table table-bordered table-hover">
				<tbody class="exception-list">
					
				</tbody>
		    </table>
		</div>	
	</div>
	<!--模态框-->
	<div class="except_box box_except">
	<h4><span class="pull-right">X</span></h4>			
	<div class="except_content">
    <div class="public_search d_alarms">
      <label for="">时间:</label>
      <input type="text" disabled="disabled" id="day_time_id" />
      <label for="">站点名称:</label>
      <input type="text" disabled="disabled" id="station_name_id"/>
      <label for="">因子名称:</label>
      <input type="text" disabled="disabled" id="item_name_id" class="factor_names" />
    </div>
    <div class="perpro-table">
    </div>
	</div>	
</div>
</div>
<!--站点-->
	<%= render 'test_iframes/public_station' %>
<%= render 'table' %>

