<div id="excell-table">
	<div class="table_title">
		<p><span class="Work_name"><%= @form_name %></span><!--<span class="time"><%= @data_time %></span><span class="state"></span>--></p>	

		<button type="button" class="btn new_add_btn" id="excell" onclick="method5('company-table','<%= @form_name %><%= @data_time %>')">导出表格</button>
	</div>
	<div class="clear"></div>
<div style="width: 60%; margin: 0 auto; ">
	    		<table border="1" cellpadding="0" cellspacing="0" id="company-table" width="600px" class="excel_table">
	    			
					<tbody>
						<tr>
							<td colspan="2" style="height: 27.75pt;width: 344pt;"><%= @form_name %></td>
						</tr>
						<tr>
							<td colspan="2" height="38">日期：<%= @data_time %></td>
						</tr>
						<tr>
							<td width="15%" align='center'>车间</td>
							<td width="85%" align='center'>
								<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
									<tr>
										<td width="15%" align='center'>项目</td>
									    <td>月产量累计  （T）</td>
									</tr>
								</table>
							</td>
							
					    </tr>
					    <tr>
					    	<td width="15%" align='center'>发酵车间</td>
					    	<td width="85%" align='center' style="vertical-align:text-top">
					    		<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%">
					    			<% if @region_datas  %>
										<% if @region_datas.length>0 %>
											<% @region_datas.each_with_index do | item,index | %>
											<tr>
												<td width="15%" align='center'><%= item[:name] %></td>
												<td><%= item[:month_value] %></td>
											</tr>
											<% end %>
										<% end %>
									<% end %>
									
									<tr>
							
										<td width="15%" align='center' rowspan="2">蒸汽</td>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
												<tr>
													<td width="50%" align='center'>累计用量</td>
													<td>月单耗</td>
												</tr>
											</table>
										</td>
										
									</tr>
									<tr>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
												<tr>
													<td width="50%" align='center'><%= @steam_month_sum_fj %></td>
													<td><%= @month_expend_fj %></td>
												</tr>
											</table>
										</td>
										
									</tr>
					    		</table>
					    	</td>
					    </tr>
						<tr>
					    	<td width="15%" align='center'>合成车间</td>
					    	<td width="85%" align='center' style="vertical-align:text-top" >
					    		<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%">
					    			<% if @region_datas2  %>
										<% if @region_datas2.length>0 %>
											<% @region_datas2.each_with_index do | item,index | %>
											<tr>
												<td width="15%" align='center'><%= item[:name] %></td>
												<td><%= item[:month_value] %></td>
									
											</tr>
											<% end %>
										<% end %>
									<% end %>
									
									<tr>
							
										<td width="15%" align='center'>蒸汽</td>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
												<tr>
													<td width="50%" align='center'>累计用量</td>
													<td>月单耗</td>
												</tr>
											</table>
										</td>
									</tr>
									<% if @steam_datas2  %>
										<% if @steam_datas2.length>0 %>
											<% @steam_datas2.each_with_index do | list,index | %>
											<tr>
												<td width="15%" align='center'><%= list[:name] %></td>
												<td>
													<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
														<tr>
															<td width="50%" align='center'><%= list[:steam_month_sum] %></td>
															<td><%= list[:month_expend] %></td>
														</tr>
													</table>
												</td>
											</tr>
											<% end %>
										<% end %>
									<% end %>
					    		</table>
					    	</td>
					    </tr>
					    <tr>
					    	<td width="15%" align='center'>精制车间</td>
					    	<td width="85%" align='center' style="vertical-align:text-top">
					    		<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%">
					    			<% if @region_datas3  %>
										<% if @region_datas3.length>0 %>
											<% @region_datas3.each_with_index do | item,index | %>
											<tr>
												<td width="15%" align='center'><%= item[:name] %></td>
												<td><%= item[:month_value] %></td>
												
											</tr>
											<% end %>
										<% end %>
									<% end %>
									
									<tr>
										<td width="15%" align='center'>蒸汽</td>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
												<tr>
													<td width="50%" align='center'>累计用量</td>
													<td>月单耗</td>
												</tr>
											</table>
										</td>
									</tr>
									<% if @steam_datas3  %>
										<% if @steam_datas3.length>0 %>
											<% @steam_datas3.each_with_index do | list,index | %>
											<tr>
												<td width="15%" align='center'><%= list[:name] %></td>
												<td>
													<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
														<tr>
															<td width="50%" align='center'><%= list[:steam_month_sum] %></td>
															<td><%= list[:month_expend] %></td>
														</tr>
													</table>
												</td>
												
											</tr>
											<% end %>
										<% end %>
									<% end %>
					    		</table>
					    	</td>
					    </tr>
					    <tr>
					    	<td width="15%" align='center'>烘包车间</td>
					    	<td width="85%" align='center' style="vertical-align:text-top">
					    		<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%;">
					    			<% if @region_datas4  %>
										<% if @region_datas4.length>0 %>
											<% @region_datas4.each_with_index do | item,index | %>
											<tr>
												<td width="15%" align='center'><%= item[:name] %></td>
												<td><%= item[:month_value] %></td>
												
											</tr>
											<% end %>
										<% end %>
									<% end %>
								
									
									<tr>
							
										<td width="15%" align='center' rowspan="2">蒸汽</td>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
												<tr>
													<td width="50%" align='center'>累计用量</td>
													<td>月单耗</td>
												</tr>
											</table>
										</td>
										
									</tr>
									<tr>
										<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
												<tr>
													<td width="50%" align='center'><%= @steam_month_sum_hb %></td>
													<td><%= @month_expend_hb %></td>
												</tr>
											</table>
										</td>
										

									</tr>
									
					    		</table>
					    	</td>
					    </tr>
					    
					    <tr>
					    	<td width="15%" align='center'>公司</td>
					    	<td width="85%" align='center' style="vertical-align:text-top">
					    		<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%">
									<tr>
										<td width="15%" align='center'>总产量</td>
									    <td><%= @company_month_total %></td>
									 
									</tr>
									
								</table>
					    	</td>
					    </tr>
					    <tr>
					    	<td width="15%" align='center'>能源</td>
					    	<td width="85%" align='center' style="vertical-align:text-top">
					    		<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
						    		<tr>
						    			<td width="15%" align='center'>名称</td>
						    			<td>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
												<tr>
													<td width="50%" align='center'>月累计</td>
													<td>月单耗</td>
												</tr>
											</table>
										</td>
									    
						    		</tr>
						    		<% if @steam_datas_energys  %>
										<% if @steam_datas_energys.length>0 %>
											<% @steam_datas_energys.each_with_index do | list,index | %>
												<tr>
													<td width="15%" align='center'><%= list[:name] %></td>
													<td>
														<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
															<tr>
																<td width="50%" align='center'><%= list[:steam_month_sum] %></td>
																<td><%= list[:month_expend] %></td>
															</tr>
														</table>
													</td>
													
												</tr>
											<% end %>
										<% end %>
									<% end %>
					    		</table>
					    	</td>
					    </tr>
					    <tr>
					    	<td width="15%" align='center'>废水</td>
					    	<td width="85%" align='center' style="vertical-align:text-top">
					    		<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
						    		
						    		<% if @steam_datas_water  %>
										<% if @steam_datas_water.length>0 %>
											<% @steam_datas_water.each_with_index do | list,index | %>
												<tr>
													<td width="15%" align='center'><%= list[:name] %></td>
													<td>
														<table border="1" cellpadding="0" cellspacing="0" frame="void" style="width: 100%;">
															<tr>
																<td width="50%" align='center'><%= list[:steam_month_sum] %></td>
																<td>
																	<%= list[:month_expend] %>
																</td>
															</tr>
														</table>
													</td>
													
												</tr>
											<% end %>
										<% end %>
									<% end %>
					    		</table>
					    	</td>
					    </tr>
					</tbody>
	    		</table>
	    		</div>
	    	</div>

