<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="company_month_statement">
	<div id="powerCutRecords">
		<div class="navTop">
			<p class="lines"></p>
			<span class="tableName" >公司月报表</span>
		</div>
		<div class="navMain public_search">
		
			<form class="form-inline">
				
				<div class="form-group">
					<label for="">时间：</label>
					<input type="text" class="month-start form-control" id="beginMonth" placeholder="" >
				</div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
					
				</div>
			</form>
		</div>
		<div id="public_table">
			<div class="public_table">
				
			</div>
		</div>
		
	</div>
</div>
