<div id="dStations">
    <div id="powerCutRecords">
        <div class="navTop">
            <span class="lines"></span>
            <span class="tableName">维修记录</span>
            <button class="btn new_add_btn"  id="editBack">返回</button>
        </div>

        <!--站点-->
        <div id="public_table">
            <div class="public_table">
                <table class="table table-bordered table-hover">

                </table>
            </div>
            
        </div>
		<div class="page_list">
            <ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page2"></ul>
            <select id="pagesize2" class="right">
                <option value="10" selected="selected">每页10条</option>
                <option value="20">每页20条</option>
                <option value="30">每页30条</option>
                <option value="40">每页40条</option>
                <option value="50">每页50条</option>
            </select>
            <div class="page_total2 left">
                <span>共<small></small>条数据,当前显示第<a>1</a>页</span>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>

<script id="handle_equips" type="text/html">
    <thead>
    <tr>
        <th>车间名称</th>
        <th>设备名称</th>
        <th>处理人姓名</th>
        <th>维修处理开始时间</th>
        <th>维修处理结束时间</th>
        <th>检修原因</th>
        <th>检修描述</th>
        <th>检修状态</th>
        <th>创建人</th>
    </tr>
    </thead>
    <tbody>
    {{if handle_equips.length > 0}}
    {{each handle_equips as data index}}
    <tr>
        <td class="hide id">{{data.id}}</td>
        <td>{{data.region_name}}</td>
        <td vlaue="{{data.equip_code}}">{{data.equip_name}}</td>
        <td>{{data.handle_name}}</td>
        <td>{{data.handle_start_time}}</td>
        <td>{{data.handle_end_time}}</td>
        <td>{{data.snag_desc}}</td>
        <td>{{data.desc}}</td>
        <td>{{data.status}}</td>
        <td>{{data.founder}}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td colspan="13">
            暂无数据
        </td>
    </tr>
    {{/if}}
    </tbody>
</script>

