<!--添加站点-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加设备台账</h4>
      </div>
      <div class="modal-body">
        <form id="add_station_form" class="form-horizontal">
          <div class="area_content">
            <div class="filed form-group">
              <label class="col-sm-2 control-label">车间名称:</label>
              <div class="col-sm-5">
                <select class="form-control ShopName" id="workshop" name="workshop">
                  <option value="">请选择</option>
                  <% if @region_code.present? %>
                    <% @region_code.each do |r| %>
                      <option value="<%= r.id %>"><%= r.region_name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <label id="ShopName" class="hide match_vlide">请选择车间名称</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">车间区域:</label>
              <div class="col-sm-5">
                <select class="form-control regionName" name="regionName">
                  <option value="">请选择</option>
                  <script type="text/html" id="regionnameadd">
                    {{if areas}}
                    {{each areas as areas index}}
                    <option value="{{areas.id}}" value1="{{areas.code}}">{{areas.name}}</option>
                    {{/each}}
                    {{/if}}
                  </script>
                </select>
              </div>
              
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">位号:</label>
              <div class="col-sm-5 bitNumber">
                <input type="text" id="match" name="match" required="required" pattern="^[0-9\.]{1,10}$" placeholder="请输入位号" class="form-control"/>
              </div>
              <label id="bitNumber" class="hide match_vlide">请输入位号</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">固定资产编号:</label>
              <div class="col-sm-5 FixedAssetNumber">
                <input type="text" required="required" name="AssetNumber" placeholder="请输入固定资产编号" class="form-control"/>
              </div>
              <label id="FixedAssetNumber" class="hide match_vlide">请输入固定资产编号</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">设备名称:</label>
              <div class="col-sm-5 Name">
                <input type="text" name="deviceName" required="required" placeholder="请输入设备名称" class="form-control"/>
              </div>
              <label id="Name" class="hide match_vlide">请输入设备名称 </label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">安装位置:</label>
              <div class="col-sm-5 InstallationSite">
                <input type="text" required="required" name="location" placeholder="请输入安装位置" class="form-control"/>
              </div>
              <label id="InstallationSite" class="hide match_vlide">请输入安装位置</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">设备型号:</label>
              <div class="col-sm-5 UnitType">
                <input type="text" name="UnitType" required="required" placeholder="请输入设备型号" class="form-control"/>
              </div>
              <label id="UnitType" class="hide match_vlide">请输入设备型号</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">设备工作能力:</label>
              <div class="col-sm-5 UnitPower">
                <input type="text" name="UnitPower" required="required" placeholder="请输入设备工作能力" class="form-control"/>
              </div>
              <label id="UnitPower" class="hide match_vlide">请输入设备工作能力</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">主要材质:</label>
              <div class="col-sm-5 MainTexture">
                <input type="text" name="MainTexture" required="required" placeholder="请输入主要材质" class="form-control"/>
              </div>
              <label id="MainTexture" class="hide match_vlide">请输入主要材质</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">数量:</label>
              <div class="col-sm-5 Number">
                <input type="text" name="Number" required="required" placeholder="请输入数量" class="form-control"/>
              </div>
              <label id="Number" class="hide match_vlide">请输入数量</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">厂家:</label>
              <div class="col-sm-5 factory">
                <input type="text" name="factory" required="required" placeholder="请输入厂家" class="form-control"/>
              </div>
              <label id="factory" class="hide match_vlide">请输入厂家</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">出厂编号:</label>
              <div class="col-sm-5 FactoryNumber">
                <input type="text" name="FactoryNumber" required="required" placeholder="请输入出厂编号" class="form-control"/>
              </div>
              <label id="FactoryNumber" class="hide match_vlide">请输入出厂编号</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">出厂日期:</label>
              <div class="col-sm-5 DateOfProduction">
                <input type="text" name="DateOfProduction" id="datetime" placeholder="请输入出厂日期" class="day-start form-control" required="required"/>
              </div>
              <label id="time_nameTip" class="hide match_vlide">请选择出厂日期</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">设备状态:</label>
              <div class="col-sm-5 deviceState">
                <select name="" id="deviceState" class="form-control">
                	<option value="1">启用</option>
                  <option value="0">禁用</option>
                </select>
              </div>
              <!--<label id="State">请选择设备状态</label>-->
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">备注:</label>
              <div class="col-sm-5 equip_note">
                <textarea name="" type="text" required="required" placeholder="请输入备注" class="form-control" style="width: 100%"></textarea>
              </div>
              <label id="equip_note" class="hide match_vlide">请输入设备备注</label>
            </div>
            <!--区域-->
            <div class="regionChoose">
              <p class="pull-right">X</p>
              <div class="clear"></div>
              <div class="Region_content"></div>
              <div class="region_btn">
                <button type="button" class="btn btn-sure">确定</button>
                <button type="button" class="btn btn-cancel">取消</button>
              </div>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="addBtn">保存</button>
      </div>
    </div>
  </div>
</div>

