<!--添加站点-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加备件信息</h4>
      </div>
      <div class="modal-body">
        <form id="add_station_form" class="form-horizontal">
          <div class="area_content">
            <div class="filed form-group">
              <label class="col-sm-2 control-label">设备ID:</label>
              <div class="col-sm-5 equipmentID">
                <input type="text" required="required" disabled class="form-control"/>
              </div>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">设备编号:</label>
              <div class="col-sm-5 equipmentNumber">
                <input type="text" required="required" disabled class="form-control"/>
              </div>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">备件名称:</label>
              <div class="col-sm-5 PartName">
                <input type="text" required="required" placeholder="请输入备件名称" class="form-control"/>
              </div>
              <label id="PartName" class="hide match_vlide">请输入备件名称</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">备件型号:</label>
              <div class="col-sm-5 partModel">
                <input type="text" required="required" placeholder="请输入备件型号" class="form-control"/>
              </div>
              <label id="partModel" class="hide match_vlide">请输入备件型号</label>
            </div>

            <div class="filed form-group">
              <label class="col-sm-2 control-label">备件材质:</label>
              <div class="col-sm-5 partTexture">
                <input type="text" required="required" placeholder="请输入备件材质" class="form-control"/>
              </div>
              <label id="partTexture" class="hide match_vlide">请输入备件材质</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">备件数量:</label>
              <div class="col-sm-5 partNumber">
                <input type="text" required="required" placeholder="请输入备件数量" class="form-control"/>
              </div>
              <label id="partNumber" class="hide match_vlide">请输入备件数量</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">备件描述:</label>
              <div class="col-sm-5 partDescription">
                <!--<input type="text" required="required" placeholder="请输入备件描述" class="form-control"/>-->
                <textarea name="" type="text" required="required" placeholder="请输入备件描述" class="form-control" style="width: 100%"></textarea>
              </div>
              <label id="partDescription" class="hide match_vlide">请输入备件描述</label>
            </div>
            <div class="regionChoose">
              <p class="pull-right">X</p>
              <div class="clear"></div>
              <div class="Region_content"></div>
              <div class="region_btn">
                <button type="button" class="btn btn-sure">确定</button>
                <button type="button" class="btn btn-cancel">取消</button>
              </div>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="addBtn">保存</button>
      </div>
    </div>
  </div>
</div>

