<!--导入Excel-->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">导入Excel</h4>
      </div>
      <div class="modal-body">
        <form id="excelImportForm" class="form-horizontal">
          <div class="area_content">
            <div class="filed form-group">
              <label class="col-sm-2 control-label">车间名称:</label>
              <div class="col-sm-5">
                <select class="form-control ShopName" id="workshop" name="s_region_code_id">
                  <option value="">请选择</option>
                  <% if @region_code.present? %>
                    <% @region_code.each do |r| %>
                      <option value="<%= r.id %>"><%= r.region_name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <label id="ShopName" class="hide match_vlide">请选择车间名称</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">上传文件:</label>
              <div class="col-sm-5">
               	<input type="file" name="excel" id="upfile"/>
               	<input type="hidden" name="type" value="machInfo"/>
              </div>
             
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" onclick="machInfoImport()">保存</button>
      </div>
    </div>
  </div>
</div>

