<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<style>
  #dTask ul{
    width: 90%;
    background: #FFF;
    overflow: hidden;
    margin: 20px auto;
  }
  #dTask ul li{
    position: relative;
    text-align: center;
    width: 15%;
    float: left;
    height: 60px;
  }
  #dTask .circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #999;
    position: absolute;
    left: 50%;
    margin-left: -20px;
  }
  #dTask .lineLeft{
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #999;
    width: 50%;
    vertical-align: 8px;
    position: absolute;
    left: 0px;
    top: 10px;
  }
  #dTask .lineRight{
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #999;
    width: 50%;
    vertical-align: 8px;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  #dTask ul li p{
    position: absolute;
    top: 30px;
    width: 100%;
    margin-left: -10px;
  }
  #dTask ul li .changeColor{
    background: #00923f;
  }
  #MaintenanceEditor table td{
    margin: 10px 0px;
    display: inline-block;
  }
</style>
<div id="dStations">
  <div id="powerCutRecords">
    <div class="navTop">
      <span class="lines"></span>
      <span class="tableName">设备台账管理</span>
    </div>
    <div class="navMain public_search">
      <form class="form-inline">
        <div class="form-group">
          <label for="">车间名称：</label>
          <select name="" id="workshop" class="form-control">
            <option value="">请选择</option>
            <% if @region_code.present? %>
            <% @region_code.each do |r| %>
            <option value="<%= r.id %>"><%= r.region_name %></option>
            <% end %>
            <% end %>
          </select>
          <input type="text"  class="control_stationIDs hide" />
        </div>
        <div class="form-group">
          <label for="">设备名称：</label>
          <select name="" id="deviceName" class="form-control">
            <option value="">请选择</option>
            <!--<input type="text" class="form-control" placeholder="请选择车间名称">-->
            <script type="text/html" id="devicename">
              {{if equips}}
              {{each equips as equip index}}
              <option value="{{equip.id}}">{{equip.equip_name}}</option>
              <!--<span><input type="checkbox" value={{equip.id}}>{{equip.equip_name}}</span>-->
              {{/each}}
              {{/if}}
            </script>
          </select>
          <input type="text"  class="control_stationIDs hide" />

        </div>
        <div class="form-group">
          <button class="btn search" type="button">查询</button>
          <button class="btn btn_area new_add_btn" id="add" type="button" data-toggle="modal" data-target="#addModal">
            		新增
          </button>
          <button class="btn btn_area" id="Upload" type="button" data-toggle="modal" data-target="#uploadModal" style="background: #ff9030;color: #fff;">导入Excel</button>
        </div>
      </form>

    </div>

    <!--站点-->
    <div id="public_table">
      <div class="public_table">
        <table class="table table-bordered table-hover">

        </table>
      </div>
     
    </div>
     <div class="page_list">
        <ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
        <select id="pagesize" class="right">
          <option value="10" selected="selected">每页10条</option>
          <option value="20">每页20条</option>
          <option value="30">每页30条</option>
          <option value="40">每页40条</option>
          <option value="50">每页50条</option>
        </select>
        <div class="page_total left">
          <span>共<small><%#= @equips.total_count %></small>条数据,当前显示第<a>1</a>页</span>
        </div>
      </div>
    <!--添加页面-->
    <%= render 'new' %>
    <!--修改页面-->
    <%= render 'edit' %>
<%= render 'uploadFile' %>
    <div class="clear"></div>
  </div>
</div>

<script id="s_equips" type="text/html">
  <thead>

  <tr>

    <th>车间名称</th>
    <th>车间区域</th>
    <th>设备名称</th>
    <th>设备编号</th>
    <th>安装位置</th>
    <th>位号</th>
    <th>设备规格</th>
    <th>主要材质</th>
    <th>设备工作能力</th>
    <th>厂家</th>
    <th>出厂编号</th>
    <th>数量</th>
    <th>状态</th>
    <th>操作</th>
    <th>修改</th>
    <th>删除</th>
  </tr>
  </thead>
  <tbody>
  {{if equips.length > 0}}
  {{each equips as data index}}
  <tr>
    <td class="hide id">{{data.id}}</td>
    <td value="{{data.s_region_code_id}}">{{data.region_name}}</td>
    <td>{{data.area_name}}</td>
    <td class="equip_name">{{data.equip_name}}</td>
    <td class="equip_code">{{data.equip_code}}</td>
    <td>{{data.equip_location}}</td>
    <td>{{data.bit_code}}</td>
    <td>{{data.equip_norm}}</td>
    <td>{{data.equip_material}}</td>
    <td>{{data.equip_nature}}</td>
    <td>{{data.factory}}</td>
    <td>{{data.apper_code}}</td>
    <td>{{data.equip_num}}</td>
    <td>{{data.equip_status}}</td>
    <td class="handle_width">
     
      <a class="sparePart">备件</a>
      <a class="serviceActionLog">维修记录</a>
      
    </td>
    <td class="handle revise" data-toggle="modal" data-target="#editModal"> <img src="<%= image_path("edit.png") %>"/></td>
    <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
    
  </tr>
  {{/each}}
  {{else}}
  <tr>
    <td colspan="15">
      暂无数据
    </td>
  </tr>
  {{/if}}
  </tbody>
</script>
<div id="maintenanceRecord" class="hide" >
  <%= render 'maintenanceRecord' %>
</div>
<div id="showRecord"  class="hide">
  <%= render 'handle_equips/details' %>
</div>
