<style>
  a:hover {background: none;color: #558ad8;}
</style>
<div id="dStations">
  <div id="powerCutRecords">
    <div class="navTop">
      <span class="lines"></span>
      <span class="tableName">备件信息</span>
      
      <button class="btn new_add_btn" type="button" ><%= link_to '返回', s_equips_path,style:"color:#333" %></button>
      <button class="btn btn_area green" id="add" type="button" data-toggle="modal" data-target="#addModal">
            新增
          </button>
    </div>


    <!--站点-->
    <div id="public_table">
      <div class="public_table_show">
        <table class="table table-bordered table-hover">

        </table>
      </div>
      
    </div>
    <div class="page_list">
        <ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page3"></ul>
        <select id="pagesize3" class="right pagesize">
          <option value="10" selected="selected">每页10条</option>
          <option value="20">每页20条</option>
          <option value="30">每页30条</option>
          <option value="40">每页40条</option>
          <option value="50">每页50条</option>
        </select>
        <div class="page_total left" id="page_total3">
          <span>共<small><%= @s_spares.length %></small>条数据,当前显示第<a>1</a>页</span>
        </div>
      </div>
    <!--添加页面-->
    <%= render 'snew' %>
    <!--修改页面-->
    <%= render 'sedit' %>

    <div class="clear"></div>
  </div>
</div>

<script id="s_spares" type="text/html">
  <thead>
  <tr>
    <th>设备名称</th>
    <th>设备编号</th>
    <th>备件名称</th>
    <th>备件型号</th>
    <th>备件描述</th>
    <th>备件材质</th>
    <th>备件数量</th>
    <th>修改</th>
    <th>删除</th>
  </tr>
  </thead>
  <tbody>
  {{if s_spare.length > 0}}
  {{each s_spare as data index}}
  <tr>
    <td class="id hide">{{data.id}}</td>
    <!--<td>{{data.s_equip_id}}</td>-->
    <td><%= @equip.equip_name %></td>
    <td value="{{data.s_region_code_id}}">{{data.equip_code}}</td>
    <td class="spare_name">{{data.spare_name}}</td>
    <td>{{data.spare_code}}</td>
    <td>{{data.spare_desc}}</td>
    <td>{{data.spare_material}}</td>
    <td>{{data.spare_num}}</td>
    <td class="handle revise" data-toggle="modal" data-target="#seditModal">
      <img src="<%= image_path("edit.png") %>"/>
      
    </td>
    <td class="handle cancelDelete"><img src="<%= image_path("delete.png") %>"/></td>
  </tr>
  {{/each}}
  {{else}}
  <tr>
    <td colspan="13">
      暂无数据
    </td>
  </tr>
  {{/if}}
  </tbody>
</script>
<script type="text/javascript" charset="utf-8">
    function urlParse() {
        let url = window.location.search;// 得到url问号后面拼接的参数  ?id=12345&a=b
        let obj = {};// 创建一个Object
        let reg = /[?&][^?&]+=[^?&]+/g;// 正则匹配 ?&开始 =拼接  非?&结束  的参数
        let arr = url.match(reg);// match() 方法可在字符串内检索指定的值，或找到一个或多个正则表达式的匹配。
        if (arr) {
            arr.forEach((item) => {
                let tempArr = item.substring(1).split('=');
                let key = decodeURIComponent(tempArr[0]);
                let val = decodeURIComponent(tempArr[1]);
                obj[key] = val;
            });
        }
        return obj;
    };
    var spareID = urlParse().spareID;
    var equip_code = urlParse().equip_code;
    // 初始化信息
    var page_state = "init";
    function orgin(){
        $.ajax({
            type:'get',
            url:'/s_equips/' + urlParse().spareID + '.json',
            beforeSend: function () {
                $('.loading').show();
            },
            success:function(data){
                var html = template('s_spares',data);
                $('#public_table .public_table_show table').html(html);
                $('.loading').hide();
                var total = data.s_spare.length;
                $('#dStations #page_total3 span small').text(total);
                $("#page3").initPage(total, '1', sparePage);
                 var roles=data.role_code
        					Roles(roles)
            },
            complete: function () {
                $('.loading').hide();
            },
            error:function(err){
                alert("获取数据有误")
                $('.loading').hide();
            }
        })
    }
    orgin();
    // 增加
    function add_create(){
        $.ajax({
            type:'post',
            url:'/s_equips/create_spare',
            data:{
                s_equip_id: spareID,
                equip_code: equip_code,
                spare_name: $('#addModal .PartName input').val(),
                spare_code: $('#addModal .partModel input').val(),
                spare_desc: $('#addModal .partDescription textarea').val(),
                spare_material: $('#addModal .partTexture input').val(),
                spare_num: $('#addModal .partNumber input').val(),
            },
            success:function(data){
                console.log(data);
                if(data.status == 200){
                    alert("添加成功");
                }else{
                    alert("添加失败")
                }
                $('#addModal').hide();
                orgin();
            },
            error:function(err){
                alert("添加失败")
                console.log(err)
            }
        })
    }
    $('#add').click(function(){
        $('#addModal').find('input,textarea').val('');
        $('#addModal').find('.match_vlide').addClass('hide');
        $('#addModal').find('.match_vlide').removeClass('control-default');
        $('#addModal').find('.match_vlide').removeClass('control-error');
        $('#addModal').find('.match_vlide').removeClass('control-success');
        $('#addModal .equipmentID input').val(spareID);
        $('#addModal .equipmentNumber input').val(equip_code);
    })
    $('body').delegate('#addModal .btn-sure', 'click', function(){
        add_create();
    })

    // 修改台账
    var editID;
    $('body').delegate('.revise', 'click', function () {
        $('#editModal .form-group input').val("");
        editID = $(this).parents('tr').find('.id').text();
        console.log(editID)
        $.ajax({
            type: "get",
            url: " /s_equips/edit_spare.json?id=" + editID,
            success: function (data) {
                $('#seditModal .equipmentID input').val(data.s_spare.s_equip_id);
                $('#seditModal .equipmentNumber input').val(data.s_spare.equip_code);
                $('#seditModal .PartName input').val(data.s_spare.spare_name);
                $('#seditModal .partModel input').val(data.s_spare.spare_code);
                $('#seditModal .partDescription textarea').val(data.s_spare.spare_desc);
                $('#seditModal .partTexture input').val(data.s_spare.spare_material);
                $('#seditModal .partNumber input').val(data.s_spare.spare_num);
            },
            error: function (err) {
                console.log(err);
            }
        });
    })

    function add_update(){
        $.ajax({
            type: 'post',
            url: '/s_equips/update_spare',
            data:{
                id: editID,
                spareID: $('#seditModal .equipmentID input').val(),
                equip_code: $('#seditModal .equipmentNumber input').val(),
                spare_name: $('#seditModal .PartName input').val(),
                spare_code: $('#seditModal .partModel input').val(),
                spare_desc: $('#seditModal .partDescription textarea').val(),
                spare_material: $('#seditModal .partTexture input').val(),
                spare_num: $('#seditModal .partNumber input').val(),
            },
            success:function(data){
                console.log(data);
                if(data.status == 200){
                    alert("修改成功");
                }else{
                    alert("修改失败")
                }
                $('#seditModal').hide();
                orgin();
            },
            error:function(err){
                alert("修改失败")
                console.log(err)
            }
        })
    }
    $('body').delegate('#seditModal .btn-sure', 'click', function(){
        add_update();
    })
    // 删除
//  $('body').delegate('.cancelDelete', 'click', function () {
//      var id = $(this).parents('tr').find('.id').text();
//      if (confirm('确定删除该条备件信息？')) {
//          $.ajax({
//              type: 'delete',
//              url: '/s_equips/delete_spare?id=' + id,
//              success: function (data) {
//                  console.log(data);
//                  alert(data.status);
//                  orgin();
//              },
//          })
//      }
//  })
    var id;
    var name;
$("body").delegate("table tbody .cancelDelete","click",function() {
	id=Number($(this).parents('tr').find('.id').text())
	name=$(this).parents('tr').find('.spare_name').text()
	$('#sureCannel').show();
	var sure_str = '<div class="point-out">确认删除 <span>"' + name + '"</span>吗？</div>';
    $('#sureCannel .sureCannel-body').html(sure_str);

    var sureCannelFoot_str = '';
   
    sureCannelFoot_str += '<button class="btn-sure" id="cancel_delete">确认</button><button onclick="resetPswd_cannel()" class="btn-cannel">取消</button>'

    $('#sureCannel .box-footer').html(sureCannelFoot_str);
})
$("body").delegate("#cancel_delete","click",function() {
	$('#sureCannel').hide();
	$.ajax({
			type:"delete",
			url: '/s_equips/delete_spare?id=' + id,
			success:function(data){
				
				 $("#success").show().delay(3000).hide(300);
	            var successFoot_str = '';
	            successFoot_str += '<div class="resetPs1"><span class="resetPs1-span">" ' + name + ' "</span>，删除成功！</div>'
	
	            $('.success-footer').html(successFoot_str)
							orgin();
			
			},
			error:function(err){
				console.log(err)
			}
		})

})
    //备件名称验证
    $('body').delegate("#addModal .PartName input","focus",function(){

        $('#addModal #PartName').addClass('control-default')
        $('#addModal #PartName').removeClass('hide')

    });
    $('body').delegate("#addModal .PartName input","blur",function(){
        if($('#addModal .PartName input').val() != ''){
            $('#addModal #PartName').removeClass('control-default')
            $('#addModal #PartName').removeClass('control-error')
            $('#addModal #PartName').addClass("control-success");
            $('#addModal #PartName').html('备件名称已输入');
        }else if($('#addModal .PartName input').val() == ''){
            $('#addModal #PartName').removeClass('control-default')
            $('#addModal #PartName').removeClass('control-success')
            $('#addModal #PartName').addClass("control-error");
            $('#addModal #PartName').html("备件名称不能为空")
        }
    });
    //备件型号验证
    $('body').delegate("#addModal .partModel input","focus",function(){
        $('#addModal #partModel').addClass('control-default')
        $('#addModal #partModel').removeClass('hide')

    });
    $('body').delegate("#addModal .partModel input","blur",function(){
        if($('#addModal .partModel input').val() != ''){
            $('#addModal #partModel').removeClass('control-default')
            $('#addModal #partModel').removeClass('control-error')
            $('#addModal #partModel').addClass("control-success");
            $('#addModal #partModel').html('备件型号已输入');
        }else if($('#addModal .partModel input').val() == ''){
            $('#addModal #partModel').removeClass('control-default')
            $('#addModal #partModel').removeClass('control-success')
            $('#addModal #partModel').addClass("control-error");
            $('#addModal #partModel').html("备件型号不能为空")
        }
    });
    //备件描述验证
    $('body').delegate("#addModal .partDescription textarea","focus",function(){
        $('#addModal #partDescription').addClass('control-default')
        $('#addModal #partDescription').removeClass('hide')

    });
    $('body').delegate("#addModal .partDescription textarea","blur",function(){
        if($('#addModal .partDescription input').val() != ''){
            $('#addModal #partDescription').removeClass('control-default')
            $('#addModal #partDescription').removeClass('control-error')
            $('#addModal #partDescription').addClass("control-success");
            $('#addModal #partDescription').html('备件描述已输入');
        }else if($('#addModal .partDescription input').val() == ''){
            $('#addModal #partDescription').removeClass('control-default')
            $('#addModal #partDescription').removeClass('control-success')
            $('#addModal #partDescription').addClass("control-error");
            $('#addModal #partDescription').html("备件描述不能为空")
        }
    });

    //备件材质验证
    $('body').delegate("#addModal .partTexture input","focus",function(){
        $('#addModal #partTexture').addClass('control-default')
        $('#addModal #partTexture').removeClass('hide')

    });
    $('body').delegate("#addModal .partTexture input","blur",function(){
        if($('#addModal .partTexture input').val() != ''){
            $('#addModal #partTexture').removeClass('control-default')
            $('#addModal #partTexture').removeClass('control-error')
            $('#addModal #partTexture').addClass("control-success");
            $('#addModal #partTexture').html('备件材质已输入');
        }else if($('#addModal .InstallationSite input').val() == ''){
            $('#addModal #partTexture').removeClass('control-default')
            $('#addModal #partTexture').removeClass('control-success')
            $('#addModal #partTexture').addClass("control-error");
            $('#addModal #partTexture').html("备件材质不能为空")
        }
    });
    //备件数量验证
    $('body').delegate("#addModal .partNumber input","focus",function(){
        $('#addModal #partNumber').addClass('control-default')
        $('#addModal #partNumber').removeClass('hide')

    });
    $('body').delegate("#addModal .partNumber input","blur",function(){
        if($('#addModal .partNumber input').val() != ''){
            $('#addModal #partNumber').removeClass('control-default')
            $('#addModal #partNumber').removeClass('control-error')
            $('#addModal #partNumber').addClass("control-success");
            $('#addModal #partNumber').html('备件数量已输入');
        }else if($('#addModal .partNumber input').val() == ''){
            $('#addModal #partNumber').removeClass('control-default')
            $('#addModal #partNumber').removeClass('control-success')
            $('#addModal #partNumber').addClass("control-error");
            $('#addModal #partNumber').html("备件数量不能为空")
        }
    });
    //根据角色显示和隐藏新增
function Roles(roles){
	if(roles=="mechanic_repair"){
		$('#dStations .public_search #add').hide()
		$('#dStations #public_table table td .revise').hide()
	}
}
//备件分页
    function sparePage(page) {
        if (parseInt(page) == 1 && page_state == "init") {
            $('input[name="pageNow"]').val(page);
            pageNow = page;
        } else {
            $('input[name="pageNow"]').val(page);
            page_state = "change";
            pageNow = page;
            $.ajax({
                async: true,
                type: 'get',
                dataType: "json",
                url: '/s_equips/' + urlParse().spareID + 'page=' + page + '&per=' + $('#pagesize3 option:selected').val(),
                beforeSend: function () {
                    $('.loading').show();
                },
                success: function (data) {
                   var html = template('s_spares',data);
                		$('#public_table .public_table_show table').html(html);
                  	$('#dStations #page_total3 span a').text(page);
                    $('.loading').hide();
                    var roles=data.role_code
                    Roles(roles)
                },
                complete: function () {
                    $('.loading').hide();
                },
                error: function (err) {
                    alert('请求数据失败,请稍后重试');
                    $('.loading').hide();
                }

            })
        }
    }
</script>
