<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="alarm_num_handles" class="container">
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：预警反馈查询</span>
	</div>
	<div class="public_search d_alarms">
		<label for="">区域级别:</label>
		<select class="place_leval">
			<script id="place_leval" type="text/html">
				<option value="">请选择区域级别</option>
				{{each region_levels as regionLevel index}}
					<option value="{{regionLevel.id}}">{{regionLevel.level_name}}</option>
				{{/each}}
			</script>
			<option value=""></option>
		</select>
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<b>-</b>
		<input type="text" class="dateTimepicker end_datetime"/>
		
		
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<button class="btn search">查询</button>
		<a type="button" class="putTable" href='javascript:void(0)' >
                导出表格
        </a>
	</div>
	<div class="public_table">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>区域名称</th>
					<th>任务数量</th>
					<th>响应数量</th>
					<th>未响应数量</th>
					<th>响应比率</th>
					<th>未响应比率</th>
				</tr>
			</thead>
			<tbody class="exception-list">
			</tbody>
		</table>
   </div>
</div>
<%= render 'handleTable' %>

