<!--排污报表-->

<p class="modalID hide"><%= @d_report_forms.id %></p>
<div id="poll_report">
<p><span class="Work_name"><%= @form_name %></span><span class="time"></span><span class="state"><%= @status %></span></p>	
<table class="table-bordered table table-hover" id="poll-table">
	<thead>
		<tr>
			<% if @form_headers %>
				<% if @form_headers.length>0 %>
					<% @form_headers.each.with_index do | headItem,index | %>
					<th><%= headItem %></th>
					<% end %>
				
				<% end %>
			
			<% end %>
			
		</tr>					
	</thead>
	<tbody class="exception-list">
		<% if @form_body1 %>
			<% if @form_body1.length>0 %>
				<% @form_body1.each_with_index do | item1,index | %>
				<tr>
					<td><%= item1["type_name"] %></td>
					<td><%= item1["region_name"]%></td>
					<td><%= item1["name"] %></td>
					<td><input type="text" alt="<%= item1["region_id"]%>" name="<%= item1["code"] %>" value="<% if @form_values1.length>0 %><%=@form_values1[index].field_value %><% end %>" placeholder="请输入"></td>
				</tr>
				<% end %>
			<% end %>
		<% end %>
		<% if @form_body2 %>
			<% if @form_body2.length>0 %>
				<% @form_body2.each_with_index do | item2,index | %>
				<tr>
					<td><%= item2["type_name"] %></td>
					<td><%= item2["region_name"]%></td>
					<td><%= item2["name"] %></td>
					<td><input type="text" alt="<%= item2["region_id"]%>" name="<%= item2["code"] %>" value="<% if @form_values2.length>0 %><%=@form_values2[index].field_value %><% end %>" placeholder="请输入"></td>
				</tr>
				<% end %>
			<% end %>
		<% end %>
		<% if @form_body3 %>
			<% if @form_body3.length>0 %>
				<% @form_body3.each_with_index do | item3,index | %>
				<tr>
					<td><%= item3["type_name"] %></td>
					<td><%= item3["region_name"]%></td>
					<td><%= item3["name"] %></td>
					<td><input type="text" alt="<%= item3["region_id"]%>" name="<%= item3["code"] %>" value="<% if @form_values3.length>0 %><%=@form_values3[index].field_value %><% end %>" placeholder="请输入"></td>
				</tr>
				<% end %>
			<% end %>
		<% end %>
		<% if @form_body4 %>
			<% if @form_body4.length>0 %>
				<% @form_body4.each_with_index do | item4,index | %>
				<tr>
					<td><%= item4["type_name"] %></td>
					<td><%= item4["region_name"]%></td>
					<td><%= item4["name"] %></td>
					<td><input type="text" alt="<%= item4["region_id"]%>" name="<%= item4["code"] %>" value="<% if @form_values4.length>0 %><%=@form_values4[index].field_value %><% end %>" placeholder="请输入"></td>
				</tr>
				<% end %>
			<% end %>
		<% end %>		
	</tbody>
</table>
<div class="table_button">
	<button type="button" class="btn btn-success btnNew new_add_btn" id="report" type="button" >上报</button>
	<button class="btn" type="button" id="save">暂存</button>
</div>
</div>

