<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="pollution_report">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">一次水排污统计上报</span>
		</div>
		
		<div class="btn-group ty-group" role="group">
		    <button type="button" class="btn btn-default btn-chack" id="oneWeater">一次水上报</button>
		    <button type="button" class="btn btn-default" id="pollutionReport">排污上报</button>
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table" style="margin-top: 0px;">
			
			
			<div class="public_table">
				<form class="form-horizontal">
					<div class="excelTable">
						
					</div>
					
				</form>
			</div>
		</div>
		
	</div>
</div>
