<div id="equipmentEdit">

		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">编辑设备</span>
			<button class="btn new_add_btn" href="#" title="返回" id="back">返回</button>
			<button class="btn btn-md save" id="editSave" style="height: 32px;">保存</button>
		</div>
	<form class="form-horizontal" id="edit_form">
		<div class="panel partial" data-taskid="" data-active="">
			<div class="form-group">
				<label class="col-xs-2 control-label">设备类型:</label>
				<div class="col-xs-5">
					<select class="form-control" id="device_name">
			           	<option value="">请选择</option>
			           	<option value="pm10">pm10</option>
			           	<option value="pm2.5">pm2.5</option>
			           	<option value="so2">so2</option>
			           	<option value="no2">no2</option>
			           	<option value="co">co</option>
			           	<option value="o3">o3</option>
		            </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">设备品牌:</label>
				<div class="col-xs-5">
					<select class="brand form-control">
	                	<script type="text/html" id="brandList">
	                		
	                		{{each brands as brandList index}}
	                			<option value="{{brandList}}">{{brandList}}</option>
	                		{{/each}}
	                	</script>
	                </select>
				</div>
				<p class="text-danger">必须选择设备品牌</p>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">设备型号:</label>
				<div class="col-xs-5">
					<input type="text" class="equip_code form-control" name="equip_code"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">设备编号:</label>
				<div class="col-xs-5">
					<input type="text" class="DeviceCode form-control" name="DeviceCode"/>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">购置日期:</label>
				<div class="col-xs-5">
					<input type="text" class="dateTimepicker purchase_time form-control" name="purchase_time"/>
					<!--<input type="text" class="validity_date form-control" name="validity_date"/>-->
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">类型:</label>
				<div id="Types" class="col-xs-5">
				<label class=""><input class="radio" id="Types_1" name="Types" txt="备机" type="radio" value="N" disabled="disabled"><span>备机</span></label>
				<label class=""><input class="radio" id="Types_2" name="Types" txt="正式" type="radio" value="Y" disabled="disabled"><span>正式</span></label>
				</div>
			</div>
			
		</div>
	</form>
<%= render :partial => 'test_iframes/sq_radioStation' %>
</div>
