<div id="equipmentAdd">
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">新增设备</span>
		
	</div>
	<form class="form-horizontal" id="add_form">
		<div class="pull-right">
			<button class="btn btn-primary save" id="addSave" style="height: 32px;" type="button">保存</button>
			<button class="btn new_add_btn" href="#" title="返回" id="back" type="button">返回</button>
		
		</div>
		<div class="panel partial" data-taskid="" data-active="">
			<div class="form-group">
				<label class="col-xs-2 control-label">设备类型:</label>
				<div class="col-xs-5">
					<select class="form-control" id="device_name">
			           	<option value="">请选择</option>
			           	<option value="pm10">pm10</option>
			           	<option value="pm2.5">pm2.5</option>
			           	<option value="so2">so2</option>
			           	<option value="no2">no2</option>
			           	<option value="co">co</option>
			           	<option value="o3">o3</option>
		            </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">设备品牌:</label>
				<div class="col-xs-5">
					<select class="brand form-control">
	                	<script type="text/html" id="brandList">
	                		
	                		{{each brands as brandList index}}
	                			<option value="{{brandList}}">{{brandList}}</option>
	                		{{/each}}
	                	</script>
	                </select>
				</div>
				<p class="text-danger">必须选择设备品牌</p>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">设备型号:</label>
				<div class="col-xs-5">
					<input type="text" class="equip_code form-control" name="equip_code"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">设备编号:</label>
				<div class="col-xs-5">
					<input type="text" class="DeviceCode form-control" name="DeviceCode"/>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">购置日期:</label>
				<div class="col-xs-5">
					<input type="text" class="dateTimepicker purchase_time form-control" name="purchase_time"/>
					<!--<input type="text" class="validity_date form-control" name="validity_date"/>-->
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">类型:</label>
				<div id="Types" class="col-xs-5">
				<label class=""><input class="radio" id="Types_1" name="Types" txt="备机" type="radio" value="N"><span>备机</span></label>
				<label class=""><input class="radio" checked="checked" id="Types_2" name="Types" txt="正式" type="radio" value="Y"><span>正式</span></label>
				</div>
			</div>
			<div class="form-group" id="typeStation">
				<label class="col-xs-2 control-label">站点:</label>
				<div class="col-xs-5">
					<input type="text" class="addControl_station form-control" id="addControl_stations" data-toggle="modal" data-target="#sq_radioStation"/>
					<input type="hidden"  class="addControl_stationID form-control" id="addControl_stationIDs"/>
				</div>
			</div>
		</div>
	</form>
	<%= render :partial => 'test_iframes/sq_radioStation' %>

</div>