<script id="equipment_table" type="text/html">
	{{each equipment_infos as list index}}
		<tr>
			<td class="hide id">{{list.id}}</td>
			<td>{{list.region_code}}</td>
			<td>{{list.station_name}}</td>
			<td>{{list.equip_type}}</td>
			<td>{{list.equip_brands}}</td>
			<td>{{list.equip_code}}</td>
			<td>{{list.equip_nums}}</td>
			<td class="types">{{list.types}}</td>
			<td>{{list.purchase_time}}</td>
			<td>{{list.created_at}}</td>
			<td>{{list.add_man}}</td>
			
			<td>
				<a class="edit" data-toggle="modal" data-target="#editModal">修改</a>
				<a class="delete" >删除</a>
				<div class="delete_prop" style="display: none;">
					<p>是否删除？</p>
					<button type="button" class="btn btn-primary btn-sure">确认</button>
					<button type="button" class="btn btn-cancel">取消</button>
				</div>
		</td>
		</tr>
	{{/each}}
</script>
