<script id="edit_rules" type="text/html">
	<div class="notice_rules notice_rules2">
		<form class="form-horizontal">
			 <div class="right close">X</div>
			<h4>修改通知设置</h4>
			<div class="form-group alarm_level">
				<label class="col-xs-3 control-label">报警级别：</label>
				<div class="col-xs-5">
					<select name="leval" class="notice_leval">
					
				    </select>
				</div>
			</div>
			<div class="form-group alarm_inform">
				<label class="col-xs-3 control-label">通知方式：</label>
				<div class="col-xs-5">
					<!--<input type="text" name="notice_method" id="alnotMode" value="" required="required" class="form-control"/>-->
					<select name="notice_method" class="notice-control">
					<option value="">短信通知</option>
				    </select>
				</div>
				<!--<label for="alnotMode" id="alnotMode_Tip">请输入内容</label>-->
			</div>
			
			<div class="form-group alarm_belong">
				<label class="col-xs-3 control-label">通知模板：</label>
				<div class="col-xs-5">
					<select name="attach" class="notice_attach">
					</select>
				</div>
				<!--<div class="col-xs-5">
					<input id="password_confirmation" required="required" class="form-control" placeholder="请输入密码" pattern="^[a-zA-Z0-9]{2,16}$" type="password" name="password_confirmation" />
				</div>
				<label id="password_confirmationTip" class="warn hide control-default">请输入2至16位的数字.</label>-->
			</div>
			
			<div class="form-group alarm_config">
				<label class="col-xs-3 control-label">通知角色：</label>
				<div class="col-xs-5">
					<ul class="notice_role">
					
					</ul>
					<ul class="notice_role2">
						{{each notice_rule.role_id as data index}}
						<input type="checkbox"  value="{{data}}" checked="checked"/>
						<small>{{data.id}}</small>
						<span>{{data.role_name}}</span>
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="form-group notice_btn">
				<button type="button" class="btn-sure  btn btn-primary " id="alarmSub">提交</button>
				<button type="button" class="btn-cancel">取消</button>
			</div>
		</form>
	</div>
</script>
