<div class="public_table">
	<table class="table table-bordered table-hover">
       <thead>
       	<tr>
       		<!--<th>ID</th>-->
       		<th>通知方式</th>
       		<th>报警级别</th>
       		<!--<th>角色配置</th>-->
       		<th>通知角色</th>
       		<th>操作</th>
       	</tr>
       </thead>
        <tbody>
			<script id="originData" type="text/html">
				{{each notice_rules as noticeRules index}}
					<tr>
						<td class="edit_ID hide">{{noticeRules.id}}</td>
						<td class="notice_type">{{noticeRules.notice_type}}</td>
						<td class="alarm_level">{{noticeRules.alarm_level}}</td>
						<td class="role_id hide" >{{noticeRules.role_id}}</td>
						<!--<td class="up_region_level">{{noticeRules.role_name}}</td>-->
						<td class="role_names">{{noticeRules.role_name}}</td>
						<td>
							<a class="edit">编辑</a>
						</td>
					</tr>
				{{/each}}
			</script>
		</tbody>
	</table>
</div>