<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="alarm_notice_sets" >
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：通知设置</span>
	</div>
	<div class="add_rules">
		<button class="btn btn_notices new_add_btn">
			<span class="glyphicon glyphicon-plus"></span>
			添加通知规则
		</button>
	</div>
	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	<!--报警通知表格-->
	<%= render 'table' %>
	
	<!--模态框-->
	<div id="public_box"></div>
	<!--添加-->
	<div class="addRules">
		<%= render 'add_rules'%>
	</div>
	<!--编辑-->
	<div class="editRules">
		<%= render 'edit_rules'%>
	</div>
</div>
<!--分页-->
<div>
	<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
	<select id="pagesize" class="right">  
	    <option value="10" selected="selected">每页10条</option>  
	    <option value="20">每页20条</option>
		<option value="30">每页30条</option>  
	    <option value="40">每页40条</option>
	    <option value="50">每页50条</option> 
	</select>  
</div>
<div class="page_total left">
	<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
</div>
<div class="clear"></div>
<!--报警级别-->
<script id="notice_leval" type="text/html">
		{{each alarm_levels as data index}}
		   <option value="{{data.alarm_level}}">{{data.level_name}}</option>
		{{/each}}
</script>
<!--通知角色-->
<script id="notice_role" type="text/html">
		{{each s_role_msgs as data index}}
			<li>
				<input type="checkbox" value="{{data.id}}" >
				<small>{{data.id}}</small>
				<span>{{data.role_name}}</span>
			</li>
		{{/each}}
</script>
<!--通知模板-->
<script id="notice_attach" type="text/html">
		{{each notice_template as data index}}
		   <option value="{{data.id}}">{{data.template_name}}</option>
		{{/each}}
</script>
<!--通知方式-->
<!--<script id="notice-control" type="text/html">
	{{each notice_rules as data index}}
	<option value="{{data.id}}">{{data.notice_type}}</option>
	{{/each}}
</script>-->
