<script id="accessTab" type="text/html">{
		{{each station_arr as access index}}
			<tr>
				<td>{{access.station_name}}</td>
				<td><span class={{access.so2 > 100 ? ' ' : access.so2_avg > access.so2 ? 'colorYellow' : access.so2_avg == access.so2 ? ' ' :access.so2_avg < access.so2 ? 'colorRed' : 'colorRed'}}></span>{{(access.so2 > 100 ? '100' : access.so2).toFixed(2)}}</td>
				<td><span class={{access.no2 > 100 ? ' ' : access.no2_avg > access.no2 ? 'colorYellow' : access.no2_avg == access.no2 ? ' ' : access.no2_avg < access.no2 ?'colorRed' : 'colorRed'}}></span>{{(access.no2 > 100 ? '100' : access.no2).toFixed(2)}}</td>
				<td><span class={{access.co > 100 ? ' ' : access.co_avg > access.co ? 'colorYellow' : access.co_avg == access.co ? ' ' : access.co_avg < access.co ?'colorRed' : 'colorRed'}}></span>{{(access.co > 100 ? '100' : access.co).toFixed(2)}}</td>
				<td><span class={{access.o3 > 100 ? ' ' : access.o3_avg > access.o3 ? 'colorYellow' : access.o3_avg == access.o3 ? ' ' :access.o3_avg < access.o3 ? 'colorRed' : 'colorRed'}}></span>{{(access.o3 > 100 ? '100' : access.o3).toFixed(2)}}</td>
				<td><span class={{access.pm2_5 > 100 ?' ' : access.pm2_5_avg > access.pm2_5 ? 'colorYellow' : access.pm2_5_avg == access.pm2_5 ? '  ': access.pm2_5_avg < access.pm2_5?'colorRed':'colorRed'}}></span>{{(access.pm2_5>100?'100':access.pm2_5).toFixed(2)}}</td>
				<td><span class={{access.pm10 > 100 ?' ' : access.pm10_avg > access.pm10 ? 'colorYellow' : access.pm10_avg == access.pm10 ? '' :access.pm10_avg < access.pm10 ? 'colorRed' : 'colorRed'}}></span>{{(access.pm10 > 100 ? '100' : access.pm10).toFixed(2)}}</td>
			</tr>
		{{/each}}
		<tr>
		<td>站点平均</td>
		<td>{{all_infos.so2 > 100 ? '100': all_infos.so2}}</td>
		<td>{{all_infos.no2 > 100 ? '100' : all_infos.no2}}</td>
		<td>{{all_infos.co > 100 ? '100' : all_infos.co}}</td>
		<td>{{all_infos.o3 > 100 ? '100' : all_infos.o3}}</td>
		<td>{{all_infos.pm2_5 > 100 ? '100' : all_infos.pm2_5}}</td>
		<td>{{all_infos.pm10 > 100 ? '100' : all_infos.pm10}}</td>
	</tr>
}</script>