<script id="alarmList" type="text/html">
	
		{{each alarm_lists as list i}}
		<tr class="list-parent">
			<td class="station-list">{{list.station_name}}
				<span class="hide stationID">{{list.station_id}}</span>
				<span class="hide alarmid">{{list.id}}</span>
			</td>
			<td class="station-list">{{list.alarm_rule}}</td>
			<td class="station-list">{{list.alarm_level == 3 ? 'III':list.alarm_level == 2 ? 'II': list.alarm_level == 1 ? 'I' : 0}}</td>
		    <td class="station-list">{{list.first_alarm_time}}</td>
	        <td class="station-list">{{list.last_alarm_time}}</td>
	        <td class="station-list">{{list.continuous_alarm_times}}</td>
	        <td class="station-list">{{list.status}}</td>
	        <td class="station-list">
	        	<span class="id none">{{list.id}}</span>
				<a class="lookfor" data-toggle="modal" data-target="#lookModal">查看</a>
			</td>
            <td>
				<input type="checkbox" class="checkbox" name="tasks"/>
			</td>
	    </tr>
    {{/each}}
  
</script>
