
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">分配任务</h4>
      </div>
      <div class="modal-body public_config">
			 

      </div>
      <div class="modal-footer" style="clear: both;">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>
<script id="taskNews" type="text/html">		
	<div class="config_list">
			<div class="left">
				{{each all_infos as info i}}
					<button>{{info.region_name}}</button>				
					<div class="renyuan">
						{{each info.login_arr as login_arr index}}
						<span class="renyuan_span">
							<input class="check" type="radio" name="person"/>
							<small class="renid hide">{{login_arr.id}}</small>
							<span>{{login_arr.login_name}}</span>
						</span>							
						{{/each}}
					</div>
				{{/each}} 					
			</div>
		</div>
</script>

