<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="alarmLists" >

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">报警汇总</span>
	</div>
	<div class="navMain public_search">
		<form class="form-inline">
			<div class="form-group">
                <label for="">站&#x3000;&#x3000;点：</label>
                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            <input type="text"  class="control_stationIDs hide" />
            </div>
            <div class="form-group">
            	<label for="">报警规则:</label>
				<input type="text" name="role_name" class="rule_name form-control"/>
            </div>
            <div class="form-group">
            	<label for="">状态:</label>
				<select class="status form-control">
					<script id="alarmStatus" type="text/html">
						<option value="">请选择状态</option>
						{{each alarm_status as alarmStatus index}}
							<option value="{{alarmStatus.status}}">{{alarmStatus.status_name}}</option>
						{{/each}}
					</script>
				</select>
            </div>
            <div class="form-group">
            	<label for="">报警级别:</label>
				<input type="text" id="check" class="place form-control">
				<input type="text" id="checkId" style="display: none;"/>
				<dl class="placeNews">
				<dt>
					<input type="checkbox" id="checkAll" value=""/>
					<label for="checkAll">全选</label>
				</dt>
				<dd>
				
					<div class="p"><input type="checkbox" id="item1" value="1"/><label for="item1">I级</label></div>
					<div class="p"><input type="checkbox" id="item2" value="2"/><label for="item2">II级</label></div>
					<div class="p"><input type="checkbox" id="item3" value="3"/><label for="item3">III级</label></div>
					<p class="buttons"><label id="btnSure">确定</label><label id="btnQv">取消</label></p>
				</dd>
			</dl>
            </div>
            <div class="form-group">
            	<button class="btn search" type="button">查询</button>
				<button class="btn task" type="button" data-toggle="modal" data-target="#taskModal">分配任务</button>
            </div>
		</form>
	</div>

	
	<script id="allIfo" type="text/html">
		<p>数据更新时间：<span>{{all_infos.update_time}}</span>
			报警总数：<span>{{all_infos.all_counts}}</span> 
			Ⅰ级报警数：<span>{{all_infos.first_counts}}</span>
			Ⅱ级报警数：<span>{{all_infos.second_counts}}</span>
			Ⅲ级报警数：<span>{{all_infos.third_counts}}</span>	
		</p>
	</script>
	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	<!--站点-->	
	<%= render :partial => 'test_iframes/sq_publicStation' %>
	 <div id="public_table">
	 	<div class="update" style="padding-left:20px ;">
		暂无数据
		</div>
	 		<div class="public_table">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>站点</th>
							<th>报警规则</th>
							<th>报警级别</th>
							<th>首次报警时间</th>
							<th>最新报警时间</th>
							<th>连续报警次数</th>
							<th>报警状态</th>
							<th>报警详情</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
			</div>
			<!--分页-->
			<div>
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select>  
			</div>
			<div class="page_total left">
				<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
			</div>
			<div class="clear"></div>
	 </div>

	<%= render 'daMoreList' %>
    <%= render 'lists' %>

	<!--模态框-->
	<div id="public_box"></div>
	<div class="lookforRules">
		
	</div>
	<%= render 'lookNews'%>
	<%= render 'taskModal'%>
</div>

