<script id="handlesTab" type="text/html">{
	{{if despaches.length != 0}}
		{{each despaches as despachesNotice index}}
			<tr>
				<td>{{despachesNotice.region_name}}</td>
				<td>{{despachesNotice.despatch_counts}}</td>
				<td>{{despachesNotice.answer_times}}</td>
				<td>{{despachesNotice.doing_times}}</td>
				<td>{{ despachesNotice.despatch_counts == 0 ? '0.00' : (despachesNotice.answer_times / despachesNotice.despatch_counts).toFixed(2)}}</td>
				<td>{{ despachesNotice.despatch_counts == 0 ? '0.00' : (despachesNotice.doing_times / despachesNotice.despatch_counts).toFixed(2)}}</td>
			</tr>
		{{/each}}
	{{else}}
		<tr>
			<td colspan="6">暂无数据</td>
		</tr>
	{{/if}}
}</script>