<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="alarm_num_handles" class="container">
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：报警处理及时性统计</span>
	</div>
	<div class="public_search d_alarms">
		<label for="">区域级别:</label>
		<select class="place_leval">
			<script id="place_leval" type="text/html">
				<option value="">请选择区域级别</option>
				{{each region_levels as regionLevel index}}
					<option value="{{regionLevel.id}}">{{regionLevel.level_name}}</option>
				{{/each}}
			</script>
			<option value=""></option>
		</select>
		<label for="">办事处:</label>
		<input type="text" class="control_stationPort"/>
		<input type="text"  class="control_stationID" />
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<b>-</b>
		<input type="text" class="dateTimepicker end_datetime"/>
		<div class="search_bottom">
			<label for="">报警级别:</label>
			<select class="notice_leval">
				<script id="notice_leval" type="text/html">
					<option value="">请选择报警级别</option>
					{{each alarm_levels as alarmLevel index}}
						<option value="{{alarmLevel.alarm_level}}">{{alarmLevel.level_name}}</option>
					{{/each}}
				</script>
			</select>
			<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
			<button class="btn search">查询</button>
			<a type="button" class="putTable" href='javascript:void(0)' >
	                导出表格
	        </a>
        </div>
	</div>
	<div class="public_table">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>区域名称</th>
					<th>任务数量</th>
					<th>按时响应次数</th>
					<th>按时解决次数</th>
					<th>响应比率</th>
					<th>按时解决响应比率</th>
				</tr>
			</thead>
			<tbody class="exception-list">
			</tbody>
		</table>
   </div>
</div>
<%= render 'handleTable' %>
<!--分页-->
<!--<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
<div class="page_total left">
	<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
</div>
<div class="clear"></div>-->