<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div class="abnormal">

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">异常监控</span>
	</div>
	<div class="navMain public_search">
		<form class="form-inline">
			<div class="form-group">
                <label for="">站&#x3000;&#x3000;点：</label>
                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            <input type="text"  class="control_stationIDs hide" />
            </div>
            <div class="form-group">
            	<label for="">日期:</label>
				<input type="text" class="dateTimepicker start_time form-control" />
            </div>
            <div class="form-group">
            	<button class="btn search" type="button">查询</button>
            </div>
		</form>
	</div>
	<!--<div class="public_search">
		<label>选择站点:</label>
		<input type="text" class="control_station"/>
		<input type="text"  class="control_stationID" />
		<label for="">日期:</label>
		<input type="text" class="dateTimepicker start_time" />
		<button class="btn search">查询</button>
	</div>-->
	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	<!--站点-->	
	<%= render :partial => 'test_iframes/sq_publicStation' %>
	<div id="public_table">
		<div class="ajustTable">
			<div class="tableScoll">
				<table class="table table-bordered table-hover tables">
					<thead style="background: #fff;">
						<tr>
							<th style="vertical-align: middle; text-align: center; width: 10%;" rowspan="2" class="thWi">站点</th>
							<th colspan="2" class="yesterday">昨天</th>
							<th colspan="23" class="today">
								<a class="today-time"></a>	
								<span class="outline pull-right">
									<a></a> 离线
								</span>
								<span class="unnormal pull-right">
									<a></a> 异常
								</span>
								<span class="normal pull-right">
									<a></a> 正常
								</span>
							</th>
						</tr>
						<tr class="self-date">
							<th>23时</th>
							<th>0时</th>
							<th>1时</th>
							<th>2时</th>
							<th>3时</th>
							<th>4时</th>
							<th>5时</th>
							<th>6时</th>
							<th>7时</th>
							<th>8时</th>
							<th>9时</th>
							<th>10时</th>
							<th>11时</th>
							<th>12时</th>
							<th>13时</th>
							<th>14时</th>
							<th>15时</th>
							<th>16时</th>
							<th>17时</th>
							<th>18时</th>
							<th>19时</th>
							<th>20时</th>
							<th>21时</th>
							<th>22时</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="abnormal_table">
				<table class=" table table-bordered table-hover">
					<tbody class="exception-list">
					</tbody>
			    </table>
			</div>
		</div>
	</div>

</div>
<!--模态框-->
<div class="except_box box_except">
	<h4><span class="pull-right">X</span></h4>			
	<div class="except_content"></div>	
</div>
<!--列表-->
<!--<%= render 'dataList' %>-->
<%= render  :partial => 'dataList' %>
<%= render 'proper' %>
