<script id="scalesTab" type="text/html">
	{{if alarms.length != 0}}
		{{each alarms as alarmNotice index}}
			<tr>
				<td>{{alarmNotice.region_name}}</td>
				<td class="alarm_count">{{alarmNotice.alarm_count}}</td>
				<!--<td class="hide alarm_total">{{alarmNotice.alarm_total}}</td>-->
				<td class='max'>{{(alarmNotice.alarm_count / alarmNotice.alarm_total).toFixed(2)}}</td>
				
			</tr>
		{{/each}}
	{{else}}
		<tr>
			<td colspan="3">暂无数据</td>
		</tr>
	{{/if}}
</script>