<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="scales" >
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：报警占比分析</span>
	</div>
	<div class="public_search d_alarms">
		<label for="">区域级别:</label>
		<select class="place_leval">
			<script id="place_leval" type="text/html">
				<option value="">请选择区域级别</option>
				{{each region_levels as regionLevel index}}
					<option value="{{regionLevel.id}}">{{regionLevel.level_name}}</option>
				{{/each}}
			</script>
			<option value=""></option>
		</select>
		<label for="">办事处:</label>
		<input type="text" class="control_stationPort"/>
		<input type="text"  class="control_stationID" />
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<b>-</b>
		<input type="text" class="dateTimepicker end_datetime"/>
		<div class="search_bottom">
			<label for="">报警级别:</label>
			<select class="notice_leval">
				<script id="notice_leval" type="text/html">
					<option value="">请选择报警级别</option>
					{{each alarm_levels as alarmLevel index}}
						<option value="{{alarmLevel.alarm_level}}">{{alarmLevel.level_name}}</option>
					{{/each}}
				</script>
			</select>
			<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
			<button class="btn search">查询</button>
			<a type="button" class="putTable" href='javascript:void(0)' >
	                导出表格
	        </a>
        </div>
	</div>
	<div class="scal_table public_table">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>区域</th>
					<th>数量</th>
					<th>占比</th>
				</tr>
			</thead>
			<tbody class="exception-list">
			</tbody>
		</table>
	</div>
	<div id="scal" style="width: 50%;height:500px;margin-top: 50px;"></div>
	
</div>

<%= render 'scalesTable' %>




