<!--修改-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">查看点检记录规则</h4>
      </div>
      <div class="modal-body">
        <form id="edit_rules_form" class="form-horizontal">
        	<!--<div class="filed form-group">
        		<label for="" class="col-sm-3 control-label">车间部门：</label>
              <div class="col-sm-5 ShopName">
              	<input class="form-control" name="startTime" id="department" disabled="disabled"/>
                
              </div>
        	</div>-->
            <div class="filed form-group">
              <label for="" class="col-sm-3 control-label">车间名称：</label>
              <div class="col-sm-5 ShopName">
              	<input class="form-control" name="startTime" id="workshop" disabled="disabled"/>
                
              </div>
              <label id="workshop1" class="hide match_vlide">请输入车间名称</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">车间区域:</label>
              <div class="col-sm-5">
              	<input class="form-control" name="startTime" id="regionName" disabled="disabled"/>
               
              </div>
              
            </div>
            
            <div class="filed form-group">
              <label class="col-sm-3 control-label">点检计划开始时间：</label>
              <div class="beginTime col-sm-5 ">
                <input class="dayStart form-control" name="startTime" disabled="disabled"/>
              </div>
            
            </div>
            <div class="filed form-group">
              <label for="" class="col-sm-3 control-label">点检计划结束时间：</label>
              <div class="endTime col-sm-5 ">
                <input class="dayEnd form-control" name="endTime" disabled="disabled"/>
              </div>
              
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">需要检查的项目：</label>
              <div class="col-sm-5 ItemsChecked3">
                <script type="text/html" id="ItemsChecked3">
                  {{if boots}}
                  {{each boots as boot index}}
                  <div style="display:inline-block;text-algin:left;" class="col-sm-6"><input type="checkbox"  value="{{boot.id}}" class="checkYN3" name="checkYN3" disabled="disabled">{{boot.check_project}}</div>
                  {{/each}}
                  {{/if}}
                </script>
              </div>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">机修人员：</label>
              <div class="col-sm-5 send_per">
              	<input class="form-control" id="sendPerson" name="endTime" disabled="disabled"/>
                
              </div>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">点检工单描述：</label>
              <div class="col-sm-5">
                <textarea required="required"  class="form-control DescriptionInspector" disabled="disabled"></textarea>
              </div>
              
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>

      </div>
    </div>
  </div>
</div>

