<!--修改-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改点检记录规则</h4>
      </div>
      <div class="modal-body">
        <form id="edit_rules_form" class="form-horizontal">
        	<!--<div class="filed form-group">
        		<label for="" class="col-sm-3 control-label">车间部门：</label>
              <div class="col-sm-5 ShopName">
                <select name="department" id="department" class="form-control">
                  
                </select>
              </div>
        	</div>-->
            <div class="filed form-group">
              <label for="" class="col-sm-3 control-label">车间名称：</label>
              <div class="col-sm-5 ShopName">
                <select name="workshop" id="workshop" class="form-control">
                  <option value="">请选择</option>
                  <% if @region_code.present? %>
                    <% @region_code.each do |r| %>
                      <option value="<%= r.id %>"><%= r.region_name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <label id="workshop1" class="hide match_vlide">请输入车间名称</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">车间区域:</label>
              <div class="col-sm-5">
                <select class="form-control regionName" name="regionName">
                  
                  <script type="text/html" id="regionnameedit">
                  	<option value="">请选择</option>
                    {{if areas}}
                    {{each areas as areas index}}
                    <option value="{{areas.id}}" value1="{{areas.code}}">{{areas.name}}</option>
                    {{/each}}
                    {{/if}}
                  </script>
                </select>
              </div>
              
            </div>
            <!--<div class="filed form-group">
              <label class="col-sm-3 control-label">设备名称：</label>
              <div class="col-sm-5">
                <select class="form-control DeviceName">
                  <option>请选择</option>
                  <script type="text/html" id="devicenameadd">
                    {{if equips}}
                    {{each equips as equip index}}
                    <option value="{{equip.id}}" value1="{{equip.equip_code}}">{{equip.equip_name}}</option>
                    {{/each}}
                    {{/if}}
                  </script>
                </select>
              </div>
              <label id="DeviceName" class="hide match_vlide">请输入设备选择</label>
            </div>-->
            <div class="filed form-group">
              <label class="col-sm-3 control-label">点检计划开始时间：</label>
              <div class="beginTime col-sm-5 ">
                <input class="dayStart form-control" name="startTime"/>
              </div>
              <label id="beginTime" class="hide match_vlide">请输入点检计划开始时间</label>
            </div>
            <div class="filed form-group">
              <label for="" class="col-sm-3 control-label">点检计划结束时间：</label>
              <div class="endTime col-sm-5 ">
                <input class="dayEnd form-control" name="endTime"/>
              </div>
              <label id="endTime" class="hide match_vlide">请输入点检计划结束时间</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">需要检查的项目：</label>
              <div class="col-sm-5 ItemsChecked2">
                <script type="text/html" id="ItemsChecked2">
                  {{if boots}}
                  {{each boots as boot index}}
                  <div style="display:inline-block;text-algin:left;" class="col-sm-6"><input type="checkbox"  value="{{boot.id}}" class="checkYN2" name="checkYN2">{{boot.check_project}}</div>
                  {{/each}}
                  {{/if}}
                </script>
              </div>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">机修人员：</label>
              <div class="col-sm-5 send_per">
                <script type="text/html" id="sendPerson2">
                  {{if login}}
              		{{each login as data index}}
                  <div style="display:inline-block;text-algin:left;" class="col-sm-6"><input type="radio" name="sendPerson2"  value="{{data.id}}" class="Mechanic2">{{data.login_name}}</div>
                  {{/each}}
                  {{/if}}
                </script>
              </div>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">点检工单描述：</label>
              <div class="col-sm-5">
                <textarea required="required" placeholder="请输入点检工单描述" class="form-control DescriptionInspector"></textarea>
              </div>
              <label id="DescriptionInspector" class="hide match_vlide">请输入点检工单描述</label>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="addBtn">保存</button>
      </div>
    </div>
  </div>
</div>

