<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<style>
  #dTask ul{
    width: 90%;
    background: #FFF;
    overflow: hidden;
    margin: 20px auto;
  }
  #dTask ul li{
    position: relative;
    text-align: center;
    width: 30%;
    float: left;
    height: 60px;
  }
  #dTask .circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #999;
    position: absolute;
    left: 50%;
    margin-left: -20px;
  }
  #dTask .lineLeft{
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #999;
    width: 50%;
    vertical-align: 8px;
    position: absolute;
    left: 0px;
    top: 10px;
  }
  #dTask .lineRight{
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #999;
    width: 50%;
    vertical-align: 8px;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  #dTask ul li p{
    position: absolute;
    top: 30px;
    width: 100%;
    margin-left: -10px;
  }
  #dTask ul li .changeColor{
    background: #00923f;
  }
  #MaintenanceEditor table td{
    margin: 10px 0px;
    display: inline-block;
  }
  #div-1{
  	border-bottom: 1px solid #efefef;
  }
</style>
<div id="d_equip_work_rules">
  <div class="navTop">
    <span class="lines"></span>
    <span class="tableName">点检记录规则</span>
  </div>
  <div class="navMain public_search">
    <input type="hidden" class="searchSta"/>
    <input type="hidden" class="startTime1" />
    <input type="hidden" class="endTime1" />
    <input type="hidden" class="searchWor"/>
    <input type="hidden" class="searchPerson"/>
    <input type="hidden" class="searchStatus"/>
    <form class="form-inline">
      <div class="form-group">
        <label for="">车间名称：</label>
        <select name="" id="workshop" class="form-control">
          <option value="">请选择</option>
          <% if @region_code.present? %>
          <% @region_code.each do |r| %>
          <option value="<%= r.id %>"><%= r.region_name %></option>
          <% end %>
          <% end %>
        </select>
        <input type="text"  class="control_stationIDs hide" />
      </div>
      
      <div class="form-group">
        <label for="">点检时间:</label>
        <input type="" class="createStart create_datetime form-control"/><span style="margin-left: -10px;margin-right: 5px;">-</span><input type="" class="createEnd end_datetime form-control"/>
      </div>
      
      <div class="form-group">
        <button class="btn search" type="button">查询</button>
        <button  class="btn btn_area new_add_btn" id="add" type="button" data-toggle="modal" data-target="#addModal">新增</button>
      </div>
    </form>

  </div>
  <div id="public_table">
    <div class="public_table">
    	
      <table class="table table-bordered table-hover">

      </table>
    </div>
    
  </div>
  <div class="page_list">
      <ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
      <select id="pagesize" class="right">
        <option value="10" selected="selected">每页10条</option>
        <option value="20">每页20条</option>
        <option value="30">每页30条</option>
        <option value="40">每页40条</option>
        <option value="50">每页50条</option>
      </select>
      <div class="page_total left">
        <span>共<small></small>条数据,当前显示第<a>1</a>页</span>
      </div>
    </div>
  <script id="d_equip_works" type="text/html">
    <thead>
    <tr>
      <th class="hide">序号</th>
      <th>车间名称</th>
      <th>车间区域</th>
      <th>创建人</th>
      <th>检修人员</th>
      <th>点检开始日期</th>
      <th>点检结束日期</th>
      <!--<th>点检原因</th>-->
     
      <th>描述</th>
      <th>操作</th>
      <th>编辑</th>
      <th>删除</th>
    </tr>
    </thead>
    <tbody>
    {{if equip_works.length > 0}}
    {{each equip_works as data index}}
    <tr>
    	
      <td class="hide id">{{data.id}}</td>
      <td class="hide region_id">{{data.region_id}}</td>
      <td class="hide area_id">{{data.area_id}}</td>
      <td class="region_name">{{data.region_name}}</td>
      <td>{{data.area_name}}</td>
      <td>{{data.founder}}</td>
      {{if data.work_person == null}}
      <td>任务还未下发</td>
      {{else}}
      <td>{{data.work_person}}</td>
      {{/if}}
      <td>{{data.work_start_time}}</td>
      <td>{{data.work_end_time}}</td>
      <!--<td>{{data.abnor_desc}}</td>-->

      <td>{{data.work_desc}}</td>
      
      <td class="handle_width">
        <a class="watchModal" data-toggle="modal" data-target="#detailsModal">查看</a>
      </td>
     <td class="handle editModal" data-toggle="modal" data-target="#editModal"><img src="<%= image_path("edit.png") %>"/></td>
     <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
     
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td colspan="13">
        暂无数据
      </td>
    </tr>
    {{/if}}
    </tbody>
  </script>
  <div id="public_box"></div>
  <div class="clear"></div>
</div>

<%= render 'new' %>

<%= render 'edit' %>
<%= render 'details' %>
