<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>空气质量监测国控站运维系统APP下载</title>
		<style>
		body{
			width: 100%; 
    height: 100%;
		}
			#download{
		
			   position:absolute;
			   top:50%;
			   left:50%;
			   margin:-150px 0 0 -200px;
			   width:400px;
			   height:300px;
			   text-align: center;
			}
			#download .btn{border-radius: 4px; width: 250px;height: 80px;line-height: 65px;
					font-size: 40px;
			}
			#download h1{
				margin: 35px 0px 35px 0px;
			}
			#download a img{
				width: 300px;
				height: 200px;
			}
		</style>
	</head>
	<body>
		<div id="download">
			<a href='javascript:void(0)' onclick="window.location='/assist/download_explorer'"><p><img src="/images/logo.jpg"></p>
			<h1>空气质量监测国控站运维系统APP下载</h1></a>
			<a  class='btn btn-success' href='javascript:void(0)' onclick="window.location='/assist/download_explorer'">
  下载
</a>
		</div>
	</body>
</html>
 