<form class="form-horizontal">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">字段编码</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="fieldform" name="f_field_title[code]"
             placeholder="字段编码" >
    </div>
  </div>
    <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">字段名称</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="fieldform" name="f_field_title[name]"
             placeholder="字段名称" >
    </div>
  </div>
    <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">是否有值</label>
    <div class="col-sm-6">
    	<input type="radio"  id="fieldform" name="f_field_title[title_if_value]" value="Y"/>是
     <input type="radio"  id="fieldform" name="f_field_title[title_if_value]" value="N"/>否
    </div>
  </div>
  
</form>
