<form class="form-horizontal">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">字段编码</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="fieldform" name="f_field_title[code]"
             placeholder="字段编码" value="<%= @field_title.code%>">
    </div>
  </div>
    <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">字段名称</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="fieldform" name="f_field_title[name]"
             placeholder="字段名称" value="<%= @field_title.name %>">
    </div>
  </div>
    <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">是否有值</label>
    <div class="col-sm-6">
    	<b class="hide title_if_value"><%= @field_title.title_if_value %></b>
    	
    	<input type="radio"  id="fieldRadio1" name="f_field_title[title_if_value]" value="Y"/>是
     <input type="radio"  id="fieldRadio2" name="f_field_title[title_if_value]" value="N"/>否
    </div>
  </div>
  
</form>
