<table class="table table-hover">
  <caption>检查项字段管理

  </caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>名称</th>
    <th>编码</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @funcs.each do |func| %>
      <tr>
        <td ><%= func.id %></td>
        <td><%= func.name %></td>
        <td><%= func.code %></td>

        <td>
          <button class="btn btn-primary btn-md" data-toggle="modal" onclick="modal_show(<%= func.id %>)">
            编辑
          </button>
          <button class="btn btn-danger btn-md" data-toggle="modal" onclick="delete_func(<%= func.id %>)">
            删除
          </button>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>