<%  content_for :javascript do
  javascript_include_tag "#{controller_name}"
end
%>
<div class="container">
  <br/>
  <button class="btn btn-info btn-md" data-toggle="modal" onclick="create_func()">
    添加
  </button>
  <button style="float: right" class="btn btn-info btn-md" data-toggle="modal" onclick="indexInit()">
    << 返回
  </button>
  <hr>
  <div class="body-infos">
  </div>
</div>
<%= render :partial => "model" %>

