<div class="navTop">
	<span class="lines"></span>
	<span class="tableName Work_name"><%= @form_name %></span> | <span class="time"><%= @time %></span>
	
	<button type="button" class="btn btn-success btnNew new_add_btn" id="back" type="button" onclick="location=location">返回</button>
	<button type="button" class="btn green" id="excell" onclick="method5('back-shop','<%= @form_name %><%= @time %>')">导出表格</button>
	
</div>
<div id="public_table">

	<div class="clear"></div>
	<div style="width: 90%; margin: 0 auto; ">
		<table border="1" cellpadding="0" cellspacing="0"  width="800px" id="back-shop" class="excel_table">
			
			<tbody>
				<tr>
					<td colspan="2" style="height: 27.75pt;width: 344pt;"><%= @form_name %></td>
				</tr>
				<tr>
					<td colspan="2" height="38">日期：<span class="time"><%= @time %></span></td>
				</tr>
				<tr>
					<td width="10%" align='center'>车间</td>
					<td width="90%" align='center'>
						<table border="1" cellpadding="0" cellspacing="0" frame="void">
							<tr>
								<td width="10%" align='center'>项目</td>
							    <td width="10%" align='center'>日产量(T)</td>
							    <td width="10%" align='center'>月产量累计  （T）</td>
							    <td width="10%" align='center'>日收率(%)</td>
							    <td width="60%" align='center'>中间体质量数据</td>
							   
							</tr>
						</table>
					</td>
				</tr>
				<tr>
			    	<td width="10%" align='center'>烘包车间</td>
			    	<td width="90%" align='center' style="vertical-align:text-top">
			    		<table frame="void" border="1" cellpadding="0" cellspacing="0" style="width: 100%">
			    			<% if @region_datas  %>
								<% if @region_datas.length>0 %>
									<% @region_datas.each_with_index do | item,index | %>
									<tr>
										<td width="10%" align='center'><%= item[:name] %></td>
										<td width="10%" align='center'><%= item[:nums] %></td>
										<td width="10%" align='center'><%= item[:month_value] %></td>
										<td width="10%" align='center'><%= item[:daily_yield] %></td>
										<td width="60%" align='center'>
											<table border="1" cellpadding="0" cellspacing="0" frame="void" class="zjt2-table" style="width: 100%">
													<% if item[:data][0]  %>
														<% if item[:data][0].length>0 %>
															
															<tr>
																<% if  item[:code] == "SPCN" %>
																	<td width="35%"><%= item[:data][0][:technic_01] %></td>
																	<td width="13%"><%= item[:data][0][:technic_24] %></td>
																	<td width="13%"><%= item[:data][0][:technic_25] %></td>
																	<td width="13%"><%= item[:data][0][:technic_14] %></td>
																	<td width="13%">---</td>
																	<td width="13%">---</td>
																<% elsif item[:code] == "na_nums" %>
																<td width="35%"><%= item[:data][0][:technic_01] %></td>
																<td width="13%"><%= item[:data][0][:technic_24] %></td>
																<td width="13%"><%= item[:data][0][:technic_26] %></td>
																<td width="13%"><%= item[:data][0][:technic_27] %></td>
																<td width="13%"><%= item[:data][0][:technic_14] %></td>
																<td width="13%"><%= item[:data][0][:technic_28] %></td>
																<% elsif item[:code] == "suan_nums" %>
																<td width="35%"><%= item[:data][0][:technic_01] %></td>
																<td width="13%"><%= item[:data][0][:technic_24] %></td>
																<td width="13%"><%= item[:data][0][:technic_26] %></td>
																<td width="13%"><%= item[:data][0][:technic_27] %></td>
																<td width="13%"><%= item[:data][0][:technic_14] %></td>
																<td width="13%"><%= item[:data][0][:technic_28] %></td>
																<% elsif item[:code] == "SCPS" %>
																	<td width="35%"><%= item[:data][0][:technic_01] %></td>
																	<td width="13%"><%= item[:data][0][:technic_24] %></td>
																	<td width="13%"><%= item[:data][0][:technic_25] %></td>
																	<td width="13%"><%= item[:data][0][:technic_14] %></td>
																	<td width="13%">---</td>
																	<td width="13%">---</td>
																<%end %>
															</tr>
															
														<% end %>
													<% end %>
													<% if item[:data][1]  %>
														<% if item[:data][1][:data].length>0 %>
															<% item[:data][1][:data].each_with_index do | item2,i | %>
															<tr>
																
																<% if  item[:code] == "SPCN" %>
																<td width="35%"><%= item2.technic_01 %></td>
																	<td width="13%"><%= item2.technic_24 %></td>
																	<td width="13%"><%= item2.technic_25 %></td>
																	<td width="13%"><%= item2.technic_14 %></td>
																	<td width="13%">---</td>
																	<td width="13%">---</td>
																<% elsif item[:code] == "na_nums" %>
																<td width="35%"><%= item2.technic_01 %></td>
																<td width="13%"><%= item2.technic_24 %></td>
																<td width="13%"><%= item2.technic_26 %></td>
																<td width="13%"><%= item2.technic_27 %></td>
																<td width="13%"><%= item2.technic_14 %></td>
																<td width="13%"><%= item2.technic_28 %></td>
																<% elsif item[:code] == "suan_nums" %>
																<td width="35%"><%= item2.technic_01 %></td>
																<td width="13%"><%= item2.technic_24 %></td>
																<td width="13%"><%= item2.technic_26 %></td>
																<td width="13%"><%= item2.technic_27 %></td>
																<td width="13%"><%= item2.technic_14 %></td>
																<td width="13%"><%= item2.technic_28 %></td>
																<% elsif item[:code] == "SCPS" %>
																	<td width="35%"><%= item2.technic_01 %></td>
																	<td width="13%"><%= item2.technic_24 %></td>
																	<td width="13%"><%= item2.technic_25 %></td>
																	<td width="13%"><%= item2.technic_14 %></td>
																	<td width="13%">---</td>
																	<td width="13%">---</td>
																<%end %>
															</tr>
															<% end %>
														<% end %>
													<% end %>
												
											</table>
										</td>
									</tr>
									<% end %>
								<% end %>
							<% end %>
					
							<tr>
					
								<td width="10%" align='center' rowspan="2">蒸汽</td>
								<td width="10%" align='center'>日用量</td>
								<td width="10%" align='center'>累计用量</td>
								<td width="10%" align='center'>日单耗</td>
								<td>月单耗</td>
								
							</tr>
							<tr>
								
								<td width="10%" align='center'><%= @day_steam %></td>
								<td width="10%" align='center'><%= @steam_month_sum %></td>
								<td width="10%" align='center'><%= @day_expend %></td>
								<td><%= @month_expend %></td>
							</tr>
							
			    		</table>
			    	</td>
			    </tr>
				
			</tbody>
		</table>
		</div>
</div>
