
<table class="table-bordered table table-hover" id="indexTable">
	<thead>
		<tr>
			<th>车间</th>
			<th>日期</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody class="exception-list">
		<% if @region_datas %>
			<% if @region_datas.length>0 %>
				<% @region_datas.each_with_index do | item,index | %>
					<tr>
						<td class="hide code"><%= item[:code] %></td>
						<td><%= item[:form_name] %></td>
						<td class="date_time"><%= item[:date_time] %></td>
						<td><a class="lookFor">详情</a></td>
					</tr>
				<% end %>
			<% else %>
				<tr><td class="tdName" colspan="3">暂无数据</td></tr>
			<% end %>
		<% else %>
			<tr><td class="tdName" colspan="3">暂无数据</td></tr>
		<% end %>	
	</tbody>
</table>
<div class="chartContent">
	<div id="lineChart"></div>
</div>
<script>
	$(function(){
//		折线图

var nil=null;
 Highcharts.setOptions({
        lang:{
            contextButtonTitle: "图表导出菜单",
            downloadJPEG:"下载 JPEG 图片",
            downloadPDF:"下载 PDF 文件",
            downloadPNG:"下载 PNG 文件",
            downloadSVG:"下载 SVG 文件",
            printChart:"打印图表"
        }
    });
		var xData= [
			      <% if @months %>
			        <% if @months.length > 0 %>
			          <% @months.each do |time| %>
			               '<%= time %>',
			          <% end %>
			        <% end %>   
			      <% end %>
			    ];
			    
		var chart = Highcharts.chart('lineChart', {
		    title: {
		        text: '生产趋势图'
		    },
		    credits: {
		        enabled: false//右下角的版权信息不显示
		    },
		    yAxis: {
		        title: {
		            text: 'ton（t）'
		        }
		    },
//		    tooltip: {
//		        crosshairs: true,
//		        shared: true
//		    },
		    legend: {
		        layout: 'horizontal',
		        align: 'center',
		        verticalAlign: 'bottom'
		    },
		    xAxis: {
	        
	            categories: xData
	        },
		    series:[
            <% if @month_days %>
                <% @month_days.each do |d_data_top| %>
                {       
                    
                    data:<%= d_data_top["data"] %>,
                    name: "<%=  d_data_top["name"] %>"
                },
                <% end %> 
            <% end %>
        ],
		  
		//  responsive: {
		//      rules: [{
		//          condition: {
		//              maxWidth: 500
		//          },
		//          chartOptions: {
		//              legend: {
		//                  layout: 'horizontal',
		//                  align: 'center',
		//                  verticalAlign: 'bottom'
		//              }
		//          }
		//      }]
		//  }
		});
	})
</script>