<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="fermentation_plant_form">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">车间日报表</span>
		</div>
		<div class="navMain public_search">
		
			<form class="form-inline">
				<div class="form-group">
					<label for="">时间：</label>
					<input type="text" class="form-control day-start" id="start_date_range" name="start_datetime"/>
				</div>
				<div class="form-group">
					<label for="">车间：</label>
					<input type="text" class="form-control workshopName" data-toggle="modal" data-target="#ty_workshop" />
					<input type="text"  class="workshopID hide" />
				</div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				</div>
			</form>
		</div>
		<div class="plant_title_btn">
			<button class="btn btn-chack" id="listTable">列表</button>
			<button class="btn" id="listChart">趋势图</button>
		</div>
		<!--<div class="btn-group ty-group" role="group">
		    <button type="button" class="btn btn-default btn-chack" id="listTable">列表</button>
		    <button type="button" class="btn btn-default" id="listChart">趋势图</button>
		</div>-->

		<div id="public_table" style="margin-top:0px">
			<div class="public_table">
				
			</div>
			
		</div>
		
		<!--<div style="height: 160px;">
			<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
			<select id="pagesize" class="right">  
			    <option value="10" selected="selected">每页10条</option>  
			    <option value="20">每页20条</option>
				<option value="30">每页30条</option>  
			    <option value="40">每页40条</option>
			    <option value="50">每页50条</option> 
			</select> 
			<div class="page_total left">
				<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
			</div> 
		</div>-->
		
	</div>
	<%= render :partial => 'test_iframes/ty_workshop' %>
	<div id="lookHtml">
		
	</div>
</div>
