<script id="analysisTable" type="text/html">
	{{each week_plan_data.currnt_week_plan_date as list index}}
		<tr>
			
			
			<td class="hidden">{{each list.handle_station as sendTypes i}}<span>{{sendTypes}}</span>{{/each}}</td>
			<td>{{list.unit_name}}</td>
			<td class="week_time hide">{{list.week_time}}</td>
			
			<td>{{list.week_flag}}</td>
			<td class="randTime">{{list.week_rand}}</td>
			<td>{{list.station_count}}</td>
			<td>{{list.station_handle_ok}}</td>
			<td>{{list.station_handle_un}}</td>
			<td>{{list.status_o}}</td>
			<td>{{list.status_y}}</td>
			<td>{{list.status_w}}</td>
			<td>{{list.station_count == 0 ? '0.00' :(list.status_w / list.station_count).toFixed(2)}}</td>
			<td>
				<a class="lookFor">详细</a>
			</td>
		</tr>
	{{/each}}
	{{each week_plan_data.next_week_plan_date as list index}}
		<tr>
			
			
			<td class="hidden">{{each list.handle_station as sendTypes i}}<span>{{sendTypes}}</span>{{/each}}</td>
			<td>{{list.unit_name}}</td>
			<td class="week_time hide">{{list.week_time}}</td>
			
			<td>{{list.week_flag}}</td>
			<td class="randTime">{{list.week_rand}}</td>
			<td>{{list.station_count}}</td>
			<td>{{list.station_handle_ok}}</td>
			<td>{{list.station_handle_un}}</td>
			<td>{{list.status_o}}</td>
			<td>{{list.status_y}}</td>
			<td>{{list.status_w}}</td>
			<td>{{list.station_count == 0 ? '0.00' :(list.status_w / list.station_count).toFixed(2)}}</td>
			<td>
				<a class="lookFor">详细</a>
			</td>
		</tr>
	{{/each}}
</script>
