<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="plan_analysis">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">计划执行分析</span>
		</div>
		<div class="navMain public_search">
			<form class="form-inline">
				<div class="form-group">
					<label for="">时间:</label>
			        <select id="ops_type" class="form-control">
			        	<script type="text/html" id="searchTime">
			        		<option value="">请选择</option>
			        		{{each week_plan_data.currnt_week_plan_date as timeList index}}
			        		<option value="{{timeList.week_time.substr(0,10)}}" title="{{timeList.week_flag}}">{{timeList.week_rand}}</option>
			        		{{/each}}
			        		{{each week_plan_data.next_week_plan_date as timeList index}}
			        		<option value="{{timeList.week_time.substr(0,10)}}" title="{{timeList.week_flag}}">{{timeList.week_rand}}</option>
			        		{{/each}}
			        	</script>
			        </select>
				</div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				</div>
			</form>
			
     	</div>
     	
     	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<!--<th>城市</th>-->
							<th>运维单位</th>
							<!--<th>运维人员</th>-->
							<th>周次</th>
							<th>时间</th>
							<th>总站点数</th>
							<th>计划已制定</th>
							<th>计划未制定</th>
							<th>计划待上报</th>
							<th>计划待审核</th>
							<th>计划已审核</th>
							<th>完成率(%)</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
	     	</div>
	    </div>
	   <%= render 'table' %>
	<div class="clear"></div>
	</div>
</div>
<%= render 'detail' %>
