<%= form_for(@s_area_login) do |f| %>
  <% if @s_area_login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@s_area_login.errors.count, "error") %> prohibited this s_area_login from being saved:</h2>

      <ul>
      <% @s_area_login.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :s_administrative_area_id %><br>
    <%= f.number_field :s_administrative_area_id %>
  </div>
  <div class="field">
    <%= f.label :d_station_id %><br>
    <%= f.number_field :d_station_id %>
  </div>
  <div class="field">
    <%= f.label :d_login_msg_id %><br>
    <%= f.number_field :d_login_msg_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
