<p id="notice"><%= notice %></p>

<h1>Listing S Area Logins</h1>

<table>
  <thead>
    <tr>
      <th>S administrative area</th>
      <th>D station</th>
      <th>D login msg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @s_area_logins.each do |s_area_login| %>
      <tr>
        <td><%= s_area_login.s_administrative_area_id %></td>
        <td><%= s_area_login.d_station_id %></td>
        <td><%= s_area_login.d_login_msg_id %></td>
        <td><%= link_to 'Show', s_area_login %></td>
        <td><%= link_to 'Edit', edit_s_area_login_path(s_area_login) %></td>
        <td><%= link_to 'Destroy', s_area_login, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New S area login', new_s_area_login_path %>
