<p id="notice"><%= notice %></p>

<p>
  <strong>S administrative area:</strong>
  <%= @s_area_login.s_administrative_area_id %>
</p>

<p>
  <strong>D station:</strong>
  <%= @s_area_login.d_station_id %>
</p>

<p>
  <strong>D login msg:</strong>
  <%= @s_area_login.d_login_msg_id %>
</p>

<%= link_to 'Edit', edit_s_area_login_path(@s_area_login) %> |
<%= link_to 'Back', s_area_logins_path %>
