<div class="week_reports reports">
	<div class="public_title">
		<img src=""/>
		<span>您的当前位置:周报表</span>
	</div>
	<div class="public_search">
		<label>选择省份:</label>
		<input type="text"  />
		<button class="btn search">查询</button>
		<a type="button" class="putTable" href='javascript:void(0)' >导出表格</a>
	</div>
	<div class="public_table">
		<table class="table table-bordered table-hover">
			<thead>
	       	<tr>
	       		<th rowspan="2">序号</th>
	       		<th rowspan="2">省份</th>
	       		<th rowspan="2">城市</th>
	       		<th rowspan="2">点位名称</th>
	       		<th colspan="3">PM10</th>
	       		<th colspan="3">pm25</th>
	       		<th colspan="3">SO2</th>
	       		<th colspan="3">NO2</th>
	       		<th colspan="3">CO</th>
	       		<th colspan="3">O3</th>
	       	</tr>
	       	<tr>
				<th>实连数</th>
				<th>有效数</th>
				<th>有效率(%)</th>
				<th>实连数</th>
				<th>有效数</th>
				<th>有效率(%)</th>
				<th>实连数</th>
				<th>有效数</th>
				<th>有效率(%)</th>
				<th>实连数</th>
				<th>有效数</th>
				<th>有效率(%)</th>
				<th>实连数</th>
				<th>有效数</th>
				<th>有效率(%)</th>
				<th>实连数</th>
				<th>有效数</th>
				<th>有效率(%)</th>
	       	</tr>
	       </thead>
		</table>
	</div>
</div>