<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="alarm_num_trend" class="container">
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：报警趋势分析</span>
	</div>
	
	
</div>



