<script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.js"></script>
<div id="aqIcanv">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">全国AQI级别统计</span>
		</div>
		<div class="navMain public_search" id="aqInav">
			<form class="form-inline">
				<div class="form-group">
					<label for="">区域:</label>
					<select name="" id="cities">
						<script  type="text/html" id="city">
							<option value="">请选择</option>
							{{each region_code as cityList index}}
							<option value="{{cityList.id}}">{{cityList.region_name}}</option>
							{{/each}}
						</script>
					</select>
			    </div>
			    <div class="form-group">
			    	<label for="">年份:</label>
					<select name="" id="years">
						<script  type="text/html" id="year">
							<option value="">请选择</option>
							<option value="{{year[0]}}">{{year[0]}}</option>
							<option value="{{year[1]}}">{{year[1]}}</option>
							<option value="{{year[2]}}">{{year[2]}}</option>
							<option value="{{year[3]}}">{{year[3]}}</option>
							<option value="{{year[4]}}">{{year[4]}}</option>
						</script>		
					</select>
			    </div>
			    <div class="form-group">
			    	<button type="button" name="commit" value="" class="search">查询</button>
			    	<button type="button" id='import' class="import">导出图片</button>
			    	
			    </div>
			</form>
		</div>
	

		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="cor">
			<ul id="aqIstatus">
				<script  type="text/html" id="aqIstatu">
						<li><p>严重污染:<span class="cor6">{{count_num.serious_num}}</span></p></li>
						<li><p>重度污染:<span class="cor5">{{count_num.severe_num}}</span></p></li>
						<li><p>中度污染:<span class="cor4">{{count_num.moder_num}}</span></p></li>
						<li><p>轻度污染:<span class="cor3">{{count_num.mild_num}}</span></p></li>
						<li><p>良:<span class="cor2">{{count_num.good_num}}</span></p></li>
						<li><p>优:<span class="cor1">{{count_num.excellent_num}}</span></p></li>
				</script>		
			</ul>
		</div>
		<div id="div1">
		</div>
	</div>
</div>

<script >
	
var aim_div="";//目标div 放置日历的位置
var m=0;//使用标识,之前页面记录的几列
var n=0;//使用标识,根据页面宽度决定日历分为几列
var language="cn";//语言选择
var month_arry;
var week_arry;
var month_cn=new Array("一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月");//月
var month_en=new Array("January","February","March","April","May","June","July","August","September","October","November","December");//月
var week_cn=new Array("日","一","二","三","四","五","六");//星期
var week_en=new Array("Su","Mo","Tu","We","Th","Fr","Sa");//星期

function loading_calendar(id,lan){
	aim_div="#"+id;
	language=lan;
	if(lan=="cn"){
		month_arry=month_cn;
		week_arry=week_cn;
	}else{
		month_arry=month_en;
		week_arry=week_en;
	}
	//开始
	$(aim_div).fullYearPicker({
		disabledDay : '',
		value : [ /* '2016-6-25', '2016-8-26'  */],
		cellClick : function(dateStr, isDisabled) {
			/* console.log("单击日期:"+dateStr); */
			/* arguments[0] */
		}
	});	
}


(function() {
	window.onload=function(){  
		  window.onresize = change;  
		  change();  
	} ;
	
	function change(){
		var obj=$(aim_div);
		var m_obj=$(".fullYearPicker .month-container");
		var width=obj.width();
		var class_width="month-width-";
		n=parseInt(width/200);
		if(n==5)n=4;
		if(n>6)n=6;
		
		if(n!=m){
			m_obj.removeClass(class_width+m);
			m_obj.addClass(class_width+n);
			m=n;
		}
		
	};

	function changeHandle(){
		m=0;
		change();
		
	}
	
	//设置年份菜单
	function setYearMenu(year){
		$(".year .left_first_year").text(year-1+"");
		$(".year .left_sencond_year").text(year-2+"");
		$(".year .cen_year").text(year);
		$(".year .right_first_year").text(year+1+"");
		$(".year .right_sencond_year").text(year+2+"");
	}
	function tdClass(i, disabledDay, sameMonth, values, dateStr) {
		
		var cls = i == 0 || i == 6 ? 'weekend' : '';
		if (disabledDay && disabledDay.indexOf(i) != -1)
			cls += (cls ? ' ' : '') + 'disabled';
		if (!sameMonth){
			cls += (cls ? ' ' : '') + 'empty';
		}else{
			cls += (cls ? ' ' : '') + 'able_day';
		}
		if (sameMonth && values && cls.indexOf('disabled') == -1
				&& values.indexOf(',' + dateStr + ',') != -1)
			cls += (cls ? ' ' : '') + 'selected';
		return cls == '' ? '' : ' class="' + cls + '"';
	}
	function renderMonth(year, month, clear, disabledDay, values) {
		
		var d = new Date(year, month - 1, 1), s = "<div class='month-container'>"+'<table cellpadding="3" cellspacing="1" border="0"'
				+ (clear ? ' class="right"' : '')
				+ '>'
				+ '<tr><th colspan="7" class="head"  index="'+month+'">' /* + year + '年'  */
				+month_arry[month-1] 
				+ '</th></tr>'
				+ '<tr><th class="weekend">'+week_arry[0]+'</th><th>'+week_arry[1]+'</th><th>'+week_arry[2]+'</th><th>'+week_arry[3]+'</th><th>'+week_arry[4]+'</th><th>'+week_arry[5]+'</th><th class="weekend">'+week_arry[6]+'</th></tr>';
		var dMonth = month - 1;
		var firstDay = d.getDay(), hit = false;
		s += '<tr>';
		for (var i = 0; i < 7; i++)
			if (firstDay == i || hit) {
				s += '<td'
						+ tdClass(i, disabledDay, true, values, year
								+ '-' + month + '-' + d.getDate())
						+ '>' + d.getDate() + '</td>';
				d.setDate(d.getDate() + 1);
				hit = true;
			} else
				s += '<td' + tdClass(i, disabledDay, false)
						+ '>&nbsp;</td>';
		s += '</tr>';
		for (var i = 0; i < 5; i++) {
			s += '<tr>';
			for (var j = 0; j < 7; j++) {
				s += '<td'
						+ tdClass(j, disabledDay,
								d.getMonth() == dMonth, values, year
										+ '-' + month + '-'
										+ d.getDate())
						+ '>'
						+ (d.getMonth() == dMonth ? d.getDate()
								: '&nbsp;') + '</td>';
				d.setDate(d.getDate() + 1);
			}
			s += '</tr>';
		}
		return s + '</table></div>' + (clear ? '<br>' : '');
	}
	function getDateStr(td) {
		return td.parentNode.parentNode.rows[0].cells[0].getAttribute('index')+"-"+ td.innerHTML;
	}
	function renderYear(year, el, disabledDay, value) {
		
		el.find('td').unbind();
		var s = '', values = ',' + value.join(',') + ',';
		for (var i = 1; i <= 12; i++)
			s += renderMonth(year, i, false, disabledDay, values);
			s+="<div class='date_clear'></div>";
		el
				.find('div.picker')
				.html(s)
				.find('td')
				.click(
						);
		changeHandle();
		day_drap_listen();
	}
	//监听日期拖在
	function day_drap_listen(){
		var is_drap=0;
		var start_date="";
		var end_date="";
		$(".fullYearPicker .picker table td").mousedown(function(event){
			/*判断是左键才触发  */
			if(event.button==0&&($(this).html()!="&nbsp;")){
				is_drap=1;
				start_date=getDateStr($(this)[0]);
			}

		});
	}
	/*根据日期判断大小 开始值小于结束值返回true  */

	
	//@config：配置，具体配置项目看下面
	//@param：为方法时需要传递的参数
	$.fn.fullYearPicker = function(config, param) {
		if (config === 'setDisabledDay' || config === 'setYear'
				|| config === 'getSelected'
				|| config === 'acceptChange') {//方法
			var me = $(this);
			if (config == 'setYear') {//重置年份
				me.data('config').year = param;//更新缓存数据年份
				me.find('div.year a:first').trigger('click', true);
			} else if (config == 'getSelected') {//获取当前当前年份选中的日期集合（注意不更新默认传入的值，要更新值请调用acceptChange方法）
				return me.find('td.selected').map(function() {
					return getDateStr(this);
				}).get();
			} else if (config == 'acceptChange') {//更新日历值，这样才会保存选中的值，更换其他年份后，再切换到当前年份才会自动选中上一次选中的值
				me.data('config').value = me
						.fullYearPicker('getSelected');
			} else {
				me.find('td.disabled').removeClass('disabled');
				me.data('config').disabledDay = param;//更新不可点击星期
				if (param) {
					me
							.find('table tr:gt(1)')
							.find('td')
							.each(
									function() {
										if (param
												.indexOf(this.cellIndex) != -1)
											this.className = (this.className || '')
													.replace(
															'selected',
															'')
													+ (this.className ? ' '
															: '')
													+ 'disabled';
									});
				}
			}
			return this;
		}
		//@year:显示的年份
		//@disabledDay:不允许选择的星期列，注意星期日是0，其他一样
		//@cellClick:单元格点击事件（可缺省）。事件有2个参数，第一个@dateStr：日期字符串，格式“年-月-日”，第二个@isDisabled，此单元格是否允许点击
		//@value:选中的值，注意为数组字符串，格式如['2016-6-25','2016-8-26'.......]
		config = $.extend({
			year : new Date().getFullYear(),
			disabledDay : '',
			value : []
		}, config);
		return this
				.addClass('fullYearPicker')
				.each(
						function() {
							var me = $(this), year = config.year|| new Date().getFullYear(), newConifg = {
								cellClick : config.cellClick,
								disabledDay : config.disabledDay,
								year : year,
								value : config.value
							};
							me.data('config', newConifg);
							
							me.append('<div class="picker"></div>');
							setYearMenu(year);
							$("#aqInav #years").change(function(){
								var year = $(this).val();
								 renderYear(year, me, newConifg.disabledDay,newConifg.value);
							});
							renderYear(year, me, newConifg.disabledDay,
									newConifg.value);						
						});
	};
})();


function close_modal(){
	$("#calendar-modal-1").modal('close');
	
}


	
</script>
<script type="text/javascript">
	$(function(){

// 城市..........................................
		$.getJSON('/d_get_years/get_region_code').done(function(data){
			var cities = template('city',data);
			$('#aqInav #cities').html(cities);
		})
// 年份............................................
		$.getJSON('/d_get_years/get_year').done(function(data){
			var years = template('year',data);
			$('#aqInav #years').html(years);
		})
		function aqIinit () {
			$.ajax({
					type:'get',
					url:'/d_get_years.json',
					success:function(data){
					var status = template('aqIstatu',data);
					$('#cor #aqIstatus').html(status);
					},
					error:function(error){
						console.log(error);
					}
				})
		}
		aqIinit ();	
// 查询..........................................
		$('#aqInav .search').click(function(){
			$('.loading').show();
			var begin_time=$("#years").val()+'-01-01 00:00:00';
			var end_time=$("#years").val()+'-12-31 23:59:59';
		// 	for(var i=0; i < 366;i++){
		// 	console.log($('.able_day').eq(i).css('background'));
		// }
			var Data;
			$.ajax({
				type:'get',
				url:'/d_get_years.json?citys=' + $('#cities').val() + "&begin_time=" + begin_time + '&end_time=' + end_time,
				success:function(data){
					Data=data;
					var arr=[];
					$.each(data.daily,function(index,el){
						arr.push(el.aqi_colour);
					})
					var status = template('aqIstatu',data);
					$('#cor #aqIstatus').html(status);
					$('.loading').hide();
					for (var i = 0; i < data.daily.length; i++) {
						$('#div1 .picker .able_day').eq(i).css('background',arr[i])
					};
				},
				error:function(error){
					console.log(error);
				}
			})
		})
	})
</script>
<!-- 导出图片...............................  -->
 <script type="text/javascript">  
  $(document).ready( function(){         
            $("#import").on("click", function (event) {
            	// 取消掉默认的事件
                event.preventDefault();               
                html2canvas(document.querySelector("#aqIcanv"),{
                	 //  是否允许跨域(默认是false)
	                allowTaint: true,
	                // 是否在渲染前测试图片(默认是true)
	                taintTest: false,
                    // background: "#fff",  
                    // height: $("#aqIcanv").outerHeight() + 20,
                    // onrendered: function (canvas) {
                    //     var url = canvas.toDataURL();
                    //     //以下代码为下载此图片功能
                    //     var triggerDownload = $(this).attr("href", url).attr("download","").appendTo("body");
                    //     triggerDownload[0].click();
                    //     triggerDownload.remove();
                    // }
                     onrendered: function(canvas) {
	                    canvas.id = "mycanvas";
	                    //生成base64图片数据
	                    var dataUrl = canvas.toDataURL();
	                    // 下载到本地
	                    var triggerDownload = $("<a>").attr("href", dataUrl).attr("download", "AQI.jpg").appendTo("body");
	                    triggerDownload[0].click();
	                    triggerDownload.remove();
	                }

                });

            });
});   
</script>
<script type="text/javascript">
		loading_calendar("div1","cn");
</script>