<script id="equipTables" type="text/html">
	{{if faults.length != 0}}
		{{each faults as list index}}
		<tr class="list-parent">
			<td>{{index + 1}}</td>
			<td class="id hide">{{list.id}}</td>
			<td>{{list.region_name}}</td>
			
			<td>{{list.station_location}}</td>
			<td>{{list.station_name}}</td>
			
			<td>{{list.job_no}}</td>
			<td>{{list.create_type}}</td>
			<td>{{list.author}}</td>
			<td>{{list.created_at}}</td>
			<td>{{list.urgent_level}}</td>
			<td>{{list.title}}</td>
			<td>{{list.fault_type}}</td>
			<td class="job_status">{{list.job_status}}</td>
			
			<td>{{list.handle_man}}</td>
			<td class="sendTypes">{{each list.send_type as sendTypes i}}<span>{{sendTypes}}</span>{{/each}}</td>
			<td>
				<!--<a class="fault_audit" >审核</a>
				<div class="do shenhe">
					<p>是否审核？</p>
					<button type="button" class="btn-primary btn-sure">确认</button>
					<button type="button" class="btn-primary btn-cancel">取消</button>
			    </div>-->
				<a class="lookFor" >详细</a>
				<a class="writing" >编辑</a>
				
			</td>				
		</tr>	
        {{/each}}
    {{else}}
    <tr>
		<td colspan="19">暂无数据</td>
	</tr>
	{{/if}}
</script>
