<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="equip_mains">
	<div id="powerCutRecords">
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">设备维修处理</span>
	</div>
	<div class="navMain public_search">
			<input type="hidden" class="searchSta" />
			<input type="hidden" class="startTime1" />
			<input type="hidden" class="endTime1" />
			<input type="hidden" class="searchAuthor" />
			<input type="hidden" class="searchNo" />
			<input type="hidden" class="searchHan" />
			<input type="hidden" class="searchCrea" />
			<input type="hidden" class="searchStatus" />
		<form class="form-inline">
			<div class="form-group">
				<label for="">站点：</label>
		        <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            <input type="text"  class="control_stationIDs hide" />
			</div>
			<div class="form-group">
				<label for="">创建时间:</label>
		        <input type="" class="dateTimepicker create_datetime form-control"/>
		        <b>-</b>
		        <input type="" class="dateTimepicker end_datetime form-control"/>
			</div>
			<div class="form-group">
				<label for="">创建人:</label>
		        <input type="text" class="author form-control"/>
			</div>
			<div class="form-group">
				<label for="">工单号:</label>
		        <input type="text" class="job_no form-control"/>
			</div>
			<div class="form-group">
				<label for="">当前处理人:</label>
			    <input type="text" class="search_handle form-control"/>
			</div>
			<div class="form-group">
				<label for="">创建类型:</label>
		        <select class="create_type form-control">
		        	<option value="">请选择</option>
		        	<option value="plan_out">计划外</option>
		        	<option value="plan_in">计划内</option>
		        	<!--<option>报警</option>
		        	<option>校准</option>
		        	<option>飞行</option>-->
		        </select>
			</div>
			<div class="form-group">
				<label for="">工单状态:</label>
		        <select class="job_status form-control">
		        	<option value="">请选择</option>
		        	<option value="un_write">已创建</option>
		        	<option value="writing">待填写</option>
		        	<option value="un_audit">待审核</option>
		        	<option value="audit">已审核</option>
		        </select>
			</div>
			
			<div class="form-group">
				<button class="btn search" type="button">查询</button>
		        <!--<button type="button" class="btn new_add_btn" id="add" type="button">新增</button>-->
			</div>
		</form>
		
	</div>
	 <div id="public_table">
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>运维单位</th>
						   
						    <th>城市</th>
						    <th>站点</th>
						    <!--<th>设备型号</th>-->
						    <th>工单号</th>
						    <th>创建类型</th>
						    <th>创建人</th>
						    <th>创建时间</th>
						    <th>紧急程度</th>
						    <th>工单标题</th>
						    <th>工单类型</th>
						    <th>工单状态</th>
						    <!--<th>当前节点</th>
						    <th>任务状态</th>-->
						    <th>当前处理人</th>
						    <th>下发方式</th>
						    <th>操作</th>
					    </tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
			    </table>
	        </div>
	        
	        <div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<!--<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> -->
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
	    </div>
	    
	   
	<div class="clear"></div>
</div>
</div>
<div id="equip_looks">
	<%= render 'look' %>
</div>
<div id="fault_audit">
	<%= render 'audit' %>
</div>
<div id="equip_writings">
	<%= render 'writing' %>
</div>

<%= render 'table' %>
<%= render :partial => 'test_iframes/sq_publicStation' %>	
<script id="faults" type="text/html">
	{{each item_jobs as list index }}
	<label class="checkbox-radio ch-fault" ><input type="checkbox" value="{{list}}" name="FaultContent">{{list}}</label>
	{{/each}}
	<label class="checkbox-radio ch-fault"><input type="checkbox" id="otherFault">其他<br><input type="text" name="FaultContent" id="FaultContent" placeholder="其他故障现象" value="" style="display: none;"></label>
	<input type="hidden" id="fault_val" />
</script>
