<div id="suppliesEdit">

		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">编辑耗材</span>
			<button class="btn new_add_btn" href="#" title="返回" id="back" type="button">返回</button>
			<button class="btn btn-md save" id="editSave" style="height: 32px;" type="button">保存</button>
		</div>
	<form class="form-horizontal" id="edit_form">
		<div class="panel partial" data-taskid="" data-active="">
			<div class="form-group">
				<label class="col-xs-2 control-label">运维单位:</label>
				<div class="col-xs-5">
					<input type="text" class="unit_yws form-control" name="unit_yws"value="" disabled="disabled"/>
	          		<input type="hidden" class="unit_ywIDs" value=""/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">城市:</label>
				<div class="col-xs-5">
					<input type="text" class="city_name form-control" name="city_name" value=""/>
	          		<input type="hidden" class="cityId" value=""/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">耗材品牌:</label>
				<div class="col-xs-5">
					<select class="brand form-control">
                		<script type="text/html" id="brandList">
                	
                		{{each brands as brandList index}}
                			<option value="{{brandList}}">{{brandList}}</option>
                		{{/each}}
	                	</script>
	                </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">耗材编号:</label>
				<div class="col-xs-5">
					<input type="text" class="supply_no form-control" name="supply_no" value=""/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">数量:</label>
				<div class="col-xs-5">
					<input type="text" class="supply_num form-control" name="supply_num" value=""/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">单位:</label>
				<div class="col-xs-5">
					<input type="text" class="supply_unit form-control" name="supply_unit" value=""/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">保质期:</label>
				<div class="col-xs-5">
					<input type="text" class="dateTimepicker validity_date form-control" name="validity_date"/>
					<!--<input type="text" class="validity_date form-control" name="validity_date" value=""/>-->
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">保管人:</label>
				<div class="col-xs-5">
					<input type="text" class="owner form-control" name="owner" value=""/>
					<input type="hidden" class="ownerId" value=""/>
				</div>
			</div>
		</div>
	</form>
	<%= render 'city' %>
	<%= render 'owner' %>
</div>
