<script id="supplies_table" type="text/html">
	{{each supplies as list index}}
		<tr>
			<td class="hide id">{{list.id}}</td>
			<td>{{list.unit_name}}</td>
			<td>{{list.city_name}}</td>
			<td>{{list.supply_name}}</td>
			<td>{{list.brand}}</td>
			<td>{{list.supply_no}}</td>
			<td>{{list.supply_num}}</td>
			<td>{{list.supply_unit}}</td>
			<td>{{list.validity_date}}</td>
			<td>{{list.owner}}</td>
			<td>{{list.created_at}}</td>
			<td>
				<a class="edit" data-toggle="modal" data-target="#editModal">修改</a>
				<a class="delete" >删除</a>
				<div class="delete_prop" style="display: none;">
					<p>是否删除？</p>
					<button type="button" class="btn btn-primary btn-sure">确认</button>
					<button type="button" class="btn btn-cancel">取消</button>
				</div>
		</td>
		</tr>
	{{/each}}
</script>
