<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="supplies">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">运维耗材管理</span>
		</div>
		<div class="navMain public_search">
			<input type="hidden" class="searchUnit" />
			<input type="hidden" class="searchName" />
			<input type="hidden" class="searchNo" />
			<input type="hidden" class="searchBrand" />
			<form class="form-inline">
				<div class="form-group">
	                <label for="">运维单位：</label>
	                <input type="text" class="unit_yw form-control"/>
		            <input type="hidden"  class="unit_ywID" />
	            </div>
				<div class="form-group">
	                <label for="">材料名称：</label>
	                <input type="text" class="form-control supply_name">
	            </div>
	            <div class="form-group">
	                <label for="">材料编号：</label>
	                <input type="text" class="form-control supply_no">
	            </div>
	            <div class="form-group">
	                <label for="">材料品牌：</label>
	                <select class="brand form-control">
	                	<script type="text/html" id="brandList">
	                		<option value="">请选择</option>
	                		{{each brands as brandList index}}
	                			<option value="{{brandList}}">{{brandList}}</option>
	                		{{/each}}
	                	</script>
	                </select>
	            </div>
	            
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
					<button class="btn new_add_btn" id="add"  type="button">
						增加信息
					</button>
				</div>
			</form>
			
		</div>
		<div id="public_table">
			<!--<button class="btn" id="btnDelete" name="" type="button" value="批量删除">批量删除</button>
			<input type="hidden" class="ID" />-->
			<div class="public_table">
				<table class="table table-bordered table-hover">
					<thead>
			       	<tr>
			       		<th>运维单位</th>
			       		<th>城市</th>
			       		<th>材料名称</th>
			       		<th>品牌</th>
			       		<th>编号</th>
			       		<th>数量</th>
			       		<th>单位</th>
			       		<th>保质期</th>
			       		<th>保管人</th>
			       		<th>创建时间</th>
			       		<th>操作</th>
			       	</tr>
			       </thead>
			       <tbody class="exception-list">
			       	
			       </tbody>
				</table>
			</div>
			<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		
		
	<div class="clear"></div>
	<%= render :partial => 'test_iframes/public_unitYw' %>

<%= render 'table' %>
	</div>
</div>
<%= render 'new' %>


	<%= render 'edit' %>
