<!--修改站点-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改设备区域</h4>
      </div>
      <div class="modal-body">
        <form id="add_station_form" class="form-horizontal">
          <div class="area_content">
            <div class="filed form-group">
              <label class="col-sm-2 control-label">车间名称:</label>
              <div class="col-sm-5">
               <input type="text" disabled="disabled" class="form-control workName" />
               <input type="hidden" class="workId" />
              </div>
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">车间区域:</label>
              <div class="col-sm-5">
                <input type="text" disabled="disabled" class="form-control areaName" />
                <input type="hidden" class="areaId" />
              </div>
              
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">设备:</label>
              <div class="col-sm-5">
              	<ul class="editequips">
              			<script type="text/html" id="editequipsname">
		                {{if equips}}
		                {{each equips as equips index}}
		                	<li style="display:inline-block;text-algin:left;" class="col-sm-6"><input type="checkbox" name="" value="{{equips.id}}" value1="{{equips.equip_code}}" class="checkYN" />{{equips.equip_name}}</li>
		                {{/each}}
		                {{/if}}
		                </script>
                </ul>
              </div>
              
            </div>
           </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="addBtn">保存</button>
      </div>
    </div>
  </div>
</div>

