<!--添加站点-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加设备区域</h4>
      </div>
      <div class="modal-body">
        <form id="add_station_form" class="form-horizontal">
          <div class="area_content">
            <div class="filed form-group">
              <label class="col-sm-2 control-label">车间名称:</label>
              <div class="col-sm-5">
                <select class="form-control ShopName" id="addworkshop">
                  <option>请选择</option>
                  <% if @region_code.present? %>
                    <% @region_code.each do |r| %>
                      <option value="<%= r.id %>"><%= r.region_name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">车间区域:</label>
              <div class="col-sm-5">
                <select class="form-control regionName">
                  <option>请选择</option>
                  <script type="text/html" id="regionnameadd">
                    {{if areas}}
                    {{each areas as areas index}}
                    <option value="{{areas.id}}" value1="{{areas.code}}">{{areas.name}}</option>
                    {{/each}}
                    {{/if}}
                  </script>
                </select>
              </div>
              
            </div>
            <div class="filed form-group">
              <label class="col-sm-2 control-label">设备:</label>
              <div class="col-sm-5">
              	<ul class="addequips">
              		<script type="text/html" id="addequipsname">
	                {{if equips}}
	                {{each equips as equips index}}
	                	<li style="display:inline-block;text-algin:left;" class="col-sm-6"><input type="checkbox" name="" value="{{equips.id}}" value1="{{equips.equip_code}}" class="checkYN" />{{equips.equip_name}}</li>
	                {{/each}}
	                {{/if}}
	                </script>
                </ul>
              </div>
              
            </div>
            </div>
        </form>

      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="addBtn">保存</button>
      </div>
    </div>
  </div>
</div>

