<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="equips_area_manage">
  <div id="powerCutRecords">
    <div class="navTop">
      <span class="lines"></span>
      <span class="tableName">设备区域管理</span>
    </div>
    <div class="navMain public_search">
    	<input type="hidden" class="searchDevice" />
      <form class="form-inline">
        <div class="form-group">
          <label for="">车间名称：</label>
          <select name="" id="workshop" class="form-control">
            <option value="">请选择</option>
            <% if @region_code.present? %>
            <% @region_code.each do |r| %>
            <option value="<%= r.id %>"><%= r.region_name %></option>
            <% end %>
            <% end %>
          </select>
          <input type="text"  class="control_stationIDs hide" />
        </div>
     
        <div class="form-group">
          <button class="btn search" type="button">查询</button>
          <button class="btn btn_area new_add_btn" id="add" type="button" data-toggle="modal" data-target="#addModal">
            新增
          </button>
        </div>
      </form>

    </div>

    <div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
    <!--站点-->
    <div id="public_table">
      <div class="public_table">
        <table class="table table-bordered table-hover">

        </table>
      </div>
      <div style="height: 160px;background: #fff;">
        <ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
        <select id="pagesize" class="right">
          <option value="10" selected="selected">每页10条</option>
          <option value="20">每页20条</option>
          <option value="30">每页30条</option>
          <option value="40">每页40条</option>
          <option value="50">每页50条</option>
        </select>
        <div class="page_total left">
          <span>共<small></small>条数据,当前显示第<a>1</a>页</span>
        </div>
      </div>
    </div>
    <!--添加页面-->
<%= render 'new' %>
  <!--修改页面-->
    <%= render 'edit' %>
    <div class="clear"></div>
  </div>
</div>
  
<script id="equips_area" type="text/html">
  <thead>

  <tr>

    <th>车间名称</th>
    <th>车间区域</th>
    <th>设备名称</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  {{if s_areas.length > 0}}
  {{each s_areas as data index}}
  <tr>
    <td class="hide region_id">{{data.region_id}}</td>
    <td class="hide area_id">{{data.area_id}}</td>
    <td>{{data.region_name}}</td>
    <td>{{data.area_name}}</td>
    <td>{{data.equip_name}}</td>
    <td class="handle_width">
      <a class="revise" data-toggle="modal" data-target="#editModal">修改</a>
    </td>
  </tr>
  {{/each}}
  {{else}}
  <tr>
    <td colspan="4">
      暂无数据
    </td>
  </tr>
  {{/if}}
  </tbody>
</script>

