<div id="opsmade">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">计划安排查看</span>
			<button class="saveback btn" id="madeBback">返回</button>
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		
		<div id="public_table">
			<div class="public_table" id="madeTables">
		    	<table class="table table-bordered table-hover">
					<tbody class="exception-list">
						
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
</div>	
<script type="text/html" id="madeTable">
				<tr class="date-box">
                <td colspan="2"></td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_begin_time.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_time_2.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_time_3.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_time_4.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_time_5.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_time_6.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_end_time.substring(5,10)}}</label>
                    </td>
            </tr>
	{{each editData.week_pro as opsList index}}
		<tr class="week_pro">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>周</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.job_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
				<span class="job_time hide">{{opsList.job_time.substring(0,10)}}</span>
			</td>
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
	{{each editData.month_pro as opsList index}}
		<tr class="month_pro">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>月</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.job_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
				<span class="job_time hide">{{opsList.job_time.substring(0,10)}}</span>
			</td>
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
	{{each editData.jd_pro as opsList index}}
		<tr class="jd_pro">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>季度</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.job_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
				<span class="job_time hide">{{opsList.job_time.substring(0,10)}}</span>
			</td>
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
	{{each editData.year_pro as opsList index}}
		<tr class="year_pro">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>半年</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.job_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
				<span class="job_time hide">{{opsList.job_time.substring(0,10)}}</span>
			</td>
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
</script>