<script id="audit_mangesTable" type="text/html">
	{{each week_plan_data.currnt_week_plan_date as list index}}
		<tr>
			<td><input type="checkbox" name="" id="" value="" /></td>
			<td class="hidden">{{each list.handle_station as sendTypes i}}<span>{{sendTypes}}</span>{{/each}}</td>
			<td>{{list.unit_name}}</td>
			<td class="randTime hide">{{list.week_rand}}</td>
			<td class="week_time">{{list.week_time.substr(0,10)}}</td>
			<td class="edit_status">{{list.edit_status}}</td>
			<td>{{list.station_handle_ok}}</td>
			<td>{{list.station_count-list.station_handle_ok}}</td>
			<td>{{list.station_count}}</td>
			<td>{{list.station_count == 0 ? '0.00' :(list.station_handle_ok / list.station_count).toFixed(2)}}</td>
			<td>{{list.report_time}}</td>
			<td>{{list.audit_time}}</td>
			<td>
				<a class="lookFor">详细</a>
			</td>
		</tr>
	{{/each}}
	{{each week_plan_data.next_week_plan_date as list index}}
		<tr>
			<td><input type="checkbox" name="" id="" value="{{list.id}}" /></td>
			<td class="hidden">{{each list.handle_station as sendTypes i}}<span>{{sendTypes}}</span>{{/each}}</td>
			<td>{{list.unit_name}}</td>
			<td class="randTime hide">{{list.week_rand}}</td>
			<td class="week_time">{{list.week_time.substr(0,10)}}</td>
			<td class="edit_status">{{list.edit_status}}</td>
			<td>{{list.station_handle_ok}}</td>
			<td>{{list.station_count-list.station_handle_ok}}</td>
			<td>{{list.station_count}}</td>
			<td>{{list.station_count == 0 ? '0.00' :(list.station_handle_ok / list.station_count).toFixed(2)}}</td>
			<td>{{list.report_time}}</td>
			<td>{{list.audit_time}}</td>
			<td>
				<a class="lookFor">详细</a>
			</td>
		</tr>
	{{/each}}
</script>
