<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="audit_manages">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">运维计划审核</span>
		</div>
		<div class="navMain public_search">
			<form class="form-inline">
				<div class="form-group">
					<label for="">时间:</label>
			        <select id="ops_type" class="form-control">
			        	<script type="text/html" id="searchTime">
			        		<option value="">请选择</option>
			        		{{each week_plan_data.currnt_week_plan_date as timeList index}}
			        		<option value="{{timeList.week_time.substr(0,10)}}">{{timeList.week_rand}}</option>
			        		{{/each}}
			        		{{each week_plan_data.next_week_plan_date as timeList index}}
			        		<option value="{{timeList.week_time.substr(0,10)}}">{{timeList.week_rand}}</option>
			        		{{/each}}
			        	</script>
			        </select>
				</div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				</div>
			</form>
			
     	</div>
     	
     	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			<button type="button" class="btn search" id="btnBatchPass" value="W">通过</button>
			<button type="button" class="btn new_add_btn" id="btnBatchUnpass" value="N">不通过</button>
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="allChack" checkall="checkAll"></th>
							<th>单位</th>
							<th>周一</th>
							<th>状态</th>
							<th>已做计划站点数</th>
							<th>未做计划站点数</th>
							<th>总站点个数</th>
							<th>完成率(%)</th>
							<th>上报时间</th>
							<th>审核时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
	     	</div>
	    </div>
	    	<%= render 'table' %>
	   
	<div class="clear"></div>
	</div>
</div>
<%= render 'detail' %>
<%= render 'made' %>
