.left_top{
    height: 130px;
    margin-top: 60px;
    background-color: #00923f;
    border-bottom: 1px solid #24a759;    
}
.root_reset{
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
}
.root{
    color: #d77a61;
    margin-right: 2px;
    font-size: 13px;
}
//.place_name span{
//  font-size: 14px;
//  display: block;
//  text-align: center;
//  color: #fff;
//}
.reset{
    float: right;
    margin: 10px;
    color: #fff;
    font-size: 13px;
}
.place_name{
//  padding: 15px 0;
width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 5px solid #ffde00;
    background: #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.left_bottom{
    background: #e5e5e5;
    height: 35px;
    font-size: medium;
}
.left_bottom span {
  padding-top: -2px;
}

.reset img{
    margin: 0 6px 0 4px;
    width: 14px;
    height: 14px;
    margin-top: -3px;
}
.glyphicon{
    color: #00923f;
    margin: 0 10px;
}
.btn_back{
    color: #f00;
}
.left_main{
    min-height: 400px;
    overflow-y: auto;
    background: #00923f;
}
.pic_name{
    margin-top: 25px;
//  margin-left: 10px;
//  margin: 25px auto 10px;
    display: block;
    text-align: center;
}
.img-circle {
box-shadow: 1px 0px 18px 1px #333333;
}
.user_name{
//  text-align: center;
    font-size: 14px;
}
.container{
  background: #f5f5f5;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.container > .left{
  background: #00923f;
  height: 100vh;
  padding: 0;
//padding-bottom: 40px;
}
.container ul li{
  border-bottom: 1px solid #24a759;
  height: 53px;
//margin: 0 10px;
  cursor: pointer;
}
.container .nav_li {
  overflow: hidden;
}
.container .nav_li .left , .container .nav_li .right{
  margin-top:10%;
}
.container .nav_li > .left{
  margin-left: 30px;
}
.container .nav_li > .right{
  margin-right: 20px;
  border: 0;
}
.container ul li .left img{
  height: 17px;
  margin: 0 8px;
  vertical-align: -18%;
}
.container ul li .right img{
  height: 22px;

}
.container ul li .left a{
  color: #fff;
  font-size: 15px;
}

.container > .right {
  background: #f5f5f5;
  height: 100vh;
  padding: 0;
}
.container > .left ul > div{
  display: none;
}
.container > .left ul div li{
  border: none;
  height: 25px;
  font-size: 12px;
  margin-top: 10px;
//margin-left: 15%;
  line-height: 25px;
}
.container > .left ul .nav_list li a{
    width: 100%;
    display: block;
    padding-left: 15%;
  color: #fff;
  font-size: 13px;
}
.container > .left ul div li:nth-last-of-type(1) {
    border-bottom: 1px solid rgb(36, 167, 89);
}




.table_title p{
    float: left;
}
.table_title button{
    width: 80px;
    margin-left: 10px;
    float: right;
}


.modal-body{
    max-height: 450px;
    overflow-y: scroll;
}
