
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微软雅黑";
}
body, html {
    width: 100%;
    height: 100%;
  margin: 0px;
//  overflow-y: hidden;
//  overflow: auto;
    background: #f5f5f5;
}
a{
    text-decoration: none;
   
}
a:hover{
    text-decoration: none;
    background:none;
    color: none;
}
a:active{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.btn:hover{
    background-color: none;
}
.btn:visited{
    background-color: none;
    color: #fff;
}
.btn:active{
    background-color: none;
    color: #fff;
}
.btn-sure, .btn-cancel {
    color: #fff;
}
label{
    font-weight: 400;
}
.public_search label {
    font-size: 13px;
    color: #404040;
}
input{
    padding-left: 5px;
}
li{
    list-style: none;
}
.glyphicon-plus{
    font-weight: 400;
    font-size:12px;
    vertical-align:5%;
}
td,th{
    text-align: center;
    font-weight: 400;
}
#public_table thead{
    background: #8c95aa;
}
td{
    color: #333333;
    font-size: 12px;
    cursor: default;
}
.table > thead > tr > th{
    font-size: 14px;
    color:#fff;
    border-bottom-width: 0;
    border-color: #f0f6fd;
}

.table > tbody > tr > td {
    border-color: #eeeeee;
}

td a{
    color: #558ad8;
    padding:0 5px;
    cursor: pointer;
}
/*公共类*/
.modal-header{
    font-size: 14px;
}
.delete_prop{
    border: 1px solid #ddd;
    padding: 10px 10px;
    background: #fff;
    position: absolute;
    /* top: 4%; */
    width: 200px;
    left: 80%;
    height: 120px;
    display: none;
    border-radius: 3px;
    font-size: 14px;
    color:#404040;
    border-radius: 2px;
}
.delete_prop button{
    margin-top: 10px;
    width: 80px;
    height: 34px;
}
.form-control{
    border-color: #e5e5e5;
    font-size: 12px;
}
.form-horizontal .control-label{
    font-size: 13px;
}
.panel{
    margin-bottom: 10px;
}
.btn-chack{
    background-color: #00923f;
    color: #fff;
}

.navMain .form-group button{
    margin-top: 6px;
    margin-right: 10px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.line{
    background: #fff;
    height: 14px;
    width: 1px;
    vertical-align: -5%;
    display: inline-block;
    margin: 0 10px;
}
.line_top{
    width:100%;
    height:10px;
    background:#f5f5f5;
}
.line_back {
    background: #f5f5f5;
    height: 1500px;
    width: 10px;
}
.table{
    margin-bottom: 0;
}
.write_color{
    color: #42b3f5;
}
.disabled{
    pointer-events:none;
}
.none{
    display: none;
}
.clear{
    clear: both;
}
i.liner{
    border: 1px dotted #666666;
    margin-right: 10px;
    display: inline-block;
    height: 12px;
}
i.liner:nth-last-of-type(1){
//  display: none;
}
.public_title img{
    height: 15px;
}
.public_title span{
    vertical-align: -4%;
    font-size: 10px;
    color: #999999;
}
.public_search{
//  height: 29px;
//  line-height: 29px;
//  margin: 0px;
}
.public_search input, .public_search select, .public_search option {
//  height: 28px;
//  border:1px solid #e5e5e5;
//  border-bottom-left-radius: 2px;
//  border-bottom-right-radius: 2px;
//  border-top-left-radius: 2px;
//  border-top-right-radius: 2px;
//  width: 140px;
//  font-size: 13px;
//  color: #666;
}
.public_search .control_stationID{
    display:none;
}
.public_search .btn{
    height:30px;
    padding: 0 12px;
    vertical-align: top;
    margin: 0;
    font-size: 13px;
}
#add{
//  margin-left: 20px;
}
#work_add{
    margin-left: 15px;
    margin-right: 10px;
    float: right;
    margin-bottom: 5px;
}
.public_search .search{
    background: #00923f;
    color: #fff;
    font-size: 13px;
    border-radius: 2px;
    height: 30px;
//  line-height: 30px;
    width: 50px;
}
.public_search .btn-warning{
    background: #f19c77;
}
//.public_title, .public_search, .public_table, .public_page{
  //  margin: 0px 20px 10px 20px;
  //}
.public_title{
    margin:10px 0 15px 20px;
}
.public_search{
//  margin:0 0 15px 20px;
}
.public_table {
    margin:0 20px;
}
#content_middle{
    padding-left:10px;
    width: 100%;
    height: 100%;
}
#content_middle iframe{
    width: 100%;
    height: 100%;
}
#content_middle iframe body{
padding-right: 10px;
}
.form-inline .form-group{
//  margin-top: 15px;
    height: 40px;
    line-height: 40px;
}
/*绑定站点*/
.public_station{
    display: none;
    width: 500px;
    background: #f5f5f5;
    position: fixed;
    top: 70px;
    left: 7%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 9999;
}
.public_station p{
    margin: 5px 10px 0 0;
    color: #a8a8a8;
}
.public_station .station_content{
    padding: 0 10px;
    max-height: 300px;
    overflow-y:auto;
    margin: 10px;
    height: 75%;
}
.public_station .station_list{
//  height: 100px;
//  line-height: 40px;
    margin: 10px 0;
}
.public_station .station_list .station_total {
    margin-left: 10%;
}
.public_station .station_list button{
    border: 1px solid #c2e4f4;
    background: none;
    padding: 0 6px;
    width: 70px;
    height: 29px;
    line-height: 29px;
    color: #9ddaec;
    margin-right: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.public_station .station_list small{
    display: none;
}
.public_station .station_list span{
    color: #aaaaaa;
    margin:0 10px 0 5px;
    width: 41%;
    display: inline-block;
}
.public_station .station_list input{
    vertical-align: -5%;
    border-color: #d7d7d7;
}
.public_station .station_list .line{
    background: #d9d9d9;
}
.public_station .station_btn{
    text-align: center;
    color: #fff;
    margin: 10px 0;
}
.public_station > p.right{
    cursor: pointer;
}
.public_station .station_btn .btn-sure{
    background: #009ff3;
}
.public_station .station_btn .btn-cancel{
    background: #c9c9c9;
}


//搜索站点
  #search-station .search-line {
      height: 20px;
      border: 0.5px dotted #cccccc;
      display: inline-block;
      margin:5px 15px 0 25px;
  }
#search-station .choose-site {
    position: fixed;
    border: 1px solid #cccccc;
    top: 109px;
    left: 5%;
    padding-top: 10px;
    box-shadow:0 2px 1px 0px #efefef inset;
    z-index: 999;
    background: #fff;
    display: none;
    width: 80%;
}
#search-station .choose-site .tab-top  {
//  width: 100%;
    border-bottom: 1px solid #d3d3d3;
}
#search-station .choose-site .tab-top  small {
    display: none;
}
#search-station .tab-top span {
    display: inline-block;
    text-align: center;
    line-height: 29px;
    height: 29px;
    background: #f9f9f9;
//  font-size: 12px;
    border: 1px solid #d3d3d3;
    border-bottom: none;
    margin: 0 10px;
    color: #696868;
    cursor: pointer;
    padding: 0 3px;
}
#search-station .choose-site .station_content {
//  width: 100%;
    margin-top: 5px;
    max-height: 300px;
    overflow-y: scroll;
}

#search-station .choose-site .tab-station {
//  width: 100%;
    border-bottom: 1px solid #ededed;

}
#search-station .choose-site .tab-station p {
    display: inline-block;
    margin: 5px;
    width: calc(100% / 3);
}
#search-station .choose-site .tab-station .list-city-station{
    margin-left: 10%;
}
#search-station .choose-site .tab-station .list-city {
    vertical-align:20%;
}
#search-station .choose-site .station-btn {
    height: 50px;
}
#search-station .station-btn {
    float: right;
}
#search-station .station-btn span {
    display: inline-block;
    text-align: center;
    line-height: 29px;
    width: 50px;
    height: 29px;
//  font-size: 12px;
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    color: #333;
    cursor: pointer;
    margin:10px 5px;
}
#search-station .choose-site .tab-station span:nth-last-of-type{
//  border:1px solid red;
}
#search-station .tab-station .search-line:nth-of-type(1), #search-station .search-line:nth-last-of-type(1), #search-station .search-line:nth-of-type(2n+1){
    display: none;
}
#search-station small{
    display: none;
}

.sq_station .tab-top span{
   display: inline-block;
    text-align: center;
    line-height: 29px;
    height: 29px;
    background: #f9f9f9;
    font-size: 12px;
    border: 1px solid #d3d3d3;
    border-bottom: none;
    margin: 0 10px;
    color: #696868;
    cursor: pointer;
    padding: 0 3px; 
}
.sq_station .station_content {
//  width: 100%;
    margin-top: 5px;
    max-height: 300px;
    overflow-y: scroll;
}
.sq_station .tab-station {
//  width: 100%;
    border-bottom: 1px solid #ededed;

}
.sq_station .tab-station p {
    display: inline-block;
    margin: 5px;
    width: calc(100% / 3);
}
.sq_station .tab-station .list-city-station{
    margin-left: 10%;
}
.sq_station .tab-station .list-city {
    vertical-align:20%;
}
//#sq_station .search-line {
//  height: 20px;
//  border: 0.5px dotted #cccccc;
//  display: inline-block;
//  margin: 5px 15px 0 25px;
//}
/*分页*/
.page_list{
    height: 80px;
}
.page{
    list-style: none;
    margin-right: 10px;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 12px;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
    background: #fff;
}
.page .pageItemActive{
    border: solid 1px #00923f;
    margin: 5px;
    background-color: #00923f;
    color:white;
     border-radius: 3px;
}
.page .pageItem:hover{
    border: solid thin #00923f;
    background-color: #00923f;
    color:white;
}
.page .pageItemDisable{
    cursor: default;
    margin: 5px;
    border: solid 1px #eee;
    background: #fff;
    border-radius: 3px;
}
.page_total2 > span{
    margin-left: 10px;
}
.page_total > span,.page_total2 > span{

    vertical-align: -70%;
    font-size:11px;
}
.page_total > span small, .page_total > span a, .page_total2 > span small, .page_total2 > span a{
    color: #00923f;
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px;
}
.page, .page_total,.page_total2 {
    margin-top: 15px;
}
#page li{
    height: initial;
}
#pagesize,#pagesize2,.pagesize{
    margin-top: 20px;
    height: 30px;
    border: solid thin #eee;
    font-size: 12px;
    border-radius: 3px;
}
//表单验证
  .warn{
      width:30%;
      padding:5px 0;
      margin-bottom: 0;
  }

.control-error {
    width: 25%;
    line-height: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #d9534f;
    border-radius: 4px;
    color: #ffffff;
    background-color: #d9534f;
    height: 30px;
    line-height: 20px;

}
.control-success {
    width: 25%;
    padding-top: 5px;
    line-height: 15px;
    padding-bottom: 3px;
    margin-bottom: 0;
    text-align: center;
    background-color: #5cb85c;
    border-radius: 4px;
    color: #ffffff;
    background-color: #5cb85c;
    height: 30px;
    line-height: 20px;
}
.control-default {
    width: 25%;
    padding-top: 5px;
    line-height: 15px;
    padding-bottom: 3px;
    margin-bottom: 0;
    text-align: center;
    background-color: #f7d505;
    border-radius: 4px;
    color: #ffffff;
    background-color: #f7d505;

}
.colreset{
    width: 30%;
}
#fix_pd{
    margin-right: 5px;
    border: none;
}
#fix_qx{
    border: none;
    background: #ddd;
}
.loading{
    width: 22%;
    height: 40px;
    position: absolute;
    top: 20%;
    left: 35%;
    line-height: 42px;
    color: #fff;
    padding-left: 51px;
    font-size: 12px;
    background: #000 url(/images/loading.gif) no-repeat 10px 30%;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    display: none;
}



/////////////////////////////////////////////////
.tableName{
    color: #202020;
    font-size: 16px;
    font-weight: 600;
}
.navTop{
//  height: 60px;
//  line-height: 70px;
    margin-top: 20px;
//  margin-left: 10px;
    margin-bottom: 15px;
}
.lines{
   width: 6px;
    height: 16px;
    margin: 0px 5px 0 0px;
    display: inline-block;
    float: left;
    background: #00923f;
}
.navMain{
//  height: 70px;
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.navMain .form-control{
    width: 140px;
    height: 30px;
    margin-right: 15px;
    padding: 0px;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    border-color: #eee;
    box-shadow: none;
}

.public_searchs{
    margin-left: 0px;
    margin-right: 0px;
//  padding: 20px 20px;
    height: 100%;
    background: #fff;
    background-color: white;
}

#public_table{
    padding: 10px 10px 10px 10px;
    background: #fff;
//  height: 600px;
    margin-top: 10px;
}

.public_table{
    margin: 0;
//  padding-bottom: 60px;
}
.row_search{
    margin-top: 10px;
}
#public_table td{
    font-size: 14px;
    color:#202020;
    height: 30px;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
.container .left::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
::-webkit-scrollbar  
{  
    width: 8px;  
    height: 8px;  
    background-color: #F5F5F5;  
}  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
//  -webkit-box-shadow: inset 0 0 6px rgba(0,192,127,0.3);  
    -webkit-box-shadow: rgba(0,192,127,0.3); 
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
//  background-color: #555;  
    -webkit-box-shadow: rgba(0,192,127,0.3);   
    background-color: #dcdcdc;
} 
#typeListBox{
//  margin-bottom: 300px;
} 


//拓洋
.ty_workshop .tab-top span{
   display: inline-block;
    text-align: center;
    line-height: 29px;
    height: 29px;
    background: #f9f9f9;
    font-size: 12px;
    border: 1px solid #d3d3d3;
    border-bottom: none;
    margin: 0 10px;
    color: #696868;
    cursor: pointer;
    padding: 0 3px; 
}
.ty_workshop .station_content {
//  width: 100%;
    margin-top: 5px;
    max-height: 300px;
    overflow-y: scroll;
}
.ty_workshop .tab-station {
//  width: 100%;
    border-bottom: 1px solid #ededed;

}
.ty_workshop .tab-station p {
    display: inline-block;
    margin: 5px;
    width: calc(100% / 3);
}
.ty_workshop .tab-station .list-city-station{
    margin-left: 10%;
}
.ty_workshop .tab-station .list-city {
    vertical-align:20%;
}



.four_words_btn{
    width: 80px;
}
.excel_table,.excel_table td{
    border: 1px solid #ddd;
}
tr td img {
    width: 16px;
}
.handle{
    cursor: pointer;
}
/*公共选择弹框*/

#public_bg,
#sureCannel,
#sendee_bg,
#success,
#revise_bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2000;
}

.public-box,
#sureCannel .sureCannel-box,
#success .success-box,
#revise_bg .revise-box {
    width: 620px;
    height: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -240px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.public-box .public-main,
#sureCannel .sureCannel-box .sureCannel-main,
#success .success-box .success-main,
#revise_bg .revise-box .revise-main {
    width: 580px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 12px 0;
    float: left;
}

.public-box .public-cannel,
#sureCannel .sureCannel-box .sureCannel-cannel,
#success .success-box .success-cannel,
#revise_bg .revise-box .revise-cannel {
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
}

.public-box .public-cannel img,
#sureCannel .sureCannel-box .sureCannel-cannel img,
#success .success-box .success-cannel img,
#revise_bg .revise-box .revise-cannel img {
    width: 16px;
    margin-left: 10px;
    margin-top: 8px;
}


/*确认取消弹框*/

#sureCannel .sureCannel-box .sureCannel-cannel img,
#success .success-box .success-cannel img {
    width: 14px;
}

.sureCannel-body {
    width: 100%;
    height: auto;
}

.sureCannel-body .point-out {
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
    height: 70px;
    text-align: left;
//  line-height: 86px;
    font-size: 15px;
    font-weight: 600;
}

.sureCannel-body .point-out span {
    color: red;
}

#sureCannel .sureCannel-box {
    width: 340px;
    margin-left: -140px;
    top: 42%;
    /*  margin-top: -150px;*/
}

#sureCannel .sureCannel-box .sureCannel-main {
    width: 300px;
}


/*成功提示框*/

#success {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

#success .success-box {
    width: 260px;
    margin-left: -100px;
    top: 42%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#success .success-box .success-main {
    width: 220px;
    padding: 25px 0;
}

.success-body {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.success-body img {
    width: 50px;
}

.success-footer {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}


/*重置密码*/

.resetPs1 {
    text-align: center;
    color: #404040;
    font-size: 13px;
    line-height: 34px;
    font-weight: 600;
}

.resetPs1-span {
    color: #FF0000;
}

.resetPs2 {
    color: #202020;
    text-align: center;
    /* line-height: 34px; */
    font-size: 13px;
}


.box-footer .btn-sure {
    background:#00923f;
    color: #FFFFFF;
}

.box-footer button {
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 2px;
    color: #202020;
    border: none;
    margin: 20px 0;
}
.box-footer {
    width: 100%;
    height: auto;
    text-align: center;
}
.box-footer .btn-cannel {
    background: #F1F1F1;
    color: #404040;
    margin-left: 8px;
}