<script type="text/html" id="superiorTab">
	{{each day_data as supper index}}
		<tr>
			<td>{{supper.station}}</td>
			<td>{{supper.current_month}}</td>
			<td>{{supper.pre_month}}</td>
			<td>{{(supper.pre_month - supper.current_month).toFixed(2)}}</td>
			<td>{{supper.last_year}}</td>
			<td>{{(supper.last_year - supper.current_month).toFixed(2)}}</td>
			<td>{{supper.current_days == 0 ? '0.00' :(supper.current_month_aqi_days / supper.current_days).toFixed(2)}}</td>
			<td>{{supper.last_days == 0 ? '0.00' :(supper.last_year_month_aqi_days / supper.last_days).toFixed(2)}}</td>
			<td>{{(supper.current_month_aqi_days / supper.current_days).toFixed(2) - (supper.last_year_month_aqi_days / supper.last_days).toFixed(2)}}</td>
			<td>{{supper.current_month_aqi_days}}</td>
			<td>{{supper.last_year_month_aqi_days}}</td>
			<td>{{supper.current_month_aqi_days - supper.last_year_month_aqi_days}}</td>
		</tr>
	{{/each}}
</script>