<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="superior_air_days" >
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：优良天数</span>
	</div>
	<div class="public_search d_alarms">
		<label>时间：</label>
			<input type="text" class="some_class some-none" id="start_datetime" name="start_datetime"/>
		   		<div class="date">
				<p><span class="glyphicon glyphicon-chevron-left pull-left calindar-left"></span>  <span class="year_time">2017</span>  <span class="glyphicon glyphicon-chevron-right pull-right calindar-right"></span></p>
				<table>
					<tr>
						<td>1月</td>
						<td>2月</td>
						<td>3月</td>
						<td>4月</td>
					</tr>
					<tr>
						<td>5月</td>
						<td>6月</td>
						<td>7月</td>
						<td>8月</td>
					</tr>
					<tr>
						<td>9月</td>
						<td>10月</td>
						<td>11月</td>
						<td>12月</td>
					</tr>
				</table>
			</div>
		<label for="">区域级别:</label>
		<select class="place_leval">
			<script id="place_leval" type="text/html">
				
				<option value="">请选择区域级别</option>
				{{each region_leves as regionLevel index}}
					<option value="{{regionLevel.id}}">{{regionLevel.level_name}}</option>
				{{/each}}
			</script>
		</select>
		<label for="">站点:</label>
		<input type="text" class="control_station"/>
		<input type="text"  class="control_stationID" />
		
		
		
		
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<button class="btn search">查询</button>
		<a type="button" class="putTable" href='javascript:void(0)' >
                导出表格
        </a>
        
	
	</div>
	<div class="public_table">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th rowspan="2">站点名称</th>
					<th>当月</th>
					<th colspan="2">上月</th>
					<th colspan="2">去年同期</th>
					<th colspan="3" class='month_rate'><span>1-6</span>月累计达标率</th>
					<th colspan="3" class='month_day'><span>1-6</span>月累计达标天数</th>
				</tr>
				<tr>
					<th>达标率(%)</th>
					<th>达标率(%)</th>
					<th>比较</th>
					<th>达标率(%)</th>
					<th>比较</th>
					<th class="this_year">2017</th>
					<th class="last_year">2016</th>
					<th>比较(百分点)</th>
					<th class="this_year">2017</th>
					<th class="last_year">2016</th>
					<th>比较天</th>
				</tr>
			</thead>
			<tbody class="exception-list">
			</tbody>
		</table>
   </div>
   <!--模态框-->
	<div id="public_box"></div>
	<div class="lookforRules">
		
	</div>
	<%= render 'station' %>
	<%= render 'superiorTab' %>
	<!--分页-->
<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
<div class="page_total left">
	<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
</div>
<div class="clear"></div>
	
</div>