<script id="exception" type="text/html">
	
	{{if sources.length > 0}}	
		{{each sources as data i}}
			<tr class="list-parent">
				<td class="station-list thWi" style=" width: 10%;">{{data.name}}
					<span class="hide">{{data.id}}</span>
					<span class="glyphicon glyphicon-plus pull-right"></span>				
				</td>
				{{ each data.d_sources as dSources dindex}}	
					{{ if dSources.flag == 'true'}}
						<td class="green grid">
							<span class="sta_id hide">{{data.id}}</span>
							<span class="sta_time hide">{{dSources.d_day}} {{dSources.d_time}}</span>
						</td>	
					{{/if}}
					{{ if dSources.flag == 'false'}}
						<td class="yellow grid">
							<span class="sta_id hide">{{data.id}}</span>
							<span class="sta_time hide">{{dSources.d_day}} {{dSources.d_time}}</span>
						</td>	
					{{/if}}
					{{ if dSources.flag == 'none'}}
						<td class="gray grid">
							<span class="sta_id hide">{{data.id}}</span>
							<span class="sta_time hide">{{dSources.d_day}} {{dSources.d_time}}</span>
						</td>	
					{{/if}}
				{{/each}}	
			</tr>
			{{ each data.factors as factors findex}}
				<tr class="tr-child{{i}}" style="display: none;">
					<td class="station-child-list station_img"><%= image_tag '/images/L.png' %>
						{{factors.name}}
						<span class="fac_id hide">{{factors.id}}</span>
					</td>
					{{ each factors.d_sources as fSources fsindex}}
						{{ if fSources.flag == 'true'}}
							<td class="green grid">
								<span class="factor_id hide">{{factors.id}}</span>
								<span class="sta_id hide">{{data.id}}</span>
								<span class="sta_time hide" >{{fSources.d_day}} {{fSources.d_time}}</span>
							</td>	
						{{/if}}
						{{ if fSources.flag == 'false'}}
							<td class="yellow grid">
								<span class="factor_id hide">{{factors.id}}</span>
								<span class="sta_id hide">{{data.id}}</span>
								<span class="sta_time hide">{{fSources.d_day}} {{fSources.d_time}}</span>
							</td>	
						{{/if}}
						{{ if fSources.flag == 'none'}}
							<td class="gray grid">
								<span class="factor_id hide">{{factors.id}}</span>
								<span class="sta_id hide">{{data.id}}</span>
								<span class="sta_time hide">{{fSources.d_day}} {{fSources.d_time}}</span>
							</td>	
						{{/if}}
					{{/each}}	
				</tr>
			{{/each}}
		{{/each}}
	{{else}}
	
	<tr>
		<td colspan="25">暂无数据</td>
	</tr>
	{{/if}}
	
</script>