<!--点击站点-->
<!--<script id="abnormal-proper" type="text/html">
<h4 class="text-center">{{d_station.name}} 24小时异常明细</h4>
<div class="perpro-table">
	{{ if d_station.factors != null}}
	<table class="table table-bordered">
		<tr>
			<th style="vertical-align: middle; text-align: center; width: 100px;" rowspan="2">监控对象</th>
			<th colspan="2" class="station-yesterday">昨天</th>
			<th colspan="23" class="station-today">
				
				
			</th>
		</tr>
		<tr class="station-date">
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		{{ each d_station.factors as fSources fsindex}}
				<tr>
					<td>{{fSources.name}}</td>
					{{ each fSources.d_sources as fd_Src index}}
						{{ if fd_Src.flag == 'true'}}
							<td class="green"></td>	
						{{/if}}
						{{ if fd_Src.flag == 'false'}}
							<td class="yellow"></td>	
						{{/if}}
						{{ if fd_Src.flag == 'none'}}
							<td class="gray"></td>	
						{{/if}}
					{{/each}}	
				</tr>		
		{{/each}}	
	</table>
	{{else}}
	<p class="text-center">暂无数据</p>
	{{/if}}
</div>
</script>-->
<!--站点下因子-->
<!--<script id="abnormal-factor" type="text/html">
<h4 class="text-center">{{actors.name}} 24小时异常明细</h4>
<div class="perpro-table">
	{{if actors.d_sources.length>0}}
	<table class="table table-bordered">
		<tr>
			<th style="vertical-align: middle; text-align: center; width: 100px;" rowspan="2">监控对象</th>
			<th colspan="2" class="factor-yesterday">昨天</th>
			<th colspan="23" class="factor-today">
			</th>
		</tr>
		<tr class="factor-date yinzi">
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td>{{actors.name}}</td>
		{{ each actors.d_sources as aSources index}}
					
					{{ if aSources.flag == 'true'}}
						<td class="green"></td>	
					{{/if}}
					{{ if aSources.flag == 'false'}}
						<td class="yellow"></td>	
					{{/if}}
					{{ if aSources.flag == 'none'}}
						<td class="gray"></td>	
					{{/if}}
						
		{{/each}}	
		</tr>
	</table>
	{{else}}
	<p class="text-center">暂无数据</p>
	{{/if}}
</div>
</script>-->
<!--单元格5分钟-->
<script id="actor" type="text/html">
<h4 class="text-center">{{d_station.name}}</h4>
<div class="perpro-table">
	<table class="table table-bordered">
		
		<tr class="self-min5">
			<th>因子名称</th>
			<th>异常名称</th>
			<th>异常值</th>
			<th>对比值</th>
			<th>异常标识</th>
			<th>生成时间</th>
		</tr>
		{{ each d_station.abnormals as abnormal i }}
			<tr>
				<td>{{abnormal.item_name}}</td>
				<td>{{abnormal.abnormal_name}}</td>	
			    <td>{{abnormal.item_val}}</td>	
			    <td>{{abnormal.contrast_val}}</td>
				<td>{{abnormal.item_lable}}</td>
				<td>{{abnormal.item_time}}</td>	
			</tr>			
		{{/each}}	
		
	</table>
	
</div>
</script>