<!--添加模板-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加一个异常实例</h4>
      </div>
      <div class="modal-body">
			<div class="add_factor">
			
			<div class="exam_top">
				<span class="btn btn-success btn_exam">添加实例</span>
				<span class="btn btn-warning btn_station">绑定站点</span>
			</div>
			<div class="factor_content">
				<div class="exam_name">
					<span>实例名称:</span>
					<!--<label for="">实例名称:</label>-->
					<input class="place" id="exm_name" placeholder="请输入实例名称" required="required" type="text" name="exm_name" >
					<label for="exm_name" id="exm_nameTip">请输入实例名称</label>
				</div>
				<div class="control_becase">
					<span>监控因子:</span>
					<select class="becase">
						
					</select>
				</div>
				<div class="unusual_temp">
					<span>异常模板:</span>
					<select>
						<option value="">请先选择异常异常因子</option>
					</select>
				</div>
				<div class="discribe">
					<p>描述:
						<span>大于设置的最大值</span>
					</p>
				</div>
				<div class="condition">
					<span>判断条件:</span>
					<input type="text" disabled="disabled" style="display: none;">
				
					<span class="condition_number">
						
					</span>
				
				</div>
				<div>
					<span>描述:</span>
					<textarea></textarea>
				</div>
				<div class="tolerate">
					<input type="checkbox" checked="checked"/>
					<span>默认模板启用</span>
				</div>
			</div>
			<!--</form>-->
			
			<div class="station_content">
				<div class="station_list">
					<div class="left">
						<button></button>
						<input type="checkbox" />
						<span></span>
					</div>
					<div class="right">
						<div class="line"></div>
						<input type="checkbox" />
					</div>
				</div>
			</div>
			
			
		</div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>
<!--<script id="addTemp" type="text/html">
		<div class="add_factor">
			<h4>
				添加一个异常实例
				<div class="right">X</div>
			</h4>
			<div class="exam_top">
				<span class="btn btn-success btn_exam">添加实例</span>
				<span class="btn btn-warning btn_station">绑定站点</span>
			</div>
			<div class="factor_content">
				<div class="exam_name">
					<span>实例名称:</span>
					
					<input class="place" id="exm_name" placeholder="请输入实例名称" required="required" type="text" name="exm_name" >
					<label for="exm_name" id="exm_nameTip">请输入实例名称</label>
				</div>
				<div class="control_becase">
					<span>监控因子:</span>
					<select class="becase">
						
					</select>
				</div>
				<div class="unusual_temp">
					<span>异常模板:</span>
					<select>
						<option value="">请先选择异常异常因子</option>
					</select>
				</div>
				<div class="discribe">
					<p>描述:
						<span>大于设置的最大值</span>
					</p>
				</div>
				<div class="condition">
					<span>判断条件:</span>
					<input type="text" disabled="disabled" style="display: none;">
				
					<span class="condition_number">
						
					</span>
				
				</div>
				<div>
					<span>描述:</span>
					<textarea></textarea>
				</div>
				<div class="tolerate">
					<input type="checkbox" checked="checked"/>
					<span>默认模板启用</span>
				</div>
			</div>
			
			
			<div class="station_content">
				<div class="station_list">
					<div class="left">
						<button></button>
						<input type="checkbox" />
						<span></span>
					</div>
					<div class="right">
						<div class="line"></div>
						<input type="checkbox" />
					</div>
				</div>
			</div>
			
			<div class="area_btn">
				<button class="btn btn-sure">确定</button>
				<button class="btn btn-cancel">取消</button>
			</div>
		</div>
	
</script>		
-->
