<!--修改模板-->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改异常实例</h4>
      </div>
      <div class="modal-body add_example2">
		<script id="editTemp" type="text/html">
			<div class="add_factor">
				
				<div class="exam_top">
					<span class="btn btn-success btn_exam">添加实例</span>
					<span class="btn btn-warning btn_station">绑定站点</span>
				</div>
				<div class="factor_content">
					<div class="exam_name">
						<span>实例名称:</span>
						<input type="text" id="exm_name" value="{{editData.instance_name}}" required/>
						<label for="exm_name" id="exm_nameTip">可修改实例名称</label>
						
					</div>
					<div class="control_becase">
						<span>监控因子:</span>
						<input type="text" disabled="disabled" value="{{editData.item_name}}">
					</div>
					<div class="unusual_temp">
						<span>异常模板:</span>
						<input type="text" value="{{editData.rule_code}}" disabled="disabled"/>
					</div>
					<div class="discribe">
						<p>描述:
							<span>{{editData.rule_des}}</span>
						</p>
					</div>
					<div class="condition">
						<span>判断条件:</span>
						<input type="text" required="required" value="{{editData.compare_code}}" disabled="disabled" style="display: none;">
						<span class="condition_number">
								
						</span>
						
					</div>
					<div>
						<span>描述:</span>
						<textarea value="{{editData.note}}"></textarea>
					</div>
					<div class="tolerate">
						<input type="checkbox" checked="checked"/>
						<span>默认模板启用</span>
					</div>
				</div>
				<div class="station_content">
					<div class="station_list">
						
					</div>
					<div class="station_list2">
						{{each stationData as station index}}
							<small>{{stationData[index].id}}</small>
							<!--<input type="checkbox" value="{{stationData[index].s_administrative_area_id}}" checked="checked"/>-->
							<input type="checkbox" value="{{stationData[index].id}}" checked/>
							<span>{{stationData[index].station_name}}</span>
						{{/each}}
					</div>
				</div>
				
			</div>
		</script>		 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>


