<div id="public_table">
	<div class="public_table">
		<table class="table table-bordered table-hover">
			<thead>
				<th>实例名称</th>
				<th>监控因子</th>
				<th>规则类型</th>
				<th>状态</th>
				<th>操作</th>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
		<!--分页-->
	<div>
		<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
		<select id="pagesize" class="right">  
		    <option value="10" selected="selected">每页10条</option>  
		    <option value="20">每页20条</option>
			<option value="30">每页30条</option>  
		    <option value="40">每页40条</option>
		    <option value="50">每页50条</option> 
		</select>  
	</div>
	<div class="page_total left">
		<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
	</div>
	<div class="clear"></div>
</div>