<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
	<div id="unsuall" class="sq_unsuall">

		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">异常配置</span>
		</div>
		<div class="navMain public_search">
			<input type="hidden" class="searchSta" />
			<input type="hidden" class="searchName" />
			<input type="hidden" class="searchCode" />
			<form class="form-inline">
				<div class="form-group">
	                <label for="">站&#x3000;&#x3000;点：</label>
	                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
		            <input type="text"  class="control_stationIDs hide" />
	            </div>
	            <div class="form-group">
	            	<label>实例名称:</label>
					<input type="text" class="example_name form-control"/>
	            </div>
	            <div class="form-group">
	            	<label for="">规则类型:</label>
					<input type="text" class="rule_code form-control"/>
	            </div>
	            <div class="form-group">
	            	<button class="btn search" type="button">查询</button>
					<button class="btn btn-success btn_unusual new_add_btn" type="button" data-toggle="modal" data-target="#addModal">
						创建异常实例
					</button>
	            </div>
			</form>
		</div>

		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<!--公共站点-->
		<%= render :partial => 'test_iframes/sq_publicStation' %>
		<!--表格-->
		<%= render 'table' %>
		
		<!--<div id="public_box"></div>-->
		
		<!--创建-->
		<!--<div class="add_example add_example1">-->
			<%= render 'add' %>
		<!--</div>-->
		<!--编辑-->
		<!--<div class="add_example add_example2">-->
			<%= render 'edit' %>
		<!--</div>-->
		
	</div>
	
	<!--监控因子-->
	<script id="becase" type="text/html">
		<option value="">请选择因子</option>
		{{each abnormal_items as items index}}
			<option value="{{items.id}}">{{items.item_name}}</option>
		{{/each}}
	</script>
	<!--根据因子获取模板-->
	<script id="unusualTemple" type="text/html">
		{{each abnormal_rules as rules index}}
			<option value="{{rules.id}}">{{rules.rule_name}}</option>
		{{/each}}
	</script>
	<!--搜索站点-->
	<script id="bindStations" type="text/html">
		<!--<div class="tab-top">
			<span class="station-all">
				<input type="checkbox" />
				全部
			</span>
			{{each area_stations as Station index }}
				{{each Station.chil as station index }}
					<small>{{station.region_chil.id}}</small>
					<span class="top_region">{{station.region_chil.region_name}}</span>
				{{/each}}
			{{/each}}
		</div>-->
			<div class="station_content">
		{{each stations as Station index }}
			
			<div class="list-station">
				<div class="tab-station">
					<p class="list-city">
						<span>
							<input type="checkbox" value=""/>
							
							<a>{{Station.name}}</a>
						</span>
					</p>
					<i class="search-line"></i>
					<br />
					{{each Station.station as dStations index}}
						<p class="list-city-station">
							<span>
								<input type="checkbox" value="{{dStations.id}}"/>
								<small class="hide">{{dStations.id}}</small>
								<a>{{dStations.station_name}}</a>
							</span>
						</p>
						<i class="search-line"></i>
					{{/each}}
				</div>
			</div>
		
		{{/each}}
	</div>
		<!--<div class="station-btn">
			<span class="btn-sure">确定</span>
			<span class="btn-cancel">取消</span>
		</div>-->
	</script>
	<!--根据模板获取判断条件-->
	<script id="Condition" type="text/html">
		<label for="">&#X3000;判断条件:</label>
		<input type="text" value="{{rule.compare_code}}" disabled="disabled" style="display: none;">
		<span class="condition_number"></span>
		<!--<input type="text" value="{{rule.parameter_num}}"/>-->
	</script>
	<script id="addInfo" type="text/html">
		{{if exception_sets.length > 0}}
			{{each exception_sets as origin index}}
				<tr>
					<td class="instance_name">{{origin.instance_name}}</td>
					<td class="item_name">{{origin.item_name}}</td>
					<td class="rule_name">{{origin.rule_name}}</td>
					<td>{{origin.status}}</td>
					<td>
						<span class="EditId" style="display: none;">{{origin.id}}</span>
						<a class="edit" data-toggle="modal" data-target="#editModal">编辑</a>
					</td>
				</tr>
			{{/each}}
		{{else}}
			<tr style="text-align: center;">暂无数据</tr>
		{{/if}}
	</script>
	