<!--<div id="company-total"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style='padding-left:10px;width:115%;position:relative;left:-15%;' >
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 company" style="padding: 0;">
			<div class="company-pro">
				<div class="company-pro-top">
					<span>公司概况</span>
					<a href="">更多</a>
					<div class="clear"></div>
				</div>
			</div>
			<div class="data-analy">
				<div class="company-pro-top">
					<span>数据分析</span>
					<a href="">更多</a>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 data-air" style="padding: 0;">
		<div class="company-pro-top">
			<span>空气指数</span>
			<a href="">更多</a>
			<div class="clear"></div>
		</div>
	</div>
</div>-->