<!--增加模板-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">用户信息增加</h4>
      </div>
      <div class="modal-body">


			  <form class="form-horizontal new_d_login_msg" id="new_d_login_msg">
					<div class="form-group">
						<label class="col-xs-2 control-label">登录账号:</label>
						<div class="col-xs-5">
							<input id="login_no" class="form-control" required="required" autofocus="autofocus" placeholder="请输入工号编码" pattern="^[a-zA-Z0-9]{2,16}$" type="text" name="login_no" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">用户名:</label>
						<div class="col-xs-5 send_type">
							<input id="login_Name" required="required" class="form-control" placeholder="请输入用户名" type="text" name="login_name" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">密码:</label>
						<div class="col-xs-5 send_type">
							<input id="password" required="required" class="form-control" placeholder="请输入密码" pattern="^[a-zA-Z0-9]{2,16}$" type="password" name="password" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">确认密码:</label>
						<div class="col-xs-5 send_type">
							<input id="password_confirmation" required="required" class="form-control" placeholder="请输入密码" pattern="^[a-zA-Z0-9]{2,16}$" type="password" name="password_confirmation" />
						</div>
					</div>
						
					<div class="form-group public-search">
						<label class="col-xs-2 control-label">所属公司:</label>
						<div class="selectTime">
							<div class="col-xs-5">
								
								<select id="areaAffiliation" class="form-control">
										<script id="unit_region" type="text/html">
											<option value="">请选择</option>
											{{each Data as regions index }}
												<option value="{{regions.id}}" >{{regions.region_name}}</option>
												
											{{/each}}
										</script>
								</select>
							</div>
								<!--<span class="btn btn-primary choice">选择</span>-->
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">所属单位:</label>
						<div class="col-xs-5" >
							<select class="form-control" id="department">
								<script id="departHtml" type="text/html">
									<option value="">请选择</option>
									{{each Data as regions index }}
										<option value="{{regions.id}}" >{{regions.region_name}}</option>
										
									{{/each}}
								</script>
							</select>
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">所属角色:</label>
						<div class="col-xs-5" id="roleId">
							<select class="notice_role form-control">
								
							</select>
							
						</div>
					</div>
					<div class="form-group" id="shop_name" style="display: none;">
						<label class="col-xs-2 control-label">车间区域:</label>
						<div class="col-xs-5">
							<select class="form-control ShopName" id="workshop">
                  <option>请选择</option>
                  <script id="workname" type="text/html">
                  	<option value="">请选择</option>
                  	{{each unit_region as item index}}
													<option value="{{item.id}}" value1="{{item.code}}">{{item.name}}</option>
										{{/each}}	
										
                  </script>
                </select>
						</div>
					</div>
					
					<!--<div class="form-group">
						<label class="col-xs-2 control-label">身份证号:</label>
						<div class="col-xs-5">
							<input  required="required" class="form-control IDnumber" placeholder="请输入身份证号" type="text" name="id_card" id="id_card"/>
						</div>
					</div>-->
					<div class="form-group">
						<label class="col-xs-2 control-label">工作证编号:</label>
						<div class="col-xs-5">
							<input  required="required" class="form-control work_number" placeholder="请输入工作证编号" type="text" name="work_num" id="work_num"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">状态:</label>
						<div class="col-xs-5" id="validLogo">
							<select name="valid_flag" id="d_login_msg_valid_flag" class="form-control">
								<option value="1">启用</option>
								<option value="0">禁用</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">在职状态:</label>
						<div class="col-xs-5">
							<select name="work_status"  class="form-control" id="incumbency">
								<option value="1">在职</option>
								<option value="0">离职</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">Email:</label>
						<div class="col-xs-5">
							<input class="form-control email" type="text" name="email"  id="email"  placeholder="请输入邮箱地址"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">电话:</label>
						<div class="col-xs-5">
							<input  id="telphone" class="form-control" required="required" placeholder="请输入联系方式" type="text" name="telphone" pattern="^1[3,4,5,7,8]\d{9}$"/>
						</div>
					</div>
					<!--<div class="form-group">
						<label class="col-xs-2 control-label">分配站点:</label>
						<div class="col-xs-5">
							<input id="allot_station"  class="form-control allot_station" required="required" placeholder="" type="text" />
							<input class="chooseBox hide stationID" type="text" name="station_id" id="d_login_msg_station_id" />
						</div>
						<span class="btn choice2 btn-primary" data-toggle="modal" data-target="#fenModal">选择</span>
					</div>-->
				</form>
				
			
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure register" id="addSave">保存</button>
      </div>
    </div>
  </div>
</div>
