<!--修改模板-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">用户信息修改</h4>
      </div>
      <div class="modal-body">
	      <form class="form-horizontal edit_form" id="edit_form">
					<div class="form-group">
						<label class="col-xs-2 control-label">登录账号:</label>
						<div class="col-xs-5">
							 <input type="text" class="form-control" name="login_no" id="login_no" value="" readonly="true"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">用户名:</label>
						<div class="col-xs-5 send_type">
							<input id="login_Name" required="required" class="form-control" value='' type="text" name="login_name" />
						</div>
					</div>
					<div class="form-group public-search">
						<label class="col-xs-2 control-label">所属公司:</label>
						<div class="selectTime">
							<div class="col-xs-5">
								
								<select id="areaAffiliation" class="form-control">
										
								</select>
							</div>
								<!--<span class="btn btn-primary choice">选择</span>-->
						</div>
					</div>
					<div class="form-group public-search">
						<label class="col-xs-2 control-label" for="group_id">所属单位:</label>
						
						<div class="col-sm-5">
							<select class="form-control" id="department">
								
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">所属角色:</label>
						<div class="col-xs-5" id="roleIds">
							<select class="notice_role form-control" id="role_ids">
								
							</select>
							
						</div>
					</div>
					<div class="form-group" id="shop_name" style="display: none;">
						<label class="col-xs-2 control-label">车间区域:</label>
						<div class="col-xs-5">
							<select class="form-control ShopName" id="workshop">
                  
                  
                </select>
						</div>
					</div>
					
					<!--<div class="form-group">
						<label class="col-xs-2 control-label">身份证号:</label>
						<div class="col-xs-5">
							<input  required="required" class="form-control IDnumber" placeholder="请输入身份证号" value='' type="text" name="id_card" id="id_card"/>
						</div>
					</div>-->
					<div class="form-group">
						<label class="col-xs-2 control-label"  >工作证编号:</label>
						<div class="col-xs-5">
							<input  required="required" class="form-control work_number" value='{{editData.d_login_msg.work_num}}' placeholder="" type="text" name="work_num" id="work_num"/>
						</div>
					</div>
					<div class="form-group">
				        <label class="col-sm-2 control-label">状态：</label>
						
				        <div class="col-sm-5">
							<select name="valid_flag" class="form-control" id="d_login_msg_valid_flag">
								<option value="1" id="option1">启用</option>
								<option value="0" id="option2">禁用</option>
							</select>
						</div>
				    </div>
				    <div class="form-group">
						<label class="col-xs-2 control-label" >在职状态:</label>
						<div class="col-xs-5" >
							<select name="work_status"   class="form-control" id="incumbency">
								<option value="1">在职</option>
								<option value="0">离职</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label" for="describe">Email:</label>
						<div class="col-xs-5">
							<input class="form-control email" type="text" name="email" value='' />
						</div>
					</div>
				    <div class="form-group">
				        <label class="col-sm-2 control-label">电话:</label>
				        <div class="col-sm-5">
							<input  id="telphone" class="form-control" required="required" placeholder="请输入联系方式" type="text" name="telphone" value=""/>
				        </div>
				    </div>
				    <!--<div class="form-group">
						<label class="col-xs-2 control-label" >分配站点:</label>
						<div class="col-xs-5">
							<input id="allot_station"  class="form-control allot_station" required="required" placeholder="" type="text" />
							<input class="chooseBox hide stationID" type="text" name="station_id" id="d_login_msg_station_id" />
						</div>
						<span class="btn choice2 btn-primary" data-toggle="modal" data-target="#fenModal">选择</span>
					</div>-->
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure edit_btn">保存</button>
      </div>
    </div>
  </div>
</div>





