<div class="modal fade" id="fenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
			<div  id="single-station2">
				
				<div class="content">
					
				</div>
				
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="fenSave">保存</button>
      </div>
    </div>
  </div>
</div>
<script id="allot" type="text/html">
<p class="checkall"><input type="checkbox">全选</p>
	{{each all_station as stationRegion index}}
	<div class="tab-station">
		<div class="station-one">
			<p>
			<small>{{stationRegion.id}}</small>
			<input type="checkbox" value="{{stationRegion.id}}" />
			<span>{{stationRegion.city_name}}</span>
			</p>
			
		</div>
		<div class="station-two">
			{{each stationRegion.d_stations as stationTwo index}}
			<p>
			<small>{{stationTwo.id}}</small>
			<input type="checkbox" value="{{stationTwo.id}}" />
			<span>{{stationTwo.station_name}}</span>
			</p>

			{{/each}}
		</div>
	</div>
	{{/each}}
</script>