<%= form_for(@d_login_msg) do |f| %>
  <% if @d_login_msg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@d_login_msg.errors.count, "error") %> prohibited this d_login_msg from being saved:</h2>

      <ul>
      <% @d_login_msg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :logis123n_no %><br>
    <%= f.text_field :login_no %>
  </div>
  <div class="field">
    <%= f.label :login_name %><br>
    <%= f.text_field :login_name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br>
    <%= f.number_field :role_id %>
  </div>
  <div class="field">
    <%= f.label :valid_flag %><br>
    <%= f.text_field :valid_flag %>
  </div>
  <div class="field">
    <%= f.label :valid_begin %><br>
    <%= f.date_select :valid_begin %>
  </div>
  <div class="field">
    <%= f.label :valid_end %><br>
    <%= f.date_select :valid_end %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br>
    <%= f.text_field :ip_address %>
  </div>
  <div class="field">
    <%= f.label :describe %><br>
    <%= f.text_field :describe %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
