<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<!--工号管理-->
<div id="loginMsgs" >
	<div id="powerCutRecords">
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">工号管理</span>
	</div>
	<div class="navMain public_search">
		<input type="hidden" class="searchName" />
		<input type="hidden" class="searchId" />
		<form class="form-inline">
			<div class="form-group">
				<label for="">用户名：</label>
	            <input type="text" name="login_name" id="login_name" placeholder="请输入用户名：" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="">角色：</label>
	            <select name="role_id" id="role_id" class="form-control">
					<script id="roleTemp" type="text/html">
						<option value="">请选择</option>	
						{{each s_role_msgs as roleTemp index}}
							<option value="{{roleTemp.id}}">{{roleTemp.role_name}}</option>
						{{/each}}	
							
					</script>
				</select>
			</div>
			<div class="form-group">
				 <button class="btn search" type="button">查询</button>
		        <button type="button" class="btn new_add_btn" id="add" type="button" data-toggle="modal" data-target="#addModal">新增</button>
			</div>
		</form>
		
	</div>
	<div id="public_table">
		<div class="public_table">
			<table class="table-bordered table table-hover">
				<thead>
					<tr>
						<th>登录账号</th>
						<th>用户名称</th>
						<!--<th>身份证号</th>-->
						<th>工作证编号</th>
						<th>所属单位</th>
						<th>所属区域</th>
						<th>所属角色</th>
						<th>是否启用</th>
						<th>电话号码</th>
						<th>邮箱</th>
						<th>编辑</th>
						<th>重置密码</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody class="login_msg">
					
				</tbody>
			</table>
		</div>
		
	</div>
	<div class="page_list">
		<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
		<select id="pagesize" class="right">  
		    <option value="10" selected="selected">每页10条</option>  
		    <option value="20">每页20条</option>
			<option value="30">每页30条</option>  
		    <option value="40">每页40条</option>
		    <option value="50">每页50条</option> 
		</select> 
		<div class="page_total left">
			<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
		</div> 
	</div>
	<!--站点-->
	<div class="single-station">
		<p class="clearfix"><span class="pull-right">X</span></p>	
		<div class="content">
			
		</div>
		<div class="footer">
			<button class="btn single-btn">确认</button>
			<button class="btn btn-cancel">取消</button>
		</div>
	</div>
	<!--<div  id="single-station2">
		<p class="clearfix"><span class="pull-right">X</span></p>	
		<div class="content">
			
		</div>
		<div class="footer">
			<button class="btn single-btn">确认</button>
			<button class="btn btn-cancel">取消</button>
		</div>
	</div>-->
<!-- 模态框（Modal） -->
	<!--<div class="public_box">
		<div class="public_area">
			
			<div class="area_content">
	
			</div>
			
		</div>
	</div>-->
	<!--分页-->
<%= render 'add' %>
<%= render 'edit' %>
	<%= render 'fen' %>
<div class="clear"></div>
</div>
</div>

<!--站点-->

<!--页面展示列表-->
<script id="d_login_msgs" type="text/html">
			{{each d_login_msgs as data index}}
				<tr>
					<td class="hide id">{{data.id}}</td>
					<td class="login_no">
						{{data.login_no}}
					</td>
					<td>
						{{data.name}}
					</td>
					
					<td>{{data.work_num}}</td>
					<td>
						{{data.region_code}}
					</td>
					<td>{{data.area_name}}</td>
					<td>{{data.role_code}}</td>
					<td>
						{{ if data.valid_flag == '1'}}
							启用
						{{else}}
							禁用
						{{/if}}
					</td>
					<!--<td>
						{{data.valid_begin}}
					</td>
					<td>
						{{data.valid_end}}
					</td>
					<td>
						{{data.ip_address}}
					</td>-->
					<td>{{data.telphone}}</td>
					<td>{{data.email}}</td>
					<td class="d_login_edit handle" data-toggle="modal" data-target="#editModal">
						<img src="<%= image_path("edit.png") %>"/>
					</td>
					<td class="d_login_reset handle"><img style="width: 18px;" src="<%= image_path("resetPswd.png") %>"/></td>
					<td class="d_login_delete handle">
						<img src="<%= image_path("delete.png") %>"/>
					</td>
				</tr>
			{{/each}}
			
	
</script>

<script id="roleTemp2" type="text/html">
	<option value="">请选择角色</option>
	{{each s_role_msgs as data index}}
	<option value="{{data.id}}" value1="{{data.role_code}}">{{data.role_name}}</option>
			
	{{/each}}
						
</script>

<!--编辑内容-->

<!--增加模板-->
<!--重置密码-->


	

