<!--工号查询-->
<div id="check">
	<div class="numberQuery">
		<span class="glyphicon glyphicon-search"></span>工号查询
	</div>
	<p>
	  <strong>用户编码:</strong>
	  <%= @d_login_msg.login_no %>
	</p>
	<p>
	  <strong>用户名:</strong>
	  <%= @d_login_msg.login_name %>
	</p>
	<p>
	  <strong>所在区域:</strong>
	  <%= @d_login_msg.s_region_code.region_name %>
	</p>
	<p>
	  <strong>角色:</strong>
	  <%= @d_login_msg.s_role_msg.role_name %>
	</p>
	<p>
	  <strong>有效的标志:</strong>
	  <%= @d_login_msg.valid_flag %>
	</p>
	<p>
	  <strong>有效开始日期:</strong>
	  <%= @d_login_msg.valid_begin %>
	</p>
	<p>
	  <strong>有效结束日期:</strong>
	  <%= @d_login_msg.valid_end %>
	</p>
	<p>
	  <strong>Ip地址:</strong>
	  <%= @d_login_msg.ip_address %>
	</p>
	<p>
	  <strong>描述:</strong>
	  <%= @d_login_msg.describe %>
	</p>
	<div class="editBox">			
		<div class="sBtn">
			<%= link_to '重置密码', edit_d_login_msg_path(@d_login_msg, reset_passwd:"Yes"),class:"btn btn-primary" %>
		</div>
		<div class="sBtn">
			<%= link_to '编辑', edit_d_login_msg_path(@d_login_msg),class:"btn btn-primary" %> 
		</div>
		<div class="sBtn">
			<%= link_to '返回', d_login_msgs_path,class:"btn btn-primary" %>
		</div>
	</div>
</div>

