<script id="energyThead" type="text/html">
	<tr>
		{{each d_report_forms as list index}}
			{{each list.form_headers as headList i}}
					<th>{{headList.name}}</th>
			{{/each}}
		{{/each}}
	</tr>
</script>
<!--<script id="energyTable" type="text/html">
	<thead>
		<tr>
			{{each d_report_forms as list index}}
				{{each list.form_headers as headList i}}
						<th>{{headList.name}}</th>
				{{/each}}
			{{/each}}
		</tr>
	</thead>
	<tbody class="exception-list">
		{{each d_report_forms as list index}}
				{{each list.plants as tdList h}}
					<tr>
						<td>{{tdList.branch_name}}</td>
						<td>{{tdList.name}}</td>
						<td><input type="text" name="Power" id="" value="" /></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				{{/each}}
		{{/each}}				
	</tbody>
	
</script>-->