<!--生物循环水报表-->

<p class="modalID hide"><%= @d_report_forms.id %></p>
<div id="water_report">
<p><span class="Work_name"><%= @form_name %></span><span class="time"></span><span class="state"><%= @status %></span></p>	
<table class="table-bordered table table-hover" id="energy-table">
	<thead>
		<tr>
			<% if @form_headers %>
				<% if @form_headers.length>0 %>
					<% @form_headers.each.with_index do | headItem,index | %>
					<th><%= headItem %></th>
					<% end %>
				
				<% end %>
			
			<% end %>
			
		</tr>					
	</thead>
	<tbody class="exception-list">
		<% if @form_body %>
			<% if @form_body.length>0 %>
				<% @form_body.each_with_index do | item,index | %>
				<tr>
					<td><%= @type_name %></td>
					<td><%= item.name %></td>
					<td><input type="text" name="<%= item.code %>" value="<% if @form_values.length>0 %><%=@form_values[index].field_value %><% end %>" placeholder="请输入日用水量"></td>
				</tr>
				<% end %>
			<% end %>
		<% end %>
			
	</tbody>
</table>
</div>

<div class="table_button">
	<button type="button" class="btn btn-success btnNew new_add_btn" id="report" type="button" >上报</button>
	<button class="btn" type="button" id="save">暂存</button>
</div>