<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="energy_report">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">能源上报</span>
		</div>
		<!--<div class="navMain public_search">
			<input type="hidden" class="search_beginTime" value="">
			<input type="hidden" class="search_endTime" value="">
			<input type="hidden" class="searchUnit">
			<form class="form-inline">
				<div class="form-group">
					<label for="">时间：</label>
					<input type="text" class="form-control day-start" id="start_date_range" name="start_datetime">
					<b>-</b>
					<input type="text" class="form-control day-end" id="end_date_range" name="end_datetime">
				</div>
				
				<div class="form-group">
					<label for="">车间：</label>
					<input type="text" class="form-control workshopName" data-toggle="modal" data-target="#ty_workshop">
					<input type="text" class="workshopID hide">
				</div>
				
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				</div>
			</form>
		</div>-->
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			
			
			<div class="public_table">
				<form class="form-horizontal">
					<div class="excelTable">
						
					</div>
					
				</form>
			</div>
		</div>
		
	</div>
</div>
<%= render 'table' %>