<script type="text/html" id="detail">
	<div>
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">工单详情</span>
			<button class="saveback btn-default btn">返回</button>
		</div>
		<div id="public_table">
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>运维单位</th>
							<th>城市</th>
							<th>站点</th>
							<th>工单号</th>
							<th>创建时间</th>
							<th>创建类型</th>
							<th>紧急程度</th>
							<th>工单状态</th>
							<th>当前处理人</th>
							<th>下发方式</th>
							<th>是否自动提交</th>
						</tr>
					</thead>
					<tbody class="exception-list">
						<tr>
							<td>{{task.region_code}}</td>
							<td>{{task.city}}</td>
							<td>{{task.station_name}}</td>
							<td>{{task.job_no}}</td>
							<td>{{task.created_at}}</td>
							<td>{{task.create_type}}</td>
							<td>{{task.urgent_level}}</td>
							<td>{{task.job_status}}</td>
							<td>{{task.handle_man}}</td>
							<td>{{each task.send_type as sendTypes i}}<span>{{sendTypes}}</span>{{/each}}</td>
							<td>{{task.finish_job}}</td>
						</tr>
					</tbody>
				</table>
	     	</div>
	    </div>
	</div>
</script>	


<