
<div class="modal fade" id="stationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
        
      </div>
      <div class="modal-body">
      	<button type="button" class="paiq new_add_btn btn" data-toggle="modal" data-target="#sendModal">派遣</button>
      	<div id="pId" class="hide"></div>
		<div id="public_table">
			
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>工作项类型</th>
							<th>工作项</th>
							<th>计划完成时间</th>
							<th>实际完成时间</th>
							<th>处理人</th>
							<th>分配状态</th>
							<th>完成状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
	     	</div>

	    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
<script id="station_table" type="text/html">
	{{each task_works as list index}}
		<tr>
			<td>{{index+1}}</td>
			<td>{{list.polling_ops_type}}</td>
			<td>{{list.handle_type}}</td>
			<td>{{list.polling_plan_time}}</td>
			<td>{{list.handle_time}}</td>
			<td>{{list.handle_man}}</td>
			<td class="status">{{list.dis_status}}</td>
			<td class="task_status">{{list.task_status}}</td>
			<td>
				
				<a class="lookFor">查看详情<span class="delId hide"></span></a>
			</td>
		</tr>
	{{/each}}
</script>
	     	<%= render 'send' %>
