<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="pending_works">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">工作待办事项</span>
		</div>
		<div class="navMain public_search">
			<form class="form-inline">
				<div class="form-group">
					<label for="">开始日期：</label>
		        	<input type="" class="dateTimepicker create_datetime form-control"/>
				</div>
				<div class="form-group">
					<label for="">结束日期：</label>
					<input type="" class="dateTimepicker end_datetime form-control"/>
				</div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				</div>
			</form>
		</div>
		<div id="total">
			<ul>
				<li class="works_size"><span class="num"></span><span>工作项合计</span></li>
				<li class="undis"><span class="num"></span><span class="text">未分配</span></li>
				<li class="allocated"><span class="num"></span><span class="text">已分配</span></li>
				<li class="rough"><span class="num"></span><span class="text">处理中</span></li>
				<li class="stocks"><span class="num"></span><span class="text">已完成</span></li>
				<li class="overtime"><span class="num"></span><span class="text">超时</span></li>
			</ul>
		</div>
		<div id="day_list">
			<!--<ul>
				
			</ul>-->
		</div>
		<div id="station_list">
			
		</div>
		<table id="monitor" class="hide">
	        <tr>
	            <td class="firstTime"></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td class="listTime"></td>
	        </tr>
	    </table>
	</div>
</div>
<script type="text/html" id="searchTime">
	<ul>
		{{each day_works as list index}}
			<li>
				<div class="list_top">{{list.day_time}}</div>
				<div class="list_child"><ul>
					<li value="un_write" class="status">未分配<span class="color1">{{list.un_write_day}}</span></li>
					<li value="wait_deal" class="status">已分配<span class="color2">{{list.wait_deal_day}}</span></li>
					<li value="deal_with" class="status">处理中<span class="color1">{{list.deal_with_day}}</span></li>
					<li value="un_audit" class="status">已完成<span class="color2">{{list.un_audit_day}}</span></li>
					<li value="over_time" class="over_time">超时<span class="color2">{{list.over_time_day}}</span></li>
				</ul></div>
			</li>
		{{/each}}
	</ul>
</script>
<script type="text/html" id="stationChild">
	<div id="week" class="panel">
		<div class="panels-heading">
			<button class="btn title_btn">周</button>
		</div>
		<div class="week_list panels-body">
			{{if polling}}
			{{each polling[0].polling_work as sList i}}
				<button class="btn station" value="{{sList.id}}" data-toggle="modal" data-target="#stationModal" title="{{sList.job_status}}">{{sList.station_name}}</button>
			{{/each}}
			{{else}}
    			<p>暂无数据</p>
			{{/if}}
		</div>
	</div>
	<div id="month" class="panel">
		<div class="panels-heading">
			<button class="btn title_btn">月</button>
		</div>
		<div class="month_list panels-body">
			{{if polling}}
			{{each polling[1].polling_work as sList i}}
				<button class="btn station" value="{{sList.id}}" data-toggle="modal" data-target="#stationModal" title="{{sList.job_status}}">{{sList.station_name}}</button>
			{{/each}}
			{{else}}
    			<p>暂无数据</p>
			{{/if}}
		</div>
	</div>
	<div id="ji" class="panel">
		<div class="panels-heading">
			<button class="btn title_btn">季</button>
		</div>
		<div class="ji_list panels-body">
			{{if polling}}
			{{each polling[2].polling_work as sList i}}
				<button class="btn station" value="{{sList.id}}" data-toggle="modal" data-target="#stationModal" title="{{sList.job_status}}">{{sList.station_name}}</button>
			{{/each}}
			{{else}}
    			<p>暂无数据</p>
			{{/if}}
		</div>
	</div>
	<div id="year" class="panel">
		<div class="panels-heading">
			<button class="btn title_btn">年</button>
		</div>
		<div class="year_list panels-body">
			{{if polling}}
			{{each polling[3].polling_work as sList i}}
				<button class="btn station" value="{{sList.id}}" data-toggle="modal" data-target="#stationModal" title="{{sList.job_status}}">{{sList.station_name}}</button>
			{{/each}}
			{{else}}
    			<p>暂无数据</p>
			{{/if}}
		</div>
	</div>
	
</script>
<%= render 'show' %>
<div id="detail_look" style="display: none;">
	<%= render 'details' %>
</div>