
<div id="plan_edit">
	
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName"></span>
		<button class="saveback btn new_add_btn" id="editBback" onclick="location=location">返回</button>
			
		</div>
		<input type="hidden" name="weekTime" id="weekTime" value="" />
		<div class="navMain public_search">
		<input type="hidden" class="searchUnit">
		<input type="hidden" class="searchCity">
		<input type="hidden" class="searchStatus">
			<form class="form-inline">
				<div class="form-group">
					<label for="" >运维单位：</label>
			        <input type="text" class="unit_yw form-control"/>
	            	<input type="hidden"  class="unit_ywID" />
				</div>
				<div class="form-group">
					<label for="" >区域：</label>
			        <input type="text" id="city" class="form-control"/>
	            	<input type="hidden"  class="cityID" />
				</div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				</div>
			</form>
		      
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			<div class="btn-group" role="group" >
			  <button type="button" class="btn btn-default btn-chack" id="whole" value="">全部</button>
			  <button type="button" class="btn btn-default" id="custom" value="Y">已定制</button>
			  <button type="button" class="btn btn-default" id="not_custom" value="N">未定制</button>
			  <button type="button" class="btn btn-default" id="not_report" value="O">未上报</button>
			</div>
			<div class="public_table" id="edit_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th rowspan="2">序号</th>
							<th rowspan="2">城市</th>
							<th rowspan="2">区域</th>
							<th rowspan="2">站点</th>
							<th rowspan="2">运维单位</th>
							<th>现场检查计划</th>
							<th rowspan="2">操作</th>
							<th rowspan="2">状态</th>
							<th colspan="10">周计划</th>
							<th colspan="4">月计划</th>
							<th colspan="15">季计划</th>
							<th colspan="5">半年计划</th>
							
						</tr>
						<tr>
							<th>现场质控检查评分</th>
							<th>站点巡检</th>
							<th>SO2检查</th>
							<th>NOX检查</th>
							<th>O3检查</th>
							<th>CO检查</th>
							<th>PM10检查</th>
							<th>PM2.5检查</th>
							<th>其他检查</th>
							<th>直管站巡检汇总</th>
							<th>长光程分析仪检查</th>
							<th>设备维护记录</th>
							<th>流量检查</th>
							<th>动态校准检查</th>
							<th>颗粒物手工比对</th>
							<th>设备清洁记录</th>
							<th>颗粒物温度压力校准</th>
							<th>PM10运行状况检查</th>
							<th>PM2.5运行状况检查</th>
							<th>SO2多点校准</th>
							<th>O3多点校准</th>
							<th>NO2多点校准</th>
							<th>CO多点校准</th>
							<th>长光程SO2单点校准</th>
							<th>长光程NO2单点校准</th>
							<th>长光程O3单点校准</th>
							<th>SO2精密度审核</th>
							<th>NO2精密度审核</th>
							<th>CO精密度审核</th>
							<th>O3精密度审核</th>
							<th>设备维护</th>
							<th>NOX钼炉转化率</th>
							<th>多气体动态校准仪检查</th>
							<th>O3传递记录</th>
							<th>能见度校准</th>
						</tr>
					</thead>
					<tbody class="exception-list">
						
					</tbody>
				</table>
			</div>
			<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<!--<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> -->
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		<%= render :partial => 'test_iframes/public_unitYw' %>
		<div class="save_back">
			
		</div>
	</div>
</div>
<script type="text/html" id="editTable">
	{{each ops_plan_week as editList index}}
	<tr>
		<td>{{index+1}}</td>
		<td class="hide id">{{editList.id}}</td>
		<td>{{editList.procince}}</td>
		<td>{{editList.city_name}}</td>
		<td class="edit_station">{{editList.station_name}}</td>
		<td class="hide stationID">{{editList.station_id}}</td>
		<td>{{editList.unit_name}}</td>
		<td></td>
		<td>
		{{if editList.edit_status == '待审核'}}
		<a class="edit_report hide" >上报</a>
		{{else if editList.edit_status == '待上报'}}
			<a class="edit_report" >上报</a>
			
			{{/if}}
		</td>
		<td class="status">{{editList.edit_status}}</td>
		{{each editList.plan_details as list i}}
			{{if list.job_flag=='7'}}
				<td class="substr">{{list.job_time}}</td>
			{{/if}}
			{{if list.job_flag=='30'}}
				<td class="substr">{{list.job_time}}</td>
			{{/if}}
			{{if list.job_flag=='90'}}
				<td class="substr">{{list.job_time}}</td>
			{{/if}}
			{{if list.job_flag=='360'}}
				<td class="substr">{{list.job_time}}</td>
			{{/if}}
		{{/each}}
		
	</tr>
	{{/each}}
</script>