<div id="plan_made">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">计划安排编辑</span>
			<button class="saveback btn btn-default" id="madeBback">返回</button>
			<button class="btn save" id="madeSave">保存</button>
			
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			<div class="navMain public_search">
				<form class="form-inline">
					<div class="form-group">
		                <label for="">站&#x3000;&#x3000;点：</label>
		                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            		<input type="text"  class="control_stationIDs hide" />
		            </div>
		        </form>
		    </div>
			<div class="public_table" id="made_table">
		    	<table class="table table-bordered table-hover">
					<tbody class="exception-list">
						
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	<%= render :partial => 'test_iframes/sq_publicStation' %>
</div>	
<script type="text/html" id="madeTable">
	
				<tr class="date-box">
                <td colspan="2"></td>
                <td class="hide" id="weekTime">{{editData.ops_plan.week_begin_time}}</td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_begin_time.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_time_2.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_time_3.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_time_4.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_time_5.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_time_6.substring(5,10)}}</label>
                    </td>
                    <td>
                        <label class="checkbox inline date-item">{{editData.ops_plan.week_end_time.substring(5,10)}}</label>
                    </td>
            </tr>
      {{if editData.ops_plan.edit_status=="Y" ||  editData.ops_plan.edit_status=="W"}}
      	{{each editData.week_pro.week_pro_checked as opsList index}}
		<tr class="week_proc">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>周</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.job_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
				<span class="job_time hide">{{opsList.job_time.substring(0,10)}}</span>
			</td>
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
	
	{{else if editData.ops_plan.edit_status=="N" || editData.ops_plan.edit_status=="O"}}
	{{each editData.week_pro.week_pro as opsList index}}
		<tr class="week_pro">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>周</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.work_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
				
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
      {{/if}}      
	 {{if editData.ops_plan.edit_status=="Y" ||  editData.ops_plan.edit_status=="W"}}
		{{each editData.month_pro.month_pro_checked as opsList index}}
		<tr class="month_proc">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>月</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.job_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
				<span class="job_time hide">{{opsList.job_time.substring(0,10)}}</span>
			</td>
			</td>
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
	{{else if editData.ops_plan.edit_status=="N" || editData.ops_plan.edit_status=="O"}}
	
		{{each editData.month_pro.month_pro as opsList index}}
			<tr class="month_pro">
				<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>月</strong></td>
				<td><span class="planTag" data-ruletype="Week">{{opsList.work_name}}</span>
					<span class="id hide">{{opsList.id}}</span>
				
				</td>
				</td>
				<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
	            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
	            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
	            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
	            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
	            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
	            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
			</tr>
		{{/each}}
	{{/if}}
	
	 {{if editData.ops_plan.edit_status=="Y" ||  editData.ops_plan.edit_status=="W"}}
		{{each editData.jd_pro.jd_pro_checked as opsList index}}
		<tr class="jd_proc">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>季度</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.job_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
				<span class="job_time hide">{{opsList.job_time.substring(0,10)}}</span>
			</td>
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
	{{else if editData.ops_plan.edit_status=="N" || editData.ops_plan.edit_status=="O"}}
	{{each editData.jd_pro.jd_pro as opsList index}}
		<tr class="jd_pro">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>季度</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.work_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
			</td>
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
	{{/if}}
	 {{if editData.ops_plan.edit_status=="Y" ||  editData.ops_plan.edit_status=="W"}}
		{{each editData.year_pro.year_pro_checked as opsList index}}
		<tr class="year_proc">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>半年</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.job_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
				<span class="job_time hide">{{opsList.job_time.substring(0,10)}}</span>
			</td>
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
	{{else if editData.ops_plan.edit_status=="N" || editData.ops_plan.edit_status=="O"}}
		{{each editData.year_pro.year_pro as opsList index}}
		<tr class="year_pro">
			<td  style="background: #fff;" rowspan="" style="vertical-align: inherit;"><strong>半年</strong></td>
			<td><span class="planTag" data-ruletype="Week">{{opsList.work_name}}</span>
				<span class="id hide">{{opsList.id}}</span>
			</td>
			<td class="check-item">星期一  <span class="hide week_time">{{editData.ops_plan.week_begin_time.substring(0,10)}}</span></td>
            <td class="check-item">星期二  <span class="hide week_time">{{editData.ops_plan.week_time_2.substring(0,10)}}</span></td>
            <td class="check-item">星期三  <span class="hide week_time">{{editData.ops_plan.week_time_3.substring(0,10)}}</span></td>
            <td class="check-item">星期四  <span class="hide week_time">{{editData.ops_plan.week_time_4.substring(0,10)}}</span></td>
            <td class="check-item">星期五  <span class="hide week_time">{{editData.ops_plan.week_time_5.substring(0,10)}}</span></td>
            <td class="check-item">星期六  <span class="hide week_time">{{editData.ops_plan.week_time_6.substring(0,10)}}</span></td>
            <td class="check-item">星期日  <span class="hide week_time">{{editData.ops_plan.week_end_time.substring(0,10)}}</span></td>
		</tr>
	{{/each}}
	{{/if}}
	
</script>