<script id="next_plan_table" type="text/html">
	{{each week_plan_data.currnt_week_plan_date as list index}}
		<tr class="currnt_week">
			<td>{{list.week_flag}}</td>
			<td class="edit_date">{{list.week_rand}}</td>
			<td>{{list.station_count}}</td>
			<td>{{list.station_handle_ok}}</td>
			<td>{{list.station_handle_un}}</td>
			<td>{{list.station_count == 0 ? '0.00' :(list.station_handle_ok / list.station_count).toFixed(2)}}</td>
			<td class="id hide">{{list.week_time}}</td>
			<td>
				<a class="edit" >编辑</a>
			</td>
		</tr>
	{{/each}}
	{{each week_plan_data.next_week_plan_date as list index}}
		<tr class="next_week">
			<td>{{list.week_flag}}</td>
			<td class="edit_date">{{list.week_rand}}</td>
			<td>{{list.station_count}}</td>
			<td>{{list.station_handle_ok}}</td>
			<td>{{list.station_handle_un}}</td>
			<td>{{list.station_count == 0 ? '0.00' :(list.station_handle_ok / list.station_count).toFixed(2)}}</td>
			<td class="id hide">{{list.week_time}}</td>
			<td>
				<a class="edit" >编辑</a>
			</td>
		</tr>
	{{/each}}
</script>
