<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="next_plan">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">下月计划管理</span>
		</div>
		
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			<div class="btn-group" role="group" >
			  <button type="button" class="btn btn-default btn-chack" id="whole">全部</button>
			  <button type="button" class="btn btn-default" id="this_month">本月</button>
			  <button type="button" class="btn btn-default" id="next_month">下月</button>
			</div>
	    	<div class="public_table" id="index_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>周次</th>
							<th>时间</th>
							<th>总站点(个)</th>
							<th>已定制(个)</th>
							<th>未定制(个)</th>
							<th>完成比例(%)</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
						
					</tbody>
				</table>
			</div>
		</div>
		<%= render 'table' %>
	</div>
</div>
<%= render 'edit' %>
<%= render 'made' %>
