<script id="alarms" type="text/html">
	{{if items.length > 0 }}
	{{each items as li i}}
		<tr class="list-parent" >
			<td class="station-list" style="vertical-align: middle; text-align: center; width: 5.1%;">{{li.station_name}}
				<span class="hide">{{li.station_id}}</span>
			</td>
			<td class="station-list" style="vertical-align: middle; text-align: center; width: 5.1%;">{{li.alarm_rule}}</td>
		    {{each li.alarms as list j}}
				<td id="gride" class={{ list.d_time.substring(11,13) ? list.alarm_level == 3 ? 'red' : list.alarm_level == 2 ? 'orange' : list.alarm_level == 1 ? 'yellow' : 'green'  : 'green'  }} class="grid">
					<div class="disable"></div>
					<span class="sta_id hide ">{{list.id}}</span>
					<span class="sta_time hide">{{list.d_time.substring(11,13)}}</span>
				</td>
			{{/each}}
	    </tr>
    {{/each}}
    {{else}}
      <tr>
      	    <td colspan="26">暂无数据</td>
      </tr>
    {{/if}}
</script>