
	<div class="add_factor">
		<h4>
			添加报警规则
			<div class="right">X</div>
		</h4>
	
		<div class="factor_content">
			<!--<div class="rule_code">
				<span>规则代码:</span>
				<input class="place" id="rule_ma" placeholder="请输入规则代码" required="required"  type="text" name="rule_ma" >
				<label for="rule_ma" id="rule_maTip">请输入规则代码</label>
			</div>-->
			<div class="rule_name">
				<label>规则名称:</label>
				<input class="place" id="rule_name" placeholder="请输入规则名称" required="required"  type="text" name="rule_name" >
				<label for="rule_name" id="rule_nameTip">请输入规则名称</label>
			</div>
			<div class="rule_desc">
				<label>规则描述:</label>
				<textarea rows="2" col="2" class="place" id="rule_say" name="rule_say"></textarea>
				<!--<input class="place" id="rule_say" placeholder="请输入规则描述" required="required" type="text" name="rule_say" >-->
				<label for="rule_say" id="rule_sayTip">请输入规则描述</label>
			</div>
			<div class="alarm_types">
				<label>报警分类:</label>
				<select>
					<script id="typeTemp" type="text/html">
						{{each alarm_types as typesAlarm index}}
							<option value="{{typesAlarm.id}}">{{typesAlarm.type_name}}</option>
						{{/each}}
					</script>
				</select>
			</div>
			<div class="alarm_rules">
				<label>异常规则实例:</label>
				<select>
					<script id="rulesType" type="text/html">
						{{each rule_instances as ruleAlarm index}}
							<option value="{{ruleAlarm.id}}">{{ruleAlarm.instance_name}}</option>
						{{/each}}
					</script>
				</select>
			</div>
			<div class="sample_num">
				<label>判断次数:</label>
				<input class="place" id="rule_num" placeholder="只能为数字" required="required" pattern="^[1-6]$" type="text" name="rule_num">
				<label for="rule_num" id="rule_numTip">请输入数字</label>
			</div>
			<div class="alarm_table">
				<table class="table table-bordered">
					<script id="levesAlarm" type="text/html">
						<tr>
							<td class="id none">ID</td>
							<td>严重级别</td>
							<td>异常次数</td>
						</tr>
						{{each alarm_levels as levesAlarm index}}
							<tr>
								<td class="alarm_id none">{{levesAlarm.alarm_level}}</td>
								<td class="level_name">{{levesAlarm.level_name}}</td>
								<td>
									<input type="text" placeholder="只允许输入数字" required="required" pattern="^[0-9]$"/>
								</td>
								<!--<label class="level_numTip"></label>-->
							</tr>
						{{/each}}
					</script>
				</table>
			</div>
			<div class="status">
				<label for="">状态:</label>
				<span>
					<input type="radio" name="radio" value="" checked=""/>
					启用
				</span>
				<span>
					<input type="radio" name="radio" value=""/>
					禁用
				</span>
			</div>
			
		</div>
		
		<div class="area_btn">
			<button class="btn btn-sure">保存</button>
			<button class="btn btn-cancel">取消</button>
		</div>
	</div>
