<div class="public_table">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="none">ID</th>
				<th>规则名称</th>
				<th>报警分类</th>
				<th>异常实例名称</th>
				<th>判断次数</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<script id="originData" type="text/html">
				{{if alarm_riles.length>0}}
					{{each alarm_riles as alarmOrigin index}}
					<tr>
						<td class="id none">{{alarmOrigin.id}}</td>
						<td>{{alarmOrigin.rule_name}}</td>
						<td>{{alarmOrigin.rule_type}}</td>
						<td>{{alarmOrigin.ab_rule_instance}}</td>
						<td>{{alarmOrigin.sample_num}}</td>
						<td>{{alarmOrigin.status=='1'?'是':'否'}}</td>
						<td>
							<a class="edit">编辑</a>
						</td>
					</tr>
					{{/each}}
				{{else}}
				<tr>
					<td colspan="7">暂无数据</td>
				</tr>
				{{/if}}
			</script>
		</tbody>
	</table>
</div>