<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<!--报警监控-->
<div id="alarm_sets">
	<div class="public_title">
		<img src=""/>
		<span>您的当前位置:报警设置</span>
	</div>
	<div class="public_search">
		<label for="">实例名称:</label>
		<input type="text"/>
		<label>报警分类:</label>
		<select>
			<script id="typeTemp" type="text/html">
				<option value="">请选择报警分类</option>
				{{each alarm_types as typesAlarm index}}
					<option value="{{typesAlarm.id}}">{{typesAlarm.type_name}}</option>
				{{/each}}
			</script>
		</select>
		<label for="">异常实例名称:</label>
		<input type="text"/>
		<button class="btn search">查询</button>
		<button class="btn btn-success btn_unusual new_add_btn">
			<span class="glyphicon glyphicon-plus"></span>
			添加报警规则
		</button>
	</div>
	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	<!--公共表格-->
	<%= render 'table' %>
	<!--弹出框-->
	<div id="public_box"></div>
	<!--创建-->
	<div class="add_alarm add_alarm1">
		<%= render 'add' %>
	</div>
	<!--编辑-->
	<div class="add_alarm add_alarm2">
		<%= render 'edit' %>
	</div>
</div>
<!--分页-->
<div>
	<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
	<select id="pagesize" class="right">  
	    <option value="10" selected="selected">每页10条</option>  
	    <option value="20">每页20条</option>
		<option value="30">每页30条</option>  
	    <option value="40">每页40条</option>
	    <option value="50">每页50条</option> 
	</select>  
</div>
<div class="page_total left">
	<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
</div>
<div class="clear"></div>