
<table class="table table-hover">
  <caption>检查项模板标题

  </caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>模板名称</th>
    <th>模板类型</th>
    <th>创建时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>