<form class="form-horizontal">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">模板名称</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="firstname" name="f_form_module[name]"
             placeholder="模板名称" >
    </div>
  </div>
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">模板类型</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="firstname"  name="f_form_module[module_type]"
             placeholder="模板类型">
    </div>
  </div>

</form>
