<form class="form-horizontal">
	<div id="field_title_checked" class="hide"> 
		<% if @field_title_checked %>
			<% @field_title_checked.each do |checked| %>
			<p><%= checked.id %></p>
		  <% end %>
	  <% end %>
	</div>
	<ul id="fieldTitles">
		<% @field_titles.each do |title| %>
		<li>
			<label >
				<input type="checkbox" name="field_title_id" value="<%= title.id %>" />
				<%= title.name %>
		  </label>
		</li>
		  
	  <% end %>
	</ul>
  
</form>

