<script type="text/html" id="concenTab">
	
	{{each day_data as contaminnant index}}
	    <tr>
	    	<td>{{contaminnant.station.station_name}}</td>
	    	<td>{{contaminnant.current.pm10_avg}}</td>
	    	<td>{{contaminnant.current.so2_avg}}</td>
	    	<td>{{contaminnant.current.no2_avg}}</td>
	    	<td>{{contaminnant.current.co_avg}}</td>
	    	<td>{{contaminnant.current.o3_avg}}</td>
	    	<td>{{contaminnant.current.pm2_5_avg}}</td>
	    	<td>{{contaminnant.pre_data.pm10_avg}}</td>
	    	<td>{{contaminnant.pre_data.so2_avg}}</td>
	    	<td>{{contaminnant.pre_data.no2_avg}}</td>
	    	<td>{{contaminnant.pre_data.co_avg}}</td>
	    	<td>{{contaminnant.pre_data.o3_avg}}</td>
	    	<td>{{contaminnant.pre_data.pm2_5_avg}}</td>
	    	<td>{{contaminnant.pre_data.pm10_avg == 0 ? '0.00' : ((contaminnant.current.pm10_avg - contaminnant.pre_data.pm10_avg)/contaminnant.pre_data.pm10_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_data.so2_avg == 0 ? '0.00' : ((contaminnant.current.so2_avg - contaminnant.pre_data.so2_avg)/contaminnant.pre_data.so2_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_data.no2_avg == 0 ? '0.00' : ((contaminnant.current.no2_avg - contaminnant.pre_data.no2_avg)/contaminnant.pre_data.no2_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_data.co_avg == 0 ? '0.00' : ((contaminnant.current.co_avg - contaminnant.pre_data.co_avg)/contaminnant.pre_data.co_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_data.o3_avg == 0 ? '0.00' : ((contaminnant.current.o3_avg - contaminnant.pre_data.o3_avg)/contaminnant.pre_data.o3_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_data.pm2_5_avg == 0 ? '0.00' : ((contaminnant.current.pm2_5_avg - contaminnant.pre_data.pm2_5_avg)/contaminnant.pre_data.pm2_5_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_year_data.pm10_avg}}</td>
	    	<td>{{contaminnant.pre_year_data.so2_avg}}</td>
	    	<td>{{contaminnant.pre_year_data.no2_avg}}</td>
	    	<td>{{contaminnant.pre_year_data.co_avg}}</td>
	    	<td>{{contaminnant.pre_year_data.o3_avg}}</td>
	    	<td>{{contaminnant.pre_year_data.pm2_5_avg}}</td>
	    	<td>{{contaminnant.pre_year_data.pm10_avg == 0 ? '0.00' : ((contaminnant.current.pm10_avg - contaminnant.pre_year_data.pm10_avg)/contaminnant.pre_year_data.pm10_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_year_data.so2_avg == 0 ? '0.00' : ((contaminnant.current.so2_avg - contaminnant.pre_year_data.so2_avg)/contaminnant.pre_year_data.so2_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_year_data.no2_avg == 0 ? '0.00' : ((contaminnant.current.no2_avg - contaminnant.pre_year_data.no2_avg)/contaminnant.pre_year_data.no2_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_year_data.co_avg == 0 ? '0.00' : ((contaminnant.current.co_avg - contaminnant.pre_year_data.co_avg)/contaminnant.pre_year_data.co_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_year_data.o3_avg == 0 ? '0.00' : ((contaminnant.current.o3_avg - contaminnant.pre_year_data.o3_avg)/contaminnant.pre_year_data.o3_avg*100).toFixed(2)}}</td>
	    	<td>{{contaminnant.pre_year_data.pm2_5_avg == 0 ? '0.00' : ((contaminnant.current.pm2_5_avg - contaminnant.pre_year_data.pm2_5_avg)/contaminnant.pre_year_data.pm2_5_avg*100).toFixed(2)}}</td>
	    </tr>
	{{/each}}
</script>