<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="concentration_analysis">
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：浓度值对比分析</span>
	</div>
	<div class="public_search d_alarms">
		<label>选择站点:</label>
		<input type="text" class="control_station"/>
		<input type="text"  class="control_stationID" />
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<b>-</b>
		<input type="text" class="dateTimepicker end_datetime"/>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<button class="btn search">查询</button>
		<a type="button" class="putTable" href='javascript:void(0)' >
                导出表格
        </a>
	</div>
		<div class="public_tables">
			<div class="public_table">
				
			<table class="table table-bordered table-hover">
				<thead>
				<tr class="publicTable-thead">					
					<th rowspan="3" class="thOne">站点名称</th>
					<th colspan="6">当期</th>
					<th colspan="12">环比</th>
					<th colspan="12">同比</th>
				</tr>
				<tr class="publicTable-thead">
					<th colspan="6">空气质量</th>
					<th colspan="6">空气质量</th>
					<th colspan="6">比较(%)</th>
					<th colspan="6">空气质量</th>
					<th colspan="6">比较(%)</th>
				</tr>
				<tr class="publicTable-thead">
					<th>PM10</th>
					<th>SO2</th>
					<th>NO2</th>
					<th>CO</th>
					<th>O3</th>
					<th>PM2.5</th>
					<th>PM10</th>
					<th>SO2</th>
					<th>NO2</th>
					<th>CO</th>
					<th>O3</th>
					<th>PM2.5</th>
					<th>PM10</th>
					<th>SO2</th>
					<th>NO2</th>
					<th>CO</th>
					<th>O3</th>
					<th>PM2.5</th>
					<th>PM10</th>
					<th>SO2</th>
					<th>NO2</th>
					<th>CO</th>
					<th>O3</th>
					<th>PM2.5</th>
					<th>PM10</th>
					<th>SO2</th>
					<th>NO2</th>
					<th>CO</th>
					<th>O3</th>
					<th>PM2.5</th>
				</tr>
					
				</thead>
				<tbody class="exception-list"><tr>
						<td>测试</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					
				</tbody>
			</table>
        </div>
	</div>
		
   
  
</div>
 <!--站点-->
	<%= render :partial => 'test_iframes/public_station' %>
	<%= render 'concenTable' %>
	<!--分页-->
<div>
	<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
	<select id="pagesize" class="right">  
	    <option value="10" selected="selected">每页10条</option>  
	    <option value="20">每页20条</option>
		<option value="30">每页30条</option>  
	    <option value="40">每页40条</option>
	    <option value="50">每页50条</option> 
	</select>  
</div>
<div class="page_total left">
	<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
</div>
<div class="clear"></div>