<form class="form-horizontal">
	<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">质量上报</span>
			<button type="button" class="btn btn-success btnNew new_add_btn" id="report" type="button" >上报</button>
			<button class="btn" type="button" id="save">暂存</button>
	</div>

	<p class="Tips">*若想新增或者删除项目数据，请先点击选中项目，然后点击新增行、删除行即可。例如：“点击投粉” <span class="pull-right"><img src="<%= image_path("close.png") %>" width="20"/></span></p>
	
	<div id="public_table">
		<div class="public_table">
			<div id="water_report">
				<div class="table-title"><span class="Work_name">质量上报</span><span class="time"></span><span class="state"><%= @status %></span>
						<button class="btn" type="button" id="trDel" onclick="ifShowDelBtn()" >删除行</button>
						<button class="btn" type="button" id="trAdd" onclick="addTr()">增加行</button>
					</div>	
				<div class="table-title table-title2"><span class="Work_name">质量上报</span><span class="time"></span><span class="state"><%= @status %></span>
					<button class="btn" type="button" id="trDel" onclick="ifShowDelBtn()" >删除行</button>
					<button class="btn" type="button" id="trAdd" onclick="addTr()">增加行</button>
				</div>	
				<p class="hide region-code"><%= @region_code.region_code %></p>
				<table class="table-bordered table table-hover" id="quality_table">
			    <thead>
			        <tr>
			            <th>项目</th>
			            <th>中间体数据</th>
			        </tr>
			    </thead>
			    <tbody class="exception-list">
			    	<tr class="qualityReport">
			    		<td class="items">投粉</td>
			    		<td class="hide fieldCode">TF</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="tf">
			    				<tr>
			    					<td>批号</td>
			    					<td>波美度</td>
			    					<td>淀粉酶量</td>
			    					<td></td>
			    					<td></td>
			    					<td></td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values1.length>0 %>
			    					<% @form_values1.each_with_index do |values1,index| %>
			    						<tr>
			    							<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%= values1.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_02" placeholder="请输入数据" value="<%= values1.technic_02 %>"></td>
					    					<td><input type="text" class="" name="technic_03" placeholder="请输入数据" value="<%= values1.technic_03 %>"></td>
			    							<td></td>
			    							<td></td>
			    							<td></td>
			    							<td onclick="qualityTableDel(this,'tf')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
			    						</tr>
			    					<% end %>
			    					<% else %>
			    						<tr>
			    							<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
					    					<td><input type="text" class="" name="technic_02" placeholder="请输入数据" value=""></td>
					    					<td><input type="text" class="" name="technic_03" placeholder="请输入数据" value=""></td>
			    							<td></td>
			    							<td></td>
			    							<td></td>
			    							<td onclick="qualityTableDel(this,'tf')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
			    						</tr>
			    					
			    				<% end %>
			    				
			    			</table>
			    		</td>
			    	</tr>
			    	<tr class="qualityReport">
			    		<td class="items">糖液</td>
			    		<td class="hide fieldCode">TY</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="ty">
			    				<tr>
			    					<td>批号</td>
			    					<td>糖值 </td>
			    					<td>DE值</td>
			    					<td>周期</td>
			    					<td></td>
			    					<td></td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values2.length>0 %>
			    					<% @form_values2.each_with_index do |values2,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values2.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_04" placeholder="请输入数据" value="<%=values2.technic_04 %>"></td>
					    					<td><input type="text" class="" name="technic_05" placeholder="请输入数据" value="<%=values2.technic_05 %>"></td>
					    					<td><input type="text" class="" name="technic_06" placeholder="请输入数据" value="<%=values2.technic_06 %>"></td>
					    					<td></td>
					    					<td></td>
					    					<td onclick="qualityTableDel(this,'ty')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_04" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_05" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_06" placeholder="请输入数据" value=""></td>
				    					<td></td>
				    					<td></td>
				    					<td onclick="qualityTableDel(this,'ty')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>	
			    				
			    				
			    			</table>
			    		</td>
			    	</tr>
			    	<tr class="qualityReport">
			    		<td class="items">发酵液</td>
			    		<td class="hide fieldCode">FJY</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="fjy">
			    				<tr>
			    					<td>批号</td>
			    					<td>放罐旋光 </td>
			    					<td>滤速</td>
			    					<td>周期</td>
			    					<td></td>
			    					<td></td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values3.length>0 %>
			    					<% @form_values3.each_with_index do |values3,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values3.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_07" placeholder="请输入数据" value="<%=values3.technic_07 %>"></td>
					    					<td><input type="text" class="" name="technic_08" placeholder="请输入数据" value="<%=values3.technic_08 %>"></td>
					    					<td><input type="text" class="" name="technic_06" placeholder="请输入数据" value="<%=values3.technic_06 %>"></td>
					    					<td></td>
					    					<td></td>
					    					<td onclick="qualityTableDel(this,'fjy')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_07" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_08" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_06" placeholder="请输入数据" value=""></td>
				    					<td></td>
				    					<td></td>
				    					<td onclick="qualityTableDel(this,'fjy')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>	
			    				
			    			</table>
			    		</td>
			    	</tr>
			        <tr class="qualityReport">
			    		<td class="items">酸化液</td>
			    		<td class="hide fieldCode">SHY</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="shy">
			    				<tr>
			    					<td>批号</td>
			    					<td>交料旋光 </td>
			    					<td>交料透光</td>
			    					<td>Ca<sup>2+</sup></td>
			    					<td>PH</td>
			    					<td></td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values4.length>0 %>
			    					<% @form_values4.each_with_index do |values4,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values4.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_09" placeholder="请输入数据" value="<%=values4.technic_09 %>"></td>
					    					<td><input type="text" class="" name="technic_10" placeholder="请输入数据" value="<%=values4.technic_10 %>"></td>
					    					<td><input type="text" class="" name="technic_11" placeholder="请输入数据" value="<%=values4.technic_11 %>>"></td>
					    					<td><input type="text" class="" name="technic_12" placeholder="请输入数据" value="<%=values4.technic_12 %>"></td>
					    					<td></td>
					    					<td onclick="qualityTableDel(this,'shy')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_09" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_10" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_11" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_12" placeholder="请输入数据" value=""></td>
				    					<td></td>
				    					<td onclick="qualityTableDel(this,'shy')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>	
			    				
			    			</table>
			    		</td>
			    	</tr>
			    	<tr class="qualityReport">
			    		<td class="items">离交</td>
			    		<td class="hide fieldCode">LJ</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="lj">
			    				<tr>
			    					<td>批号</td>
			    					<td>交料旋光 </td>
			    					<td>交料透光</td>
			    					<td>Ca<sup>2+</sup></td>
			    					<td>PH</td>
			    					<td></td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values5.length>0 %>
			    					<% @form_values5.each_with_index do |values5,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values5.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_09" placeholder="请输入数据" value="<%=values5.technic_09 %>"></td>
					    					<td><input type="text" class="" name="technic_10" placeholder="请输入数据" value="<%=values5.technic_10 %>"></td>
					    					<td><input type="text" class="" name="technic_11" placeholder="请输入数据" value="<%=values5.technic_11 %>"></td>
					    					<td><input type="text" class="" name="technic_12" placeholder="请输入数据" value="<%=values5.technic_12 %>"></td>
					    					<td></td>
					    					<td onclick="qualityTableDel(this,'lj')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_09" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_10" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_11" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_12" placeholder="请输入数据" value=""></td>
				    					<td></td>
				    					<td onclick="qualityTableDel(this,'lj')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>
			    				
			    				
			    			</table>
			    		</td>
			    	</tr>
			    	<tr class="qualityReport">
			    		<td class="items">粗品</td>
			    		<td class="hide fieldCode">CP</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="cp">
			    				<tr>
			    					<td>批号</td>
			    					<td>含量 </td>
			    					<td>PH</td>
			    					<td>水份</td>
			    					<td>料浆比重</td>
			    					<td>母液含量</td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values6.length>0 %>
			    					<% @form_values6.each_with_index do |values6,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values6.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_13" placeholder="请输入数据" value="<%=values6.technic_13 %>"></td>
					    					<td><input type="text" class="" name="technic_12" placeholder="请输入数据" value="<%=values6.technic_12 %>"></td>
					    					<td><input type="text" class="" name="technic_14" placeholder="请输入数据" value="<%=values6.technic_14 %>"></td>
					    					<td><input type="text" class="" name="technic_15" placeholder="请输入数据" value="<%=values6.technic_15 %>"></td>
					    					<td><input type="text" class="" name="technic_16" placeholder="请输入数据" value="<%=values6.technic_16 %>"></td>
					    					<td onclick="qualityTableDel(this,'cp')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_13" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_12" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_14" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_15" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_16" placeholder="请输入数据" value=""></td>
				    					<td onclick="qualityTableDel(this,'cp')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>
			    				
			    				
			    			</table>
			    		</td>
			    	</tr>
			    	<tr class="qualityReport">
			    		<td class="items">一次料</td>
			    		<td class="hide fieldCode">YCL</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="ycl">
			    				<tr>
			    					<td>批号</td>
			    					<td>比重 </td>
			    					<td>料浆含量</td>
			    					<td>加炭量</td>
			    					<td>一次母液含量</td>
			    					<td>溶解温度</td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values7.length>0 %>
			    					<% @form_values7.each_with_index do |values7,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values7.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_17" placeholder="请输入数据" value="<%=values7.technic_17 %>"></td>
					    					<td><input type="text" class="" name="technic_18" placeholder="请输入数据" value="<%=values7.technic_18 %>"></td>
					    					<td><input type="text" class="" name="technic_19" placeholder="请输入数据" value="<%=values7.technic_19 %>"></td>
					    					<td><input type="text" class="" name="technic_20" placeholder="请输入数据" value="<%=values7.technic_20 %>"></td>
					    					<td><input type="text" class="" name="technic_21" placeholder="请输入数据" value="<%=values7.technic_21 %>"></td>
					    					<td onclick="qualityTableDel(this,'ycl')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_17" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_18" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_19" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_20" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_21" placeholder="请输入数据" value=""></td>
				    					<td onclick="qualityTableDel(this,'ycl')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>
			    				
			    			</table>
			    		</td>
			    	</tr>
			    	<tr class="qualityReport">
			    		<td class="items">二次料</td>
			    		<td class="hide fieldCode">ECL</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="ecl">
			    				<tr>
			    					<td>批号</td>
			    					<td>溶解温度 </td>
			    					<td>PH</td>
			    					<td>加EDTA量</td>
			    					<td>加草酸量</td>
			    					<td></td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values8.length>0 %>
			    					<% @form_values8.each_with_index do |values8,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values8.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_21" placeholder="请输入数据" value="<%=values8.technic_21 %>"></td>
					    					<td><input type="text" class="" name="technic_12" placeholder="请输入数据" value="<%=values8.technic_12 %>"></td>
					    					<td><input type="text" class="" name="technic_22" placeholder="请输入数据" value="<%=values8.technic_22 %>"></td>
					    					<td><input type="text" class="" name="technic_23" placeholder="请输入数据" value="<%=values8.technic_23 %>"></td>
					    					<td></td>
					    					<td onclick="qualityTableDel(this,'ecl')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_21" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_12" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_22" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_23" placeholder="请输入数据" value=""></td>
				    					<td></td>
				    					<td onclick="qualityTableDel(this,'ecl')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>
			    				
			    				
			    			</table>
			    		</td>
			    	</tr>
			    	<tr class="qualityReport">
			    		<td class="items">湿成品钠</td>
			    		<td class="hide fieldCode">SPCN</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="scpn">
			    				<tr>
			    					<td>批号</td>
			    					<td>白度 </td>
			    					<td>透光</td>
			    					<td>水份</td>
			    					<td></td>
			    					<td></td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values9.length>0 %>
			    					<% @form_values9.each_with_index do |values9,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values9.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_24" placeholder="请输入数据" value="<%=values9.technic_24 %>"></td>
					    					<td><input type="text" class="" name="technic_25" placeholder="请输入数据" value="<%=values9.technic_25 %>"></td>
					    					<td><input type="text" class="" name="technic_14" placeholder="请输入数据" value="<%=values9.technic_14 %>"></td>
					    					<td></td>
					    					<td></td>
					    					<td onclick="qualityTableDel(this,'scpn')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_24" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_25" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_14" placeholder="请输入数据" value=""></td>
				    					<td></td>
				    					<td></td>
				    					<td onclick="qualityTableDel(this,'scpn')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>
			    				
			    			</table>
			    		</td>
			    	</tr>
			    	<tr class="qualityReport">
			    		<td class="items">湿成品酸</td>
			    		<td class="hide fieldCode">SCPS</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="scps">
			    				<tr>
			    					<td>批号</td>
			    					<td>白度 </td>
			    					<td>透光度</td>
			    					<td>水份</td>
			    					<td></td>
			    					<td></td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values10.length>0 %>
			    					<% @form_values10.each_with_index do |values10,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values10.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_24" placeholder="请输入数据" value="<%=values10.technic_24 %>"></td>
					    					<td><input type="text" class="" name="technic_27" placeholder="请输入数据" value="<%=values10.technic_27 %>"></td>
					    					<td><input type="text" class="" name="technic_14" placeholder="请输入数据" value="<%=values10.technic_14 %>"></td>
					    					<td></td>
					    					<td></td>
					    					<td onclick="qualityTableDel(this,'scps')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_24" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_27" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_14" placeholder="请输入数据" value=""></td>
				    					<td></td>
				    					<td></td>
				    					<td onclick="qualityTableDel(this,'scps')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>
			    				
			    			</table>
			    		</td>
			    	</tr>
			    	<tr class="qualityCenter">
			    		<td class="items">钠包装量</td>
			    		<td class="hide fieldCode">na_nums</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="na_nums">
			    				<tr>
			    					<td>批号</td>
			    					<td>白度 </td>
			    					<td>2小时白度</td>
			    					<td>透光度</td>
			    					<td>水份</td>
			    					<td>等级</td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values11.length>0 %>
			    					<% @form_values11.each_with_index do |values11,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values11.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_24" placeholder="请输入数据" value="<%=values11.technic_24 %>"></td>
					    					<td><input type="text" class="" name="technic_26" placeholder="请输入数据" value="<%=values11.technic_26 %>"></td>
					    					<td><input type="text" class="" name="technic_27" placeholder="请输入数据" value="<%=values11.technic_27 %>"></td>
					    					<td><input type="text" class="" name="technic_14" placeholder="请输入数据" value="<%=values11.technic_14 %>"></td>
					    					<td><input type="text" class="" name="technic_28" placeholder="请输入数据" value="<%=values11.technic_28 %>"></td>
					    					<td onclick="qualityTableDel(this,'na_nums')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_24" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_26" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_27" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_14" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_28" placeholder="请输入数据" value=""></td>
				    					<td onclick="qualityTableDel(this,'na_nums')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>
			    				
			    			</table>
			    		</td>
			    	</tr>
			    	<tr class="qualityCenter">
			    		<td class="items">酸包装量</td>
			    		<td class="hide fieldCode">suan_nums</td>
			    		<td>
			    			<table class="table table-bordered nostingTable" frame="void" id="suan_nums">
			    				<tr>
			    					<td>批号</td>
			    					<td>白度 </td>
			    					<td>2小时白度</td>
			    					<td>透光度</td>
			    					<td>水份</td>
			    					<td>等级</td>
			    					<td class="showDel">删除</td>
			    				</tr>
			    				<% if @form_values12.length>0 %>
			    					<% @form_values12.each_with_index do |values12,index| %>
			    						<tr>
					    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value="<%=values12.technic_01 %>"></td>
					    					<td><input type="text" class="" name="technic_24" placeholder="请输入数据" value="<%=values12.technic_24 %>"></td>
					    					<td><input type="text" class="" name="technic_26" placeholder="请输入数据" value="<%=values12.technic_26 %>"></td>
					    					<td><input type="text" class="" name="technic_27" placeholder="请输入数据" value="<%=values12.technic_27 %>"></td>
					    					<td><input type="text" class="" name="technic_14" placeholder="请输入数据" value="<%=values12.technic_14 %>"></td>
					    					<td><input type="text" class="" name="technic_28" placeholder="请输入数据" value="<%=values12.technic_28 %>"></td>
					    					<td onclick="qualityTableDel(this,'suan_nums')" class="delLine showDel">
					    						<img src="<%= image_path("delete.png") %>"/>
								            </td>
					    				</tr>
			    					<% end %>
			    				<% else %>
			    					<tr>
				    					<td><input type="text" class="" name="technic_01" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_24" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_26" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_27" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_14" placeholder="请输入数据" value=""></td>
				    					<td><input type="text" class="" name="technic_28" placeholder="请输入数据" value=""></td>
				    					<td onclick="qualityTableDel(this,'suan_nums')" class="delLine showDel">
				    						<img src="<%= image_path("delete.png") %>"/>
							            </td>
				    				</tr>
			    				<% end %>
			    				
			    			</table>
			    		</td>
			    	</tr>
			    </tbody>    
			</table>
			</div>
		</div>
	</div>
</form>