<%= form_for(@s_administrative_area) do |f| %>
  <% if @s_administrative_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@s_administrative_area.errors.count, "error") %> prohibited this s_administrative_area from being saved:</h2>

      <ul>
      <% @s_administrative_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zone_name %><br>
    <%= f.text_field :zone_name %>
  </div>
  <div class="field">
    <%= f.label :zone_rank %><br>
    <%= f.text_field :zone_rank %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :des %><br>
    <%= f.text_field :des %>
  </div>
  <div class="field">
    <%= f.label :active_state %><br>
    <%= f.check_box :active_state %>
  </div>
  <div class="field">
    <%= f.label :sort_num %><br>
    <%= f.number_field :sort_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
