<p id="notice"><%= notice %></p>

<h1>Listing S Administrative Areas</h1>

<table>
  <thead>
    <tr>
      <th>Zone name</th>
      <th>Zone rank</th>
      <th>Parent</th>
      <th>Des</th>
      <th>Active state</th>
      <th>Sort num</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @s_administrative_areas.each do |s_administrative_area| %>
      <tr>
        <td><%= s_administrative_area.zone_name %></td>
        <td><%= s_administrative_area.zone_rank %></td>
        <td><%= s_administrative_area.parent_id %></td>
        <td><%= s_administrative_area.des %></td>
        <td><%= s_administrative_area.active_state %></td>
        <td><%= s_administrative_area.sort_num %></td>
        <td><%= link_to 'Show', s_administrative_area %></td>
        <td><%= link_to 'Edit', edit_s_administrative_area_path(s_administrative_area) %></td>
        <td><%= link_to 'Destroy', s_administrative_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New S administrative area', new_s_administrative_area_path %>
