<p id="notice"><%= notice %></p>

<p>
  <strong>Zone name:</strong>
  <%= @s_administrative_area.zone_name %>
</p>

<p>
  <strong>Zone rank:</strong>
  <%= @s_administrative_area.zone_rank %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @s_administrative_area.parent_id %>
</p>

<p>
  <strong>Des:</strong>
  <%= @s_administrative_area.des %>
</p>

<p>
  <strong>Active state:</strong>
  <%= @s_administrative_area.active_state %>
</p>

<p>
  <strong>Sort num:</strong>
  <%= @s_administrative_area.sort_num %>
</p>

<%= link_to 'Edit', edit_s_administrative_area_path(@s_administrative_area) %> |
<%= link_to 'Back', s_administrative_areas_path %>
