$(function(){
			var img_path_head=["<%= image_path('logo.png') %>","<%= image_path('user.png') %>","<%= image_path('off.png') %>"];
			$('header .logo img').attr('src',img_path_head[0]);
			$('header > .right a').each(function(i){
				$(this).find('img').attr('src',img_path_head[i+1]);
			});
			var first_imgTotal=[];
			$.ajax({
				type: "get",
				url: "/homes.json",
				async: false,
				dataType: "json",
				success:function(data){
					var Data=data.mean_url;
					var first_nav;
					var first_url;
					var mean_str="";
					$.each(Data,function(i,item){
						
						first_img=item.img_url;
						first_imgTotal.push(Data[i].img_url)
						first_nav=item.func_name;
						first_url=item.func_url;
						
						if(first_url==null){
							first_url="javascript:void(0)"
						}
						
						mean_str += '<li class="nav_li"><div class="left"><a>'+first_nav+'</a></div><div class="right"><img src="" alt=""></div></li><div class="nav_list">';
						item.chil.map(function(ele,index,arr){
							var child_url=ele.func_url
							if(child_url==null){
								child_url="javascript:void(0)"
							}
							mean_str += '<li><a href="'+ child_url +'" target="heatSourceContent">'+ele.func_name+'</a></li>';
						})
						mean_str +='</div>';
					})
					$('.container > .left ul').append(mean_str);
					homesFunc();
				}
			})
	  	function homesFunc(){
//			获取图片
			var img_path_a=first_imgTotal;
			var first_img_index=img_path_a[0];
			if(first_img_index){
          first_img_index=first_img_index.substring(13,15);
      }else{
          first_img_index = '';
      }
			
			var img_path_arrow_a="<%= image_path('side1-1.png') %>";
			var img_path_arrow_b="<%= image_path('side-1.png') %>";
			//	首页初始
			$('.nav_li').eq(0).find('.left a').css('color','#ffdf01');
			$('.nav_li').eq(0).find('.right img').css('height','22px');
			$('.nav_li').eq(0).css('border-color','#ffdf01');
			$('.nav_li').each(function(i){
				$(this).find('.right img').attr('src',img_path_arrow_a);
			});
			
			
			$('.nav_li').eq(0).find('.right img').attr('src',img_path_arrow_b);
			//	点击事件
			$('.container ul .nav_li').click(function(){
				
				
				$(this).next('.nav_list').toggle().end().next('.nav_list').siblings('.nav_list').hide();
				$(this).next('.nav_list').find('li').eq(0).find('a').css('color','#ffdf01');
				$(this).next('.nav_list').find('li').eq(0).siblings().find('a').css('color','#fff');	
			//	更换图片
					
				if($(this).next('.nav_list').css('display')=='block'){

						
					
						$(this).find('.right img').attr('src',img_path_arrow_b).end().siblings('.nav_li').find('.right img').attr('src',img_path_arrow_a);
						$(this).find('.right img').css('height','22px').end().siblings('.nav_li').find('.right img').css('height','22px');
						$(this).find('.left a').css('color','#ffdf01').end().siblings('.nav_li').find('.left a').css('color','');
						$(this).css('border-color','#ffdf01').siblings('.nav_li').css('border-color','#24a759');
					
				}else{
					
					
					$(this).find('.right img').attr('src',img_path_arrow_a);
					$(this).find('.right img').css('height','22px');
					$(this).find('.left a').css('color','#fff');
					$(this).css('border-color','');
					
				};
				$.ajax({
					type:"get",
					url:"/publics/status",
					async:true,
					success:function(data){
						if(data.msg !="success"){
							alert("操作超时，请重新登录")
							window.location.reload();
						}
					},
					err:function(err){
						
					}
				});
				
			})
			
			$('.nav_li').eq(0).click(function(){
				
				$(this).find('.right img').attr('src',img_path_arrow_b);
				$(this).find('.right img').css('height','22px');
				$(this).css('border-color','#ffdf01');
				$(this).find('.left a').css('color','#ffdf01');
			})
			
			$('.nav_list li').click(function(){
				$(this).find('a').css('color','#ffdf01').end().siblings('.nav_list li').find('a').css('color','');
				$(this).parent().siblings('.nav_list').find('li a').css('color','');
				$.ajax({
					type:"get",
					url:"/publics/status",
					async:true,
					success:function(data){
						if(data.msg !="success"){
							alert("操作超时，请重新登录")
							window.location.reload();
						}
					},
					err:function(err){
						
					}
				});
			})
	}
	

	//重置密码	
	$("body").delegate(".reset","click",function() {
		var id_fix= $('.hide').html()
		var dataObj={}
		var htmlStr=template('resetPwd',dataObj);
		$('.area_content').html(htmlStr);
		$('#public_box').show();
        passwordValid();
      $("#fix_pd").click(function(){
          var ps = $("#passwd").val();
          var ps2 = $("#passwd_ag").val();
             
	          $.ajax({
	              url: '/d_login_msgs/'+ id_fix+'.json',
	              type: 'PATCH',
	              async: true,
	              data: {d_login_msg: {password: ps, password_confirmation: ps2}},
	              dataType: 'json',
	              success: function (data) {
	                  //成功后页面处理
	                  alert("修改密码成功")
				      	$('#public_box').hide();
				      	$("#passwd").val("");
				      	$("#passwd_ag").val("")
	                    
	              },
	              error: function (err) {
	                  console.log(err)
	                  alert("修改密码失败")
	              }
	
	          });
      })
      $("#fix_qx").click(function(){
	      	$('#public_box').hide();
	      	$("#passwd").val("");
	      	$("#passwd_ag").val("")
      })
      
      $('.pull-right').click(function(){
      	    $('#public_box').hide();
	      	$("#passwd").val("");
	      	$("#passwd_ag").val("")
      })
      
	})
	
	//  修改密码表单验证
    function passwordValid(){
    	var passwd = document.getElementById("passwd");
		var passwdTip = document.getElementById("passwdTip");
		$('body').delegate("#passwd","focus",function(){
			passwdTip.className = "col-xs-4 col-sm-4 col-md-4 col-lg-4 show control-default";
			passwdTip.firstChild.nodeValue = "请输入2至16位的数字."
		})
		$('body').delegate("#passwd","blur",function(){
			if(passwd.validity.valid){
				passwdTip.className = "col-xs-4 col-sm-4 col-md-4 col-lg-4 show control-success";
				passwdTip.firstChild.nodeValue = "密码正确."
				$('#fix_pd').attr('disabled',false);
			}else if(passwd.validity.valueMissing){
				passwdTip.className = "col-xs-4 col-sm-4 col-md-4 col-lg-4 show control-error";
				passwdTip.firstChild.nodeValue = "密码不能为空."
				$('#fix_pd').attr('disabled',true);
			}else if(passwd.validity.patternMismatch){
				passwdTip.className = "col-xs-4 col-sm-4 col-md-4 col-lg-4 show control-error";
				passwdTip.firstChild.nodeValue = "密码输入有误."
				$('#fix_pd').attr('disabled',true);
			}
		})
		
		//验证密码
		var passwd_ag = document.getElementById("passwd_ag");
		var passwd_confirmationTip = document.getElementById("passwd_confirmationTip");
		$('body').delegate("#passwd_ag","focus",function(){
			passwd_confirmationTip.className = "col-xs-4 col-sm-4 col-md-4 col-lg-4 show control-default";
			passwd_confirmationTip.firstChild.nodeValue = "请输入2至16位的数字."
		})
		$('body').delegate("#passwd_ag","blur",function(){
			if(passwd_ag.validity.valid){
				if(passwd.value!=null&&passwd.value==passwd_ag.value) {
	                passwd_confirmationTip.innerHTML = "两次密码相同可以使用";
					passwd_confirmationTip.className="col-xs-4 col-sm-4 col-md-4 col-lg-4 show control-success";
					$('#fix_pd').attr('disabled',false);
				}else{
	                passwd_confirmationTip.innerHTML="两次密码不相同";
	                passwd_confirmationTip.className="col-xs-4 col-sm-4 col-md-4 col-lg-4 show control-error";
	                $('#fix_pd').attr('disabled',true);
				}
			}else if(passwd_ag.validity.valueMissing){
				passwd_confirmationTip.className = "col-xs-4 col-sm-4 col-md-4 col-lg-4 show control-error";
				passwd_confirmationTip.firstChild.nodeValue = "密码不能为空."
				$('#fix_pd').attr('disabled',true);
			}else if(passwd_ag.validity.patternMismatch){
				passwd_confirmationTip.className = "col-xs-4 col-sm-4 col-md-4 col-lg-4 show control-error";
				passwd_confirmationTip.firstChild.nodeValue = "密码输入有误."
				$('#fix_pd').attr('disabled',true);
			}
		})
    }
	
	
	<!--$('body',window.parent.document).css('overflow','hidden')-->
	
	
	
})
