﻿$(function(){
	
	
	    //点蒙层自定义模态框消失

    $('body').delegate('#public_bg', 'click', function() {
        $('#public_bg').hide()
        $('embed').show()
    })
    $('body').delegate('.public-main', 'click', function(event) {
        event.stopPropagation();
    })
    $('body').delegate('#sureCannel', 'click', function() {
        $('#sureCannel').hide()
    })
    $('body').delegate('.sureCannel-main', 'click', function(event) {
        event.stopPropagation();
    })
    $('body').delegate('#revise_bg', 'click', function() {
        $('#revise_bg').hide()
    })
    $('body').delegate('.revise-main', 'click', function(event) {
        event.stopPropagation();
    })

	
	
	
	//  公共JS
		var img_path_position="<%= image_path('position.png') %>"
		$('.public_title img').attr('src',img_path_position)	
	//	站点
		$(document).delegate('.public_search .control_station','blur',function(){
			var control_stationName=$('.public_search .control_station').val();
			if(control_stationName==""){
				$('.control_stationID').val("");
			}else{
				$('.control_stationID').val();
			}
		})
		
		$('.public_search .control_station').focus(function(){
			$('#search-station .choose-site').show();
		})
		$('body').delegate('#search-station .tab-top span','click',function(){
			var $index = ($(this).index()) / 2;
			$('#search-station .choose-site .list-station').eq($index-1).show().siblings().hide()
			$(this).css('background','#fff').siblings().css('background','')
		});
		$('body').delegate('#search-station .tab-top .station-all','click',function(){
			$('#search-station .choose-site .list-station').show();
		})
		$('body').delegate('#search-station .tab-top .station-all input','click',function(){
			$('.station_content').find('.list-station input').prop('checked',this.checked)
		});
	
		$('body').delegate('#search-station .choose-site .tab-station .list-city span input','click',function(){
			$(this).parents('.list-city').siblings('p').find('input').prop('checked',this.checked)
		})
		$('body').delegate('#search-station .list-city-station input[type="checkbox"]','click',function(){
		$('#search-station .list-city-station input[type="checkbox"]').attr('disabled', true);
		var s=$('#search-station .list-city-station input[type="checkbox"]:checked');
		if (s.length >= 10) {
                $(this).attr('disabled', false);
                $('#search-station .station-btn .btn-sure').attr('disabled',true);
                alert("只能选择10个站点")
            } else {
                $('#search-station .list-city-station input[type="checkbox"]').attr('disabled', false);
               
            }
		})
		
		$('body').delegate('#search-station .station-btn .btn-sure','click',function(){
			
			$('#search-station .choose-site').hide()
			if($('#search-station .choose-site .list-station .list-city-station input[type="checkbox"]:checked')){
				var text=[];
				var textid=[];
				$('#search-station .list-city-station input[type="checkbox"]:checked').siblings('a').each(function(){
					text.push(this.innerHTML)
				})
				$('#search-station .list-city-station input[type="checkbox"]:checked').siblings('small').each(function(){
					textid.push(this.innerHTML)
				})
				var allText = text.join(',')
				var textid=textid.join(',');
				$('.control_station').val(allText)
				$('.control_stationID').val(textid)
			}else{
				$('.controll_station').val('')
				$('.controll_stationID').val('')
			}
			
			$('.choose-site').find('.tab-station input').prop('checked',false)
			
			
		})
		$('#search-station .choose-site .tab-station').each(function(i){
			$('#search-station .choose-site .tab-station').eq(i).find('p span').click(function(){
				var check;
				$('#search-station .choose-site .tab-station').eq(i).find('.list-city-station input').each(function(){
					
					if($(this).prop('checked')==false){
						check='false';
						return false
					}else{
						check='true'
					}
				})
				if(check=='true'){
					$('#search-station .choose-site .tab-station').eq(i).find('.list-city input').prop('checked',true)
					
				}else{
					$('#search-station .choose-site .tab-station').eq(i).find('.list-city input').prop('checked',false)
					
				}
			})
		})
		$('body').delegate('#search-station .station-btn .btn-cancel','click',function(){
			$('.choose-site').find('.tab-station input').prop('checked',false)
			
			$('#search-station .choose-site').hide()
			
		})
		
	//运维单位
		
	$(document).delegate('.public_search .unit_yw','blur',function(){
		var control_unitName=$('.public_search .unit_yw').val();
		if(control_unitName==""){
			$('.unit_ywID').val("");
		}else{
			$('.unit_ywID').val();
		}
	})	
	
	$('.public_search .unit_yw').focus(function(){
		$('#search-unit .choose-site').show();
	})	
	
	$('body').delegate('#search-unit .station-btn .btn-cancel','click',function(){
			$('.choose-site').find('.tab-station input').prop('checked',false)
			
			$('#search-unit .choose-site').hide()
			
		})	
		
		
	$('body').delegate('#search-unit .station-btn .btn-sure','click',function(){
			
			$('#search-unit .choose-site').hide()
			if($('#search-unit .choose-site .unit_parent  input[type="checkbox"]:checked')){
				var text=[];
				var textid=[];
				$('#search-unit .unit_parent input[type="checkbox"]:checked').siblings('span').each(function(){
					text.push(this.innerHTML)
				})
				$('#search-unit .unit_parent input[type="checkbox"]:checked').siblings('small').each(function(){
					textid.push(this.innerHTML)
				})
				var allText = text.join(',')
				var textid=textid.join(',');
				$('.unit_yw').val(allText)
				$('.unit_ywID').val(textid)
			}else{
				$('.unit_yw').val('')
				$('.unit_ywID').val('')
			}
		})
		
		$('body').delegate('.unit_parent .top_region','click',function(){
			$(this).siblings('.unit_chil').toggle()
		})
		$('body').delegate('.tab-top .top_region','click',function(){
			$(this).siblings('.unit_parent').toggle()
		})
		
		
		
		
		$(document).delegate('.unit_yws','blur',function(){
			var control_unitName=$('.unit_yws').val();
			if(control_unitName==""){
				$('.unit_ywIDs').val("");
			}else{
				$('.unit_ywIDs').val();
			}
	    })	
	
	$('.unit_yws').focus(function(){
		$('#search-units .choose-sites').show();
	})	
	
	$('body').delegate('#search-units .station-btn .btn-cancel','click',function(){
			$('.choose-sites').find('.tab-station input').prop('checked',false)
			
			$('#search-units .choose-sites').hide()
			
		})	
		
		
	$('body').delegate('#search-units .station-btn .btn-sure','click',function(){
			
			$('#search-units .choose-sites').hide()
			var list = $('input:radio[name="name"]:checked').val();
			var listName = $('#search-units  input:radio[name="name"]:checked').siblings('span').text()
			console.log(listName)
            console.log(list)	
            var listId = $('#search-units input:radio[name="name"]:checked').siblings('small').text()
            console.log(listId)	
            $('.unit_yws').val(listName)
			$('.unit_ywIDs').val(listId)	
			
		})
		
		$('body').delegate('.unit_parent .top_region','click',function(){
			$(this).siblings('.unit_chil').toggle()
		})
		$('body').delegate('.tab-top .top_region','click',function(){
			$(this).siblings('.unit_parent').toggle()
		})
		
		
		
		
		
	// 日期==年月日
	var time = new Date();
	var year = time.getFullYear();
	var month = time.getMonth()+1;
	$('.dateTimepicker').datetimepicker({
		format:"Y-m-d",
		minDate:'2017-01-01',
		maxDate: year+'-12-31',
		todayButton:true,
		timepicker:false
	});
    
   
	$('.dateTimepickerH').datetimepicker({
		format:"Y-m-d h:i",
		timepicker:true,
		todayButton:true,     //选择今天按钮	
	    step:5
	});
	 //   日期  年月日时
	$('.datetime_Hour').datetimepicker({

		datepicker:false,
		format:'H:i',
		step:5
	});

	 //      小时
	$('.datetimepickerHour').datetimepicker({
		datepicker:false,
		format:'H:i'
		
	});



//单选站点
  
	$('#addControl_station ').focus(function(){
			$('#search-station2 .choose-site').show();
	})
    $('body').delegate('#search-station2 .tab-top span','click',function(){
		var $index = ($(this).index()) / 2;
		$('#search-station2 .choose-site .list-station').eq($index-1).show().siblings().hide()
		$(this).css('background','#fff').siblings().css('background','')
	});
	$('body').delegate('#search-station2 .tab-top .station-all','click',function(){
		$('#search-station2 .choose-site .list-station').show();
	})
	$('body').delegate('#search-station2 .tab-top .station-all input','click',function(){
		$('.station_content').find('.list-station input').prop('checked',this.checked)
	});

	$('body').delegate('#search-station2 .choose-site .tab-station .list-city span input','click',function(){
		$(this).parents('.list-city').siblings('p').find('input').prop('checked',this.checked)
	})
	$('body').delegate('#search-station2 .station-btn .btn-sure','click',function(){
		
		$('#search-station2 .choose-site').hide()
		if($('#search-station2 .choose-site .list-station .list-city-station input[type="radio"]:checked')){
			var text=[];
			var textid=[];
			$('#search-station2 .list-city-station input[type="radio"]:checked').siblings('a').each(function(){
				text.push(this.innerHTML)
			})
			$('#search-station2 .list-city-station input[type="radio"]:checked').siblings('small').each(function(){
				textid.push(this.innerHTML)
			})
			var allText = text.join('')
			var textid=textid.join('');
			$('.addControl_station').val(allText)
			$('.addControl_stationID').val(textid)
		}else{
			$('.addControll_station').val('')
			$('.addControll_stationID').val('')
		}
		
		$('.choose-site').find('.tab-station input').prop('checked',false)
		
	})
	$('body').delegate('#search-station2 .station-btn .btn-cancel','click',function(){
		$('.choose-site').find('.tab-station input').prop('checked',false)
		$('#search-station2 .choose-site').hide()
		
	})
	
	
	
		/*去掉浏览器导航条*/
	$(document).ready(function(){
<!--		console.log("屏幕可用工作区高度："+window.screen.availHeight);-->
		$('.container').css({'overflow-x':'hidden','overflow-y':'hidden'});
		<!--document.documentElement.style.overflowY = 'hidden';-->
		var windowHeight = $(window).height();
		var heightScroll = windowHeight;
		$('.container > .left').css({'max-height':heightScroll,'overflow-y':'auto','overflow-x':'hidden'});
		$(window).resize(function(){
			$('.container > .left').css({'max-height':heightScroll,'overflow-y':'auto'});
		})

	})

	
<!--商丘运维站点-->	
$('body').delegate('#sq_station .tab-top span','click',function(){
<!--	console.log($(this).index())-->
	var $index =$(this).index();
	$('#sq_station .station_contents .list-station').eq($index-1).show().siblings().hide()
	$(this).css('background','#fff').siblings().css('background','')
});
	$('body').delegate('#sq_station .tab-top .station-all','click',function(){
		$('#sq_station .station_contents .list-station').show();
	})
	$('body').delegate('#sq_station .tab-top .station-all input','click',function(){
		$('.station_content').find('.list-station input').prop('checked',this.checked)
	});
	$('body').delegate('#sq_station .tab-station .list-city span input','click',function(){
		$(this).parents('.list-city').siblings('p').find('input').prop('checked',this.checked)
	})
	$('body').delegate('#sq_station .modal-footer .btn-sure','click',function(){
		
		$('#sq_station').modal('hide')
		if($('#sq_station .station_contents .list-station .list-city-station input[type="checkbox"]:checked')){
			var text=[];
			var textid=[];
			$('#sq_station .list-city-station input[type="checkbox"]:checked').siblings('a').each(function(){
				
				text.push(this.innerHTML)
			})
			$('#sq_station .list-city-station input[type="checkbox"]:checked').siblings('small').each(function(){
				
				textid.push(this.innerHTML)
			})
			
			var allText = text.join(',')
			var textid=textid.join(',');
			console.log(textid)
			$('.control_stations').val(allText)
			$('.control_stationIDs').val(textid)
			
		}else{
			$('.control_stations').val('')
			$('.control_stationIDs').val('')
		}
		
		$('#sq_station .station_contents').find('.tab-station input').prop('checked',false)
		
	})

<!------------------------------------------->
    $('body').delegate('#sq_radioStation .tab-top span','click',function(){
		var $index = $(this).index();
		$('#sq_radioStation .station_contents .list-station').eq($index-1).show().siblings().hide()
		$(this).css('background','#fff').siblings().css('background','')
	});
	$('body').delegate('#sq_radioStation .tab-top .station-all','click',function(){
		$('#sq_radioStation .station_contents .list-station').show();
	})
	$('body').delegate('#sq_radioStation .tab-top .station-all input','click',function(){
		$('.station_content').find('.list-station input').prop('checked',this.checked)
	});

	$('body').delegate('#sq_radioStation .station_contents .tab-station .list-city span input','click',function(){
		$(this).parents('.list-city').siblings('p').find('input').prop('checked',this.checked)
	})
	$('body').delegate('#sq_radioStation .modal-footer .btn-sure','click',function(){
		
		$('#sq_radioStation').modal('hide')
		if($('#sq_radioStation .station_contents .list-station .list-city-station input[type="radio"]:checked')){
			var text=[];
			var textid=[];
			$('#sq_radioStation .list-city-station input[type="radio"]:checked').siblings('a').each(function(){
				text.push(this.innerHTML)
			})
			$('#sq_radioStation .list-city-station input[type="radio"]:checked').siblings('small').each(function(){
				textid.push(this.innerHTML)
			})
			var allText = text.join('')
			var textid=textid.join('');
			$('.addControl_station').val(allText)
			$('.addControl_stationID').val(textid)
		}else{
			$('.addControll_station').val('')
			$('.addControll_stationID').val('')
		}
		
		$('#sq_radioStation .station_contents').find('.tab-station input').prop('checked',false)
		
	})	
	
	<!--拓洋车间选择-->
	$('body').delegate('#ty_workshop .tab-top span','click',function(){

	var $index =$(this).index();
	$('#ty_workshop .ty_workshopContent .list-station').eq($index-1).show().siblings().hide()
	$(this).css('background','#fff').siblings().css('background','')
});
	$('body').delegate('#ty_workshop .tab-top .station-all','click',function(){
		$('#ty_workshop .ty_workshopContent .list-station').show();
	})
	$('body').delegate('#ty_workshop .tab-top .station-all input','click',function(){
		$('.station_content').find('.list-station input').prop('checked',this.checked)
	});
	$('body').delegate('#ty_workshop .tab-station .list-city span input','click',function(){
		$(this).parents('.list-city').siblings('p').find('input').prop('checked',this.checked)
	})
	$('body').delegate('#ty_workshop .modal-footer .btn-sure','click',function(){
		
		$('#ty_workshop').modal('hide')
		if($('#ty_workshop .ty_workshopContent .list-station .list-city-station input[type="checkbox"]:checked')){
			var text=[];
			var textid=[];
			$('#ty_workshop .list-city-station input[type="checkbox"]:checked').siblings('a').each(function(){
				
				text.push(this.innerHTML)
			})
			$('#ty_workshop .list-city-station input[type="checkbox"]:checked').siblings('small').each(function(){
				
				textid.push(this.innerHTML)
			})
			
			var allText = text.join(',')
			var textid=textid.join(',');
			console.log(textid)
			$('.workshopName').val(allText)
			$('.workshopID').val(textid)
			
		}else{
			$('.workshopName').val('')
			$('.workshopID').val('')
		}
		
		$('#ty_workshop .ty_workshopContent').find('.tab-station input').prop('checked',false)
		
	})
//日期时间插件
	
	//	日
	$('.day-start').datetimepicker({  
        format: 'yyyy-mm-dd',  
	       weekStart: 1,  
	       autoclose: true,  
	       startView: 2,  
	       minView: 2,  
	       forceParse: true,  
	       language: 'zh-CN' ,
	       setEndDate:$('.day-end').val(),
    }).on('change',function(ev){
		    var startDate = $('.day-start').val();
		    $(".day-end").datetimepicker('setStartDate',startDate);
		    $(".day-start").datetimepicker('hide');
    });
	$('.day-end').datetimepicker({  
        format: 'yyyy-mm-dd',  
	       weekStart: 1,  
	       autoclose: true,  
	       startView: 2,  
	       minView: 2,  
	       forceParse: true,  
	       language: 'zh-CN',
	       setStartDate:$(".day-start").val(),
    }).on('change',function(ev){
		    var endDate = $('.day-end').val();
		    $(".day-start").datetimepicker('setEndDate',endDate);
		    $(".day-end").datetimepicker('hide');
    });
    //月
    $('.month-start').datetimepicker({
	   format: 'yyyy-mm',  
         weekStart: 1,  
         autoclose: true,  
         startView: 3,  
         minView: 3,  
         forceParse: false,  
         language: 'zh-CN',
         setEndDate:$('.month-end').val(),  
	}).on('change',function(ev){
	    var startDate = $('.month-start').val();
	    $(".month-end").datetimepicker('setStartDate',startDate);
	    $(".month-start").datetimepicker('hide');
	});
	$('.month-end').datetimepicker({
	   format: 'yyyy-mm',  
         weekStart: 1,  
         autoclose: true,  
         startView: 3,  
         minView: 3,  
         forceParse: false,  
         language: 'zh-CN',
         setStartDate:$(".month-start").val(),  
	}).on('change',function(ev){
	    var endDate = $('.month-end').val();
	    $(".month-start").datetimepicker('setEndDate',endDate);
	    $(".month-end").datetimepicker('hide');
	});
	//	时间控件
//	年
	$('.year-start').datetimepicker({  
        format: 'yyyy',  
         weekStart: 1,  
         autoclose: true,  
         startView: 4,  
         minView: 4,  
         forceParse: false,  
         language: 'zh-CN'  
    });
//	月
	$('.month-start').datetimepicker({  
        format: 'yyyy-mm',  
         weekStart: 1,  
         autoclose: true,  
         startView: 3,  
         minView: 3,  
         forceParse: false,  
         language: 'zh-CN'  
    });

//	小时
	$('.hour-start').datetimepicker({  
        format: 'yyyy-MM-dd hh:00',  
         weekStart: 1,  
         autoclose: true,  
         startView: 2,  
         minView: 1,  
         forceParse: false,  
         language: 'zh-CN',
         setEndDate:$('.hour-end').val(),
    }).on('change',function(ev){
		    var startDate = $('.hour-start').val();
		    $(".hour-end").datetimepicker('setStartDate',startDate);
		    $(".hour-start").datetimepicker('hide');
    });
		$('.hour-end').datetimepicker({
        format: 'yyyy-MM-dd hh:00',  
         weekStart: 1,  
         autoclose: true,  
         startView: 2,  
         minView: 1,  
         forceParse: false,  
         language: 'zh-CN',
         setStartDate:$(".hour-start").val(),
    }).on('change',function(ev){
		    var endDate = $('.hour-end').val();
		    $(".hour-start").datetimepicker('setEndDate',endDate);
		    $(".hour-end").datetimepicker('hide');
    });
	
	
//	分钟
	  $(".min-start").datetimepicker({
         format: 'yyyy-mm-dd hh:ii',  
         weekStart: 1,  
         autoclose: true,  
         startView: 2,
         minView: 0,  
         forceParse: false,  
         language: 'zh-CN' ,
         setEndDate:$('.min-end').val(),
    }).on('change',function(ev){
		    var startDate = $('.min-start').val();
		    $(".min-end").datetimepicker('setStartDate',startDate);
		    $(".min-start").datetimepicker('hide');
    });
		$(".min-end").datetimepicker({
         format: 'yyyy-mm-dd hh:ii',  
         weekStart: 1,  
         autoclose: true,  
         startView: 2,
         minView: 0,  
         forceParse: false,  
         language: 'zh-CN' ,
         setStartDate:$(".min-start").val(),
    }).on('change',function(ev){
		    var endDate = $(".min-end").val();
		    $(".min-start").datetimepicker('setEndDate',endDate);
		    $(".min-end").datetimepicker('hide');
    });
    
    
    //图片放大点击事件
	  $(".simg").click(function(){    
	         var _this = $(this);//将当前的simg元素作为_this传入函数    
	         imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);    
      });  

    
})


	//图片放大

 function imgShow(outerdiv, innerdiv, bigimg, _this){    
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性    
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性    
        
            /*获取当前点击图片的真实大小，并显示弹出层及大图*/    
        $("<img/>").attr("src", src).load(function(){    
            var windowW = $(window).width();//获取当前窗口宽度    
            var windowH = $(window).height();//获取当前窗口高度    
            var realWidth = this.width;//获取图片真实宽度    
            var realHeight = this.height;//获取图片真实高度    
            var imgWidth, imgHeight;    
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放    
            
               
            if(realHeight>windowH*scale) {//判断图片高度    
                imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放    
                imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度    
             
                if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度    
                    imgWidth = windowW*scale;//再对宽度进行缩放    
                }    
            } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度    
                imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放    
                            imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度    
            } else {//如果图片真实高度和宽度都符合要求，高宽不变    
                imgWidth = realWidth;    
                imgHeight = realHeight;    
            }    
                    $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放    
                
//          var w = (windowW-imgWidth)/2;//计算图片与窗口左边距    
//          var h = (windowH-imgHeight)/2;//计算图片与窗口上边距    
            $(innerdiv).css({"top":"50px", "left":"50px"});//设置#innerdiv的top和left属性    
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg    
        });    
            
        $(outerdiv).click(function(){//再次点击淡出消失弹出层    
            $(this).fadeOut("fast");    
        });    
    }  


//增加表格行
function fuAdd(obj) {
            var htmlText = "<tr>" + $("#supplyDemo tr").html() + "</tr>";
            //$(obj).parent().parent().parent().append(htmlText);
            $(obj).parent().parent().parent().find("tr:last").before(htmlText);
            
            var ids;
            $('#supplyDemo .supcon').each(function(i){
            	console.log(i)
            	 ids="supplyPrvid"+i
 
				$(this).children('input').attr("name",ids)
            	$(this).children('div').attr('id',ids)
            })
			    
        }
        //删除表格的行
        function fuMin(obj) {
            if ($(obj).parent().parent().parent().children().length == 2) {
            	alert("最后一行不能删除！")
            	
//              summerFresh.showError("最后一行不能删除！");
                return;
            }else{
             $(obj).parent().parent().remove();	
            }
           
		}
	//上传图片
function previewImage2(file, supplyPrvid) { 
	


	/* file：file控件 
	* prvid: 图片预览容器 
	*/ 
	var tip = "Expect jpg or png or gif!"; // 设定提示信息 
	var filters = { 
	"jpeg" : "/9j/4", 
	"gif" : "R0lGOD", 
	"png" : "iVBORw" 
	} 
	var prvbox = document.getElementById(supplyPrvid); 

	prvbox.innerHTML = ""; 
	if (window.FileReader) { // html5方案 
		for (var i=0, f; f = file.files[i]; i++) { 
			var fr = new FileReader(); 
			fr.onload = function(e) { 
				var src = e.target.result; 
				if (!validateImg(src)) { 
					alert(tip) 
				} else { 
					showPrvImg(src); 
				} 
			} 
			fr.readAsDataURL(f); 
		} 
	} else { // 降级处理
	
		if ( !/\.jpg$|\.png$|\.gif$/i.test(file.value) ) { 
			alert(tip); 
		} else { 
			showPrvImg(file.value); 
		} 
	} 
	
		function validateImg(data) { 
			
			var pos = data.indexOf(",") + 1; 
			for (var e in filters) { 
				if (data.indexOf(filters[e]) === pos) { 
					return e; 
				} 
			} 
			return null; 
		} 
	
		function showPrvImg(src) { 
			
			var img = document.createElement("img"); 
			img.src = src; 
			prvbox.appendChild(img); 
		
		} 
}




	
	


//新增
function add(label,url,callback,Init){
    $('#myModal').modal({
        keyboard: true
    });
    $("#myModalLabel").text(label);
    $.ajax({
        type:"get",
        url:"/"+url+"/new",
        async:true,
        success:function(data){
//    console.log(data)
            $(".modal-body").html(data);

            var modalfoot_str='';
            modalfoot_str += '<button type="button" class="btn" onclick="add_action('+"'"+url+"'"+','+Init+')"> 确定  </button> ';
            $(".modal-footer").html(modalfoot_str);
            $('.modal-dialog').css('width','800px');
            typeof callback==='function'&&callback();
        },
        error:function(err){
            console.log(err)
        }
    });
}

//导出表格
    var idTmr;

        function getExplorer() {
            var explorer = window.navigator.userAgent;
            //ie  
            if(explorer.indexOf("MSIE") >= 0) {
                return 'ie';
            }
            //firefox  
            else if(explorer.indexOf("Firefox") >= 0) {
                return 'Firefox';
            }
            //Chrome  
            else if(explorer.indexOf("Chrome") >= 0) {
                return 'Chrome';
            }
            //Opera  
            else if(explorer.indexOf("Opera") >= 0) {
                return 'Opera';
            }
            //Safari  
            else if(explorer.indexOf("Safari") >= 0) {
                return 'Safari';
            }
        }

        function method5(tableid,name) {
            if(getExplorer() == 'ie') {
                var curTbl = document.getElementById(tableid);
                var oXL = new ActiveXObject("Excel.Application");
                var oWB = oXL.Workbooks.Add();
                var xlsheet = oWB.Worksheets(1);
                var sel = document.body.createTextRange();
                sel.moveToElementText(curTbl);
                sel.select();
                sel.execCommand("Copy");
                xlsheet.Paste();
                oXL.Visible = true;
				console.log(oXL)
                try {
                    var fname = oXL.Application.GetSaveAsFilename("Excel.xls",
                        "Excel Spreadsheets (*.xls), *.xls");
                        console.log(fname)
                } catch(e) {
                    print("Nested catch caught " + e);
                } finally {
                    oWB.SaveAs(fname);
                    oWB.Close(savechanges = false);
                    oXL.Quit();
                    oXL = null;
                    idTmr = window.setInterval("Cleanup();", 1);
                }

            } else {
                tableToExcel(tableid,name)
            }
        }

        function Cleanup() {
            window.clearInterval(idTmr);
            CollectGarbage();
        }
                var tableToExcel = (function() {
            var uri = 'data:text/xls;charset=utf-8,\ufeff,',
   			 template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table border="1">{table}</table></body></html>',
                
                base64 = function(
                    s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                },
                format = function(s, c) {
                    return s.replace(/{(\w+)}/g, function(m, p) {
                        return c[p];
                    })
                }
            return function(table, name) {
            	console.log(name)
                if(!table.nodeType)
                    table = document.getElementById(table)
                var ctx = {
                    worksheet: name || 'Worksheet',
                    table: table.innerHTML
                }
//              window.location.href = uri + base64(format(template, ctx))
				 var downloadLink = document.createElement("a");
        downloadLink.href = uri + format(template, ctx);
        downloadLink.download = name + ".xls";
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
            }
        })()
        //导出表格结束
        
//自定义蒙层消失
function public_cannel() {
$("#sureCannel").hide();
 $('#success').hide();
$('#success .success-box').css("width", "260px")
$('#success .success-main').css("width", "220px")
}
function resetPswd_cannel(){
	$('#sureCannel').hide();

}


