<!--添加类别-->
<script id="fileCategory" type="text/html">
	<div class="addCategory">
		<h4>增加类别<span class="pull-right close">X</span></h4>
		<form class="category-form">
			<div class="form-group category-name">
		        <label class="col-sm-2 control-label">类别名称：</label>
		        <div class="col-sm-5 ">
		            <input type="text" name="category-name" class="form-control" />
		        </div>
		    </div>
		    <div class="form-group parent-name">
		        <label class="col-sm-2 control-label">上级目录：</label>
		        <div class="col-sm-5 ">
		            <!--<input type="text" name="parent-name" class="form-control"/>-->
		            <%= select_tag 'parent-name', options_for_select(nested_set_options(FileCategory.roots) {|i| "#{'-' * i.level} #{i.category_name}" } ),:class => "form-control" %>
		        </div>
		    </div>
		    <div class="clear"></div>
			<div class="area_btn">
				<button type="button" class="btn btn-sure">确定</button>
				<button type="button" class="btn btn-cancel">取消</button>
			</div>
	   </form>
	</div>
</script>
<!--//添加文章-->
<!--<script id="fileArticle" type="text/html">
	<div class="addArticle">
		<h4>增加文章<span class="pull-right close">X</span></h4>
		<form class="category-form">
			<div class="form-group category-title">
		        <label class="col-sm-2 control-label">标题：</label>
		        <div class="col-sm-5 ">
		            <input type="text" name="category-title" class="form-control"/>
		        </div>
		    </div>
		    <div class="form-group parent-content">
		        <label class="col-sm-2 control-label">内容：</label>
		        <div class="col-sm-5 ">
		        	<textarea class="form-control" name="parent-content" id="parentContent"></textarea>
		          <!--<%#  kindeditor_tag 'parentContent', 'default content value', :simple_mode => true,:class =>"form-control" %>-->
		        <!--</div>
		    </div>
		    <div class="form-group classify">
		        <label class="col-sm-2 control-label">分类：</label>
		        <div class="col-sm-5 ">-->
		           <!--<input type="text" name="classify" class="form-control"/> -->
		            <!--<%# select_tag 'classify', options_for_select(nested_set_options(FileCategory) {|i| "#{'-' * i.level} #{i.category_name}" } ),:class => "form-control" %>
		        </div>
		    </div>
		    <div class="clear"></div>
			<div class="area_btn">
				<button type="button" class="btn btn-sure">确定</button>
				<button type="button" class="btn btn-cancel">取消</button>
			</div>
	   </form>
	</div>
</script>-->