<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
        <h4 class="modal-title" id="editModalLabel">
        </h4>
      </div>
      <div class="modal-body">
        <%= form_tag "/file_maintenances/edit_new", :remote => true, :class => 'form-horizontal' do |f| %>
            <input type="hidden" name="id"  id="edit_form_id" >
            <div class="form-group">
              <label for="firstname" class="col-sm-2 control-label">标题</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="edit_title" name="file_maintenance[title]"
                        >
              </div>
            </div>
            <div class="form-group">
              <label for="firstname" class="col-sm-2 control-label">分类</label>
              <div class="col-sm-6">
                <%= select_tag 'file_maintenance[file_category_id]', options_for_select(nested_set_options(FileCategory) {|i| "#{' ~' * i.level} #{i.category_name}"}), :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label for="firstname" class="col-sm-2 control-label">内容</label>
               <div class="col-sm-8" id="edit_content">
                 <%= kindeditor_tag "file_maintenance[content]","", :editor_id => 'my_editor_2', :simple_mode => true, :width => "100%", :height => 300, :class => 'col-sm-6 firstname' %>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary" onclick='window.location.reload()'> 提交更改</button>
      </div>
        <% end %>
    </div>
  </div>
</div>

<style>
  .modal-backdrop {
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
  }
</style>
