<script id="fileTable" type="text/html">
	{{each files as Filesd index}}
		<tr>
			<td>{{Filesd.file_category_name}}</td>
			<td>{{Filesd.title}}</td>
			<td>{{Filesd.author}}</td>
			<td>{{Filesd.created_at}}</td>
			<td>
				<a class="fileEdit" onclick=editmodel({{Filesd.id}}) >编辑
					<span class="hide">{{Filesd.id}}</span>
				</a>
				<a class="fileLook">查看
				<span class="hide">{{Filesd.id}}</span>
				</a>
			</td>
		</tr>
	{{/each}}
</script>