<div style="width: 90%; height: 300px; margin: 0px auto">
  <div class="hero-unit">
    <div style="width: 30%;margin: 0px auto"><h1><%= @file.title %></h1></div>
    <div style="width: 80%;  margin: 0px auto">
      <p>
        作者: <%= @file.author %>
        时间: <%= @file.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </p>
      <hr>
      <!--<p> <%# sanitize(@file.content) %></p>-->
      <p> <%= (@file.content).html_safe %></p>
      <br>
      <hr>
    </div>

  </div>

  <div style="width: 30%;  margin: 0px auto;">
  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
  </div>
</div>
<!--<script id="fileLook" type="text/html">-->
<!--<div class="files-look">-->
<!--<div class="public_area">-->
<!--<h4><span class="pull-right close">X</span></h4>-->
<!--</div>-->
<!--<div class="file-content">-->
<!--<div class="file-title public_area">-->
<!--<h4>{{editData.location.title}}</h4>-->
<!--<h4>{{editData.location.created_at}}</h4>-->
<!--<h4>{{editData.location.author}}</h4>-->
<!--</div>-->
<!--<div  class="contents-look">-->
<!--{{editData.location.content}}-->
<!--</div>-->
<!--</div>-->
<!--<div class="area_btn">-->
<!--<button type="button" class="btn btn-cancel">关闭</button>-->
<!--</div>-->
<!--</div>-->
<!---->
<!--</script>-->
