<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
        </h4>
      </div>
      <div class="modal-body">
        <%= form_for @files, :method => :post, :remote => true, :class => 'form-horizontal' do |f| %>

            <div class="form-group">
              <label for="firstname" class="col-sm-2 control-label">标题</label>
              <div class="col-sm-6">
                <input type="text" class="col-sm-6 form-control" id="file_title" name="file_maintenance[title]"
                       placeholder="请输入标题">
              </div>
            </div>

            <div class="form-group">
              <label for="firstname" class="col-sm-2 control-label">分类</label>
              <div class="col-sm-6">
                <%= select_tag 'file_maintenance[file_category_id]', options_for_select(nested_set_options(FileCategory) {|i| "#{' ~' * i.level} #{i.category_name}"}), :class => "col-sm-6 form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label for="firstname" class="col-sm-2 control-label">内容</label>
              <div class="col-sm-6" id="edit_content">
                  <%= kindeditor_tag :content,"",:id => 'kind_edit',:editor_id => 'my_content',  :simple_mode => true, :width => "100%", :height => 300, :class => 'col-sm-6 firstname' %>
              </div>
            </div>
      </div>
      <div class="modal-footer" style="margin-top: 50%">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
        <button type="submit" class="btn btn-primary" onclick='window.location.reload()'>
          提交更改
        </button>
      </div>
      <% end %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>