<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
        <h4 class="modal-title" id="show_title_id">
        </h4>
      </div>
      <div class="modal-body" id="show_modal_boday">

      </div>
    </div>
  </div>
</div>
<style>
  .modal-backdrop {
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
  }
</style>