<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="file_maintenances" class="container">
	<div class="public_title">
		<img src=""/>
		<span>您的当前位置:档案维护</span>
	</div>
	<div class="public_search">
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<button class="btn btn-success btn_unusual add_cate">
				<span class="glyphicon glyphicon-plus"></span>
				添加类别
		</button>
		<button class="btn btn-success btn_unusual add_article" onclick="add_file()">
				<span class="glyphicon glyphicon-plus"></span>
				添加文章
		</button>
	</div>
	<div class="public_table">
		<table class="table table-bordered table-hover">
			<thead>
	       	<tr>
	       		<th>文章类别</th>
	       		<th>文章名称</th>
	       		<th>作者</th>
	       		<th>时间</th>
	       		<th>操作</th>
	       	</tr>
	       </thead>
	       <tbody class="exception-list">
	       	
	       </tbody>
		</table>
	</div>
	<!-- 模态框（Modal） -->
	<div class="public_box">
		<div class="public_area">
			
			<div class="area_content">
				<div class="category"></div>
				<div class="article"></div>
			</div>
			
		</div>
	</div>
  <%= render 'category' %>
	<%= render 'fileTable' %>
	
	<%= render 'edit' %>
	
	<div class="file-look">
		<%# render 'fileLook' %>
	</div>
	<!--分页-->
	<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
	<div class="page_total left">
		<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
	</div>
	<div class="clear"></div>
</div>

<!-- 模态框（Modal）2 -->

<%= render "show" %>

<%= render 'model' %>
