<%= form_for(@file) do |f| %>

<%=  kindeditor_tag 'file_maintenance[content]', 'default content value', :simple_mode => true %>
    <%= f.submit %>
<% end %>


<%= select_tag 'file_maintenance[file_category_id]',
   options_for_select(nested_set_options(FileCategory.order(:id_sort_num => :desc)) {|i| "#{'-' * i.level} #{i.category_name}" } ),:class => "ssdf" %>