<div id="dTask">
  <div  class="dTaskMain">
    <div class="navTop">
      <span class="lines"></span>
      <span class="tableName">维修查看</span>
      <button class="btn new_add_btn"  id="editBack">返回</button>
    </div>
    <div class="dTaskTop panel">
      <ul>
        <li>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>待下发</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>待执行</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>待维修</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>待试车</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>待审核</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <p>已完成</p>
        </li>
      </ul>
    </div>
    <div class="dTaskMainNews panel">
      <div class="workNews">
        <span>维修设备信息</span>
      </div>
      <div class="workList MaintenanceIfo">
        <script id="workNews2" type="text/html">
          <div class="listNews">
            <span>
              <span>执行人：{{handle_equip.handle_name}}</span>
              <span>维修状态：{{handle_equip.status}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>维修车间：{{handle_equip.region_name}}</span>
              <span>维修设备：{{handle_equip.equip_name}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>计划开始时间：{{handle_equip.handle_start_time}}</span>
              <span>计划完成时间：{{handle_equip.handle_end_time}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>维修原因：{{handle_equip.snag_desc}}</span>
              <span>维修说明：{{handle_equip.desc}}</span>
            </span>
          </div>
        </script>
      </div>
    </div>
    <div id="MaintenanceToBePerformed" class="panel">
      <div class="checkNews">
        <div  class="workNews">
          <span>维修待执行：</span>
        </div>
        <div class="list">
          <div class="seeTypesBegin" style="margin-left: 25px">
            <div style="width:20%;display: inline-block;">执行状态：</div>
            <div style="width:20%;display: inline-block;">
              <div id="prvid5" style="display: inline-block">
                <img style="width: 100%;" src="" alt="" class="simg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="lookXun" class="panel">
      <div class="checkNews">
        <div  class="workNews">
          <span>创建检修前记录：</span>
        </div>
        <div class="list">
          <div class="seeTypesBegin" style="margin-left: 25px">
            <div class="linelist">
              <span style="width:20%;display: inline-block;">检修前类型：</span>
              <span>检修前</span>
            </div>
            <div class="linelist">
              <span>检修前的记录：</span>
              <span><textarea name="" id="RecordBeforeMaintenance" style="width:100%;height:40px;" disabled class="form-control" ></textarea></span>
            </div>
            <div class="linelist">
              <span>检修前附图：</span>
              <span>
                  <div id="prvid3">
                    <img src="" alt="" class="simg">
                  </div>
              </span>
            </div>
            <div class="linelist">
              <span>检修前备注：</span>
              <span><textarea name="" id="PreServiceRemarks" style="width:100%;height:40px;" disabled class="form-control"></textarea></span>
            </div>
            <div class="linelist">
              <span>检修前备注时间：</span>
              <span>
                <input type="" id="PreTime" class="create_datetime form-control datetime" style="width:100%;display:inline-block;height:40px;" disabled/>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="RecordAfterMaintenance" class="RecordAfterMaintenance panel">
      <div class="checkNews">
        <div class="workNews">
          <span>创建检修后记录：</span>
        </div>
        <div class="list">
          <div class="seeTypesEnd" style="margin-left: 25px">
              <div class="linelist">
                <span>检修后类型：</span>
                <span>检修后</span>
              </div>
              <div class="linelist">
                <span>检修后的记录：</span>
                <span><textarea name="" id="RecordAfter" style="width:100%;height:40px;" class="form-control" disabled></textarea></span>
              </div>
              <div class="linelist">
                <span>检修后附图：</span>
                <span>
                    <div id="prvid4"><img src="" alt="" class="simg"></div>
                </span>
              </div>
              <div class="linelist">
                <span>检修后备注：</span>
                <span><textarea name="" id="PostOverhaulRemarks" style="width:100%;height:40px;" class="form-control" disabled></textarea></span>
              </div>
              <div class="linelist">
                <span>是否整理：</span>
                <span id="WhetherToArrange">
                  <input disabled type="radio" name="settle" value='Y' class="yes">是
                  <input disabled type="radio" name="settle" value='N' class="no">否
                </span>
              </div>
              <div class="linelist">
                <span>检修后记录时间：</span>
                <span><input id="AfterTime"  class="create_datetime form-control datetime" style="width:100%;display:inline-block;height:40px;" value="" disabled/></span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id="ReplacementOfSpareParts" class="ReplacementOfSpareParts panel">
      <div class="checkNews">
        <div class="workNews">
          <span>更换备件：</span>
        </div>
        <div class="list">
          <div class="seeTypes" style="margin-left: 25px">
              <div class="linelist">
                <span>选择更换的备件：</span>
                <span class="ReplacementParts">
                  <textarea name="" id="ReplacementParts" style="width:100%;height:40px;" class="form-control" disabled></textarea>
                </span>
              </div>

              <div class="linelist">
                <span>检修后记录时间：</span>
                <span><input type="" id="RecordTimeAfterMaintenance" class="create_datetime form-control datetime" style="width:100%;display:inline-block;height:40px;" disabled/></span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id="TrialRunRecord" class="TrialRunRecord panel">
      <div class="checkNews">
        <div  class="workNews">
          <span>试车记录：</span>
        </div>
        <div class="list">
          <div class="seeTypes" style="margin-left: 25px">
              <div class="linelist">
                <span style="vertical-align: 50px">试车检查项：</span>
                <span class="TestItem">
                  <script type="text/html" id="TestItem2">
                    {{if boots}}
                    {{each boots as val index}}
                    <div style="display:inline-block;width:25%;text-align:left;">
                      <input disabled class="checkTI" type="checkbox" value="{{val.id}}">{{val.check_project}}
                    </div>
                    {{/each}}
                    {{/if}}
                  </script>
                </span>
              </div>
              <div class="linelist">
                <span>试车结果：</span>
                <span id="TestResults">
                  <input disabled="disabled" type="radio" name="result1" value='Y' class="hege">合格
                  <input disabled="disabled" type="radio" name="result1" value='N' class="buhege">不合格
                </span>
              </div>
              <div class="disqualificationResult">
                <span style="width:30%">不合格原因：</span>
                <span><textarea name="" id="DisqualificationResult" style="width:100%;height:40px;" class="form-control" disabled></textarea></span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">  
    <div id="innerdiv" style="position:absolute;">  
        <img id="bigimg" style="border:5px solid #fff;" src="" />  
    </div>  
</div> -->
</div>