<!--<script type="text/html" id="dTaskFormsNews">-->
<div id="dTask">
  <div  class="dTaskMain">
    <div class="navTop">
      <span class="lines"></span>
      <span class="tableName">维修编辑</span>
      <button class="btn btn-default"  id="editBack">返回</button>
      <!--<button class="btn  btn-success"  id="editDone" style="margin-right: 15px;">完成</button>-->
    </div>
    <div class="dTaskTop panel">
      <ul>
        <li>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>已下发</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>执行中</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>维修中</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>试车中</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <span class="lineRight"></span>
          <p>待审核</p>
        </li>
        <li>
          <span class="lineLeft"></span>
          <span class="circle"></span>
          <p>已完成</p>
        </li>
      </ul>
    </div>
    <div class="dTaskMainNews panel">
      <div class="workNews">
        <span>维修设备信息</span>
      </div>
      <div class="workList MaintenanceIfo">
        <script id="workNews" type="text/html">
          <div class="listNews">
            <span>
              <span>执行人：{{handle_equip.handle_name}}</span>
              <span>维修状态：{{handle_equip.status}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>维修车间：{{handle_equip.region_name}}</span>
              <span>维修设备：{{handle_equip.equip_name}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>生成时间：{{handle_equip.handle_start_time}}</span>
              <span>计划完成时间：{{handle_equip.handle_end_time}}</span>
            </span>
          </div>
          <div class="listNews">
            <span>
              <span>维修原因：{{handle_equip.snag_desc}}</span>
              <span>维修说明：{{handle_equip.desc}}</span>
            </span>
          </div>
        </script>
      </div>
    </div>
    <div id="MaintenanceToBePerformed" class="panel">
      <div class="checkNews">
        <div  class="workNews">
          <span>维修待执行：</span>
        </div>
        <div class="list">
          <div class="seeTypesBegin" style="margin-left: 25px">
            <table style="width:80%">
              <tbody>
              <tr>
                <td style="width:20%">执行状态：</td>
                <td colspan="3" style="width:30%">
                  <div class="look_insp">
                    <input class="files" type="file" onchange="previewImage(this, 'prvid1')" multiple="multiple">
                    <div id="prvid1" style="display: inline-block">
                      <img src="" alt="" class="simg">
                    </div>
                    <div style="display: inline-block">
                      <button class="btn  btn-primary"  id="PerformedSave" style="margin-right: 15px;">提交</button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="lookXun" class="panel">
      <div class="checkNews">
        <div  class="workNews">
          <span>创建检修前记录：</span>
        </div>
        <div class="list">
          <div class="seeTypesBegin" style="margin-left: 25px">
            <!--<script id="overhaulNotesBegin" type="text/html">-->
              <table style="width:80%">
                <tbody>
                <tr>
                  <td style="width:20%">检修前类型：</td>
                  <td colspan="3" style="width:30%">检修前</td>
                </tr>
                <tr>
                  <td style="width:20%">检修前的记录：</td>
                  <td colspan="3" style="width:30%"><textarea name="" id="RecordBeforeMaintenance" style="width:100%;height:40px;" class="form-control" ></textarea></td>
                </tr>
                <tr>
                  <td style="width:20%">检修前附图：</td>
                  <td colspan="3" style="width:30%">
                    <div class="look_insp">
                      <input class="files" type="file" onchange="previewImage(this, 'prvid')" multiple="multiple">
                      <div id="prvid">
                        <img src="" alt="" class="simg">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="width:20%">检修前备注：</td>
                  <td colspan="3" style="width:30%"><textarea name="" id="PreServiceRemarks" style="width:100%;height:40px;" class="form-control"></textarea></td>
                </tr>

                <tr>
                  <td style="width:20%">检修前备注时间：</td>
                  <td colspan="3" style="width:30%">
                    <input type="" id="PreTime" class="create_datetime form-control datetime" style="width:100%;display:inline-block;height:40px;"/>
                  </td>
                </tr>

                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <div id="RecordAfterMaintenance" class="RecordAfterMaintenance panel">
      <div class="checkNews">
        <div class="workNews">
          <span>创建检修后记录：</span>
        </div>
        <div class="list">
          <div class="seeTypesEnd" style="margin-left: 25px">
            <!--<script id="overhaulNotesEnd" type="text/html">-->
              <table style="width:80%">
                <tbody>
                <tr>
                  <td style="width:20%">检修后类型：</td>
                  <td colspan="3" style="width:30%">检修后</td>
                </tr>
                <tr>
                  <td style="width:20%">检修后的记录：</td>
                  <td colspan="3" style="width:30%"><textarea name="" id="RecordAfter" style="width:100%;height:40px;" class="form-control"></textarea></td>
                </tr>
                <tr>
                  <td style="width:20%">检修后附图：</td>
                  <td colspan="3" style="width:30%">
                  <div class="look_insp">
                    <input class="files" type="file" onchange="previewImage(this, 'prvid2')" multiple="multiple">
                    <div id="prvid2"><img src="" alt=""></div>
                  </div>
                </td>
                </tr>
                <tr>
                  <td style="width:20%">检修后备注：</td>
                  <td colspan="3" style="width:30%"><textarea name="" id="PostOverhaulRemarks" style="width:100%;height:40px;" class="form-control"></textarea></td>
                </tr>

                <tr>
                  <td style="width:20%">是否整理：</td>
                  <td colspan="3" style="width:30%" id="WhetherToArrange">
                    <input type="radio" name="settle" value='Y' checked class="yes">是
                    <input type="radio" name="settle" value='N' class="no">否
                  </td>
                </tr>
                <tr>
                  <td style="width:20%">检修后记录时间：</td>
                  <td colspan="3" style="width:30%"><input id="AfterTime"  class="create_datetime form-control datetime" style="width:100%;display:inline-block;height:40px;" value=""/></td>
                </tr>
                </tbody>
              </table>
            <!-- </script> -->
          </div>
        </div>
      </div>
    </div>
    <div id="ReplacementOfSpareParts" class="ReplacementOfSpareParts panel">
      <div class="checkNews">
        <div  class="workNews">
          <span>更换备件：</span>
        </div>
        <div class="list">
          <div class="seeTypes" style="margin-left: 25px">
            <table style="width:80%">
              <tbody>
              <tr>
                <td style="width:20%">选择更换的备件：</td>
                <td colspan="3" style="width:30%" class="ReplacementParts">
                  <textarea name="" id="ReplacementParts" style="width:100%;height:40px;" class="form-control"></textarea>
                </td>
              </tr>

              <tr>
                <td style="width:20%">检修后记录时间：</td>
                <td colspan="3" style="width:30%"><input type="" id="RecordTimeAfterMaintenance" class="create_datetime form-control datetime" style="width:100%;display:inline-block;height:40px;"/></td>
              </tr>
              <tr>
                <td colspan="4" style="width:30%">
                  <div style="display: inline-block">
                    <button class="btn  btn-primary"  id="OverhaulSave" style="margin-right: 15px;">提交</button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="TrialRunRecord" class="TrialRunRecord panel">
      <div class="checkNews">
        <div  class="workNews">
          <span>试车记录：</span>
        </div>
        <div class="list">
          <div class="seeTypes" style="margin-left: 25px">
            <table style="width:80%">
              <tbody>
              <tr>
                <td style="width:20%">试车检查项：</td>
                <td colspan="3" style="width:80%" class="TestItem">
                  <script type="text/html" id="TestItem">
                    {{if boots}}
                    {{each boots as val index}}
                    <div style="display:inline-block;width:25%;text-align:left;">
                      <input class="checkTI" type="checkbox" value="{{val.id}}">{{val.check_project}}
                    </div>
                    {{/each}}
                    {{/if}}
                  </script>
                </td>
              </tr>
              <tr>
                <td style="width:20%">试车结果：</td>
                <td colspan="3" style="width:30%" id="TestResults">
                  <input type="radio" name="result" value='Y' checked class="hege">合格
                  <input type="radio" name="result" value='N' class="buhege">不合格
                </td>
              </tr>
              <tr class="hide disqualificationResult">
                <td style="width:20%">不合格原因：</td>
                <td colspan="3" style="width:30%"><textarea name="" id="DisqualificationResult" style="width:100%;height:40px;" class="form-control"></textarea></td>
              </tr>
              <!--<tr>-->
                <!--<td style="width:20%">试车完成时间：</td>-->
                <!--<td colspan="3" style="width:30%"><input type="" id="TestCompletionTime" class="create_datetime form-control datetime" style="width:100%;display:inline-block;height:40px;"/></td>-->
              <!--</tr>-->

              <tr>
                <td colspan="4" style="width:30%">
                  <div style="display: inline-block">
                    <button class="btn btn-primary"  id="BootSave" style="margin-right: 15px;">提交</button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</script>-->