<!--添加站点-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加维修计划</h4>
      </div>
      <div class="modal-body">
        <form id="add_station_form" class="form-horizontal">
            <div class="filed form-group">
              <label for="" class="col-sm-3 control-label">车间名称：</label>
              <div class="col-sm-5 ShopName">
                <select name="" id="workshop" class="form-control">
                  <option value="">请选择</option>
                  <% if @region_code.present? %>
                    <% @region_code.each do |r| %>
                      <option value="<%= r.id %>"><%= r.region_name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <label id="workshop1" class="hide match_vlide">请输入车间名称</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">设备名称:</label>
              <div class="col-sm-5">
                <select class="form-control DeviceName">
                  <option>请选择</option>
                  <script type="text/html" id="devicenameadd">
                    {{if equips}}
                    {{each equips as equip index}}
                    <option value="{{equip.id}}" value1="{{equip.equip_code}}">{{equip.equip_name}}</option>
                    {{/each}}
                    {{/if}}
                  </script>
                </select>
              </div>
              <label id="DeviceName" class="hide match_vlide">请选择设备</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">检修计划开始时间:</label>
              <div class="beginTime col-sm-5 ">
                <input type="" class="dayStart form-control"/>
              </div>
              <label id="dayStart" class="hide match_vlide">请输入计划开始时间</label>
            </div>
            <div class="filed form-group">
              <label for="" class="col-sm-3 control-label">检修计划结束时间:</label>
              <div class="endTime col-sm-5 ">
                <input type="" class="dayEnd form-control"/>
              </div>
              <label id="dayEnd" class="hide match_vlide">请输入计划结束时间</label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">检修原因:</label>
              <div class="col-sm-5">
                <textarea required="required" placeholder="请输入检修原因" class="form-control reconditionReason"></textarea>
              </div>
              <label id="reconditionReason" class="hide match_vlide">请输入检修原因 </label>
            </div>
            <div class="filed form-group">
              <label class="col-sm-3 control-label">检修描述:</label>
              <div class="col-sm-5">
                <textarea name="" id="match" required="required" placeholder="请输入检修描述" class="form-control reconditionDesc"></textarea>
              </div>
              <label id="reconditionDesc" class="hide match_vlide">请输入检修描述</label>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" id="addBtn">保存</button>
      </div>
    </div>
  </div>
</div>

