<div class="modal fade" id="issueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">机修人员</h4>
      </div>
      <div class="modal-body">
       <div id="send_per" style="overflow:hidden">
           <script id="sendPerson" type="text/html">
           {{if login}}
           {{each login as data index}}
             <div class="col-sm-4">
                 <input type="radio" name="sendPerson">
                 <span value="{{data.id}}">{{data.login_name}}</span>
             </div>
           {{/each}}
           {{/if}}
           </script>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="paiSave">保存</button>
      </div>
    </div>
  </div>
</div>

