<%  content_for :javascript do
  javascript_include_tag "#{controller_name}"
end
%>

<div id="d_task_forms" >
  <div class="navTop">
    <span class="lines"></span>
    <span class="tableName">设备检修计划</span>
  </div>
  <div class="navMain public_search">
    <input type="hidden" class="searchSta"/>
    <input type="hidden" class="startTime1" />
    <input type="hidden" class="endTime1" />
    <input type="hidden" class="searchWor"/>
    <input type="hidden" class="searchPerson"/>
    <input type="hidden" class="searchStatus"/>
    <form class="form-inline">
    	<div class="form-group">
        <label for="">检修时间:</label>
        <input type="" class="createStart create_datetime form-control"/>
        <span style="margin-left: -15px;">-</span>
        <input type="" class="createEnd end_datetime form-control"/>
      </div>
      <div class="form-group">
        <label for="">车间名称：</label>
        <select name="" id="workshop" class="form-control">
          <option value="">请选择</option>
          <% if @region_code.present? %>
            <% @region_code.each do |r| %>
              <option value="<%= r.id %>"><%= r.region_name %></option>
            <% end %>
          <% end %>
        </select>
        <input type="text"  class="control_stationIDs hide" />
      </div>
      <div class="form-group">
        <label for="">设备名称：</label>
        <select name="" id="deviceName1" class="form-control">
          <option value="">请选择</option>
          <script type="text/html" id="devicename">
            {{if equips}}
            {{each equips as equip index}}
            <option value="{{equip.id}}">{{equip.equip_name}}</option>
            {{/each}}
            {{/if}}
          </script>
        </select>
        <input type="text"  class="control_stationIDs hide" />

      </div>
      <div class="form-group">
        <label for="">维修状态：</label>
        <select name="" id="CheckTheState" class="form-control">
          <option value="">请选择</option>
          <option value="wait_issued">待下发</option>
          <option value="wait_carried">待执行</option>
          <option value="tamp_save">维修中</option>
          <option value="boot_save ">试车中</option>
          <option value="wait_review">待审核</option>
          <option value="carry_out">已完成</option>
        </select>
        <input type="text"  class="control_stationIDs hide" />

      </div>
      

      <div class="form-group">
        <button class="btn search" type="button">查询</button>
        <button  class="btn btn_area new_add_btn" id="add" type="button" data-toggle="modal" data-target="#addModal">新增</button>
      </div>
    </form>

  </div>
 
  <div id="public_table">
    <div class="public_table">
      
      <table class="table table-bordered table-hover">

      </table>
      <p style="color: red;background-color: #f8f8f8;padding: 8px 12px;">注释：红色数据为计划时间超出一半还未执行</p>
    </div>
    
  </div>
  <div class="page_list">
      <ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
      <select id="pagesize" class="right">
        <option value="10" selected="selected">每页10条</option>
        <option value="20">每页20条</option>
        <option value="30">每页30条</option>
        <option value="40">每页40条</option>
        <option value="50">每页50条</option>
      </select>
      <div class="page_total left">
        <span>共<small></small>条数据,当前显示第<a>1</a>页</span>
      </div>
    </div>
  <script id="handle_equips" type="text/html">
    <thead>

    <tr>
      <th class="hide">序号</th>
      <th>车间名称</th>
      <th>设备名称</th>
      <th>创建人</th>
      <th>检修人员</th>
      <th>检修开始日期</th>
      <th>检修结束日期</th>
      <th>检修原因</th>
      <th>状态</th>
      <th>描述</th>
      <th>操作</th>
      <th>删除</th>
    </tr>
    </thead>
    <tbody>
    {{if handle_equips.length > 0}}
    {{each handle_equips as data index}}
    <tr>
      {{if data.colour == ""}}
      <td class="hide id">{{data.id}}</td>
      <td class="hide region_id">{{data.s_region_code_id}}</td>
      <td>{{data.region_name}}</td>
      <td class="equip_name">{{data.equip_name}}</td>
      <td>{{data.founder}}</td>
      {{if data.handle_name == null}}
      <td>任务还未下发</td>
      {{else}}
      <td>{{data.handle_name}}</td>
      {{/if}}
      <td>{{data.handle_start_time}}</td>
      <td>{{data.handle_end_time}}</td>
      <td>{{data.snag_desc}}</td>
      <td>{{data.status}}</td>
      <td>{{data.desc}}</td>
      {{if data.status == "待下发"}}
      <td class="handle_width">
        <a class="watchModal">查看</a>
        <a class="issue" data-toggle="modal" data-target="#issueModal">下发</a>
        
      </td>
      <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
      {{else if data.status == "待执行"}}
      <td class="handle_width">
        <a class="watchModal">查看</a>
        <a class="editModal">编辑</a>
        
      </td>
      <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
      {{else if data.status == "待维修"}}
      <td class="handle_width">
        <a class="watchModal">查看</a>
        <a class="editModal">编辑</a>
        
      </td>
      <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
      {{else if data.status == "待试车"}}
      <td class="handle_width">
        <a class="watchModal">查看</a>
        <a class="editModal">编辑</a>
        
      </td>
      <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
      {{else if data.status == "待审核"}}
      <td class="handle_width">
        <a class="watchModal">查看</a>
        <a class="delete">删除</a>
      
      </td>
      <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
      {{else if data.status == "完成"}}
      <td class="handle_width">
        <a class="watchModal">查看</a>
        
      </td>
        <td class="handle delete"><img src="<%= image_path("delete.png") %>"/></td>
      {{/if}}
      {{else}}
        <td class="hide id" style="color:{{data.colour}}">{{data.id}}</td>
        <td class="hide region_id">{{data.s_region_code_id}}</td>
        <td style="color:{{data.colour}}">{{data.region_name}}</td>
        <td style="color:{{data.colour}}" class="equip_name">{{data.equip_name}}</td>
        <td style="color:{{data.colour}}">{{data.founder}}</td>
        {{if data.handle_name == null}}
        <td style="color:{{data.colour}}">任务还未下发</td>
        {{else}}
        <td style="color:{{data.colour}}">{{data.handle_name}}</td>
        {{/if}}
        <td style="color:{{data.colour}}">{{data.handle_start_time}}</td>
        <td style="color:{{data.colour}}">{{data.handle_end_time}}</td>
        <td style="color:{{data.colour}}">{{data.snag_desc}}</td>
        <td style="color:{{data.colour}}">{{data.status}}</td>
        <td style="color:{{data.colour}}">{{data.desc}}</td>
        {{if data.status == "待下发"}}
        <td class="handle_width">
          <a class="watchModal"  style="color:{{data.colour}}">查看</a>
          <a class="issue" data-toggle="modal" data-target="#issueModal"  style="color:{{data.colour}}">下发</a>
          
        </td>
        <td class="handle delete" style="color:{{data.colour}}"><img src="<%= image_path("delete.png") %>"/></td>
        
        {{else if data.status == "待执行"}}
        <td class="handle_width">
          <a class="watchModal" style="color:{{data.colour}}">查看</a>
          <a class="editModal" style="color:{{data.colour}}">编辑</a>
          
        </td>
        <td class="handle delete" style="color:{{data.colour}}"><img src="<%= image_path("delete.png") %>"/></td>
        
        {{else if data.status == "待维修"}}
        <td class="handle_width">
          <a class="watchModal" style="color:{{data.colour}}">查看</a>
          <a class="editModal" style="color:{{data.colour}}">编辑</a>
          
        </td>
        <td class="handle delete" style="color:{{data.colour}}"><img src="<%= image_path("delete.png") %>"/></td>
        
        {{else if data.status == "待试车"}}
        <td class="handle_width">
          <a class="watchModal" style="color:{{data.colour}}">查看</a>
          <a class="editModal" style="color:{{data.colour}}">编辑</a>
          
        </td>
        <td class="handle delete" style="color:{{data.colour}}"><img src="<%= image_path("delete.png") %>"/></td>
        
        {{else if data.status == "待审核"}}
        <td class="handle_width">
          <a class="watchModal" style="color:{{data.colour}}">查看</a>
          
        </td>
        <td class="handle delete" style="color:{{data.colour}}"><img src="<%= image_path("delete.png") %>"/></td>
        
        {{else if data.status == "完成"}}
        <td class="handle_width">
          <a class="watchModal" style="color:{{data.colour}}">查看</a>
          
        </td>
        <td class="handle delete" style="color:{{data.colour}}"><img src="<%= image_path("delete.png") %>"/></td>
	     
        {{/if}}
      {{/if}}
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td colspan="13">
        暂无数据
      </td>
    </tr>
    {{/if}}
    </tbody>
  </script>
  <div id="public_box"></div>
  <div class="clear"></div>
</div>
<!--维修创建-->
<div id="DetailsMaintenance" class="hide">
  <%= render 'details' %>
</div>
<!--维修编辑-->
<div id="MaintenanceEditor" class="hide">
  <%= render 'edit' %>
</div>
<%= render 'new' %>
<%= render 'send' %>
  <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">  
    <div id="innerdiv" style="position:absolute;">  
        <img id="bigimg" style="border:5px solid #fff;" src="" />  
    </div>  
</div> 

