<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="single_station_pollutants_analysis">
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：单站点多污染物</span>
	</div>
	<div class="public_search d_alarms">
		<label for="">区域级别:</label>
		<select class="place_leval">
			<script id="place_leval" type="text/html">
				<option value="">请选择区域级别</option>
				{{each region_leves as regionLevel index}}
					<option value="{{regionLevel.id}}">{{regionLevel.level_name}}</option>
				{{/each}}
			</script>
		</select>
		<label for="">站点:</label>
		<input type="text" class="control_station"/>
		<input type="text"  class="control_stationID" />
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<b>-</b>
		<input type="text" class="dateTimepicker end_datetime"/>
		<!--<label for="">分析粒度：</label>
		<input type="radio" name="dayOrHour" class="dayOrHour"/>日
		<input type="radio" name="dayOrHour" class="dayOrHour"/>小时-->
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<button class="btn search">查询</button>
	</div>
	<div id="line" style="width: 100%;height:500px;"></div>
	
</div>
<!--站点-->
<%= render 'station' %>

<script>
	
	var myChart = echarts.init(document.getElementById('line'));	
	option = {
    
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['SO2','NO2','CO','O3','PM10','PM2.5']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: []
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'SO2',
            type:'line',
            stack: '总量',
            data:[]
        },
        {
            name:'NO2',
            type:'line',
            stack: '总量',
            data:[]
        },
        {
            name:'CO',
            type:'line',
            stack: '总量',
            data:[]
        },
        {
            name:'O3',
            type:'line',
            stack: '总量',
            data:[]
        },
        {
            name:'PM10',
            type:'line',
            stack: '总量',
            data:[]
        },
        {
            name:'PM2.5',
            type:'line',
            stack: '总量',
            data:[]
        }
    ]
};
 myChart.setOption(option);
	
</script>