<script type="text/html" id="faultAudit">
	<div class="edit_jobs">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">任务审核</span>
			<button class="saveback btn-default btn">返回</button>
			<button class="save btn">保存</button>
		</div>
		
		<div class="fault_step">
				
		</div>
		<!--<h1 class="check-list-title">设备故障单</h1>-->
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">工单信息</h3>
			<div class="check-list-content">
			
				<table class="table check-list-table" >
					<tbody>
						<tr>
			                <td align="right" width="75px;">工单号：</td>
			                <td align="right" width="320px;">{{editData.task_from.job_no}}</td>
			                <td width="80px;">来源：</td>
			                <td id="StationName">{{editData.task_from.station_name}}</td>
			            </tr>
			            <tr>
			                <td align="right" width="85px;">生成时间：</td>
			                <td>{{editData.task_from.created_at}}</td>
			            </tr>
			            <tr>
			                <td>工单状态：</td>
			                <td>{{editData.task_from.job_status}}</td>
			                <td>工单类型：</td>
			                <td>{{editData.task_from.fault_type}}</td>
			            </tr>
		                <tr>
		                    <td>工单标题：</td>
		                    <td>{{editData.task_from.title}}</td>
		                    <td>是否补录：</td>
		                    <td>{{ if editData.task_from.clraring_if == 'Y'}}是{{else}}否{{/if}}</td>
		                </tr>
					</tbody>
				</table>
			</div>
		</div>
	
	    <div class="panel partial" data-taskid="" data-active="">
    		<h3 class="check-second-title">审核</h3>
    		<div class="check-list-content">
	        <table class="table check-list-table">
	            <tbody>
	            	<tr>
	                    <td align="right" style="width:150px;">审核内容：</td>
	                    <td colspan="1" id="audit_adopt">
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve"  checked="'true'" value="Y">通过
                            </label>
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve" value="N">不通过
                            </label>
	                    </td>
                        <td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	                <tr>
	                	<td>审核不通过原因：</td>
	                	<td>
	                		<input type="text" id="audit_not" class="form-control"/>
	                	</td>
	                	<td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
	
</div>
</script>
