<script type="text/html" id="dTaskFormsEDit">
	<div id="dTask">

	    <div  class="dTaskMain">
	    	<div class="navTop">
				<span class="lines"></span>
				<span class="tableName">设备巡检单</span>
				<button class="btn btn-default"  id="editBack">返回</button>
				<button class="btn  btn-success"  id="editDone" value="un_audit" style="margin-right: 15px;">完成</button>
				<button class="btn  btn-primary"  id="editSave" value="deal_with" style="margin-right: 15px;">保存</button>
			</div>
			<div class="dTaskTop panel">
	     		<ul>
	     			
	     		</ul>
	    	</div>
	    	<div class="dTaskMainNews panel">
	    		<div class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>工单信息</span>
	    		</div>
	    		<div class="workList">
	    			<div class="listNews">
	    				<span>
	    					<span>工单号：{{editData.task_from.job_no}}</span>
	    					<span>来源：{{editData.task_from.station_name}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>生成时间：{{editData.task_from.created_at}}</span>
	    					<span>计划完成时间：{{editData.task_from.polling_plan_time}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>工单状态：{{editData.task_from.job_status}}</span>
	    					<span>工单类型：{{editData.task_from.fault_type}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>工单标题：{{editData.task_from.title}}</span>
	    					<span>是否补录：{{editData.task_from.clraring_if}}</span>
	    				</span>
	    			</div>
	    		</div>
	    	</div>
	    	<div id="editkXun" class="panel">
	    	<div class="checkNews">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>检查项列表：</span>
	    		</div>
	    		<div class="list">
					<div class="seeTypes" style="margin-left: 25px">
						{{each editData.task_from.polling_job_type as sendTypes i}}
						<div class="look_insp">
							<p  class="hide typesId">{{sendTypes.d_work_pro_id}}</p>
							<p class="hide typesCode">{{sendTypes.work_code}}</p>
							<p class="handle_name" title="{{sendTypes.handle_type}}"><img src=""><span>{{sendTypes.handle_type}}</span></p>
							<input id="files" type="file" onchange="previewImage(this, 'prvid{{i}}')" multiple="multiple">  
							<div id="prvid{{i}}"></div>
						</div>
						{{/each}}
				    </div>
	    		</div>
	    	</div>
	    	<div class="mouth panel">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>月度检查项列表：</span>
	    		</div>
	    	</div>
	    </div>

	    	<div class="journal panel">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>日志表：</span>
	    		</div>
	    		<div class="journalList">
	    			<div id="public_table">
				    	<div class="public_table">
					    	<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<td>序号</td>
										<td>步骤</td>
										<td>处理人</td>
										<td>开始时间</td>
										<td>完成时间</td>
										<td>说明</td>
										<td>处理状态</td>
										<td>超时状态</td>
									</tr>
							    </thead>
									<tbody class="exception">
									{{each editData.task_from.details as list index}}
									<tr>
										<td>{{index+1}}</td>
										<td>{{list.job_status}}</td>
										<td>{{list.handle_man}}</td>
										<td>{{list.begin_time}}</td>
										<td>{{list.end_time}}</td>
										<td>{{list.note}}</td>
										<td>{{list.handle_status}}</td>
										<td>{{list.without_time_flag}}</td>
									</tr>
									{{/each}}
									</tbody>
						    </table>
				        </div>
				    </div>
	    		</div>
	    	</div>
            
	    </div>
	</div>
	<form id="typeListBox" class="form-horizontal">

	</form>
	<form id="sampling" class="form-horizontal form-horizontal2" display="none">

</form>
<form id="weighing" class="form-horizontal form-horizontal3" display="none">

</form>
</script>