<script type="text/html" id="dTaskFormsNews">
	<div id="dTask">
	    <div  class="dTaskMain">
	    	<div class="navTop">
				<span class="lines"></span>
				<span class="tableName">工单详情</span>
				<button class="btn new_add_btn"  id="lookBack">返回</button>
			</div>
			<div class="dTaskTop panel">
	     		<ul>
	     			
	     		</ul>
	    	</div>
	    	<div class="dTaskMainNews panel">
	    		<div class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>工单信息</span>
	    		</div>
	    		<div class="workList">
	    			<div class="listNews">
	    				<span>
	    					<span>工单号：{{editData.task_from.job_no}}</span>
	    					<span>来源：{{editData.task_from.station_name}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>生成时间：{{editData.task_from.created_at}}</span>
	    					<span>计划完成时间：{{editData.task_from.polling_plan_time}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>工单状态：{{editData.task_from.job_status}}</span>
	    					<span>工单类型：{{editData.task_from.fault_type}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>工单标题：{{editData.task_from.title}}</span>
	    					<span>是否补录：{{editData.task_from.clraring_if}}</span>
	    				</span>
	    			</div>
	    		</div>
	    	</div>
	    <div id="lookXun" class="panel">
	    	<div class="checkNews">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>检查项列表：</span>
	    		</div>
	    		<div class="list">
					<div class="seeTypes" style="margin-left: 25px">
						{{each editData.task_from.polling_job_type as sendTypes i}}
						<div class="look_insp">
							<p  class="hide typesId">{{sendTypes.d_work_pro_id}}</p>
							<p class="hide typesCode">{{sendTypes.work_code}}</p>
							<p class="handle_name" title="{{sendTypes.handle_type}}"><img src=""><span>{{sendTypes.handle_type}}</span></p>
							<div><img src="{{sendTypes.img_one}}"></div>
						</div>
						{{/each}}
				    </div>
	    		</div>
	    	</div>
	    	<div class="mouth">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>月度检查项列表：</span>
	    		</div>
	    	</div>
	    </div>
    <!--<div class="panel partial" data-taskid="" data-active="" id="audit">

	    <h3 class="check-second-title">审核</h3>
	    <div class="check-list-content">
	        <table class="table check-list-table">
	            <tbody>
	                <tr>
	                    <td align="right" style="width:85px;">审核内容：</td>
	                    <td colspan="1">
	                            <label class="checkbox-radio">
	                                <input type="radio" name="Approve" disabled="disabled" id="Approve_Y">通过
	                            </label>
	                            <label class="checkbox-radio">
	                                <input type="radio" name="Approve" disabled="disabled" id="Approve_N">不通过
	                            </label>
	                    </td>
	                        <td colspan="2">
	                            &nbsp;
	                        </td>
	                </tr>
	                <tr id="audit_des">
	                        <td align="right" style="width:95px">不通过原因：</td>
	                        <td>
	                        	<input type="text" value="" disabled="disabled"/>
	                        </td>
	                         <td colspan="2">
	                            &nbsp;
	                        </td>
	                    </tr>
	                    <tr>
	                        <td align="right">审核人：</td>
	                        <td>
	                            <input class="form-control dropdown-select-bg" id="ProcessUserId" name="ProcessUserId" type="hidden" value="" disabled="disabled">
	                            <input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="ProcessUserId_Text" name="ProcessUserId_Text"  type="text" value="" >
	                        </td>
	                         <td colspan="2">
	                            &nbsp;
	                        </td>
	                    </tr>
	                    <tr>
	                    	<td align="right">审核时间：</td>
	                        <td></td>
	                         <td colspan="2">
	                            &nbsp;
	                        </td>
	                    </tr>
	            </tbody>
	        </table>
	    </div>
	</div>-->
	    	<div class="journal panel">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>日志表：</span>
	    		</div>
	    		<div class="journalList">
	    			<div id="public_table">
				    	<div class="public_table">
					    	<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<td>序号</td>
										<td>步骤</td>
										<td>处理人</td>
										<td>开始时间</td>
										<td>完成时间</td>
										<td>说明</td>
										<td>处理状态</td>
										<td>超时状态</td>
									</tr>
							    </thead>
									<tbody class="exception">
									{{each editData.task_from.details as list index}}
									<tr>
										<td>{{index+1}}</td>
										<td>{{list.job_status}}</td>
										<td>{{list.handle_man}}</td>
										<td>{{list.begin_time}}</td>
										<td>{{list.end_time}}</td>
										<td>{{list.note}}</td>
										<td>{{list.handle_status}}</td>
										<td>{{list.without_time_flag}}</td>
									</tr>
									{{/each}}
									</tbody>
						    </table>
				        </div>
				    </div>
	    		</div>
	    	</div>
	    	
	    </div>
	</div>
	<form id="typeListBox" class="form-horizontal">

	</form>
</script>