
<div id="inspection_add" style="display: none;">
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">新增巡检单</span>
		<button class="btn" id="btnBack">返回</button>
		<button class="btn btn-primary" id="addSave">保存</button>
	    
	</div>
	<form class="form-horizontal" id="add_form">
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">基本信息</h3>
			<div class="form-group" id="workType">
	          <label class="col-sm-2 control-label">工单类型 :</label>
	          <div class="col-sm-5">
	            <input  type="radio"  name="fault_type" id="fault_type" checked="checked" value="polling_form">
	            	<span>巡检单</span>
	          </div>
	        </div>
	        
	        <div class="form-group">
	          <label class="col-sm-2 control-label">紧急程度 :</label>
	          <div class="col-sm-5" id="urgent_level">
	            <input  type="radio"  name="urgent_level" checked="checked" value="I">
	            	<span>一般</span>
	            <input  type="radio"  name="urgent_level" value="II">
	            	<span>中等</span>
	            <input  type="radio"  name="urgent_level" value="III">
	            	<span>紧急</span>
	          </div>
	        </div>
	        <div class="form-group">
	          <label class="col-sm-2 control-label">下发类型 :</label>
	          <div class="col-sm-5" id="send_type">
	            <input  type="checkbox"  name="send_type" checked="checked" value="app">
	            	<span>App</span>
	            <input  type="checkbox"  name="send_type" value="sms">
	            	<span>短信</span>
	            <input  type="checkbox"  name="send_type" value="email">
	            	<span>微信</span>
	            <input type="hidden" name="send_type_val" id="send_type_val" value="" />
	          </div>
	        </div>
		</div>
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">详细内容</h3>
			<div class="form-group">
	          <label class="col-sm-2 control-label">是否补录 :</label>
	          <div class="col-sm-5">
	          	<label>
	          		<input  type="radio"  name="additional" checked="checked" value="Y">
	            	<span>是</span>
	            </label>
	            <label>
	          		<input  type="radio"  name="additional" checked="checked" value="N">
	            	<span>否</span>
	            </label>
	          </div>
	        </div>
			<div class="form-group">
	          <label class="col-sm-2 control-label">站点名称 :</label>
	          <div class="col-sm-5">
	            <input type="text" class="addControl_station form-control" id="addControl_stations" data-toggle="modal" data-target="#sq_radioStation"/>
					<input type="hidden"  class="addControl_stationID form-control" id="addControl_stationIDs"/>
	          </div>
	        </div>
	        <div class="form-group" id="plan">
	        	<label class="col-sm-2 control-label">计划完成时间:</label>
	        	<div class="col-sm-5">
	        		<input type="text" class="dateTimepicker plan form-control"/>
	        	</div>
	        </div>
	        <div class="form-group" id="unitType">
	        	<label class="col-sm-2 control-label">运维类型:</label>
	        	<div class="col-sm-5">
	        		<span class="basicLists"><input type="radio" name="unitType" id="week_type" value="7" checked="checked"/>周</span>
					<span class="basicLists"><input type="radio" name="unitType" id="mouth_type" value="30"/>月</span>
					<span class="basicLists"><input type="radio" name="unitType" value="90" id="ji_type"/>季</span>
					<span class="basicLists"><input type="radio" name="unitType" value="360" id="hal_type"/>半年</span>
	        	</div>
	        </div>
	        <div class="form-group" >
	        	<label class="col-sm-2 control-label">检查类型:</label>
	        	<div class="col-sm-5 seeTypes">
	        		<div id="weakJobs"></div>
	        		<div id="monthJobs"></div>
	        		<div id="jiJobs"></div>
	        		<div id="hal_yearJobs"></div>
	        	</div>
	        </div>
			<div style="clear:both"></div>

	        <div style="clear:both"></div>
	        <div class="form-group">
	        	<label class="col-sm-2 control-label">标题 :</label>
	        	<div class="col-sm-5">
	        		<input type="text" class="form-control" id="title"/>
	        	</div>
	        </div>
	        <div class="form-group">
	        	<label class="col-sm-2 control-label">内容:</label>
	        	<div class="col-sm-5">
	        		<textarea class="form-control" id="content"></textarea>
	        	</div>
	        </div>
		</div>
		
        
        
        
<%= render :partial => 'test_iframes/sq_radioStation' %>    
	</form>
</div>
<script type="text/html" id="weak_jobs">
	{{if weak_jobs}}
	    {{each weak_jobs as job index}}
	        <span><input type="checkbox" value={{job.id}}>{{job.work_name}}</span>
	    {{/each}}
	{{/if}}
</script>
<script type="text/html" id="month_jobs">
	{{if month_jobs}}
	    {{each month_jobs as job index}}
	        <span><input type="checkbox" value={{job.id}}>{{job.work_name}}</span>
	    {{/each}}
	{{/if}}
</script>
<script type="text/html" id="ji_jobs">
	{{if ji_jobs}}
	    {{each ji_jobs as job index}}
	        <span><input type="checkbox" value={{job.id}}>{{job.work_name}}</span>
	    {{/each}}
	{{/if}}
</script>
<script type="text/html" id="hal_year_jobs">
	{{if hal_year_jobs}}
	    {{each hal_year_jobs as job index}}
	        <span><input type="checkbox" value={{job.id}}>{{job.work_name}}</span>
	    {{/each}}
	{{/if}}
</script>