<div class="modal fade bs-example-modal-lg" id="InventoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">周盘点</h4>
      </div>
      <div class="modal-body">
      	<div id="public_table">
			<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<script id="InventoryTable" type="text/html">
						<thead>
							<tr>
								{{each titles as list index}}
									<th>{{list}}</th>
								{{/each}}
							</tr>
						</thead>
						<tbody>
							{{if code=="TF"}}
								{{each check_data as numberList index}}
									<tr>
										<td>{{numberList.time1}}</td>
										<td>{{numberList.time2}}</td>
										<td>{{numberList.s_yl}}</td>
										<td>{{numberList.b_yl}}</td>
										<td>{{numberList.b_gj}}</td>
										<td>{{numberList.b_js}}</td>
										<td>{{numberList.b_sh}}</td>
									</tr>
								{{/each}}
							{{else if code=="TY"}}
								{{each check_data as numberList index}}
									<tr>
										<td>{{numberList.time1}}</td>
										<td>{{numberList.time2}}</td>
										<td>{{numberList.zjy}}</td>
										<td>{{numberList.shdy}}</td>
										<td>{{numberList.ct}}</td>
										<td>{{numberList.sl}}</td>
										<td>{{numberList.df_dh}}</td>
										<td>{{numberList.th_dh}}</td>
									</tr>
								{{/each}}
							{{else if code=="FJY"}}
								{{each check_data as numberList index}}
									<tr>
										<td>{{numberList.time1}}</td>
										<td>{{numberList.time2}}</td>
										<td>{{numberList.zjy}}</td>
										<td>{{numberList.shdy}}</td>
										<td>{{numberList.ct}}</td>
										<td>{{numberList.sl}}</td>
										<td>{{numberList.xmj}}</td>
									</tr>
								{{/each}}
							{{else if code=="SHY"}}
								{{each check_data as numberList index}}
									<tr>
										<td>{{numberList.time1}}</td>
										<td>{{numberList.time2}}</td>
										<td>{{numberList.zjy}}</td>
										<td>{{numberList.shdy}}</td>
										<td>{{numberList.ct}}</td>
										<td>{{numberList.sl}}</td>
									</tr>
								{{/each}}
							{{/if}}
						</tbody>
					</script>
				</table>
	     	</div>
	     </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
