<div class="modal fade bs-example-modal-lg" id="periodInventoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">期盘点</h4>
      </div>
      <div class="modal-body">
      	<div class="navMain public_search" id="periodSearch">
		  <form class="form-inline">
		    <div class="form-group">
		      <label for="">时间:</label>
		      <input type="" class="createStart day-start form-control"/>
		      -
		      <input type="" class="createEnd day-end form-control"/>
		    </div>
		    <div class="form-group">
		      <button class="btn search" type="button">查询</button>
		    </div>
		  </form>
	
		</div>
      	<div id="public_table">
			<div class="public_table">
		    	<table class="table table-bordered table-hover">
					
				</table>
	     	</div>
	     </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
<script id="periodTable" type="text/html">
						<thead>
							<tr>
								{{each titles as list index}}
									<th>{{list}}</th>
								{{/each}}
							</tr>
						</thead>
						<tbody>
							
							{{each check_data as numberList index}}
								{{if code=="TF"}}
									<tr>
										<td>{{numberList.time1}}</td>
										<td>{{numberList.time2}}</td>
							
										<td>{{numberList.b_yl}}</td>
										<td>{{numberList.b_gj}}</td>
										<td>{{numberList.b_js}}</td>
										<td>{{numberList.b_sh}}</td>
									</tr>
								{{else if code=="TY"}}
									<tr>
										<td>{{numberList.time1}}</td>
										<td>{{numberList.time2}}</td>
										<td>{{numberList.zjy}}</td>
										<td>{{numberList.shdy}}</td>
										<td>{{numberList.ct}}</td>
										<td>{{numberList.sl}}</td>
										<td>{{numberList.df_dh}}</td>
										<td>{{numberList.th_dh}}</td>
									</tr>
								{{else if code=="FJY"}}
									<tr>
										<td>{{numberList.time1}}</td>
										<td>{{numberList.time2}}</td>
										<td>{{numberList.zjy}}</td>
										<td>{{numberList.shdy}}</td>
										<td>{{numberList.ct}}</td>
										<td>{{numberList.sl}}</td>
										<td>{{numberList.xmj}}</td>
									</tr>
								{{else if code=="SHY"}}
									<tr>
										<td>{{numberList.time1}}</td>
										<td>{{numberList.time2}}</td>
										<td>{{numberList.zjy}}</td>
										<td>{{numberList.shdy}}</td>
										<td>{{numberList.ct}}</td>
										<td>{{numberList.sl}}</td>
									</tr>
								{{/if}}
							{{/each}}
							
								
						</tbody>
					</script>