<div class="navTop">
	<span class="lines"></span>
	<span class="tableName">车间详情</span>
	<button type="button" class="btn btn-success btnNew new_add_btn" id="back" type="button" onclick="location=location">返回</button>
</div>
<div id="developing" style="width: 100%;height:100%;text-align: center;background: #ffffff;position: relative;">
	<div style="position: absolute;top: 20%;left: 45%;">
		<p><img src="/images/developing.png" width="130" ></p>
		<p style="font-size: 16px;">正在开发中……</p>	
	</div>
	
</div>