<div class="navTop">
  <span class="lines"></span>
  <span class="tableName">车间详情</span>
  <button type="button" class="btn btn-success btnNew new_add_btn" id="back" type="button" onclick="location=location">返回</button>
</div>
<input type="hidden" class="lineId"/>
<input type="hidden" class="regionName"/>
<div class="navMain public_search" id="showSearch">
  <form class="form-inline">
    <div class="form-group">
      <label for="">时间:</label>
      <input type="" class="createStart day-start form-control"/><span style="margin-left: -15px;">-</span><input type="" class="createEnd day-end form-control"/>
      
      
    </div>
    <div class="form-group">
      <button class="btn search" type="button">查询</button>
      <button type="button" class="btn four_words_btn new_add_btn" id="excell">导出表格</button>
      <button type="button" class="btn four_words_btn" id="Inventory" type="button" data-toggle="modal" data-target="#InventoryModal" style="background: #ff9030;color: #fff;">周盘点</button>
      <button type="button" class="btn four_words_btn" id="periodInventory" type="button" data-toggle="modal" data-target="#periodInventoryModal" style="background: #ff6f6f;color: #fff;">期盘点</button>
      
    </div>
  </form>
  <input type="hidden" class="startTime"/>
  <input type="hidden" class="endTime"/>
</div>

<div id="public_table">
  <div class="project_button">
    <div class="pull-left">
      <script id="itemlButton" type="text/html">
        {{each smaterial as list index}}
        <button class="btn" value="{{list.id}}" value1="{{list.code}}">{{list.name}}</button>
        {{/each}}
      </script>

    </div>
    <div class="pull-right">
      <button class="btn new_add_btn" id="listTable">列表</button>
      <button class="btn btn_chart" id="listChart" data-type="line">折线图</button>
      <button class="btn btn_chart" id="columnChart" data-type="column">柱状图</button>
    </div>

  </div>
  <div class="clear"></div>
  <div style="padding-top: 10px;" class="listTable">
  	<div id="tabList">
  		
  	</div>

    <ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
    <div class="box"></div>
  </div>

  <div class="chartContent">
    <div id="lineChart"></div>
  </div>

</div>
<%= render 'inventory' %>
<%= render 'yield' %>
<%= render 'period_inventory' %>
<script id="showTables" type="text/html">
<table  id="example">
	<thead>
		<tr class="headtop">
		  <th rowspan="2">日期</th>
		  <th rowspan="2">星期</th>
		  {{each menus_datas as list index}}
		  <th colspan="{{list.data.length}}">{{list.name}}</th>
		  {{/each}}
		</tr>
		<tr>
		  {{each menus_datas as list index}}
			  {{each list.data as list2 index}}
			  <th>{{list2.name}}</th>
			  {{/each}}
		  {{/each}}
		</tr>
  </thead>
  <tbody class="data_list">
    {{if code == "TF"}}
    {{each list_datas as list index}}
    <tr>
    	<span class="hide"><!--实耗干粉-->{{sum1}}</span>
    	<span class="hide"><!--实耗湿粉-->{{sum2}}</span>
    	<span class="hide"><!--干粉系数-->{{ratio1}}</span>
    	<span class="hide"><!--湿粉系数-->{{ratio2}}</span>
    	<span class="hide">{{leftNum = 0}}</span>
      <td>{{list.datetime}}</td>
      <td>{{list.week_time}}</td>
      {{each list.one_menus.left.data as dataList i}}
      <td>{{dataList.field_value}}</td>
	  		<td class="hide">{{ratio1=list_datas[index].one_menus.left.data[0].ratio}}{{ratio2=list_datas[index].one_menus.left.data[1].ratio}}</td>
      <td class="hide">{{leftNum=leftNum+dataList.field_value*dataList.ratio}}</td>
      {{/each}}
      <td class="leftNum">{{leftNum.toFixed(2)}}</td>
      <span class="hide">{{gNum = 0}}</span>
      {{each list.one_menus.buy.data as dataList i}}
      <td>{{dataList.field_value}}</td>
      {{if i < 2}}
      <td class="hide">{{gNum=gNum+dataList.field_value*dataList.ratio}}</td>
      {{/if}}
      {{/each}}
      <td class="gNum">{{gNum.toFixed(2)}}</td>
      {{if index == 0}}
      <td class="sum1"></td>
      <td class="sum2"></td>
      <td class="sfbl"></td>
      <td class="shNum"></td>
      {{else}}
      <td class="sum1">{{ sum1 = list_datas[index - 1].one_menus.left.data[0].field_value +
        list_datas[index].one_menus.buy.data[0].field_value - list_datas[index].one_menus.left.data[0].field_value
        }}
      </td>
      <td class="sum2">{{ sum2 =list_datas[index - 1].one_menus.left.data[1].field_value +
        list_datas[index].one_menus.buy.data[1].field_value - list_datas[index].one_menus.left.data[1].field_value
        }}
      </td>
      <td class="sfbl">{{(sum2*ratio2/(sum1*ratio1+sum2*ratio2)*100).toFixed(2)}}%</td>
      <td class="shNum">{{(sum1*ratio1+sum2*ratio2).toFixed(2)}}</td>
      {{/if}}
    </tr>
    {{/each}}
    {{else if code == "TY"}}
        {{each list_datas as list index}}
        <tr>
        	<span class="hide">{{productNum = 0}}</span>
          <span class="hide">{{xy1Num = 0}}</span>
          <span class="hide">{{xy2Num = 0}}</span>
          <td>{{list.datetime}}</td>
          <td>{{list.week_time}}</td>
          {{each list.one_menus.product.data as dataList i}}
    				<td>{{dataList.fold_value}}</td>
    				<td class="hide">{{productNum=productNum+dataList.fold_value}}</td>
          {{/each}}
          <td class="productNum">{{productNum.toFixed(2)}}</td>
          {{each list.one_menus.left1.data as dataList i}}
          <td>{{dataList.nums_value}}</td>
          <td class="hide">{{xy1Num=xy1Num+dataList.nums_value}}</td>
          {{/each}}
					<td class="xy1Num">{{xy1Num.toFixed(2)}}</td>
					{{each list.one_menus.left2.data as dataList1 i}}
          <td>{{dataList1.nums_value}}</td>
          <td class="hide">{{xy2Num=xy2Num+dataList1.nums_value}}</td>
          {{/each}}
					<td class="xy2Num">{{xy2Num.toFixed(2)}}</td>
				
					{{if list.one_menus.zh.data != null}}
						{{each list.one_menus.zh.data as dataList i}}
	          <td>{{dataList}}</td>
	        	{{/each}}
	        	{{else}}
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        {{/if}}
        </tr>
        {{/each}}
    {{else if code == "FJY"}}
	    {{each list_datas as list index}}
	    	<tr>
	    		<span class="hide">{{ fjNum1 = 0}}</span>
	    		<span class="hide">{{ fjNum2 = 0}}</span>
		      <td class="date_time">{{list.datetime}}</td>
		      <td>{{list.week_time}}</td>
		      <td class="product">{{list.one_menus.product.data}}</td>
	      	{{each list.one_menus.left1.data as dataList i}}
		      	<td>{{dataList.nums_value}}</td>
		      	<td class="hide">{{fjNum1 = fjNum1 + dataList.nums_value}}</td>
	      	{{/each}}
	  			<td>{{fjNum1.toFixed(2)}}</td>
	      	{{each list.one_menus.left2.data as dataList i}}
		      	<td>{{dataList.nums_value}}</td>
		      	<td class="hide">{{fjNum2 = fjNum2 + dataList.nums_value}}</td>
	      	{{/each}}
	      	<td>{{fjNum2.toFixed(2)}}</td>
	      	
	      	{{if list.one_menus.zh.data != null}}
						{{each list.one_menus.zh.data as dataList i}}
	          <td>{{dataList}}</td>
	        	{{/each}}
	        	{{else}}
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        {{/if}}
		    </tr>
		  {{/each}}
		{{else if code == "SHY"}}
			{{each list_datas as list index}}
				<tr>
		    		<span class="hide">{{ fjyNum = 0}}</span>
		    		<span class="hide">{{ lyNum = 0}}</span>
			      <td class="date_time">{{list.datetime}}</td>
			      <td>{{list.week_time}}</td>
			      <td class="product">{{list.one_menus.product.data}}</td>
			      {{each list.one_menus.left_fjy.data as dataList i}}
		      	<td>{{dataList.fold_value}}</td>
		      	<td class="hide">{{fjyNum = fjyNum + dataList.fold_value}}</td>
		      	{{/each}}
		  			<td>{{fjyNum.toFixed(2)}}</td>
		      	{{each list.one_menus.left_ly.data as dataList i}}
			      	<td>{{dataList.fold_value}}</td>
			      	<td class="hide">{{lyNum = lyNum + dataList.fold_value}}</td>
		      	{{/each}}
		      	<td>{{lyNum.toFixed(2)}}</td>
		      	{{if list.one_menus.zh.data != null}}
						{{each list.one_menus.zh.data as dataList i}}
	          <td>{{dataList}}</td>
	        	{{/each}}
	        	{{else}}
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        {{/if}}
			  </tr>
			 {{/each}}
    {{/if}}
  </tbody>
</table>
</script>