<div class="modal fade bs-example-modal-lg" id="yieldModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">交料产量</h4>
      </div>
      <div class="modal-body">
      	<div id="public_table">
			<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<script id="yieldTable" type="text/html">
						{{if code == "FJY"}}
							<thead>
								<tr>
									<th>批号</th>
									<th>旋光</th>
									<th>体积</th>
									<th>折产品</th>
								</tr>
							</thead>
							<tbody>
								{{ foldNum = 0}}
								{{each daily_batchs as list index}}
									<tr>
										<td>{{list.batch_value}}</td>
										<td>{{list.rotation_value}}</td>
										<td>{{list.volume_value}}</td>
										<td>{{list.fold_value}}</td>
										<td class="hide">{{foldNum = foldNum+list.fold_value}}</td>
									</tr>
								{{/each}}
								<tr>
									<td>小计</td>
									<td></td>
									<td></td>
									<td>{{foldNum.toFixed(2)}}</td>
								</tr>
							</tbody>
						{{else if code == "SHY"}}
							<thead>
								<tr>
									<th>批号</th>
									<th>旋光</th>
									<th>底面积</th>
									<th>高度</th>
									<th>体积</th>
									<th>折产品</th>
								</tr>
							</thead>
							<tbody>
								{{ foldNum2 = 0}}
								{{each daily_batchs as list index}}
									<tr>
										<td>{{list.batch_value}}</td>
										<td>{{list.rotation_value}}</td>
										<td>{{list.bottom_area_value}}</td>
										<td>{{list.level_value}}</td>
										<td>{{list.volume_value}}</td>
										<td>{{list.fold_value}}</td>
										<td class="hide">{{foldNum2 = foldNum2+list.fold_value}}</td>
									</tr>
								{{/each}}
								<tr>
									<td>小计</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>{{foldNum2.toFixed(2)}}</td>
								</tr>
							</tbody>
						{{/if}}
					</script>
				</table>
	     	</div>
	     </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
