<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="post_reports" style="height: 100%;">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">车间日盘点报表</span>
		</div>
   
		<div id="public_table">
			
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover" id="indexTable">
					<thead>
						<tr>
							<th>部门</th>
							<th>车间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
						
					</tbody>
				</table>
	     	</div>
	    </div>
	
	<div class="clear"></div>
	</div>
	<div id="lookHtml" style="display: none;">
		<%= render 'show' %>
	</div>
	<div style="display: none;height: 100%;" id="refresh">
		<%= render 'refresh' %>
	</div>
</div>
<script id="postIndextable" type="text/html">
	{{if region_datas.length > 0}}
	  {{each region_datas as data index}}
	  <tr>
	    <td class="hide id">{{data.id}}</td>
	    <td class="hide status">{{data.status}}</td>
	    <td>{{data.father_region_name}}</td>
	    <td class="region_name">{{data.region_name}}</td>
	    <td>
	      <a class="lookFor">详细信息</a>
	    </td>
	  </tr>
	  {{/each}}
	  {{else}}
	  <tr>
	    <td colspan="3">
	      暂无数据
	    </td>
	  </tr>
	  {{/if}}
</script>
