<div class="modal fade" id="lookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">报警明细</h4>
      </div>
      <div class="modal-body">
			 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <!--<button type="button" class="btn btn-primary btn-sure">保存</button>-->
      </div>
    </div>
  </div>
</div>

<script id="notice_rules" type="text/html">		
	<div class="add_factor">
		
	
		<div class="factor_content">
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;站点名称:</label>
				<input type="text" value="{{alarm_info.station_name}}" readonly="true"/>
			</div>
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;报警规则:</label>
				<input type="text" value="{{alarm_info.alarm_rule}}" readonly="true"/>
			</div>
			<div>
				<label for="">&#X3000;首次报警时间:</label>
				<input type="text" value="{{alarm_info.first_create_time}}" readonly="true"/>
			</div>
			<div>
				<label for="">&#X3000;最新报警时间:</label>
				<input type="text" value="{{alarm_info.last_create_time}}" readonly="true"/>
			</div>
			<div>
				<label for="">&#X3000;连续报警次数:</label>
				<input type="text" value="{{alarm_info.alarm_num}}" readonly="true"/>
			</div>
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;&#X3000;&#X3000;状态:</label>
				<input type="text" value="{{alarm_info.status}}" readonly="true"/>
			</div>
			
			
		</div>
		
		
			    <!--<h5 class="h5FontSize">
			                报警明细列表
				</h5>-->
			
				<!--<div class="d_alarms_otherTable">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>监控因子</th>
								<th>因子值</th>
								<th>质控标识</th>
								<th>采集时间</th>
								<th>报警规则</th>
								<th>报警级别</th>
								<th>异常次数</th>
							</tr>
						</thead>
						<tbody class="exception-list">
						</tbody>
					</table>
				</div>-->
			

		
		
		<div class="area_btn">
			<!--<button class="btn btn-cancel">关闭</button>-->
		</div>
	</div>
			
	
	
</script>
