<div id="public_table">
	<div class="public_table">
		<table class="table table-bordered table-hover">
	       <thead>
	       	<tr>
	       		<th>站点名称</th>
	       		<th>报警规则</th>
	       		<th>报警级别</th>
	       		<th>首次报警时间</th>
	       		<th>最新报警时间</th>
	       		<th>连续报警次数</th>
	       		<th>状态</th>
	       		<th>操作</th>
	       	</tr>
	       </thead>
	       <tbody>
				<script id="originData" type="text/html">
					{{if alarms.length != 0}}
						{{each alarms as alarmNotice index}}
							<tr>
								<td>{{alarmNotice.station_name}}
								    <span class="hide stationID">{{alarmNotice.station_id}}</span>
								</td>
								<td>{{alarmNotice.alarm_rule}}
								    <span class="hide alarmid">{{alarmNotice.id}}</span></td>
								<td>{{alarmNotice.alarm_level}}</td>
								<td>{{alarmNotice.first_alarm_time}}</td>
								<td>{{alarmNotice.last_alarm_time}}</td>
								<td>{{alarmNotice.continuous_alarm_times}}</td>
								<td>{{alarmNotice.status}}</td>
								<td>
									<span class="id none">{{alarmNotice.id}}</span>
									<a class="lookfor" data-toggle="modal" data-target="#lookModal">查看</a>
								</td>
							</tr>
						{{/each}}
					{{else}}
						<tr>
							<td colspan="8">暂无数据</td>
						</tr>
					{{/if}}
				</script>
			</tbody>
		</table>
	</div>
	<!--分页-->
<div>
	<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
	<select id="pagesize" class="right">  
	    <option value="10" selected="selected">每页10条</option>  
	    <option value="20">每页20条</option>
		<option value="30">每页30条</option>  
	    <option value="40">每页40条</option>
	    <option value="50">每页50条</option> 
	</select>  
</div>
<div class="page_total left">
	<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
</div>
<div class="clear"></div>
</div>