<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="d_alarms" >

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">报警历史查询</span>
	</div>
	<div class="navMain public_search">
		<input type="hidden" class="searchSta" />
		<input type="hidden" class="startTime1" />
		<input type="hidden" class="endTime1" />
		<input type="hidden" class="searchNotice" />
		<input type="hidden" class="searchStatus" />
		<form class="form-inline">
			<div class="form-group">
                <label for="">站&#x3000;&#x3000;点：</label>
                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            <input type="text"  class="control_stationIDs hide" />
            </div>
            <div class="form-group">
    			<label for="">时间:</label>
				<input type="text" class="dateTimepicker start_datetime form-control"/>
				<b>-</b>
				<input type="text" class="dateTimepicker end_datetime form-control"/>
            </div>
            <div class="form-group">
            	<label for="">报警级别:</label>
				<select class="notice_leval form-control">
					<script id="notice_leval" type="text/html">
						<option value="">请选择报警级别</option>
						{{each alarm_levels as alarmLevel index}}
							<option value="{{alarmLevel.alarm_level}}">{{alarmLevel.level_name}}</option>
						{{/each}}
					</script>
				</select>
            </div>
            <div class="form-group">
				<label for="">状态:</label>
				<select class="status form-control">
					<script id="alarmStatus" type="text/html">
						<option value="">请选择状态</option>
						{{each alarm_status as alarmStatus index}}
							<option value="{{alarmStatus.status}}">{{alarmStatus.status_name}}</option>
						{{/each}}
					</script>
				</select>
            </div>
            <div class="form-group">
            	<button class="btn search" type="button">查询</button>
            </div>
		</form>
	</div>

	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	<!--站点-->
	<%= render :partial => 'test_iframes/sq_publicStation' %>
	<!--报警通知表格-->
	<%= render 'table' %>
	<%= render 'lookTable' %>
	<!--模态框-->
	<div id="public_box"></div>
	<div class="lookforRules">
		
	</div>
	<%= render 'lookfor'%>
</div>

