#airDataAnalyze .public_table .list-parent td.green{
	background-color: #00B050;
}
#airDataAnalyze .public_table .list-parent td.red{
	background-color: #FF0000;
}
#airDataAnalyze #public_table .tip{
	padding-bottom: 10px;
}
#airDataAnalyze #public_table .tip span{
	float: right;
	margin:0 10px;
	font-size: 12px;
}
#airDataAnalyze #public_table .tip span a{
	width: 13px;
	height: 13px;
	margin-right: 3px;
}
#airDataAnalyze #public_table .tip span.normal a{
	background-color: #00B050;
}
#airDataAnalyze #public_table .tip span.abnormal a{
	background-color: #FF0000;
}
#air_data_analyze_detail .public_table .exception-list td.green{
	background-color: #00B050;
}
#air_data_analyze_detail .public_table .exception-list td.red{
	background-color: #FF0000;
}
#air_data_analyze_detail .public_table .exception-list tr td{
	position: relative;
}
#air_data_analyze_detail .public_table .detail{
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #FF0000;
	color: #fff;
}
#air_data_analyze_detail .public_table .none_detail{
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #FFf;
	color: #000;
}
#air_data_analyze_detail .public_table{
	position:relative ;
}
#air_data_analyze_detail .public_table .th_tip{
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
#air_data_analyze_detail .public_table .th_tip span{
	float: right;
	margin: 0 8px;
}
#air_data_analyze_detail .public_table .th_tip span a{
	width: 13px;
	height: 13px;
	margin-right: 3px;
}
#air_data_analyze_detail .public_table .th_tip span.normal a{
	background-color: #00B050;
}
#air_data_analyze_detail .public_table .th_tip span.abnormal a{
	background-color: #FF0000;
}
#air_data_analyze_detail .public_table .th_tip span.noData a{
	background-color: #fff;
}
