
#alarmss .red{
	background: red;
	cursor: pointer;
}
#alarmss .yellow{
	background: yellow;
	cursor: pointer;
}
#alarmss .green{
	background: #00cd62;
}
#alarmss .orange{
	background: orange;
	cursor: pointer;
}

#alarmss .alertProp{
	display: none;
	width: 300px;
	height: 200px;
	background: red;
}
#alarmss .yellow,#alarmss .red,#alarmss .orange{
	position: relative;
}
#alarmss .alertP{
	width: 300px;
	height: 200px;
	background: red;
	
	
}
#alarmss .alertP  ul li{
	text-align: left;
	
	
}
#alarmss .blue{
	color: blue;
}
.buttons label{
	border: 1px solid #ccc;
	color: #42b3f5;
	padding:5px 10px;
	border-radius: 8px;
	cursor: pointer;
}
#check{
	position: relative;
}
#alarmss dl{
	cursor: pointer;
	background: #f5f5f5;
	width: 150px;
	padding: 10px 20px;
	position: absolute;
	border-radius: 8px;
    top: 75px;
    left: 760px;
    display: none;
    z-index: 9999;
}
#alarmss dl input{
	margin-right: 5px;
	cursor: pointer;
}
#alarmss dl dd{
	margin-top: 15px;
	cursor: pointer;
}
#alarmss dl dd .p{
	padding: 4px 0;
}
#alarmss #checkAll{
	width: 15px;
	height: 15px;
	margin: 0;
}
#alarmss #item1,#item2,#item3{
	width: 15px;
	height: 15px;
}
/*#alarmss .search{
	margin: 0px;
}*/

#alarmss .abnormal_table table tbody tr td{
    width: 3.74%;
}
#alarmss .ajustTable .table tbody .self-date th{
	width: 3.76%;
}
#alarmss .ajustTable .tables{
	width: 98.7%;
	margin-bottom: 0;
}
#alarmss .tableScoll{
	width: 100%;
	/*background: #7fcff4;*/
}
#alarmss .abnormal_table{
	/*height: 550px;*/
	height: 400px;
	overflow-y: scroll;
}

/*提示信息*/
.alertP{
	background: red; 
	width: 300px;
	height: 140px;
	padding: 10px;
	position: absolute;
	top:0px;
	bottom: 40px;
	right: 25px;
	display:block;
	z-index:999;
	color: #fff;
}

