#alarm_sets .add_alarm {
	/*display: none;*/
}
#alarm_sets .add_factor{
	/*position: absolute;
	width: 500px;
	background: #fff;
	position: absolute;
	top: 70px;
	left: calc(50vw - 200px);
	background: #f0f0f0;*/
}
#alarm_sets .add_factor .station_list > .left {
	max-height: 150px;
	overflow-y: auto;
	margin: 20px 10px 10px 10px;
}
#alarm_sets .add_factor .station_list small {
	display: none;
}
#alarm_sets .add_factor h4{
	text-align: center;
	margin:20px 10px;
}
#alarm_sets .add_factor h4 .right{
	margin:0 10px;
}
#alarm_sets .factor_content{
	margin:5px 20px 10px 20px;
	border: 1px solid #808080;
	width: 460px;
}
#alarm_sets .factor_content {
	background: #fff;
}
#alarm_sets .factor_content .tolerate{
	text-align: center;
}
#alarm_sets .factor_content div{
	margin: 20px 10%;
}
#alarm_sets .factor_content div label{
	margin: 0 5px;
}
#alarm_sets .factor_content input[type='text'], #alarm_sets .factor_content select{
	width: 162px;
}
#alarm_sets .factor_content .alarm_rules label {
	margin-left: -20px;
}
#alarm_sets .factor_content .condition select, #alarm_sets .factor_content .condition input{
	width: 50px;
}
#alarm_sets .area_btn{
	text-align: center;
	margin-bottom:5px;
}
#alarm_sets .add_becase .area_btn{
	margin: 50px 10px;
}
#alarm_sets .factor_content .start{
	text-align: center;
	margin: 20px 0;
}
#alarm_sets .add_factor .station_content{
	top: 92px;
	display: none;
	height: 250px;
	background:#fff
}
#alarm_sets .add_factor .alarm_table .table tr td{
	border-color: #a9a9a9;
	color: #666;
}
#alarm_sets .add_factor .status span{
	margin: 0 10px;
}
#alarm_sets .control-error {
    width: 35%;
    float: right;
    border-radius: 4px;
    color: #ffffff;
}
#alarm_sets .control-success {
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    margin-bottom: 0;
    border-radius: 4px;
    color: #ffffff;
}
#alarm_sets .control-default {
    width: 35%;
    padding-top: 3px;
    float: right;
    padding-bottom: 3px;
    margin-bottom: 0;
    border-radius: 4px;
    color: #ffffff;
}