.buttons label{
	border: 1px solid #ccc;
	color: #42b3f5;
	padding:5px 10px;
	border-radius: 8px;
}
#check{
	position: relative;
}
.placeNews{
	cursor: pointer;
	background: #f5f5f5;
	width: 150px;
	padding: 10px 20px;
	position: absolute;
	border-radius: 8px;
    top: 70px;
    left: 750px;
    display: none;
    z-index: 9999;
}

.searchStatus{
	float: left;
}
dl input{
	margin-right: 5px;
	cursor: pointer;
}
dl dd{
	margin-top: 15px;
	cursor: pointer;
}
dl dd .p{
	padding: 4px 0;
}
#checkAll{
	width: 15px;
	height: 15px;
	margin: 0;
}
#item1,#item2,#item3{
	width: 15px;
	height: 15px;
}



#alarmLists .alarmLists {
	height: 60px;
}
#alarmLists .alarmLists .search_bottom {
	margin-top: 10px;
}
#alarmLists .lookforRules {
	display: none;
}
#alarmLists .add_factor {
	/*position: absolute;
	width: 500px;
	background: #fff;
	position: absolute;
	top: 100px;
	left: calc(50vw - 200px);
	background: #f0f0f0;*/
}
#alarmLists .add_factor .station_list > .left {
	max-height: 150px;
	overflow-y: auto;
	margin: 20px 10px 10px 10px;
}
#alarmLists .add_factor .station_list small {
	display: none;
}
#alarmLists .add_factor h4{
	text-align: center;
	margin:20px 10px;
}
#alarmLists .add_factor h4 .right{
	margin:0 10px;
}
#alarmLists .factor_content{
	/*margin:5px 10px 15px 20px;*/
	border: 1px solid #808080;
	/*width: 460px;*/
	/*height: 480px;*/
}
#alarmLists .factor_content {
	background: #fff;
}
#alarmLists .factor_content .tolerate{
	text-align: center;
}
#alarmLists .factor_content div{
	margin: 20px 15%;
}
#alarmLists .factor_content div label{
	margin: 0 5px;
}
#alarmLists .factor_content input[type='text'],#alarmLists .factor_content select{
	width: 162px;
}
#alarmLists .factor_content .condition select, #alarmLists .factor_content .condition input{
	width: 50px;
}
#alarmLists .area_btn{
	text-align: center;
	margin-bottom:5px;
}
#alarmLists .add_becase .area_btn{
	margin: 50px 10px;
}
#alarmLists .factor_content .start{
	text-align: center;
	margin: 20px 0;
}
#alarmLists .add_factor .station_content{
	top: 92px;
	display: none;
	height: 250px;
	background:#fff
}
#alarmLists .public_config{
	/*height: 480px;*/
}
