#alarm_notices .add_rules{
	margin:10px 20px;
}
#alarm_notices .add_rules .new_line {
	margin-top: 10px;
}
#alarm_notices .btn_notices{
	background-color: #5cb85c;
    color: #fff;
}
#alarm_notices .notice_rules{
	width: 400px;
	height: 300px;
	background-color: #FFFFFF;
	padding: 10px 15px;
	position: absolute;
	top: calc(50vh - 210px);
	left: calc(50vw - 130px);
}
#alarm_notices .notice_rules h4,.notice_rules span{
	color: #666666;
}
#alarm_notices .notice_rules h4{
	text-align: center;
	margin: 15px 0;
	font-size: 14px;
}
#alarm_notices .notice_rules div{
	margin: 10px 0;
}
#alarm_notices .notice_rules span{
	font-size: 12px;
	margin: 0 5px;
}
#alarm_notices .notice_rules input,.notice_rules select{
	border:1px solid #f1f1f1;
}
#alarm_notices .notice_rules .notice_btn{
	text-align: center;
	margin: 20px 0;
	color: #fff;
}
#alarm_notices .notice_btn .btn-sure{
	border: 1px solid #F1F1F1;
	background-color: #428bca;
	padding: 8px 15px;
	border-radius: 5px;
}

#alarm_notices .notice_btn .btn-cancel{
	border: 1px solid #F1F1F1;
	background-color: #c9c9c9;
	padding: 8px 15px;
	border-radius: 5px;
}
#alarm_notices .editRules {
	display: none;
}

