#alarm_num_statistics .alarm_num_statistics {
	height: 60px;
}
#alarm_num_statistics .alarm_num_statistics .search_bottom {
	margin-top: 10px;
}
#alarm_num_statistics .d_alarms{
	height: 60px;
}
#alarm_num_statistics .lookforRules {
	display: none;
}
#alarm_num_statistics .add_factor {
	position: absolute;
	width: 500px;
	background: #fff;
	position: absolute;
	top: 100px;
	left: calc(50vw - 200px);
	background: #f0f0f0;
}
#alarm_num_statistics .add_factor .station_list > .left {
	max-height: 150px;
	overflow-y: auto;
	margin: 20px 10px 10px 10px;
}
#alarm_num_statistics .add_factor .station_list small {
	display: none;
}
#alarm_num_statistics .add_factor h4{
	text-align: center;
	margin:20px 10px;
}
#alarm_num_statistics .add_factor h4 .right{
	margin:0 10px;
}
#alarm_num_statistics .factor_content{
	border: 1px solid #808080;
	width: 460px;
	height: 300px;
	background: #fff;
}
#alarm_num_statistics .factor_contents{
	margin:5px 10px 15px 20px;
	border: 1px solid #808080;
	width: 460px;
	height: 300px;
	background: #fff;
	overflow-y: scroll;
}
#alarm_num_statistics .factor_content .tolerate{
	text-align: center;
}
#alarm_num_statistics .factor_content div{
	margin: 20px 15%;
}
#alarm_num_statistics .factor_content div label{
	margin: 0 5px;
}
#alarm_num_statistics .factor_content input[type='text'],#alarm_num_statistics .factor_content select{
	width: 162px;
}
#alarm_num_statistics .factor_content .condition select, #alarm_num_statistics .factor_content .condition input{
	width: 50px;
}
#alarm_num_statistics .area_btn{
	text-align: center;
	margin-bottom:5px;
}
#alarm_num_statistics .add_becase .area_btn{
	margin: 50px 10px;
}
#alarm_num_statistics .factor_content .start{
	text-align: center;
	margin: 20px 0;
}
#alarm_num_statistics .add_factor .station_content{
	top: 92px;
	display: none;
	height: 250px;
	background:#fff
}
.search_bottom {
	margin-top: 10px;
}

#alarm_num_statistics .abnormal_table table tbody tr td{
    width: 10%;
}
#alarm_num_statistics .ajustTable table thead th{
	width: 10%;
}
#alarm_num_statistics .ajustTable .tables{
	width: 98.7%;
	margin-bottom: 0;
}
#alarm_num_statistics .ajustTable  .tableW{
	width: 97%;
}
#alarm_num_statistics .tableScoll{
	width: 100%;
	background: #8c95aa;
}
#alarm_num_statistics .tableScolls{
	width: 100%;
	background: #f0f0f0;
}
#alarm_num_statistics .abnormal_table{
	max-height: 550px;
	overflow-y: scroll;
}
#alarm_num_statistics .abnormal_tables{
	height: 250px;
	overflow-y: scroll;
}
#alarm_num_statistics .abnormal_tables table tbody tr td{
    width: 10%;
}
#alarm_num_statistics .add_factors{
	width: 100%;
    height: 200%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}
#alarm_num_statistics .add_factors .close{
	opacity:1
}
