#alarm_notice_sets .add_rules{
	margin:10px 20px;
}
#alarm_notice_sets .btn_notices{
	background-color: #5cb85c;
    color: #fff;
}
#alarm_notice_sets .notice_rules{
	width: 50%;
	background-color: #FFFFFF;
	padding: 10px 15px;
	position: absolute;
	top: 80px;
	left: calc(50vw - 250px);
	border-radius: 5px;
}
#alarm_notice_sets .notice_rules h4,.notice_rules span{
	color: #666666;
}
#alarm_notice_sets .notice_rules h4{
	text-align: center;
	margin: 15px 0;
	font-size: 14px;
}
/*#alarm_notice_sets .notice_rules div{
	margin: 10px 0;
}*/
#alarm_notice_sets .alarm_level,#alarm_notice_sets .alarm_inform,#alarm_notice_sets .alarm_config,#alarm_notice_sets .alarm_belong,#alarm_notice_sets .notice_btn{
	margin:  10px 0;
}
#alarm_notice_sets .new_add_btn{
	background: #F29A76;
}
#alarm_notice_sets .notice_rules span{
	font-size: 12px;
	margin: 0 5px;
}
#alarm_notice_sets .notice_rules input,.notice_rules select{
	border:1px solid #f1f1f1;
}
#alarm_notice_sets .notice_rules .notice_btn{
	text-align: center;
	margin: 20px 0;
	color: #fff;
}
#alarm_notice_sets .notice_btn .btn-sure{
	border: 1px solid #F1F1F1;
	background-color: #009ff3;
    color: #fff;
	border-radius: 5px;
}

#alarm_notice_sets .notice_btn .btn-cancel{
	border: 1px solid #F1F1F1;
	background-color: #c9c9c9;
	border-radius: 5px;
	padding: 5px 10px;
}
#alarm_notice_sets .addRules, #alarm_notice_sets .editRules {
	display: none;
}
/*报警通知方式表单验证*/
#alarm_notice_sets .control-default, #alarm_notice_sets .control-success, #alarm_notice_sets .control-error{
	width: 30%;
	float: right;
}

.page_total{
	margin-left: 10px;
	font-size: 11px;
	color: #999;
}
#alarm_notice_sets .alarm_config .col-xs-5{
	width: 320px;
	border: 1px solid #f1f1f1;
	height: 200px;
	overflow-y: auto;
	background-color: #f0f0f0;
	vertical-align: top;
	margin-left: 15px;
	
}
#alarm_notice_sets .notice_role{
	margin: 10px;
	float: left;
}
#alarm_notice_sets .notice_role li{
	float: left;
	width: 120px;
	margin-bottom: 10px;
}
#alarm_notice_sets .form-group select{
	width: 150px;
	border: 1px solid #f1f1f1;
	height: 30px;
	line-height: 30px;
}
#alarm_notice_sets .notice_role small{
	display: none;
}

.page_total small{
	color: #0099FF;
}
#alarm_notice_sets .notice_role2{
	display: none;
}
