 *{
    box-sizing: border-box;
    font-family: "微软雅黑";
 }
#aqInav {
  margin-top: 5px;
  margin-left: 5px;
} 
 #aqInav label{
 	  font-size: 13px;
    color: #333;
 } 
  #aqInav select{
 	  height: 28px;
    border: 1px solid #efefef;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 160px;
    margin: 0 10px 0 0;
    font-size: 13px;
    color: #666;
 }
  #aqInav select option{
  	margin: 0;
  	padding: 0;
  }
  #aqInav .search{
 	  padding: 0 12px;
    height: 29px;
    color: #fff;
    background-color: #558AD8;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 14px;
    text-align: center;
    line-height: 29px;
 }
   #aqInav .import{
    /*float: right;*/
    padding: 0 12px;
    margin-right: 24px;
    height: 29px;
    color: #fff;
    background-color: #F29A76;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 14px;
    text-align: center;
    line-height: 29px;
 }
 #cor{
   	height: 50px;
   	line-height: 50px;
    background: #fff;
    
 }
  #cor ul{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    padding-right: 22px;
  }
 #cor ul li{
  float: right;
  height: 35px;
  line-height: 25px;
  padding-right: 3px;
  margin-left: 5px;
  font-size: 13px;
  list-style: none;
 }
#cor ul li span{
	border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 3px;
    font-size: 13px;
    text-align: center;
    width: 45px;
    height: 25px;
   line-height: 25px;
  }
#cor ul li p{
  height: 25px;
  line-height: 25px;
}
.cor1{
     background: rgb(0,228,0);
     color: #000;
  }
.cor2{
     background: rgb(255,255,0);
     color: #000;
  }
.cor3{
     background: rgb(255,126,0);
     color: #000;
  }
.cor4{
     background: rgb(255,0,0);
     color: #fff;
  }
.cor5{
     background: rgb(153,0,76);
      color: #fff;
  }
.cor6{
     background: rgb(126,0,35);
     color: #fff;
  }
#div1 .head{
  background:#558ad8;
  color: #fff;
}