#concentration_analysis table th {
	padding: 0;
	margin: 0;
	height: 38px;
	line-height: 38px;
	text-align: center;
}
#concentration_analysis table .thOne{
	height: 114px;
	line-height: 114px;
	width: 10%;
}
#concentration_analysis .public_tables{
	overflow-x: auto;
}
.public_tables .table tbody tr td{
	min-width: 90px;
	max-width: 180px;
}


#company_month_statement #public_table,#company_statement #public_table{
	margin-bottom: 10px;
}
