#d_alarms .d_alarms {
	height: 60px;
}
#d_alarms .d_alarms .search_bottom {
	margin-top: 10px;
}
#d_alarms .lookforRules {
	display: none;
}
#d_alarms .add_factor {
	/*position: absolute;
	width: 500px;
	background: #fff;
	position: absolute;
	top: 100px;
	left: calc(50vw - 200px);
	background: #f0f0f0;*/
}
#d_alarms .add_factor .station_list > .left {
	max-height: 150px;
	overflow-y: auto;
	margin: 20px 10px 10px 10px;
}
#d_alarms .add_factor .station_list small {
	display: none;
}
#d_alarms .add_factor h4{
	text-align: center;
	margin:20px 10px;
}
#d_alarms .add_factor h4 .right{
	margin:0 10px;
}
#d_alarms .factor_content{
	/*margin:5px 10px 15px 20px;*/
	border: 1px solid #808080;
	/*width: 460px;
	height: 300px;
	background: #fff;*/
}
#d_alarms .factor_content div {
    margin: 20px 15%;
}
#d_alarms .factor_content .tolerate{
	text-align: center;
}
#d_alarms .factor_content div{
	margin: 20px 15%;
}
#d_alarms .factor_content div label{
	margin: 0 5px;
}
#d_alarms .factor_content input[type='text'],#d_alarms .factor_content select{
	width: 162px;
}
#d_alarms .factor_content .condition select, #d_alarms .factor_content .condition input{
	width: 50px;
}
#d_alarms .area_btn{
	text-align: center;
	margin-bottom:5px;
}
#d_alarms .add_becase .area_btn{
	margin: 50px 10px;
}
#d_alarms .factor_content .start{
	text-align: center;
	margin: 20px 0;
}
#d_alarms .add_factor .station_content{
	top: 92px;
	display: none;
	height: 250px;
	background:#fff
}

/*配置*/
/*.public_config{
	display: none;
	width: 560px;
	min-height: 380px;
	background: #f5f5f5;
	position: fixed;
	top: 80px;
	left: 24%;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}*/
.public_config p{
	margin: 5px 10px 0 0;
	color: #a8a8a8;
}
.public_config .config_content{
	padding: 0 10px;
	height: 80%;
}
.public_config .config_list{
	height: 40px;
	line-height: 40px;
}
.public_config .config_list button{
	border: 1px solid #c2e4f4;
	background: none;
	padding: 0 6px;
	height: 29px;
	line-height: 29px;
	color: #9ddaec;
	margin-right: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.public_config .config_list span{
	color: #aaaaaa;
	margin-right:5px;
}
.public_config .config_list input{
	vertical-align: -5%;
	border-color: #d7d7d7;
}
.public_config .config_list .line{
	background: #d9d9d9;
}
.public_config .config_btn{
	text-align: center;
	color: #fff;
	margin: 10px 0;
}
.public_config > p.right{
	cursor: pointer;
}
.public_config .config_btn .btn-sure{
	background: #009ff3;
}
.public_config .config_btn .btn-cancel{
	background: #c9c9c9;
}
.public_config  .config_list .left{
	/*width: 85%;*/
}
.public_config  .config_list .right{
	/*width: 10%;*/
	margin-right: 10px;
}
.public_config .config_list .left button{
	float: left;
	margin-top: 10px;
}
.public_config .config_list .left .renyuan{
	/*width: 340px;
	height: auto;
	float: left;*/
}
.public_config .config_list .left .renyuan .renyuan_span{
	display: inline-block;
	width: 105px;
	height: auto;
}
.task{
	background-color:#F29A76;
	color: #fff;	
}
.d_alarms_otherTable{
	overflow-y: scroll;
	width: 100%;
	height: 150px;
	background: #fff;
}
.h5FontSize{
	padding-left: 40px;
}

