/*工号管理主页面*/
.hide{
	display: none;
}
label{
	max-width:1000px !important;
}
#loginMsgs a{
	cursor: pointer;
}
#loginMsgs .public_table .stationSco{
	max-width: 350px;
    overflow-y:auto;
    text-align: left;
    max-height: 10px;
}
/*弹出框*/
#loginMsgs .area_content {
	margin: 10px 0;
}
#loginMsgs .public_box{
	width: 100%;
	height: 150%;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#loginMsgs .public_box .public_area h4 span{
	cursor: pointer;
	margin-right: 10px;
}
#loginMsgs .form-group{
	/*margin: 5px 0;*/
}
#loginMsgs .cs{
	margin-top: -30px;
	padding-left: 40px;
}
#loginMsgs .passFontSize{
	font-size: 13px;
	margin-top: 5px;
}
#loginMsgs .public_box .public_area{
    position: absolute;
   width: 650px;

    background: #fff;
    position: absolute;
    top: 85px;
    left: calc(50vw - 275px);
    border-radius: 5px;
  
}
#loginMsgs .form-horizontal .control-label{
	padding-top: 0px;
}


#loginMsgs .sBtn{
	position:relative;
	display: table-cell;
}
#loginMsgs .newNumber{
	margin-bottom:10px;
	height:34px;
	margin-left: 20px;
}
#loginMsgs .newNumber .condition{
	float:left;
	margin-top:4px;
}
#loginMsgs .newNumber .condition .style{
	
    padding-left: 2px;
	height: 25px;
	line-height:25px;
}
#loginMsgs .newNumber .condition select{
	height: 25px;
	line-height:25px;
}
#loginMsgs .newNumber .condition .search{
	margin:0 20px;
	height:29px;
	line-height:15px;
	padding:6px 10px;
	background-color: #009FF3;
   
}
#loginMsgs .newNumber .condition span{
	margin: 0 5px 0 0;
    color: #6ebbea;
}
#loginMsgs .addno{
	text-align:left;
	position:relative;
	float:left;
	margin-top:4px;
}
#loginMsgs .newNumber .addno>span{
	position:absolute;
	top:8px;
	right:73px;
	color:#fff;
}
#loginMsgs .newNumber .btnNew{
	padding-left:26px;
	color:#fff;
	height:29px;
	line-height:28px;
}

#loginMsgs .sBtn a:hover{
	text-decoration: underline !important;
}
#loginMsgs #search-units .choose-sites{
	left: 32%;
    top: 5px;
	z-index: 9999;
	font-size: 12px;
}
/**工号修改页面**/
#edit>p{
	padding-left: 5px;
    background: #eff1f0;
    height: 34px;
    line-height: 34px;
}
#edit>p>span{
	margin: 0 5px;
    color: #6ebbea;
}
#edit form{
	overflow:hidden;
	padding:20px 0;
}
.field{
	float:left;
	width:48%;
	overflow:hidden;
	margin:10px 0;
}
.field label{
	text-align:right;
	height:30px;
	line-height:30px;
	font-weight: 400;
}
.sBtn{
	display:inline-block;
}
 .field .fieldChild{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height:28px;
    color: #555;
	text-align:right;
	margin:0;
	font-weight:normal;
}
 .field>div{
	height: 34px;
	line-height:34px;
	padding:0;
}
 .field>div input[type="radio"]{
	cursor:pointer;
}

#search-station .choose-site .tab-station .list-city span{
	cursor:pointer;
}
#search-station .choose-site .tab-station .list-city span input{
	cursor:pointer;
}
 .field>div .some_class{
	width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
	border: 1px solid #ccc;
    border-radius: 4px;
}
 .describeBox{
	float:left;
	width:82%;
	margin-bottom:20px;
	margin-top:10px;
}
 .describeBox>div{
	padding:0;
}
.describeBox label{
	text-align:right;
	line-height:40px;
	font-size:14px;
	color:#555;
	font-weight:normal;
}
 .describeBox  .describe{
	vertical-align:middle;
	height:40px;
	border-radius:4px;
	border: 1px solid #ccc;
}
 .editNo{
	float:left;
	width:100%;
	margin-bottom:20px;
}
 .editBtn{
	float:left;
	width:100%;
	margin-bottom:20px;
	margin-left:17.9666%;
}
#loginMsgs .selectTime #chooseRegion {
	width: 20%;
	padding-top: 10px;
}


/*站点*/
#single-station1{
	top: 0px;
	left: 60px;
}
	.single-station{
		position: absolute;
	    width: 500px;
	    padding: 0 5px;
	    background: #F5F5F5;
	    top: 18%;
	    left: calc(50vw - 250px);
	    z-index: 999999;
	    display:none;
	    border-radius:10px;
	}
	.single-station .regionCode_content{
		display: inline-block;
		width: calc(90% / 3);
		margin: 0 2px;
	}
	.single-station .regionCode {
		margin-left: 10%;
	}
	.single-station > .content{
		margin-bottom: 10%;
		max-height: 300px;
		overflow-y: auto;
	}
	.single-station .footer{
		width: 100%;
		position: absolute;
		bottom: 5px;
		text-align: center;
	}
	.single-station .footer button{
		margin: 0 10px;
	}
	.single-station .footer .single-btn{
		background-color:#558ad8;
		border: none;
		color: #fff;
	}
	.single-station p{
		height: 20%;
	}
	.single-station p .radio-box{
		vertical-align: -40%;
	}
	.single-station p span{
		margin:0 5px;
		cursor: pointer;
	}
	.single-station p input{
		margin: 0;
		height: 25px;	
	}
	
	.single-station button{
		margin-right: 10px;
		color: #42B3F5;
	}
	.single-station p span{
		display: inline-block;
		height: 25px;
		line-height: 25px;
	}
	.single-station .content p .btn {
		background: none;
		border: 1px solid #c2e4f4;
		width: 70px;
	}
	#loginMsgs .newNumber .btn{
		color: #FFFFFF;
	}
	#single-station2 .tab-station .station-one{
		clear: both;
		
	}
	#single-station2 .tab-station p span{
		vertical-align: top;
	}
	#single-station2 .tab-station .station-two p{
		width: 120px;
		display: inline-block;
	}
	#single-station2 .tab-station .station-two{
		margin-bottom: 10px;
        margin-left: 10px;
	}
	#single-station2 .tab-station small{
    display: none;
}
/*查看工号*/
#check{
	margin-bottom:20px;
}
#check .numberQuery{
	height: 34px;
    line-height: 34px;
    background: #eff1f0;
	margin-bottom:20px;
}
#check .numberQuery>span{
	margin: 0 5px;
    color: #6ebbea;
}
#check>p{
	height:30px;
	line-height:30px;
	border:1px solid #ddd;
	border-top:0;
}
#check>p:nth-child(2){
	border-top:1px solid #ddd;
}
#check>p:nth-child(2n){
	background: #ecf8f8;	
}
#check>p>strong{
	display:inline-block;
	width:300px;
	height:30px;
	line-height:30px;
	text-align:right;
	padding-right:10px;
	border-right:1px solid #ddd;
}
#check .field{
	margin-top:20px;
}
.editBox{
	margin-top:30px;
}
/*增加工号*/
.warn{
	width:35%;
    padding:5px 0;  
    margin-bottom: 0;
}

#loginMsgs .control-error {
	width: 30%;
	float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    text-align: center;
    margin-right: 40px;
    background-color: #d9534f;
    border-radius: 4px;
    color: #ffffff;
}
 #loginMsgs .control-success {
 	width: 30%;
    padding-top: 5px;
    float: right;
    line-height: 25px;
    padding-bottom: 5px;
    margin-bottom: 0;
    text-align: center;
    margin-right: 40px;
    background-color: #5cb85c;
    border-radius: 4px;
    color: #ffffff;
}
#loginMsgs .control-default {
	/*width: 150px;*/
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0;
    text-align: center;
    /*float: right;*/
    /*margin-right: 40px;*/
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    color: #666;
}
.register{
	margin-top: 8px;
	margin-left: 45%;
}
.edit_btn{
	/*width: 25%;
	margin-left: 30%;*/
}





/*重置密码*/
#loginMsgs .handle{
	position: relative;
}
#loginMsgs .reset_passwd{
	/*top: -60px;
	left: 25%;	*/
	left:-98px;
	 border: 1px solid #ddd;
    padding: 10px 10px;
    background: #fff;
    position: absolute;
    width: 200px;
    height: 120px;
    display: none;
    border-radius: 3px;
    font-size: 14px;
    color:#404040;
    border-radius: 2px;
    z-index: 99;
}
#loginMsgs .reset_passwd button{
	margin-top: 10px;
    width: 80px;
    height: 34px;
}
#loginMsgs .reset_passwd button{
	border-radius: 2px;
}
#loginMsgs .form-horizontal .choice2{
	margin-left: 10px;
	background-color: #558ad8;
	color: #fff;
}

/*#loginMsgs #addModal .modal-body,#loginMsgs #editModal .modal-body{
	max-height: 450px;
    overflow-y: auto;
}*/
#addModal,#editModal,#taskModal{
	padding-bottom: 300px;
}

#fenModal .modal-body{
	max-height: 450px;
    overflow-y: auto;
}




