body, html{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}
#allmap {
	width: 100%;
	height: 98%;
	/*overflow: hidden;*/
	border: 1px solid #ccc;
	margin: 10px;
}
#allmap{
	display: none;
}
#r-result{
	display: none;
	padding: 10px;
}
#searchResultPanel{
	display: none;
}
#dStations table tbody .stop, #dStations table tbody .revise, #dStations table tbody .config{
	cursor: pointer;
}
.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;    
    white-space: nowrap;
}
/*.public_table table tbody tr td{
	max-width: 180px;
	min-width: 90px;	
}*/
#allmap .public_table table tbody tr td{
	max-width: 180px;
	min-width: 90px;	
}
.public_table table thead >tr th {
	color: #fff;
	font-size: 13px;
}
.public_table .handle_width{
	min-width: 130px;
}
/*遮罩层*/
#public_box{
	width: 100%;
	height: 200%;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#public_box .public_area,#public_box .public_revise{
	position: absolute;
	width: 580px;
	background: #fff;
	position: absolute;
	top: 80px;
	left: calc(50vw - 260px);
	border-radius: 5px;
}
/*.area_content .btn{
	color: #fff;
	background-color: #bfbfbf;
}*/

.public_area h4,.public_area > label,.public_revise h4,.public_revise > label{
	color: #666666;
}
.public_area h4,.public_revise h4{
	text-align: center;
	margin-top: 25px;
	margin-bottom:20px;
	font-size: 15px;
	color: #333;
	font-weight: 600;
}
.public_area h4 .close,.public_revise h4 .close{
	font-weight: 400;
	margin:-5px 10px 0 0;
	color:#646464;
	font-size:16px;
}
.public_area label,.public_revise label{
	font-size: 12px;
	margin: 0 5px;

}
.reset_password .form-group .passFontSizes{
	font-size: 13.3px;
	text-align: left;
}
.public_area input,.public_area select,textarea,.public_revise input,.public_revise select{
	border:1px solid #f1f1f1;
}
.public_area .area_content,.public_revise .area_content{
	margin: 10px;
	width: 100%;
	position: relative;
}
/*.public_area  .area_content .filed,.public_revise  .area_content .filed{
	margin: 10px 0;

}*/
.public_area  .area_content .left,.public_revise  .area_content .left{
	width: 60%;	
}
.public_area  .area_content .right,.public_revise  .area_content .right{
	width: 35%;
	margin-right: 10px;
}
.public_area  .area_content .right input[type="text"],.public_revise  .area_content .right input[type="text"]{
	width: 100px;
	display: inline-block;
	font-size: 11px;
	height: 20px;
}
/*.public_area  .area_content .filed select,.public_revise  .area_content .filed select{
	
	font-size: 10px;
	color: #999999;
	width: 100px;
	height: 20px;
}*/
.public_area .area_btn,.public_revise .area_btn{
	text-align: center;
	margin: 20px 0;
	color: #fff;
	clear: both;
	padding-top: 20px;
}
.choose{
	background: #558ad8;
	color: #fff;
}
.area_btn .btn-cancel{
	background: #c9c9c9;
}

.public_area .reset_password .form-group .passFontSize{
	text-align: right;
	margin-top: 8px;
	font-size: 14px;
}
.public_area .reset_password .form-group .col-xs-5{
	margin-bottom: 20px;
}

/*选择区域*/
.area_content .regionChoose{
	position: absolute;
	left: 1.5%;
	top: 10%;
	display: none;
	background: #f5f5f5;
	
}
.area_content .regionChoose .Region_content {
	margin:2%;
	max-height: 300px;
	overflow-y: auto;
	color: #666;
}
.area_content .regionChoose .Region_content .region_top{
	clear: both;
	margin-top: 10px;
}
.area_content .regionChoose .Region_content .region_content div{
	display: inline-block;
	width: 110px;
}
.area_content .regionChoose .Region_content .region_top .top_reginID, 
.area_content .regionChoose .region_content .regionID {
	display: none;
}
.area_content .regionChoose .Region_content .region_top .btn{
	border: 1px solid #c2e4f4;
	color: #fff;
	background: #9ddaec;
}
.Region_content .region_content .regionName{
	color: #666;
}
.area_content .regionChoose .region_btn {
	margin-bottom:2%;
	text-align:center;
}
.area_content .regionChoose .region_btn .btn-sure {
	background: #558ad8;
}
.area_content .regionChoose > .pull-right {
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
}
.filed .regionID{
	display: none;
}

    
/*配置*/
/*.public_config{
	display: none;
	width: 560px;
	height: 380px;
	background: #f5f5f5;
	position: fixed;
	top: 80px;
	left: 24%;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}*/
.public_config p{
	margin: 5px 10px 0 0;
	color: #a8a8a8;
}
.public_config .region_name{
	border-bottom: 1px solid #DDDDDD;
	margin-left: 10px;
	margin-right: 10px;
}
.public_config .region_name p{
	width: 56px;
	height: 32px;
	background-color: #558AD8;
	color: #fff;
	margin-bottom: 10px;
	line-height: 32px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
}
.public_config .config_content{
	padding: 0 10px;
	height: 80%;
}
.public_config .config_list{
	height: 40px;
	line-height: 40px;
}
.public_config .config_list2{
	display: none;
}
.public_config .config_list button{
	border: 1px solid #c2e4f4;
	background: none;
	padding: 0 6px;
	height: 29px;
	line-height: 29px;
	color: #9ddaec;
	margin-right: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.public_config .config_list span{
	color: #404040;
	margin-right:5px;
	font-size: 13px;
}
.public_config .config_list input{
	vertical-align: -5%;
	border-color: #d7d7d7;
	margin-right: 5px;
}
.public_config .config_list .line{
	background: #d9d9d9;
}
.public_config .config_btn{
	clear: both;
	text-align: center;
	color: #fff;
	padding: 25px 0;
}
.public_config > p.right{
	cursor: pointer;
}
.public_config .config_btn .btn-sure{
	background: #558ad8;
	margin-right: 5px;
}
.public_config .config_btn .btn-cancel{
	background: #c9c9c9;
}
.public_config  .config_list .left{
	width: 100%;
}
.public_config  .config_list .right{
	/*width: 10%;*/
	margin-right: 10px;
}
.public_config .config_list .left button{
	float: left;
	margin-top: 10px;
}
.public_config .config_list .left .renyuan{
	/*width: 340px;*/
	height: auto;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
.public_config .config_list .left .renyuan .renyuan_span{
	display: inline-block;
	width: 105px;
	height: auto;
}
#configModal .modal-footer{
	clear: both;
}
/*站点名称表单验证*/
#dStations .control-default, #dStations .control-success, #dStations .control-error{
	width: 30%;
}

/*新增站点*/
.new_add_btn,.new_add_btn:active,.new_add_btn:hover,.new_add_btn:focus,.new_add_btn:visited{
	color: #333;
	border: none;
	background-color: #ffdf01;
	outline:none;
	border-radius: 2px;
}
.area_content .status span{
	/*font-size: 11px;*/
	vertical-align: text-top;
}
.area_content textarea{
	width: 450px;
	vertical-align: top;
}
/*.area_content .left input,.filed_val{
	font-size: 11px;
	width: 165px;
	height: 30px;
}*/
#add_station_form .form-group button,#edit_station_form .form-group button{
	margin-left: 10px;
}
