.workPerson{
    display: inline-block;
    color: #558AD8;
}
.lookFor{
    float: left;
    color: #558AD8;
}
#d_task_formsOther{
    display: none;
    margin-bottom:300px;
}
.basicList{
    margin-left: 100px;
    font-size: 12px;
}
//.basicList,.particularList,.particularList2{
//  padding: 20px 40px;
//}

.basic{
    font-size: 16px;
    padding: 20px;
    border-bottom: 1px solid #558ad8;
    color: #558ad8;
}
.basicLists{
    display: inline-block;
    width: 120px;
    font-size: 12px;
}
.basicList div span,.particularList div span{
    font-size: 12px;
}
.seeTypes span{
   display: block;
   font-size: 14px; 
}
//.seeTypes{
//  margin-top: -20px;
//  margin-left: 80px;
//}
.basicList div{
    margin: 10px;
}
.particularList{
    display: none;
}
.particularList2{
    display: none;
}
.particularList2 .row{
    margin: 10px;
}
.dTaskMainTop{
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #558ad8;
}
.workNews{
    line-height: 2em;
    padding-left: 15px;
    font-size: 14px;
    color: #337ab7;
    margin:20px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
}
.listNews span span{
    float: left;
    width: 400px;
    font-size: 13px;
    margin: 10px 20px;
}
.listNews{
//  width: 500px;
    height: 50px;
}
.dTaskMainNews{
    height: 260px;
}
#particular .sta-par,#particular .fault-par{
    display: none;
}
#monthJobs,#jiJobs,#hal_yearJobs{
    display: none;
}
#yichangtimes input{
    display:inline-block;
    width: 160px;
}
// .unit_name .btn{
//  border: 1px solid #c2e4f4;
//  color: #fff;
//  background: #9ddaec;
//}
.unit_name span{
    font-weight: 600;
    color: #558AD8;
}
 .unit_user div{
    display: inline-block;
    width: 100px;
}
 .unit_user{
    margin-bottom: 10px;
}
#send_per .unit_send{
    padding-bottom: 10px;
}
.look_insp{
    display: inline-block;
    margin: 10px;
    width: 350px;
}
.look_insp img,{
    border: 1px solid #EAEAEA;
    width: 250px;
    height: 150px;

}
.look_insp .handle_name{
    padding: 5px;
    width: 175px;
    white-space:nowrap;
    text-overflow:ellipsis; 
    overflow:hidden;
    border: 1px solid #ccc;
    background-color: #F7FCFF;
    color: #333;
    border-radius: 3px;
}
.look_insp .handle_name img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border: none;
}
.look_insp .handle_name span{
    display: initial;
}
.base64_code {
    display: none;
}
#img_upload {
    border: none;
}
.zoomify { cursor: pointer; cursor: -webkit-zoom-in; cursor: zoom-in; }
.zoomify.zoomed { cursor: -webkit-zoom-out; cursor: zoom-out; padding: 0; margin: 0; border: none; border-radius: 0; box-shadow: none; position: relative; z-index: 1501;width: 100%;height: 100%; }
.zoomify-shadow { position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; display: block; z-index: 1500; background: rgba(0, 0, 0 , .3); opacity: 0; }
.zoomify-shadow.zoomed { opacity: 1; cursor: pointer; cursor: -webkit-zoom-out; cursor: zoom-out; }
#d_task_formsOther .particularList2 #files,#d_task_formsOther .particularList2 #prvid{
    float: left;
}
#d_task_formsOther .particularList2 #prvid img{
    width: 300px;
    height: 200px;
}

#lookBack,#plan_edit #editBback,#ops_audit_detail #detilBack,#ops_looks #look_back{
    float: right;
    width: 80px;
    margin-bottom: 10px;
}
#ops_looks #look_back{
    margin-top: -10px;
    margin-right: 10px;
}
#d_task_formsOther #particular .form-group .col-sm-5{
    margin-top: 9px;
    margin-left:10px;
}
.dTaskTop{
    margin: 0 auto;
    display: block;
    height: 100px;
}
.dTaskTop ul{
    margin-top: 30px;
}
.dTaskTop li{
    position: relative;
    text-align: center;
    width: 16%;
    float: left;
}
.dTaskTop .round{
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #999;
    text-align: center;
    display: inline-block;
}
.dTaskTop .line_bg{
    height: 2px;
    background: #999;
    display: inline-block;
    width: 50%;
    top: 9px;
    position: absolute;
    z-index: 1;
//  opacity: .3;
//  filter: alpha(opacity=30);
}
.dTaskTop .lbg-txt{
    position: relative;
    color: #666;
    font-size: 14px;
}
.dTaskTop .lbg-l {
    left: 0;
}
.dTaskTop .lbg-r {
    right: 0;
}
.dTaskTop .on .round,.dTaskTop .on .line_bg{
    background-color: #558ad8;
}
.dTaskTop .on .lbg-txt{
    color: #558ad8;
}
.dTaskTop ul li:first-child .lbg-l,.dTaskTop ul li:last-child .lbg-r{
    display: none;
}
#equip_looks .dTaskTop li,#fault_looks .dTaskTop li{
    width: 15%;
}
#data_abnormal_look,#data_abnormal_edit,#map_tables{
    margin-bottom: 300px;
}
 .check-list-box{
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: 0;
    padding-top: 20px;
    border: none;
    overflow: auto;
    background: #fff;
}
 .check-list-box .check-list{
    width: 1000px;
    margin: 0 auto;
}
 .check-list-box .check-list-content input[type="text"]{
//  width: 200px;
    height: 30px;
//  margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}
 .check-list-box .check-list-content .check-list-table tr{
    height: 45px;
}
.seeTypes .handle_name{
    cursor: pointer;
}
#typeListBox{
    display: none;
}
#d_task_formsNews #typeListBox #Save,#fault_looks #typeListBox #Save{
    display: none;
}
.input-sm {
    width: 60px !important;
}
#supplyDemo .supcon div img{
    width: 60px;
}
#supplyLook img{
    width: 60px;
}
