 #public_table p{
	margin-top: 10px;
}

#daily_report #public_table table td,#energy_report #public_table table td{
	/*width: 25%;*/
	/*height: 42px;*/
	line-height: 26px;
}
 #public_table table td input[type="text"]:disabled{
	background-color: #fff;
}
 #public_table .Work_name{
	font-size: 15px;
	margin-left: 2px;
    padding-right: 15px;
    color: #202020;
    /*border-right: 1px solid #eeeeee;*/
}
 #public_table .time{
	margin-left: 15px;
    color: #999;
}
#public_table .state{
	float: right;
    margin-right: 2px;
    color: red;
}
#quality_report  #save{
	background-color: #00923f;
	color: #fff;
	padding: 6px 30px;
}
/*#public_table .table_button button{
	margin-top: 6px;
  padding: 6px 30px;
   float: right;
   margin-right: 15px;
}
 #public_table .table_button{
	height: 50px;
	margin-top: -60px;
}*/
 #public_table table input{
	border: none;
	width: 100%;
	height: 34px;
	text-align: center;
}

#energy_report .ty-group button{
	width: auto;
}

/*公司生产日报*/
/*.ty-group{
    background: #fff;
    width: 100%;
    height: 50px;
    padding-top: 14px;
    padding-left: 10px;
}
.ty-group button{
	width: 70px;
	height: 30px;
	border-color: #f1f1f1;
}*/
.plant_title_btn{
    background: #fff;
    width: 100%;
    height: 50px;
    padding-top: 14px;
    padding-left: 10px;
}
.plant_title_btn button{
	width: 70px;
	height: 30px;
	background-color: #f6f6f6;
}
.plant_title_btn button.btn-chack{
	background-color: #00923f;
    color: #fff;
}
.plant_title_btn button:hover{
	background-color: #00923f;
    color: #fff;
}
.plant_title_btn button:active{
	color: #fff
}
/*公司生产月报*/
.chartContent{
	/*margin-top: 10px;*/
	background: #fff;
	display: none;
}


/*能源上报*/
#energy_report #public_table #water_report table td{
	width: 17%;
}


#pollution_report .ty-group button{
	width: 100px;
}
#quality_report #quality_table td{
	padding: 0px;
}
#quality_report #quality_table table{
	width: 100%;
	height: 100%;

}
#quality_report #quality_table table td{
	height: 42px;
	line-height: 42px;
	width: 14%;

}
#quality_report .delLine{
	cursor: pointer;
}
#fermentation_plant_form #WorkshopDetails #public_table td{
	padding: 0px;
}
#fermentation_plant_form #WorkshopDetails #public_table table td table{
	width: 100%;
	height: 100%;

}
#fermentation_plant_form #WorkshopDetails #public_table table td table td{
	height: 42px;
	line-height: 42px;
	width: 16%;
}
.zjt-table table{
    width: 100%;
    height: 100%;
}
/*table td table{*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/
/*table td table td{*/
	/*height: 42px;*/
	/*line-height: 42px;*/
	/*!*width: 13%;*!*/
/*}*/
#energy_daily_form #water_report #pollution-table td{
	padding: 0px;
}
#energy_daily_form #water_report #pollution-table th{
	padding: 0px;
}
#energy_daily_form #water_report #pollution-table th table th{
	width: 17%;
}
.green{
	background-color: #00923f;
	color: #fff;
}
/*#excell-table .zjt-table tr td{*/
	/*width: 20%;*/
/*}*/
/*#excell-table .zjt2-table tr td{*/
	/*width: 17%;*/
/*}*/
#company_statement .navTop .tableName{
	cursor: pointer;
}
.titleCheck{
	color: #00923F !important;
}

#quality_report #quality_table .qualityItemsChecked{
	background-color: #00923f;
    color: #fff;
}
#quality_report #quality_table .items{
	cursor: pointer;
}
#quality_report .state{
	float: inherit;
	margin-left: 15px;
}
#quality_report #public_table .table-title{
	margin-top: 10px;
	margin-bottom: 10px;
}
#quality_report #public_table .table-title button{
	float: right;
	margin-right: 15px;
	background: #fff;
	margin-bottom: 10px;
}
#quality_report #public_table .table-title button:hover{
	background-color: rgba(0,0,0,0.1);
	
}
#quality_report #public_table .table-title button[disabled]:hover{
	cursor: not-allowed;
}
#quality_report #public_table #trAdd{
	color: #00923f;
}
#quality_report #public_table #trDel{
	color: red;
}
#quality_report #public_table .showDel{
	display: none;
}
#quality_report #public_table .table-title2{
	position: fixed;
    height: 40px;
    line-height: 40px;
    background: #fff;
    width: 99%;
    left: 0px;
    display: none;
    padding-left: 10px;
    top: 0px;
    margin-top: 0px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    
}
#quality_report #public_table .table-title2 button{
	margin-top: 5px;
}
#quality_report .Tips{
	height: 40px;
	line-height: 40px;
	background: #fff;
	color: red;
    padding-left: 15px;
}
#quality_report .Tips span{
    margin-right: 10px;
    cursor: pointer;
}
