.table-top{
	width: 100%;
    max-width: 100%;
	background-color: #eaeaea;
	color: #009FF3;
	height: 25px;
	line-height: 25px;
	}

	.table-top  span{
		display: inline-block;
		margin: 0px 20px;
		vertical-align: text-bottom;
	}
	.table-top a{
		display: inline-block;
		width: 13px;
		height: 13px;
		margin-right: 5px;
	}
	.table-top .overtop a{
		background-color: #f89406;
	}
	.table-top .lower a{
		background-color: #ff514c;
	}
	.table-top .com{
		float: right;
	}

#data_statistics table tbody tr td span{

	width: 10px;
	height: 10px;
	border-radius: 5px;
	float: left;
	margin-top: 2px;
}
.colorRed{
	background: #f89406;
	display: inline-block;
}
.colorYellow{
	background: #ff514c;
	display: inline-block;
}	

	/*优良天数*/
	#start_datetime{
		position: relative;
	}
	.public_search .date{
		position: absolute;
		/*top: 26%;*/
	    left: 5%;
	    width: 170px;
	    border: 1px solid #ddd;
	    padding: 5px;
	    background-color: #fff;
	    display: none;
	    height: 165px;
	}
	.public_search .date p{
    margin: 0;
    text-align: center;
}
.public_search .date table{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.public_search .date td {
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 11px;
    color: #666;
    text-align: center;
    cursor: pointer;
}
.public_search .date td:hover {
    background-color: sandybrown;
}
.tdselect {
    background-color: #33AAFF;
    color: #FFFFFF;
}
.public_table .table  tr th{
	vertical-align: middle;
}

