#data_statistics .abnormal_table table tbody tr td{
    width: 14%;
}
#data_statistics .ajustTable table thead th{
	width: 10%;
}
#data_statistics .ajustTable .tables{
	width: 98.7%;
	margin-bottom: 0;
}
#data_statistics .tableScoll{
	width: 100%;
	background: #7fcff4;
}
.abnormal_table{
	width: 100%;
	overflow-y: scroll;
	max-height: 550px;
}
#single_station_pollutants_analysis .tableScoll{
	width: 100%;
	background: #7fcff4;
}
#single_station_pollutants_analysis .ajustTable .tables{
	width: 98.7%;
	margin-bottom: 0;
}
#single_station_pollutants_analysis .abnormal_table table tbody tr td{
    width: 14%;
}
#single_station_pollutants_analysis .ajustTable table thead th{
	width: 10%;
}


#station_validity .tableScoll{
	width: 100%;
	background: #7fcff4;
}
#station_validity .ajustTable .tables{
	width: 98.7%;
	margin-bottom: 0;
}
#station_validity .abnormal_table table tbody tr td{
    width: 10%;
    cursor: default;
}
#station_validity .ajustTable table thead th{
	width: 10%;
	cursor: default;
}