/*异常配置*/

.abnormal table th {
	padding: 0;
	margin: 0;
	height: 38px;
	line-height: 38px;
	color: #666666;
	text-align: center;
}
.table th{
	padding: 0;
	height: 38px;
	line-height: 38px;
}
.table tr{
	cursor: pointer;
}
.abnormal table td {
	padding: 0;
	margin: 0;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
}
 table td.yellow{
	background-color: #ffff01;
}
 table td.green{
	background-color: #00cd62;
}
 table td.gray{
	background-color: #999999;
}
.today span {
	display: inline-block;
	margin: 0 8px;
	font-size: 12px;
}

.today span,a {
	display: inline-block;
	vertical-align: middle;
}

.today span a {
	width: 13px;
	height: 13px;
	
}

.today span.normal a {
	background-color: #00cd62;
}

.today span.unnormal a {
	background-color: #ffff01;
}

.today span.outline a {
	background-color: #999999;
}

.tr-child {
	display: none;
}

.abnormal table .station-list {
	color: #009ff3;
	background-color: #FFFFFF;
	cursor: pointer;
}

.abnormal table .td-selected {
	border-left: 5px solid #009ff3;
	background-color: #EEEEEE;
}
.abnormal table .station-child-list {
	color: #5fc7fe;
	font-size: 12px;
	background-color: #FFFFFF;
}
.self-date th{
	font-size: 12px;
}
.except_box{
	position: absolute;
    width: 750px;
    height: 350px;
    background: #f5f5f5;
    position: absolute;
    top: 16%;
    left: calc(50vw - 375px);
    display: none;
    padding-right: 10px;
}
.today-time{
	color: #666666;
}
.except_box h4{
	color: #009FF3;
}
.except_box h4 span{
	cursor: pointer;
}
.one a{
	background-color: yellow;
}
.two a{
	background-color: orange;
}
.three a{
	background-color: red;
}
.exPage{
	display: none;
}
.exPageNews{
	display: none;
}
.perpro-table{
	overflow-y: scroll;
	height: 300px;
}
.station_img img{
	float: left;
    width: 25px;
    height: 10px;
    margin-left: 18px;
}
.bord{
	border: 1px solid red;
	position: relative;
	z-index: 99999;
}
.abnormal_table .table tbody tr td{
    width: 3.75%;
}
.abnormal .ajustTable .tableScoll table thead .self-date th{
	width: 3.77%;
}

.abnormal .ajustTable .tables{
	width: 98.7%;
	margin-bottom: 0;
}
.abnormal .tableScoll{
	width: 100%;
	/*background: #7fcff4;*/
}
