#unsuall .add_example{
	display: none;
}
/*#unsuall .add_factor{
	position: absolute;
	width: 500px;
	height: 510px;
	background: #fff;
	position: absolute;
	top: 70px;
	left: calc(50vw - 200px);
	/*background: #f0f0f0;*/
	border-radius: 4px;
}*/
/*#unsuall .add_factor .tab-top, #unsuall .add_factor .station_btn{
	display:none;
}*/
#unsuall .add_factor .station_list > .left {
	margin: 20px 10px 10px 10px;
}
#unsuall .add_factor .station_content small {
	display: none;
}
#unsuall .add_factor h4{
	text-align: center;
	margin:20px 10px;
}
#unsuall .add_factor h4 .right{
	margin:0 10px;
}
#unsuall .factor_content, #unsuall .add_factor > .station_content{
	/*margin:10px 20px 10px 20px;*/
	border: 1px solid #808080;
	/*width: 460px;*/
	height: 350px;
	overflow-y: auto;
}
#unsuall .factor_content {
	background: #fff;
}
#unsuall .factor_content .tolerate{
	text-align: center;
}
#unsuall .factor_content .tolerate span{
	vertical-align: top;
	font-size: 11px;
	color: #999999;
}
#unsuall .factor_content div{
	margin: 20px 10%;
	font-size: 12px;
}
#unsuall .factor_content .discribe{
	text-align: center;
	height: 40px;
	background: #d2d2d2;
	line-height: 40px;
}
#unsuall .factor_content .discribe p span {
	font-size: 12px;
}
#unsuall .factor_content div label{
	margin: 0 5px;
}
#unsuall .factor_content input[type='text'],#unsuall .factor_content select{
	width: 162px;
	height:28px;
	font-size: 11px;
	color: #999;
}
#unsuall .factor_content .condition select, #unsuall .factor_content .condition input{
	width: 50px;
}
#unsuall .area_btn{
	margin-bottom: 0;
    position: absolute;
    bottom: 2%;
    left: 40%;
}
#unsuall .add_becase .area_btn{
	margin: 50px 10px;
}
#unsuall .exam_top{
	margin: 0 20px;
}
#unsuall .exam_top span{
	font-size: 13px;
	margin-right: 10px;
}
#unsuall .exam_top .btn_exam{
	background-color: #009ff3;
	border: #0099FF;
}
#unsuall .exam_top .btn_station{
	background-color: #f29a76;
}
#unsuall .factor_content .start{
	text-align: center;
	margin: 20px 0;
}
#unsuall .add_factor .station_content{
	top: 16%;
	display: none;
	height:350px;
	background:#fff;
	left: 31.5%;
}
#unsuall .add_factor .station_list2{
	display: none;
}
#unsuall .add_factor .list-city-station{
	margin: 10px 50px;
	display: none;
}
#unsuall .list-station .list-city > span a {
	cursor: pointer;
}
#unsuall .add_factor .tab-station{
	margin: 10px 0 0 20%;
}
#unsuall table tr td {
	width: 200px;
}

#unsuall .warn{
    width:30%;
    padding:5px 0;  
    margin-bottom: 0;
}

#unsuall .control-error, #unsuall .control-success, #unsuall .control-default{
    width: 30%;
}
.add_factor textarea{
	width: 180px;
	vertical-align: top;
}

