.reports .abnormal_table table tbody tr td{
    width: 10%;
}
.reports .ajustTable table thead th{
	width: 10%;
}
.reports .ajustTable .tables{
	width: 98.7%;
	margin-bottom: 0;
}
.reports .tableScoll{
	width: 100%;
	background: #7fcff4;
}
.reports .abnormal_table table tr .thWi{
	width: 5%;
}
.reports .ajustTable table thead .thWi{
	width: 5%;
}