#fault_jobs{
	margin-bottom: 300px;
}
.form-group-tilte {
    position: relative;
    display: block;
    color: #207AAE;
    padding: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
}
#fault_add{
	display: none;
	max-height: 650px;
	overflow-y: auto;
	overflow-x: hidden;
}
.form-btn-box{
	/*position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    border-top: 1px solid #ddd;
}
#fault_phenomenon label{
	display: block;
}
#search-station2 .search-line {
    height: 20px;
    border: 0.5px dotted #cccccc;
    display: inline-block;
    margin:5px 15px 0 25px;
}
#search-station2 .choose-site {
    position: fixed;
    border: 1px solid #cccccc;
    top: 40px;
    left: 16%;
    padding-top: 10px;
    box-shadow:0 2px 1px 0px #efefef inset;
    z-index: 999;
    background: #fff;
    display: none;
    width: 80%;
}
#search-station2 .choose-site .tab-top  {
/*//  width: 100%;*/
    border-bottom: 1px solid #d3d3d3;
}
#search-station2 .choose-site .tab-top  small {
    display: none;
}
#search-station2 .tab-top span {
    display: inline-block;
    text-align: center;
    line-height: 29px;
    height: 29px;
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-bottom: none;
    margin: 0 10px;
    color: #696868;
    font-size: 12px;
    cursor: pointer;
    padding: 0 3px;
}
#search-station .choose-site .station_content {
/*//  width: 100%;*/
    margin-top: 5px;
    max-height: 300px;
    overflow-y: scroll;
}

#search-station2 .choose-site .tab-station {
/*//  width: 100%;*/
    border-bottom: 1px solid #ededed;
    
}
#search-station2 .choose-site .tab-station p {
    display: inline-block;
    margin: 5px;
    width: calc(100% / 3);
}
#search-station2 .choose-site .tab-station .list-city-station{
    margin-left: 10%;
}
#search-station2 .choose-site .tab-station .list-city {
    vertical-align:20%;
}
#search-station2 .choose-site .station-btn {
    height: 50px;
}
#search-station2 .station-btn {
    float: right;
}
#search-station2 .station-btn span {
    display: inline-block;
    text-align: center;
    line-height: 29px;
    width: 50px;
    height: 29px;
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    color: #333;
    cursor: pointer;
    margin:10px 5px;
    font-size: 12px;
}
#search-station2 .choose-site .tab-station span:nth-last-of-type{
  /*border:1px solid red;*/
}
#search-station2 .tab-station .search-line:nth-of-type(1), #search-station .search-line:nth-last-of-type(1), #search-station .search-line:nth-of-type(2n+1){
    display: none;
}
#search-station2 small{
    display: none;
}
#search-station2 .choose-site .station_content {
    margin-top: 5px;
    max-height: 300px;
    overflow-y: scroll;
}
.edit_jobs{
	position: relative;
   
    padding-bottom: 20px;
    color: #3F4140;
    font-size: 14px;
    /*background: #fff;*/

}
 .fault_step{
	/*height: 80px;*/
	/*background-color: red;*/
}
 .check-list-title {
    padding: 15px 0;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}
 .check-second-title{
    padding: 0;
    /*margin-bottom:10px;*/
    line-height: 2em;
    padding-left: 15px;
    font-size: 14px;
    color: #337ab7;
    font-weight: normal;
    margin: 20px 0px 10px 0px;
    border-bottom: 1px solid #ddd;

}
 .check-list-content {
    padding: 10px;
    border-radius: 5px;
}
 .check-list-content .check-list-table td{
	border-top: none;
	text-align: left;
}
#fault_jobs .do{
	width: 150px;
    right: 20px;
    top: auto;
}
 .check-list-content .checkbox-radio {
    display: inline-block;
    width: auto;
    min-width: 70px;
    padding-left: 0px;
    margin: 0 5px 3px 0;
    font-weight: normal !important;
}
 .public_table .sendTypes span{
	display: block;
}
/*#ops_audits,#ops_looks,#ops_audit{
	max-height: 650px;
	overflow-y: auto;
}*/
#fault_add .panel,#d_task_formsOther .panel{
	padding-bottom: 20px;
}
#fault_writings #FaultProcess #DeviceInfo{
	display: none;
}
#fault_looks,#fault_writings{
	max-height: 650px;
	overflow-y: scroll;
}
.panel .public_table{
	padding:0px 20px 20px 20px;
}
#fault_looks #typeListBox #Save,#equip_looks #typeListBox #Save{
    display: none;
}