#file_maintenances .public_box .category,.article,.file-edit,.file-look{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#file_maintenances .public_box .public_area .addCategory,.addArticle,.files-edit,.files-look{
    position: absolute;
    width: 550px;
    background: #fff;
   
    top: 85px;
    left: calc(50vw - 275px);
    border-radius: 5px;
    }
 #file_maintenances .col-sm-2 {
    width: 25%;
    float: left;
    text-align: right;
}
#file_maintenances .public_box .public_area .area_content{
	position: inherit;
}
 #new_file_maintenance .form-group,.addCategory .form-group {
 	clear: both;
 	padding-top: 25px;
 }
 #new_file_maintenance .form-group .col-sm-6 {
 	/*margin-bottom: 15px;*/
 	margin-left: -25px;
 }
 /*#file_maintenances .form-group .col-sm-5 textarea{
 	width: 200px;
 	height: 100px;
 }*/
#myModal .modal-footer{
	margin-top: 25px;
}
 .contents-look{
 	word-break: break-all;
 	margin: 25px;
 }
