
#regions_edit{
	/*width: 100%;
	height: 150%;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	display: none;*/
}
  #handleStation  .content{
	/*width: 80%;
	margin: 0 auto;
	padding:50px 20px;*/
}

  #handleStation .content-outside{
	/*width: 80%;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	padding:5px 10px;
	border: 1px solid #b0c0d6;*/
}
#handleStation .right{
	margin-right: 15px;
}
  #handleStation .content-outside > p{
	padding-left: 0;
}
  #handleStation .content-inside{	
	background: #fff;
	border: 1px solid #b0c0d6;
}
  #handleStation .content-inside .line-top{
	border-bottom: 1px solid #d9dcdf;
	height: 30px;
	line-height: 30px;
}
 #handleStation .place{
 	font-size: 13px;
 }
  #handleStation .content-inside .line-top p{
	padding-left: 20px;
	color: #2b2b2b;
	font-weight: 400;
	height:30px;
	font-size: 14px;
	line-height:30px;
}
  #handleStation .content-inside .linea{
	border-bottom: 1px solid #d9dcdf;
	height: 30px;
	line-height: 30px;
}
  #handleStation .content-inside .linea span{
	display: inline-block;
	font-weight: 400;
	padding: 0 20px;
	font-size: 14px;
	border-right: 1px solid #e7e9ea;
	text-align: center;
	color: #3b3b3b;
}
#handleStation .checkall{
	padding: 0 20px;
}
  #handleStation.content-inside .linea input{
	border:0;
	outline:none;
}
 #handleStation .place{
	border: none;
	height:26px;
}
  #handleStation .content-outside .station_content{
	top: 16%;
	/*display: none;*/
	height:350px;
	background:#fff;
	left: 31.5%;
	overflow-y: auto;
	margin: 0 auto;
}
  #handleStation .content-outside .station_list2{
	display: none;
}
  /*#handleStation .content-outside .list-city-station{
	margin: 10px 50px;
}*/
  #handleStation .content-outside .tab-station{
	border-bottom: 1px solid #ededed;
}
#handleStation .content-outside .tab-station small,.handle_msg .editId{
	display: none;
}
.regionSubmit {
    width: 200px;
    display: block;
    margin: 10px auto;
    border: 0;
    border-radius: 3px;
}
#handleStation .station-one{
 	margin:0px 30px 0px 30px;
 	height: 25px;
 }
 #handleStation .station-one p{
 	font-size: 13px;
 }
 /*#handleStation .station-two p{
 	display:inline;
 	float: left;
 }*/
#handleStation .station-two{
 	margin-left: 30px;
 	margin-bottom: 10px;
 }
 #handleStation .station-two p{   
 	display: inline-block;
    margin: 5px;
    font-size: 13px;
    width: calc(100% / 5);}
 /*#regions_look .btn-cancel{
 	 width: 200px;
    display: block;
    margin: 10px auto;
    border: 0;
    border-radius: 3px;
 }*/
  #handleStation .search-line {

    display: inline-block;

}

#handleStation .regionSubmit{
	height: 38px;
	margin-top: 20px;
}
#handleStation tbody td .stationSco{
	max-height: 100px;
	overflow-y: auto;
	margin: 0 auto;
}
#handleStation table td{
	vertical-align: middle;
	min-width: 90px;
	max-width: 180px;
}
.updateNews{
	text-align: center;
}
