

header{
    width: 100%;
    height: 60px;
    background: #009ff3;
    line-height: 60px;
	padding:0;
}
header span{
    color: #fff;
}
header .right a{
    margin: 0 10px;
    cursor: pointer;
}
header .right a:nth-last-of-type(1){
    margin-left:15px;
    border-left: 1px solid #fff;
    padding-left: 10px;
}
header .right a img{
    height: 16px;
    margin: 0 2px;
}
header .right span{
    vertical-align: -3%;
}
header .logo img{
    height: 30px;
}
.container{
    height: 100vh;
    padding: 0;
}
.container > .left{
    background: #ffffff;
    height: 100%;
    padding: 0;
}
.container ul li{
    border-bottom: 1px solid #e0e0e0;
    height: 53px;
    margin: 0 10px;
    cursor: pointer;
}
.container .nav_li {
    overflow: hidden;
}
.container .nav_li .left , .container .nav_li .right{
    margin-top:10%;
}
.container .nav_li > .left{
    margin-left: 20px;
}
.container .nav_li > .right{
    margin-right: 20px;
}
.container ul li .left img{
    height: 14px;
    margin: 0 8px;
    vertical-align: -8%;
}
.container ul li .right img{
    height: 10px;
    
}
.container ul li .left a{
    color: #333333;
    font-size: 14px;
}

.container > .right {
    background: #ffffff;
    height: 100%;
    padding: 0;
}
.container > .left ul > div{
    display: none;
}
.container > .left ul div li{
    border: none;
    height: 25px;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 25%;
    line-height: 25px;
}
.container > .left ul .nav_list li a{
    color: #878787;
}
