/*日志查询*/
#journal{
	color:#000;
}
#journal .journalBox #amend .timepicker>input{
	height:25px;
	line-height:25px;
}
#journal .journalBox #amend{
	float:left;
}
#journal .journalBox #amend .timepicker{
	float:left;
}
#journal .journalBox #amend .timepicker>span{
	margin: 0 5px;
    color: #6ebbea;
}		
#journal .journalBox .journalTop{
	overflow:hidden;
	height:34px;
	line-height:34px;

	margin-bottom:10px;
}
#journal .journalBox .journalTop input{
	padding-left:2px;
}
#journal .journalBox .journalTop .message{
	padding-right: 10px;
	float:left;
}
#journal .journalBox .journalTop .message .search-once{
	margin:0;
	height:30px;
}
#journal .genre{
	overflow: auto;
	margin: 0 auto;
	float:left;
	padding-top:4px;
}
#journal .genre>span{
	float:left;
	margin: 6px 5px;
    color: #6ebbea;
}
#journal .genreBox{
	overflow:auto;
	margin-right:10px;
	line-height:26px;
	display:inline-block;
}
#journal .journalBox>form{
	padding-left: 5px;
    background: #eff1f0;
}
#journal .journalBox{
	overflow:hidden;
}
#journal .journalBox form{
	overflow:hidden;
}
#journal .journalBtn{
	float:left;
}
#journal .journalBtn>input{
	height:25px;
	line-height:10px;
	margin-left:10px;
}
#journal .journalBtn #demandBtn{
	padding:0 5px;
	height:29px;
	background-color: #4eacea;
    border-color: #398cc3;
	width:54px;
}
#journal .journalBtn>div{
	display:inline-block;
}
#journal #site h4{
	padding:0 0 0 10px;
    border-left: 5px solid #009FF3;
}
#journal #site tbody  tr:nth-child(2n){
	background: #ecf8f8;
}
#journal #site th:first-child{
	border:0;
}
/*日志类型*/
#sort{
	padding:3px 5px;
	cursor:pointer;
	outline:none;
}
#sort option{ 
	width:100%;
	margin-right:-5px;
	padding:0;
}