#plan_edit,#plan_made{
	display: none;
}
/*#plan_edit #custom{
	color: #fff !important;
    background-color: #50A903 !important;
}
#plan_edit #not_custom{
	color: #fff !important;
    background-color: #F17D00 !important;
}*/
#plan_edit #search-unit .choose-site{
	top:91px;
	left:5%;
}
#week_plan #search-unit .choose-site{
	top:92px
	left:30%;
}
#ops_audit_detail #search-unit .choose-site{
	left: 5%;
    top: 92px;
}
#plan_edit table tr,#ops_audit_detail table tr{
	cursor: inherit;
}
#plan_edit table .edit_station,#ops_audit_detail table .edit_station{
	cursor: pointer;
	background: #558ad8;
    color: #fff;
}
#plan_edit table .edit_station:hover,#ops_audit_detail table .edit_station:hover{
background-color: #f19c77;	
}
#edit_table{
	/*max-height: 500px;*/
    overflow: auto;
}
#edit_table table{
	    min-width: 3400px;
	    white-space: nowrap;
}
#made_table table td:hover{
	background: #d9e9ff;
}
#made_table table td.active {
    color: #fff;
    background-color: #407DCE !important;
}
#made_table table .check-item:hover{
	color: #fff;
	background: #6fadff;
}
.date-box td {
    background-color: #8C95AA !important;
    color: #fff;
}
/*#plan_made,#opsmade{
	max-height: 650px;
	overflow-y: auto;
}
#plan_edit{
	max-height: 650px;
	overflow-y: auto;
}*/
.noChack{
	background-color: #fff;
	color: #666;
}
.yChack{
	background-color: #407dce;
	color: #fff;
}
/*#week_plan{
	max-height: 650px;
	overflow-y: auto;
}*/
#weekTable{
	max-height: 600px;
    overflow-y: auto;
}
/*#d_task_formsNews,#d_task_formsOther,#d_task_edit,#d_task_forms{
	max-height: 650px;
	overflow-y: auto;
}*/
#d_task_formsOther{
	max-height: 650px;
	overflow-y: auto;
	overflow-x: hidden;
}

#next_plan .btn-group,#week_plan .btn-group,#plan_edit .btn-group{
	margin-left: 10px;
    margin-bottom: 5px;
    font-size: 13px;
}
#week_plan #allocated,#next_month{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*#week_plan #btnPreWeek{
	margin-left: 50px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}*/
#week_plan #public_table,#plan_edit #public_table{
	padding: 20px 0px 0px 0px;
}
#next_plan .btn-group button,#week_plan .btn-group button,#plan_edit .btn-group button{
	height: 34px;
    width: 80px;
    text-shadow: none;
    /*border-color: #558ad8;
    color: #558AD8;*/
}
#ops_audit_detail .btn-group button{
	height: 34px;
    width: 80px;
    text-shadow: none;
    /*border-color: #558ad8;
    color: #558AD8;	*/
}
#ops_audit_detail .btn-group{
	margin-bottom: 5px;
}
#week_plan #whole,#next_plan #whole{
	border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
#d_task_formsNews .save_back{
	text-align: left;
}

#plan_edit #editBback{
	/*margin-top: 15px;*/
}
#next_plan .btn-default .active{
	background-color: #558ad8;
	color: #fff;
}
#btnPreWeek,#btnNextWeek{
	border-color: #f29a76;
	color: #f29a76;
	float: right;
	margin-right: 10px;
	height: 32px;
	font-size: 13px;
	text-shadow: none;
}

#btnBatchPass,#btnBatchUnpass{
	margin-bottom: 5px;
	float: right;
	 margin-right: 10px;
	 height: 30px;
}
#next_plan #public_table{
	/*padding: 0px;*/
}
#next_plan .btn-group{
margin-top: 15px;
}
#btnBatchPass{
	background: #558ad8;
    color: #fff;
}
#ops_audit,#plan_edit,#plan_made,#week_plan,#d_task_forms,#d_task_formsNews{
	/*margin-bottom: 300px;*/
}
#d_task_edit,#audit_manages,#ops_audit_detail{
/*margin-bottom: 300px;*/	
}
