//#audit_manages{
//  max-height: 600px;
//  overflow-y: auto;
//}
//#week_plan{
//  max-height: 650px;
//  overflow-y: auto;
//}
//#detailsTable{
//  max-height: 600px;
//  overflow-y: auto;
//}
#ops_audit_detail,#opsmade{
    display: none;
}
