#ops_audit .toolbar {
	background: #fff;
    padding: 8px 0 8px 15px;
    margin-top: 10px;
    border-bottom: solid 1px #dcdcdc;
    border-top: solid 1px #dcdcdc;
}
#ops_audit_look #logTable{
	padding: 20px;
    background: #fff;
    margin-top: 10px;
}
#ops_audit .navMain .row label{
	width: 75px;
	text-align: left;
}
#btnBatchApprove{
	margin-bottom: 5px;
	background: #558ad8;
    color: #fff;
    font-size: 13px;
    border-radius: 2px;
    margin-right: 10px;
    float: right;
}
/*.save_back {
    text-align: right;
}*/

.navTop button{
	margin-left: 10px;
	float: right;
	height: 30px;
    margin-top: -10px;
    width: 80px;
    font-size: 14px;
    padding: 0 12px;
}
.navTop .save{
	background: #558ad8;
	color: #fff;
}
#ops_audits,#ops_review{
	margin-bottom: 300px;
}
	#outer{
		width:100%;
		height:100%;
	}
	.overlay{
		background-color:#999;
		/*opacity: .7;
		filter:alpha(opacity=70);*/
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index: 10;
		overflow: scroll;
	}
	.overlayimg{
		position: absolute;
		z-index: 11;
		left:50px;
		top:30px;
		width:auto;
	}
	#ops_audit .btn-group button {
		text-shadow: none;
		}