#equip_looks{
	display: none;
	max-height: 650px;
	overflow-y: scroll;
}
#equip_writings{
	display: none;
	max-height: 650px;
	overflow-y: scroll;
}
#equip_writings #prvid img{
	width: 300px;
	height: 230px;
}
#fault_audit{
	display: none;
	max-height: 650px;
	overflow-y: scroll;
}
/* 工作待办事项 */
#pending_works{
	/*max-height: 650px;
	overflow-y: scroll;*/
	margin-bottom: 300px;
}
#pending_works #total ul li{
	background: #fff;
    width: 16.3%;
    height: 80px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #333;
    border-radius: 3px;
}
#pending_works #total ul .works_size .num{
	color: #333;
	font-size: 20px;
}
#pending_works #total ul .works_size span{
	color: #404040;
}
#pending_works #total ul li span{
	display: block;
	margin-top: 10px;
	font-size: 14px;
}
#pending_works #total ul li .num{
	color: #fff;
	font-size: 20px;
}
#pending_works #total ul li .text{
	color: #666;
}
#pending_works #total .undis{
	background-color: #f29a76;
}
#pending_works #total .allocated{
	background-color: #7ecef4;
}
#pending_works #total .rough{
	background-color: #86d56d;
}
#pending_works #total .stocks{
	background-color: #aab2de;
}
#pending_works #total .overtime{
	background-color: #f19ec2;
}
#pending_works #day_list>ul>li{
	position: relative;
    display: inline-block;
   text-align: center;
    margin-bottom: 15px;
    width: 12.9%;
    margin-right: 10px;
    /*border: 1px solid #ddd;*/
    background-color: #fff;
    border-radius: 3px;
    /*margin-top: 10px;*/
}
#pending_works #day_list>ul>li .list_top:hover{
	background-color: #558ad8;
	color: #fff;
}
#pending_works #day_list .list_top{
	border-bottom: 1px solid #F1F1F1;
	text-align: center;
	cursor: pointer;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 15px;
}
#pending_works #day_list .list_child{
	color: #558ad8;
	margin: 10px 10px 0px 10px;
	
}
#pending_works #day_list .list_child li{
	line-height: 2em;
}
#pending_works #day_list .list_child li span{   
	margin-left: 15px;
	font-size: 15px;
	
}
#pending_works #day_list .list_child .color2{
	color: #404040;
}
#pending_works #day_list .list_child .color1{
	color: #FF0000;
}
#pending_works #day_list .list_child li:hover{
	background-color: #dddddd;
	cursor: pointer;
}
.childColor1{
	color: #f40010;
}
.activeTime{
	background-color: #558ad8;
	color: #fff;
}
/*#pending_works #day_list .list_child span{
	margin-left: 20px;
}*/
#pending_works #station_list .panels-heading{
	height: 60px;
	line-height: 65px;
	border-bottom: 1px solid #e6e6e6;
}
#pending_works #station_list .panels-heading .title_btn{
	background-color: #558ad8;
	color:#fff;
	width: 70px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
#pending_works #station_list .panels-body{
	padding: 10px;
}
#pending_works .search_btn{
	height: 55px;
	line-height: 50px;
}
#pending_works .search_btn .btn-group{
	margin-left:15px;
}
#stationModal .modal-dialog{
	min-width: 1000px;
}
/*到位统计*/
#statistic_placeLook{
	display: none;
}


#pending_works #station_list .panels-body button{
	margin-bottom: 10px;
	margin-right: 8px;
	font-size: 13px;
}
