.btn-chack {
    background-color: #00923f;
    color: #fff;
}
/*#post_reports .fixed-table-column thead{
	background-color:#8c95aa;
	color: #fff;
}*/
#post_reports #lookHtml .listTable .fixed-table-column thead th{
	padding: 0px !important;
}
#post_reports #lookHtml .listTable .fixed-table-column thead tr{
	height: 60px;
}
#post_reports #lookHtml .project_button button{
	width: 60px;
	background-color: #f6f6f6;
}
#post_reports #lookHtml .project_button button.btn-chack {
    background-color: #00923f;
    color: #fff;
}
#post_reports #lookHtml .project_button button.new_add_btn {
	color: #333;
    border: none;
    background-color: #ffdf01;
    outline: none;
    border-radius: 2px;
}
#post_reports #lookHtml{
	/*margin-bottom: 500px;*/
}
#post_reports #lookHtml #public_table .public_table,#post_reports #lookHtml #public_table .chartContent{
	clear: both;
	padding-top: 10px;
}


.Thur_color{
	background-color: #f7caac;
	color: #333333;
}

/*#post_reports #lookHtml #public_table #example thead{
	background-color:#8c95aa;
	color: #fff;
}*/
#post_reports #lookHtml #public_table .listTable{
	overflow: auto;
    width: 100%;
}
#post_reports #lookHtml #public_table .listTable table{
	white-space: nowrap;
	
}
#post_reports #lookHtml #public_table .listTable table th{
	color: #fff;
}
#post_reports #lookHtml #public_table .listTable table td,#post_reports #lookHtml #public_table .listTable table th{
	height: 30px;
	padding: 5px;
	cursor: default;
}
#post_reports #lookHtml .project_button .pull-left button:hover{
	background-color: #00923f;
    color: #fff;
}
#post_reports #lookHtml .project_button .pull-left button:active{
	color: #fff
}
#post_reports #lookHtml .project_button .pull-right button:hover{
    background-color: #ffdf01;
	color: #333;    
} 

.sh_color1{
	background-color: #ffff99;
}
.sh_color2{
	background-color: #ffff99;
	color: red !important;
}
.zj_color{
	background-color: #969696;
}
.nt_color{
	background-color: #c0c0c0;
}
.zjy_color{
	background-color: #0066cc;
}


#post_reports #lookHtml #public_table .listTable table .product{
	cursor: pointer;
	color: #0066cc;
	text-decoration: underline
}
