#powerCutRecords{
	background-color: #f5f5f5;
	height: 100%;
	padding-right: 10px;
	/*margin-bottom: 300px;*/
}
.totalName{
	margin: 20px auto;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    width: 96%;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
}
#powerCutRecordsOther{
	display: none;
    /*background: #fff;
    margin-top: -10px;*/
}
.tablePower{
	margin: 20px;
}

.tablePower table{
	background-color: transparent;
    width: 90%;
    background: #fff;
    margin: 0 auto;
}
.tablePower table tbody{
	border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}
.tablePower table tbody tr{
	border: 1px solid #ccc;
    line-height: 40px;
    width: 100%;
}
.tablePower table tbody tr td{
	color: #404040;
    font-size: 13px;
    width: 25%;
    height: 50px;
    border: 1px solid #eee;
    text-align: right;
}
.tablePower table tbody tr td span{
    width: 90px;
    height: 30px;
    display: inline-block;
}
.tablePower table tbody tr .otherTd{
	text-align: left;
}
.tablePower table tbody tr .otherTd input{
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #f1f1f1;
	border-radius: 3px;
}
.tablePower table tbody tr .otherTd span input{
	float: left;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.tablePower table tbody tr .otherTd span label{
	float: left;
    margin-top: 10px;
    font-size: 14px;
}
.tablePower table tbody tr .otherTd textarea{
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid #fff;
}
.save_back {
    text-align: right;
}
.save_back button{
	margin: 10px;
    padding: 8px 20px;
    border-radius: 3px;
    border: none;
    background: #558ad8;
}
.save_back .saveback{
	color: #fff;
	background: #ccc;
}
.line_other{
	width: 5px;
    height: 18px;
    margin: 0px 8px 0 0px; 
    display: inline-block;
    float: left;
    background: #558ad8;
}
.news span{
	font-size: 16px;
	color: #404040;
	
}
.news{
	margin-left: 20px;
	width: 87%;
	margin: 0 auto;
}
.lookFor{
	float: none;
}
.picture{
	width: 300px;
    height: 160px;
    margin-left: 100px;
}
#powerCutRecordsOther #prvid img{
	width: 300px;
	height: 180px;
}
#powerCutRecords .public_table table .picture_max .checkImg{
	width: 28px;
	height: 28px;
	cursor: pointer;
}
#powerCutRecords .public_table table .picture_max .showImg{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	left: 0px;
    background-color: rgba(0,0,0,.5);
    text-align: center;
}
#powerCutRecords .public_table table .picture_max .showImg img{
	/*margin: 100px;*/
}
#powerCutRecords .public_table table .picture_max .showImg .close{
	color: #fff;
   	float: right;
   	font-size: 20px;
   	margin-right: 20px;
   	cursor: pointer;
   	background: #000000;
   	width: 30px;
   	height: 30px;
   	text-align: center;
   	line-height: 30px;
}
#powerCutRecordsOther #search-station2 .choose-site{
	top: 18%;
}
.powerMain .tablePower .otherTd select{
	width: 140px;
	height: 34px;
	border: 1px solid #ccc;
    border-radius: 4px;
}
#editPowers{
	display: none;
}
#prvid1 img{
    width: 300px;
    height: 160px;
    margin-left: 100px;
}
#auditPowers{
	display: none;
	max-height: 650px;
    overflow-y: scroll;

}
#powerCutRecordsOthers{
	margin-bottom: 300px;
}
