
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    background:none;
    color: none;
}
a:active{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.btn{
    height: 30px;
    border-radius: 2px;
    font-size: 13px;
}
.btn:hover{
    background-color: none;
}
.btn:visited{
    background-color: none;
    color: #fff;
}
.btn:active{
    background-color: none;
    color: #fff;
}
.btn-sure, .btn-cancel {
    color: #fff;
}
label{
    font-weight: 400;
}
.public_search label {
    font-size: 13px;
    color: #333333;
}
input{
    padding-left: 5px;
}
li{
    list-style: none;
}
.glyphicon-plus{
    font-weight: 400;
	font-size:12px;
	vertical-align:5%;
}
td,th{
    text-align: center;
    font-weight: 400;
}
//thead{
//  background: #7fcff4;
//}
td{
    color: #666666;
    font-size: 12px;
}
.table > thead > tr > th{
    color:#666666;
    border-bottom-width: 0;
    border-color: #f0f6fd;
}

.table > tbody > tr > td {
    border-color: #e8e8e8;
}

td a{
    color: #29b3ef;
    padding:0 5px
}
/*公共类*/


.left{
    float: left;
}
.right{
    float: right;
}
.line{
    background: #fff;
    height: 14px;
    width: 1px;
    vertical-align: -5%;
    display: inline-block;
    margin: 0 10px;
}
.line_top{
	width:100%;
	height:10px;
	background:#f5f5f5;
}
.line_back {
    background: #f5f5f5;
    height: 1000px;
    width: 10px;
}
.write_color{
    color: #42b3f5;
}
.disabled{
	pointer-events:none; 
}
.none{
    display: none;
}
.clear{
    clear: both;
}
i.liner{
    border: 1px dotted #666666;
    margin-right: 10px;
    display: inline-block;
    height: 12px;
}
i.liner:nth-last-of-type(1){
//  display: none;
}
.public_title img{
    height: 15px;
}
.public_title span{
    vertical-align: -4%;
    font-size: 10px;
    color: #999999;
}
.public_search{
//  height: 29px;
//  line-height: 29px;
}
.public_search input, .public_search select, .public_search option {
//  height: 28px;
//  border:1px solid #efefef;
//  border-bottom-left-radius: 3px;
//  border-bottom-right-radius: 3px;
//  border-top-left-radius: 3px;
//  border-top-right-radius: 3px;
//  width: 160px;
//  margin: 0 10px 0 0;
//  font-size: 13px;
//  color: #666;
}
.public_search .control_stationID{
    display:none;
}
.public_search .btn{
    height:29px;
    padding: 0 12px;
    vertical-align: top;
    margin: 0 5px;
}
.public_search .search{
    background: #009ff3;
    color: #fff;
}
.public_search .btn-warning{
    background: #f19c77;
}
//.public_title, .public_search, .public_table, .public_page{
//  margin: 0px 20px 10px 20px;
//}
.public_title{
   margin:10px 0 15px 20px;
}
.public_search{
// margin:0 0 15px 20px;
}
.public_table {
    margin:0 20px;
}
#content_middle{
    padding-left:10px;
    width: 100%;
    height: 100%;
	background: #fff;
}
#content_middle iframe{
    width: 100%;
//  height: 100%;
    height: 1300px;
}

/*绑定站点*/
.public_station{
    display: none;
    width: 500px;
    background: #f5f5f5;
    position: fixed;
    top: 70px;
    left: 7%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 9999;
}
.public_station p{
    margin: 5px 10px 0 0;
    color: #a8a8a8;
}
.public_station .station_content{
    padding: 0 10px;
    max-height: 300px;
    overflow-y:auto;
    margin: 10px;
    height: 75%;
}
.public_station .station_list{
//  height: 100px;
//  line-height: 40px;
    margin: 10px 0;
}
.public_station .station_list .station_total {
    margin-left: 10%;
}
.public_station .station_list button{
    border: 1px solid #c2e4f4;
    background: none;
    padding: 0 6px;
    width: 70px;
    height: 29px;
    line-height: 29px;
    color: #9ddaec;
    margin-right: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.public_station .station_list small{
    display: none;
}
.public_station .station_list span{
    color: #aaaaaa;
    margin:0 10px 0 5px;
    width: 41%;
    display: inline-block;
}
.public_station .station_list input{
    vertical-align: -5%;
    border-color: #d7d7d7;
}
.public_station .station_list .line{
    background: #d9d9d9;
}
.public_station .station_btn{
    text-align: center;
    color: #fff;
    margin: 10px 0;
}
.public_station > p.right{
    cursor: pointer;
}
.public_station .station_btn .btn-sure{
    background: #009ff3;
}
.public_station .station_btn .btn-cancel{
    background: #c9c9c9;
}


//搜索站点
#search-station .search-line {
    height: 20px;
    border: 0.5px dotted #cccccc;
    display: inline-block;
    margin:5px 15px 0 25px;
}
#search-station .choose-site {
    position: fixed;
    border: 1px solid #cccccc;
    top: 109px;
    left: 5%;
    padding-top: 10px;
    box-shadow:0 2px 1px 0px #efefef inset;
    z-index: 999;
    background: #fff;
    display: none;
    width: 80%;
}
#search-station .choose-site .tab-top  {
//  width: 100%;
    border-bottom: 1px solid #d3d3d3;
}
#search-station .choose-site .tab-top  small {
    display: none;
}
#search-station .tab-top span {
    display: inline-block;
    text-align: center;
    line-height: 29px;
    height: 29px;
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-bottom: none;
    margin: 0 10px;
    color: #696868;
    cursor: pointer;
    padding: 0 3px;
}
#search-station .choose-site .station_content {
//  width: 100%;
    margin-top: 5px;
    max-height: 300px;
    overflow-y: scroll;
}

#search-station .choose-site .tab-station {
//  width: 100%;
    border-bottom: 1px solid #ededed;
    
}
#search-station .choose-site .tab-station p {
    display: inline-block;
    margin: 5px;
    width: calc(100% / 3);
}
#search-station .choose-site .tab-station .list-city-station{
    margin-left: 10%;
}
#search-station .choose-site .tab-station .list-city {
    vertical-align:20%;
}
#search-station .choose-site .station-btn {
    height: 50px;
}
#search-station .station-btn {
    float: right;
}
#search-station .station-btn span {
    display: inline-block;
    text-align: center;
    line-height: 29px;
    width: 50px;
    height: 29px;
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    color: #333;
    cursor: pointer;
    margin:10px 5px;
}
#search-station .choose-site .tab-station span:nth-last-of-type{
//  border:1px solid red;
}
#search-station .tab-station .search-line:nth-of-type(1), #search-station .search-line:nth-last-of-type(1), #search-station .search-line:nth-of-type(2n+1){
    display: none;
}
#search-station small{
    display: none;
}
/*分页*/
.page{
    list-style: none;
    margin-right: 20px;
}
.page>li{
    float: left;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 12px;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
    background: #fff;
}
.page .pageItemActive{
    border: solid thin #0099FF;
    margin: 5px;
    background-color: #0099FF;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #0099FF;
    background-color: #0099FF;
    color:white;
}
.page .pageItemDisable{
    cursor: default;
    margin: 5px;
    border: solid thin #DDDDDD;
    background: #fff;
}
.page_total > span{
    vertical-align: -70%;
    font-size:11px;
} 
.page_total > span small, .page_total > span a {
    color: #0099FF;
    font-size: 12px;
}
.page, .page_total {
    margin-top: 30px;
}
#page li{
    height: initial;
}
#pagesize{
    margin-top: 35px;
    height: 24px;
    border: solid thin #DDDDDD;
    font-size: 12px;
    border-radius: 2px;
}
//表单验证
.warn{
    width:30%;
    padding:5px 0;  
    margin-bottom: 0;
}

.control-error {
    width: 25%;
    line-height: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #d9534f;
    border-radius: 4px;
    color: #ffffff;
    background-color: #d9534f;
    
}
.control-success {
    width: 25%;
    padding-top: 5px;
    line-height: 15px;
    padding-bottom: 3px;
    margin-bottom: 0;
    text-align: center;
    background-color: #5cb85c;
    border-radius: 4px;
    color: #ffffff;
    background-color: #5cb85c;
    
}
.control-default {
    width: 25%;
    padding-top: 5px;
    line-height: 15px;
    padding-bottom: 3px;
    margin-bottom: 0;
    text-align: center;
    background-color: #f7d505;
    border-radius: 4px;
    color: #ffffff;
    background-color: #f7d505;
    
}

.loading{
    width: 22%;
    height: 40px;
    position: absolute;
    top: 20%;
    left: 35%;
    line-height: 42px;
    color: #fff;
    padding-left: 51px;
    font-size: 12px;
    background: #000 url(/images/loading.gif) no-repeat 10px 30%;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    display: none;
  }

#search-unit .choose-site {
    position: fixed;
    border: 1px solid #cccccc;
    top: 109px;
    left: 5%;
    padding-top: 10px;
    box-shadow:0 2px 1px 0px #efefef inset;
    z-index: 999;
    background: #fff;
    display: none;
    width: 20%;
    font-size: 12px;
}
#search-unit .choose-site .station-btn {
    height: 50px;
}
#search-unit .station-btn {
    float: right;
}
#search-unit .station-btn span {
    display: inline-block;
    text-align: center;
    line-height: 29px;
    width: 50px;
    height: 29px;
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    color: #333;
    cursor: pointer;
    margin:10px 5px;
}
#search-unit .unit_parent{
    margin-left: 40px;
}
#search-unit .tab-top{
    margin-left: 20px;
    height: 260px;
    overflow: auto;
}
#search-unit .tab-top img{
    width: 20px;
    height: 20px;
}
#search-unit .unit_chil{
    margin-left: 40px;
}
#search-units .choose-sites {
    position: fixed;
    border: 1px solid #cccccc;
    top: 180px;
    left: 60%;
    padding-top: 10px;
    box-shadow:0 2px 1px 0px #efefef inset;
    z-index: 999;
    background: #fff;
    display: none;
    width: 20%;
}
#search-units .choose-sites .station-btn {
    height: 50px;
}
#search-units .station-btn {
    float: right;
}
#search-units .station-btn span {
    display: inline-block;
    text-align: center;
    line-height: 29px;
    width: 50px;
    height: 29px;
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    margin:10px 5px;
  
}
#search-units .unit_parent{
    margin-left: 40px;
}
#search-units .tab-top{
    margin-left: 20px;
    height: 260px;
    overflow: auto;
    font-size: 12px;
}
#search-units .tab-top img{
    width: 20px;
    height: 20px;
}
#search-units .unit_chil{
    margin-left: 40px;
}
#d_task_formsNews,#ops_looks{
    margin-bottom: 300px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4,
 .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
 .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11,
  .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px; 
    padding-left: 0px; 
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, 
.col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
 .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px; 
}
.btn-primary {
    color: #fff;
    background-color: #00923F;
//  border-color: #357ebd;
    margin-top: -10px;
}
.btn-primary:hover{
    color: #fff;
    background-color: #00923F;
}
.btn-group button{
 text-shadow: none;
}
