.btn_area2{
	margin-left: 20px;
}
/*.btn_area2:hover{
	
    background-color:#007FFF;
    color: #fff;
}*/
/*#s_role_edit {
	width: 100%;
	height: 150%;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}*/

/*#s_role_edit  .content{
	width: 80%;
	margin: 0 auto;
	padding:50px 20px;
}*/
#manage .list p,#s_role_edit  .list p{
	text-align: left;
}
#manage .list li ul,#s_role_edit  .list li ul{
	display: none;
	width: 150px;
	margin: 0 auto;
	text-align: left;
	font-size: 13px;
}
/*#s_role_edit  .content-outside{
	width: 80%;
	margin: 0 auto;
	background: #fff;
	padding:5px 10px;
	border: 1px solid #b0c0d6;
}*/
#manage .updateNews{
	text-align: center;
}
#manage .content-outside .list p,#s_role_edit  .content-outside .list p{
	margin: 0;
	color: #234d93;
	font-weight: 700;
	font-size: 13px;
	padding: 10px 25%;
}
#manage .content-outside .list i,#s_role_edit  .content-outside .list i{
	display:none;
}
#manage .content-outside > p,#s_role_edit  .content-outside > p{
	padding-left: 0;
}
#manage .content-inside,#s_role_edit  .content-inside{	
	background: #fff;
	border: 1px solid #b0c0d6;
}
#manage .content-inside .line-top,#s_role_edit  .content-inside .line-top{
	border-bottom: 1px solid #d9dcdf;
	height: 30px;
	line-height: 30px;
}
#manage .content-inside .line-top p,#s_role_edit  .content-inside .line-top p{
    padding-left: 20px;
	color: #2b2b2b;
	font-weight: 400;
	font-size: 14px;
	height:30px;
	line-height:30px;
}
#manage .content-inside .role_lines,#s_role_edit  .content-inside .role_lines{
	border-bottom: 1px solid #d9dcdf;
	height: 30px;
	line-height: 30px;
	/*display: inline;*/
	display: inherit;
}
.roleBox .btn_area2{
	background: #ffdf01;
	color: #333;
}
#manage .content-inside .role_lines span,#s_role_edit  .content-inside .role_lines span{
	display: inline-block;
	font-weight: 400;
	width: 100px;
	font-size: 14px;
	border-right: 1px solid #e7e9ea;
	text-align: center;
	color: #3b3b3b;
}
#manage .content-inside .role_lines input,{
	border:0;
	outline:none;
}
#manage .place,#s_role_edit .place{
	border: none;
	height:25px;
	font-size: 13px;
}
/*#manage .content-inside .roleName input,#s_role_edit  .content-inside .roleName input{
	height:28px;
}*/
#manage .content-inside .role_lines a,#s_role_edit  .content-inside .role_lines a{
	padding-left: 20px;
}
#manage .content-inside .role_lines a .right-radio,#s_role_edit  .content-inside .role_lines a .right-radio{
	padding: 0 5px;
	border-right: none;
	width: 45px;
}

#manage .roleSubmit{
	height: 38px;
	margin-top: 20px;
}
#manage .list,#s_role_edit  .list{
	text-align: center;
	margin:0 auto;
	/*overflow-y: scroll;*/
	/*height: 200px;*/
}
#manage .list li, .list li{
	cursor: pointer;
}

#manage.list .che,#s_role_edit .list .che{
	text-align: center;
}
#s_role_edit .place{
	border: none; 
	width: 200px;
	text-align:left;
}
/*角色权限主页面*/
#roleMsgs{
	text-align:center;
	overflow:auto;
	background: #fff;
}
#roleMsgs>h1{
	margin-bottom:20px;
}
#roleMsgs>table{
	margin:0;
	padding:0;
	float:left;
	width:100%;	
}
#roleMsgs>table>tbody>tr:nth-child(2n){
	background: #ecf8f8;
}

#roleMsgs>table th{
	border:1px solid #ddd;
}
#roleMsgs>table td{
	border:1px solid #ddd;
}

#roleMsgs>table td a:hover{
	text-decoration: underline !important;
}
#roleMsgs .sBtn{
    border:0;
}
/*查看工号*/
#roleRefer{
	background: #fff;
    border: 1px solid #b0c0d6;
}
#roleRefer>p{
	height:30px;
	line-height:30px;
	border:1px solid #ddd;
	border-top:0;
}
#roleRefer>p:nth-child(2){
	border-top:1px solid #ddd;
}
#roleRefer>p>strong{
	display:inline-block;
	width:150px;
	height:30px;
	line-height:30px;
	text-align:right;
	padding-right:10px;
	border-right:1px solid #ddd;
}
#roleRefer #notice{
	font-size:24px;
	text-align:center;
	margin:10px 0; 
	border:0;
}
#roleRefer .field{
	margin-top:20px;
}
/*修改权限*/
.roleNew{
	width:80%;
	margin-left:20px;
}
.roleNew .field{
	height:30px;
	line-height:30px;
}
.roleNew label{
	width:200px;
	text-align:right;
	margin-right:20px;
}
.roleNew .actions{
	margin-left:224px;
	float:left;
}
.roleLink{
	float:left;
	margin-left:10px;
	border:1px solid #ddd;
}
/*.roleSubmit{
	width:200px;
	display:block;
	margin:10px auto;
	border:0;
	border-radius:3px;
}*/
/*背景框*/
.roleBox .roleTop {
	overflow:hidden;
	
	margin-bottom:10px;
/*	height:34px;*/
	line-height:34px;
}
.roleBox .roleTop .addJurisdiction{
	float:right;
	position:relative;
}
.roleBox .roleTop .addJurisdiction span{
	position:absolute;
	top:11px;
	left:6px;
	color:#fff;
}
.roleBox .roleTop .addJurisdiction .roleBoxNew{
	padding-left:20px;
	color:#fff;
	height:29px;
	line-height:15px;
}
.roleBoxNew:visited{
	color:#fff;
} 
.roleBox .roleBtn a{
	margin-left:20px;
	color:#fff;
}
/*添加角色*/
#role_edit{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#role_edit .role_area{
	position: absolute;
	width: 500px;
	height: 300px;
	background: #fff;
	position: absolute;
	top: calc(50vh - 190px);
	left: calc(50vw - 200px);
}
.role_area h4,.role_area label{
	color: #666666;
}
.role_area h4{
	text-align: center;
	margin: 15px 0;
	font-size: 14px;
}

.role_area h4 .close{
	font-weight: 400;
	margin:-5px 10px 0 0;
	color:#646464;
	font-size:16px;
}
.role_area label{
	font-size: 12px;
	
	width: 90px;
	text-align: right;
	
}
.right{float: right;cursor: pointer;}
.role_area input{
	border:1px solid #f1f1f1;
	
}
.role_area .edit_content{
	margin: 10px;
	width: 100%;
	position: relative;
}
.role_area  .edit_content .role{
	margin: 10px 0;

}
/*.role_area  .edit_content input[type="text"]{
	width: 180px;
	height: 30px;
	display: inline-block;
}*/
 /*.btn{color: #fff;
    background-color: #5cb85c;
        padding: 6px 12px;
        
        
}*/
 .role_btn{
	text-align: center;
	margin: 20px 0;
	color: #fff;
}
.role_btn .btn-sure{
	background: #009ff3;
	
}
.role_btn .btn-cancel{
	background: #c9c9c9;
}
.role_edit{color: #007FFF;cursor: pointer;}
.role_edit:hover{color:#00CD62;}
.hides{
	display: none;
}


.roleBox .public_box{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.roleBox .public_box .public_area h4 span{
	cursor: pointer;
	margin-right: 10px;
}
.roleBox .form-group{
	margin: 5px 0;
}
.roleBox .public_box .public_area{
    position: absolute;
    width: 550px;
    height: 550px;
    background: #fff;
    position: absolute;
    top: calc(50vh - 275px);
    left: calc(50vw - 275px);
}
.btn_area2 {
    margin-right: 20px;
    float: right;
}