#dTask ul{
    width: 90%;
    background: #FFF;
    overflow: hidden;
    margin: 20px auto;
}
#dTask ul li{
    position: relative;
    text-align: center;
    width: 15%;
    float: left;
    height: 60px;
}
#dTask .circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #999;
    position: absolute;
    left: 50%;
    margin-left: -20px;
}
#dTask .lineLeft{
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #999;
    width: 50%;
    vertical-align: 8px;
    position: absolute;
    left: 0px;
    top: 10px;
}
#dTask .lineRight{
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #999;
    width: 50%;
    vertical-align: 8px;
    position: absolute;
    right: 0px;
    top: 10px;
}
#dTask ul li p{
    position: absolute;
    top: 30px;
    width: 100%;
    margin-left: -10px;
}
#dTask ul li .changeColor{
    background: #00923f;
}
#MaintenanceEditor table td{
    margin: 10px 0px;
    display: inline-block;
}
#showRecord .linelist{
    width: 100%;
    padding-bottom: 10px;
}
#showRecord .linelist span:nth-child(1){
    width: 20%;
    display: inline-block;
    text-align: left;
}
#showRecord .linelist span:nth-child(2){
    width: 20%;
    display: inline-block;
    text-align: left;
}
#showRecord #TrialRunRecord .linelist span:nth-child(1){
    width: 20%;
    display: inline-block;
    text-align: left;
}
#showRecord #TrialRunRecord .linelist span:nth-child(2){
    width: 60%;
    display: inline-block;
    text-align: left;
}

#showRecord {
    margin-bottom: 280px;
}
#showRecord #prvid3 img{
    width: 100%;
}
#showRecord #prvid4 img{
    width: 100%;
}
