#s_region_code .glyphicon {
	color: #fff;
}
#s_region_code.single-station{
		position: absolute;
	    width: 500px;
	    padding: 0 5px;
	    background: #F5F5F5;
	    top: 18%;
	    left: calc(50vw - 250px);
	    z-index: 999999;
	    display:none;
	    border-radius:10px;
	}

#s_region_code .single-station > .content{
		margin-bottom: 10%;
		max-height: 300px;
		overflow-y: auto;
	}
#s_region_code .single-station .footer{
		width: 100%;
		position: absolute;
		bottom: 5px;
		text-align: center;
	}
#s_region_code	.single-station .footer button{
		margin: 0 10px;
	}
#s_region_code	.single-station .footer .single-btn{
		background-color:#009ff3;
		border: none;
		color: #fff;
	}
#s_region_code	.single-station p{
		height: 20%;
	}
#s_region_code	.single-station .tab-station .station-one{
		clear: both;
		
	}
#s_region_code	.single-station .tab-station p span{
		vertical-align: top;
	}
#s_region_code	.single-station .tab-station .station-two p{
		width: 120px;
		display: inline-block;
	}
#s_region_code	.single-station .tab-station .station-two{
		margin-bottom: 10px;
        margin-left: 10px;
	}

#work_pros 	.delete_prop,#loginMsgs .delete_prop{

}
#loginMsgs .delete_prop{
	left:-90px;
	top: 70%;
	z-index:9999;
}
#fault_jobs table .forward_prop{
border: 1px solid #ddd;
    padding: 10px 10px;
    background: #fff;
    position: absolute;
    /* top: 4%; */
    width: 200px;
    left: 80%;
    height: 120px;
    display: none;
    border-radius: 3px;
    font-size: 14px;
    color: #404040;
    border-radius: 2px
}
#fault_jobs table .forward_prop{
	margin-top: 10px;
    /*width: 80px;*/
    height: 80px;
}

#s_region_code table td .stationName{
	max-width: 750px;
    max-height: 100px;
    overflow-y: scroll;
}

#s_region_code #regionModal #region_list .content .regionCode_content{
	display: inline-block;
	width: 30%;
}
