.btn_area2{
	/*border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;*/
}
.roleBox .roleName-error {
    width: 15%;
    line-height: 15px;
    margin-top: 5px;
    text-align: center;
    background-color: #d9534f;
    border-radius: 4px;
    color: #ffffff;
}
.roleBox .roleName-success {
    width: 15%;
    padding-top: 5px;
    line-height: 15px;
    padding-bottom: 5px;
    margin-bottom: 0;
    text-align: center;
    background-color: #5cb85c;
    border-radius: 4px;
    color: #ffffff;
}
.roleBox .roleName-default {
    width: 15%;
    padding-top: 3px;
    
    line-height: 15px;
    padding-bottom: 3px;
    margin-bottom: 0;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    color: #ffffff;
}

/*站点日审核数据统计*/
#station_validity .public_table .vain td{
	color: red;
}
#station_validity .public_table .click_count{
	color: blue;
	cursor: pointer;
}

/*检查项模板管理*/
#fieldTitles{
	float: left;
}
#fieldTitles li{
	float: left;
    margin-right: 21px;
    min-width: 135px;
}