.slas_content {
	margin: 10px 0;
}
 #slas_add,.a_slas_edit{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.slas_area h4{
	text-align: center;
	margin: 15px 0;
	font-size: 14px;
}
.right{float: right;cursor: pointer;margin-right: 10px;}
.slas_area h4 .close{
	font-weight: 500;
	margin:-5px 10px 0 0;
	color:#646464;
	font-size:16px;
}
		 #s_slas	.col-xs-5 {
    /*width: 41.66666667%;*/
}
 #s_slas .col-xs-3 {
    width: 25%;
    float: left;
    text-align: right;
}
 #s_slas .col-xs-5 {
    margin-left: -20px;
}
 #s_slas .slas_area{
	width: 500px;
	background: #fff;
    position: absolute;
    top: 85px;
    left: calc(50vw - 275px);
    border-radius: 5px;
}
.area_btn{
	margin: 0 auto;
	text-align: center;
	margin: 20px;
}
.slas_leval,.new_slas .col-xs-5 input{
	width: 150px;
    border: 1px solid #f1f1f1;
    height: 25px;
    line-height: 30px;
    color: #666;
}
.slas-form{
	padding: 15px;
	font-size: 12px;
	clear: both;
}
 #s_slas .control-default,  #s_slas .control-success,  #s_slas .control-error {
    width: 80%;
}