.putTable{
	/*padding: 0px 10px;*/
	background: #558ad8;
	color: #fff;
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
}
.putTable:hover{
	background: #558ad8;
	color: #fff;
}
#check {
     margin-bottom: 0px; 
}
/*#xinshu .table{
	margin: 0px 20px;
}
#xinshu .table th{
	color:#fff;
}*/

#xinshu .public_search label{
	font-size: 13px;
	color: #333;
}
#xinshu .placeNews{
	cursor: pointer;
	background: #f5f5f5;
	width: 150px;
	padding: 10px 20px;
	position: absolute;
	border-radius: 8px;
    top: 30px;
    left: 73px;
    display: none;
    z-index: 9999;
}

#xinshu .placeNews dd .p input{
	width: 15px;
	height: 15px;
}
