//#superior_air_days table th {
//  padding: 0;
//  margin: 0;
//  height: 38px;
//  line-height: 38px;
//  text-align: center;
//}
//#superior_air_days table .thOne{
//  height: 76px;
//  line-height: 76px;
//}
