@charset "UTF-8";
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #e5e5e5;	
	height: .86rem;
	text-align: center;
	line-height: .86rem;
	box-shadow: inset 0rem .02rem .1rem rgba(0,0,0,.2);
	z-index: 4;
	position: relative;
}
h2{
	font-family: "微软雅黑";
	color: #000;
	font-size: .32rem;
	height: .86rem;
	width: 3.2rem;
	background: url(../images/bg.jpg) no-repeat;
	background-size: .32rem .86rem;
}
 .select_icon{
	position: absolute;
    padding: .1rem;
    width: .7rem;
    height: .5rem;
    color: #fff;
    background-color: #558AD8;
    border-radius: .05rem;
    right: 1.2rem;
    top: .05rem;
    z-index: 7;
    text-align: center;
    line-height: .5rem;
}
 .add_icon{
	position: absolute;
    padding: .1rem;
    width: .7rem;
    height: .5rem;
    color: #fff;
    background-color: #F29A76;
    border-radius: .05rem;
    right: .2rem;
    top: .05rem;
    z-index: 7;
    text-align: center;
    line-height: .5rem;
}
.index_bg{
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
/*首页查询css开始*/
.index_select{
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	width: 80%;
	height: 100%;
	z-index: 10;
	background-color: #fff;
}
.index_select .list{
	margin: .25rem .2rem;
}
.index_select .station_item{
	display: none;
	margin: .3rem;
}
.index_select .station_item .title{
	display: block;
}
.index_select .station_item .title li{
	float: left;
	margin: 0 .3rem 0 0;
}
.index_select .list label{
	width: 1.3rem;
	display: inline-block;
}
.index_select .list input{
	border-radius: .05rem;
	padding: .05rem;
}
.index_select .list select{
	border-radius: .05rem;
	padding: .05rem;
	width: 2rem;
}
.index_select .list .button{
	padding: .1rem;
	width: 1.5rem;
	display: inline-block;
	color: #fff;
}
.index_select .list_button{
	text-align: center;
}
.index_select .list_button .select{
	background-color: #558AD8;
}
.index_select .list_button .cancel{
	background-color: #F29A76;
}
/*首页查询css结束*/
/*首页显示内容css开始*/
.index_content{
	/*margin-top: 1rem;*/
}
.index_content table{	
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
.index_content table thead{
	background-color: #8C95AA;
	color: #fff;
}
.index_content table thead tr th{
	border: 1px solid #ccc;
	padding: .1rem;
}

.index_content table tbody tr td{
	border: 1px solid #ccc;
	padding: .1rem;
}
.index_content p.more,.index_content p.no_more{
	width: 100%;
	text-align: center;
	margin: .1rem 0;
}
.index_content p.no_more{
	display: none;
}
/*首页显示内容css结束*/
/*更换处理人css开始*/
.update_man{
	display: none;
}
/*更换处理人css结束*/
/*底部css开始*/
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: .2em;
	box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
	background-color: #e5e5e5;
}
.footer ul{
	width: 100%;
	height: .86rem;
	display: flex;
	justify-content: center;
}
.footer ul li{
	list-style: none;
	height: .86rem;
	line-height: .86rem;
	flex: 1;
	text-align: center;
}
.footer ul li a{
	display:block;
	height: .86rem;
	font-size: .26rem;
	text-decoration:none;
	margin-top: .15rem;
}
.footer ul li .bg{
	
}
.footer ul li .bg1{
	background: url(../images/left00-00.png) no-repeat .13rem 0;
	background-size: .25rem .25rem;
	background-position: 50% 0;
}
.footer ul li .bg2{
	background: url(../images/left-05.png) no-repeat .35rem 0;
	background-size: .25rem .25rem;
	background-position: 50% 0;
}
.footer ul li .bg3{
	background: url(../images/left-08.png) no-repeat .35rem 0;
	background-size: .25rem .25rem;
	background-position: 50% 0;
}
.footer ul li .bg4{
	background: url(../images/left-09.png) no-repeat .35rem 0;
	background-size: .25rem .25rem;
	background-position: 50% 0;
}
.footer ul li .bg5{
	background: url(../images/left-10.png) no-repeat .35rem 0;
	background-size: .25rem .25rem;
	background-position: 50% 0;
}
.footer ul li a span{
	color: #666;
	height: .26rem;
	line-height: 1rem;
    display: block;
}

/*底部css结束*/