
#work_pros .form-group{
	/*margin: 5px 0;*/
}
#work_pros .public_box .public_area{
    position: absolute;
   width: 650px;

    background: #fff;
    position: absolute;
    top: 85px;
    left: calc(50vw - 275px);
    border-radius: 5px;
}
#work_pros .modal .modal-header .close{
	font-size: 30px;
}
#work_pros .form-horizontal .control-label{
	padding-top: 0px;
}
.btn-primary{
	margin-top: 0px;
}



/*公告管理*/
#worker_manages  #group ul li{
	float: left;
	width: 120px;
    margin-bottom: 10px;
}
#worker_manages table td span{
	margin-right: 10px;
}
#info_add{
	margin-bottom: 5px;
	float: right;
	margin-right: 10px;
}
#public_table #btnDelete{
	float: right;
	margin-bottom: 5px;
	margin-right: 5px;
	color: #fff;
	background-color: #558ad8;
}
#suppliesAdd,#accsEdit{
	display: none;
}
#suppliesAdd #search-units .choose-sites,#accsAdd #search-units .choose-sites{
	top: 75px;
	left: 15%;
}
#citys .choose-city,#owner .choose-owner{
	position: fixed;
    border: 1px solid #cccccc;
    top: 130px;
    left: 17%;
    max-height: 300px;
    overflow-y: scroll;
    padding-top: 10px;
    box-shadow: 0 2px 1px 0px #efefef inset;
    z-index: 999;
    background: #fff;
     display: none; 
    width: 41%;
}
/*#owner .choose-owner .station-btn{
	position: fixed;
    top: 43%;
    background: #fff;

    width: 100%;
    height: 50px;
    line-height: 50px;
  
}*/
#owner .choose-owner .station-btn .btn-sure{
	margin-left: 166px;
}
#citys .choose-city .city_top{
	margin: 10px;
	cursor: pointer;
}
#citys .choose-city .city_list{
	margin-left: 10px;
	float: left;
/*	display: none;*/
}
#citys .choose-city .city_list li{
	float: left;
	width: 100px;
}
#citys .choose-city .station-btn,#owner .choose-owner .station-btn{
	height: 50px;
	float: right;
	margin-right: 15px;
}
#suppliesEdit{
	display: none;
}
#owner .choose-owner ul{
	margin: 10px;
	float: left;
}
#owner .choose-owner ul li{
	float: left;
	width: 100px;
	margin-left: 25px;
}
#accsAdd{
	display: none;
}
#accs,#equip_mains,#equip_calibration,#inspection_add{
	margin-bottom: 300px;
}

#statistic_place #public_table button{
	/*margin-bottom: 5px;
	margin-left: 10px;*/
	/*margin-right: 0px;*/
	text-shadow: none;
}
#localize .public_box{
	display: none;
}
#localize .public_area{
	border: 1px solid #999;
	width: 450px;
    background: #F5F5F5;
    position: absolute;
    top: 65px;
       left: 50px;
    border-radius: 5px;
    z-index: 9999;
    
}
#localize .public_area #unit_list ul li{
	width: 120px;
	float: left;
}
#mapModal{
/*	margin-bottom: 300px;*/
}
#accsAdd #add_form .pull-right,#suppliesAdd #add_form .pull-right,#equipmentAdd #add_form .pull-right{
	margin-top: -40px;
}

#accsAdd #add_form .pull-right button,#suppliesAdd #add_form .pull-right button,#equipmentAdd #add_form .pull-right button{
	margin-right: 10px;
}
#templete_manages #addModal #templete_type {
	font-size: 12px;
}


#equipmentAdd #Types label input,#equipmentAdd #Types label input{
	float: left;
	margin-left: 5px;
}
#equipmentEdit #Types label input,#equipmentEdit #Types label input{
	float: left;
	margin-left: 5px;
}
#equipmentEdit ,#equipmentAdd{
	display: none;
}
