<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改报警规则</h4>
      </div>
      <div class="modal-body add_alarm add_alarm2">
			 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>


<script id="edit" type="text/html">
	<div class="add_factor">
		
		<div class="factor_content">
			<div class="rule_name">
				<label>规则名称:</label>
				<input type="text" id="rule_name1" value="{{alarm_rile.rule_name}}" required="required" />
				<label id="rule_nameTip1">可修改规则名称:</label>
			</div>
			<div class="rule_desc">
				<label>规则描述:</label>
				<textarea name="" rows="2" cols="20" value="{{alarm_rile.rule_desc}}" required="required"  id="rule_say1"></textarea>
				<!--<input type="text" value="{{alarm_rile.rule_desc}}" required="required"  id="rule_say1"/>-->
				<label for="rule_say1" id="rule_sayTip1">可修改规则描述</label>
				
			</div>
			<div class="alarm_types">
				<label>报警分类:</label>
				<input type="text" value="{{alarm_rile.rule_type}}" disabled="disabled"/>
			</div>
			<div class="alarm_rules">
				<label>异常规则实例:</label>
				<input type="text" value="{{alarm_rile.ab_rule_instance}}" disabled="disabled">
			</div>
			<div class="sample_num">
				<label>判断次数:</label>
				<input type="text" id="rule_num1" value="{{alarm_rile.sample_num}}" pattern="^[1-6]$" required="required"/>
				<label for="rule_num1" id="rule_numTip1">可修改判断次数</label>
				
			</div>
			<div class="alarm_table">
				<table class="table table-bordered">
					<tr>
						<td class="none">ID</td>
						<td>严重级别</td>
						<td>异常次数</td>
					</tr>
					{{each alarm_levels as alarmLeves index}}
						<tr>
							<td class="level_id none">{{alarmLeves.alarm_level}}</td>
							<td class="level">{{if alarmLeves.alarm_level == '3'}}严重{{/if}}{{if alarmLeves.alarm_level == '2'}}较重{{/if}}{{if alarmLeves.alarm_level == '1'}}一般{{/if}}</td>
							
							<td><input type="text" value="{{alarmLeves.ab_times}}"></td>
						</tr>
					{{/each}}
				</table>
			</div>
			<div class="status">
				<label for="">状态:</label>
				<span>
					<input type="radio" name="radio1" value="" checked/>
					启用
				</span>
				<span>
					<input type="radio" name="radio1" value="">
					禁用
				</span>
			</div>
			
		</div>
		
		<!--<div class="area_btn">
			<button class="btn btn-sure">保存</button>
			<button class="btn btn-cancel">取消</button>
		</div>-->
	</div>
</script>