<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<!--报警监控-->
<div id="alarm_sets">

	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">报警设置</span>
	</div>
	<div class="navMain public_search">

		<form class="form-inline">
			<div class="form-group">
				<label for="">实例名称:</label>
				<input type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>报警分类:</label>
				<select class="form-control">
					<script id="typeTemp" type="text/html">
						<option value="">请选择报警分类</option>
						{{each alarm_types as typesAlarm index}}
							<option value="{{typesAlarm.id}}">{{typesAlarm.type_name}}</option>
						{{/each}}
					</script>
				</select>
			</div>
			<div class="form-group">
				<label for="">异常实例名称:</label>
				<input type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<button class="btn search" type="button">查询</button>
				<button class="btn btn-success btn_unusual new_add_btn" type="button" data-toggle="modal" data-target="#addModal">
					添加报警规则
				</button>
			</div>
		</form>
	</div>

	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	<!--公共表格-->
	<%= render 'table' %>
	<!--弹出框-->
	<!--<div id="public_box"></div>-->
	<!--创建-->
	<!--<div class="add_alarm add_alarm1">-->
		<%= render 'add' %>
	<!--</div>-->
	<!--编辑-->
	<!--<div class="add_alarm add_alarm2">-->
		<%= render 'edit' %>
	<!--</div>-->
</div>
