
	<script id="create_stations" type="text/html">
		{{if stations.length > 0}}	
			{{each stations as data index}}
			<tr>
		        <td  class="id dat">{{data.id}}</td>
		        <td class="station_name"> {{data.station_name}}</td>
		        <td> {{data.station_type}}</td>
		        <td class="region_name">{{data.region_code}}</td>
		        <td class="ellipsis">{{data.station_location}}</td>
		        <td>{{data.longitude}}</td>
		        <td>{{data.latitude}}</td>
		        <td class="dStatus">{{if data.station_status=='1'}}启用{{else}}停用{{/if}}</td>
				<td class="handle_width">
					<a class="buildPlan">生成本月计划 </a>
					
				</td>
			</tr>
	    	{{/each}}
		{{else}}
		<tr>
			<td colspan="9">暂无数据</td>
		</tr>
		
		{{/if}}
	</script>