<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="create_station_plan">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">新增站点生成计划</span>
		</div>
		<div class="navMain public_search">
			
			<form class="form-inline">
				
				<div class="form-group">
	                <label for="">站&#x3000;&#x3000;点：</label>
	                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            	<input type="text"  class="control_stationIDs hide" />
	            	<input type="hidden" class="ids" />
	            </div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
					
				</div>
			</form>
			<%= render :partial => 'test_iframes/sq_publicStation' %>
		</div>
		<div id="loading" class="loading">正在生成本月、下月计划....</div>
		<div id="public_table">
			<div class="public_table">
				<table class="table table-bordered table-hover">
					<thead>
			       	<tr>
				      <th>站点ID</th>
				      <th>站点名称</th>
				      <th>站点类型</th>
				      <th>区域归属</th>
				      <th>部署位置</th>
				      <th>经度</th>
				      <th>纬度</th>
				      <th>状态</th>
				      <th>操作</th>
				    </tr>
			       </thead>
			       <tbody class="exception-list">
			       	
			       </tbody>
				</table>
			</div>
			<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		
		
	<div class="clear"></div>
<%= render 'table' %>
	</div>
</div>