<script type="text/html" id="faultAudit">
	<div class="edit_jobs">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">工单审核</span>
			<button class="saveback btn-default btn">返回</button>
			<button class="save btn" id="auditSave">保存</button>
		</div>
		<div class="fault_step">
				
		</div>
	<div class="panel partial" data-taskid="" data-active="">
		<h3 class="check-second-title">工单信息</h3>
		<div class="check-list-content">
			<table class="table check-list-table" >
				<tbody>
					<tr>
		                <td align="right" width="75px;">工单号:</td>
		                <td align="right" width="320px;">{{editData.job_no}}</td>
		                <td width="75px;">来源:</td>
		                <td id="StationName">{{editData.station_name}}</td>
		            </tr>
		            <tr>
		                <td align="right" width="85px;">生成时间:</td>
		                <td>{{editData.created_at}}</td>
		            </tr>
		            <tr>
		                <td>工单状态:</td>
		                <td>{{editData.job_status}}</td>
		                <td>工单类型:</td>
		                <td>{{editData.fault_type}}</td>
		            </tr>
	                <tr>
	                    <td>工单标题:</td>
	                    <td>{{editData.title}}</td>
	                    <td>是否补录:</td>
	                    <td>{{ if editData.clraring_if == 'Y'}}是{{else}}否{{/if}}</td>
	                </tr>
				</tbody>
			</table>
		</div>
		<div class="check-list-content">
		        <table class="table check-list-table">
		            <tbody>
	                    <tr>
	                        <td align="right" width="85px;">设备类型:</td>
	                        <td id="DeviceTypeName" align="right" width="320px;">{{editData.equilp.equip_type}}</td>
	                        <td align="right" width="85px;">设备品牌：</td>
	                        <td>{{editData.equilp.equip_brands}}</td>
	                    </tr>
	                    <tr>
	                        <td align="right" width="85px;">设备编号:</td>
	                        <td align="right" width="320px;">{{editData.equilp.equip_nums}}</td>
	                        <td align="right" width="85px;">设备型号:</td>
	                        <td>{{editData.equilp.equip_code}}</td>
	                    </tr>
	                                    <tr>
	                        <td align="right" width="85px;">故障现象:</td>
	                        <td colspan="3">
                                <span class="margin10-r">{{editData.fault_phenomenon}}</span>
	                        </td>
	                    </tr>
		            </tbody>
		        </table>
		    </div>
	</div>   
	<div class="panel partial" data-taskid="" data-active="" id="guzhang">
	    <h3 class="check-second-title">故障处理</h3>
	    <div id="FaultProcess" class="check-list-content">
	        <table class="table check-list-table">
	            <tbody>
	                <tr>
	                    <td style="width: 85px">远程处理：</td>
	                    <td style="width: 50%" class="IsScene">
	                        <label class="checkbox-radio">
	                            <input   name="IsScene" type="radio" value="Y" disabled="disabled" id="IsSceneY">是
	                        </label>
	                        <label class="checkbox-radio">
	                            <input   name="IsScene" type="radio" value="N" disabled="disabled" id="IsSceneN">否
	                        </label>
	                    </td>
	                    <td rowspan="4">
	                        <div id="DeviceInfo_Img" class="gongdan-img-box" style="">
								
	                        </div>
	
	                        <input type="hidden" name="StandbyDeviceImgPath" disabled="disabled">
	                    </td>
	                </tr>
	                
	                <tr id="DeviceInfo" style="">
	                    <td>处理方式：</td>
	                    <td>
	                        <label class="checkbox-radio">
	                            <input    name="ProcessType" type="radio" value="1" disabled="disabled" id="ProcessX"><span>现场维修</span>
	                        </label>
	                        <label class="checkbox-radio">
	                            <input  name="ProcessType" type="radio" value="2" disabled="disabled" id="ProcessG"><span>更换备机</span>
	                        </label>
	                        <label class="checkbox-radio">
	                            <input  name="ProcessType" type="radio" value="3" disabled="disabled" id="ProcessQ"><span>其他</span>
	                        </label>
	                        <!--<input type="hidden" id="IsChanageStandbyDevice" name="IsChanageStandbyDevice" value="False" disabled="disabled">-->
	                    </td>
	                </tr>
	               <tr id="DeviceInfo_Code" style="display: none;">
	                    <td>备机编号：</td>
	                    <td>
	                        <input class="form-control" id="DeviceCode_Text" name="DeviceCode_Text" type="text" value="{{editData.stand_num}}" disabled="disabled" style="width: 200px;">
	                    </td>
	                </tr>
	                <tr>
	                    <td>处理说明：</td>
	                    <td>
	                        <textarea id="H_Desc" name="DescriptionTA" style="display: block; min-width: 300px; height: 50px; padding: 10px;" disabled="disabled">{{editData.handle.handle_des}}</textarea>
	                    </td>
	                </tr>
	                <tr id="FaultContent" style="display: none;">
							<td align="right">处理记录：</td>
                            <td colspan="3">
                            <label class="btn btn-default btn-checkitem typeName" data-checkprocessstatus="1"><img class="faultimg" src=""><span></span></label><div style="width:100%;height:10px;"></div>
							<label class="btn btn-default btn-checkitem" data-checkprocessstatus="1"><img class="faultimg" src=""><span>备机更换记录表</span></label><div style="width:100%;height:10px;"></div></td>
						</tr>
                    <tr>
	                    <tr>
	                        <td>处理人：</td>
	                        <td>
	                            <input class="form-control dropdown-select-bg" id="ProcessUserId_Process" name="ProcessUserId_Process" type="hidden" >
	                            <input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" type="text" value="{{editData.handle.handle_man}}" style="width: 200px;">
	                            
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>处理时间：</td>
	                        <td>
	                           {{editData.handle.handle_time}}
	                        </td>
	                    </tr>
	            </tbody>
	        </table>
	    </div>
	
	</div>
			<div class="panel partial" data-taskid="" data-active="" id="repair">
    	<h3 class="check-second-title">维修：</h3>
    	<div class="check-list-content">
    		<table class="table check-list-table">
    			<tr>
    				<td width="90px;" align="right">维修项目:</td>
    				<td colspan="3" id="repairContents">
                        <div class="ckbContent">
                            <label class="checkbox-radio">
                                <input type="radio" name="cbRepa" value="清洗部件" disabled="disabled">清洗部件
                            </label>
                            <label class="checkbox-radio">
                                <input type="radio" name="cbRepa" value="更换零件" disabled="disabled">更换零件
                            </label>
                            <label class="checkbox-radio">
                                <input type="radio" name="cbRepa" value="返厂维修" disabled="disabled">返厂维修
                            </label>
                            <label class="checkbox-radio">
                                <input type="radio" name="cbRepa" value="返回公司维修" disabled="disabled">返回公司维修
                            </label>

                            <label class="checkbox-radio">
                                <input type="radio" name="cbRepa" value="维修不通过" disabled="disabled">维修不通过
                            </label>
                        </div>
                    </td>
    			</tr>
    			<tr>
                    <td width="90px;" align="right">维修记录:</td>
                    <td>
                        <label class="btn btn-default btn-checkitem" data-checkprocessstatus="1"><img class="faultimg" src=""><span>空气自动监测仪器设备检修记录表</span></label>
                    </td>
                </tr>
    			<tr>
                    <td width="100px;" align="right">维修记录附件:</td>
                    <td id="RepairRecord">
                    	<img src="{{editData.handle.img_one}}" style="width: 300px;height: 230px;" />	
                    </td>
                </tr>
                <tr>
                	<td width="90px;" align="right">主要维修人:</td>
                	<td><input type="text" value="{{editData.maint_project.maint_code}}" disabled="disabled" class="form-control" style="width: 200px;"></td>
                </tr>
                <tr>
                	<td width="90px;" align="right">参与维修人:</td>
                	<td><input type="text" value="" disabled="disabled" class="form-control" style="width: 200px;"></td>
                </tr>
    		</table>
    	</div>
    </div>
	<div class="panel partial" id="calibration" style="display: none;">
    	<h3 class="check-second-title">校准</h3>
    	<div class="check-list-content">
    		<table class="table check-list-table">
    			<tr>
                    <td align="right">校准记录：</td>
                    <td colspan="3">
						<span class="btn btn-sm btn-primary calibration ">
							校准处理
						</span>
                                
                        <input type="hidden" name="AttachCalibrationId" value="" disabled="disabled">
                    </td>
                </tr>
    			<tr>
    				<td width="90px;" align="right">维修记录附件:</td>
                    <td id="RepairRecord" style="width: 200px;">
                    	<img src="{{editData.equip_calib.img_one}}" style="width: 300px;height: 230px;" />	
                    </td>
                    <td>
                    	
                    </td>
    			</tr>
    			<tr>
                    <td align="right">校准结果：</td>
                    <td colspan="3">
                        <div class="ProcessStatus">
                                <label class="checkbox-radio">
                                    <input type="radio" name="FaultJiaoZhun" value="Y" disabled="disabled">通过
                                </label>
                                 <label class="checkbox-radio">
                                    <input type="radio" name="FaultJiaoZhun" value="N" disabled="disabled">不通过
                                </label>
                        </div>
                    </td>
                </tr>
                <tr id="calib_des" style="display: none;">
                    <td align="right" style="width:95px">不通过原因：</td>
                    <td>
                    	<input type="text" value="{{editData.equip_calib.calibs_des}}" disabled="disabled"/>
                    </td>
                     <td colspan="2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                	<td>校准人：</td>
                	<td>
                        <input readonly="readonly" disabled="disabled" class="form-control" type="text" value="{{editData.equip_calib.calibs_man}}" style="width: 200px;">
                    </td>
                     <td colspan="2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                	<td align="right">校准时间：</td>
                    <td>{{editData.equip_calib.calibs_time}}</td>
                     <td colspan="2">
                        &nbsp;
                    </td>
                </tr>
    		</table>
    	</div>
    </div>    
	    <div class="panel partial" data-taskid="" data-active="">
    		<h3 class="check-second-title">审核</h3>
    		<div class="check-list-content">
	        <table class="table check-list-table">
	            <tbody>
	            	<tr>
	                    <td align="right" style="width:150px;">审核内容：</td>
	                    <td colspan="1" id="audit_adopt">
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve" value="Y" id="audit_Y" checked="checked">通过
                            </label>
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve" value="N" id="audit_N">不通过
                            </label>
	                    </td>
                        <td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	                <tr id="ApproveProcessType" style="display: none;">
                        <td>处理方式：</td>
                        <td>
                            <label class="checkbox-radio" style="width:100%;">
                                <input name="ApproveProcessType" type="radio" value="0">原机下架到备件库，备机停留在站点
                            </label>
                            <label class="checkbox-radio" style="width:100%;">
                                <input name="ApproveProcessType" type="radio" value="1">原机上架到站点，备机下架到备件库
                            </label>
                        </td>
                    </tr>
	                <tr id="audit_text" style="display: none;">
	                	<td>审核不通过原因：</td>
	                	<td>
	                		<textarea id="audit_not"></textarea>
	                	</td>
	                	<td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
	
</div>
<form id="typeListBox" class="form-horizontal">

	</form>	
</script>
