
<div id="fault_add">
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">新增故障单</span>
		<button class="btn" id="btnBack">返回</button>
		<button class="btn btn-primary" id="addSave">保存</button>
	    
	</div>
	<form class="form-horizontal" id="add_form">
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">基本信息</h3>
			<div class="form-group">
	          <label class="col-sm-2 control-label">工单类型 :</label>
	          <div class="col-sm-5">
	            <input  type="radio"  name="fault_type" id="fault_type" checked="checked" value="fault_form">
	            	<span>故障单</span>
	          </div>
	        </div>
	        
	        <div class="form-group">
	          <label class="col-sm-2 control-label">紧急程度 :</label>
	          <div class="col-sm-5" id="urgent_level">
	            <input  type="radio"  name="urgent_level" checked="checked" value="I">
	            	<span>一般</span>
	            <input  type="radio"  name="urgent_level" value="II">
	            	<span>中等</span>
	            <input  type="radio"  name="urgent_level" value="III">
	            	<span>紧急</span>
	          </div>
	        </div>
	        <div class="form-group">
	          <label class="col-sm-2 control-label">下发类型 :</label>
	          <div class="col-sm-5" id="send_type">
	            <input  type="checkbox"  name="send_type" checked="checked" value="app">
	            	<span>App</span>
	            <input  type="checkbox"  name="send_type" value="sms">
	            	<span>短信</span>
	            <input  type="checkbox"  name="send_type" value="email">
	            	<span>微信</span>
	            <input type="hidden" name="send_type_val" id="send_type_val" value="" />
	          </div>
	        </div>
		</div>
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">详细内容</h3>
			<div class="form-group">
	          <label class="col-sm-2 control-label">站点名称 :</label>
	          <div class="col-sm-5">
	            <input type="text" class="addControl_station form-control" id="addControl_stations" data-toggle="modal" data-target="#sq_radioStation"/>
					<input type="hidden"  class="addControl_stationID form-control" id="addControl_stationIDs"/>
	          </div>
	        </div>
	        <div class="form-group">
	          <label class="col-sm-2 control-label">设备 :</label>
	          <div class="col-sm-5">
	           <select class="form-control" id="device_name">
	           	<option value="">请选择</option>
	           	<option value="pm10">pm10</option>
	           	<option value="pm2.5">pm2.5</option>
	           	<option value="so2">so2</option>
	           	<option value="no2">no2</option>
	           	<option value="co">co</option>
	           	<option value="o3">o3</option>
	           </select>
	          </div>
	        </div>
	        <div class="form-group">
	        	<label class="col-sm-2 control-label">故障现象 :</label>
	        	<div class="col-sm-5">
	        		<div id="fault_phenomenon">
	        			
	        		</div>
	        	</div>
	        </div>
	        <div style="clear:both"></div>
	        <div class="form-group">
	        	<label class="col-sm-2 control-label">标题 :</label>
	        	<div class="col-sm-5">
	        		<input type="text" class="form-control" id="title"/>
	        	</div>
	        </div>
	        <div class="form-group">
	        	<label class="col-sm-2 control-label">内容:</label>
	        	<div class="col-sm-5">
	        		<textarea class="form-control" id="content"></textarea>
	        	</div>
	        </div>
		</div>
		
        
        
        
        
	</form>
		<%= render :partial => 'test_iframes/sq_radioStation' %>
</div>
