<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">运维人员</h4>
      </div>
      <div class="modal-body">
       <div id="send_per">
       	
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="paiSave">保存</button>
      </div>
    </div>
  </div>
</div>
<script id="sendPers" type="text/html">

	<div class="unit_send">
		<p class="unit_name">
			<span class="unit_id hide">{{units.unit_id}}</span>
			<button class="btn btn-sm">{{units.unit_name}}</button>
		</p>
		<div class="unit_user">
			{{each units.user as perlist index}}
			<div>
				<input type="radio" name="pers" value="{{perlist.id}}">
				<span class="persName">{{perlist.login_name}}</span>
			</div>
			
			{{/each}}
		</div>
	</div>
	
</script>
