<script id="faultTables" type="text/html">
	{{if faults.length != 0}}
		{{each faults as list index}}
		<tr class="list-parent">
			<td>{{index + 1}}</td>
			<td class="id hide">{{list.id}}</td>
			<td>{{list.region_name}}</td>
		
			<td>{{list.station_location}}</td>
			<td>{{list.station_name}}</td>
			<td>{{list.device_name}}</td>
			<td>{{list.job_no}}</td>
			<td>{{list.create_type}}</td>
			<td>{{list.author}}</td>
			<td>{{list.created_at}}</td>
			<td>{{list.urgent_level}}</td>
			<td>{{list.title}}</td>
			<td>{{list.fault_type}}</td>
			<td class="job_status">{{list.job_status}}</td>
			
			<td class="handleMan">{{list.handle_man}}</td>
			<td class="sendTypes">{{each list.send_type as sendTypes i}}<span>{{sendTypes}}</span>{{/each}}</td>
			<td>
				<a class="fault_audit" >审核</a>
				
				<a class="fault_look" >详细</a>
				{{if list.job_status == '工单待分配'}}
					<a class="paiq" data-toggle="modal" data-target="#myModal">派遣</a>
				{{else list.job_status == '工单待处理'}}
					<a class="workPerson" data-toggle="modal" data-target="#ghModal">更换处理人</a>
					<a class="fault_writing" >编辑</a>
				{{/if}}
				<a class="forward">转发</a>
				<div class="forward_prop" style="display: none;">
					<p>是否转发？</p>
					<button type="button" class="btn-primary btn-sure">确认</button>
					<button type="button" class="btn-primary btn-cancel">取消</button>
				</div>
			</td>				
		</tr>	
        {{/each}}
    {{else}}
    <tr>
		<td colspan="19">暂无数据</td>
	</tr>
	{{/if}}
</script>
