<script type="text/html" id="faultWriting">
	<div class="edit_jobs">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">工单填写</span>
			<button class="saveback btn-default btn" id="editBack">返回</button>
			<button class="save btn" id="editSave">保存</button>
		</div>
		<div class="fault_step">
				
		</div>
		
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">工单信息</h3>
			<div class="check-list-content">
			
				<table class="table check-list-table" >
					<tbody>
						<tr>
			                <td align="right" width="75px;">工单号：</td>
			                <td align="right" width="320px;">{{editData.faultJob.job_no}}</td>
			                <td width="85px">来源：</td>
			                <td id="StationName">{{editData.faultJob.station_name}}</td>
			            </tr>
			            <tr>
			                <td align="right" width="85px;">生成时间：</td>
			                <td>{{editData.faultJob.created_at}}</td>
			            </tr>
			            <tr>
			                <td>工单状态：</td>
			                <td>{{editData.faultJob.job_status}}</td>
			                <td>工单类型：</td>
			                <td>{{editData.faultJob.fault_type}}</td>
			            </tr>
		                <tr>
		                    <td>工单标题：</td>
		                    <td>{{editData.faultJob.title}}</td>
		                    <td>是否补录：</td>
		                    <td>{{ if editData.faultJob.clraring_if == 'Y'}}是{{else}}否{{/if}}</td>
		                </tr>
					</tbody>
				</table>
			</div>
			
			<div class="check-list-content">
		        <table class="table check-list-table">
		            <tbody>
	                    <tr>
	                        <td align="right" width="85px;">设备类型：</td>
	                        <td id="DeviceTypeName" align="right" width="320px;">{{editData.equilp.equip_type}}</td>
	                        <td align="right" width="85px;">设备品牌：</td>
	                        <td>{{editData.equilp.equip_brands}}</td>
	                    </tr>
	                    <tr>
	                        <td align="right" width="85px;">设备编号：</td>
	                        <td align="right" width="320px;">{{editData.equilp.equip_nums}}</td>
	                        <td align="right" width="85px;">设备型号：</td>
	                        <td>{{editData.equilp.equip_code}}</td>
	                    </tr>
	                                    <tr>
	                        <td align="right" width="85px;">故障现象：</td>
	                        <td colspan="3">
	                            <span class="margin10-r">{{editData.equilp.fault_phenomenon}}</span>
	                        </td>
	                    </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">故障处理</h3>
			<div id="FaultProcess" class="check-list-content">
		        <table class="table check-list-table">
		            <tbody>
		                <tr>
		                    <td style="width: 85px">远程处理：</td>
		                    <td style="width: 50%" class="IsScene">
		                        <label class="checkbox-radio">
		                            <input data-val="true" data-val-required="The IsScene field is required." id="IsSceneY" name="IsScene" type="radio" value="Y">是
		                        </label>
		                        <label class="checkbox-radio">
		                            <input id="IsSceneN" name="IsScene" type="radio" value="N">否
		                        </label>
		                    </td>
		                    <td rowspan="4">
		                    </td>
		                </tr>
		                
		                <tr id="DeviceInfo" style="">
		                    <td>处理方式：</td>
		                    <td>
		                        <label class="checkbox-radio">
		                            <input data-val="true" id="ProcessX" name="ProcessType" type="radio" value="1"><span>现场维修</span>
		                        </label>
		                        <label class="checkbox-radio">
		                            <input id="ProcessG" name="ProcessType" type="radio" value="2"><span>更换备机</span>
		                        </label>
		                        <label class="checkbox-radio">
		                            <input id="ProcessQ" name="ProcessType" type="radio" value="3"><span>其他</span>
		                        </label>
		                        <input type="hidden" id="IsChanageStandbyDevice" name="IsChanageStandbyDevice">
		                    </td>
		                </tr>
		                <tr id="DeviceInfo_Code" style="display: none;">
		                    <td>备机编号：</td>
		                    <td>
		                    	<select id="DeviceCode" class="form-control">
		                    		<option value="">请选择备机编号</option>
		                    		{{each editData.stand_nums as list i}}
		                    			<option value="{{list.id}}">{{list.stand_num}}</option>
		                    		{{/each}}
		                    	</select>
		                    </td>
		                </tr>
		                <tr>
		                    <td>处理说明：</td>
		                    <td>
		                        <textarea id="H_Desc" name="DescriptionTA" style="display: block; min-width: 300px; height: 50px; padding: 10px;"></textarea>
		                    </td>
		                </tr>
		                <tr id="FaultContent" style="display: none;">
							<td align="right">处理记录：</td>
							<td colspan="3">
							<label class="btn btn-default btn-checkitem typeName" data-checkprocessstatus="1"><img class="faultimg" src=""><span></span></label><div style="width:100%;height:10px;"></div>
							<label class="btn btn-default btn-checkitem" data-checkprocessstatus="1"><img class="faultimg" src=""><span>备机更换记录表</span></label><div style="width:100%;height:10px;"></div></td>
						</tr>
		        </table>
		    </div>
		</div>
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">日志表</h3>
			<div id="public_table">
				<div class="public_table">
		    	<table class="table table-bordered table-hover">
		    		<thead>
		    			<tr>
		    				<th>序号</th>
		    				<th>步骤</th>
		    				<th>处理人</th>
		    				<th>开始时间</th>
		    				<th>完成时间</th>
		    				<th>说明</th>
		    				<th>处理状态</th>
		    				<th>超时状态</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			{{each editData.detail as list i}}
		    				<tr>
		    					<td>{{i+1}}</td>
		    					<td>{{list.job_status}}</td>
		    					<td>{{list.handle_man}}</td>
		    					<td>{{list.begin_time}}</td>
		    					<td>{{list.end_time}}</td>
		    					<td>{{list.note}}</td>
		    					<td>{{list.handle_status}}</td>
		    					<td>{{list.without_time_flag}}</td>
		    				</tr>
		    			{{/each}}
		    		</tbody>
		    	</table>
		    </div>
			</div>
			
		</div>
		
	</div>
	<form id="typeListBox" class="form-horizontal">

	</form>	
</script>