<!--增加模板-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">单位信息增加</h4>
      </div>
      <div class="modal-body">


 <form class="form-horizontal" id="add_form">
	     <div class="form-group">
          <label class="col-sm-3 control-label">单位名称 :</label>
          <div class="col-sm-7">
            <input class="form-control" id="unit_name" type="text" name="unit_name">
          </div>
        </div>
        <div class="form-group">
          <label  class="col-sm-3 control-label">单位编号:</label>
          <div class="col-sm-7">
            <input class="form-control"  type="text" name="unit_code" id="unit_code">
          </div>
        </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">联系人员:</label>
            <div class="col-sm-7">
              <input type="text"  class="form-control" name="linkman" id="linkman" >
            </div>
          </div>
          <div class="form-group">
                <label for="disabledTextInput" class="col-sm-3 control-label">联系电话:</label>
                <div class="col-sm-7">
                  <input type="text"  class="form-control" name="linkman_tel" id="linkman_tel">
                </div>
              </div>
              <div class="form-group">
                    <label for="disabledTextInput" class="col-sm-3 control-label">单位地址:</label>
                    <div class="col-sm-7">
                      <input type="text"  class="form-control" name="unit_address" id="unit_address">
                    </div>
                  </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">所属区域:</label>
            <div class="col-sm-7"> 
            <input id="control_station" class="form-control area control_station" required="true"  type="text" name="areas"/>
						<input class="chooseBox hide control_stationID" type="text" name="s_region_code_id" id="s_region_code_id" />
            </div>
             <span class="btn btn-primary choice2" data-toggle="modal" data-target="#regionModal">选择</span>
          </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">状态:</label>
            <div class="col-sm-7">
                <select  class="form-control" id="status" name="status">
	                <option value="Y">启用</option>
	                <option value="N">停用</option>
                </select>
            </div>
        </div>
        
	
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure" style="margin-top: 0px;">保存</button>
      </div>
    </div>
  </div>
</div>
  	
      