<script id="region_tables" type="text/html">
	
	{{each regions as data index}}
	<tr>
		<td>{{index + 1}}</td>
		<td class="id hide">{{data.id}}</td>
		<td>{{data.unit_name}}</td>
		<td>{{data.unit_code}}</td>
		<td>{{data.region_code ? data.region_code.region_name :''}}</td>
	
		<td>
				<a class="work_edit" data-toggle="modal" data-target="#editModal">修改</a>
				<a class="work_delete" >删除</a>
				<div class="delete_prop">
					<p>是否删除？</p>
					<button type="button" class="btn btn-primary btn-sure">确认</button>
					<button type="button" class="btn btn-cancel">取消</button>
				</div>
		</td>
	</tr>
	{{/each}}
	
</script>
