<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="s_region_code">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">单位信息管理</span>
		</div>
		
		<div id="public_table">
			<button class="btn btn-success btn_unusual new_add_btn" data-toggle="modal" data-target="#addModal" style="margin-right: 10px;float:right;margin-bottom: 10px;">
			创建
		   </button>
			<div class="public_table">
				<table class="table table-bordered table-hover">
					<thead>
			       	<tr>
			       		<th>序号</th>
				        <th>单位名称</th>
				        <th>单位编码</th>
				        <th>所属区域</th>
				    
				        <th>操作</th>
			       	</tr>
			       </thead>
			       <tbody class="exception-list">
			       	
			       </tbody>
				</table>
			</div>
			<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
			
		</div>
		<!--分页-->
		
		<div class="clear"></div>
		<%= render 'table' %>
		<%= render 'new' %>
		<%= render 'edit' %>
		<%= render 'stations' %> 
		<!--区域归属-->
		<div class="single-station single-station2">
			<p class="clearfix"><span class="pull-right">X</span></p>	
			<div class="content">
				
			</div>
			<div class="footer">
				<button class="btn single-btn">确认</button>
				<button class="btn btn-cancel">取消</button>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="regionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
			<div  id="region_list">
				
				<div class="content">
					
				</div>
				
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="regionSave">保存</button>
      </div>
    </div>
  </div>
</div>
	
</div>

<!--站点-->
<script id="getSingleStation" type="text/html">

		{{each unit_region as regionCode index}}
			<div class="regionCode_content">
					
				<input class="radio-box" type="radio" name="group_id"   value="{{regionCode.id}}"/>
				<span>{{regionCode.region_name}}</span>
				
			</div>
		
		{{/each}}
	
</script>

<div class="modal fade" id="regionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
			<div  id="region_list">
				
				<div class="content">
					
				</div>
				
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="regionSave">保存</button>
      </div>
    </div>
  </div>
</div>

