<!--增加模板-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">人员信息增加</h4>
      </div>
      <div class="modal-body">


  <form class="form-horizontal" id="add_form">
		<div class="form-group">
			<label class="col-xs-2 control-label">姓名:</label>
			<div class="col-xs-5">
				<input  class="form-control project_name" required="required" name="name" autofocus="autofocus" placeholder="请输入姓名" type="text"  />
			</div>
			<!--<label id="login_no_Tip" class="warn control-default">请输入2至16位的英文或数字</label>-->
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">电话号码:</label>
			<div class="col-xs-5">
				<input  class="form-control telphone" name="telphone" required="required" autofocus="autofocus" placeholder="请输入电话号码"  type="text"/>
			</div>
			
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">微信:</label>
			<div class="col-xs-5">
				<input  class="form-control wee_chat" name="wee_chat" required="required" autofocus="autofocus" placeholder="请输入微信号码"  type="text"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">QQ:</label>
			<div class="col-xs-5">
				<input  class="form-control qq_num" name="qq_num" required="required" autofocus="autofocus" placeholder="请输入QQ"  type="text"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Email:</label>
			<div class="col-xs-5">
				<input  class="form-control email" name="email" required="required" autofocus="autofocus" placeholder="请输入邮箱"  type="email"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" >在职状态:</label>
			<div class="col-xs-5" >
				<select name="work_status"  class="form-control" id="incumbency">
					<option value="Y">在职</option>
					<option value="N">离职</option>
				</select>
			</div>
			<label id="incum_flagTip" class="warn hide control-default">请选择在职状态</label>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" >所属组别:</label>
			<div class="col-xs-5" id="group">
				<ul class="notice_group" >
					
				</ul>
			</div>
		</div>
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>
<script id="groupTemp" type="text/html">
	{{each group_infos as data index}}
			<li>
				<input type="checkbox" value="{{data.id}}" name="group_infos_id" class="group_infos_id">
				<span>{{data.group_name}}</span>
			</li>
	{{/each}}
						
</script>