<script id="worker_table" type="text/html">
	
	{{each d_workers as data index}}
	<tr>
		<td>{{data.name}}</td>
		<td class="id hide">{{data.id}}</td>
		<td>{{data.telphone}}</td>
		<td>{{data.wee_chat}}</td>
		<td>{{data.qq_num}}</td>
		<td>{{data.email}}</td>
		<td>{{if data.work_status=='Y'}}在职{{else}}离职{{/if}}</td>
		<td>{{data.created_at}}</td>
		<td>{{each data.d_worker_g as list i}}<span>{{list.group_name}}</span>{{/each}}</td>
		<td>
				<a class="work_edit" data-toggle="modal" data-target="#editModal">修改</a>
				<a class="work_delete" >删除</a>
				<div class="delete_prop" style="display: none;">
					<p>是否删除？</p>
					<button type="button" class="btn btn-primary btn-sure">确认</button>
					<button type="button" class="btn btn-cancel">取消</button>
				</div>
		</td>
	</tr>
	{{/each}}
	
</script>
