<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改区域站点配置</h4>
      </div>
      <div class="modal-body editRegion">
			 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sure">保存</button>
      </div>
    </div>
  </div>
</div>


<script id="regionEdit" type="text/html">	
	<div id="regions_edit">
	<div class="content">
		<div class="content-outside">
			
			<div class="content-inside">
				<div class="line-top">
					<p>请选择以下表单</p>
				</div>
				<div class="linea">
					<span>归属层级</span>
				    <input class="place"  type="text" name="regions_name" id="regions_name_edit" value="{{region_code.region_name}}" readonly="true">
				    
				</div>
				<div class="linea">
					<div class="line-top">
						<p>权限选项</p>
					</div>
				</div>
				<div class="station_content">
					<p class="checkall"><input type="checkbox">全选</p>
					<div class="station_list">
						
					</div>
					<div class="station_list2">
						{{each d_stations as station_list index}}
						<input type="checkbox" value="{{station_list.station_id }}" checked="checked"/>
						{{/each}}
					</div>
				</div>
				<div>
					<input type="text" name="region_id" class="showId hides"/>
					<!--<input type="submit" name="commit" value="提交" class="btn btn-primary regionSubmit">-->
				</div>
			</div>
		</div>
	</div>
	</div>
</script>