<script id="regionLook" type="text/html">	
	<div id="regions_look">
	<div class="content">
		<div class="content-outside">
			<h4>查看
				<div class="right close">X</div>
			</h4>
			<div class="content-inside">
				<div class="line-top">
					<p>请选择以下表单</p>
				</div>
				<div class="line">
					<span>归属层级</span>
				    <input class="place"  type="text" name="regions_name"  value="{{region_code.region_name}}" readonly="true">
				    
				</div>
				<div class="line">
					<div class="line-top">
						<p>权限选项</p>
					</div>
				</div>
				<div class="station_content">
					<div class="station_list">
						
					</div>
					<div class="station_list2">
					
						{{each d_stations as station_list index}}
						<input type="checkbox" value="{{station_list.station_id }}" checked="checked"/>
						{{/each}}
							
						
					</div>
				</div>
				<div class="area_btn">
					
					<input type="submit" name="commit" value="关闭" class="btn btn-cancel">
				</div>
			</div>
		</div>
	</div>
	</div>
</script>