<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="handleStation">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">区域站点配置</span>
		</div>
		
		<div id="public_table">
			<div class="public_table" id="regionsMsg">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>归属层级</th>
							<th>站点</th>
							<th>操作管理</th>
						</tr>
					</thead>
					<tbody class="handle_msg">
						
					</tbody>
				</table>
			</div>
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<!--<div class="editRegion">-->
		<%= render 'edit'%>
		<!--</div>-->
		<!--<div class="editLook">
			<%= render 'look'%>
		</div>-->
		<!-- 模态框（Modal） -->
		<!--<div class="public_box">
			<div class="public_area">
				
				<div class="area_content">
		
				</div>
				
			</div>
		</div>-->
		<div>
			<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
			<select id="pagesize" class="right">  
			    <option value="10" selected="selected">每页10条</option>  
			    <option value="20">每页20条</option>
				<option value="30">每页30条</option>  
			    <option value="40">每页40条</option>
			    <option value="50">每页50条</option> 
			</select>  
		</div>
		<div class="page_total left">
			<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
		</div>
		<div class="clear"></div>
	</div>
</div>

<!--分页-->



<script id="station_regions" type="text/html">
	{{each region_codes as data index}}
	
		<tr>
			<td>
				{{data.region_name}}
			</td>
			
			<td>
				<div class="stationSco">
				{{each data.d_stations as Data index}}
				
					<span>
					{{Data.station_name}},
					</span>
				{{/each}}
				</div>
			</td>
			
			<td>
				<a class="ststion_regions_edit" data-toggle="modal" data-target="#editModal">编辑</a>
				<span class="editId">{{data.region_id}}</span>
				<!--<a class="regions_look">查看</a>
				<span class="lookId">{{data.region_id}}</span>-->
			</td>
		</tr>
	
	{{/each}}
</script>
<script id="stationAll" type="text/html">
	{{each all_station as stationRegion index}}
	<div class="tab-station">
		<div class="station-one">
			<p>
			<small>{{stationRegion.id}}</small>
			<input type="checkbox" value="{{stationRegion.id}}" />
			<span>{{stationRegion.city_name}}</span>
			</p>
			<div class="search-line"></div>
			
		</div>
		<div class="station-two">
			{{each stationRegion.d_stations as stationTwo index}}
			<p>
			<small>{{stationTwo.id}}</small>
			<input type="checkbox" value="{{stationTwo.id}}" />
			<span>{{stationTwo.station_name}}</span>
			</p>
			<div class="search-line"></div>
			{{/each}}
		</div>
	</div>
	{{/each}}
</script>
