<script type="text/html" id="dTaskFormsNews">
	<div id="dTask">
	    <div  class="dTaskMain">
	    	<div class="navTop">
				<span class="lines"></span>
				<span class="tableName">工单详情</span>
				<button class="btn new_add_btn"  id="lookBack">返回</button>
			</div>
			<div class="dTaskTop panel">
	     		<ul>
	     			
	     		</ul>
	    	</div>
	    	<div class="dTaskMainNews panel">
	    		<div class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>工单信息</span>
	    		</div>
	    		<div class="workList">
	    			<div class="listNews">
	    				<span>
	    					<span>工单号：{{editData.task_from.job_no}}</span>
	    					<span>来源：{{editData.task_from.station_name}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>生成时间：{{editData.task_from.created_at}}</span>
	    					<span>计划完成时间：{{editData.task_from.polling_plan_time}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>工单状态：{{editData.task_from.job_status}}</span>
	    					<span>工单类型：{{editData.task_from.fault_type}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>工单标题：{{editData.task_from.title}}</span>
	    					<span>是否补录：{{editData.task_from.clraring_if}}</span>
	    				</span>
	    			</div>
	    		</div>
	    	</div>
	    <div id="lookXun" class="panel">
	    	<div class="checkNews">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>检查项列表：</span>
	    		</div>
	    		<div class="list">
					<div class="seeTypes" style="margin-left: 25px">
						{{each editData.task_from.polling_job_type as sendTypes i}}
						<div class="look_insp">
							<p  class="hide typesId">{{sendTypes.d_work_pro_id}}</p>
							<p class="hide typesCode">{{sendTypes.work_code}}</p>
							<p class="handle_name" title="{{sendTypes.handle_type}}"><img src=""><span>{{sendTypes.handle_type}}</span></p>
							<div><img src="{{sendTypes.img_one}}"></div>
						</div>
						{{/each}}
				    </div>
	    		</div>
	    	</div>
	    	<!--<div class="mouth">
	    		<div  class="workNews">
	    			<strong class="line_other"></strong>
	    			<span>月度检查项列表：</span>
	    		</div>
	    	</div>-->
	    </div>
	    <div id="lookFault" class="panel">
	    	<div  class="workNews">
				<!--<strong class="line_other"></strong>-->
				<span>故障处理：</span>
			</div>
			<div id="FaultProcess" class="check-list-content">
		        <table class="table check-list-table">
		            <tbody>
		                <tr>
		                    <td style="width: 85px">远程处理：</td>
		                    <td style="width: 50%" class="IsScene">
		                        <label class="checkbox-radio">
		                            <input   name="IsScene" type="radio" value="Y" disabled="disabled" id="IsSceneY">是
		                        </label>
		                        <label class="checkbox-radio">
		                            <input   name="IsScene" type="radio" value="N" disabled="disabled" id="IsSceneN">否
		                        </label>
		                    </td>
		                    <td rowspan="4">
		                        <div id="DeviceInfo_Img" class="gongdan-img-box" style="">
									
		                        </div>
		
		                        <input type="hidden" name="StandbyDeviceImgPath" disabled="disabled">
		                    </td>
		                </tr>
		                
		                <tr id="DeviceInfo" style="">
		                    <td>处理方式：</td>
		                    <td>
		                        <label class="checkbox-radio">
		                            <input    name="ProcessType" type="radio" value="1" disabled="disabled" id="ProcessX"><span>现场维修</span>
		                        </label>
		                        <label class="checkbox-radio">
		                            <input  name="ProcessType" type="radio" value="2" disabled="disabled" id="ProcessG"><span>更换备机</span>
		                        </label>
		                        <label class="checkbox-radio">
		                            <input  name="ProcessType" type="radio" value="3" disabled="disabled" id="ProcessQ"><span>其他</span>
		                        </label>
		                        <!--<input type="hidden" id="IsChanageStandbyDevice" name="IsChanageStandbyDevice" value="False" disabled="disabled">-->
		                    </td>
		                </tr>
		               
		                <tr>
		                    <td>处理说明：</td>
		                    <td>
		                        <textarea id="H_Desc" name="DescriptionTA" style="display: block; min-width: 300px; height: 50px; padding: 10px;" disabled="disabled">{{editData.task_from.handle_des}}</textarea>
		                    </td>
		                </tr>
		                    <tr>
		                        <td>处理人：</td>
		                        <td>
		                            <input class="form-control dropdown-select-bg" id="ProcessUserId_Process" name="ProcessUserId_Process" type="hidden" >
		                            <input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="ProcessUserId_Process_Text" name="ProcessUserId_Process_Text"  type="text" value="{{editData.task_from.handle_man}}">
		                            
		                        </td>
		                    </tr>
		                    <tr>
		                        <td>处理时间：</td>
		                        <td>
		                          {{editData.task_from.handle_time}} 
		                        </td>
		                    </tr>
		            </tbody>
		        </table>
		    </div>
	    </div>
	    	<div class="journal panel">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>日志表：</span>
	    		</div>
	    		<div class="journalList">
	    			<div id="public_table">
				    	<div class="public_table">
					    	<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<td>序号</td>
										<td>步骤</td>
										<td>处理人</td>
										<td>开始时间</td>
										<td>完成时间</td>
										<td>说明</td>
										<td>处理状态</td>
										<td>超时状态</td>
									</tr>
							    </thead>
									<tbody class="exception">
									{{each editData.task_from.details as list index}}
									<tr>
										<td>{{index+1}}</td>
										<td>{{list.job_status}}</td>
										<td>{{list.handle_man}}</td>
										<td>{{list.begin_time}}</td>
										<td>{{list.end_time}}</td>
										<td>{{list.note}}</td>
										<td>{{list.handle_status}}</td>
										<td>{{list.without_time_flag}}</td>
									</tr>
									{{/each}}
									</tbody>
						    </table>
				        </div>
				    </div>
	    		</div>
	    	</div>
	    	
	    </div>
	</div>
<%= render 'typesTable'%>
<form id="sampling" class="form-horizontal form-horizontal2" display="none">

</form>
<form id="weighing" class="form-horizontal form-horizontal3" display="none">

</form>		
</script>