<script id="dTaskForms" type="text/html">
	{{if task_forms}}
		{{each task_forms as form i}}
		<tr class="list-parent">
			<td class="id hide">{{form.id}}</td>
			<td>{{form.unit_name}}</td>
			<td>{{form.station_name}} <span class="hide">{{form.d_station_id}}</span></td>
			<td>{{form.job_no}}</td>
			<td>{{form.polling_ops_type}}</td>
			<td>{{form.fault_type}}</td>
			<td>{{form.create_type}}</td>
			<td>{{form.author}}</td>
			<td>{{form.created_at}}</td>
			<td>{{form.urgent_level}}</td>
			<td class="jobStatus">{{form.job_status}}</td>
			<td class="handleMan">{{form.handle_man}}</td>
			<td>
				<a class="lookFor">查看</a>
				{{if form.job_status == '工单待分配'}}
					<a class="paiq" data-toggle="modal" data-target="#myModal">派遣</a>
				{{else form.job_status == '工单待处理'}}
					<a class="workPerson" data-toggle="modal" data-target="#ghModal">更换处理人</a>
					<a class="d_taskEdit">编辑</a>
				
				{{/if}}
			</td>
		</tr>	
        {{/each}}
    {{else}}
    <tr>
		<td colspan="11">暂无数据</td>
	</tr>
	{{/if}}
</script>



