<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="d_task_forms">
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">工单信息管理</span>
	</div>
	<div class="navMain public_search">
		<input type="hidden" class="searchSta"/>
		<input type="hidden" class="startTime1" />
		<input type="hidden" class="endTime1" />
		<input type="hidden" class="searchWor"/>
		<input type="hidden" class="searchPerson"/>
		<input type="hidden" class="searchStatus"/>
		<form class="form-inline">
			<div class="form-group">
                <label for="">站&#x3000;&#x3000;点：</label>
                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            <input type="text"  class="control_stationIDs hide" />
                
            </div>
            <div class="form-group">
	           	<label for="">创建时间:</label>
		        <input type="" class="dateTimepicker create_datetime form-control"/>-
		        <input type="" class="dateTimepicker end_datetime form-control"/>
            </div>
            <div class="form-group">
           	 	<label for="">工&nbsp;&nbsp;单&nbsp;&nbsp;号:</label>
		        <input type="text" class="workName form-control"/>
            </div> 
            <div class="form-group">
           		<label for="">创建人:</label>
		        <input type="text" class="createPerson form-control"/>
            </div>
            <div class="form-group">
           		<label for="">工单状态:</label>
		        <select class="job_status form-control">
		          <option value="">请选择</option>
		          <option value="un_write">已创建</option>
		          <option value="writing">待填写</option>
		          <option value="un_audit">待审核</option>
		          <option value="audit">已审核</option>
		          <option value="wait_deal">待处理</option>
		          <option value="deal_with">处理中</option>
		          <option value="wait_review">待复核</option>
		          <option value="not_review">复核不通过</option>
		          <option value="not_audit">审核不通过</option>
		        </select>
            </div>
            
            <div class="form-group">
           		<button class="btn search" type="button">查询</button>
        		<button type="button" class="btn add_task new_add_btn" id="add" type="button">新增</button>
            </div>
        </form>
		
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	    <div id="public_table">
	    	<div class="btn-group" role="group" style="margin-bottom: 5px;">
				<button type="button" class="btn btn-default btn-chack" id="whole" value="">全部</button>
			  <button type="button" class="btn btn-default" id="not_review" value="not_review">复核不通过</button>
			  <button type="button" class="btn btn-default" id="not_audit" value="not_audit">审核不通过</button>
			</div>
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>运维单位</th>
							<th>站点</th>
						    <th>工单号</th>
						    <th>任务周期</th>
						    <th>工单类型</th>
						    <th>工单创建类型</th>
						    <th>创建人</th>
						    <th>创建时间</th>
						    <th>紧急程度</th>
						    <th>工单状态</th>
						    <th>当前处理人</th>
						    <th>操作</th>
					    </tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
			    </table>
	        </div>
	        <div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
	    </div>
		
	<%= render 'table' %>	
	<%= render :partial => 'test_iframes/sq_publicStation' %>
	<%= render 'send' %>
	<%= render 'ghSend' %>
	<div id="public_box"></div>
	
	
	<div class="clear"></div>
	</div>
	
	<!--增加-->
<div id="d_task_formsOther">
	
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">新增任务</span>
		<button class="btn saveback btn-default" id="addBack" style="height: 32px;">返回</button>
		<button class="btn btn-md save" id="addSave" style="height: 32px;">保存</button>
	    
	</div>
	<form class="form-horizontal" id="add_form">
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">基本信息</h3>
			<div id="basics">
				<div class="basicList">
					<div id="workType">
						<span class="workType">工单类型：</span>
						<!--<span class="basicLists"><input type="radio" name="type" id="fault_form" value="fault_form" />故障单</span>-->
						<span class="basicLists"><label><input type="radio" name="type" class="particularLi" value="polling_form"/>巡检单</label></span>
						<span class="basicLists"><label><input type="radio" name="type" class="particularLi2" value="abnormal_form"/>运维异常检查单</label></span>
					</div>
					<div id="level">
						<span class="level">紧张程度：</span>
						<span class="basicLists"><label><input type="radio" name="level" value="I" />一般</label></span>
						<span class="basicLists"><label><input type="radio" name="level" value="II"/>中等</label></span>
						<span class="basicLists"><label><input type="radio" name="level" value="III"/>紧急</label></span>
					</div>
					<div id="send">
						<span class="send">下发类型：</span>
						<span class="basicLists"><label><input type="checkbox" name="send" value="app" />App推送</label></span>
						<span class="basicLists"><label><input type="checkbox" name="send" value="sms"/>短信</label></span>
						<span class="basicLists"><label><input type="checkbox" name="send" value="email"/>邮件</label></span>
					</div>
				</div>
			</div>
		</div>
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">详细内容</h3>
			<div id="particular">
				<div class="form-group sta-par">
		          <label class="col-sm-2 control-label">站点名称 :</label>
		          <div class="col-sm-5">
		            <input type="text" class="addControl_station form-control" id="addControl_stations" data-toggle="modal" data-target="#sq_radioStation"/>
					<input type="hidden"  class="addControl_stationID form-control" id="addControl_stationIDs"/>
		          </div>
		        </div>
		        <div class="form-group fault-par">
		          <label class="col-sm-2 control-label">设备 :</label>
		          <div class="col-sm-5">
		           <select class="form-control" id="device_name">
		           	<option value="">请选择</option>
		           	<option value="pm10">pm10</option>
		           	<option value="pm2.5">pm2.5</option>
		           	<option value="so2">so2</option>
		           	<option value="no2">no2</option>
		           	<option value="co">co</option>
		           	<option value="o3">o3</option>
		           </select>
		          </div>
		        </div>
		        <div class="form-group fault-par">
		        	<label class="col-sm-2 control-label">故障现象 :</label>
		        	<div class="col-sm-5">
		        		<div id="fault_phenomenon">
		        			
		        		</div>
		        	</div>
		        </div>
		        <div style="clear:both"></div>
				<div class="particularList">
					<div class="form-group" id="additional">
			        	<label class="col-sm-2 control-label">是否补录:</label>
			        	<div class="col-sm-5">
			        		<span class="basicLists"><input type="radio" name="additional" value="Y" />是</span>
					    <span class="basicLists"><input type="radio" name="additional" value="N" checked="checked"/>不是</span>
			        	</div>
			        </div>
			        
			        <div class="form-group" id="plan">
			        	<label class="col-sm-2 control-label">计划完成时间:</label>
			        	<div class="col-sm-5">
			        		<input type="text" class="dateTimepicker plan form-control"/>
			        	</div>
			        </div>
					<div class="form-group" id="unitType">
			        	<label class="col-sm-2 control-label">运维类型:</label>
			        	<div class="col-sm-6">
			        		<span class="basicLists"><input type="radio" name="unitType" id="week_type" value="7" checked="checked"/>周</span>
							<span class="basicLists"><input type="radio" name="unitType" id="mouth_type" value="30"/>月</span>
							<span class="basicLists"><input type="radio" name="unitType" value="90" id="ji_type"/>季</span>
							<span class="basicLists"><input type="radio" name="unitType" value="360" id="hal_type"/>半年</span>
			        	</div>
			        </div>
			        
			        <div class="form-group" >
			        	<label class="col-sm-2 control-label">检查类型:</label>
			        	<div class="col-sm-5 seeTypes">
			        		<div id="weakJobs"></div>
			        		<div id="monthJobs"></div>
			        		<div id="jiJobs"></div>
			        		<div id="hal_yearJobs"></div>
			        	</div>
			        </div>
					<div style="clear:both"></div>
					
				</div>
				<!--22222222222-->
				<div class="particularList2">
					<div class="form-group" id="yichangtimes">
			        	<label class="col-sm-2 control-label">异常时段:</label>
			        	<div class="col-sm-5 ">
			        		 <input type="text" class="dateTimepicker form-control create_datetime"/>
					                    至<input type="text" class="dateTimepicker form-control end_datetime"/>
			        	</div>
			        </div>
			        <div style="clear:both"></div>
				        <div class="form-group" id="abnormal_notes">
				        	<label class="col-sm-2 control-label">异常现象:</label>
				        	<div class="col-sm-5">
				        		<textarea class="form-control" id="abnormal_content"></textarea>
				        	</div>
				        </div>
				    <div class="form-group" >
			        	<label class="col-sm-2 control-label">上传图片:</label>
			        	<div class="col-sm-5 seeTypes">
			        		<input id="files" type="file" onchange="previewImage(this, 'prvid')" multiple="multiple">  
							<div id="prvid"></div>
			        	</div>
			        </div>
				    <div style="clear:both"></div>
				</div>
				<div class="form-group form-group-h" id="total">
		        	<label class="col-sm-2 control-label">标题 :</label>
		        	<div class="col-sm-5">
		        		<input type="text" class="form-control" id="title"/>
		        	</div>
		        </div>
		        <div class="form-group form-group-h" id="testarea">
		        	<label class="col-sm-2 control-label">内容:</label>
		        	<div class="col-sm-5">
		        		<textarea class="form-control" id="content"></textarea>
		        	</div>
		        </div>
			</div>
		</div>
	</form>
	<%= render :partial => 'test_iframes/sq_radioStation' %>
	
</div>
<script type="text/html" id="weak_jobs">
	{{if weak_jobs}}
	    {{each weak_jobs as job index}}
	        <span><input type="checkbox" value={{job.id}}>{{job.work_name}}</span>
	    {{/each}}
	{{/if}}
</script>
<script type="text/html" id="month_jobs">
	{{if month_jobs}}
	    {{each month_jobs as job index}}
	        <span><input type="checkbox" value={{job.id}}>{{job.work_name}}</span>
	    {{/each}}
	{{/if}}
</script>
<script type="text/html" id="ji_jobs">
	{{if ji_jobs}}
	    {{each ji_jobs as job index}}
	        <span><input type="checkbox" value={{job.id}}>{{job.work_name}}</span>
	    {{/each}}
	{{/if}}
</script>
<script type="text/html" id="hal_year_jobs">
	{{if hal_year_jobs}}
	    {{each hal_year_jobs as job index}}
	        <span><input type="checkbox" value={{job.id}}>{{job.work_name}}</span>
	    {{/each}}
	{{/if}}
</script>
<div id="d_task_formsNews" style="display: none;">
	<%= render 'lookNews' %>
</div>
<div id="d_task_edit">
<%= render 'edit'%>

</div>
<script id="faults" type="text/html">
	{{each item_jobs as list index }}
	<label class="checkbox-radio ch-fault" ><input type="checkbox" value="{{list}}" name="FaultContent">{{list}}</label>
	{{/each}}
	<label class="checkbox-radio ch-fault"><input type="checkbox" id="otherFault">其他<br><input type="text" name="FaultContent" id="FaultContent" placeholder="其他故障现象" value="" style="display: none;"></label>
	<input type="hidden" id="fault_val" />
</script>
