<script type="text/html" id="opsLook">
	<div id="ops_audit_look" class="edit_jobs">
		
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">工单详情</span>
			<button class="btn new_add_btn" href="#" title="返回" id="look_back">返回</button>
		</div>
		<div class="dTaskTop panel">
     		<ul>
     			
     		</ul>
    	</div>
		<!--<h1 class="check-list-title">设备故障单</h1>-->
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">工单信息</h3>
			<div class="check-list-content panel">
			
			    <table class="table check-list-table" >
			        <tbody>
			            <tr>
			                <td align="right" width="75px;">工单号：</td>
			                <td align="right" width="320px;">
			                    {{editData.ops_audit.job_no}}
			                </td>
			                
			                <td>来源：</td>
			                <td id="StationName">{{editData.ops_audit.station_name}}</td>
			            </tr>
			
			            <tr>
			                <td align="right" width="85px;">生成时间：</td>
			                <td>{{editData.ops_audit.created_at}}</td>
			                
			            </tr>
			
			            <tr>
			                <td>工单状态：</td>
			                <td>{{editData.ops_audit.job_status}}</td>
			                
			                <td>工单类型：</td>
			                <td>{{editData.ops_audit.fault_type}}</td>
			            </tr>
			
			                <tr>
			                    <td>工单标题：</td>
			                    <td>{{editData.ops_audit.title}}</td>
			
			                    <td>是否补录：</td>
			                    <td>{{ if editData.ops_audit.clraring_if == 'Y'}}是{{else}}否{{/if}}</td>
			                </tr>
			        </tbody>
			    </table>
			</div>
		</div>
		<div id="lookXun" class="panel">
	    	<div class="checkNews">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>检查项列表：</span>
	    		</div>
	    		<div class="list">
					<div class="seeTypes" style="margin-left: 25px">
						{{each editData.polling_job_type as sendTypes i}}
						<div class="look_insp">
							<p class="hide typesId">{{sendTypes.work_code}}</p>
							<p class="handle_name" title="{{sendTypes.handle_type}}"><img src=""><span>{{sendTypes.handle_type}}</span></p>
							<div class="outer"><img src="{{sendTypes.img_one}}"></div>
						</div>
						{{/each}}
				    </div>
	    		</div>
	    	</div>
	    	<!--<div class="mouth">
	    		<div  class="workNews">
	    			<strong class="line_other"></strong>
	    			<span>月度检查项列表：</span>
	    		</div>
	    	</div>-->
	    </div>
<!--<div class="check-list-content">
        <table class="table check-list-table" >
            <tbody>
                    <tr>
                        <td align="right" width="85px;">设备类型：</td>
                        <td id="DeviceTypeName" align="right" width="320px;">一氧化碳分析仪</td>
                        <td align="right" width="85px;">设备品牌：</td>
                        <td>EC</td>
                    </tr>
                    <tr>
                        <td align="right" width="85px;">设备编号：</td>
                        <td align="right" width="320px;">12-1687</td>
                        <td align="right" width="85px;">设备型号：</td>
                        <td>9830</td>
                    </tr>
                                    <tr>
                        <td align="right" width="85px;">故障现象：</td>
                        <td colspan="3">
                                <span class="margin10-r">AGC强度报警</span>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>-->
    <!--<div class="panel partial" data-taskid="" data-active="">
    <h3 class="check-second-title">故障处理：</h3>
    <div id="FaultProcess" class="check-list-content">
        <table class="table check-list-table">
            <tbody>
                <tr>
                    <td style="width: 85px">远程处理：</td>
                    <td style="width: 50%">
                        <label class="checkbox-radio">
                            <input   name="IsScene" type="radio" value="Y" disabled="disabled" checked="checked" disabled="disabled">是
                        </label>
                        <label class="checkbox-radio">
                            <input   name="IsScene" type="radio" value="N" disabled="disabled" >否
                        </label>
                    </td>
                    <td rowspan="4">
                        <div id="DeviceInfo_Img" class="gongdan-img-box" style="">
							
                        </div>

                        <input type="hidden" name="StandbyDeviceImgPath" disabled="disabled">
                    </td>
                </tr>
                
                <tr id="DeviceInfo" style="">
                    <td>处理方式：</td>
                    <td>
                        <label class="checkbox-radio">
                            <input    name="ProcessType" type="radio" value="1" checked="checked" disabled="disabled">现场维修
                        </label>
                        <label class="checkbox-radio">
                            <input  name="ProcessType" type="radio" value="2" disabled="disabled">更换备机
                        </label>
                        <label class="checkbox-radio">
                            <input  name="ProcessType" type="radio" value="3" disabled="disabled">其他
                        </label>
                        <input type="hidden" id="IsChanageStandbyDevice" name="IsChanageStandbyDevice" value="False" disabled="disabled">
                    </td>
                </tr>
               
                <tr>
                    <td>处理说明：</td>
                    <td>
                        <textarea id="H_Desc" name="DescriptionTA" style="display: block; min-width: 300px; height: 50px; padding: 10px;" disabled="disabled">重新校准零点</textarea>
                    </td>
                </tr>
                    <tr>
                        <td>处理人：</td>
                        <td>
                            <input class="form-control dropdown-select-bg" id="ProcessUserId_Process" name="ProcessUserId_Process" type="hidden" >
                            <input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="ProcessUserId_Process_Text" name="ProcessUserId_Process_Text"  type="text" >
                            
                        </td>
                    </tr>
                    <tr>
                        <td>处理时间：</td>
                        <td>
                            2017-08-24 22:22
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>-->
    <div class="panel partial" data-taskid="" data-active="" id="review">
    		<h3 class="check-second-title">复核</h3>
    		<div class="check-list-content">
	        <table class="table check-list-table">
	            <tbody>
	            	<tr>
	                    <td align="right" style="width:150px;">复核内容：</td>
	                    <td colspan="1" id="review_adopt">
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve" disabled="disabled" value="Y" id="ApproveY">通过
                            </label>
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve" disabled="disabled" value="N" id="ApproveN">不通过
                            </label>
	                    </td>
                        <td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	                <tr class="audit_des" style="display: none;">
	                	<td>复核不通过原因：</td>
	                	<td>
	                		<input type="text" id="audit_not" class="form-control" value="{{editData.ops_audit.review_des}}"/>
	                	</td>
	                	<td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	                <tr>
                        <td align="right">复核人：</td>
                        <td>
                            <input class="form-control dropdown-select-bg" id="ProcessUserId" name="ProcessUserId" type="hidden" value="" disabled="disabled">
                            <input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="ProcessUserId_Text" name="ProcessUserId_Text"  type="text" value="{{editData.ops_audit.review_man}}" >
                        </td>
                         <td colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                    	<td align="right">复核时间：</td>
                        <td>{{editData.ops_audit.review_time}}</td>
                         <td colspan="2">
                            &nbsp;
                        </td>
                    </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
    <div class="panel partial" data-taskid="" data-active="" id="audit">

    <h3 class="check-second-title">审核</h3>
    <div class="check-list-content">
        <table class="table check-list-table">
            <tbody>
                <tr>
                    <td align="right" style="width:85px;">审核内容：</td>
                    <td colspan="1" id="audit_adopt">
                            <label class="checkbox-radio">
                                <input type="radio" name="Approves" disabled="disabled" id="Approve_Y">通过
                            </label>
                            <label class="checkbox-radio">
                                <input type="radio" name="Approves" disabled="disabled" id="Approve_N">不通过
                            </label>
                    </td>
                        <td colspan="2">
                            &nbsp;
                        </td>
                </tr>
                <tr id="audit_des">
                        <td align="right" style="width:95px">不通过原因：</td>
                        <td>
                        	<input type="text" value="{{editData.ops_audit.audit_des}}" disabled="disabled"/>
                        </td>
                         <td colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td align="right">审核人：</td>
                        <td>
                            <input class="form-control dropdown-select-bg" id="ProcessUserId" name="ProcessUserId" type="hidden" value="" disabled="disabled">
                            <input tvbox="true" readonly="readonly" disabled="disabled" class="form-control" id="ProcessUserId_Text" name="ProcessUserId_Text"  type="text" value="{{editData.ops_audit.audit_man}}" >
                        </td>
                         <td colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                    	<td align="right">审核时间：</td>
                        <td>{{editData.ops_audit.audit_time}}</td>
                         <td colspan="2">
                            &nbsp;
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

   <div class="panel partial">
   	  <h3 class="check-second-title">日志表</h3>
   	      <div class="public_table" id="logTable">
    	<table class="table table-bordered table-hover">
    		<thead>
    			<tr>
    				<th>序号</th>
    				<th>步骤</th>
    				<th>处理人</th>
    				<th>开始时间</th>
    				<th>完成时间</th>
    				<th>说明</th>
    				<th>处理状态</th>
    				<th>超时状态</th>
    			</tr>
    		</thead>
    		<tbody >
    			{{each editData.d_fault_job_details as list index}}
    			<tr>
    			<td>{{index + 1}}</td>
				<td>{{list.job_status}}</td>
				<td>{{list.handle_man}}</td>
				<td>{{list.begin_time}}</td>
				<td>{{list.end_time}}</td>
				<td>{{list.note}}</td>
				<td>{{list.handle_status}}</td>
				<td>{{list.without_time_flag}}</td>
    			<tr>
				
				{{/each}}
    		</tbody>
    	</table>
    </div>
   </div> 

	</div>
<form id="typeListBox" class="form-horizontal">

	</form>
	<form id="sampling" class="form-horizontal form-horizontal2" display="none">

</form>
<form id="weighing" class="form-horizontal form-horizontal3" display="none">

</form>
</script>


