<script type="text/html" id="faultRevew">
	<div class="edit_jobs">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">任务复核</span>
			<button class="saveback btn-default btn">返回</button>
			<button class="save btn">保存</button>
		</div>
		
		<div class="dTaskTop panel">
     		<ul>
     			
     		</ul>
    	</div>
		<!--<h1 class="check-list-title">设备故障单</h1>-->
		<div class="panel partial" data-taskid="" data-active="">
			<h3 class="check-second-title">工单信息</h3>
			<div class="check-list-content">
			
				<table class="table check-list-table" >
					<tbody>
						<tr>
			                <td align="right" width="75px;">工单号：</td>
			                <td align="right" width="320px;">{{editData.ops_audit.job_no}}</td>
			                <td>来源：</td>
			                <td id="StationName">{{editData.ops_audit.station_name}}</td>
			            </tr>
			            <tr>
			                <td align="right" width="85px;">生成时间：</td>
			                <td>{{editData.ops_audit.created_at}}</td>
			            </tr>
			            <tr>
			                <td>工单状态：</td>
			                <td>{{editData.ops_audit.job_status}}</td>
			                <td>工单类型：</td>
			                <td>{{editData.ops_audit.fault_type}}</td>
			            </tr>
		                <tr>
		                    <td>工单标题：</td>
		                    <td>{{editData.ops_audit.title}}</td>
		                    <td>是否补录：</td>
		                    <td>{{ if editData.ops_audit.clraring_if == 'Y'}}是{{else}}否{{/if}}</td>
		                </tr>
					</tbody>
				</table>
			</div>
		</div>
	<div id="lookXun" class="panel">
	    	<div class="checkNews">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>检查项列表：</span>
	    		</div>
	    		<div class="list">
					<div class="seeTypes" style="margin-left: 25px">
						{{each editData.polling_job_type as sendTypes i}}
						<div class="look_insp">
							<p class="hide typesId">{{sendTypes.work_code}}</p>
							<p class="handle_name" title="{{sendTypes.handle_type}}"><img src=""><span>{{sendTypes.handle_type}}</span></p>
							<div><img src="{{sendTypes.img_one}}"></div>
						</div>
						{{/each}}
				    </div>
	    		</div>
	    	</div>

	    </div>
	
	    
	    <div class="panel partial" data-taskid="" data-active="">
    		<h3 class="check-second-title">复核</h3>
    		<div class="check-list-content">
	        <table class="table check-list-table">
	            <tbody>
	            	<tr>
	                    <td align="right" style="width:150px;">复核内容：</td>
	                    <td colspan="1" id="review_adopt">
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve"  checked="'true'" value="Y" id="ApproveY">通过
                            </label>
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve" value="N" id="ApproveN">不通过
                            </label>
	                    </td>
                        <td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	                <tr class="audit_des" style="display: none;">
	                	<td>复核不通过原因：</td>
	                	<td>
	                		<input type="text" id="audit_not" class="form-control"/>
	                	</td>
	                	<td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
	
</div>
<form id="typeListBox" class="form-horizontal">

	</form>
	<form id="sampling" class="form-horizontal form-horizontal2" display="none">

</form>
<form id="weighing" class="form-horizontal form-horizontal3" display="none">

</form>
</script>
