<script id="opsTables" type="text/html">
	
		{{each ops_audits as list index}}
		<tr class="list-parent">
			<td><input type="checkbox" value="{{list.id}}"></td>
			<td>{{index + 1}}</td>
			<td class="id hide">{{list.id}}</td>
			<td>{{list.unit_name}}</td>
			<td>{{list.station_location.substring(0,8)}}</td>
			<td>{{list.station_name}}</td>
			<td>{{list.polling_ops_type}}</td>
			<td>{{list.job_no}}</td>
			<td>{{list.fault_type}}</td>
			<td>{{list.urgent_level}}</td>
			<td>{{list.author}}</td>
			<td>{{list.title}}</td>
			<td>{{list.created_at}}</td>
			<td class="jobStu">{{list.job_status}}</td>
			<td>{{list.create_type}}</td>
			
			<td>{{list.handle_man}}</td>
			<td class="sendTypes">{{each list.send_type as sendTypes i}}<span>{{sendTypes}}</span>{{/each}}</td>
			<td>
				<a class="fault_review">复核</a>
				<a class="fault_audit" >审核</a>
				<a class="fault_look" >详细</a>
			</td>				
		</tr>	
        {{/each}}
    
</script>
