<h1>审核页面</h1>
<%= link_to '返回', ops_audit_index_path %>

<h3>工单信息</h3>
<p>
  <strong>ID:</strong>
  <%= @ops_audit.id %>
</p>

<p>
  <strong>工单号:</strong>
  <%= @ops_audit.job_no %>
</p>

<p>
  <strong>生成时间:</strong>
  <%= @ops_audit.created_at %>
</p>

<p>
  <strong>工单状态:</strong>
  <%= @ops_audit.job_status %>
</p>

<p>
  <strong>工单标题:</strong>
  <%= @ops_audit.title %>
</p>

<p>
  <strong>来源:</strong>
  <%=@ops_audit.station_name %>
</p>

<p>
  <strong>计划完成日期:</strong>
  <%= @ops_audit.polling_plan_time %>
</p>

<p>
  <strong>工单类型:</strong>
  <%= @ops_audit.fault_type %>
</p>

<p>
  <strong>是否补录:</strong>
  <%= @ops_audit.clraring_if %>
</p>


<hr>
<h3>检查项列表</h3>








<hr>
<h3>审核</h3>
<%= form_for(@ops_audit, url:ops_audit_path, method:'put') do |f|%>
<%=f.label :审核内容 %>
<%= f.text_field :audit_if %><br>
<%=f.label :审核不通过原因 %>
<%= f.text_field :audit_des %><br>


<%=f.label :审核人 %>
<%= f.text_field :audit_man %><br>
<%=f.submit "审核", class:"btn btn-primary" %>
<% end %>

<hr>
<h3>日志信息</h3>
<% @d_fault_job_details.each do |d| %>
<tr>
    <td><%=d.id%></td>
    <td><%=d.job_status%></td>
    <td><%=d.handle_man%></td>
    <td><%=d.begin_time%></td>
    <td><%=d.end_time%></td>    
    <td><%=d.note%></td>
    <td><%=d.handle_status%></td>
    <td><%=d.without_time_flag%></td>    
</tr><br>
<% end %>


