<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="ops_audit">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">工单任务审核</span>
		</div>
		<div class="navMain public_search">
			<input type="hidden" class="searchSta" />
			<input type="hidden" class="startTime1" />
			<input type="hidden" class="endTime1" />
			<input type="hidden" class="searchAuthor" />
			<input type="hidden" class="searchNo" />
			<input type="hidden" class="searchHan" />
			<input type="hidden" class="searchOps" />
			<input type="hidden" class="searchCrea" />
			<input type="hidden" class="searchStatus" />
			<input type="hidden" class="searchFault" />
			<form class="form-inline">
				<div class="form-group">
	                <label for="">站&#x3000;&#x3000;点：</label>
	                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            	<input type="text"  class="control_stationIDs hide" />
	            </div>
	            <div class="form-group">
	            	<label for="">创建时间:</label>
			        <input type="" class="dateTimepicker create_datetime form-control"/>-
			        <input type="" class="dateTimepicker end_datetime form-control"/>
	            </div>
	            <div class="form-group">
	            	<label for="">创建人:</label>
			        <input type="text" class="author form-control"/>
	            </div>
	           
	            <div class="form-group">
	            	<label for="">工单号:</label>
			        <input type="text" class="job_no form-control"/>
	            </div>
	            <div class="form-group">
	            	 <label for="">当前处理人:</label>
			        <input type="text" class="search_handle form-control"/>
	            </div>
	            <div class="form-group">
	            	<label for="">任务周期:</label>
			        <select class="ops_type form-control">
			        	<option value="">请选择</option>
			        	<option value="7">周</option>
			        	<option value="30">月</option>
			        	<option value="90">季度</option>
			        	<option value="360">年</option>
			        </select>
	            </div>
	            
	            <div class="form-group">
	            	 <label for="">创建类型:</label>
			        <select class="create_type form-control">
			        	<option value="">请选择</option>
			        	<option value="plan_out">计划外</option>
			        	<option value="plan_in">计划内</option>
			        	<!--<option>报警</option>
			        	<option>校准</option>
			        	<option>飞行</option>-->
			        </select>
	            </div>
	            <div class="form-group">
	            	 <label for="">工单状态:</label>
			        <select class="job_status form-control">
			        	<option value="">请选择</option>
			        	<!--<option value="un_write">创建</option>
			        	<option value="writing">填写</option>-->
			        	<option value="un_audit">待审核</option>
			        	<option value="audit">已审核</option>
			        	<option value="wait_review">待复核</option>
			        </select>
	            </div>
	            <div class="form-group">
	            	<label for="">工单类型:</label>
			        <select class="fault_type form-control">
			        	<option value="">请选择</option>
			        	<option value="fault_form">故障任务</option>
			        	<option value="abnormal_form">异常巡检</option>
			        	<option value="polling_form">巡检单</option>
			        	
			        </select>
	            </div>
	            <div class="form-group">
	            	<button class="btn search" type="button">查询</button>
	            </div>
			</form>
     	</div>
     	
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<div id="public_table">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default btn-chack" id="whole" value="">全部</button>
			  <button type="button" class="btn btn-default" id="un_audit" value="un_audit">待审核</button>
			  <button type="button" class="btn btn-default" id="wait_review" value="wait_review">待复核</button>
			</div>
			<button class="btn" id="btnBatchApprove" name=""  type="button" value="批量审核">批量审核</button>
			<input type="hidden" class="ID" />
	    	<div class="public_table">
		    	<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="allChk" checkall="checkAll"></th>
							<th>序号</th>
							<th>运维单位</th>
							<th>城市</th>
							<th>站点</th>
							<th>任务周期</th>
							<th>工单号</th>
							<th>工单类型</th>
							<th>紧急程度</th>
							<th>创建人</th>
							<th>工单标题</th>
							<th>创建时间</th>
							<th>工单状态</th>
							<th>创建类型</th>
							<!--<th>当前节点</th>
							<th>任务状态</th>-->
							<th>当前处理人</th>
							<th>下发方式</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
			</div>
			<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> 
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		
		<div class="clear"></div>
		<%= render 'table' %>
		<%= render :partial => 'test_iframes/sq_publicStation' %>	
		
	</div>
</div>
<div id="ops_audits">
	<%= render 'audit' %>
</div>
<div id="ops_looks" style="display: none;">
	<%= render 'look' %>
</div>
<div id="ops_review" style="display: none;">
	<%= render 'review' %>
</div>