<script id="ops_week_table" type="text/html">
	{{each ops_plan as list index}}
			<tr>
				<td class="hide id">{{list.ops.id}}</td>
				<td>{{list.ops.zone_name}}</td>
				<td>{{list.ops.station_name}}</td>
				<td>{{list.ops.unit_name}}</td>
				{{each list.details as planslist i}}
					{{if planslist.job_flag=='7'}}
					<td class="substr">{{planslist.job_time}}</td>
					{{/if}}
					{{if planslist.job_flag=='90'}}
					<td class="substr">{{planslist.job_time}}</td>
					{{/if}}
					{{if planslist.job_flag=='360'}}
					<td class="substr">{{planslist.job_time}}</td>
					{{/if}}
				{{/each}}
			</tr>
	{{/each}}
</script>
