<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>

<div id="week_plan">
	<div id="powerCutRecords">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">每周运维计划(<label>
						<span id="startDate"> </span>
						<span> 至 </span>
						<span id="endDate"> </span>
					</label>)</span>
		</div>
		<div class="navMain public_search">
			<input type="hidden" class="searchUnit">
			<input type="hidden" class="searchCity">
			<input type="hidden" class="searchStatus">
			<form class="form-inline">
				<div class="form-group">
					<label for="" >运维单位：</label>
		            <input type="text" class="unit_yw form-control"/>
		            <input type="hidden"  class="unit_ywID" />
				</div>
				<div class="form-group">
					<label for="" >区域：</label>
			        <input type="text" id="city" class="form-control">
				</div>
				<div class="form-group">
					<button class="btn search" type="button">查询</button>
				</div>
			</form>
		    </div>
		    <div id="public_table">
			<div class="btn-group" role="group" >
			  <button type="button" class="btn btn-default btn-chack" id="whole" value="">全部</button>
			  <button type="button" class="btn btn-default" id="completed" value="W">已完成</button>
			  <button type="button" class="btn btn-default" id="pending" value="Y">待处理</button>
			  <button type="button" class="btn btn-default" id="allocated" value="N">待分配</button>
			</div>
			<button class="btn btn-default" id="btnNextWeek">下周</button>
			 <button class="btn btn-default" id="btnPreWeek">上周</button>
			  
			<div class="public_table" id="weekTable">
		    	<table class="table table-bordered table-hover" style="min-width: 3400px;">
					<thead>
						<tr>
							<th rowspan="2">区域</th>
							<th rowspan="2">站点</th>
							<th rowspan="2">运维单位</th>
							<th colspan="10">周计划</th>
							<th colspan="15">季计划</th>
							<th colspan="5">半年计划</th>
						</tr>
						<tr>
							
							<th>站点巡检</th>
							<th>SO2检查</th>
							<th>NO2检查</th>
							<th>O3检查</th>
							<th>CO检查</th>
							<th>PM10检查</th>
							<th>PM2.5检查</th>
							<th>其他检查</th>
							<th>直管站巡检汇总</th>
							<th>长光程分析仪检查</th>
							<th>设备清洁记录</th>
							<th>颗粒物温度压力校准</th>
							<th>PM10运行状况检查</th>
							<th>PM2.5运行状况检查</th>
							<th>SO2多点校准</th>
							<th>O3多点校准</th>
							<th>NO2多点校准</th>
							<th>CO多点校准</th>
							<th>长光程SO2单点校准</th>
							<th>长光程NO2单点校准</th>
							<th>长光程O3单点校准</th>
							<th>SO2精密度审核</th>
							<th>NO2精密度审核</th>
							<th>CO精密度审核</th>
							<th>O3精密度审核</th>
							<th>设备维护</th>
							<th>NOX钼炉转化率</th>
							<th>多气体动态校准仪检查</th>
							<th>O3传递记录</th>
							<th>能见度校准</th>
						</tr>
					</thead>
					<tbody class="exception-list">
					</tbody>
				</table>
	     	</div>
	     	<div style="height: 160px;background: #fff;">
				<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
				<!--<select id="pagesize" class="right">  
				    <option value="10" selected="selected">每页10条</option>  
				    <option value="20">每页20条</option>
					<option value="30">每页30条</option>  
				    <option value="40">每页40条</option>
				    <option value="50">每页50条</option> 
				</select> -->
				<div class="page_total left">
					<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
				</div> 
			</div>
		</div>
		</div>
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		
		<%= render 'table' %>
		<%= render :partial => 'test_iframes/public_unitYw' %>
		<table id="monitor" class="hide">
	        <tr>
	            <td class="firstTime"></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td class="listTime"></td>
	        </tr>
	    </table>	
	</div>
</div>
