<script  id="alertpro" type="text/html">
	<div class="alertP"  style=""> 
		<ul>
			<li>站点：<span> {{alarm_monitorings.station_name}}</span> </li>
			<li>报警规则: <span>{{alarm_monitorings.alarm_rule}}</span></li>
			<li>报警级别: <span>{{alarm_monitorings.alarm_level}}</span></li>
			<li>首次报警时间: <span>{{alarm_monitorings.first_alarm_time}}</span></li>
			<li>最新报警时间: <span>{{alarm_monitorings.last_alarm_time}}</span></li>
			<li>连续报警次数: <span>{{alarm_monitorings.continuous_alarm_times}}</span></li>
			<li>报警状态: <span>{{alarm_monitorings.status}}</span></li>
		</ul>
	</div>
</script>
