<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="alarmss">
	<div class="navTop">
		<span class="lines"></span>
		<span class="tableName">报警图表监控</span>
	</div>
	<div class="navMain public_search">
		<form class="form-inline">
			<div class="form-group">
                <label for="">站&#x3000;&#x3000;点：</label>
                <input type="text" class="form-control control_stations" data-toggle="modal" data-target="#sq_station">
	            <input type="text"  class="control_stationIDs hide" />
            </div>
            <div class="form-group">
	           	<label for="">日期:</label>
		        <input type="" class="dateTimepicker start_time form-control" name="start_date"/>
            </div>
            <div class="form-group">
            	<label for="">报警规则:</label>
				<input type="text" name="role_name" class="rule_name form-control"/>
            </div>
            <div class="form-group">
            	<label for="">报警级别:</label>
				<input type="text" id="check" class="form-control">
				<input type="text" id="checkId" style="display: none;"/>
				<dl>
					<dt>
						<input type="checkbox" id="checkAll" value=""/>
						<label for="checkAll">全选</label>
						 <!--<a href="javascript:;">反选</a>-->
					</dt>
					<dd>
					
						<div class="p"><input type="checkbox" id="item1" value="1"/><label for="item1">I级</label></div>
						<div class="p"><input type="checkbox" id="item2" value="2"/><label for="item2">II级</label></div>
						<div class="p"><input type="checkbox" id="item3" value="3"/><label for="item3">III级</label></div>
						<p class="buttons"><label id="btnSure">确定</label><label id="btnQv">取消</label></p>
					</dd>
				</dl>
            </div>
             <div class="form-group">
           		<button class="btn search" type="button">查询</button>
            </div>
		</form>
	</div>
	

	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	<!--站点-->	
	<%= render :partial => 'test_iframes/sq_publicStation' %>
	 <div id="public_table">
	 	<div class="tableOver ajustTable">
		<div class="tableScoll">
				<table class="table table-bordered table-hover tables">
						<tr>
							<th class="sorts" style="vertical-align: middle; text-align: center; width: 5%;" rowspan="2">
								站点
								<span class="glyphicon glyphicon-arrow-up"></span>
								<span class="glyphicon glyphicon-arrow-down"></span>
							</th>
							<th class="sortsAlarm" style="vertical-align: middle; text-align: center; width: 5%;" rowspan="2">
								报警
								<span class="glyphicon glyphicon-arrow-up"></span>
								<span class="glyphicon glyphicon-arrow-down"></span>
							</th>
							<th colspan="2" class="yesterday">昨天</th>
							<th colspan="23" class="today">
								<a class="today-time"></a>		
								<span class="three pull-right">
									<a></a> Ⅲ级
								</span>
								<span class="two pull-right">
									<a></a> Ⅱ级
								</span>
								<span class="one pull-right">
									<a></a> Ⅰ级
								</span>
								
								<span class="normal pull-right">
									<a></a> 正常
								</span>	
							</th>
						</tr>
						<tr class="self-date">
							<th>23时</th>
							<th>0时</th>
							<th>1时</th>
							<th>2时</th>
							<th>3时</th>
							<th>4时</th>
							<th>5时</th>
							<th>6时</th>
							<th>7时</th>
							<th>8时</th>
							<th>9时</th>
							<th>10时</th>
							<th>11时</th>
							<th>12时</th>
							<th>13时</th>
							<th>14时</th>
							<th>15时</th>
							<th>16时</th>
							<th>17时</th>
							<th>18时</th>
							<th>19时</th>
							<th>20时</th>
							<th>21时</th>
							<th>22时</th>
						</tr>
				</table>
		    </div>
			<div class="abnormal_table">
				<table class=" table table-bordered table-hover">
					<tbody class="exception-list">
					</tbody>
			    </table>
		    </div>	
		</div>
	 </div>
	 
	
</div>

<%= render 'daList' %>
<div class="alertProp" style="background: red; width: 300px;height: 200px;padding: 10px;display: none;"><%= render 'alert' %></div>
