<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PxeMqAnIzuRf8UGGuQ9zNlor"></script>
<div style="width:700px;height:550px;border:#ccc solid 1px;font-size:12px" id="map"></div>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap() {
        var points = [new BMap.Point(115.635428, 34.396018), new BMap.Point(115.592022, 34.371947), new BMap.Point(115.660724, 34.366226)];
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMapOverlay(points);//向地图添加覆盖物
        addMarkerInfos(points); //向地图添加点
    }
    function add_region_infos(id){

    }
    function createMap() {
        map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(115.635499, 34.395439), 12); //商丘经纬度，显示层级12级
    }
    function setMapEvent() {
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
    }
    function addClickHandler(target, window) {
        target.addEventListener("click", function () {
            target.openInfoWindow(window);
        });
    }
    function addMapOverlay(point_arr) {

        var polyline = new BMap.Polyline(point_arr, {strokeColor: "blue", strokeWeight: 2, strokeOpacity: 0.5});   //创建折线
        map.addOverlay(polyline);   //增加折线
    }
    //创建锚点和信息
    function addMarker(point, label) {
        var marker = new BMap.Marker(point);
        map.addOverlay(marker);
        marker.setLabel(label);
    }
    //添加锚点和信息
    function addMarkerInfos(point) {
        for (var p in point) {
            var pont_n = new BMap.Point(point[p]['lng'], point[p]['lat']);
            var label = new BMap.Label("我是" + p, {offset: new BMap.Size(20, -10)});
            addMarker(pont_n, label)
        }
    }
    //向地图添加控件
    function addMapControl() {
        var scaleControl = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});
        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_LEFT, type: 1});
        map.addControl(navControl);
        var overviewControl = new BMap.OverviewMapControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: true});
        map.addControl(overviewControl);
    }
    var map;
    initMap();
</script>


<!--


<h3>三角css</h3>

<div class="test1"></div>
<div class="test2"></div>
<div class="test3"></div>
<div class="test4"></div>
<style>
  .test1{
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-bottom: 50px solid blue;
    border-left: 50px solid transparent;
  }
  .test2{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid orange;
  }
  .test3{
    width: 0;
    height: 0;
    border-top: 50px solid black;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
  }
  .test4 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid red;
    border-bottom: 50px solid transparent;
  }
</style>


<a target='_blank' href='javascript:void(0)' onclick="window.location='/search_five_datas/export_file.xls'">
  下载文件
</a>
<h2>模态框（Modal）插件方法</h2>
&lt;!&ndash; 按钮触发模态框 &ndash;&gt;
<button class="btn btn-primary btn-lg" data-toggle="modal" onclick="modal_show()">
  编辑
</button>
&lt;!&ndash; 模态框（Modal） &ndash;&gt;
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
        <h4 class="modal-title" id="myModalLabel">
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">名字</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="firstname"
                     placeholder="请输入名字">
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">姓</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lastname"
                     placeholder="请输入姓">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> 请记住我
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">登录</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary">
          提交更改
        </button>
      </div>
    </div>&lt;!&ndash; /.modal-content &ndash;&gt;
  </div>&lt;!&ndash; /.modal-dialog &ndash;&gt;
</div>&lt;!&ndash; /.modal &ndash;&gt;
<input type="text" class="form-control" id="tableName" placeholder="请输入表格名称" data-toggle="tooltip" data-placement="top">
<link rel="stylesheet" media="all" href="/style/ace.min.css"  >

<div>
  <ul class="steps" style="margin-left: 0">
    <li data-step="1" class="active">
      <span class="step">1</span>
      <span class="title">Validation states</span>
    </li>

    <li data-step="2">
      <span class="step">2</span>
      <span class="title">Alerts</span>
    </li>

    <li data-step="3">
      <span class="step">3</span>
      <span class="title">Payment Info</span>
    </li>

    <li data-step="4">
      <span class="step">4</span>
      <span class="title">Other Info</span>
    </li>
  </ul>
</div>
&lt;!&ndash;加载符号   begin&ndash;&gt;
<style type="text/css">
  .loading{
    width: 20%;
    height: 42px;
    position: absolute;
    top: 30%;
    left: 50%;
    line-height: 42px;
    color: #fff;
    padding-left: 51px;
    font-size: 15px;
    background: #000 url(/images/loading.gif) no-repeat 10px 50%;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  }
</style>

<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
&lt;!&ndash;加载符号    end&ndash;&gt;




<script>
    function showPopover(target, msg) {
        target.attr("data-original-title", msg);
        $('[data-toggle="tooltip"]').tooltip();
        target.tooltip('show');
        target.focus();
        //2秒后消失提示框
        var id = setTimeout(
            function () {
                target.attr("data-original-title", "");
                target.tooltip('hide');
            }, 2000
        );
    }
    showPopover($("#tableName"),"表名已存在");
</script>
<script>
//    $(function () {
//        $.ajax({
//            url: '/handle_station_regions/55.json',
//            type: 'put',
//            data: {station_true_ids: [1035,1076,1077,1091,1093]},
//            dataType: 'json',
//            success: function(data){
//              console.log(data);
//            }
//        });
//
//    });
    function modal_show() {
        $('#myModalLabel').text("我是标题");
//        $('.modal-body').text("我内容");
        $('#myModal').modal({
            keyboard: true
        });
    }
</script>-->
