<div id="journal">
    <div class="journalBox">
		<div class="journalTop">
			<%= form_tag( '',method:'get' ) do %>
				<div id="amend">
					<div class="timepicker">
						
						<label>日期：</label>
						<% if @start_datetime %>
							<input type="text" class="some_class" value="<%= @start_datetime %>" id="start_datetime" name="start_datetime"/>
						<% else %>
							<input type="text" class="some_class some-none" id="start_datetime" name="start_datetime"/>
						<% end %>
						<b>-</b>
						<% if @end_datetime %>
						 <input type="text" class="some_class" value="<%= @end_datetime %>" id="end_datetime" name="end_datetime"/> 
						<% else %>
						 <input type="text" class="some_class some-none" id="end_datetime" name="end_datetime"/> 
						<% end %>
					</div>
					<div class="message">
						<div id="table-time">
							<p class="search-once">
								<label>选择站点:</label>
								<% if @station_id %>
									<%= text_field_tag :station_id,@station_id ,class:'selId'%>
								<% else %>
									<%= text_field_tag :station_id,'' ,class:'selId'%>	
								<% end %>
								<% if @station_name %>
									<input type="text" value="<%= @station_name %>" name="station_name" class="controll-station selectSite" />
								<% else %>
									<input type="text" name="station_name" class="controll-station selectSite" />
								<% end %>
							</p>
							<div id="search-station">
								<div class="choose-site">
									<div class="tab-top">
										<span class="station-all">
											<% if @current_user.s_region_code.is_leaf == "1" %>
												<%= @current_user.s_region_code.father_region.region_name %>
											<% else %>
												<%= @current_user.s_region_code.region_name %>
											<% end %>
										</span>
										<% if @current_user.s_region_code.is_leaf == "1" %>
											<span> <%= @current_user.s_region_code.region_name %></span> 
										<% else %>
											<% @current_user.s_region_code.son_region.each do | srgnc | %>
												<span><%= srgnc.region_name %></span>
											<% end %>
										<% end %>	
									</div>
									<div id="search-station">
										<div class="list-station">
											<% if @current_user.s_region_code.is_leaf == "1" %>
													<div class="tab-station">
														<p class="list-city">
															<span>
																<input type="checkbox" />
																<a><%= @current_user.s_region_code.region_name %></a>	
															</span>
														</p>
														<span class="search-line"></span>
													
														<% @current_user.s_region_code.d_stations.each do | dstation | %>
														<p class="list-city-station">
															<span>
																<input type="checkbox" class="station-sel"/>
																<small><%= dstation.id %></small>
																<a ><%= dstation.station_name %></a>
															</span>
															<br />
														</p>
														<% end %>
														</div>
											<% else %>
											<% @current_user.s_region_code.son_region.each do | srgnc | %>
												<div class="tab-station">
													<p class="list-city">
														<span>
															<input type="checkbox" />
															<a><%= srgnc.region_name %></a>
														</span>
													</p>
													<span class="search-line"></span>
												
													<% srgnc.d_stations.each do | dstation | %>
														<p class="list-city-station">
															<span>
																<input type="checkbox" class="station-sel"/>
																<small><%= dstation.id %></small>
																<a><%= dstation.station_name %></a>
															</span>
															<br />
														</p>
														<span class="search-line"></span>
													<% end %>
												</div>
											<% end %>	
											<% end %>		
										</div>
										<div class="station-btn">
											<span class="btn-sure">确定</span>
											<span class="btn-cancel">取消</span>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="genre">
					<div class="genreBox">日志类型:
					<%= select_tag "log_query_type", options_for_select([["数据修正日志","WDataCorrectLog"], ["数据上报日志","WUploadTaskLog"],["站点版本升级日志","WStationUpgradeLog"]], @log_query_type ),id:'sort' %>
					</div>
				</div>
				<div class="journalBtn">
					<div>
						<%= submit_tag '查 询', remote: true,id:"demandBtn",class:"btn btn-primary search" %>
					</div>
				</div>
			<% end %>
		</div>
        <div id="site">
        <!-- 数据修正日志 -->
			<% if @log_query_type.nil? %>
			<h4>数据修正日志</h4>
			<table border="0" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
					<th>站点名称</th>
                    <th>设备型号</th>
                    <th>检测项编码</th>
                    <th>K值</th>
                    <th>B值</th>
                    <th>更新工号</th>
                    <th>更新时间</th>
                </tr>
                </thead>
				<tbody>
					
					<% if @wDataCorrectLogs %>
					<% if @wDataCorrectLogs.length > 0 %>
					<% paging_magic(@wDataCorrectLogs,@curr_page,@size_pre_page).each do |wDataCorrectLog| %>
					<% if wDataCorrectLog %>
					<tr>
						<td><%= wDataCorrectLog.d_station.station_name %></td>
						<td><%= wDataCorrectLog.device_model %></td>
						<td><%= wDataCorrectLog.item_code %></td>
						<td><%= wDataCorrectLog.k_value %></td>
						<td><%= wDataCorrectLog.b_value %></td>
						<td><%= wDataCorrectLog.update_login %></td>
						<td><%= wDataCorrectLog.updated_at.to_s[0..18] %></td>
					</tr>
					<% else %>
					<tr>
						<td>暂无数据</td>
					</tr>
					<% end %>
					<% end %>
					<% else %>
					<tr>
						<td colspan="7">暂无数据</td>
					</tr>
					<% end %>
					<% else %>
					<tr>
					   <td colspan="7">暂无数据</td>
					</tr>
					<% end %>
                </tbody>
			</table>
			
			<%	elsif @log_query_type == "WDataCorrectLog" %>
			<h4>数据修正日志</h4>
			<table border="0" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
					<th>站点名称</th>
                    <th>设备型号</th>
                    <th>检测项编码</th>
                    <th>K值</th>
                    <th>B值</th>
                    <th>更新工号</th>
                    <th>更新时间</th>
                </tr>
                </thead>
                <tbody>
					<% if @wDataCorrectLogs %>
					<% if @wDataCorrectLogs.length > 0 %>
					<% paging_magic(@wDataCorrectLogs,@curr_page,@size_pre_page).each do |wDataCorrectLog| %>
					<tr>
						<td><%= wDataCorrectLog.d_station.station_name %></td>
						<td><%= wDataCorrectLog.device_model %></td>
						<td><%= wDataCorrectLog.item_code %></td>
						<td><%= wDataCorrectLog.k_value %></td>
						<td><%= wDataCorrectLog.b_value %></td>
						<td><%= wDataCorrectLog.update_login %></td>
						<td><%= wDataCorrectLog.updated_at.to_s[0..18] %></td>
					</tr>
					<% end %>
					<% else %>
						<tr>
						   <td colspan="7">暂无数据</td>
						</tr>
					<% end %>
					<% else %>
					<tr>
					   <td colspan="7">暂无数据</td>
					</tr>
					<% end %>
                </tbody>
			</table>
		<!-- 数据上报日志 -->	
		<%	elsif @log_query_type == "WUploadTaskLog" %>
			<h4>数据上报日志</h4>
			<table border="0" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>任务类型</th>
                    <th>站点名称</th>
                    <th>数据包</th>
                    <th>上报成功记录数</th>
                    <th>上报失败记录数</th>
                    <th>上报时间</th>
                    <th>是否成功</th>
                </tr>
                </thead>
			    <tbody>
					<% if @wUploadTaskLogs %>
					<% if @wUploadTaskLogs.length > 0 %>
					<% paging_magic(@wUploadTaskLogs,@curr_page,@size_pre_page).each do |wUploadTaskLog| %>
					<tr>
						<td><%= wUploadTaskLog.task_type %></td>
						<td><%= wUploadTaskLog.d_station.station_name %></td>
						<td><%= wUploadTaskLog.data_package %></td>
						<td><%= wUploadTaskLog.success_num %></td>
						<td><%= wUploadTaskLog.fail_num %></td>
						<td><%= wUploadTaskLog.upload_time.to_s[0..18] %></td>
						<td class="isSuccess"><%= wUploadTaskLog.task_status %></td>
					</tr>
					<% end %>
					<% else %>
					<tr>
					   <td colspan="7">暂无数据</td>
					</tr>
					<% end %>
					<% else %>
					<tr>
					   <td colspan="7">暂无数据</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		<!-- 站点版本升级日志 -->
		
			<%	elsif @log_query_type == "WStationUpgradeLog" %>
			<h4>站点版本升级日志</h4>
			<table border="0" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>站点名称</th>
                    <th>版本号</th>
                    <th>升级状态</th>
                    <th>升级时间</th>
                </tr>
                </thead>
			    <tbody>
					<% if @wStationUpgradeLogs %>
					<% if @wStationUpgradeLogs.length > 0 %>
					<% paging_magic(@wStationUpgradeLogs,@curr_page,@size_pre_page).each do |wStationUpgradeLog| %>
					<tr>
						<td><%= wStationUpgradeLog.d_station.station_name %></td>
						<td><%= wStationUpgradeLog.version_no %></td>
						<td class="updateStatus"><%= wStationUpgradeLog.is_upgrade %></td>
						<td><%= wStationUpgradeLog.upgrade_date.to_s[0..18] %></td>
					</tr>
					<% end %>
					<% else %>
					<tr>
					   <td colspan="4">暂无数据</td>
					</tr>
					<% end %>
					<% else %>
					<tr>
					   <td colspan="4">暂无数据</td>
					</tr>
					<% end %>
				</tbody>	
            </table>
			<% end %>
        </div>
        
        <!--分页-->
        <div class="overviews">
			<div class="inline pull-left page">
			<% if @log_query_type == "WUploadTaskLog" %>
			共<span> <% if @wUploadTaskLogs %><%= @wUploadTaskLogs.length %><% else %>0<% end %></span>条记录<a>,当前显示第<% if @curr_page %><%= @curr_page %><% else %>1<% end %>页</a>
						
			<%	elsif @log_query_type == "WStationUpgradeLog" %>
			共<span> <% if @wStationUpgradeLogs %><%= @wStationUpgradeLogs.length %><% else %>0<% end %></span>条记录<a>,当前显示第<% if @curr_page %><%= @curr_page %><% else %>1<% end %>页</a>
			
			<% else %>
			共<span> <% if @wDataCorrectLogs %><%= @wDataCorrectLogs.length %><% else %>0<% end %></span>条记录<a>,当前显示第<% if @curr_page %><%= @curr_page %><% else %>1<% end %>页</a>
			
			<% end %>
		        
			</div>
			<div class="btn-group pull-right" role="group">
				<%= form_tag( '',{method:'get'} ) do %>
					<input type="date" name="start_datetime" class="start_datetime" />
					<input type="date" name="end_datetime" class="end_datetime" />
					<input type="text" name="log_query_type" class="log_query_type" />
					<input type="text" name="station_id" class="station_id" />
					<input type="text" name="station_name" class="controll-station" />
					<input type="text" name="size_pre_page" class="size_pre_page" value='<%= @size_pre_page%>' />
					<input class = 'prev' type='text' name='curr_page' value='<% if @curr_page %><%= @curr_page %><% else %>1<% end %>'/>
					<button type="submit" class="btn btn-default sub-prev select-num">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</button>
				<% end %>
				<div class="btn-group page_num">
					
				</div>
				<%= form_tag( '',{method:'get'} ) do %>
					<input type="date" name="start_datetime" class="start_datetime" />
					<input type="date" name="end_datetime" class="end_datetime" />
					<input type="text" name="log_query_type" class="log_query_type" /> 
					<input type="text" name = "station_id" class="station_id"/>
					<input type="text" name="station_name" class="controll-station" />
					<input type="text" name="size_pre_page" class="size_pre_page" value='<%= @size_pre_page%>' />
					<input class = 'next' type='text' name='curr_page' value='<% if @curr_page %><%= @curr_page %><% else %>1<% end %>'/>
					<button type="submit" class="btn btn-default sub-next" <% if @curr_page == @total_page %>disabled='disabled'<% end %>>
						<span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				<% end %>
			</div>
		</div>
        
        
        
        
    </div>
</div>
<script>
$(function(){
	/*状态判断*/
	<%	if @log_query_type == "WUploadTaskLog" %>
	for(var i=0;i<<%= @wUploadTaskLogs.length %>;i++){
		/*判断数据状态*/
		if($(".isSuccess").eq(i).html()==1){
			$(".isSuccess").eq(i).html("成功");
		}else if($(".isSuccess").eq(i).html()==0){
			$(".isSuccess").eq(i).html("失败");
		}
	}
	<% end %>
	<%	if @log_query_type == "WStationUpgradeLog" %>
	for(var j=0;j<<%= @wStationUpgradeLogs.length %>;j++){
		/*判断数据状态*/
		if($(".updateStatus").eq(j).html()==1){
			$(".updateStatus").eq(j).html("正常");
		}else if($(".updateStatus").eq(j).html()==0){
			$(".updateStatus").eq(j).html("未升级");
		}
	}
	<% end %>
	/*日期*/
	var time = new Date();
	var year = time.getFullYear();
	$('.some_class').datetimepicker({
		format:"Y-m-d",
		minDate:year+'-01-01',
		maxDate: year+'-12-31',
		todayButton:true,
		timepicker:false
	})
	var myMonth = time.getMonth()+1
	var myDate = time.getDate()
	$('.some-none').val(year+'-'+(myMonth<10?'0'+myMonth:myMonth)+'-'+(myDate<10?'0'+myDate:myDate))
	var result = year+'-'+(myMonth<10?'0'+myMonth:myMonth)+'-'+(myDate<10?'0'+myDate:myDate)
	$('.search').click(function(){
//			选择的日期
			var a1=$('#start_datetime').val()
			var a2=$('#end_datetime').val()
//			年
			var a11=a1.substr(0,4)  
			var a22=a2.substr(0,4)
//			月
			var a33=a1.substr(5,2)
			var a44=a2.substr(5,2)	
//			日
			var a55=a1.substr(5,2)
			var a66=a2.substr(5,2)
//			时
			var a77=a1.substr(10,3)
			var a88=a2.substr(10,3)
			if(a1 > a2){
				alert('开始日期不能大于结束日期,请重新选择')
				$('#start_datetime').val(result)
				$('#end_datetime').val(result)
				return false;
				
			}else if(a55==a66){
			}else{
				alert('不能跨月查询,请重新选择')
				$('#start_datetime').val(result)
				$('#end_datetime').val(result)
				return false;
				
			}
		})
	

})
$(function(){
//站点
	for(var h=0;h<$(".tab-station").length;h++){
		if($(".tab-station").eq(h).find(".list-city-station").length<1){
			$(".tab-station").eq(h).find(".list-city input").prop("disabled","disabled");
		}
	}
	$('#table-time .search-once .controll-station').focus(function(){
		$('#search-station .choose-site').show()
	})
	$('#search-station .tab-top span').click(function(){
		var $index = $(this).index()
		$('#search-station .choose-site .tab-station').eq($index-1).show().siblings().hide()
		$(this).css('background','#fff').siblings().css('background','')
	})
	$('#search-station .tab-top span').eq(0).click(function(){
		$('#search-station .choose-site .tab-station').show()
	})
	$('#search-station .tab-top .station-all').click(function(){
		$(this).parents('.choose-site').find('.tab-station input').prop('checked',true)
	})
	$('#search-station .choose-site .tab-station').find('.list-city span input').click(function(){
		$(this).parents('.list-city').siblings('p').find('input').prop('checked',this.checked)
	})
	$('#search-station .station-btn .btn-sure').click(function(){
		$('#search-station .choose-site').hide()
		if($('#search-station .choose-site .list-station .list-city-station input[type="checkbox"]:checked')){
			var text=[];
			var textid=[];
			$('#search-station .list-city-station input[type="checkbox"]:checked').siblings('a').each(function(){
				text.push(this.innerHTML)
			})
			$('#search-station .list-city-station input[type="checkbox"]:checked').siblings('small').each(function(){
				textid.push(this.innerHTML)
			})
			var allText = text.join(',')
			var textid=textid.join(',')
			$('#table-time .search-once .controll-station').val(allText)
			$('#table-time .search-once .selId').val(textid)
		}else{
			$('#table-time .search-once .controll-station').val('')
			$('#table-time .search-once .selId').val('')
		}
		$('.choose-site').find('.tab-station input').prop('checked',false)
		
	})
	$('#search-station .station-btn .btn-cancel').click(function(){
		$('.choose-site').find('.tab-station input').prop('checked',false)
		
		$('#search-station .choose-site').hide()
	})
	//分页
	
		var index = 0;		
		<% if @log_query_type == "WUploadTaskLog" %>
		var total =  <% if @wUploadTaskLogs %><%= @wUploadTaskLogs.length %> <% else %>0 <% end %>;				
		<%	elsif @log_query_type == "WStationUpgradeLog" %>
		var total =  <% if @wStationUpgradeLogs %><%= @wStationUpgradeLogs.length %> <% else %>0 <% end %>;
		<% else %>
		var total =  <% if @wDataCorrectLogs %><%= @wDataCorrectLogs.length %> <% else %>0 <% end %>;
		<% end %>
		
		<% if @size_pre_page %>
			var size_pre_page = <%= @size_pre_page%>;
		<% else %>
			var size_pre_page = 10;
		<% end %>
		<% if @curr_page %>
			var curr_page = <%= @curr_page%>;
		<% else %>
			var curr_page = 1;
		<% end %>
		if(total == 0){
			$('.page a').html(' ');
			$('.sub-prev,.sub-next').attr('disabled','disabled')
		}else{
			$('.sub-prev,.sub-next').removeAttr('disabled','disabled')
		}
		var total_page = Math.ceil(total/size_pre_page);
		function pagenation(total_page,curr_page){
			var pages = [];
			if(total_page <= 7) {
				for(var i = 0; i < total_page; i++) {
					pages[i] = i + 1;
				}
			}else{
				pages.push(curr_page);
				var offset = 1;
				while(pages.length < 7) {
					if (curr_page - offset > 0) {
						pages.unshift(curr_page-offset);
					}
					if (curr_page+offset <= total_page) {
						pages.push(curr_page+offset);
					}
					offset++;
				}
			}
			return pages;	
		}
		getPages();
		function getPages(){
			var pages = pagenation(total_page,curr_page);
			var $html = '';
			for(var i = 0;i < pages.length;i++){
				$html += '<form action="" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />';
				$html += '<input type="date" name="start_datetime" class="start_datetime" />';
				$html += '<input type="date" name="end_datetime" class="end_datetime" />';
				$html += '<input type="text" name="log_query_type" class="log_query_type" />';
				$html += '<input type="text" name="station_id" class="station_id" />';
				$html += '<input type="text" name="station_name" class="controll-station" />'
				$html += '<input type="text" name="size_pre_page" class="size_pre_page" value="'+ size_pre_page +'" />';
				$html += '<input type="text" name="curr_page" id="curr_page" value="'+ pages[i] +'" />';
				$html += '<button type="submit" class="btn btn-default">'+ pages[i] +'</button>';
				$html += '</form>'
				$('.page_num').html($html);
					if(pages[i] == curr_page){
					     index = i;
					}	
			}
		}
		var time = new Date();
		var myMonth = time.getMonth()+1
		var myDate = time.getDate()
		var year = time.getFullYear()
		var result = year+'-'+(myMonth<10?'0'+myMonth:myMonth)+'-'+(myDate<10?'0'+myDate:myDate);
		$('.some-none').val(result)
		$('.start_datetime').val('<% if @start_datetime %><%= @start_datetime %><% else %>'+ '' +'<% end %>');
		$('.end_datetime').val('<% if @end_datetime %><%= @end_datetime %><% else %>'+ result +'<% end %>');
		$('.station_id').val('<%= @station_id %>');
		$('.log_query_type').val('<% if @log_query_type %><%= @log_query_type %><% else %>No<% end %>');
		$('.controll-station').val('<% if @station_name %><%= @station_name %><% else %> <% end %>');
		$('.page_num form button').each(function(i){
			$(this).click(function(){
				$('.page_num form button').removeClass('selected-num');
				$(this).addClass('selected-num');
			})
		})
		$('.sub-prev').click(function(e){
			if($('.prev').val() > 1){
				var pageNum = Number($('.prev').val()) - 1;
				$('.prev').val(pageNum);
				index -= 1
			}
		})
		$('.sub-next').click(function(){
			if($('.next').val()<total){
				var pageNum = Number($('.next').val()) + 1;
				$('.next').val(pageNum);
				index += 1
			}
		})
		<% if @size_pre_page %>
			$('.size_pre_page').val('<%= @size_pre_page %>')
		<% else %>
			$('.size_pre_page').val(size_pre_page)
		<% end %>
		if(curr_page <= 1 ){
			$('.sub-prev').attr('disabled','disabled')
		}else{
			$('.sub-prev').removeAttr('disabled')
		}
		var pageArray = pagenation(total_page,curr_page);
		if(index >= pageArray.length - 1 ){
			$('.sub-next').attr('disabled','disabled')
		}else{
			$('.sub-next').removeAttr('disabled')
		}
		//在页面刷新的时候添加样式
		$('.page_num form button').removeClass('selected-num');
		$('.page_num form button').eq(index).addClass('selected-num');
	
	
});
</script>
