<script type="text/html" id="dataAbnormalAudit">
	<div class="edit_jobs">
		<div class="navTop">
			<span class="lines"></span>
			<span class="tableName">任务审核</span>
			<button class="saveback btn-default btn">返回</button>
			<button class="save btn">保存</button>
		</div>
		
		<div class="dTaskTop panel">
     		<ul>
     			
     		</ul>
    	</div>
		<!--<h1 class="check-list-title">设备故障单</h1>-->
	    	<div class="dTaskMainNews panel">
	    		<div class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>工单信息</span>
	    		</div>
	    		<div class="workList">
	    			<div class="listNews">
	    				<span>
	    					<span>工单号：{{editData.task_from.job_no}}</span>
	    					<span>来源：{{editData.task_from.station_name}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>生成时间：{{editData.task_from.created_at}}</span>
	    					<span>紧急程度：{{editData.task_from.urgent_level}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>工单状态：{{editData.task_from.job_status}}</span>
	    					<span>工单类型：{{editData.task_from.fault_type}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>工单标题：{{editData.task_from.title}}</span>
	    					<span>是否补录：{{editData.task_from.clraring_if}}</span>
	    				</span>
	    			</div>
	    		</div>
	    	</div>
	    <div id="lookXun" class="panel">
	    	<div class="checkNews">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>数据异常处理列表：</span>
	    		</div>
	    		<div class="list">
					<div class="seeTypes" style="margin-left: 25px">
				
						<div class="look_insp">

							<div><img src="{{editData.task_from.img_one}}"></div>
						</div>

				    </div>
	    		</div>
	    	</div>

	    </div>

	    <div class="panel partial" data-taskid="" data-active="">
    		<h3 class="check-second-title">审核</h3>
    		<div class="check-list-content">
	        <table class="table check-list-table">
	            <tbody>
	            	<tr>
	                    <td align="right" style="width:150px;">审核内容：</td>
	                    <td colspan="1" id="audit_adopt">
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve"  checked="'true'" value="Y" id="ApproveY">通过
                            </label>
                            <label class="checkbox-radio">
                                <input type="radio" name="Approve" value="N" id="ApproveN">不通过
                            </label>
	                    </td>
                        <td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	                <tr class="audit_des" style="display: none;">
	                	<td>审核不通过原因：</td>
	                	<td>
	                		<input type="text" id="audit_not" class="form-control"/>
	                	</td>
	                	<td colspan="2">
                            &nbsp;
                        </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
	
</div>
</script>
