<script type="text/html" id="data_abnormalLook">
	<div id="dTask">
	    <div  class="dTaskMain">
	    	<div class="navTop">
				<span class="lines"></span>
				<span class="tableName">工单详情</span>
				<button class="btn new_add_btn"  id="lookBack">返回</button>
			</div>
			<div class="dTaskTop panel">
	     		<ul>
	     			
	     		</ul>
	    	</div>
	    	<div class="dTaskMainNews panel">
	    		<div class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>工单信息</span>
	    		</div>
	    		<div class="workList">
	    			<div class="listNews">
	    				<span>
	    					<span>工单号：{{editData.task_from.job_no}}</span>
	    					<span>来源：{{editData.task_from.station_name}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>生成时间：{{editData.task_from.created_at}}</span>
	    					<span>紧急程度：{{editData.task_from.urgent_level}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>工单状态：{{editData.task_from.job_status}}</span>
	    					<span>工单类型：{{editData.task_from.fault_type}}</span>
	    				</span>
	    			</div>
	    			<div class="listNews">
	    				<span>
	    					<span>工单标题：{{editData.task_from.title}}</span>
	    					<span>是否补录：{{editData.task_from.clraring_if}}</span>
	    				</span>
	    			</div>
	    		</div>
	    	</div>
	    <div id="lookXun" class="panel">
	    	<div class="checkNews">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>数据异常处理列表：</span>
	    		</div>
	    		<div class="list">
					<div class="seeTypes" style="margin-left: 25px">
				
						<div class="look_insp">

							<div><img src="{{editData.task_from.img_one}}"></div>
						</div>

				    </div>
	    		</div>
	    	</div>

	    </div>
	    	<div class="journal panel">
	    		<div  class="workNews">
	    			<!--<strong class="line_other"></strong>-->
	    			<span>日志表：</span>
	    		</div>
	    		<div class="journalList">
	    			<div id="public_table">
				    	<div class="public_table">
					    	<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<td>序号</td>
										<td>步骤</td>
										<td>处理人</td>
										<td>开始时间</td>
										<td>完成时间</td>
										<td>说明</td>
										<td>处理状态</td>
										<td>超时状态</td>
									</tr>
							    </thead>
									<tbody class="exception">
									{{each editData.task_from.details as list index}}
									<tr>
										<td>{{index+1}}</td>
										<td>{{list.job_status}}</td>
										<td>{{list.handle_man}}</td>
										<td>{{list.begin_time}}</td>
										<td>{{list.end_time}}</td>
										<td>{{list.note}}</td>
										<td>{{list.handle_status}}</td>
										<td>{{list.without_time_flag}}</td>
									</tr>
									{{/each}}
									</tbody>
						    </table>
				        </div>
				    </div>
	    		</div>
	    	</div>
	    	
	    </div>
	</div>
	
</script>