<script id="Tables" type="text/html">
	{{if task_forms.length != 0}}
		{{each task_forms as list index}}
		<tr class="list-parent">
			<td class="id hide">{{list.id}}</td>
			<td>{{list.unit_name}}</td>
			<td>{{list.station_name}}</td>
		
			<td>{{list.job_no}}</td>
			<td>{{list.created_at}}</td>
			<td>{{list.author}}</td>
			<td>{{list.create_type}}</td>
			<td>{{list.fault_type}}</td>
			<td>{{list.urgent_level}}</td>
			<td>{{list.title}}</td>
			<td class="job_status">{{list.job_status}}</td>
			
			<td>{{list.handle_man}}</td>

			<td>
				<a class="fault_look" >详细</a>
				<a class="fault_writing" >编辑</a>
				<a class="fault_audit" >审核</a>
			</td>				
		</tr>	
        {{/each}}
    {{else}}
    <tr>
		<td colspan="19">暂无数据</td>
	</tr>
	{{/if}}
</script>
