<script id="addSlas" type="text/html">

	<div id="slas_add">
		<div class="slas_area slas_area1">
			<div class="slas_content">
				<h4>添加
					<div class="right close">X</div>
				</h4>
				<form class="new_slas">
					<div class="slas-form">
						<label class="col-xs-3 ">报警级别：</label>
						<div class="col-xs-5">
							<select  name="leval" class="slas_leval">
							
						    </select>
						</div>
					</div>
					<div class="slas-form receive_minutes">
						<label class="col-xs-3 ">响应时间：</label>
						<div class="col-xs-5">
							<input type="text" id="receive" placeholder="只能为数字" required="required" pattern="^[0-9]{0,3}$" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
							<label for="receive" id="receive_Tip">请输入数字</label>
						</div>
					</div>
					<div class="slas-form arrive_minutes">
						<label class="col-xs-3 control-label">到达现场时间：</label>
						<div class="col-xs-5">
							<input type="text" id="arrive" placeholder="只能为数字" required="required" pattern="^[0-9]{0,3}$" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
							<label for="arrive" id="arrive_Tip">请输入数字</label>
						</div>
					</div>
					<div class="slas-form recovery_minutes">
						<label class="col-xs-3 control-label">故障恢复时间：</label>
						<div class="col-xs-5">
							<input type="text" id="recovery" placeholder="只能为数字" required="required" pattern="^[0-9]{0,3}$" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
							<label for="recovery" id="recovery_Tip">请输入数字</label>
						</div>
					</div>
					<div class="slas-form deal_minutes">
						<label class="col-xs-3 control-label">解决时间：</label>
						<div class="col-xs-5">
							<input type="text" id="deal" placeholder="只能为数字" required="required" pattern="^[0-9]{0,3}$" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
							<label for="deal" id="deal_Tip">请输入数字</label>
						</div>
					</div>
					<div class="clear"></div>
					<div class="area_btn">
						<button type="button" class="btn btn-sure">确定</button>
						<button type="button" class="btn btn-cancel">取消</button>
					</div>
				</form>
				
			</div>
		</div>
		
	</div>
</script>

