<script id="editSlas" type="text/html">

	<div id="slas_edit">
		<div class="slas_area slas_area2">
			<div class="slas_content">
				<h4>修改
					<div class="right close">X</div>
				</h4>
				<form class="new_slas">
					<div class="slas-form ">
						<label class="col-xs-3 ">报警级别：</label>
						<div class="col-xs-5">
							<select  name="leval" class="slas_leval">
							
						    </select>
						</div>
					</div>
					<div class="slas-form receive_minutes">
						<label class="col-xs-3 ">响应时间：</label>
						<div class="col-xs-5">
							<input type="text" id="receive1" value="{{editData.sla.receive_minutes}}" placeholder="只能为数字" required="required" pattern="^[0-9]{0,3}$" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
							<label for="receive1" id="receive_Tip1">请输入数字</label>
						</div>
					</div>
					<div class="slas-form arrive_minutes">
						<label class="col-xs-3 control-label">到达现场时间：</label>
						<div class="col-xs-5">
							<input type="text" id="arrive1" value="{{editData.sla.arrive_minutes}}" placeholder="只能为数字" required="required" pattern="^[0-9]{0,3}$" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
							<label for="arrive1" id="arrive_Tip1">请输入数字</label>
						</div>
					</div>
					<div class="slas-form recovery_minutes">
						<label class="col-xs-3 control-label">故障恢复时间：</label>
						<div class="col-xs-5">
							<input type="text" id="recovery1" value="{{editData.sla.recovery_minutes}}" placeholder="只能为数字" required="required" pattern="^[0-9]{0,3}$" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
							<label for="recovery1" id="recovery_Tip1">请输入数字</label>
						</div>
					</div>
					<div class="slas-form deal_minutes">
						<label class="col-xs-3 control-label">解决时间：</label>
						<div class="col-xs-5">
							<input type="text" id="deal1" value="{{editData.sla.deal_minutes}}" placeholder="只能为数字" required="required" pattern="^[0-9]{0,3}$" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
							<label for="deal1" id="deal_Tip1">请输入数字</label>
						</div>
					</div>
					<div class="clear"></div>
					<div class="area_btn">
						<button type="button" class="btn btn-sure">确定</button>
						<button type="button" class="btn btn-cancel">取消</button>
					</div>
				</form>
				
			</div>
		</div>
		
	</div>
</script>

