<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="s_slas">
	<div class="public_title">
		<img src=""/>
		<span>您的当前位置:SLA任务配置</span>
	</div>
	
	<div class="public_search">
			<button class="btn btn-success btn_unusual new_add_btn">
				<span class="glyphicon glyphicon-plus"></span>
				创建
			</button>
	</div>
	<div class="public_table">
		<table class="table table-bordered table-hover">
			<thead>
	       	<tr>
	       		<th>报警级别</th>
	       		<th>响应时间</th>
	       		<th>到达现场时间</th>
	       		<th>故障恢复时间</th>
	       		<th>解决时间</th>
	       		<th>操作</th>
	       	</tr>
	       </thead>
	       <tbody class="slas_msg">
	       	
	       </tbody>
		</table>
	</div>
	
	<div class="a_slas_add">
		<%= render 'add' %>
	</div>
	<div class="a_slas_edit">
	<%= render 'edit' %>
	</div>
	<!--分页-->
	<div>
		<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
		<select id="pagesize" class="right">  
		    <option value="10" selected="selected">每页10条</option>  
		    <option value="20">每页20条</option>
			<option value="30">每页30条</option>  
		    <option value="40">每页40条</option>
		    <option value="50">每页50条</option> 
		</select>  
	</div>
	<div class="page_total left">
		<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
	</div>
	<div class="clear"></div>
</div>


<script id="slas" type="text/html">
	{{each slas as data index}}
	<tr>
		<td class="levals">{{if data.alarm_level == '1'}}一般{{/if}}{{if data.alarm_level == '2'}}较重{{/if}}{{if data.alarm_level == '3'}}严重{{/if}}</td>
		<td>{{data.receive_minutes}}</td>
		<td>{{data.arrive_minutes}}</td>
		<td>{{data.recovery_minutes}}</td>
		<td>{{data.deal_minutes}}</td>
		<td>
			<a class="slas_edit">编辑
			<span class="hides">{{data.id}}</span>
			</a>
		</td>
	</tr>
	{{/each}}
</script>

<!--报警级别-->
<script id="slas_leval" type="text/html">
		{{each alarm_levels as Data index}}
		    <option value="{{Data.alarm_level}}">{{Data.level_name}}</option>
		{{/each}}
</script>