<script id="notice_rules" type="text/html">
	<div class="notice_rules notice_rules1">
		<h4>报警通知规则
		   <div class="right close">X</div>
		</h4>
		<div class="alarm_level">
			<span>报警级别：</span>
			<select name="leval" class="notice_leval">
				
			</select>
		</div>
		<div class="alarm_inform">
			<span>通知方式：</span>
			<input type="text" name="" id="" value=""/>
			<label for=""></label>
		</div>
		<div class="alarm_config">
			<span>角色配置：</span>
			<select name="role" class="notice_role">
				
			</select>
		</div>
		<div class="alarm_belong">
			<span>归属层级：</span>
			<select name="attach" class="notice_attach">

			</select>
		</div>
		<div class="notice_btn">
			<button type="button" class="btn-sure">提交</button>
			<button type="button" class="btn-cancel">取消</button>
		</div>
	</div>
				
				
	<!--<div class="add_factor">
		<h4>
			报警明细
			<div class="right">X</div>
		</h4>
	
		<div class="factor_content">
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;报警规则:</label>
				<input type="text" required/>
			</div>
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;最新采样时间:</label>
				<input type="text" />
			</div>
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;异常次数:</label>
				<select>
					<option value="">异常次数</option>
				</select>
			</div>
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;报警等级:</label>
				<input type="text" />
			</div>
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;生成时间:</label>
	
				<input type="text" />
			</div>
			
			
		</div>
		
		<div class="area_btn">
			<button class="btn btn-sure">保存</button>
			<button class="btn btn-cancel">取消</button>
		</div>
	</div>-->
			
	
	
</script>
