<div class="public_table">
	<table class="table table-bordered table-hover">
       <thead>
       	<tr>
       		<th>通知流水</th>
       		<th>通知内容</th>
       		<th>报警名称</th>
       		<th>报警等级</th>
       		<th>通知人</th>
       		<!--<th>状态</th>-->
       		
       	</tr>
       </thead>
       <tbody>
			<script id="originData" type="text/html">
				{{if alarm_notices.length > 0}}
					{{each alarm_notices as alarmNotice index}}
						<tr>
							<td>{{alarmNotice.notice_accept}}</td>
							<td>{{alarmNotice.notice_content}}</td>
							<td>{{alarmNotice.alarm}}</td>
							<td>{{if alarmNotice.alarm_level == '1'}}一般{{/if}}{{if alarmNotice.alarm_level == '2'}}较重{{/if}}{{if alarmNotice.alarm_level == '3'}}严重{{/if}}</td>
							<td>{{alarmNotice.notice_login}}</td>

						</tr>
					{{/each}}
				{{else}}
				<tr>
					<td colspan="7">暂无数据</td>
				</tr>
				{{/if}}
			</script>
		</tbody>
	</table>
	
</div>