<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="alarm_notices" >
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：报警通知</span>
	</div>
	<div class="public_search add_rules">
		<label for="">通知人:</label>
		<input type="text" />
		<label for="">报警级别:</label>
		<select class="notice_leval">
			<script id="notice_leval" type="text/html">
				<option value="">请选择报警级别</option>
				{{each alarm_levels as alarmLevel index}}
					<option value="{{alarmLevel.alarm_level}}">{{alarmLevel.level_name}}</option>
				{{/each}}
			</script>
		</select>
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker"/>
		<!--状态-->
		<!--<label for="">状态</label>
		<select class="status">
			<script id="alarmStatus" type="text/html">
				<option value="">请选择状态</option>
				{{each alarm_status as alarmStatus index}}
					<option value="{{alarmStatus.status}}">{{alarmStatus.status_name}}</option>
				{{/each}}
			</script>
		</select>-->
		<button class="btn search">查询</button>
	</div>
	<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
	<!--报警通知表格-->
	<%= render 'table' %>
	<!--模态框-->
	<div id="public_box"></div>
	<div class="editRules">
		<%= render 'edit'%>
	</div>

</div>
<!--分页-->
<div>
<ul class="page right" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
<select id="pagesize" class="right">  
    <option value="10" selected="selected">每页10条</option>  
    <option value="20">每页20条</option>
	<option value="30">每页30条</option>  
    <option value="40">每页40条</option>
    <option value="50">每页50条</option> 
</select>  
</div>
<div class="page_total left">
	<span>共<small></small>条数据,当前显示第<a>1</a>页</span>
</div>
<div class="clear"></div>
<script id="notice_leval" type="text/html">
		{{each alarm_levels as data index}}
		   <option value="{{data.id}}">{{data.level_name}}</option>
		{{/each}}
</script>
<script id="notice_role" type="text/html">
		{{each s_role_msgs as data index}}
		   <option value="{{data.id}}">{{data.role_name}}</option>
		{{/each}}
</script>
<script id="notice_attach" type="text/html">
		{{each region_levels as data index}}
		   <option value="{{data.id}}">{{data.level_name}}</option>
		{{/each}}
</script>
