<div class="polling_week_reports reports">
	<div class="public_title">
		<img src=""/>
		<span>您的当前位置:巡检运维周表</span>
	</div>
	<div class="public_search">
		<label>选择省份:</label>
		<input type="text"  />
		<label for="">选择时间:</label>
		<input name="start_date" type="text" class="dateTimepicker start_time" />
		<button class="btn search">查询</button>
		<a type="button" class="putTable" href='javascript:void(0)' >导出表格</a>
	</div>
	<div class="public_table">
		<table class="table table-bordered table-hover">
			<thead>
	       	<tr>
	       		<th rowspan="2">序号</th>
	       		<th rowspan="2">时间</th>
	       		<th rowspan="2">省份</th>
	       		<th rowspan="2">城市</th>
	       		<th rowspan="2">点位名称</th>
	       		<th colspan="3">PM10</th>
	       		<th colspan="3">pm25</th>
	       		<th colspan="3">SO2</th>
	       		<th colspan="3">NO2</th>
	       		<th colspan="3">CO</th>
	       		<th colspan="3">O3</th>
	       	</tr>
	       	<tr>
				<th>流量</th>
				<th>加热温度</th>
				<th></th>
				<th>流量</th>
				<th>加热温度</th>
				<th></th>
				<th>零点最大值</th>
				<th>标点最大值</th>
				<th>修正值</th>
				<th>零点最大值</th>
				<th>标点最大值</th>
				<th>修正值</th>
				<th>零点最大值</th>
				<th>标点最大值</th>
				<th>修正值</th>
				<th>零点最大值</th>
				<th>标点最大值</th>
				<th>修正值</th>
	       	</tr>
	       </thead>
		</table>
	</div>
</div>