<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  
  
  <!--加载动画-->
<div id="loading">
	<div id="center">
	  <div class="sk-fading-circle">
	    <div class="sk-circle sk-circle-1"></div>
	    <div class="sk-circle sk-circle-2"></div>
	    <div class="sk-circle sk-circle-3"></div>
	    <div class="sk-circle sk-circle-4"></div>
	    <div class="sk-circle sk-circle-5"></div>
	    <div class="sk-circle sk-circle-6"></div>
	    <div class="sk-circle sk-circle-7"></div>
	    <div class="sk-circle sk-circle-8"></div>
	    <div class="sk-circle sk-circle-9"></div>
	    <div class="sk-circle sk-circle-10"></div>
	    <div class="sk-circle sk-circle-11"></div>
	    <div class="sk-circle sk-circle-12"></div>
	  </div>
	  加载中...
	</div>
</div>
  <!--成功提示框-->
<div id="success">
	<div class="success-box">
		<div class="success-main">
			<!--<div class="success-header"><span class="success-hide cursor">X</span></div>-->
			<div class="success-body"><img src="<%= image_path('success.png') %>"/></div>
			<div class="success-footer" ></div>
		</div>
		<div class="success-cannel" onclick="public_cannel()">
			<img src="<%= image_path('uploadDel.png') %>"/>
		</div>
	</div>
</div>

<!--操作确认框-->
<div id="sureCannel" >
	<div class="sureCannel-box">
		<div class="sureCannel-main">
			<div class="sureCannel-body">
				
			</div>
			<div class="box-footer">
				<button class="btn-sure">确认</button>
				<button class="btn-cannel">取消</button>
			</div>
			
		</div>
		<div class="sureCannel-cannel" onclick="public_cannel()">
 			<img src="<%= image_path('uploadDel.png') %>"/>
 		</div>
	</div>
	
</div>
</body>
</html>

