<!DOCTYPE html>
<html>
<head>
  <title>智慧生产平台</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<header>
			<div class="left">
				<a class="logo">
					<img src="" alt="logo" />
				</a>
				<span class="line"></span>
				<span style="font: 微软雅黑; font-size: medium" >智慧生产平台</span>
			</div>
			<div class="right">
				<a>
					<img src="" alt="用户名" />
					<span class="username"><%= @current_user.login_name %></span>
				</a>
				<div class="line"></div>
				<span class="reset">修改密码<span class="hide"><%= @current_user.id %></span></span>
				<!--<div class="line"></div>-->
				<a rel="nofollow" data-method="delete" href="/sessions/1">
					<img src="" alt="用户名" />
					<span>退出</span>
				</a>
			</div>
			<div class="clear"></div>
		</header>
		<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="line_top"></div>
			<div class="left col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<ul>
					
				</ul>
			</div>
			<div class="right col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<div class="line_back left"></div>
				<div id="content_middle">
          <iframe src="/d_task_forms" frameborder="0" scrolling="no"  name="heatSourceContent"></iframe>
				</div>
			</div>
			<div class="clear"></div>
		</div>
    <!-- 模态框（Modal） -->
	<div id="public_box">
		<div class="public_area">
			
			<div class="area_content">
	
			</div>
			
		</div>
	</div>
	<%= render :partial =>'test_iframes/password' %>
</div>
</body>
</html>
