<!DOCTYPE html>
<html style="overflow-y: hidden;">
<head>
  <meta charset="UTF-8">
  <title>智慧生产平台</title>
  <%= stylesheet_link_tag 'root_application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'root_application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  	.left_top .aside_user {
		    width: 100%;
		    position: absolute;
		    padding: 10px 15px;
		}
		.left_top .aside_user div {
    height: 100%;
    float: left;
}
		.left_top .aside_user div:nth-of-type(1) {
    width: 60px;
    /*margin-left: 14px;*/
}
.left_top .aside_user div:nth-of-type(2) {
    /* width: 100px; */
    margin-left: 10px;
    margin-top: 25px;
}
.left_top .aside_user .userimg img {
    width: 60px;
    height: auto;
}
.left_top .aside_user .username h3 {
    display: inline-block;
    margin-top: 6px;
    font-size: 16px;
    /* margin-top: 38px; */
    font-weight: 600;
    margin-bottom: 8px;
    color: #F1F1F1;
}

.cursor {
    cursor: pointer;
}
.left_top .aside_user .username p {
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 2px;
    background: #ffdf01;
    text-align: center;
}
.aside-footer a{
	display: block;
	width:220px;
	color: #00923f;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.aside-footer a:hover{
	color: #FF0000;
}
.aside-footer a:hover span{
	color: red;
}
  </style>
</head>
<body>
<div class="container">
  <div class="left col-sm-1 col-md-2" style="width: 220px;">
  	<div class="left_top">
  			<div class="place_name">
          	智慧生产平台
        </div>
        <div class="aside_user">
					<div class="userimg"><%= image_tag('/images/head.png', class: 'img-circle pic_name', size: '60x60') %></div>
					<div class="username">
					  	
						<h3><%= @current_user.login_name %></h3>
						<p><%= @current_user.s_role_msg.present? ? @current_user.s_role_msg.role_name : '' %></p>
					</div>
				</div>
	    <!--<div class="row">
	    
         <div class="col-md-4">
           <%= image_tag('/images/head.png', class: 'img-circle pic_name', size: '60x60') %>
         </div>
         <div class="col-md-8">
          <h4 class="user_name" style="color: white; margin-top: 30px; padding: 0px"><%= @current_user.login_name %></h4>
          <div style="padding: 2px;border-radius: 3px;background: #ffdf01;text-align: center;width: 70px;font-size: 12px;"><%= @current_user.s_role_msg.present? ? @current_user.s_role_msg.role_name : '' %></div>
        </div>
        <!--<div class="col-md-2">
        	<a href="javascript:void(0);">
            <span class="reset">
      
            <span class="hide"><%= @current_user.id %></span>
          </span>
          </a>
        </div>
      </div>-->
      
	  </div>
		<div class="left_main">
			<ul>

		  </ul>
		</div>
		<div class="aside-footer">
			<div style="position:fixed; bottom:0;background: #fff;">
         <a rel="nofollow" data-method="delete" href="/sessions/1" class="btn_back" style=""> 
            <span class="glyphicon glyphicon-off"></span>退出
          </a>
        </div>
		</div>
    <!--<div class="row">
    	<a rel="nofollow" data-method="delete" href="/sessions/1" class="btn_back">
        <button type="button" class="btn btn-default" style="position:fixed; bottom:0;width: 17.2%; min-width: 200px;color: #00923f;">
          
            <span class="glyphicon glyphicon-off"></span>退出
         
        </button> </a>
    </div>-->
  </div>
  <div class="right col-sm-11 col-md-10" style="width: calc(100% - 220px);">
    <!--<div class="line_back left"></div>-->
    <div id="content_middle">
      <iframe src="/developing" frameborder="0" scrolling="yes"  name="heatSourceContent"></iframe>
      
  </div>
  <div class="clear"></div>
  
</div>
</div>
<!-- 模态框（Modal） -->
<div id="public_box" style="height: 100%;background: rgba(0,0,0,0.2);width: 100%;position: absolute;display: none;">
		  <div class="public_area">
		
		    <div class="area_content" style=" width: 40%;background: #fff;padding: 20px;position: absolute;top: 40px;left: 30%;">
		
		    </div>
		
		  </div>
    </div>
<%= render :partial =>'test_iframes/password' %>
</div>
<div id="modal_alert"></div>
</body>
</html>
