<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'wx_application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'wx_application', 'data-turbolinks-track' => true %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div class="wx_footer">
		<ul>
			<li><a href="http://172.168.10.7:3030/wx_html/place_infos" class="bg1"><span>到位统计</span></a></li>
			<li><a href="http://172.168.10.7:3030/wx_html/task_done_infos" class="bg2"><span>工单完成率</span></a></li>
			<li><a href="http://172.168.10.7:3030/wx_html/task_forms" class="bg3"><span>工单信息管理</span></a></li>
			<li><a href="http://172.168.10.7:3030/wx_html/ops_plan_audits" class="bg4"><span>运维计划审核</span></a></li>
			<li><a href="http://172.168.10.7:3030/wx_html/plan_done_infos" class="bg5"><span>计划执行分析</span></a></li>
			<li class="lastone"><a href="http://172.168.10.7:3030/wx_html/task_form_audits" class="bg6"><span>工单任务审核</span></a></li>
		</ul>
</div>


</body>
</html>