<script id="notice_rules" type="text/html">		
	<div class="add_factors">
		<div class="add_factor">
		<h4>
			报警明细
			<div class="right close">X</div>
		</h4>
		<div class="ajustTable">
			<div class="tableScoll tableScolls">
				<table class="table table-bordered table-hover tables tableW">
					<thead style="background: #f0f0f0;">
						<tr>
							<th>站点名称</th>
							<th>报警规则</th>
							<th>首次报警时间</th>
							<th>最新报警时间</th>
							<th>连续报警次数</th>
							<th>状态</th>
						</tr>
					</thead>
					
				</table>
			</div>
			<div class="abnormal_tables">
				<table class="table table-bordered table-hover">
					<tbody>
					{{each alarms as alarm_info index}}
					<tr>
						<td>{{alarm_info.station_name}}</td>
						<td>{{alarm_info.alarm_rule}}</td>
						<td>{{alarm_info.first_alarm_time}}</td>
						<td>{{alarm_info.last_alarm_time}}</td>
						<td>{{alarm_info.continuous_alarm_times}}</td>
						<td>{{alarm_info.status}}</td>
					</tr>
					{{/each}}
				</tbody>
				</table>
			</div>
		</div>
		
		
	
		<div class="area_btn">
			<button class="btn btn-cancel">关闭</button>
		</div>
	</div>
	</div>
			
	
	
</script>
