<script id="originDatas" type="text/html">
	{{if alarms.length != 0}}
		{{each alarms as alarmNotice index}}
			<tr>
				<td class="times">{{alarmNotice.data_time}}</td>
				<td>{{alarmNotice.region_zone}}</td>
				<td>{{alarmNotice.station_name}}
				    <span class="hide stationID">{{alarmNotice.station_id}}</span>
				</td>
				<td class="level">{{alarmNotice.alarm_level== 3 ? '严重' : alarmNotice.alarm_level== 2 ? ' 较重' : alarmNotice.alarm_level== 1 ?'一般': ''}}
				<span class="hide levelId">{{alarmNotice.alarm_level}}</span></td>
				<td>{{alarmNotice.alarm_num}}</td>
				<td>
					<a class="lookfor">查看</a>
				</td>
				
			</tr>
		{{/each}}
	{{else}}
		<tr>
			<td colspan="6">暂无数据</td>
		</tr>
	{{/if}}
</script>