<script id="offTab" type="text/html">
	{{each data_arr as dNotice index}}
		<tr>
			<td>{{dNotice.data}}</td>
			<td>{{dNotice.region_name}}</td>
			<td>{{dNotice.station_name}}</td>
			<td>{{dNotice.off_time}}</td>
			<td>{{dNotice.off_num}}</td>
		</tr>
	{{/each}}
</script>