<%  content_for :javascript do
javascript_include_tag "#{controller_name}"
end
%>
<div id="single_station_pollutants_analysis" >
	<div class="public_title">
		<img src="" />
		<span>您的当前位置：站点离线时长统计</span>
	</div>
	<div class="public_search d_alarms">
		<label for="">区域级别:</label>
		<select class="place_leval">
			<script id="place_leval" type="text/html">
				<option value="">请选择区域级别</option>
				{{each region_leves as regionLevel index}}
					<option value="{{regionLevel.id}}">{{regionLevel.level_name}}</option>
				{{/each}}
			</script>
		</select>
		<label for="">站点:</label>
		<input type="text" class="control_station"/>
		<input type="text"  class="control_stationID" />
		<label for="">时间:</label>
		<input type="text" class="dateTimepicker start_datetime"/>
		<b>-</b>
		<input type="text" class="dateTimepicker end_datetime"/>
	
		<div id="loading" class="loading">数据正在努力匹配加载中，请稍后...</div>
		<button class="btn search">查询</button>
		<a type="button" class="putTable" href='javascript:void(0)' >
                导出表格
        </a>
	</div>
	<div class="ajustTable public_table">
		<div class="tableScoll">
			<table class="table table-bordered table-hover tables">
				<thead>
					<tr>
						<th>日期</th>
						<th>区域名称</th>
						<th>站点名称</th>
						<th>离线时长</th>
						<th>离线次数</th>
						
					</tr>
				</thead>
				
			</table>
		</div>
		<div class="abnormal_table">
			<table class=" table table-bordered table-hover">
				<tbody class="exception-list">
				</tbody>
		    </table>
		</div>
   </div>
	
</div>
<!--站点-->
<%= render 'station' %>
<%= render 'offTable' %>


