<script type="text/html" id="alarm_new_list">
	{{if info_arr.length > 0 }}
	{{each info_arr as li i}}
		<tr class="list-parent" >
			<td class="station-list">{{li.item_code}}</td>
		    <td class="station-list">{{li.item_val}}</td>
		    <td class="station-list">{{li.item_lable}}</td>
		    <td class="station-list">{{li.item_create_time}}</td>
		    <td class="station-list">{{li.abnormal_rule_instance}}</td>
		    <td class="station-list">{{li.alarm_level}}</td>
		    <td class="station-list">{{li.ab_num}}</td>
	    </tr>
    {{/each}}
    {{else}}
      <tr>
      	    <td colspan="7">暂无数据</td>
      </tr>
    {{/if}}
</script>