<script id="alarm_rules" type="text/html">		
	<div class="add_factor">
		<h4>
			报警明细
			<div class="right">X</div>
		</h4>
	
		<div class="factor_content">
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;站点名称:</label>
				<input type="text" value="{{alarm_info.station_name}}" readonly="true"/>
			</div>
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;报警规则:</label>
				<input type="text" value="{{alarm_info.alarm_rule}}" readonly="true"/>
			</div>
			<div>
				<label for="">&#X3000;首次报警时间:</label>
				<input type="text" value="{{alarm_info.first_create_time}}" readonly="true"/>
			</div>
			<div>
				<label for="">&#X3000;最新报警时间:</label>
				<input type="text" value="{{alarm_info.last_create_time}}" readonly="true"/>
			</div>
			<div>
				<label for="">&#X3000;连续报警次数:</label>
				<input type="text" value="{{alarm_info.last_create_time}}" readonly="true"/>
			</div>
			<div>
				<label for="">&#X3000;&#X3000;&#X3000;&#X3000;&#X3000;状态:</label>
				<input type="text" value="{{alarm_info.status}}" readonly="true"/>
			</div>
			
			    
			
			
		</div>
		
		<h5 class="h5FontSize">
			                报警明细列表
				</h5>
			
				<div class="d_alarms_otherTable">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>监控因子</th>
								<th>因子值</th>
								<th>质控标识</th>
								<th>采集时间</th>
								<th>报警规则</th>
								<th>报警级别</th>
								<th>异常次数</th>
							</tr>
						</thead>
						<tbody class="exception-lists">
						</tbody>
					</table>
				</div>

		
		
		<div class="area_btn">
			<button class="btn btn-cancel">关闭</button>
		</div>
	</div>
</script>
