<div class="public_config">
			<p class="right close">X</p>
			<div class="clear"></div>
			<div class="config_content">
				<p>请先勾选</p>
			</div>
			<div class="config_btn">
				<button class="btn btn-sure">确定</button>
				<button class="btn btn-cancel">取消</button>
			</div>
</div>
<script id="taskNews" type="text/html">		
	<div class="config_list">
			<div class="left">
				{{each all_infos as info i}}
					<button>{{info.region_name}}</button>				
					<div class="renyuan">
						{{each info.login_arr as login_arr index}}
						<span class="renyuan_span">
							<input class="check" type="radio" name="person"/>
							<small class="renid hide">{{login_arr.id}}</small>
							<span>{{login_arr.login_name}}</span>
						</span>							
						{{/each}}
					</div>
				{{/each}} 					
			</div>
		</div>
</script>

